[2022-09-27 15:25] clara-zi commented on #695
@SnakeGH @rainerhoell are these accounts and progress in HubSpot?

[2022-09-27 15:30] c0ric0ri commented on #695
@clara-zi no they are not, as per Jake's comment above the only project seen in Hubspot is "Giving What We Can".

Are you willing to take over transfer of these lists into accounts in Hubspot?

I'm planing to close this issue this week either way.

[2022-09-27 15:52] laurenluz commented on #881
The purpose is to provide a list of resrouces that we can easily get links within to share w/ our community.

Starting this here: https://docs.google.com/spreadsheets/d/1tEqfmcCL-RhHjsRbXWuuQ696RTzN4eBxc1zkGdU-iao/edit#gid=0

[2022-09-27 16:10] laurenluz commented on #842
https://twitter.com/Givethio/status/1574791511170064386

[2022-09-27 16:10] #842 closed

[2022-09-27 16:10] #749 closed

[2022-09-27 16:10] #810 closed

[2022-09-27 16:11] #767 closed

[2022-09-27 16:12] laurenluz commented on #849
https://twitter.com/Givethio/status/1574428214755311616

[2022-09-27 16:12] #849 closed

[2022-09-27 16:12] #716 closed

[2022-09-27 16:12] #802 closed

[2022-09-27 16:16] laurenluz commented on #719
Nonticing this JUST got posted! https://www.youtube.com/watch?v=NEjAFI7CZTU

Would be great to tweet about

[2022-09-27 16:16] clara-zi commented on #695
@c0ric0ri handing over to @rainerhoell who had connection with these projects previously and reached out to them on behalf of Giveth. I can complete HubSpot (or @SnakeGH can), if @rainerhoell you can send us the info. Thanks

[2022-09-27 16:17] laurenluz opened #883 "Tweet or Thread about MetaFest GIveth Talk w/ lauren"
Video just got posted: https://www.youtube.com/watch?v=NEjAFI7CZTU

Slides are in #719

@c0ric0ri can you put this somewhere in tweet batch planning? I'm happy to write a tweet, or happy to delegate the writing.

[2022-09-27 16:18] #719 closed

[2022-09-27 16:18] laurenluz commented on #883
https://docs.google.com/presentation/d/1qR3YDPPduVaIk4KayTzmgQXFjk4lLzwzZfIGKlEjg_0/edit#slide=id.g1342d5de726_0_506

[2022-09-27 16:19] SnakeGH commented on #695
@clara-zi i have no problem adding it to hubspot for sure, but like you said, I'll need all the information and past communications and then I'll simply ask whoever is running with the orgs / contacts to post the updated (future) comms into hubspot. :)

[2022-09-27 16:19] ahmadabugosh commented on #869
Also mention POWdump

[2022-09-27 16:24] laurenluz commented on #750
Shorter blog post to launch w/ staking & locking October 4

[2022-09-27 16:25] laurenluz commented on #778
Short video walk through of how it works to launch October 4

[2022-09-27 16:26] oyealmond commented on #842
@laurenluz , We also have ready a video tutorial that could be added to the thread explaining the new process:
https://www.youtube.com/watch?v=8myBgJCKXiU&t=18s

[2022-09-27 16:27] laurenluz opened #884 "Twitter Space AMA about GIVpower after Oct 4 launch"

[2022-09-27 16:27] c0ric0ri opened #885 "Email to Donors & Projects Announcing GIVpower Launch"
Please draft an email announcement

Plan to send it out October 4th to announce GIVpower launch

[2022-09-27 16:31] laurenluz opened #886 "GIVpower infographics"
Looking for a Graphic explainer that shows the process flow from donating to GIVbacks, to staking, locking, getting GIVpower and supporting projects. @tropicalmangos & @rodricastillo9013 to collaborate!

[2022-09-27 16:32] laurenluz opened #887 "GIVpower Twitter partner outreach - Dec 6"

[2022-09-27 16:36] laurenluz commented on #672
It's live https://docs.giveth.io/giveconomy/givpower/

It's just hidden. We will need to unhide it when we launch Oct 4. I will put this in "done" and then once it is unhidden, we can close the issue.

[2022-09-27 16:36] Cotabe opened #888 "PoW Dump comms"
PoW Dump decided to donate 25-40% of their fees to Giveth projects. As reciprocity, they are asking us to help with comms.

Here is what they are asking https://docs.google.com/spreadsheets/d/1O2hyy55HA-mUOmJzKraSsSSgmrU1BR1hpBltYb1TS5o/edit?pli=1#gid=0

But here it is synthesized on a to do list:

- [ ] Tweet about PoW dump supporting Giveth (ideally 09-28-22) - Cotabe will draft.

- [ ] Retweet

[2022-09-27 16:38] c0ric0ri commented on #872
https://www.notion.so/giveth/Giveth-essentials-1df4b43241604bf18ce57524e3e3a1d9

[2022-09-27 16:58] laurenluz commented on #880
NICE! We can schedule the first one to go out tomorrow

[2022-09-27 17:01] SymSL opened #889 "TEST Content issue - Due Date 10.10.22"
This is a test so we can finesse the content planning process

[2022-09-27 17:13] ahmadabugosh opened #890 "Testing out integration"
I want to see if zapier picks this up

[2022-09-27 17:23] #890 closed

[2022-09-27 17:25] divine-comedian commented on #672
oh and we need to fill in the launch date and the production smart contract addresses!

[2022-09-27 18:42] laurenluz opened #891 "Call for Giveth GIVgarden Delegates Tweet"
We should tell people they can nominate themselves! https://github.com/Giveth/GIVeconomy/issues/687

@c0ric0ri

[2022-09-27 21:36] laurenluz opened #892 "Design for GIVpower banner on giveth.io"
Would love to see a banner on the Giveth.io website that announces GIVpower.

If we could have this up and ready when staking/locking is released Oct 4, would be great, but if not, shortly after is good as well!

@rodricastillo9013 could you help with that?

I'd love it to say:

"GIVpower is coming!
Stake & lock GIV today to multiply your rewards & get ready to boost projects."

And make sure to u

[2022-09-27 21:45] franculio commented on #874
This has been successfully updated! Closing this issue :)

[2022-09-27 21:45] #874 closed

[2022-09-27 22:29] Cotabe commented on #888
(1/5)
A story of collaboration for the environment, for regenerative economies and for users.

How @DumpPoWETH @cowswap and Giveth.io are working together to sunset ETHW, help users get ETH out of it and give back to the environment and the Ethereum ecosystem.

(2/5)
Few weeks ago @DumpPoWETH reached out to explain how pow.dump.today would help everyone DUMP their ETH.

Key benefits:

1. Reduce ca

[2022-09-28 00:43] oyealmond opened #893 "Design request for Giveth Twitter Spaces"
Hey dear @rodricastillo9013 , me again 💐.
Requesting this time 2 templates for Twitter format only.
These again need to be in pptx format to edit the info.
As this will be two different conversation invitations, could you make the background in different colors?
Something you think will be cool to differentiate both.

Design 1 text:

GIVtalks - Twitter Space (bigger text**)
Conversations around th

[2022-09-28 00:50] oyealmond commented on #877
Yeey! Thank you @laurenluz, already review your feedback. I love it , and will love to bring @Danibelle to host some of the spaces as well. Perfect. Let's start bi-weekly from next week with the GIVpower launch.
Already request the design templates for start the promotion.

[2022-09-28 01:01] oyealmond commented on #876
Ty always for your valuable feedback @c0ric0ri . From now on I will only assign me , and tag the team members in the comments. Already review and edit the copies according to your feedback. Let me know if are ok

[2022-09-28 01:02] oyealmond commented on #841
Ty for your feedback @WhyldWanderer !
Agree is too dry for a Medium post, and will be better to only update the documentation.
Thank you for owning the doc updating ♥️

[2022-09-28 01:22] oyealmond commented on #884
Adding the design request for the Twitter Space issue [here](https://github.com/giveth/giveth-planning/issues/893)

[2022-09-28 01:30] oyealmond commented on #875
Hey @tropicalmangos!
I like your idea about breaking the press kit in 3 , donors (GIVeconomy) , projects and partners.
Im going to draft everything again, as I believe the whole structure needs to change. Thank you for helping me on this!

[2022-09-28 10:13] c0ric0ri commented on #888
Thanks a lot @Cotabe! Just a couple of things as I'm trying to get this board functioning properly. :)

1. Please always put comms drafts into a Google Doc, with the link posted here so that reviewers can comment and edit.

2. Make sure to assign the issue to yourself if you are overseeing it.

3. Make sure to change the issue status to "Review/QA" so that when people are checking the dashboard fo

[2022-09-28 14:44] c0ric0ri commented on #888
Dropped the draft into a Google Doc here: https://docs.google.com/document/d/194ZzzPK7dHYZQ4dbKYYxeOCQUVEzWJ7ZCz69vKkcXxs/edit

[2022-09-28 14:50] c0ric0ri opened #894 "Comms for the new XDAI/Regen farm"
@Cotabe commented on [Tue Sep 27 2022](https://github.com/Giveth/giveth-dapps-v2/issues/1554)

Here are a few ideas of comms:

- [ ] Teaser tweet (if possible) - "He are cooking a FOXprise for you... coming soon @shapeshift "
- [ ] Countdown tweet (10-02-22) - draft a tweet to send the day the countdown goes live
- [ ] Launching day tweet (10-05-22) - draft a tweet to send the day of the launch
-

[2022-09-28 14:50] laurenluz opened #896 "Create a notion listing start & end times for various farms in the GIVfarm"
Looking for one accessible place to find this info for both chains & RegenFarms

[2022-09-28 15:29] c0ric0ri opened #895 "GIVbacks Extension Tweet"
Craft a tweet to announce that:

- we are extending GIVbacks round 20 to October 4th
- new schedule going forward

[2022-09-28 15:45] c0ric0ri commented on #895
Tweet here for review: https://docs.google.com/document/d/1Wr13Eboaa2C-HZlvQpafVmlzMUJ-PyNZB0126mks1SE/edit

@laurenluz

[2022-09-28 16:25] rodricastillo9013 commented on #892
![givpower banner](https://user-images.githubusercontent.com/61791380/192834146-13e9a102-475a-4bf3-a94b-cb1c4dbdd8a6.png)
wdyt ? @laurenluz

[2022-09-28 16:26] rodricastillo9013 commented on #892
![banner GIVPowe2](https://user-images.githubusercontent.com/61791380/192834426-20fcdbbf-75b2-4043-a65a-ab719f6f85f6.png)

[2022-09-28 16:35] c0ric0ri commented on #823
https://twitter.com/Givethio/status/1559525910172389376?s=20&t=OxtDYAF1B9K1s9qlb05JyQ

[2022-09-28 16:35] #823 closed

[2022-09-28 16:42] laurenluz commented on #892
Looks great!!

Can we make a little text fix:

" Stake & lock GIV today to multiple your rewads,
and get ready to boost projects!"

[2022-09-28 16:44] laurenluz commented on #844
Looks good! left some comments.

[2022-09-28 16:46] c0ric0ri commented on #876
Hey @oyealmond thanks! I added some more suggestions in the doc. Would be great to see the other tweets adjusted as well!

@laurenluz FYI

[2022-09-28 16:46] rodricastillo9013 commented on #892
![Final](https://user-images.githubusercontent.com/61791380/192841430-8c24f60b-7986-44ce-8159-4bbe30ccc942.png)
Yeah! :)

[2022-09-28 17:00] WhyldWanderer commented on #738
Disqualifying Factors for the GIVbacks Program

Once a GIVbacks round ends, there is a period of time allocated for our team to review flagged projects and donations for disqualifying factors before GIV is distributed to donors. A project could have their Verified status revoked if any of these factors are found. Donors to projects who are found with any of the following activity may also be denie

[2022-09-28 17:33] c0ric0ri commented on #894
For tweet prepping: https://docs.google.com/document/d/1VB3MS4FXQ2tMV-uqupvbnPqMx5_IY-_2ZenXBZiABlE/edit

[2022-09-28 17:34] Cotabe commented on #894
I've updated the dates according to the release schedule

@c0ric0ri

[2022-09-28 17:38] laurenluz commented on #895
Thanks @c0ric0ri! This is great, I extended it into a thread and scheduled it in tweethunter for tomorrow morning at 9:08am costa rica time.

[2022-09-28 17:57] clara-zi commented on #811
1st draft can be reviewed.

[2022-09-28 18:39] oyealmond commented on #882
Hey @laurenluz :)
I made a draft of the tweet, which I think is pretty long. Can you check it out? And maybe add some of your meme talent as well . Thank you!

[2022-09-29 06:25] #889 closed

[2022-09-29 12:39] ahmadabugosh commented on #869
Hey @laurenluz , @c0ric0ri , @danelsuga , if you have a few minutes, I need some support to review the upcoming newsletter draft (I left some comments on areas I could use help in): https://docs.google.com/document/d/1Geh82Tj6AGneAPD6Tvm7s92X1wxPyIALh51uezLN3O0/edit

Thanks! 🙏

[2022-09-29 14:13] laurenluz commented on #892
perfect!!~!!

[2022-09-29 18:04] divine-comedian commented on #840
@SnakeGH

Sorry I'm late to the party! I left a few comments since there is some incorrect information regarding GIVfarms and perhaps some oversimplification or missed highlights of our history, products and roadmap!

[2022-09-29 19:27] laurenluz commented on #869
great work @ahmadabugosh !

[2022-09-29 21:15] c0ric0ri commented on #894
@laurenluz I have tried a couple first tweet drafts for this, would love your review on it.

Maybe a meme is cool as teaser? @Cotabe

[2022-09-29 21:18] laurenluz commented on #834
Hey Katya - what happened with this? It would be good to start collecting delegates when we launch staking & locking on tuesday

[2022-09-29 21:26] oyealmond commented on #884
@laurenluz , could you help me schedule next Thursday Twitter Space? the title could be smth like **#GIVpower AMA with Giveth team and friends!** 🚀

@laurenluz @c0ric0ri some tweets for you to review inviting the community to join to the AMA GivPower Twitter Space - https://docs.google.com/document/d/1cZt_W6BmoHNLF9Y7BzZcPs1HtXK3_jJzTXWRZnPb8Kw/edit?usp=sharing

[2022-09-29 21:57] divine-comedian commented on #896
best I could do - missing some timestamps but all the dates are there! - most of timestamps are an approximation

https://www.notion.so/giveth/GIVfarm-Dates-a9c623a1b3cd48ad8909d6e9826cf988

[2022-09-30 09:56] SnakeGH commented on #840
@tropicalmangos would you be so kind to address @divine-comedian comments, as I know the pitch deck was now locked for distribution and you are the only Google doc owner? :)

[2022-09-30 13:07] c0ric0ri commented on #694
@SnakeGH @rainerhoell closing this issue today!

[2022-09-30 13:07] #694 closed

[2022-09-30 13:09] c0ric0ri commented on #727
@WhyldWanderer @Cotabe please update this and close the issue, thank you!

[2022-09-30 13:11] c0ric0ri commented on #872
Hey @danelsuga @oyealmond how are things going here? With DevCon coming up fast it would be great if we can start reviewing drafts of support materials today/Monday

[2022-09-30 15:36] laurenluz opened #897 "GIVpower workshop for donors"
@oyealmond to help organize for the week of the 10th

[2022-09-30 15:37] laurenluz opened #898 "GIVpower party! Feb 22 | 2023"
@oyealmond to help organize

[2022-09-30 16:05] danelsuga commented on #872
It's Friday night, so I won't be able to provide anything by Monday. I am trying to set up a sync with @oyealmond. That's all I've got.

[2022-09-30 16:29] danelsuga commented on #872
I am at my niece's funeral tonight.

[2022-09-30 17:16] laurenluz commented on #888
Hey @Cotabe @c0ric0ri - I left some comments in the doc. I like where this thread is going and it's written well, but tbh, I personally am not super familiar w/ POW dump and what it all means - so I think a lot of our audience isn't as welll!

Would love to see this story told with a little more context to answer some questions. I put some questions in the doc. Please help! :D

[2022-09-30 17:22] oyealmond commented on #898
Let's do this workshop on the 19th.
I will use the AMA slot .

[2022-09-30 18:34] oyealmond opened #899 "Twitter Engagement Guide"
Hey @laurenluz !

Creating an issue to review Twitter responding and polish this .

Some answers to start reviewing:

https://twitter.com/mrsThreshold/status/1557785913689776133
https://twitter.com/karmaticacid/status/1557796004790841344
https://twitter.com/ShapeShift/status/1558179930982289408  https://twitter.com/eth_barcelona/status/1558163928147841024
https://twitter.com/DiamanteBridge/status/

[2022-09-30 19:46] oyealmond commented on #880
hey dear team! @laurenluz @c0ric0ri , a friendly around tweeting these posts. Lets me know if you need support :)

https://docs.google.com/document/d/1p2kG1dYOFdp4BJT-cyEfxFEeF3V6i6dQNB_5bMXLgjk/edit?usp=sharing

[2022-09-30 20:06] Cotabe commented on #888
Hey @laurenluz @c0ric0ri

Great questions @laurenluz
I made some modifications to the thread to address those questions and make the thread easier to understand

[2022-09-30 20:45] oyealmond opened #900 "Post tweets inviting the community to the informative Praise session"
Hey @laurenluz and @c0ric0ri , This Thursday after the community call we're throwing a Praise demo session . - The intention is to introduce Praise to the community.

Could you help us post these tweets inviting ppl to join? 👉🏼

https://docs.google.com/document/d/1eTjqSMbRyCpJ3neeR72j76CZiAHslr9cEwL39nO73BU/edit?usp=sharing

(There is a design available as well. Find it on the document)

Also, @Wh

[2022-09-30 20:45] oyealmond commented on #900
cc @franculio . Para que estés al tanto!

[2022-09-30 21:31] oyealmond commented on #884
@WhyldWanderer , I added some details for the event creation (Discord/email) [here](https://docs.google.com/document/d/1cZt_W6BmoHNLF9Y7BzZcPs1HtXK3_jJzTXWRZnPb8Kw/edit?usp=sharing)
Could you help us making it?
Thank you!

[2022-09-30 22:45] #869 closed

[2022-10-01 12:28] c0ric0ri commented on #888
Hey @Cotabe @laurenluz I saw the new edits today and made some further adjustments to meet Twitter character limits etc.

[2022-10-02 12:08] SnakeGH opened #901 "Other Leading Crypto Philanthropy Platforms - Highlights of their Benefits"
Think it would be great to have a document for our internal use to compare the leading, other crypto philanthropy platforms for when a potential donor, project or partnership asks "why Giveth instead of (insert other crypto philanthropy platform)?"

In the link below is a list I have come up with, please add any other leaders to it (as well as if you already know their Pros & Cons), so I can start

[2022-10-02 23:08] laurenluz commented on #888
https://twitter.com/Givethio/status/1576567192681938946

[2022-10-02 23:08] #888 closed

[2022-10-02 23:09] laurenluz commented on #895
https://twitter.com/Givethio/status/1575498044056838145

[2022-10-02 23:09] #895 closed

[2022-10-03 01:51] laurenluz commented on #834
@tropicalmangos I made some comments/suggestions to your forum post in the doc. Can you try to fix 'em sometime early tomorrow so I can give it one more review before it gets posted Monday night/Tuesday morning?

Also please talk to @divine-comedian or @WhyldWanderer on the best place/way to post this in the forum and how to do the categories, etc.

https://docs.google.com/document/d/1JmajezLVYu0r

[2022-10-03 02:46] laurenluz commented on #780
This is ready! Got review already from Griff, and waiting on Stee for a second pass.
https://docs.google.com/document/d/1q8shVpNoXnp4vHaR9sB4agZN2BMucUAIK4qrlamAo40/edit

[2022-10-03 02:50] laurenluz commented on #884
This is scheduled! https://twitter.com/i/spaces/1gqxvyLRnZaJB

I'll tweet about it with Giveth on Wed w/ a reminder on Thursday.

[2022-10-03 08:48] SnakeGH opened #902 "Partnership Program - next initiatives"
Hey Giveth Team,

I have an idea about moving forward with our current partners and thereafter, any partners we link up in the future, but in order to perform this idea appropriately, I'd like to confirm that the list of current partners I have is not missing any (https://giveth.io/partnerships - 35 partners in total).

Once I have confirmed these are ALL of our current partners, as well as once t

[2022-10-03 09:32] clara-zi commented on #710
Now live with Planable scheduling app. Closing this issue.

[2022-10-03 09:32] #710 closed

[2022-10-03 13:09] SnakeGH commented on #902
Hey, specifically @WhyldWanderer @ahmadabugosh @Danibelle @laurenluz @divine-comedian @GriffGreen could you please assist me with collecting some information in this google shared drive, which I will then upload to our CRM Hubspot, as well as use to take the next steps in strengthening our current and future partnerships?

https://docs.google.com/document/d/1iq1cWGWqxGRl4DuP15bYc-D5ZT2231Ic0dK-Fmr

[2022-10-03 13:43] ahmadabugosh commented on #460
Hey @laurenluz @SymSL @danelsuga,

I updated the [Giveth medium](https://medium.com/giveth) navigation and articles to the following:

- GIVeconomy -> This filters all articles with the "GIVeconomy" tag
- Giveth Platform -> This filters all articles with the "dapps" tag
- Learn with Giveth -> This filters all articles with the "Crypto Education" tag
- Giveth Philosophy -> This filters all articles

[2022-10-03 13:44] divine-comedian commented on #834
category already exists - just awaiting content

https://forum.giveth.io/c/community/givpower/15

[2022-10-03 13:46] ahmadabugosh commented on #623
Looks good @SnakeGH , thanks for all the effort on getting so many takers!

As the next step, can you look for any commanalities and recurring answers and start with a draft of what the profiles and personas would look like (maybe as an editable sheet so we can keep adding to it)? You mentioned to me before for example, you noticed a large number of them care about zero fees etc.

[2022-10-03 15:01] c0ric0ri commented on #885
Hey @ahmadabugosh do you have the draft ready to share today so we can review it before tomorrow? I saw this is still in Backlog so please share some updates here, thank you!

[2022-10-03 15:10] MoeNick commented on #865
Hey comms team :) I think the requested changes are going to finalize next week on staging, just a heads up if we want to agree on a release date!

[2022-10-03 15:12] c0ric0ri commented on #750
Hey @laurenluz checking in here, we want this to go up tomorrow right? Do you already have a draft for review?

[2022-10-03 15:13] c0ric0ri commented on #779
Hey @oyealmond I think you had the party right? Can you please update this issue with comments + links to memes, and update the status?

[2022-10-03 15:22] c0ric0ri commented on #865
hey @MoeNick yes let's set up a sync!

@ahmadabugosh do you have an update to share here?

[2022-10-03 15:23] oyealmond commented on #779
Hey @c0ric0ri !
It was a great party full of content.
Find the memes here: https://discord.gg/fFEZrjdw

Let me know if there's something else missing regarding this issue

[2022-10-03 16:49] c0ric0ri opened #903 "Monthly Platform updates Tweet Thread"
Summarizing on a monthly basis what feature updates have gone live on the Giveth dApp in the past.

[2022-10-03 16:50] c0ric0ri opened #904 "Key stats & data"
Share stats that would be interesting to various target groups, and showing progress in certain aspects. Timeline is really up to us on what want to highlight. We should properly brainstorm these - I've set up [a document here to work in](https://docs.google.com/document/d/1wgJC9Cw9UnXh2_QdQmKLuLc2pdgbOFCPkKw8sOmbsqM/edit).

[2022-10-03 16:57] c0ric0ri commented on #862
FYI I'm moving this to In Progress for better oversight!

[2022-10-03 17:44] c0ric0ri commented on #887
We're going to save this for when we launch Boosting for GIVpower

- Create some support materials so people know what to do
- Reach out to donors and projects with support materials and ask for support to push the launch comms

[2022-10-03 19:40] ahmadabugosh commented on #865
@c0ric0ri , sure mainly it's about:

- We updated our categories and now made it easier for you to find projects you care about.
- Sort through over 40 public goods categories, including Arts & Culture, Community, Economics & Infrastructure, Education, Environment & Education, Equality, Health & Wellness, Nature, Technology and more!

Once it's live, we can also include screenshots etc.

[2022-10-03 19:46] oyealmond commented on #880
yeeey ty so much @laurenluz 🤩

[2022-10-03 20:39] divine-comedian commented on #834
Template is done @tropicalmangos:

![image](https://user-images.githubusercontent.com/67759413/193677869-d64b2812-986f-4488-ad5f-6cdc1724e238.png)

FYI I made you the owner of this post - so you can put in your content there
https://forum.giveth.io/t/givpower-delegation/779

[2022-10-03 20:51] laurenluz commented on #834
@divine-comedian - you ROCK! Is there an easy link that goes to creating a post w/ that template... so we can link it like "please nominate yourself by creating a post via *this template*"?

@tropicalmangos - I finished adding suggestions in the google doc - please incorporate them & post when you're ready :D

[2022-10-03 20:58] divine-comedian commented on #834
If they click create topic inside of the GIVpower category the template will come up automatically - you can try it for yourself
https://forum.giveth.io/c/community/givpower/15

[2022-10-03 21:11] oyealmond commented on #884
Yeeeey! Great! Ty @laurenluz !

[2022-10-03 21:26] oyealmond commented on #900
Hey dear @laurenluz and @c0ric0ri . I know this week we're full of events, but wanted to ask if you could make space to invite the community to the Praise informative session we're having this Thursday .

Posted some copies if you find them useful - https://docs.google.com/document/d/1eTjqSMbRyCpJ3neeR72j76CZiAHslr9cEwL39nO73BU/edit?usp=sharing

[2022-10-04 01:15] #856 closed

[2022-10-04 01:20] laurenluz commented on #834
@tropicalmangos I finished integrating edits in the forum post and got it up. says your the owner. Template is working well for the nominations: https://forum.giveth.io/t/open-call-for-givpower-delegates/779

Only weird thing is... why is it so hard to find this post? I don't see it in the main feed of the forum or when I open the community section - @divine-comedian ?

[2022-10-04 01:23] laurenluz commented on #750
I got started on it, but it won't make it for staking/locking launch! I made a nice thread, and we can release the blog w/ boosting instead.

[2022-10-04 01:23] #616 closed

[2022-10-04 01:24] laurenluz commented on #672
it is updated and live! https://docs.giveth.io/giveconomy/givpower

[2022-10-04 01:24] #672 closed

[2022-10-04 01:41] #892 closed

[2022-10-04 01:42] laurenluz opened #905 "Design GIVpower banner for giveth.io for when we launch boosting"
Hey @rodricastillo9013 !

When we launch boosting we'll need another GIVpower banner, but the copy will change (and it would be cool to make it look different too).

We can say something like:

"GIVpower is here!"
"Earn rewards while boosting projects to new heights."

[2022-10-04 01:43] laurenluz commented on #905
it would be great to have something for this sometime late this week - no rush!

[2022-10-04 01:51] laurenluz commented on #460
wooowwwwwwwww!!!!!!!!!!!!!!!!!! I love it.

[2022-10-04 01:52] laurenluz commented on #460
did you change the tags on existing articles?

[2022-10-04 02:18] divine-comedian commented on #834
ah I think I hid it. I just need to push a button to make it publicly viewable

[2022-10-04 02:19] laurenluz commented on #900
@oyealmond I scheduled one tomorow & one thursday :)

[2022-10-04 02:19] laurenluz commented on #900
I copy/pasted my edits in the doc so you can review, maybe take some ideas for next time.

[2022-10-04 02:21] laurenluz commented on #834
ooh yeah - push the button! I will tweet it tomorrow, everything is on live & seemingly working fine, so we're on track

[2022-10-04 02:39] ahmadabugosh commented on #460
@laurenluz Yes! We're allowed 5 tags per Medium article, so I changed one tag per article based on what category I thought fits best.

The only ones I wasn't sure where to put were the Community Project Spotlight ones, like [this one.](https://medium.com/giveth/community-project-spotlight-4-382e3244afac). What do you recommend for those? We could make a menu item for "For-good Projects", but the m

[2022-10-04 06:26] Cotabe commented on #894
Agreed

[2022-10-04 09:41] rodricastillo9013 commented on #905
ok! perfect!

[2022-10-04 12:34] SnakeGH opened #906 "eth & Radicle Partnership - Updates & Comms Assistance Needed"
Hey Giveth,

While Cotabe is out on holiday, I am directing the flow of this relationship for the time being.

Upon review of the following link, we need some assistance with suggestions to the link, as well as then moving to next steps, which would include broadcasting it out via comms channels.

Please, specifically @laurenluz & @divine-comedian, have a look and over your expertise feedback.

On

[2022-10-04 13:01] franculio commented on #900
Great work @oyealmond ! and thanks @laurenluz !

The event for discord is already created. Don't know if @WhyldWanderer already sent out the email invite, if not I can do it!

[2022-10-04 13:16] divine-comedian commented on #906
just putting this here this small blurb of products Giveth is building and how it supports public goods

This might be a bit long-winded but you can cherry-pick the parts you like and put it in however you see fit.

**How does Giveth support Public Goods?**

Giveth supports for-good projects and public goods in a myriad of capacities, one only needs to look at our token economy (GIVeconomy) roadma

[2022-10-04 13:20] divine-comedian commented on #906
Also to clearly point out where Giveth can use Radicle is the concept of "Recurring Donations" https://github.com/Giveth/Roadmap/issues/15 or "Donation Streams"

Donors can support projects consistently over a long-period by streaming funds to the project over a given period.

They can assign a stream - funds are sent continuously to the project, the donor can end the stream at any time.

[2022-10-04 14:10] ahmadabugosh commented on #848
@SnakeGH suggested that we also add recurring content for "top mover" projects. For example, projects that are trending, have a lot of donations that GIVbacks round etc. I think this would be even more relevant with GIVpower launching + we can revive the "[project highlights](https://medium.com/giveth/community-project-spotlight-2-dc0c5ca4757d)" we used to do.

[2022-10-04 14:31] SnakeGH commented on #848
Thanks @ahmadabugosh, not only top movers but also "projects that need our help" so we don't just promote the top, but also root for the underdog :)

[2022-10-04 14:38] laurenluz commented on #834
yeah I think we can close it! Thanks @tropicalmangos

[2022-10-04 14:38] #834 closed

[2022-10-04 14:51] laurenluz commented on #460
Yeah! I like the "For-Good Projects" header. I would remove Giveth from all those places for sure!! Philosophy, Learn & Platform is better, I think.

Also just looking at the GIVeconomy one, I think you missed an article or two. The angel vault one should be there for sure.

[2022-10-04 15:09] laurenluz commented on #906
I would change the blurb, taking into account the above suggestions as:

"Giveth is building a culture of giving that rewards and empowers those who give. Beginning with a crypto donation platform on Ethereum, Giveth has created the "GIVbacks program" where donors to for-good projects are rewarded with GIV. The long-term vision is to continue this trajectory and use web3 technology to transform th

[2022-10-04 15:09] ahmadabugosh commented on #460
Done! Just added it "For-Good Projects" ->  This filters all articles with the "Public Good" tag.

I just added the Angel vault one, and I think I got them all now but maybe you or @danelsuga could do a quick run through and see if you like how they're tagged in each category

[2022-10-04 15:26] laurenluz opened #907 "Big impact issue!! Update "What is Giveth" in the docs"
I notice that many many many people who feature Giveth just copy/paste the first lines of this page in our docs: https://docs.giveth.io/whatisgiveth/

I see *all the time*, and tbh, it feels a bit weak/outdated. The first paragraph on this page should be STRONG. And later on the page, we should show our Giveth roadmap.

[This issue](https://github.com/Giveth/giveth-planning/issues/906/) has some g

[2022-10-04 15:42] c0ric0ri commented on #872
Hey @oyealmond @danelsuga

So actually this is not specific to Bogota, the idea of this issue is actually beyond these two individual talks. As the team is growing quickly and events are always on the horizon (digital and physical), it's important that we have these resources to ensure aligned representation of Giveth externally. It's a need that has been expressed and that we've identified.

For

[2022-10-04 15:56] divine-comedian commented on #907
I could take a stab at this unless you had someone in mind.

I also was hoping to update some of these useful docs:

https://docs.giveth.io/dapps/projectdonating
https://docs.giveth.io/dapps/createproject
https://docs.giveth.io/dapps/gettingStarted
https://docs.giveth.io/dapps/faq (Make it match - https://giveth.io/faq)
https://docs.giveth.io/dapps/torusUserGuide
https://docs.giveth.io/dapps/torus

[2022-10-04 16:13] laurenluz commented on #886
@tropicalmangos made this: karmaticacid
#1218
GIVpower graphic

karmaticacid
 added
Rodricast
 to the group.
 — 09/26/2022
karmaticacid
 changed the channel name:
GIVpower graphic
 — 09/26/2022
karmaticacid — 09/26/2022
Hola Rodri! Estamos hablando en creer un graphico para el launch the GIVpower... que explica el proceso de donar hasta recibir GIV, GIVpower & apoyar projectos
Tenemos esta chat pa

[2022-10-04 16:17] danelsuga commented on #872
Thanks, @c0ric0ri.
@oyealmond and I are syncing today.

[2022-10-04 16:30] c0ric0ri commented on #848
Input here from @oyealmond, content about:

- humans behind Giveth, things about the DAO, why we do things, Praise

[2022-10-04 16:38] SnakeGH commented on #906
Hey @spectoregia I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/giveth-planning-5f08ce1f9264b300166a0185/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-10-04 16:44] laurenluz commented on #848
we should also have some regular repeats of the same, but core/important ideas like:
- public goods explainers & how web3 can help
- GIVbacks
- verification
- GIVpower

[2022-10-04 16:48] SymSL commented on #739
Hey @ahmadabugosh following up on this, need me to resend this link?

[2022-10-04 16:54] c0ric0ri opened #908 "Update important Giveth docs"
Please think about recording or documenting this in some way for onboarding purposes

[2022-10-04 16:55] c0ric0ri commented on #908
@divine-comedian

[2022-10-04 17:00] oyealmond commented on #848
Some recurring that are already happening:
- AMA invitation to the community (Wednesdays)
- Twitter Spaces announcements (every two weeks)

[2022-10-04 17:27] ahmadabugosh commented on #885
Hey @c0ric0ri @laurenluz @danelsuga Can I get a quick proof read on this so I can send it today (I basically just took what Lauren posted on Discord)?  [email draft](https://docs.google.com/document/d/1E85mW068yYSRkv2Ds-tf7cO1mIeYmscPplZdxR5oAck/edit)

[2022-10-04 17:28] danelsuga commented on #885
Having a look now. @ahmadabugosh

[2022-10-04 17:47] spectoregia commented on #906
thanks @SnakeGH for adding me to this thread! I am working on the grant application which Mitch actually brought up the idea.
Had a couple of chats with @MoeNick to help out define the milestones which will be outlined in the grant (draft) document [here](https://docs.google.com/document/d/1M6slMpcgDO2b6xNX8TTMuiV5Y1SWbEM1oFXNYvYRKgY/edit?usp=sharing).

Not sure if there is another Github issue de

[2022-10-04 18:01] laurenluz commented on #885
Look great! (she says because she wrote it in the annoucements channel 🙈 )

I made a couple of small suggestions/comment. Thank you @ahmadabugosh !

[2022-10-04 18:23] laurenluz opened #909 "Add create a project video to docummentation for create a project"
Put the video at the top & add info like "ask questions in our support channel in discord"

so that we can share this on Twitter when people have questions

https://docs.giveth.io/dapps/createproject/#creating-your-project

[2022-10-04 18:28] GriffGreen opened #910 "Improve our listing on DeepDAO"
https://deepdao.io/organization/e30d591d-76f2-4eb4-bd05-04124e100210/organization_data/dig_deeper

[2022-10-04 18:28] GriffGreen opened #911 "Add our token to Uniswap and COWswap and anywhere else we trade!!"
So important!

[2022-10-04 18:29] ahmadabugosh opened #912 "Giving Block partnership coordination modification"

[2022-10-04 18:31] ahmadabugosh commented on #912
On the Giving Block site, i was surprised to see they accept over 100 tokens but no $GIV :( https://thegivingblock.com/resources/cryptocurrency-we-accept/

As a partner of ours, we should be there. @SnakeGH can you check with the team on who our contact was at the Giving Block and see if you can get us listed? 🙏

[2022-10-04 18:32] laurenluz opened #913 "Giveth Contributors Twitter Session - G Essentials"
We can add to Giveth essentials program

The purpose being to create a doc about what is Twitter, why it is important, how to grow you account, use it to support Giveth etc.

And then have a one-off meeting opt-in to explain the topics to Unicorns.

[2022-10-04 18:33] ahmadabugosh commented on #910
@franculio can you take this on? 🙏

[2022-10-04 18:34] ahmadabugosh commented on #911
@SnakeGH Can you take this on with Yaas?

[2022-10-04 18:48] c0ric0ri opened #914 "Twitter"
This epic includes **all** issues for tweets and threads - both recurring content and one-time posts.

Edit: Updating this epic to include issues related to Twitter growth

[2022-10-04 18:57] franculio commented on #910
Hey @ahmadabugosh ! Yes, I can definitely help out here!

I would need for someone to give me access to the profile already created so I can upload the info. Do you know who listed Giveth there @GriffGreen ?

[2022-10-04 19:17] laurenluz commented on #633
@oyealmond some inspriation for you

[2022-10-04 19:19] laurenluz commented on #820
@oyealmond tagging you here for inspriation too!

[2022-10-04 19:31] NikolaCreatrix commented on #863
Event script introducing the flow and invited projects.

https://docs.google.com/document/d/17uyO6D8WZtOTZdEy1V4hafLIHeZYXXVAze_7MiikSP0/edit?usp=sharing

[2022-10-04 19:31] laurenluz opened #915 "Tweet thread idea: How can nonprofits use blockchain?"
@oyealmond

[2022-10-04 19:33] NikolaCreatrix commented on #861
Closing this issue, this is the script and flow we will apply + confirmed guests.

https://docs.google.com/document/d/17uyO6D8WZtOTZdEy1V4hafLIHeZYXXVAze_7MiikSP0/edit?usp=sharing

[2022-10-04 19:33] #861 closed

[2022-10-04 19:34] SymSL commented on #460
Thanks so much for picking this up @ahmadabugosh, and I'm sorry that I had let it drop in the first place, team :( Won't happen again. Great job on finishing it!

[2022-10-04 19:57] oyealmond commented on #899
Next steps create a AMA document with an answering base for Giveth Twitter.

[2022-10-04 20:07] ahmadabugosh commented on #460
@c0ric0ri I added this to Notion for future reference https://www.notion.so/giveth/Medium-Article-Tagging-b0e08e15a5cd4563ada331ad27dcf02d

[2022-10-04 20:07] #460 closed

[2022-10-04 20:26] #885 closed

[2022-10-04 20:37] WhyldWanderer commented on #868
@oyealmond will reach out to projects after the Oct 5th Meet the Makers event to record some testimonials..

[2022-10-04 20:58] oyealmond commented on #872
Our next steps for this, making a "shilling Giveth" guide, and presenting on a virtual session with the team involved

[2022-10-05 02:27] GriffGreen opened #916 "Can we automate the deployment of a regen farm?"
what if we made a page where anyone could start a farm... and we make like a second farm page that is just for anyone to make any farm (and send us our fee) and then we just use governance to put it on the UI?

[2022-10-05 05:55] SnakeGH commented on #912
Great idea and point, Ahmad! I believe it is either @WhyldWanderer or @laurenluz that are running with TGB.

ladies, do you mind putting the contact information in this google shared doc from GH issue #902?

https://docs.google.com/document/d/1iq1cWGWqxGRl4DuP15bYc-D5ZT2231Ic0dK-FmrtV8M/edit

Also, do you mind if I start a new communication thread with them about Ahmad's point?

[2022-10-05 05:56] SnakeGH commented on #911
@spectoregia how do you want to proceed with Ahmad's thoughts here?

[2022-10-05 09:05] rodricastillo9013 commented on #905
<img width="1440" alt="givpower2" src="https://user-images.githubusercontent.com/61791380/194023508-c9286d67-b932-48f9-8ad2-70ca68a4e625.png">
wdyt?

[2022-10-05 09:16] SnakeGH commented on #911
@ahmadabugosh reached out to CowSwap on discord and Twitter.

[2022-10-05 10:29] rodricastillo9013 commented on #893
Perdona la demora! aqui lo tienes! https://docs.google.com/presentation/d/1KlmmdT8DI3fox9XzAs4IBqngG2tP9uIOa5t0FT29UQI/edit?usp=sharing

[2022-10-05 10:42] tropicalmangos opened #917 "Email Customer Journeys"
Create Giveth email customer journeys as part of onboarding process.

[2022-10-05 12:31] divine-comedian commented on #908
I think the most important step will be to get yourself familiar with markdown syntax - this is what we use to format text in the docs to make it beautiful - it also is used in the forum as well!

https://www.markdownguide.org/

[2022-10-05 12:45] spectoregia commented on #911
This is what I managed to find on Unisawp:

Uniswap is a Decentralized platform Anyone can add a token to Uniswap

simply Go to https://app.uniswap.org/#/pool
User guide -> https://support.uniswap.org/hc/en-us/articles/7423194619661-How-to-provide-liquidity-on-Uniswap-V3
For V3 Liquidity click “New Position”     ** fee on transfer, rebase, and reflection tokens do not work with v3
-> Select the to

[2022-10-05 12:59] ahmadabugosh commented on #911
@spectoregia I think for Uniswap we just need to be mentioned in the popular [Token Lists](https://tokenlists.org/). I see we're already mentioned on the Coin Gecko one, so maybe check what others we can be mentioned in? If not, then I don't know if that's much to be done for Uniswap.

[2022-10-05 13:10] laurenluz commented on #780
https://twitter.com/Givethio/status/1577340015285354496

[2022-10-05 13:10] #780 closed

[2022-10-05 13:14] laurenluz commented on #772
https://twitter.com/compose/tweet/tags

[2022-10-05 13:14] #772 closed

[2022-10-05 13:34] franculio commented on #908
Thanks @divine-comedian !

I already learned route 1 in a masterclass about markdown, hackmd and how to do update through github with Lauren. So I'm familiar with this way.

I do have vscode installed in my computer but I never really played with it much, maybe it's time! I'll do research on this.

My one question is about the images uploading, last time I updated through github I just copied them

[2022-10-05 14:06] SnakeGH opened #918 "Giveth <> ReFi Spring Marketing Partnership"
With a great intro from Cori, I was able to make a wonderful connection with Roxana from ReFi Spring (https://www.refispring.com/) and we have already started the process of onboarding them on our project platform, but wait, that's not all...we would like to form a soft marketing partnership between the orgs.

Here is the proposal, please review and offer suggestions or approval. Thanks!

**Twitte

[2022-10-05 14:09] SnakeGH commented on #918
@laurenluz @c0ric0ri @clara-zi @danelsuga @ahmadabugosh @SymSL

[2022-10-05 16:08] laurenluz commented on #878
https://twitter.com/Givethio/status/1575498044056838145

[2022-10-05 16:08] #878 closed

[2022-10-05 16:09] laurenluz commented on #773
@oyealmond - can you paste the google doc w/ this in here? or is this issue a duplicate? can't find it.

[2022-10-05 16:11] oyealmond commented on #773
Sure!
[Heres the doc](https://docs.google.com/document/d/1g8Dnu_6Eu-AEFOQspKrTODr8Mx_nQRlaHXWVkp7p7U4/edit?usp=sharing )

[And here's the issue](https://github.com/Giveth/giveth-planning/issues/882 )

[2022-10-05 16:15] laurenluz commented on #843
@danelsuga - how come this is in the icebox? it would be really nice to make this into a blog about the Giveth roadmap, I think that would be really useful as supporting content for our messages.

[2022-10-05 16:18] laurenluz commented on #910
@franculio just seeing this issue, Griff basically never sees github tags, so best to DM him to get the info you need :)

[2022-10-05 16:18] laurenluz commented on #879
@WhyldWanderer have we sorted this out?

[2022-10-05 16:22] #824 closed

[2022-10-05 16:33] laurenluz commented on #912
@SnakeGH - Ashely & I both have kind of failed on the giving block comms tbh. If you are willing to take it on, it would be great.

I don't have access to that doc, can you please make it (and all similar future docs) "anyone can comment" access?

We have a telegram group with some people from the giving block, I can add you in there but tbh it's been tough getting their responses. Here are some n

[2022-10-05 16:34] laurenluz commented on #912
@SnakeGH - Ashely & I both have kind of failed on the giving block comms tbh. If you are willing to take it on, it would be great.

I don't have access to that doc, can you please make it (and all similar future docs) "anyone can comment" access?

We have a telegram group with some people from the giving block, I can add you in there but tbh it's been tough getting their responses. Here are some n

[2022-10-05 16:36] laurenluz commented on #912
Anyway, I am happy to add you to the tg group w/ then, send a message to introduce you and the situation, and let you take it away from there on comms.

[2022-10-05 16:38] laurenluz commented on #912
oh!! and sorry, just realizing this issue's content... $GIV is not listed because it is not listed on Gemini - an exchange that the Giving Block uses. In order for GIV to be accepted by their projects, we would need to get it listed on Gemini... which we have not yet been successful in yet. We could get support from the giving block or try to pursue it... but it's not about the giving block listin

[2022-10-05 16:54] laurenluz commented on #912
FYI - we are working on getting GIV on gemini in the GIVeconomy research group w/ Grapefuit: https://github.com/Giveth/GIVeconomy/issues/719

[2022-10-05 16:55] oyealmond commented on #860
Quick note:
In Oct 5th Education as a Public Good , Meet the Makers session we had 20 attendees.

[2022-10-05 16:58] oyealmond commented on #868
Update, I requested the first 4 project owners testimonials to:
- Okeke and Helpsters Foundation https://giveth.io/project/basic-school-supplies
- Vid and Quest Chains https://giveth.io/project/quest-chains
- Catalyst and 40acresDAO https://giveth.io/project/learning-with-innovative-technology-hubs
- Trina and Samaanta Foundation https://giveth.io/project/samaanta-foundation

(Meet the makers part

[2022-10-05 17:56] c0ric0ri commented on #670
@WhyldWanderer @laurenluz would be great to get your eyes on this for final confirmation!

[2022-10-05 18:04] oyealmond opened #919 "Tweet the Meet the Makers session recording"
Hey dear team! We have a really successful Meet the Makers session!
Could you help us share the recording in a Tweet in case someone interested missed it?

@c0ric0ri @laurenluz

Here's the tweet draft - https://docs.google.com/document/d/1APP7SaOYb3ZHCD7yA9sVlD8Lfb4nvLti54yEbknj9zg/edit?usp=sharing

[2022-10-05 18:05] oyealmond commented on #862
After communications follow up issue:
Share in a tweet the session recording:
https://github.com/Giveth/giveth-planning/issues/919

[2022-10-05 18:19] NikolaCreatrix commented on #863
Event was succesfull. All the guests showed up. We had 20 participants.

Video recording can be found here:
https://www.youtube.com/watch?v=7eRV_4QnwyY

[2022-10-05 18:50] c0ric0ri commented on #841
@oyealmond we can close this issue, correct? Since we're going with the video explainer in the second issue referenced above?

[2022-10-05 19:13] c0ric0ri commented on #918
Hey @SnakeGH thanks for this!

I think it's a wonderful partnership opportunity. ReFi Spring is supporting the decentralized implementation of ReFi events across the global south, bringing awareness and education to new areas while supporting diversity and underrepresented teams.

I have gotten to know the ReFi Spring team well over the past 2 months and would love to see Giveth support as they co

[2022-10-05 19:15] WhyldWanderer opened #920 "Giveth New Features Survey"
Tosin created this draft for the New Features survey that he would like to send out to users.

Are there a few people that can take a look at this and give feedback as well as QA?
@laurenluz @danelsuga @c0ric0ri

https://docs.google.com/document/d/1ro-ozCDm4L_QowN3AcFWRv4lI5sf3Buo0bPJgIfap3o/edit?usp=sharing

[2022-10-05 19:20] danelsuga commented on #843
@laurenluz in the icebox bc I didn't get to working on it when my niece died in the summer. @c0ric0ri and I were bouncing it back and forth a little, but it wasn't clear moving forward, and she was sick at that time and you were still gone, so it lost traction. So then I switched to the Stanford article to focus the energy.

[2022-10-05 19:21] danelsuga commented on #872
Will do asap! Super awesome @oyealmond !

[2022-10-05 19:43] c0ric0ri commented on #919
Thanks @oyealmond ! I added some edits and we can plan to share (@laurenluz).

[2022-10-05 21:32] divine-comedian commented on #908
Okay yes I'm down!

If you guys want to go the vscode route here's some things to get started:

- generate an ssh key and link it to your github account
https://docs.github.com/en/authentication/connecting-to-github-with-ssh/about-ssh

- set your username and email in git
https://docs.github.com/en/get-started/getting-started-with-git/setting-your-username-in-git#setting-your-git-username-for-ever

[2022-10-05 21:32] divine-comedian commented on #908
maybe this friday we can plan something?

[2022-10-05 21:38] laurenluz commented on #905
PERFECT 🚀

[2022-10-05 21:42] oyealmond commented on #919
Already accepted the edits! Ty @c0ric0ri !

[2022-10-05 21:48] laurenluz commented on #919
I'll schedule it for friday, made some tweaks. tomorrow is way too many event announcements.

[2022-10-05 21:49] laurenluz commented on #919
Thanks to you both for moving this forward! really helpful.

[2022-10-05 21:49] oyealmond commented on #919
Ty both!

[2022-10-05 21:53] oyealmond commented on #841
I think @WhyldWanderer was going to update the documentation? Or maybe Im wrong. Could you clarify pls @WhyldWanderer ?

[2022-10-05 22:21] laurenluz commented on #908
I could do 9-10am Friday Costa Rica time, or else can't make it. We'll be heading to SJO Friday.

[2022-10-05 22:26] laurenluz commented on #843
cool - well I wouldn't icebox it, but it's ok if we need to reassign it. general icebox is like the place where issues go when we may never get to them or they are a distant future nice-to-have (imo). This is something I'd just put in the backlog

[2022-10-05 22:26] #843 closed

[2022-10-05 23:01] oyealmond commented on #918
hey @SnakeGH Im preparing a Twitter Space the 19 that I will like to invite ReFi Spring. Can you share with me a contact for me to reach out?

[2022-10-05 23:43] laurenluz commented on #876
@oyealmond @c0ric0ri - Tosin is actually not looking for people to sign up on his calendly any more… there was a broken link somewhere in cross-WG communication. At this point, there is nothing about test sessions to tweet…

Soon he wants to send out survey to users…https://github.com/Giveth/giveth-planning/issues/920
& especially want to know how users are getting on with GIVpower

When that’s re

[2022-10-06 00:33] laurenluz opened #921 "DevCon / Bogota Tweet"
Would love to write on Sunday, a thread with some details on where to catch Giveth during Bogota.

I am giving a talk at sustainable blockchain summit: “Reimagining the Money Game”  is scheduled for 3:00pm - 3:15pm (15 mins) on Wednesday, October 12th on the Selva Stage.

@GriffGreen is speaking at DevCon, Wed Oct 12

@mateodaza is speaking at ETH Latam on a panel

@Cotabe is giving a talk at the

[2022-10-06 00:52] laurenluz commented on #773
ohhh thank you!

[2022-10-06 00:52] #773 closed

[2022-10-06 00:53] laurenluz commented on #882
Hey bella! I edited this and scheduled for Satuday. Thanks!

[2022-10-06 05:07] danelsuga commented on #843
Ok thanks.

[2022-10-06 05:20] SnakeGH commented on #918
Great replies @c0ric0ri and I agree, if @laurenluz agrees.

@oyealmond that sounds brilliant, thank you! I will DM you the contact information for Roxana in discord and you can always find anyone I am dealing with in our CRM, Hubspot

[2022-10-06 05:57] SnakeGH commented on #912
Thank you for taking the time to provide such amazing details @laurenluz , even though not the best TGB results at the moment from their side. Please do connect me with them and I will take over point in that relationship, as I definitely would love to stay on them and make this relationship more mutual.

Ill DM you in Discord my Telegram handle to add.

[2022-10-06 07:32] franculio commented on #908
Friday works for me! Just to be sure 9am Costa Rica is 5pm CET right?

[2022-10-06 10:41] c0ric0ri commented on #921
Yes I'll work on this!

[2022-10-06 11:46] SnakeGH commented on #906
Thanks @divine-comedian - I have a call later this evening with Luke from Radical and will see about how we can do "Recurring Donations" or "Donation Streams"

Thanks @laurenluz - I'll ask them to change the "About Giveth" to the mission statement that you wrote

Thanks @spectoregia - I hope you will still be able to join the call at 4pm CET, so that we can also build in a token/fundraising aspect

[2022-10-06 13:27] rodricastillo9013 commented on #886
Hi everyone! great I have seen there! I'll try to start tomorrow, I haven't been able to yet, this week I was very busy... I'll share when I have progress! Thank you @laurenluz @c0ric0ri @tropicalmangos

[2022-10-06 13:30] divine-comedian commented on #908
Okay I made the event - it should be on the giveth calendar
https://calendar.google.com/event?action=TEMPLATE&tmeid=MWJtdWlvczVjcXFqM3VhZWo1MXZ0YzJjYTIgZWNwLm96ekBt&tmsrc=ecp.ozz%40gmail.com

[2022-10-06 13:33] divine-comedian commented on #906
We just had a call with them 2 weeks on around the same topic - let's not create redundant discussions! - @MoeNick has been looped into looking into their SDKs and APIs for technical validation.

[2022-10-06 13:54] divine-comedian commented on #908
@franculio another side note - we also need to maintain our spanish translation of the docs
As you're updating some key docs I am making a note here to show you how to put in the spanish versions as well

[2022-10-06 14:28] laurenluz commented on #886
@rodricastillo9013 - wait on this... it's not approved yet.

@tropicalmangos I think we should discuss this in our next call so I can explain things more, still some inaccuracies.

[2022-10-06 14:30] rodricastillo9013 commented on #886
okay! When it's approved, let me know! and start, thanks!

[2022-10-06 14:56] franculio commented on #908
Perfect, thanks @divine-comedian !

[2022-10-06 17:33] oyealmond commented on #918
Thank you @SnakeGH !

[2022-10-06 17:36] c0ric0ri commented on #921
@mateodaza:

Event: ETHLatam
Stage: Andina
Title of Panel: Qué son los "Public Goods"

Panel attendees: Ale Borda, Fifty Years + Cristian Espinoza G. , Cryptex Finance & Ethereum Honduras + Mateo Daza, Giveth.io + Manu Alzuru, DoinGudHQ
Monday october 10th - Andina Stage
15:30-16:00
https://ethlatam.org/

@laurenluz:

Event: Sustainable blockchain summit
Talk title: “Reimagining the Money Game”
St

[2022-10-06 18:29] oyealmond commented on #899
Hey @laurenluz and @c0ric0ri ! Here's our Most Asked Questions and Common Twitter Scenarios guide
(is a work in progress and I will be complementing with more cases coming). If you want to start reviewing 👉🏼 https://docs.google.com/document/d/1cCEBCbnptMEsoQGNCIuBD09gGgT5kPVzMQg6blSXmgI/edit?usp=sharing

[2022-10-06 21:34] laurenluz commented on #906
@c0ric0ri can we get your eyes on this? looks like there is some musings about creating a blog about the radicle/giveth partnership. if you could help to spec that out, make a new issue & then see who can take it (and when) would be great!

@SnakeGH I can make a quote, but tbh I think it's better if Griff does it as a co-founder (which I am totally not!) :)

[2022-10-06 21:43] oyealmond opened #922 "Share GIVpower AMA Twitter Space recording"
Dear Twitter team! @c0ric0ri @laurenluz

Could you please schedule the recording for our last Twitter Space whenever is best?
Hope this copy is useful:

https://docs.google.com/document/d/1NWvZgj1HYj9B67HMyRHnqwMp6igCJRc79csLS_-dL7U/edit?usp=sharing

[2022-10-06 22:20] c0ric0ri commented on #921
Hey @laurenluz , the first draft is ready for review here! https://docs.google.com/document/d/1_IYoArBgbFhLKAzOQWAUYQHzwbmmoEWg_oJbQFWR04k/edit

[2022-10-06 23:22] laurenluz commented on #922
nice - I scheduled it for monday (minor edits) - thanks!

[2022-10-06 23:22] #900 closed

[2022-10-06 23:23] laurenluz commented on #922
ooh hey almond -please add these tweet issues to the twitter epic next time too:
![image](https://user-images.githubusercontent.com/75490971/194435910-e92ef7ce-ef64-462d-b70c-4ef8f23868a1.png)

[2022-10-06 23:25] laurenluz opened #923 "Tweet - call for GIVgarden delegates"
We should tell people that they can nominate themselves for Tao votes in a single tweet or short thread

https://forum.giveth.io/t/open-call-for-givgarden-delegates/772

[2022-10-06 23:26] laurenluz opened #924 "Tweet - remind people of angel vault"

[2022-10-07 08:37] SnakeGH commented on #902
@laurenluz I went ahead and added TGB info to not only this shared doc but to our CRM Hubspot

Also the doc should be completely open for all to comment, please let me know if that is not the case

[2022-10-07 08:39] SnakeGH commented on #912
@ahmadabugosh - @laurenluz has added me to the telegram group and I have added all of TGB participants to our CRM...now we wait for a response. Consider this issue closed now?

[2022-10-07 09:45] danelsuga commented on #872
This is looking great.

[2022-10-07 09:58] SnakeGH commented on #912
Cool, those questions have all been addressed / proposed in the latest TG message, let's see if / when they respond then :) @ahmadabugosh

[2022-10-07 11:19] danelsuga commented on #907
Updating docs other issue:
https://github.com/Giveth/giveth-planning/issues/908

[2022-10-07 11:21] danelsuga commented on #794
My notes: https://docs.google.com/document/d/17i8QwcnHv0vIIDvGtx2XRAPWkOdlcaGSaYJHd_V-WOA/edit

[2022-10-07 12:43] rodricastillo9013 commented on #837
hi! if it seems like a good idea! @tropicalmangos

[2022-10-07 12:57] rodricastillo9013 commented on #837
added the information that I had overlooked and made the changes! @SnakeGH @tropicalmangos

[2022-10-07 13:27] SnakeGH opened #925 "Tweet - Announce 5 Giveth Donor Survey $NICE winners"
Hey @c0ric0ri

For better organization, as discussed, here is the issue to have a tweet to announce the 5 winners of the donor survey reward.

**Priority** - in next week so maybe Tuesday Oct 12th or Wednesday Oct 13th

**Video I made to announce the winners** -https://www.loom.com/share/328722cef6c04f4b93bd5454459df4c3

**Message (but feel free to edit to better represent Giveth)** -

"Thank you

[2022-10-07 13:30] SnakeGH commented on #925
@laurenluz @oyealmond also tagging you, as I know you 3 are the Tweet Queens.

[2022-10-07 14:21] ahmadabugosh commented on #845
Yes seems so, I'm closing it

[2022-10-07 14:21] #845 closed

[2022-10-07 14:54] oyealmond commented on #922
Thank you so much @laurenluz ! I didn't found the Epic before. ✨

[2022-10-07 16:12] c0ric0ri commented on #925
Thanks @SnakeGH !

I reworked the draft a bit into a thread in the doc below. Let me know what you think @laurenluz

https://docs.google.com/document/d/1nWnqkVwE_nDy7hKHQd_stAFNFk--OMJx-PylFfzy35E/edit

[2022-10-07 16:57] WhyldWanderer opened #926 "We need more POAPs for GIVbacks Rounds..."
@rodricastillo9013

I used the Round 20 POAP design today and realized that we are coming up on the end of them.

I see that you and marko were experimenting with different styles.. were you able to choose one?
Which POAP should I use for Round 21? and can make enough so that I dont have to bug you again for a while?

[2022-10-07 17:54] oyealmond commented on #898
Hey dear team, prepared a planning doc for the next GIVpower workshop session.
Found will be better to destinate 1hr session to both targets projects & donors, and see if a second session is needed .
I will be creating separate issues for each accionable.
https://docs.google.com/document/d/1QaHl3ZM5Ga-EepBVvlKzmu_0rqPnA7nsatxDJHJKUrU/edit?usp=sharing

[2022-10-07 17:55] oyealmond commented on #897
This issue will be covered here: https://github.com/Giveth/giveth-planning/issues/898

[2022-10-07 18:02] oyealmond opened #927 "Send an email inviting Giveth database to GIVpower party Feb22!"
Hey @ahmadabugosh !
Could you help me send and email inviting the Giveth community to our next GIVpower workshop please?

[Here's the draft](https://docs.google.com/document/d/1QaHl3ZM5Ga-EepBVvlKzmu_0rqPnA7nsatxDJHJKUrU/edit?usp=sharing)

Feel free to edit the text.

[2022-10-07 18:06] oyealmond opened #928 "Tweets Promoting GIVpower Workshop - early Jan"
Hey dear team, whenever you can could you help me review and schedule whenever you find best, this tweets around our next GIVpower workshop?
@laurenluz @c0ric0ri

Found copies at the end of [this doc](https://docs.google.com/document/d/1QaHl3ZM5Ga-EepBVvlKzmu_0rqPnA7nsatxDJHJKUrU/edit?usp=sharing)

Thank you!

[2022-10-07 18:08] oyealmond commented on #898
Promoting tweets issue here: https://github.com/Giveth/giveth-planning/issues/928
Sending an email to donors here: https://github.com/Giveth/giveth-planning/issues/927

[2022-10-07 19:06] laurenluz commented on #925
Thanks both! I edited it a little in tweet hunter & queued up for next week.

[2022-10-08 06:48] SnakeGH commented on #925
@c0ric0ri @laurenluz really AMAZING edits...thanks and can't wait to see it on Tuesday!

[2022-10-08 11:36] SnakeGH commented on #902
Thanks @divine-comedian for adding what you know, I have a couple follow up on the contact info, please let me know.

@laurenluz @WhyldWanderer hoping you might be able to assist too with some info?

[2022-10-10 15:25] Tosinolawale commented on #920
HI guys, still waiting on update for this.

[2022-10-10 15:47] Tosinolawale commented on #920
Hi @c0ric0ri Would love to have the survey ready and sent out before this week's community call. So just go over the draft on your end, edit and make comments and I will prepare the typeform when we are good to go.(Hopefully before Thursday)

[2022-10-10 16:20] NikolaCreatrix commented on #879
Yes, our rhythm was successfully adjusted. @laurenluz :)

[2022-10-10 17:48] c0ric0ri commented on #921
https://twitter.com/Givethio/status/1578747800199860225?s=20&t=dVvAZRoXo4Ir5nlL9oHY4Q

[2022-10-10 17:49] #921 closed

[2022-10-10 17:53] c0ric0ri commented on #928
Hey @oyealmond when do you want this ready by? I'm trying to prioritize reviews by urgency right now

[2022-10-10 18:10] laurenluz commented on #884
https://twitter.com/Givethio/status/1579472577742995462

[2022-10-10 18:10] #884 closed

[2022-10-10 18:10] laurenluz commented on #922
https://twitter.com/Givethio/status/1579472577742995462

[2022-10-10 18:10] #922 closed

[2022-10-10 18:10] laurenluz commented on #882
https://twitter.com/Givethio/status/1579110215487815681

[2022-10-10 18:10] #882 closed

[2022-10-10 18:11] laurenluz commented on #919
https://twitter.com/Givethio/status/1578385414087491587

[2022-10-10 18:11] #919 closed

[2022-10-10 18:20] laurenluz commented on #851
Scheduled for Oct 12, 19 & 26

[2022-10-10 18:22] laurenluz commented on #898
Hey @oyealmond I think this is amazing, but also thinking perhaps we should postpone until GIVpower boosting is launched...

Since we don't actually have everything ready for people to use yet, I think it might be better to wait until we do. Wdyt?

[2022-10-10 18:34] c0ric0ri opened #929 "Blog Post Radicle/Giveth Partnership"
This issue is specifically for creation of a blog post around the use case for a partnership between Radicle and Giveth.

https://duckweed-growth.notion.site/Giveth-Radicle-Partnership-Post-WIP-f388262d96134948ad0f7f1dff573a88

According to the timeline below (copied from the original issue), it should be ready to go live in the 7th week of the media plan. @SnakeGH around when would that be, by th

[2022-10-10 18:36] laurenluz commented on #918
looking good friends! I left some comments in the doc. @oyealmond do we have any prepwork done for this twitter space? I'm not 100% what we'll talk about in it and would love to give some feedback

[2022-10-10 18:36] c0ric0ri commented on #906
For sure. Issue https://github.com/Giveth/giveth-planning/issues/929 has been created for the blog post.

[2022-10-10 18:40] laurenluz opened #930 "GIVbacks round 20 is out! tweet"
@c0ric0ri could you write up a quick draft for this? It might be cool to mention that it was our longest round ever (because of the shift) and that more then 1M GIV went out (the exact number, I think you could look up)

It's kind of a fun version of our regular tweet

[2022-10-10 18:41] laurenluz commented on #930
oooh and $nice went out too.

Here are the links, would be cool to make it a lil' thread. If you post a draft here sometime before tomorrow americas monring, I can do a final edit & post.

[2022-10-10 18:42] laurenluz commented on #930
Sept 16th - October 4th
https://poap.delivery/givbacksround20
Also $nice went out
forum post: https://forum.giveth.io/t/round-20-givbacks-nice-distribution/847

[2022-10-10 20:56] c0ric0ri commented on #930
@laurenluz here's the draft!

https://docs.google.com/document/d/1-rQyt5NkfjupdF_rchV753HrdzEuwqk7FDJKgwUo9us/edit

[2022-10-10 21:35] NikolaCreatrix opened #931 "Tweet Thread Verified projects R21"
Hi there, alright here we come with the next tweet thread about verified projects.

https://docs.google.com/document/d/1g990c4Nrg2Knrx5PvCIeeqMfGWXuvb6Hzxox82o4h74/edit?usp=sharing

Let me know if it all makes sense or I shall correct anything. :)

@c0ric0ri

Also, not sure if you want me to keep creating separate issues like this one or if you have now a different system. Just let me know what wo

[2022-10-10 21:38] NikolaCreatrix commented on #860
Great work team! :) Let's set up a sync up call to evaluate and start planning on the next one. Maybe we wait until after the Devcon if it feels better for you @oyealmond & @WhyldWanderer ;) I want you to have fun overthere.

[2022-10-10 21:47] #862 closed

[2022-10-10 21:57] NikolaCreatrix commented on #868
Hey @oyealmond Okeke had some tech issues and asked me to help deliver his testimonial.

He sent 3 versions, those files are too big to share here or via discord.

So I am uploading it on wetransfer: you should be able to download it here https://we.tl/t-txoXpGgbqN

Please let me know if it worked.

[2022-10-10 22:00] NikolaCreatrix commented on #761
Hey @c0ric0ri I feel like my part was to gather the questions, so thats done. Now we have all the questions, but the final work IMO was to actually answer those questions and share with the giveth audience in some way, and that I am not sure, was decided?

[2022-10-11 13:31] danelsuga commented on #872
It would be great to set up another "Giveth Essentials" presentation as an AMA for core team to learn about the roadmap and how to answer some tough questions when onboarding new folks.

[2022-10-11 13:33] danelsuga commented on #907
I will do this on Wednesday or Friday (Oct. 12 or 14) when I have time.

[2022-10-11 13:33] SnakeGH commented on #837
Ok, ICHI got me the twitter and discord increase for both them and Giveth but does anyone know the answer to this question? Once I have it, I can close up this issue and finalize the Partnership Pitch Deck

1.) What would be the answer to this....Angel Vault staking participation increased with new net inflows of $XXX thanks to the collaboration.

@divine-comedian @laurenluz maybe you can help or

[2022-10-11 13:34] danelsuga commented on #707
I am advancing on this article.

[2022-10-11 13:38] SnakeGH commented on #902
Anything highlighted in yellow I need everyone's assistance please.

@GriffGreen I'm sure you would be a great resource for filling this in, if you had a moment please

[2022-10-11 13:47] ahmadabugosh commented on #837
@SnakeGH I mean if you just want to see participation on the Giveth Angel Vault, you can see the data here (and add up the token value amounts): https://etherscan.io/address/0xc3151A58d519B94E915f66B044De3E55F77c2dd9#tokentxns

[2022-10-11 14:22] franculio opened #932 "Project Donating"
Update https://docs.giveth.io/dapps/projectdonating

[2022-10-11 14:22] franculio opened #933 "Create a Project"
Update https://docs.giveth.io/dapps/createproject

[2022-10-11 14:22] franculio opened #934 "Getting started"
Update https://docs.giveth.io/dapps/gettingStarted

[2022-10-11 14:23] franculio opened #935 "FAQ"
Make https://docs.giveth.io/dapps/faq/ match to https://giveth.io/faq

[2022-10-11 14:23] franculio opened #936 "Torus user guide"
Update https://docs.giveth.io/dapps/torusUserGuide/

[2022-10-11 14:23] franculio opened #937 "Torus onramp"
Update https://docs.giveth.io/dapps/torusonramp/

[2022-10-11 14:24] franculio opened #938 "Donating with Metamask"

[2022-10-11 14:25] franculio opened #939 "Replace image in Intro"
Replace photos in https://docs.giveth.io/dapps/givethIO

[2022-10-11 14:27] franculio commented on #908
Thanks @c0ric0ri for making this an epic! I've already created the issues for each update. I'll be working on this this week.

[2022-10-11 14:39] oyealmond commented on #851
You're the best! thank you @laurenluz !

[2022-10-11 14:40] oyealmond commented on #898
A 100% agree. Thank you for the feedback and for being aware of this. We can use this materials later. @laurenluz

[2022-10-11 14:41] danelsuga commented on #907
I will not say no to that! Thanks @tropicalmangos !!

[2022-10-11 14:44] SnakeGH commented on #724
Hey Team, I compiled the highest voted or selected answers in our donor survey result excel and turned them into PERSONAS that are now available for review and commenting.

Please have a look at my Miro board, as it is full of really good feedback we can use in all areas of our Comms; Donor, Project, Partnerships or simply broadcasting and where to broadcast our important items.

https://miro.com/

[2022-10-11 14:45] oyealmond commented on #872
Love it! @laurenluz would you be down to give a Giveth essentials session of how to represent Giveth next Friday October 21 at 8am Costa Rica Time? The theme is "how to shill Giveth" and this is the draft of the agenda we can follow during the session https://docs.google.com/document/d/1pzVEZGMLA4EgA892TIv5aTxm2aZ0ItmkxTFNwEjgjRQ/edit?usp=sharing

I think We will have more than enough time to invi

[2022-10-11 15:35] SnakeGH commented on #837
@tropicalmangos good news is Lauren has connected me directly with ICHI and so I was able to collect the twitter / discord increase for both groups :)

@ahmadabugosh but I am not sure I can filter it to see the increase due directly to the partnership...

[2022-10-11 15:52] ahmadabugosh commented on #739
Thanks @SymSL, nice work!

I edited and uploaded your video here: https://youtu.be/S6B9bf0GMpk

@WhyldWanderer can you give it a watch and let us know if it's good to go live?

[2022-10-11 15:55] c0ric0ri opened #940 "Tweet About the Giveth DAO"
Would be great to have a recurring Tweet on things around the Giveth DAO.

Examples: Interesting things about the DAO, why do we do things, Praise, new things we're testing / implementing, learnings...

[2022-10-11 15:57] c0ric0ri opened #941 "Tweet Humans Behind Giveth"
Recurring tweet highlighting contributors of Giveth. This could be easily used across other social media platforms.

We can create our own version of course, but here's one example:

https://twitter.com/TrustedSeed/status/1580565064788344834?s=20&t=maFqy2mV_TbmhKNnwQWaGA

[2022-10-11 16:00] oyealmond opened #942 "Meet The Makers Twitter Space Planning"
Hey dear Team :)
Here's the planning for our next Twitter Space with Kolektivo Festival and ReFi Spring.

Let me know your thoughts
https://docs.google.com/document/d/1-YwdWKDgyzG58lQla-EhmIpmSnqPoSSwGvHVhLblT0c/edit?usp=sharing

[2022-10-11 16:45] c0ric0ri commented on #734
Thanks @oyealmond for jumping in on this one!

[2022-10-11 16:51] oyealmond commented on #918
Ofc. You can find the details in this issue - https://github.com/Giveth/giveth-planning/issues/942
- Twitter Space planning, and comms around.
@laurenluz @c0ric0ri

[2022-10-11 16:57] c0ric0ri commented on #761
@oyealmond @danelsuga let's circle back to this for Giveth Essentials

Can you please add issue 872 here?

[2022-10-11 16:59] danelsuga commented on #872
@NikolaCreatrix you might want to check this out too! Related to #761

[2022-10-11 16:59] danelsuga commented on #761
#872 Representing Giveth External Comms

[2022-10-11 17:24] oyealmond commented on #868
Thank you dear @NikolaCreatrix ! He sent me those to me too!
I will download yours as well. Ty!

[2022-10-11 17:25] oyealmond commented on #882
Loved the edits. Ty @laurenluz !

[2022-10-11 17:27] oyealmond commented on #915
@tropicalmangos here's one :)

[2022-10-11 17:27] oyealmond commented on #800
here's another one @tropicalmangos

[2022-10-11 17:28] oyealmond commented on #820
Here's another one @tropicalmangos

[2022-10-11 17:32] NikolaCreatrix opened #943 "New Verified Projects Tweet Thread R22"
Creating this ongoing issue based on the last comms call discussion.

To start I am adding a link to the current tweet thread for R21 here in the issue #931 which is ready for review.

For the next rounds, I will compile all previous tweet threads into one document to have one place of reference for all the previous rounds.

With the next one, I will just post a draft here and tag 'ready for revie

[2022-10-11 17:45] NikolaCreatrix opened #944 "How to post an update to your project"
I would love to help with this one.
As we implement the mandatory updates, we noticed that some users assumed that editing their project page will do it, so obviously, we need to be more clear on this, and creating a short little guide section in our docs would be very helpful and easy to refer to...

So in the USER Guides section of the Giveth docs, this one called 'How to post an update to your

[2022-10-11 21:20] WhyldWanderer commented on #806
Email sent!
We will look at the results on Friday to see if more projects have made updates.

[2022-10-11 21:45] divine-comedian commented on #837
You can see some data here that i gathered while investigating GIVfarm fees
https://docs.google.com/spreadsheets/d/1QOLRZRATg6Z0UpYImRBk-OfcwDxU76RtFZpudHJ4zLE/edit?usp=sharing

[2022-10-12 09:02] danelsuga commented on #920
Hi. I did some editing of the survey. Great job with thorough ideas. However, it seems really long! I also noted that a few of the questions could be combined or at least shifted so that they are together. See my comments. Great job!

[2022-10-12 09:20] clara-zi commented on #848
Been doing project highlights for the short while I've been covering FB / LI - I could take something like this @c0ric0ri - is this something to add to epic?

[2022-10-12 13:29] divine-comedian commented on #912
I would and have been in favour of removing the integration - especially with mandatory updates coming this just going to get messier

if they haven't taken any effort to work with us in the last 4 months they probably won't do anything meaningful in the short-term and this just going to make more headaches for comms and devs alike.

[2022-10-12 13:45] tropicalmangos opened #945 "Email Marketing Campaigns"
Create email marketing campaigns to optimize donations, projects and partnerships

Notion doc covering overview here :

https://www.notion.so/giveth/User-Journeys-2e2ee04d333d4315b78b617dbcaab488

[2022-10-12 13:45] tropicalmangos opened #946 "Onboarding Email Campaign"
Create an email campaign to onboard new subscribers who join our newsletter. Onboarding will include things such as: explaining what giveth is about, how to make the most out of giveth, how to donate, how to create projects etc.

[2022-10-12 13:46] tropicalmangos opened #947 "Re-engagement Campaign"
Create an email campaign funnel to re-engage existing newsletter subscribers

[2022-10-12 13:47] tropicalmangos opened #948 "Fundraising Campaign"
Create an email campaign funnel to fundraise from our existing newsletter subscribers (get donations)

[2022-10-12 14:22] clara-zi opened #949 "Good quality photos and Graphics - collection for social media"
We need a shared space to compile good quality images for Giveth social media

[2022-10-12 15:07] MoeNick commented on #865
Hey @ahmadabugosh
all changes applied to  https://staging.giveth.io/  please take a look,
Let's go live if you can confirm :)

[2022-10-12 16:10] dework-integration[bot] opened #950 "Translate Angel Vault documentation to Portuguese"
[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/giveth/giveth-planning-1?taskId=3225f3b0-0504-4416-817d-159902d169f6)

[2022-10-12 16:49] dework-integration[bot] opened #951 "Translate Angel Vault and GIVpower documentation to Turkish"
We recently launched angel vault and GIVpower while we have the documentation in English having the Portuguese version will be important to inform local users on how to use this new farming program!

 The original documentation articles can be found here:
 <https://docs.giveth.io/angelVault/>

<https://docs.giveth.io/giveconomy/givpower/>

 and inside our Github repo here you can see the placehold

[2022-10-12 16:51] Tosinolawale commented on #920
Thank you @danelsuga, @WhyldWanderer and @c0ric0ri

[2022-10-12 16:53] Tosinolawale commented on #920
Will go through them all. Really appreciate this.

[2022-10-12 17:22] c0ric0ri commented on #931
Awesome job @NikolaCreatrix thanks for this! I made some minor tweaks for you to confirm, and also left a few comments for you to check.

[2022-10-12 19:15] Tosinolawale commented on #920
https://giveth.typeform.com/to/UBOpjhhq

That is the generated typeform for the survey @WhyldWanderer @danelsuga @c0ric0ri

[2022-10-12 19:34] ahmadabugosh commented on #865
hey @MoeNick!

I left a note on Discord, but pasting here too for visibility.  I think it's good to go, but I have a couple of comments:

1) I noticed there are still test categories 'Test & Filter', 'TestMary', 'testmary02'. Will those be removed in production?

2) Once it's live, as a new issue can you give us a sheet with a list of all of the projects and their categories, so we can sort them a

[2022-10-12 19:38] MoeNick commented on #865
Hey @ahmadabugosh 1- yes they will be removed 2- sure 👌

[2022-10-13 13:20] c0ric0ri commented on #930
https://twitter.com/Givethio/status/1579835001931194369?s=20&t=0wiLevSpJhREHgbec75h7Q

[2022-10-13 13:20] #930 closed

[2022-10-13 13:22] c0ric0ri commented on #695
@SnakeGH @rainerhoell @clara-zi triple checking, am I good to close this? Are these names in Hubspot now?

[2022-10-13 13:26] c0ric0ri commented on #899
hey @oyealmond just making sure, do we want to keep this issue open now for the AMA document?

If yes, please rename this to Twitter Engagement Guide or something like that so we have this pinpointed to something specific we're creating. I'm also moving this to In Progress :)

[2022-10-13 13:30] c0ric0ri commented on #811
Hey @WhyldWanderer have you had a chance to review this? Do we need more eyes on this to tag?

[2022-10-13 13:39] c0ric0ri commented on #926
Hey @rodricastillo9013 have you seen this? :)

[2022-10-13 13:41] c0ric0ri commented on #929
@SnakeGH and I are checking with Radicle for more clarity on this spec, we are waiting for them to get back to us.

[2022-10-13 15:27] oyealmond commented on #899
Ready @c0ric0ri ! Ty! Yes please, let's keep it open as this is still a work in progress :)

[2022-10-13 22:06] c0ric0ri commented on #846
I'll turn this into an epic so we can organize these various pieces of content.

@Cotabe we will need a lot more context added here of course. Is that something you can provide, or who is involved?

[2022-10-13 22:24] c0ric0ri commented on #865
Hey @laurenluz we'll need to create a tweet thread around this. Would you be willing to take that?

Either we set it up as it's own independent thread, or we batch it together with another upcoming feature update as part of our recurring content (we have an issue for dApp updates). But it seems this one could be standalone.

[2022-10-13 22:37] c0ric0ri commented on #925
https://twitter.com/Givethio/status/1580559738701586433?s=20&t=maFqy2mV_TbmhKNnwQWaGA

[2022-10-13 22:37] #925 closed

[2022-10-14 12:20] SnakeGH commented on #837
ICHI and with the help of @divine-comedian and @laurenluz have ensured this deck is complete and put to bed.

I am closing the issue so go ahead and download yourself a copy for distro, when speaking with potentially new parters

@Cotabe would you be so kind to add it to the shared drive of Giveth decks, pitches, docs, etc. ???

https://docs.google.com/presentation/d/16pus0-911X7drZU3hUOEfI3wod13X

[2022-10-14 12:20] #837 closed

[2022-10-14 13:27] danelsuga commented on #907
How's it going @tropicalmangos ? I sent in @laurenluz's suggested changes as a pull request for now, but you/we/I can and should modify until we've got the best we can do!

[2022-10-16 23:23] laurenluz opened #952 "Tweet Thread on Devcon - Biggest Web3 Opportunity Talk"
Starting here: https://docs.google.com/document/d/100rokGI4aHBQ71JcDXyKECwCB5wea8vu8rV8JknTJy8/edit

Slides; https://docs.google.com/presentation/d/1jaD4R11dJxraWXYUBHZh_qdTjSyQDh7w3I3dDP2OaY4/edit#slide=id.g1643f9f897f_0_0

Talk: https://www.youtube.com/watch?v=SAVvu-5Kg7o&t=19105s

[2022-10-16 23:24] laurenluz opened #953 "Tweet Thread on - Reimaginig the Money Game talk"
Talk: https://www.youtube.com/watch?v=bUA3FX6XSeU

[2022-10-17 07:04] ahmadabugosh opened #954 "Soundbite clips from Devcon"

[2022-10-17 07:07] ahmadabugosh commented on #954
Hey @c0ric0ri @danelsuga,

Can you help out by providing me with a couple of soundbites timestamps from these 2 Devcon talks so I can clip videos for social media?

1) Griff's biggest web3 opportunity https://www.youtube.com/watch?v=SAVvu-5Kg7o&t=19105s
2) Lauren's reimagining the money game: https://www.youtube.com/watch?v=bUA3FX6XSeU&ab_channel=Filecoin

[2022-10-17 09:07] danelsuga commented on #907
I said, "I will not say no!" (An expression which means yes, wow, thank you.) 🤣

[2022-10-17 09:56] danelsuga commented on #907
Sorry about that!

In the explanation of this issue, Lauren asks for an upgrade to the text of "What Is Giveth?" and à way to incorporate the roadmap there are well. I put in her suggested text for the first part, but I think we ought to fine tune it. Secondly, we can find a way to incorporate the roadmap as well. Maybe you can help brainstorm where/how to incorporate that roadmap? Thanks for jump

[2022-10-17 12:28] SnakeGH commented on #725
I didn't create a "form" for say, but I did create this Miro board with some donor personas I have initially created using feedback from our donor survey, which had over 85 takers! Go ahead and review and let me know your thoughts / comments

https://miro.com/app/board/uXjVPQDoICc=/

[2022-10-17 13:39] ahmadabugosh commented on #904
hey @c0ric0ri, what time range are you thinking of (or do you have a certain format in mind)? Google Analytics just started collecting data this week, so we may have more going forward, but here are some top stats I found (I think doing them by quarter might be more impressive than biweekly) :

For Q3 2022 (July to September 2022)
- 558 K USD in Donations that went directly to projects
- 232 new p

[2022-10-17 13:52] ahmadabugosh commented on #836
Hey @MoeNick I was going through the backlog and saw this. Is this the video that you were thinking of embedding on the donation page or having as a popup?

We have [this video](https://www.youtube.com/watch?v=UlaXjiamHZk&ab_channel=Giveth) here from the Donor series we made earlier. If you're working on this @tropicalmangos , maybe you can make a new version of that video with anything that it's

[2022-10-17 13:57] ahmadabugosh commented on #917
hey @tropicalmangos , should we close this issue, since you created https://github.com/Giveth/giveth-planning/issues/945 ?

[2022-10-17 15:23] c0ric0ri opened #955 "Twilighting Giveth Trace"
-reaching out to projects to let them know about their options
-Twitter communications to give people a head's up

[2022-10-17 16:25] c0ric0ri commented on #954
Hey @SymSL would be awesome if you can jump on this one!

At least 45 seconds and up to 2 minutes are good for clips, maybe you can grab a few per talk?

[2022-10-17 17:11] SymSL opened #956 "Content Test Issue: AngelVault"
Details of the project: Any channels

[2022-10-17 19:02] ahmadabugosh commented on #836
@tropicalmangos no worries!

In that case, can you look at [this video](https://www.youtube.com/watch?v=UlaXjiamHZk&ab_channel=Giveth) and see if anything is missing from what you had in mind? Then if you can make a script (just an overview in a Google doc of what you want to have mentioned in the video) we can bring it up in the comms meeting to find someone to record it.

[2022-10-17 20:38] c0ric0ri commented on #738
Hey @ahmadabugosh @oyealmond I think I do need support with recording this, I am struggling to find the time and don't want to be the bottleneck on this

@oyealmond would you be ok taking this over?

[2022-10-17 20:41] c0ric0ri commented on #894
Tweets Posted:

https://twitter.com/Givethio/status/1580962081934671877

https://twitter.com/Givethio/status/1582059639105294339

[2022-10-17 20:41] #894 closed

[2022-10-17 20:43] c0ric0ri commented on #779
@oyealmond just going to move the Giveth Planning status to "Closed" since we have the link here now, and this issue is tied to the GIVpower Epic so we can reference it there.

Great job!!

[2022-10-17 20:43] #779 closed

[2022-10-17 21:24] c0ric0ri commented on #942
hey @oyealmond the tweets are reviewed, would be great if you check the edits. Just can't find the link on Twitter. Is this space scheduled?

Please drop @laurenluz the link to include so we can get the posts out, thank you!

[2022-10-17 21:30] c0ric0ri commented on #931
Hey @NikolaCreatrix friendly reminder to please check the edits :)

@laurenluz we should schedule this one soon!

[2022-10-17 21:31] c0ric0ri commented on #905
So cool! Moving this to Done :)

[2022-10-18 02:53] oyealmond commented on #872
yes! We're having the first one this Friday 8am Costa Rica time :) @danelsuga
Ty @laurenluz & @franculio !

[2022-10-18 03:22] oyealmond commented on #761
Ordered the questions, and highlighted the most repetitive ones in the How to represent Giveth guide.  -
I answered some of them - needs to be reviewed  @danelsuga @c0ric0ri

https://docs.google.com/document/d/1pzVEZGMLA4EgA892TIv5aTxm2aZ0ItmkxTFNwEjgjRQ/edit?usp=sharing

Excellent to have this issue to include the Most asked questions! Ty @NikolaCreatrix !

[2022-10-18 04:52] danelsuga commented on #872
Ok.

Where is the info?

[2022-10-18 13:01] MoeNick commented on #836
If a user with a locked wallet (not-connected) we don't have a clue which network the user is using, so we can't list the supported token list. @tropicalmangos
If you connect your wallet you can see them.

[2022-10-18 13:07] MoeNick commented on #836
This has been provided by Design team, they suggested putting "connect your wallet" in the Donation button (as you can see in your picture)

[2022-10-18 13:09] MoeNick commented on #836
just a heads up that this page will be changing soon to add a DOnation Handler to add a top-up donation for Giveth.

[2022-10-18 13:18] danelsuga commented on #907
Thanks!! I don't think there is a google doc, if that's what you mean. In the first post of the issue is the Giveth doc to be modified.

[2022-10-18 13:34] c0ric0ri opened #957 "RegenFarms Twitter Space"
We have some new developments for our RegenFarms and it would be great to host a Twitter Space around this topic to bring more attention to the concept.

- We have new RegenFarm in the works coming up with The Standard (https://www.thestandard.io/)

- We just had a new RegenFarm go live yesterday with ShapeShift

The Standard has just reached out to us requesting some comms collaborations around t

[2022-10-18 14:01] c0ric0ri commented on #820
@oyealmond @tropicalmangos this isn't a recurring piece of content, is it? It's just a one-time piece.

[2022-10-18 14:06] c0ric0ri commented on #915
@oyealmond this seems like a one-time piece of content, not sure it belongs under the Recurring epic?

[2022-10-18 14:11] c0ric0ri opened #958 "Tweet about The Standard RegenFarm & Partnership"
To be posted October 19th or 20th

[2022-10-18 14:32] c0ric0ri commented on #903
Just want to add in here that we can flush out an easier process for the future. Right now we're looking at how content requests flow to the Comms teams, and to avoid this extra work for @MoeNick I'm thinking we can have all the new issue requests that are created around feature updates simply tagged to an Epic.

This Epic can then be referenced monthly by the Comms Team when we're creating these

[2022-10-18 14:41] c0ric0ri commented on #903
Not yet, need a little more time to properly sort out the process. Just wanted to indicate that we're working on it. Will provide updates once I have them!

[2022-10-18 14:46] WhyldWanderer commented on #902
More info from Community Building Sync call notes:
![image](https://user-images.githubusercontent.com/74267818/196463795-841dc72f-cf1c-419a-8bd6-bbbf8dcee05f.png)

[2022-10-18 14:57] SymSL commented on #954
Thanks! Have got these so far from Lauren's talk:

0.16- 1.01
6.44-7.10
7.21-9.07
9.17-10.52

Will get some from Griff later this evening

[2022-10-18 15:00] oyealmond commented on #820
Exactly @tropicalmangos ! @laurenluz shared several interviews with foundational concepts to create different pieces for the recurring content around the human/educational vertical.
We will work on this pieces to have a couple ready this week

[2022-10-18 15:07] oyealmond opened #959 "The Biggest Web3 Opportunity No One is Talking About! - Devcon 2022 Tweet"
@tropicalmangos  & @oyealmond to create a tweet thread around Griff's Devcon Bogotá talk - https://www.youtube.com/watch?v=DBGoX7DON54

[2022-10-18 15:07] oyealmond commented on #959
FYI @c0ric0ri @laurenluz

[2022-10-18 15:16] MohammadPCh commented on #905
@laurenluz  @rodricastillo9013 Thanks,
It's good to have separate text and background, so then we can handle some situations like this:
![image](https://user-images.githubusercontent.com/17097576/196471524-9cfffa1a-e9b4-4632-b5fb-e400416c7916.png)

[2022-10-18 15:45] oyealmond opened #960 "Reimagining the Money Game - Lauren Luz - Tweet Thread"
@tropicalmangos & @oyealmond to create a Tweet Thread around Reimagining the Money Game x Lauren Luz , presentation that happened in the SBS Bogotá 2022

 https://www.youtube.com/watch?v=bUA3FX6XSeU&list=PL_0VrY55uV1-mrfuGiZK4-rNTcYxURA5J&index=11&t=109s

[2022-10-18 15:46] oyealmond commented on #960
FYI @c0ric0ri @laurenluz

[2022-10-18 16:38] c0ric0ri commented on #949
@danelsuga

[2022-10-18 16:40] c0ric0ri commented on #949
@clara-zi can you drop the google drive link here?

Let's also add videos in here!

[2022-10-18 16:42] danelsuga commented on #949
Photos! https://drive.google.com/drive/u/0/folders/16uWHF97kfTGr2Jp_EmNXLDqN3GxiyVhz

[2022-10-18 16:48] oyealmond commented on #957
hey @c0ric0ri ! Thank you for this initiative! Is great. The only thing is, can we schedule for Nov 2th 9am CT | 4pm CET . You have the contact for The Standard and I have the contact for ShapeShift. Only Cult DAO contact will be missing. Do you have a contact to share with me?

Also , @c0ric0ri would you be down to host? Or would you like to. nominate someone else?
This Twitter Space will happen

[2022-10-18 16:53] danelsuga commented on #872
Friday 16h00 CET
@laurenluz

Thanks @oyealmond !

[2022-10-18 17:12] clara-zi opened #961 "Comms WG tasks / scope of work summary"
Review Comms summary of tasks in Comms section of this doc:

https://docs.google.com/document/d/1KkvL4rIpLZEzKyZkV3_lWpHuhRUGSYQe0d64IHiNz8w/edit#heading=h.wxk4vozcy2k4

1) Add tasks that are missing
2) Comment if tasks are no longer relevant / out of scope
3) Add any other comments
4) WG group description?

[2022-10-18 18:11] laurenluz commented on #955
https://forum.giveth.io/t/the-future-of-giveth-trace/842/6

[2022-10-18 18:24] franculio commented on #872
Hey @danelsuga ! here's the discord event! Sorry for the delay https://discord.com/events/679428761438912522/1031986648222806137

[2022-10-18 18:38] laurenluz commented on #907
@tropicalmangos @danelsuga - let's keep this issue to one assign-y... I spoke with @danelsuga about this in our buddy call because it's a good issue for her as someone who is really familiar with the Giveth messaging & roadmap.

@tropicalmangos will message you with some suggestions for tasks you can pick up.

@danelsuga if you want some feedback after you have a draft, feel free to tag mango or a

[2022-10-18 18:46] laurenluz commented on #953
@ahmadabugosh @SymSL - when the soundbite is ready for this one, post it here, and I'll send out a thread ;)

[2022-10-18 18:48] laurenluz commented on #923
no clear deadline for this, but it would be great to get out sometime within a 2-3 weeks.

anyone can take on writing a draft for it.

[2022-10-18 18:49] laurenluz commented on #924
we should post this within 2-3 weeks, anyone can take this on drafting

[2022-10-18 18:50] laurenluz commented on #794
@danelsuga can you make it comment access?

[2022-10-18 18:51] laurenluz commented on #794
@tropicalmangos I think this would be a great content writing issue for you. The purpose is to take griff's talk (Cori transcribed it, and suga made some notes)... and turn it into a blog explaining the Giveth roadmap.

Are you down to take a stab at it?

[2022-10-18 18:58] laurenluz opened #962 "Tweet - DAOist talk w/ Mateo & Cotabe"
Can someone find this video? and prep a soundbite for it?

and then just write a single tweet to shill it in a fun way?

Would be nice to have some kind of prep work done late this week or early next week.

[2022-10-18 18:58] laurenluz commented on #962
this is semi-low-pri

[2022-10-18 19:00] laurenluz opened #963 "tweet about eth latam panel w/ mateo"
mateo was on a public goods panel in spanish.

would be so fun to find a great soundbite from this and write a short tweet to shill it.

soundbite can be in spanish w/ the bulk of the message in the tweet in english.

@oyealmond can you find this talk and take this?

[2022-10-18 19:54] WhyldWanderer commented on #872
I had a chance to review the guide document @oyealmond! It looks good to me...

I look forward to seeing you guys on Friday. If I think of any other questions, Ill make sure to put them in the doc.. I know I had some faq's from devcon also

[2022-10-18 21:25] #959 closed

[2022-10-18 21:40] NikolaCreatrix commented on #931
Hey @c0ric0ri thanks for the reminder! I loved your suggestions and thanks for couching me on how to improve my work.

It should be good to go now.

[2022-10-18 21:49] oyealmond commented on #952
Hi team! ✨ @laurenluz also the comms team is planning Sound bites for your talk and Griff's talk here -
https://github.com/Giveth/giveth-planning/issues/954

@c0ric0ri @ahmadabugosh

[2022-10-18 21:51] oyealmond commented on #954
Hey @ahmadabugosh @c0ric0ri @SymSL !
Also Im working for sound bites for this Mateo , public goods panel -
Find it on hr 5:54

https://www.youtube.com/watch?v=gvYaRfQgBKg

Issue here - https://github.com/Giveth/giveth-planning/issues/963

[2022-10-18 23:00] oyealmond commented on #963
Love it!

Here are Mateo's soundbites (He did great btw!!) -
From hr 5:54:00
https://www.youtube.com/watch?v=gvYaRfQgBKg

@ahmadabugosh could you help me edit it please?

**Times for soundbites**
5:55:52 - 5:57:03 - "Mi nombre es Mateo" - "Por esto"
6:03:22 - 6:04:42 - "Coordinación en mi opinión" - "Poquito más sostenibles"
6:08:34 - 6:09:29  "Las ideas" - "esta un poco subestimado"

@laurenluz
h

[2022-10-19 08:38] SymSL commented on #954
Griff so far, will add more later
5.19.27 - 5.20.29
5.20.35 - 5.22.09
5.22.35 - 5.24.17
5.24.20 - 5.26.09

[2022-10-19 12:19] laurenluz commented on #963
@oyealmond this is great - can you please write out the entire clip (in spanish) for the soundbites? @ahmadabugosh will need this to prep the video.

[2022-10-19 14:01] laurenluz commented on #846
They drafted a suggestion in here:
https://github.com/Giveth/GIVeconomy/issues/628

I don't think this merits a blog post, we can make a tweet thread and go from there.

[2022-10-19 14:05] ahmadabugosh commented on #963
@oyealmond yes, I need it the whole quote written in Spanish, because I'll definitely make a mistake if I just take it as is 😅

[2022-10-19 14:07] ahmadabugosh commented on #953
hey @laurenluz I have 4 soundbites ready here (in the Devcon 2022 tab): https://docs.google.com/spreadsheets/d/1KoVy2Ttvo3Q3GxnFx-6pNS01VfvgjDok95aNY9JKTik/edit#gid=374624886

My favorite is 2 and 3, although 4 has a nice overview of GIVpower.

If you want to download the video, when you click the link, click on "Share" then Download the mp4.

[2022-10-19 14:11] MoeNick commented on #903
Hey all, sorry I was not aware of this. These days I'm struggling with Internet Connection and playing with VPNs more than everything...
So, what I got from your comments, I have to prepare some DApps updates content for tweets. I can do it. Do we have a template over it so that I can have a clue what to do?
So we have to tweet updates for Sep and Oct ? and the end of this month?

[2022-10-19 14:29] oyealmond commented on #963
Hey @ahmadabugosh ! no worries! these are really short quotes, so I dont have any problem writting the whole statement. No worries! doing it right away

[2022-10-19 15:15] laurenluz opened #967 "Post Updates to Giveth Project"
This is a recurring content issue... we should make an update to the Giveth project at least once every 3 months.

This next one should be live by Oct 22.

https://giveth.io/project/the-giveth-community-of-makers

The update should include a short summary of important things that happened since we last posted an updated. Information could be collected from the past newsletters (because they includ

[2022-10-19 15:21] laurenluz opened #968 "Post Updates to the Giveth Matching pool projecct"
This is a recurring content issue... we should make an update to the Giveth matching pool project at least once every 3 months.

This next one should be live by Oct 29.

https://giveth.io/project/Giveth-Matching-Pool-0

The update should include a short summary of important things that happened since we last posted an updated. Information could be collected from [this forum post](https://forum.giv

[2022-10-19 16:31] mateodaza opened #969 "Giveth @ ETH Medellin"
On Wednesday 19th of October I'll be guiding a workshop focused on raising funding for web3 startups for ETH Medellin at Ruta N

Here's the [info](https://www.ethmedellin.co/event-details/web-3-0-masterclass-learn-the-fundamentals-with-tropykus-finance-giveth-evento-en-espanol)!

It's a in presence event, I think I'll have @WhyldWanderer supporting there as she's in the city :)

Let's strategize f

[2022-10-19 16:40] #960 closed

[2022-10-19 16:46] laurenluz commented on #969
https://twitter.com/Givethio/status/1582775112583221249

[2022-10-19 16:46] #969 closed

[2022-10-19 17:05] oyealmond commented on #963
hey @ahmadabugosh !
[Here's the whole transcription for the soundbites. ](https://docs.google.com/document/d/1uqZM_pseaQdVgF-sUjgFBZFQTNdVD4CD5YtjEv6ffWQ/edit?usp=sharing)

Let me know if this works or if I need to add something else.

[2022-10-19 17:11] c0ric0ri commented on #794
@tropicalmangos that would be great, yes. We have a backlog of content and really need support with writing at the moment. This is an important piece that is higher priority to complete.

Do you think you could get a first draft going by early next week?

[2022-10-19 17:44] c0ric0ri commented on #941
Another example: https://twitter.com/thestandard_io/status/1581987308571545600?s=20&t=VZJ7shKg0VEUJo96__-beA

[2022-10-19 17:52] c0ric0ri commented on #958
https://docs.google.com/document/d/1lzhh7c0sAFC8SRhY_UK7VbVOdaarlRCHDd-VlKapeVQ/edit

@laurenluz for October 20th ideally. I thought pointing to the forum post is best for this one.

[2022-10-19 18:00] c0ric0ri commented on #942
Recording link: https://twitter.com/i/spaces/1dRKZMooOPDxB?s=20

[2022-10-19 18:14] laurenluz opened #970 "Grants Applications Hunt"
@tropicalmangos is going to help apply for various web3 & nonprofit grants!

This is a super critical issue for getting funding for Giveth

[2022-10-19 18:14] laurenluz commented on #970
@tropicalmangos please feel free to add some more context to this issue

[2022-10-19 18:28] laurenluz commented on #968
@danelsuga  - Mango is going to take on the other issue - could you do this one?

[2022-10-19 18:34] danelsuga commented on #968
I can try to do this as requested. However I do not have the bandwidth to have a draft in the next days.

[2022-10-19 18:50] oyealmond opened #971 "Tweet about the ReFi Spring and Kolektivo Recording Twitter Space."
Hey dear team!

Could we schedule a Tweet sharing the recording of the Twitter Space @c0ric0ri hosted today please? ✨

[Here's the draft](https://docs.google.com/document/d/1APP7SaOYb3ZHCD7yA9sVlD8Lfb4nvLti54yEbknj9zg/edit?usp=sharing)

[2022-10-19 18:52] oyealmond commented on #942
Issue around tweeting the Recording of the Twitter Space here https://github.com/Giveth/giveth-planning/issues/971

[2022-10-19 19:34] oyealmond commented on #738
No worries @c0ric0ri I got you.

@ahmadabugosh , [I made a scrip for you to help me review it first so I can record it ](https://docs.google.com/document/d/1viH6KDzRk7iLAAihU_rXss1Exg-nIEDX2N-FSxEwk0A/edit?usp=sharing) . Please feel free to add any changes without asking.

[2022-10-19 19:42] oyealmond commented on #734
@ahmadabugosh [Found this very complete draft](https://drive.google.com/file/d/1nyZgswEbmKKdz1R-SCt3P5wVo4qdwuaV/view ) .

Is this person still interested in doing the video? If not, I could just re do with my voice using the same script just adding the  multiple recipient addresses features.

https://github.com/Giveth/giveth-planning/issues/882#issuecomment-1273659618

[2022-10-19 20:40] c0ric0ri commented on #954
Hey @ahmadabugosh , I'm thinking if you have the first few already done it would be great to get the link here as you keep working through the rest!

We can simultaneously start reviewing them and schedule the first few for posts this week :)

[2022-10-19 20:40] c0ric0ri commented on #931
@laurenluz this is good to schedule!

[2022-10-19 20:44] c0ric0ri commented on #739
Hey @WhyldWanderer can you review and confirm by tomorrow so if we need to correct anything we can still do that this week? Would be great to move this one to done!

[2022-10-19 20:48] c0ric0ri commented on #901
Hey @divine-comedian @Danibelle maybe you want to weigh in on this list? Not sure who would be best to tag, who is aware of the competitive landscape for donation platforms. But this seems like a great initiative from Jake for review.

[2022-10-19 21:01] laurenluz commented on #954
Hey @ahmadabugosh - maybe this isn't worth your time to adjust, but nonprofits is actually one word, no hyphen. A lot of people make that mistake.

[2022-10-19 21:05] laurenluz commented on #954
argh, in the last clip for reimagining the money game "GIV tokens"  not "give tokens"
![image](https://user-images.githubusercontent.com/75490971/196804022-9f8ef4e0-5107-4181-9599-48a9f27c514a.png)

[2022-10-19 21:12] laurenluz commented on #954
Hey @SymSL @oyealmond - in the future, we should keep these clips to like 30 s MAX. When they get to be a 1min plus, they become a lot harder to understand... everything taken out of context... not really this "bite sized talk snippet" you know?

Imagine you are just scrolling through twitter... what words/sentences will catch your eye?

I like clip #2 for the reimagining the money game talk, as a

[2022-10-19 21:19] oyealmond commented on #954
mm, yur right. Ty for the feedback! @laurenluz

[2022-10-19 21:32] laurenluz commented on #968
Awesome! when do you think you could do it? it's a short issue, not more than a paragraph or two. should be post live by the latest Oct 29.

[2022-10-19 21:47] laurenluz commented on #954
@ahmadabugosh shortened all the clips for reimagining the money game and they are all GREAT.

[2022-10-19 21:50] laurenluz commented on #958
scheduled for tomorrow!

[2022-10-19 21:56] laurenluz commented on #920
Hey @Tosinolawale, taking a look at this, I think it should really be broken up into multiple surverys.. one for each topic. some people may not be "verified project owners" and may only be interested in GIVpower, for example.

Having it all together makes it prohibitively cumbersome and I don't think we will get much engagement.

[2022-10-19 22:05] laurenluz commented on #931
Thanks friends! scheduled for this week.

[2022-10-19 22:14] laurenluz commented on #846
iceboxing this... too many projects with limited bandwidth, we should return to this after radicle, optimism, etc.

[2022-10-19 22:19] laurenluz commented on #971
left a comment @oyealmond

[2022-10-19 22:21] laurenluz commented on #953
Amazing @ahmadabugosh I'll get on this this week.

[2022-10-19 22:43] laurenluz commented on #957
I made a thread w/ you @oyealmond and my contacts from Cult.
Also looping in @Cotabe here who might be interested in knowing about this!

[2022-10-19 22:44] laurenluz commented on #957
Once we get the parties' consent, we should great a group DM on discord w/ all attendees so that they can be looped in on the prep!

[2022-10-19 22:46] laurenluz commented on #905
@rodricastillo9013 can you separate them for Cherik?

[2022-10-19 22:49] oyealmond commented on #868
Hey @ahmadabugosh , [here's the first project video. ](https://drive.google.com/file/d/1DlB-RpKiqhixuLoY1RMODgxoUyuU9q9H/view?usp=sharing )

I did a very simple cut with subtitles.

The idea is to post it along with[ this Tweet. ](https://docs.google.com/document/d/1gtZ6l5pIZl_6r6oMdWoZCghuF-rFtDypQLKiSE23wA0/edit?usp=sharing).

Can you share some feedback?
Sharing the second video in a while

[2022-10-19 22:52] oyealmond commented on #913
Hey @c0ric0ri !
This is an issue that was created around having a session around Twitter. Basically the same session you and me discussed today.

Just pointing this out to use this same issue to organize it.

[2022-10-19 22:57] oyealmond commented on #957
You're the best @laurenluz ! Thank you!
I have a call with @c0ric0ri today, shared me will be great to have someone more knowledgable around the Farms hosting (and she will be happy to co-host). Asked @Cotabe already and he's down to host Nov 2.

Thank you for the group! yeeeeey

[2022-10-20 03:06] Tosinolawale commented on #920
Yeah. @mosaeedi and I had a discussion on this too. We've actually considered having multi surveys for each feature, and I think that will make more sense too. The only drawback here is how overwhelming it can also be sending three or four surveys out at once.

[2022-10-20 05:40] danelsuga commented on #954
Oxford hyphenates non-profit (which is considered an older term; most folks nowadays use not-for-profit) but no one else.

[2022-10-20 07:33] SymSL commented on #954
Okay I'll do some max 30 seconds during today. I thought they'd be used as teaser sound bites posted with a link to the full talk, but makes total sense to have them shorter if they will be tweet threads

[2022-10-20 08:22] danelsuga commented on #968
Oh, I see. No problem. Will do asap!

[2022-10-20 08:31] danelsuga commented on #968
Any updates on this front?

"We are also in conversation with Gitcoin about their upcoming dGrants product and hope to work with them in the future to use dGrants on Giveth for donation matching."

[2022-10-20 11:29] ahmadabugosh commented on #952
@laurenluz @oyealmond @c0ric0ri soundbites are also done on this sheet: https://docs.google.com/spreadsheets/d/1KoVy2Ttvo3Q3GxnFx-6pNS01VfvgjDok95aNY9JKTik/edit#gid=374624886

[2022-10-20 11:31] ahmadabugosh commented on #963
Hey @oyealmond I made the first one here: https://share.descript.com/view/uamGyovXJUB

Let me know if it's ok and check for typos because I don't know Spanish. Also, let me know if one is ok or if you need the other 2, because it's a bit time consuming for me in Spanish (maybe I can show you how to use the software later?) 🙏

[2022-10-20 12:45] WhyldWanderer commented on #739
Looks good..
One suggestion: Maybe we want to link this document in the description?
https://docs.giveth.io/whatisgiveth/fundraisingGuide/

Besides that, I think we can move this one to done!

[2022-10-20 13:01] ahmadabugosh commented on #738
Thanks @oyealmond great work! I made some edits on the doc, and it should be ready to record now. 🙏

[2022-10-20 13:24] #739 closed

[2022-10-20 13:50] WhyldWanderer commented on #685
I found this... https://www.youtube.com/watch?v=PNGAJuE_XTk

[2022-10-20 13:54] ahmadabugosh commented on #734
Hey @oyealmond I think this one is fine (no need for your help), I can add a voice over or popup that explains the multi address section

[2022-10-20 14:19] oyealmond commented on #963
Hey @ahmadabugosh ! Is perfect! Only one thing, can you remove this "a" please? -

<img width="401" alt="Captura de Pantalla 2022-10-20 a la(s) 9 16 56" src="https://user-images.githubusercontent.com/110692280/196974179-1f296ce8-1da0-4251-bf02-d7dcec8b2c7b.png">

Can you please help me with one more soundbite?
Is shorter than the one you did. [Is here in the doc](https://docs.google.com/document/d

[2022-10-20 14:28] ahmadabugosh commented on #963
No worries @oyealmond ! Here is the updated link fixing the typo: https://share.descript.com/view/E17ea9AeLxH

I'll work on the other one and try to send it by tomorrow :)

[2022-10-20 14:51] rodricastillo9013 commented on #905
so
<img width="589" alt="Group 659" src="https://user-images.githubusercontent.com/61791380/196982765-41adbf6c-2125-46fa-873b-06c505fdabcd.png">
<img width="1440" alt="Frame 2465" src="https://user-images.githubusercontent.com/61791380/196982769-be4538a2-37b4-44ac-8bb1-b47c7d81a11c.png">
rry for the delay @MohammadPCh

[2022-10-20 14:52] oyealmond commented on #963
Yeeey! ty so much! and please, I will be super happy to learn how to use the tool so we can create more of this. I think they're great

[2022-10-20 14:56] oyealmond commented on #738
yeyy! I will record it today. Thank you @ahmadabugosh !!!

[2022-10-20 15:48] laurenluz commented on #920
I think it is less overwhelming overall and will produce better results. We could make a twitter thread... with one line in each tweet. Or a few bullets in an email... with one survey on each link.

Then people can pick & chose which ones apply to then. @Tosinolawale

[2022-10-20 15:48] #879 closed, assigned to WhyldWanderer

[2022-10-20 16:45] laurenluz commented on #912
Griff's objection is that we will lose many verified projects... going from "over 1000" to "200"? @WhyldWanderer @NikolaCreatrix what are they actual numbers here? What is our rate of increase for verified projects?

I like the idea of working with another org to get pre-vetted projects integrated... and hopefully they would be a better collaborative partner.

[2022-10-20 16:49] CarlosQ96 commented on #912
We have 205 verified projects today. Two weeks ago it was 195. This is excluding any imported projects from third parties like givingblocks and change.

Change suggested in a chat, making like a voting system so people can browse their projects and vote to include it in the platform.

[2022-10-20 17:01] WhyldWanderer commented on #912
yeah... I think we can replace GB projects with Change projects. I have a call with supahshah to talk about what the integration could look like.

As far as rate of increase... like 2 - 7 per round

I would have to agree with Griff here that we should be able to proudly say that we have over 1000 verified projects even if it means holding on the the GB integration until we find a solution. Its a m

[2022-10-20 17:13] GriffGreen commented on #912
Yeah. If the investor convos weren't happening, i would go for quality of quantity... but there is no need to unintegrate with TGB until we have already integrated with someone more cooperative that brings our total to over 1000

Also, until we are added to Gemini it might be best to keep the integration as that helps our case to be added.

[2022-10-20 18:19] NikolaCreatrix commented on #738
Wow! Beautiful work you guys, looking forward to watching it!

[2022-10-20 18:33] laurenluz commented on #912
alright, so we can icebox this and make a new issue for integrating Change

[2022-10-20 18:34] laurenluz opened #972 "Integrate Change for verified projects"
Following discussion in #912 we are looking for a new partner for pre-vetted verified projects to replace TGB.

@whyldwanderer is looking into integration with Change.

[2022-10-20 18:41] NikolaCreatrix commented on #761
Excellent work preparing the next essentials session. Looking forward to it!!! TY @oyealmond

[2022-10-20 18:45] laurenluz commented on #954
They are being used as teasers with links to the full talk... via twitter / social media.

Also... the clips chosen for Griff's talk... they don't really really get to the punch parts of the talk. They're ok, totally usable... but it would been nice to see something about the difference between donation games & economic games... a big central point of his talk is that solving the public goods prob

[2022-10-20 18:53] laurenluz commented on #865
@c0ric0ri yeah I can write it

[2022-10-20 18:53] laurenluz commented on #953
clip to set to post this sunday. I will use the others as well later, they are great!

[2022-10-20 19:07] SnakeGH commented on #912
So that communication on the telegram thread doesn't get stale or weird, should I do anything to keep it alive at this point or ice box that as well?

[2022-10-20 19:52] SymSL commented on #954
Hey there, not sure if the clips you're mentioning were mine, there's alot
on this thread, but I've only gotten through the first section of both
yours and Griffs talks (was told these are time sensitive so have gotten
them out asap), so there were still more sections coming. The intention
being to have as many as possible to use for a long time as teasers for the
talk. If it's really only a few o

[2022-10-20 20:10] laurenluz commented on #954
we can use them later, but talks don't have the longest ever shelf life. the reason for getting them out soon is to share about the talk while the ideas are still fresh, the conference is still recent & peope still care.

The ideal outcome is to get a key central message of the talk... short, punchy points. 20-30s. Process should be:
- someone listens to the talks & makes 4-5 suggestions
- someone

[2022-10-20 20:26] laurenluz commented on #912
I would just say something like "ok, thanks for letting us know" ish... then let it die.

[2022-10-20 20:28] laurenluz commented on #968
oh yeah, Griff & I are having a call with them next week. Going to try to share some of our dev resources to work together

[2022-10-20 21:35] ahmadabugosh commented on #963
Hey @oyealmond let me know if this works for the second soundbite: https://share.descript.com/view/8ZyuzpC1NJm

For sure, maybe it would be easier if I record a short video to show the process

[2022-10-20 22:45] oyealmond commented on #963
yes! A loom will work perfect! uhoo!

only 2 things and we are good to go:

Here the word is **empoderar**

<img width="396" alt="Captura de Pantalla 2022-10-20 a la(s) 17 41 41" src="https://user-images.githubusercontent.com/110692280/197073024-0db1e51b-bc9b-4a4c-bbe9-25c0be1adee8.png">

And here should say **DAOs**

<img width="400" alt="Captura de Pantalla 2022-10-20 a la(s) 17 42 12" src="http

[2022-10-21 06:50] SnakeGH commented on #912
I sent this follow up to leave the door open but also put a little damper on the broken relationship

"Thanks for the response, Alex, as we appreciate it, but definitely unfortunate to hear, as it would have been really great to see this partnership grow and strengthen ASAP.

I'm sure we will all be back in touch, but until then, we will look forward to the time, when these mutual projects will in

[2022-10-21 06:53] ahmadabugosh commented on #963
@oyealmond let me know if this is ok: https://share.descript.com/view/bP3VqxuxoMG

[2022-10-21 06:55] danelsuga commented on #968
Ok, great. So that itself will be the update on that front! Thanks.

[2022-10-21 09:49] clara-zi commented on #868
@NikolaCreatrix @ahmadabugosh Will, project owner, from Grassroots Economics is up for doing an interview.

https://giveth.io/project/grassroots-economics-community-currency-0
http://grassrootseconomics.org/

Can share contact details in dm and will add to CRM (@SnakeGH ;) )

[2022-10-21 10:22] ahmadabugosh commented on #734
This is video is ready for review @WhyldWanderer @NikolaCreatrix https://youtu.be/zOYo-ZtChY4

[2022-10-21 10:46] ahmadabugosh commented on #731
This one is done (it was just a simple short overview intro video, so I think no need for QA): https://www.youtube.com/watch?v=QgC05uGTaZo&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=1

[2022-10-21 11:15] danelsuga commented on #968
OK, @laurenluz, here's a draft!

https://docs.google.com/document/d/1iN8WvkNpRpWhUsVluWylQIpzzyeVvkz0sZNg5g6adtg/edit?usp=sharing

[2022-10-21 11:20] ahmadabugosh commented on #732
Hey @laurenluz thanks for recording this! I think it's a really good comprehensive overview. I did some basic editing and posted it, let me know if you're ok with taking it live: https://www.youtube.com/watch?v=c7q3UDIzniU

[2022-10-21 12:00] ahmadabugosh commented on #812
I did some minor edits and uploaded the video here: https://www.youtube.com/watch?v=QO6iQgnKvfw

I'm thinking of including it as a bonus video at the end of the Project Donors 101 playlist. Wdyt @WhyldWanderer ?

[2022-10-21 12:44] c0ric0ri commented on #958
https://twitter.com/Givethio/status/1583096462812102661?s=20&t=RRO2VNouTe2Z7Xr0GRp5pg

[2022-10-21 12:48] c0ric0ri opened #973 "The Standard <> Giveth Partnership Launch"
We are launching a RegenFarm with The Standard, who has requested some communications to announce the partnership, the farm, and their upcoming IBCO (if we are willing).

We have agreed to:

- an announcement tweet on Oct 19 or 20 to tease about the farm and upcoming partnership
- a Twitter space centered around RegenFarms including The Standard, Shapeshift & Cult DAO RegenFarm partners. We can pr

[2022-10-21 12:51] #958 closed

[2022-10-21 13:01] c0ric0ri commented on #962
@ahmadabugosh @Cotabe I don't think recordings are up for The DAOIst, but if you hear updates or find them please post a link here!

[2022-10-21 13:42] c0ric0ri commented on #907
Hey @danelsuga ! Would you please provide an estimate date for a first draft on this, what you think is within your capacity?

This is in reference to our discussion around timeline estimates in the Comms meeting this week, I'll be putting out reminders for a bit. :)

[2022-10-21 13:57] oyealmond commented on #963
Perfect! ty @ahmadabugosh !
@laurenluz , [tweet thread draft is here for your review :) ](https://docs.google.com/document/d/1uqZM_pseaQdVgF-sUjgFBZFQTNdVD4CD5YtjEv6ffWQ/edit?usp=sharing)

[2022-10-21 14:15] divine-comedian commented on #901
sorry I'm not super knowledgeable in this arena! probably @GriffGreen

[2022-10-21 16:29] laurenluz commented on #732
is there anyway that you could cut a little back and forth between my screen share & my face? it looks a little funny to see my tiny face in the corner covered up by the giveth logo

![image](https://user-images.githubusercontent.com/75490971/197244474-09c8443b-a9da-4a59-b440-6addd58d7e28.png)

[2022-10-21 16:31] laurenluz commented on #732
if not. I think it's totally fine!!

[2022-10-21 16:59] laurenluz commented on #968
Hey @danelsuga ! Made some edits & posted - thanks!

Apparently ( I didn't realize before) there was a limit to 2000 characters so I had to cut it down on the fly.

Here it is: https://giveth.io/project/Giveth-Matching-Pool-0

[2022-10-21 16:59] laurenluz commented on #967
@tropicalmangos FYI there is a limit of 2000 characters!

[2022-10-21 17:12] laurenluz commented on #912
cool, that's all good. Although the line "when these mutual projects will increase in financial support" is really confusing to me.

[2022-10-21 17:22] laurenluz commented on #963
@oyealmond reviewed - check it out

[2022-10-21 17:25] c0ric0ri commented on #887
Working via this draft: https://docs.google.com/document/d/1z66askHlAKa6VZX8dBOSlVg-l2fldR_jH5u_ULCPDns/edit#

[2022-10-21 17:30] laurenluz opened #974 "GIVpower Boosting Documentation"
We need to explain:
- how multipler affects GIVpower
- how to use GIVpower
- first project gets 100% of GIVpower
- you allocate percentages to projects, and then the % on other projects decreases proportionally
- ranking changes when the next round starts
- delegation will come soon (but you can apply to be a delegate now), what this means
- GIVpower tracking uses snapshots & averages them out
- G

[2022-10-21 17:31] c0ric0ri commented on #887
@oyealmond FYI we'll want to add in the Twitter space details here once we have it prepared for GIVpower.

[2022-10-21 17:59] NikolaCreatrix commented on #935
Hi @franculio Yess, happy to help.

Let's take the least sentence starting with 'If you would like to....' and let's say this:

"If you would like to apply to receive the 'Verified' badge, encourage more giving and give back to those who have helped you reach your goals, learn more about how to apply [here](https://docs.giveth.io/dapps/projectVerification/)."

so it links to the docs first.

Also

[2022-10-21 18:04] oyealmond commented on #963
Yey! Updated! @laurenluz

[2022-10-21 18:10] ahmadabugosh commented on #732
hey @laurenluz I don't think I can switch back and forth easily (since it looks like the file was recorded in one video track), but I did manage to make you bigger, and also made the background dim until you started showing something on your screen https://youtu.be/rAzsY8__lIU

[2022-10-21 18:21] laurenluz commented on #732
I think the dim background makes the video look kind of dark and unpleasant... and it's like that for so long at the beginning... maybe keep it bright? sorry for the nitpicking, I'm also just open to you leaving it as is. Up to your judgement.

[2022-10-21 18:26] NikolaCreatrix commented on #734
Great work @ahmadabugosh compiling bends and your work!

1# One thing that confused me was - when you come in with that wallet address prntscrn and start talking about recent changes - it is not clear how you have arrived at that little window printscreen. can you explain in there what is that we are looking at? Just because it doesn't look quite the same when I go to create a project...

![image]

[2022-10-21 18:31] laurenluz commented on #963
Awesome @oyealmond - I really like the first one. I scheduled it for Tuesday. I put the other one as a draft in tweet hunter that maybe we use on another day if the timing is right.

[2022-10-21 18:32] NikolaCreatrix commented on #868
Hi @clara-zi

What has been communicated to Will so far?
Does he have already specific expectations?

I am wondering if this would be interesting for @oyealmond since she has been putting some effort in this type of activity already.

[2022-10-21 18:58] laurenluz commented on #865
drafted & scheduled for monday.

[2022-10-21 18:58] ahmadabugosh commented on #732
@laurenluz All good that's why we have this review process :)

 Yeah I think making it lighter is a brighter video in general (let me know if you think it's better): https://www.youtube.com/watch?v=28zEiy9PQYc

[2022-10-21 19:01] laurenluz commented on #865
actually, scheduled for tomorrow.

Tired of scrolling to find causes you care about?

We have now made it easier for you to connect with projects you'll love!

🧵👇

Giveth categories now allow you to fine-tune your project search.

Choose from over 40 public goods categories including:
🎨 Art & Culture
🌱 Environment & Energy
🌉 Economics & Infrastructure

And more!
 [img:X-PKOa8lb]

🔎 Narrow your sea

[2022-10-21 19:04] laurenluz commented on #732
I like that better. last thought... when I start actually doing the screen sharing, it feels a little funny to have some of it cut off. especially on this page. can you make me smaller when the screen movement starts? otherwise if feels a bit frustrating to not be able to see well.

![image](https://user-images.githubusercontent.com/75490971/197270568-e4525d48-87af-469e-9c61-ee8fe3dc0167.png)

[2022-10-21 19:29] laurenluz commented on #974
existing documentation: https://docs.giveth.io/giveconomy/givpower

starting draft:  https://docs.google.com/document/d/1pIwsCE9k2rlnEVtbESLI2TxBJHwDio-JHFvhi4gsag0/edit

[2022-10-21 19:32] ahmadabugosh commented on #732
@laurenluz this better? https://www.youtube.com/watch?v=u5nUpYIbABE

[2022-10-21 20:10] ahmadabugosh commented on #734
Thanks @NikolaCreatrix great feedback!

I just edited both of those points (added video of the platform and added more voice over about not being able to use the same address for multiple projects). Let me know if this is better: https://youtu.be/sOtvDCAqV88

[2022-10-21 20:14] ahmadabugosh commented on #740
Hey @NikolaCreatrix can you help me out with just one small thing for this? If you can please just record your screen (not even a voice-over, just your screen using something like Loom.com etc) to show what it looks like when a project receives funds. This could include notifications you get (emails etc), what it looks like in your dashboard and what it looks like in your wallet + anything else yo

[2022-10-22 11:31] clara-zi commented on #868
@NikolaCreatrix Nothing specific, so far. He expressed an interest to be interview to talk about his project. We are at the start of the communication.

[2022-10-22 12:22] clara-zi commented on #868
@ahmadabugosh @WhyldWanderer @NikolaCreatrix @oyealmond
Nisria project (https://giveth.io/project/nisria) would be open to taking part in an 'interview' style clip.

[2022-10-22 16:39] SymSL commented on #954
Hey there,
I've done more +-30 second timestamping and split them into concepts. Some
can be used to promote the talk and some can be used as the evergreen
content. Ones marked with a * could be used for promoting the talk but any
would do for various audiences/channels

Economic games: 5.26.10 - 5.26.34
How Grant DAOs work: 5.27.50 - 5.28.18
Protocol funding: 5.30.21 - 5.30.41
GIVbacks: 5.31.15 -

[2022-10-22 16:39] clara-zi commented on #800
I can adapt Tweet for Facebook and suggest posting to LinkedIn also, since it has very little overhead from FB

[2022-10-22 18:35] danelsuga commented on #968
Oops, OK. Thanks!

[2022-10-22 18:35] #968 closed

[2022-10-22 20:09] danelsuga commented on #907
This can be done in a week. I've got here a draft.

https://docs.google.com/document/d/1I8xiDFtUZ1gbXhoS5buJNt9giy4C_C7Qky3gUgA75Xc/edit?usp=sharing

I didn't edit @divine-comedian's roadmap. Just wanted to get some feedback on the layout.

I designed it to have a succinct and impactful first paragraph. And then let the MVV remain, followed by the road map. Seemed like a good layout, since modifyi

[2022-10-22 20:41] GriffGreen opened #975 "Get the Coinmarketcap circulating supply connected to the same api coingecko is using"
Doneshould look like the Coinmarket cap website showin gthe same market cap as Coingecko

<img width="201" alt="Screen Shot 2022-10-22 at 2 41 28 PM" src="https://user-images.githubusercontent.com/14945613/197361596-115e578a-ec81-4569-abbe-90d7e495a308.png">
https://coinmarketcap.com/currencies/giveth/

[2022-10-23 23:49] oyealmond commented on #738
Hey dear team. [Here's the video](https://drive.google.com/file/d/1xSx8LgF7EU4LTlbmkkEOD4VYucaTtDdt/view?usp=sharing). Hope is useful :)
Let me know your thoughts

@NikolaCreatrix @ahmadabugosh

[2022-10-24 12:02] ahmadabugosh commented on #738
Amazing, great work @oyealmond! 🙌 I uploaded it here as an unlisted video here https://youtu.be/u8SytXVpxpQ. Once we get a final confirmation from @WhyldWanderer or @NikolaCreatrix I'll make it public

[2022-10-24 13:36] divine-comedian commented on #907
are you trying to spell assignee?

@danelsuga the roadmap isn't comprehensive - I made that quick draft to help yass pitch giveth's public goods angle to optimism

the biggest thing missing on there is GIVfi

[2022-10-24 13:56] danelsuga commented on #907
Ok! Thanks! Will take care of it.

[2022-10-24 14:08] #931 closed

[2022-10-24 14:10] #865 closed

[2022-10-24 14:40] laurenluz commented on #732
yeah! let's call it done

[2022-10-24 14:41] laurenluz commented on #970
thanks @tropicalmangos! I really appreciate the updates in this issue. I don't think I need to join that meeting, if you like, please post the conclusions in here :)

[2022-10-24 14:48] c0ric0ri commented on #893
Hey @oyealmond , we can move this into Done status right?

[2022-10-24 14:49] c0ric0ri commented on #875
@oyealmond does this still need to be reviewed, or what is the latest update?

[2022-10-24 14:54] c0ric0ri commented on #841
Hey @WhyldWanderer you wanted to comment here once the updates were live, so just checking in - has the documentation been updated?

I can change the name of this issue to reflect this and then close it.

[2022-10-24 14:57] laurenluz commented on #967
@tropicalmangos - this is a great start! love the structure & it's written very well. my main feedback is about the content chosen though - these sound more like twitter/comms updates... but the purpose of updating the giveth project is showing how we are using donations to make giveth better for its users. so basically showing people that we're using their money for something good.

keep the GIVp

[2022-10-24 15:02] c0ric0ri commented on #687
Hey @Cotabe @danelsuga @laurenluz if this info was imported to the CRM, do we still need this issue open?

[2022-10-24 15:07] laurenluz commented on #875
I think the pending rewording on #907 is pretty important here!

[2022-10-24 15:16] c0ric0ri commented on #726
Hey @SnakeGH it's been a couple months, could you please provide an update / any notes on this issue? Is it actively in progress, or on hold & we should move it to Backlog?

[2022-10-24 15:41] SnakeGH commented on #726
@tropicalmangos how is it going with your above purposed plan that you have put into action?

For me, my strategy for donor outreach has been the donor survey, web3 leaderboards, web3 sourcing / outreach via email, twitter and discord. I have also created a donor road map (GH issue 844) which outlines my strategy for outreach and continued comms.

[2022-10-24 15:44] oyealmond commented on #841
@franculio May also help on this as I believe you are now in the team in charge of updating the documentation?
. Franco we're trying to figure out if the Project Verification documentation is already updated with the latest info.

I recently checked and I didn't saw it updated yet.

[2022-10-24 15:57] oyealmond commented on #893
Yes! Thank you for chiming in on this @c0ric0ri !

[2022-10-24 15:59] laurenluz commented on #800
if you want to listen to the recording @clara-zi and draft some posts from it, that would be really cool. you could post here for feedback.

[2022-10-24 17:39] NikolaCreatrix commented on #740
Hii @ahmadabugosh
Catching up, @c0ric0ri really appreciate you pinging me in the discord!

Yeah okay, let's do that, Ahmad can we have a maybe super quick couch session on how to record my screen and I'm down to do this.
So we need to record:
- when a project receives funds - email notification, project's donation dashboard, showcase in wallet. Also maybe when receiving the GIV - how it looks on t

[2022-10-24 17:57] NikolaCreatrix commented on #738
I love the work, very well done @oyealmond , looks really great to me!

The only little tiny thing I wondered about while watching the video was - should we also mention that one of the new policies is -  A project can get their verified status revoked if they don't post any update for a 3 months period.

Sorry I didn't think of it earlier...

[2022-10-24 18:10] oyealmond commented on #738
I thought about that too, but I believe this is not deployed yet? @NikolaCreatrix

[2022-10-24 18:33] NikolaCreatrix commented on #738
@oyealmond it's not deployed because we don't want to revoke the majority of verified projects, which would be the case unfortunately at this point.

In a nutshell, we have been already sending email notifications about this for several weeks. Basically, we need more projects to post updates, teach them how to do it, etc...so the more communication channels we can communicate this, the better.

Fr

[2022-10-24 18:40] NikolaCreatrix commented on #734
So much better and clear, the transition feels also pretty smooth! Excellent work @ahmadabugosh :) I think it's good to GO!

[2022-10-24 18:54] NikolaCreatrix commented on #868
@clara-zi

I will make sure to keep them both in mind for MTM editions related to the theme these projects represent.

I see couple options for these projects you mentioned above.

- invite for twitter spaces Meet The Makers podcast produced by @oyealmond
- Miguels radio show the Sea of Hertz
- Self produced project testimonials - which I believe @oyealmond is collecting

Might be a good idea to g

[2022-10-24 21:17] laurenluz commented on #974
can only boost a max of 20 projects

[2022-10-24 21:53] laurenluz commented on #974
adjusting your boostings, you can click the lock to lock in changes. the other %s change according to?? what logic?

[2022-10-24 22:01] NikolaCreatrix commented on #738
here it's great, it is mentioned in the 2:19 timestamp.

The new part for the policies video I think would go well to the part starting on 1:17 timestamp where you already mention that verification status could be revoked...

![image](https://user-images.githubusercontent.com/100084867/197637838-0065eba3-781b-4d16-8444-7b92b948d64a.png)

Maybe just add one last sentence in this section of the pres

[2022-10-24 22:13] #734 closed

[2022-10-25 03:27] oyealmond commented on #738
Oh you're so right @NikolaCreatrix! In the first one is actually mentioned! Great! I will include in this new one as well :)

[2022-10-25 10:09] ahmadabugosh opened #976 "Figure out why Donor wallets are wrong in Autopilot"

[2022-10-25 10:15] ahmadabugosh commented on #976
@WhyldWanderer Brought to my attention that a lot of the Donor wallet addresses in Autopilot are incorrect. I believe this has happened in the last three weeks (since it was not the case when we sent the last GIVbacks email). It's also not the case with all records (for example mine and Ashley's are still correct) but many are wrong (like Griff's and Lauren's)

I recommend we 1) Look through Autop

[2022-10-25 11:24] franculio commented on #935
Thank you @NikolaCreatrix ! This is great, I'll add that little change to the FAQ, it was the only thing that I thought it needed to be different since we don't have the form anymore and we have the button.

About the Project Verification Process and Guidelines I did not have it in the epic but I'll create an issue to update it. I think the pic it's a great idea and I'll double check all the spell

[2022-10-25 13:18] c0ric0ri commented on #897
@oyealmond that issue you referenced is for project owners. Should we keep this issue open for a second workshop for donors? Or is this now a duplicate?

[2022-10-25 13:30] ahmadabugosh opened #977 "Newsletter October 2022"

[2022-10-25 13:34] ahmadabugosh commented on #977
Please comment what you'd like me to cover in this issue of the newsletter. So far I have

- GIVpower teaser for boosting
- New platform updates (categories)
- Projects 101 course (hopefully will be live by then!)
- ReFi Spring partnership
- New Shapeshift Fox GIVfarm
- Devcon talks

Anything else?
Also, I don't have a strong candidate for featured project...

[2022-10-25 13:37] c0ric0ri commented on #971
@oyealmond when this is out, please paste the link of the tweet here and move the issue to Closed

[2022-10-25 13:40] c0ric0ri commented on #928
Actually yes @oyealmond , I'll move this back to Backlog until we know we want to prioritize it for the week. I've also added it to the GIVpower Launch epic.

[2022-10-25 13:44] c0ric0ri commented on #901
Hey @SnakeGH, I'd suggest asking for feedback on this in Discord and in the Communitas working group

[2022-10-25 13:45] oyealmond commented on #971
Of course!
https://twitter.com/Givethio/status/1583458840057634816

@c0ric0ri

[2022-10-25 13:46] oyealmond commented on #897
This is a duplicate @c0ric0ri . We intended to make two workshops at first, one for projects and another one for donors.
But then we figured will be better to do just one two both: projects and donors.

[2022-10-25 13:47] clara-zi commented on #800
Yup - I'll start on it this evening.

[2022-10-25 13:50] #896 closed

[2022-10-25 13:55] clara-zi opened #978 "Project survey creation"
Reach out to projects to:
- understand their experiences and satisfaction level using the Giveth platform
- understanding of Giveth token / GIVeconomy
- whether they have been able to use the funds raised for their project

[2022-10-25 13:55] clara-zi commented on #978
https://docs.google.com/spreadsheets/d/1HfKMZd963TImW4ViudMLBNKTslHuyaQxUlJSEgKUNd0/edit?usp=sharing - draft for scope

[2022-10-25 13:57] WhyldWanderer commented on #670
I think it looks fine... its nice to have some reference of this for projects when they dont understand why the $ amount on their project and the $ amount in their wallet dont match.

Do you plan to put this in the docs @clara-zi? Maybe it would make sense to put it in this section?
https://docs.giveth.io/dapps/crypto

We should have one more reviewer and then this can go live in the docs

[2022-10-25 13:59] clara-zi commented on #948
There's no description yet, so not really sure what the issue is about but wondered if this doc is useful?
[is this relevant?](https://docs.google.com/document/d/1nqrhxv_-WpRM2lQBaAOiTBIUFWEszPJmVdOLZ08PBb8/edit?usp=sharing)

[2022-10-25 14:25] franculio opened #979 "Deprecate Giveth TRACE documentation"
Update information about the shutdown of Giveth TRACE in https://docs.giveth.io/dapps/introTrace

It would be nice to create some content about the experience that was Trace and why we decided to move away from it and still leave the record of the useful information about how it worked in the docs.

Maybe someone is interested in writing this? @c0ric0ri

[2022-10-25 14:35] SnakeGH commented on #901
@c0ric0ri its been dropped in discord and highlighted in Communitas and I believe even the Comms call, so at this point, everyone has added what they liked and I think we are at a good place with the current status of the doc.

Now I would close but I believe this doc will move as other leading platforms come up or even as they fall off, so let me know how to proceed with the issue.

[2022-10-25 14:50] franculio opened #980 "Project Verification Process"
Correct grammar, update picture and info in https://docs.giveth.io/dapps/projectVerification

[2022-10-25 14:52] franculio commented on #980
Following the request in the #935 from @NikolaCreatrix

[2022-10-25 14:52] franculio commented on #980
Following the request on #935 @NikolaCreatrix

[2022-10-25 15:03] tropicalmangos opened #981 "Create Lens Profile (Mirror Tweets on Lens)"
Lens is a new and fast growing Web 3 social media platform.
https://lenster.xyz/

While we may not have the resources at present to dedicate a lot of time to this, I think we can still take advantage of this blossoming ecosystem by mirroring our tweets on Lens through an integration (will be automated).

https://reflect.withlens.app/

If this platform really takes off, we'll have first movers adva

[2022-10-25 15:23] laurenluz opened #982 "Workshops/resources for projects to get more donors"
easy info for how givbacks work, how givpower works
suggested campaigns

[2022-10-25 15:54] SnakeGH commented on #902
Action Items:

-quickly review google doc and add points of contact with current partners
- Create Discord channel to have a direct communication channel.
- Set up a process and a structure from Giveth to us set our own terms.

What are we offering? (ideas)
Add them to the monthly newsletter.
Share their status in our social media.
Dedicated calls
Partner Twitter Spaces.

Here is a deck of thought

[2022-10-25 16:29] c0ric0ri commented on #952
@laurenluz has it targeted to work on this thread this week

[2022-10-25 16:34] c0ric0ri commented on #977
- Project need to update their listing every 3 months to maintain Verified status

[2022-10-25 16:40] c0ric0ri commented on #670
@SymSL would be great for you to review!

[2022-10-25 16:46] c0ric0ri opened #983 "Blog Post to Announce Project Owner 101 Video Course"
Would be great to have a draft of this by the end of this week, to be reviewed and finalized by early next week (Nov 1)

[2022-10-25 16:49] c0ric0ri opened #984 "Tweet Thread to Intro Project Owner 101 Course"

[2022-10-25 17:52] NikolaCreatrix commented on #727
Hi team, yeah I just went to double check and this seems to be implemented already. This is how the email looks like after minor edits @WhyldWanderer and I did recently. As you can see the email already does have the AMA invite in it.

This is what the project owner receives when their project gets published and listed.

![image](https://user-images.githubusercontent.com/100084867/197845851-460072

[2022-10-25 17:52] #727 closed

[2022-10-25 19:43] laurenluz commented on #794
Hey @tropicalmangos - this is a great start! excited to see some of the giveth roadmap pieces coming together for you. I think there are some parts that lack clarity still... and the trajectory isn't super clear yet.

I made some comments to try to guide it a little, have a look and please get back to me with some questions. one critical part to doing a good job w/ this I think is having a crystal

[2022-10-25 20:33] #702 closed

[2022-10-25 20:34] #781 closed

[2022-10-25 20:34] #905 closed

[2022-10-25 20:36] laurenluz commented on #687
did we actually end up onboarding any of these projects? I feel like a lot of time was spent on coorindating this... many weeks in fact - any success metrics?

if not we should discuss how to make this more impactful in the future.

Less time in for more results out. @Cotabe @danelsuga

[2022-10-25 21:44] #863 closed

[2022-10-25 21:44] oyealmond commented on #863
Ready @laurenluz !

[2022-10-25 23:13] oyealmond commented on #851
Dear team, I made more copies for @laurenluz to review and schedule our next AMA session. Quick reminder the AMA will be pushed 1 hr beginning Nov 2nd meaning 11am CT - 6pm CET

https://docs.google.com/document/d/1rn5doTwDiZD8N7yxaJQeENXF63d65jvrS4lEZDEmxTk/edit?usp=sharing

cc @c0ric0ri

[2022-10-25 23:29] oyealmond opened #985 "Promotion for RegenFarms Twitter Space (Nov 2nd)"
Hey dear team!

Here are the tweets to promote our amazing  next RegenFarms Twitter Space!
@laurenluz already reviewed some  .

https://docs.google.com/document/d/1e6xD0fQlzH3KC6mEj8VJMzYIVlyf2GzaJOXLgOrgPOo/edit?usp=sharing

@c0ric0ri in this doc you will also find the script for the session.

Thank you!

[2022-10-26 08:17] c0ric0ri opened #986 "Tweet Thread to Intro Project Owner 101 Course"
Plan to have a draft ready by Friday

[2022-10-26 10:06] danelsuga commented on #983
No idea what the issue was for the article on the donor course. I can't find it.

Here is the article itself:
https://medium.com/giveth/the-abcs-of-donating-on-giveth-6e3bd147397e

[2022-10-26 10:20] clara-zi commented on #800
timestamp: 7.42 (should we make a soundbite from this section)

FB / LI
"Think Giveth token is just another cryptocurrency?"
Wrong. GIV token holders can vote on:

- which new features are added to the platform
- which proposals get funding
- how the platform and community develops
- what projects and initiatives we continue to support

Here more from Lauren Luz on these topics and more in this in

[2022-10-26 10:43] danelsuga commented on #687
It looks to me @Cotabe got a lot of folks out of this actually. He can confirm. It can probably be closed as well, in any case. Await his response. :)

[2022-10-26 11:06] c0ric0ri opened #987 "PFP Launch Comms Planning"
Reviving this epic on Feb 1 with new updates, as the PFP Collection is now getting ready for launch!

https://docs.google.com/document/d/1L3UMKgq7nE0NNBSZg8aJp_m3iTyFpJ5bGHCbPW5ATGs/edit

We will need to prepare communications for social channels & our blog, including creating relevant media assets.

The idea is to start communications & generate hype around the collection at ETHdenver by offering

[2022-10-26 11:07] c0ric0ri commented on #987
Hey @tropicalmangos would be great if you can add your notes here about PFP launches!

[2022-10-26 11:08] c0ric0ri opened #988 "Video Teasing PFP Art"

[2022-10-26 11:08] c0ric0ri opened #989 "PFP Launch Blog Post"

[2022-10-26 11:09] c0ric0ri opened #990 "Tweets Promoting PFP Allow List"

[2022-10-26 11:09] c0ric0ri opened #991 "Twitter Thread PFP Launch - March 20"

[2022-10-26 11:47] franculio commented on #979
@danelsuga Maybe you're interested?

[2022-10-26 11:51] danelsuga commented on #979
Thanks but zero bandwidth at the moment.

[2022-10-26 12:03] franculio commented on #841
@oyealmond @c0ric0ri I created a separate issue in the docs update epic #980
You can close this one

[2022-10-26 12:14] franculio commented on #980
Here's what the update is looking. @danelsuga @NikolaCreatrix  Please take a look and correct anything that you see necessary.

https://docs.google.com/document/d/1Wn0UEQxP3TcRNM72mWmPy6pJYiDQnwBvlW_KYglg9pU/edit?usp=sharing

[2022-10-26 12:22] franculio commented on #955
Created an issue for updating the information about Trace in the docs as well #979

can it be added in this epic as well?

[2022-10-26 13:18] c0ric0ri commented on #979
@divine-comedian or @Danibelle is this something you could help us to draft?

[2022-10-26 13:48] divine-comedian commented on #976
@CarlosQ96 made some changes recently to the way we send events from our dapp into segment - this information is then forwarded to autopilot - could it be that some information is being sent or captured incorrectly.

[2022-10-26 13:51] c0ric0ri commented on #988
@laurenluz I was trying to find the issue for the GIVeconomy video (with the drums), do you have that? I thought that might provide some guidance on how to get this done.

[2022-10-26 13:59] danelsuga commented on #980
Great! Thanks! Gave it an editing pass. Thanks @franculio

[2022-10-26 14:10] franculio commented on #980
That was quick! Thank you so much @danelsuga !!!

[2022-10-26 14:37] c0ric0ri commented on #904
Hey @ahmadabugosh these are great. I'm thinking we share stats that would be interesting to various target groups, and showing progress in certain aspects. Timeline is really up to us on what want to highlight. We should properly brainstorm these - I've set up [a document here to work in](https://docs.google.com/document/d/1wgJC9Cw9UnXh2_QdQmKLuLc2pdgbOFCPkKw8sOmbsqM/edit).

Infographics are also

[2022-10-26 14:40] c0ric0ri commented on #904
@SymSL @clara-zi @tropicalmangos are there certain monthly stats you would add the doc?

[2022-10-26 14:42] danelsuga commented on #907
This has taken a backburner to the Project Owners 101 Course article I'm working on this week instead.

However, I had already written the preliminary text, which anyone is welcome to review.

https://docs.google.com/document/d/1I8xiDFtUZ1gbXhoS5buJNt9giy4C_C7Qky3gUgA75Xc/edit

[2022-10-26 14:43] danelsuga commented on #907
This has taken a backburner to the Project Owners 101 Course article I'm working on this week instead.

However, I had already written the first paragraph(s), which anyone is welcome to review.

https://docs.google.com/document/d/1I8xiDFtUZ1gbXhoS5buJNt9giy4C_C7Qky3gUgA75Xc/edit

[2022-10-26 14:50] divine-comedian commented on #974
first updated draft in!
https://docs.google.com/document/d/1pIwsCE9k2rlnEVtbESLI2TxBJHwDio-JHFvhi4gsag0/edit

please review - lots of content that you may not be able to see - working on a preview

[2022-10-26 14:50] CarlosQ96 commented on #976
The changes are currently only active on the new features like MandatoryUpdates, so that isn't the issue.

But I have two leads:
1. Segment Identify function is used to tie the email to a user.
      User changed it's email -> backend attempted to send update email -> fails -> old email remained in segment.
2. Identify User doesn't send the wallet, we have to add it to impact graph.

Question:
 Ho

[2022-10-26 15:25] laurenluz commented on #988
@c0ric0ri tbh I did most of the coordination with graymachine privately in DMs & calls. Here is the issue anyway: https://github.com/Giveth/giveth-planning/issues/285

[2022-10-26 15:55] laurenluz commented on #800
The first two lines here kind of rub me the wrong way. What are you assuming people thing cryptocurrencies are? Many tokens are governance tokens... Also I feel like saying "Wrong" like that is kind of harsh.

The rest is great, I would just revise the lead-in a little.

[2022-10-26 18:16] laurenluz commented on #952
draft is in here: https://docs.google.com/document/d/100rokGI4aHBQ71JcDXyKECwCB5wea8vu8rV8JknTJy8/edit

Will probably post tomorrow, if anyone feels so inclined to review before then, please do.

[2022-10-26 19:11] oyealmond commented on #952
added a couple of comments..This thread should have it's own Giveth Essential session. jojojo @laurenluz

[2022-10-26 21:34] divine-comedian commented on #979
I can draft a small paragraph and append it to all the relevant trace documentations - We'll need a translation in spanish, portuguese and turkish

[2022-10-27 12:57] oyealmond commented on #987
yeeey :) @c0ric0ri I think @tropicalmangos has excellent ideas around comms we can do for this.
I for sure will be working with her and supporting.

@laurenluz would be good to ask the person that makes videos for Giveth if is available?

[2022-10-27 16:47] laurenluz commented on #952
lolololol @oyealmond 🤣 - thanks for the comments! I incorporated. Posted today: https://twitter.com/Givethio/status/1585642002930028544

[2022-10-27 16:47] #952 closed

[2022-10-27 16:51] laurenluz commented on #987
We can ask him for sure - I can make a group DM w/ him? he wasn't cheap... who would be interested in managing this?

[2022-10-27 16:59] clara-zi commented on #800
Timestamp 6.03
Thread for all platforms (inc. Twitter) - need gif

"It’s a win-win situation:
Donors can give to projects they care about and we pay the donor with GIV, something they can use within Giveth or sell”.

wdyt about "sell" I know we're always keen to discourage from selling but I think it's important to include this to a 101 audience as it shows the token to have financial value, which

[2022-10-27 17:05] clara-zi commented on #800
I was thinking these threads are for 101 audience who may not even be aware that crypto can be used for anything other that storing value like Bitcoin. Those that have delved in deeper become aware over time that there are many more utilities for tokens. So, we're aiming at no so 101 level ;)

[2022-10-27 17:14] clara-zi commented on #800
Timestamp 20:25
Thread for all platforms (inc. Twitter) - need gif

"zero fee..no intermediaries…nothing skimmed off the top!
Giveth was always zero fee - not holding your funds, taking them away from you: funds go from the donor to the project!

[2022-10-27 17:40] oyealmond commented on #987
@tropicalmangos please L :)

[2022-10-27 17:51] clara-zi commented on #800
Timestamp 7:30
"Giveth is not only a platform for donations
it’s also an organisation: it’s a community, it’s a DAO – a decentralised autonomous organisation - with decentralised governance: we use GIV tokens to vote on important decisions"

[2022-10-27 18:01] clara-zi commented on #800
Timestamp 11:07

”Want to do something good for your community? Want to provide value to the people that live around you?

Be inspired by projects already raising funds with Giveth: here’s Lauren Luz and 'CoCreating our Future' sharing some examples of successful projects on Giveth.io”

"Create a project, inspire people and attract funding"

[2022-10-27 19:10] laurenluz commented on #985
scheduled them all! Thanks @oyealmond

[2022-10-27 19:23] clara-zi commented on #800
Timestamp 21:33

"Use your GIV tokens to vote AND earn!
Keep your tokens but stake them to earn interest, to earn more GIV tokens.

You don't have to sell your tokens and you will help support the Giveth platform"

[2022-10-27 19:35] laurenluz commented on #851
cool @oyealmond - nice job! minor edits & scheduled them all.

[2022-10-27 19:38] laurenluz commented on #807
@WhyldWanderer - keep me posted on this! when it goes like I will be sure to tweet it.

[2022-10-27 19:42] laurenluz commented on #807
maybe @c0ric0ri would be down to draft a thread summarizing the details?

[2022-10-27 20:28] laurenluz commented on #967
Hey @tropicalmangos - I went to post this update, and it seems you didn't keep in mind my earlier comment about characters. Turns out, this was way too long. To save time on this time-sensitive issue, I completely rewrote it. Please review the update and perhaps next time you can give it another shot.

Update at: https://giveth.io/project/the-giveth-community-of-makers

[2022-10-27 20:31] laurenluz commented on #967
Also it seems you didn't update any of the links on things I mentioned before like "link to the recording of this, not the discord invite" - please try to pay closer attention to these comments next time.

[2022-10-27 20:50] laurenluz opened #992 "January update to the Giveth project - Jan 19"
This is a recurring content issue... we should make an update to the Giveth project at least once every 3 months.

This next one should be live by Jan 20ish and should include updates from Nov - Jan

https://giveth.io/project/the-giveth-community-of-makers

The update should include a short summary of important things that happened since we last posted an updated. Information could be collected fr

[2022-10-27 21:45] laurenluz commented on #977
Excellent work, as usual @ahmadabugosh! left some comments & suggestions
@c0ric0ri this needs your review on the ReFi spring section.

[2022-10-27 21:47] #967 closed

[2022-10-27 21:48] #860 closed

[2022-10-27 21:49] #984 closed

[2022-10-27 21:51] #964 closed

[2022-10-27 21:52] laurenluz commented on #966
this is will be in the GIVpower boosting documentation w/ a link to the forum post.

[2022-10-27 21:52] #966 closed

[2022-10-27 21:53] laurenluz commented on #961
@c0ric0ri is on this!

[2022-10-27 21:53] laurenluz commented on #956
what is this issue? can we close it @SymSL

[2022-10-27 21:54] laurenluz commented on #870
@oyealmond you did a bunnch of work for this for giveth essentials - do you want to put your google doc/ notes in notion?

and add a link to the recording + link to these presentation slides?

[2022-10-27 21:56] #831 closed

[2022-10-27 21:57] oyealmond commented on #870
Sure!
@laurenluz , could you share your Google Link for Reimagining the Money Game slides please?

[2022-10-28 00:16] oyealmond commented on #985
@laurenluz , sorry for the following, I made a mistake with the new time of the AMA session (bc of the World changing clocks this week) and got the time (and image wrong) :( I already fixed and pointed for you in the doc w the replacements. Could you help me fixing the copies please?

And also (sorry for the last minute change 🥺), the team needs a Verification workshop for projects, so we're plann

[2022-10-28 00:28] oyealmond commented on #851
Thank you so much! And super excited about the RegenFarmers gathering! 🤩🚀

[2022-10-28 00:44] oyealmond opened #993 "Verification Workshop email invitation ⭐️"
Hey @ahmadabugosh ! Hope you're doing good :)
Could you please help me send this email to promote our Verification Process Workshop please?

Will be good if we can schedule this email to be send on November 4th.

[The text is here](https://docs.google.com/document/d/1MLWs_Z_NzS3alui0gideXWP7kCLM8gpBCU8IgQvG28o/edit?usp=sharing).

Thank you! :)

[2022-10-28 01:46] oyealmond commented on #870
@laurenluz What do you think? https://www.notion.so/giveth/Representing-Giveth-172f576215544f608a109d3d2d7b48bb

I love Notion. Didn't find a lot of presentations in Cotabe's link. Please share if you have some around. 💜

[2022-10-28 09:00] SymSL commented on #956
Yes it was a test for the content process but I'll close for now, we can open another test if we need

[2022-10-28 10:15] danelsuga commented on #707
On hold for a couple more urgent things (project owners course and what is giveth? roadmap updates).

[2022-10-28 10:22] danelsuga commented on #983
https://docs.google.com/document/d/1aeWLviC2xAwR4yj20DP60RttCDE-hIKZMDZ2vl2cNjY/edit?usp=sharing

[2022-10-28 12:46] danelsuga commented on #732
I noticed the new video is not part of the series. Is that OK for now?
new one:
https://www.youtube.com/watch?v=u5nUpYIbABE

old one:
https://www.youtube.com/watch?v=u5nUpYIbABE&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=4

This may be a non-issue that I don't understand! Thanks.

[2022-10-28 12:52] ahmadabugosh commented on #732
Hey @danelsuga they look like the same video to me 😅

(look at the part before the "&list" in the url)

![tumblr_dc923c1b6f1f6e38fcea9beda25a9960_82270412_540](https://user-images.githubusercontent.com/4855928/198591021-59dadbbf-8a89-4fae-a178-f4ed5e60002a.gif)

[2022-10-28 12:55] danelsuga commented on #732
🤣

[2022-10-28 12:55] c0ric0ri commented on #977
@ahmadabugosh I edited the ReFi spring section, thank you!

[2022-10-28 13:37] ahmadabugosh commented on #812
@WhyldWanderer sounds good!

[2022-10-28 13:37] #812 closed

[2022-10-28 14:05] divine-comedian commented on #979
We can append this paragraph onto all relevant documentation:

can you give this quick read @danelsuga ?

[2022-10-28 14:41] ahmadabugosh commented on #993
Hey @tropicalmangos can you take this one on? It would be a good one to help you understand how Autopilot works. Let me know if you can and if you need any support!

[2022-10-28 16:08] oyealmond commented on #851
Dear @laurenluz , I got the last copies with time mistakes. Im sorry, Still Im not sure if I got the time correct. Could you please (only for this time) help me review if the time is correct? I don't want to get the copies wrong again.

Sorry for this inconvenience

[2022-10-28 16:41] c0ric0ri commented on #983
Moved this to Review/QA

Thanks so much @danelsuga ! I left some initial comments and edits. Would be great to get more reviews to finalize.

[2022-10-28 16:53] laurenluz commented on #967
I'm not sure what's happening here... maybe it's a bug w/ the dApp. This is what i see when I copy/paste your update into Giveth:

![image](https://user-images.githubusercontent.com/75490971/198690895-14986898-78bf-4ddc-9bc9-400963cb1c2b.png)

[2022-10-28 17:05] laurenluz commented on #967
https://github.com/Giveth/GIVeconomy/issues/753

[2022-10-28 17:27] laurenluz commented on #870
Slides: https://docs.google.com/presentation/d/1wVnL3PLk5TnUBta8tQXtm6VUwPzA8UPxoU6yN8GS2hc/edit#slide=id.g143087ec9a7_0_0
https://docs.google.com/presentation/d/1jaD4R11dJxraWXYUBHZh_qdTjSyQDh7w3I3dDP2OaY4/edit#slide=id.g1643f9f897f_0_0
https://docs.google.com/presentation/d/1qR3YDPPduVaIk4KayTzmgQXFjk4lLzwzZfIGKlEjg_0/edit#slide=id.g1342d5de726_0_434
https://docs.google.com/presentation/d/1yhCee

[2022-10-28 17:28] laurenluz commented on #870
https://docs.google.com/presentation/d/11lYUTWk3YomY3N8lj1CqR7gE1PxxzHutyQHCaG-QVVI/edit#slide=id.g115a6c4ca4d_0_27

[2022-10-28 17:42] laurenluz commented on #851
omg this makes me nuts, can you do it carefully for these? the images need to be updated.. you can look at the date & times for different places here: https://www.worldtimebuddy.com/

just look at your calendar & then look at that website for the particular date.

[2022-10-28 17:43] laurenluz commented on #985
@oyealmond - these were all ok I think- right? re: timezones? I think you deleted a commet here.

[2022-10-28 17:46] oyealmond commented on #870
Yey, thank you for complementing @laurenluz !
[Already updated our Notion. ](https://www.notion.so/giveth/Representing-Giveth-172f576215544f608a109d3d2d7b48bb) 🥳🥳

[2022-10-28 17:48] oyealmond commented on #985
Yes! These are correct as they are only showing the link to the reminder, they don't have times included.
Thank you!

[2022-10-28 17:57] oyealmond commented on #851
Yeah Ik :( Sooorry. It will not happen again. Thank you so much for the tool! Is great guidance!
I corrected everything + times + image + information.
Will not happen again
@laurenluz

[2022-10-28 18:32] c0ric0ri commented on #924
Thanks @oyealmond for taking this on!

It would be great to draft a new tweet thread that:

- reminds people we launched the Angel Vault this summer
- summarizes the benefits of the Angel Vault
- references the medium article
- encouraging people to provide liquidity to the oneGIV / GIV pool in the GIVfarm: https://giveth.io/givfarm
- they can read our docs as well: https://docs.giveth.io/angelVau

[2022-10-28 18:45] danelsuga commented on #983
Thanks! I hadn't written much in the comments here to say it was done, just pasted the link. Was hoping to get back to it to work on more, so super glad you've already buckled down to review. Thanks!

[2022-10-28 18:53] danelsuga commented on #979
Thanks for this, @divine-comedian !

Just a couple tiny things:

...Giveth and its platform...
(its)

The code has and will forever be open-source, (COMMA) and you can find it in Giveth's Github repositories.

[2022-10-28 18:55] laurenluz commented on #924
wow - great outline @c0ric0ri!!

[2022-10-28 18:57] laurenluz commented on #851
thank you @oyealmond !! way to take on for the team. this stuff makes my head spin 😵

[2022-10-28 18:58] laurenluz commented on #870
this is epic - the last thing... I would post a link to this notion in our comms channel, tag @ unicorn & tell everyone about the resouce :) then we can close the issue.

[2022-10-28 19:11] oyealmond commented on #851
Yes, it was super useful for me. I was about to cry. Thank you for sharing @laurenluz ! Already shared w the team, and sorry again for the changes.

[2022-10-28 19:13] oyealmond commented on #870
Ohh, I didn't saw this before and post it in the Governance channel. :( Sorry! I can add as a announcement for the team to have it present in the Comms Call Tuesday @laurenluz

[2022-10-28 20:53] oyealmond commented on #924
Heeey @laurenluz and @c0ric0ri, check out 2 drafts [here. ](https://docs.google.com/document/d/1jHWyb1cxO7XGDHJ0fh4ae_IlWTveCbNQW1iSpLKsfvU/edit?usp=sharing ). Feel free to edit and schedule.

[2022-10-28 21:28] ahmadabugosh commented on #993
hey @tropicalmangos yes I know, but I thought it would be a nice one for you to test out how Autopilot works before you get deeper into the automation and sequences you're planning. If you're busy this week no worries I can take on this one, but it would be nice to have you get started on some of these email tasks since I know you have the skills for it and it aligns with some of the things you me

[2022-10-28 21:49] oyealmond commented on #738
Hey team! The corrections are ready. [Please check it out. ](https://drive.google.com/file/d/1TWNFYiz4zNX05sSG8KVpq7cUOvfMVC2q/view?usp=sharing)

I added the 3 months update part. @NikolaCreatrix @ahmadabugosh

[2022-10-28 22:18] ahmadabugosh commented on #814
Hey @laurenluz I recorded this video tutorial for the Angel Vault, let me know if you think it's good for the docs and social media: https://youtu.be/9zxSpsXdqjk

[2022-10-28 22:19] ahmadabugosh commented on #924
hey @oyealmond I also made a video here that you may be interested in including in the thread (if @laurenluz approves): https://github.com/Giveth/giveth-planning/issues/814

[2022-10-28 22:58] oyealmond commented on #814
Oh nice @ahmadabugosh! Thank you :)

I included your video tutorial as well [in the drafts. Uhoo](https://docs.google.com/document/d/1jHWyb1cxO7XGDHJ0fh4ae_IlWTveCbNQW1iSpLKsfvU/edit?usp=sharing)

cc @laurenluz @c0ric0ri

[2022-10-28 22:59] oyealmond commented on #924
Oh nice @ahmadabugosh! Thank you :)

I included your video tutorial as well [in the drafts. Uhoo](https://docs.google.com/document/d/1jHWyb1cxO7XGDHJ0fh4ae_IlWTveCbNQW1iSpLKsfvU/edit?usp=sharing)

cc @laurenluz @c0ric0ri

[2022-10-29 05:59] SnakeGH commented on #901
Added this to our Communitas notion page, so closing now

https://www.notion.so/giveth/Giveth-Community-Building-45fcf05c12b3499ea4fb1c9def2e85af

[2022-10-29 05:59] #901 closed

[2022-10-29 09:18] c0ric0ri commented on #738
Hey @oyealmond remember to move to Review/QA status :) I'm doing it now!

[2022-10-30 16:46] danelsuga commented on #732
So, when I watch this video, Lauren's face is covered up by the Giveth logo, unless I keep my play bar (blanking on the name for that) visible. Pics to show.
![image](https://user-images.githubusercontent.com/81351744/198890689-2160c96c-c922-43a7-9104-f8ae5c560e15.png)
![image](https://user-images.githubusercontent.com/81351744/198890707-691a2565-3222-4c86-90fc-bcae89af0329.png)

[2022-10-30 18:58] ahmadabugosh commented on #977
Hey @laurenluz I added a blurb about the exploit, let me know if you think it's a good idea to include.

[2022-10-30 19:08] ahmadabugosh commented on #732
Thanks @danelsuga! That's actually a YouTube channel feature that displays a watermark on our videos. I changed it so it doesn't show the entire video, and now it should just show towards the end (I tested it out and now it just shows up in the last 15 seconds of the video when watching it for the first time).

<img width="657" alt="Screen Shot 2022-10-30 at 11 05 04 PM" src="https://user-images.g

[2022-10-31 15:26] laurenluz commented on #924
Hey friends, sorry for this... but putting it in the icebox becuase we are likely to terminate the angel vault incentives.

[2022-10-31 15:27] oyealmond commented on #924
ofc, completely understand. @laurenluz
Here to support

[2022-10-31 16:53] #954 closed

[2022-10-31 19:20] laurenluz commented on #993
@tropicalmangos I will send you a DM to check in w/ you on priorities.

@ahmadabugosh - will get back to you, I agree w/ your point on autopilot context.

@oyealmond - can you double check the content/times in this email and confirm that it ready to blast off? As a reminder, please get at least 1-2 reviewers to QA emails before they go out (not sure if this was done as I don't see it in the issue)

[2022-10-31 19:37] ahmadabugosh commented on #977
Sent! https://www.getrevue.co/profile/giveth/issues/building-the-future-of-giving-is-better-with-friends-1435183?via=twitter-card&client=DesktopWeb&element=issue-card

[2022-10-31 19:37] #977 closed

[2022-10-31 19:57] oyealmond commented on #993
hey L! Thank you so much, didn't know about the 2 ppl reviewing before. That's great feedback.
@c0ric0ri , before sending this invitation out, could you help me [checking the email draft first? ](https://docs.google.com/document/d/1MLWs_Z_NzS3alui0gideXWP7kCLM8gpBCU8IgQvG28o/edit?usp=sharing)Thank you!

[2022-10-31 22:11] divine-comedian commented on #979
okay it's been implemented in English - looks pretty good imho

![image](https://user-images.githubusercontent.com/67759413/199119829-43857509-fbff-4f47-97ed-62aa942d4276.png)

We need that text block translated and implemented as well to call this complete:
- [ ] spanish @franculio ?
- [ ] turksih
- [ ] portuguese

[2022-11-01 07:14] danelsuga commented on #732
OK, great! Thanks!

[2022-11-01 13:18] danelsuga commented on #907
I've written a new introduction and have cleaned up the roadmap. Can some folks have a look please?
adding a couple new tags in that case:
@c0ric0ri @ahmadabugosh @WhyldWanderer

[2022-11-01 13:44] franculio commented on #979
I'll start the Spanish translation today!

[2022-11-01 13:57] franculio commented on #979
Translation into Spanish:

@oyealmond could you give it a read and tell me what you think of the translation?

[2022-11-01 14:12] laurenluz opened #994 "Tweet to encourage people to vote with GIV on Giveth roadmap (Tokenlog)"

[2022-11-01 14:24] c0ric0ri commented on #986
Ran late on this. But now that we have the blog post draft reviewed, i will create the tweet tomorrow

[2022-11-01 16:23] ahmadabugosh commented on #993
Hey @tropicalmangos,

1) Audience, yes the Projects one is correct
2) For the template, I don't believe we have one for this. I think a simple text one would be fine since it doesn't have any images and is just a single column.
3) For the Add to Calendar, I got the link from the Sesh bot on Discord (when you click on the + on the event on Discord it gives you a link to add to Google calendar, I ju

[2022-11-01 18:37] divine-comedian commented on #979
turkish

portuguese

[2022-11-01 19:40] oyealmond commented on #993
Hey dear team! Thank you for taking care of this! @ahmadabugosh @tropicalmangos .
We are still checking the email draft as maybe it will worth to add smth around the Verification Course 101.
Please don't send the invitation until is reviewed & good to go :)
Ty!

[2022-11-02 10:25] SnakeGH opened #995 "Remove inactive partnership's from Giveth website"
After speaking with Griff, he mentioned that these two partnerships are inactive, and Giveth will not be working with them moving forward. They can be removed from our partnership page on the Giveth website

-District0x
-SourceCred

@MoeNick would you be able to assist with this?

[2022-11-02 10:36] SnakeGH commented on #902
Updates - all current partners information has been confirmed / received and added to Hubspot. Initial outreach by Jake will happen this week and tracking of the comms will be added to hubspot.

Additionally, tasks in hupspot will be added to ensure continuos and regular check ups are being made by Jake

If a partnership develops into many action items, a discord channel will be created

If a part

[2022-11-02 10:40] MoeNick commented on #995
sure! Maybe @alireza-sharifpour can fix it.

[2022-11-02 11:04] SnakeGH commented on #995
Thanks @MoeNick and @alireza-sharifpour :)

[2022-11-02 11:15] ahmadabugosh commented on #740
This last video is fiiaaanaly done!

https://youtu.be/6gsKBVesE7w

Thanks so much for the help @NikolaCreatrix @clara-zi !

Can you please review it and let me know if you have any comments before I make it live? 🙏 cc @WhyldWanderer

[2022-11-02 11:20] ahmadabugosh commented on #738
Thanks @oyealmond ! Updated the new one on the playlist: https://www.youtube.com/watch?v=Lf-ewaPmrAM&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=7

[2022-11-02 11:20] #738 closed

[2022-11-02 11:21] #732 closed

[2022-11-02 13:04] ahmadabugosh commented on #907
hey @danelsuga looks good, but can you also add some of the wording we have in this recent pitch deck we compiled https://docs.google.com/presentation/d/1ra3wETvHsHHDk1ogQ9FNc4LPQ7UV_lAg-K3ZsLhmzpQ/edit#slide=id.g1717d430748_0_0 (especially around GIVfi, Gurves etc.)

[2022-11-02 14:54] Cotabe opened #996 "The Standard.io Regen Farm"

[2022-11-02 17:00] #756 closed

[2022-11-02 17:01] laurenluz commented on #943
@NikolaCreatrix are we still using this issue? did we make a thread about Rd23?

I find this issue/flow confusing and would much prefer an new issue for each thread.

[2022-11-02 18:21] danelsuga commented on #907
Separate issue: could I have access to that deck for editing, if you don't mind @ahmadabugosh? I'd love to be able to clean it up a bit in terms of copyediting stuff, if that's ok. Thanks.

[2022-11-02 19:31] laurenluz opened #997 "Giveth Galaxy Twitter Space"
Hey @oyealmond! Can you put some of the details of this upcoming twitter space in here?

Also! @danelsuga wrote the awesome hitchhiker's guide to the galaxy article and might be a great host/co-host or even just a great person to suppport in questions.

[2022-11-02 19:38] oyealmond opened #998 "Tweets for Verification Workshop & Projects 101 course launch."
Hey team! @c0ric0ri @laurenluz

I prepared a couple of tweets to promote both actions happening next Wednesday: Projects 101 course launch + Verification Workshop at Discord [here](https://docs.google.com/document/d/12E3CALKw-F94qq2JIs_ca0VHHblIQ0EPxIsG9_8QF8k/edit?usp=sharing).

Also I updated the promo image.

@laurenluz thought may be better to have a separated issue for this instead of our reg

[2022-11-02 20:16] oyealmond commented on #993
Hey @ahmadabugosh :) I changed the body to include the Giveth Projects 101 course launch as well. [Could you help me review?](https://docs.google.com/document/d/1MLWs_Z_NzS3alui0gideXWP7kCLM8gpBCU8IgQvG28o/edit?usp=sharing) After this, I believe will be good to go @tropicalmangos .

[2022-11-02 20:49] laurenluz commented on #998
Thanks @oyealmond! I'll have a look.

I'm a personal fan of having new issues for new tweets all the time because I like issues to move through the flow and then close - so I totally agree in this case as well.

[2022-11-02 21:31] c0ric0ri commented on #983
@danelsuga no problem! To clarify your last comment, are you still planning to add more to this? Or is it ready to tag another reviewer? if yes, please tag :)

[2022-11-02 21:32] danelsuga commented on #983
I would like to get back to it myself. I didn't get to that today. Will do tomorrow.

[2022-11-02 21:41] c0ric0ri commented on #926
@rodricastillo9013 @WhyldWanderer do you have a link to the POAPs you've put together? I'm thinking then we can close this issue.

[2022-11-02 21:46] c0ric0ri opened #999 "Update the GIVfarm documentation"
With some changes happening after the hack this weekend, we'll need to update our GIVfarm documentation.

This is pending completion of the post-attack cleanup events and also the passing of the "ending the rewards" snapshot.

[2022-11-02 21:47] c0ric0ri commented on #999
An adapted version of this video might be helpful:

https://github.com/Giveth/giveth-planning/issues/814

[2022-11-03 00:51] oyealmond commented on #997
Thank you @laurenluz :) I loved the guide.

[Here's the planning doc w the Script + Promotional Tweets ](Ofc :)
Here's[ the planning doc ](https://docs.google.com/document/d/1DdS2W_yLjrRkXhg0IhtDiXeZFTrfN2E0AuqR12XTobo/edit?usp=sharing)with the script and promotional Tweets. ):) Please take a look and leave your comments.

I would love to have the Giveth Galaxy Twitter Space maybe happening every

[2022-11-03 10:49] ahmadabugosh commented on #976
Hey @CarlosQ96 @divine-comedian ,

After doing some digging, I'm pretty confident that the Autopilot Donor wallet addresses are being changed for Project owners into addresses of their Donors from Segment.

For example, @laurenluz received a donation [from this address](https://etherscan.io/address/0x7dbab5d4da65781b2ff9e128f42c21e61fc06ca2#tokentxns) for a donation to the Giveth matching pool, tr

[2022-11-03 13:29] ahmadabugosh commented on #740
Hey team I reuploaded a new version here, ready for review: https://www.youtube.com/watch?v=1z66GxECThM&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=10

[2022-11-03 15:20] rodricastillo9013 opened #1000 "Special POAPs"
we agreed with Lauren to create new POAPs for special dates. We did it for Halloween, we will also do it for Christmas and New Years. If you think you can contribute any new important special date, it would be great to prepare it in time.

[2022-11-03 15:26] danelsuga commented on #872
Can some one drop the Giveth Essentials session from last week here please?
And maybe those links can be kept together in the future, maybe on a forum post or something?
Then maybe this issue can be closed.
Thanks! @oyealmond @c0ric0ri

[2022-11-03 15:28] c0ric0ri commented on #1000
Love: Valentine's Day - Feb 14
Regen: Earth Day - April 22

[2022-11-03 15:34] franculio commented on #872
Here's the link @danelsuga . You can find all of the recordings in the Giveth Transparency channel on youtube but I think the idea is to keep the links in the notion page https://www.notion.so/giveth/Giveth-essentials-1df4b43241604bf18ce57524e3e3a1d9

https://www.youtube.com/watch?v=KIXLu_f4GJg

[2022-11-03 15:34] oyealmond commented on #872
hey @danelsuga !
You're so right.
[Here's the document that was made that includes the session and more. ](https://www.notion.so/Representing-Giveth-172f576215544f608a109d3d2d7b48bb)Thank you!

[2022-11-03 15:54] laurenluz commented on #970
yep! close this one if you want :)

[2022-11-03 17:44] NikolaCreatrix commented on #740
Wow @ahmadabugosh major praise to you, awesome work!!! Long video, but really detailed and easy to understand!

[2022-11-03 18:04] laurenluz commented on #997
looks great Almond! I made some suggestions.

+1 on repeating this every 2 months or so! will be so nice to great more cohesiveness between orgs.

[2022-11-03 18:06] NikolaCreatrix commented on #980
Hey @franculio sorry for the delay, it looks good to me, all the important info is there.... just a reminder I saw in the Comms chat Lauren mentioned that documents created on behalf of giveth should be reviewed by 2 comms starts before posting, so...the second one, that's not me. :D We need one more pcomm start to review this I guess. :)

[2022-11-03 18:11] laurenluz commented on #943
imo, it makes a mess of things to use one issue for many different documents. it gets too long and hard to follow, and feels cumbersome to never close the issue and see it move back and forth all the time.

I prefer to have more specific issues - one for each round in this case - that get closed once they are posted.

You can already see that this issue is getting long with comments. The better wa

[2022-11-03 18:16] NikolaCreatrix commented on #935
Hi @franculio sorry for the delay...yeah we may want to adjust slightly. In this [document](https://docs.google.com/document/d/1IAa8Osu7lbrULRAKkBA9ZtfTV0jq4dvns-9lyEAQS48/edit?usp=sharing) you see the new flow and all the questions as they follow. Might be faster this way... :)

[2022-11-03 20:26] oyealmond commented on #997
Yey loved it! Wohoo, let's make it every two months! I would love to keep up w everyone .
Loved the edits, [leave some final comments,](https://docs.google.com/document/d/1DdS2W_yLjrRkXhg0IhtDiXeZFTrfN2E0AuqR12XTobo/edit?usp=sharing) and I think after those is ready to share.

[2022-11-03 20:29] oyealmond commented on #993
No is great! Thank you for reviewing as well @tropicalmangos !
And thanks for the suggestions @ahmadabugosh .
After knowing @danelsuga we're good to go! :D

[2022-11-03 20:33] oyealmond commented on #913
Hey dear team! @c0ric0ri & @laurenluz
I prepared[ this Notion guide](https://www.notion.so/giveth/Twitter-Best-Practices-d00e5d88707f463c981c4cecb9db1142) to follow on our next G Essentials Titter Best Practice session, next Tuesday after Comms Call.

Let me know your thoughts.

[2022-11-04 02:29] Cotabe opened #1001 "Outreach to Zebras Unite to find investors"

[2022-11-04 03:04] WhyldWanderer commented on #740
I think it looks great @ahmadabugosh! You are very clear and to the point and it is easy to understand...

I agree with Nikola that it is kind of long.... is there any way to shorten the time?
Maybe we can speed up the spots when metamask is loading, etc?

[2022-11-04 08:41] danelsuga commented on #993
All good!

[2022-11-04 10:27] danelsuga commented on #794
What a great undertaking, @tropicalmangos ! I finished an editing pass. Let me know how I can help further.

[2022-11-04 11:16] ahmadabugosh commented on #993
@tropicalmangos Looks good, I think it's ready to send! (i just edited it to make the font smaller, I think normal fonts should max be 16px otherwise they look too big in emails)

In terms of timing I would suggest in maybe 4 hours from now (in the morning US / South America time)

[2022-11-04 11:32] ahmadabugosh commented on #740
Hey @WhyldWanderer I think we should keep those parts in, since for beginners they're helpful and if we skip of any of the steps they'll get confused.,

However, I did add 13 chapters to the video to make the longer video easier to digest (and people can skip around to different sections)

<img width="832" alt="Screen Shot 2022-11-04 at 3 29 37 PM" src="https://user-images.githubusercontent.com/48

[2022-11-04 12:12] franculio commented on #910
I'm closing this issue since it's been referenced this [issue](https://github.com/Giveth/GIVeconomy/issues/729).

[2022-11-04 12:12] #910 closed

[2022-11-04 12:13] tropicalmangos opened #1002 "PFP Promo Drop Video"
Promo video to announce The Givers PFP collection is now LIVE! Get people to mint

[2022-11-04 14:01] oyealmond commented on #993
uhooo you're the best! Thank you team! @danelsuga @tropicalmangos @ahmadabugosh @laurenluz

[2022-11-04 15:09] divine-comedian commented on #979
ready to review in a few mins on https://docs.giveth.io

you should be able to see all Giveth TRACE categories appended with (Deprecated)

You should see the disclaimer text in all languages at the beginning of each trace documentation article

[2022-11-04 15:19] divine-comedian commented on #1000
Yeah sure let's add a few special days:

National Catalonia Day - Sept. 11
Easter (Pascua) - April 9
Beginning of Ramadan - March 22
canada day - July 1
carnaval de barranquilla - 18-21 febrero
africa day - may 25

[2022-11-04 15:41] CarlosQ96 commented on #976
Thanks! A lot @ahmadabugosh I will look into it. This is likely the reason. One fix is to the change the mapping for another  variables instead of "DonorWalletAddress" for this

[2022-11-04 16:12] NikolaCreatrix commented on #935
Hey @WhyldWanderer wdyt?

[2022-11-04 16:19] NikolaCreatrix commented on #740
I think this is a great solution @ahmadabugosh Its a complex process... its literally a workshop session :))

[2022-11-04 16:26] NikolaCreatrix commented on #980
Hey @WhyldWanderer just checking in, did you have in mind any specific scenario for this part of the docs? I know you recorded the whole new flow [here.](https://docs.google.com/document/d/1IAa8Osu7lbrULRAKkBA9ZtfTV0jq4dvns-9lyEAQS48/edit?usp=sharing) so we don't miss anything here...

[2022-11-04 17:02] c0ric0ri commented on #986
Draft is here for review! https://docs.google.com/document/d/1rTn-lyHSgXmNAkQe9CPgJH2e-XW3j3Z-1aAnxbmSdkA/edit

[2022-11-04 21:21] Cotabe commented on #687
Yes @danelsuga @laurenluz

When I did the update last update 10 out of the 34 were on the platform. I think the results were not bad. But I also don't think that investing more time will yield significantly better results.

Here is a spreadsheet with info about the outreach and results https://docs.google.com/spreadsheets/d/1AzbwuFfDXqnFXCOyChlDtHWkb-BxM9HSj8FbfuX8uIQ/edit#gid=0

I consider we can

[2022-11-05 01:38] oyealmond commented on #997
I think we're good to go @laurenluz :D . @danelsuga reviewed and accepted co hosting! yey!!
So, if everyone is aligned we can share the doc to all the participants

[2022-11-05 07:43] ahmadabugosh commented on #986
Thanks @c0ric0ri can you make it any one can comment?

[2022-11-05 11:51] ahmadabugosh opened #1003 "Create POAP for Projects 101 Course"

[2022-11-05 11:51] ahmadabugosh opened #1004 "Create Quiz for Projects 101 Course"

[2022-11-05 11:55] ahmadabugosh opened #1005 "Post course on the blockchain learning portal"

[2022-11-05 11:58] ahmadabugosh commented on #1003
hey @rodricastillo9013 can you create a simple POAP for our "Projects 101 Course"? Even just a copy of the [Donors 101 ](https://assets.poap.xyz/giveth-donor-101-course-completion-2022-logo-1651873791692.png) one changing the wording would be ok.

[2022-11-07 11:04] c0ric0ri commented on #986
@ahmadabugosh yes it's fixed!

[2022-11-07 13:05] c0ric0ri commented on #957
Recording here:

https://twitter.com/i/spaces/1YqJDoYgyOeGV?s=20

[2022-11-07 13:05] #957 closed

[2022-11-07 13:06] #985 closed

[2022-11-07 13:24] c0ric0ri commented on #988
Hey @tropicalmangos , thanks I took a look at this. I was actually picturing more like a video where we quickly flash through some finalized PFP art, closing with a tagline that saying "get on the whitelist" or "minting soon" or drop date etc.

The videos you posted here are also cool but a little unexciting in my opinion. Would it continue to zoom out to show the whole image? Include some teasing

[2022-11-07 14:57] c0ric0ri commented on #998
Hey @almond, thanks for these! Keep in mind we also have this tweet planned for the 101 course launch: https://github.com/Giveth/giveth-planning/issues/986

Left some comments & edits!

[2022-11-07 15:03] NikolaCreatrix commented on #943
Hola hey, slow but steady I'm ready. :)

https://docs.google.com/document/d/1VB-D-KbHoMyT_SAMjbuzSvpAleLL_iWI7A0wwBJs3-Y/edit?usp=sharing

Ready for your feedback @laurenluz @c0ric0ri

I compiled all the previous rounds in one document. So new round always starts at the top of the doc and rounds are divided by bold lines.

[2022-11-07 15:41] oyealmond commented on #998
Great feedback! Already accepted. Ty @c0ric0ri :)

[2022-11-07 17:50] laurenluz commented on #1004
Hey @ahmadabugosh! are we doing this? the course is supposed to launch tomorrow

[2022-11-07 17:50] laurenluz commented on #1004
@danelsuga @c0ric0ri FYI

[2022-11-07 19:05] c0ric0ri opened #1006 "GIVdrop Forum Post"
Forum post needed about ending the GIVdrop, likely around Christmas

[2022-11-07 19:07] c0ric0ri opened #1007 "Tweet about GIVdrop end date"
(Pending Forum vote) - https://forum.giveth.io/t/ending-the-givdrop/880

Communicate that GIVdrop is coming to an end & why, and inform community that it is the last chance to claim.

If GIVdrop is set to end by Christmas, it would make sense to tweet about it about 3-4 weeks beforehand.

Target last week of November.

[2022-11-07 19:14] c0ric0ri commented on #993
Thanks @tropicalmangos since you've posted it, please close this issue when you're ready!

[2022-11-07 19:17] c0ric0ri commented on #988
Ok @tropicalmangos great, so this issue below is for the video I was talking about?

https://github.com/Giveth/giveth-planning/issues/1002

[2022-11-07 19:20] c0ric0ri commented on #1002
Hey @tropicalmangos love this idea with the explanatory script! Would love to see this video cut in 2 different ways.

1. One to use as a hype video several weeks beforehand, flashing the collection and encouraging people to join whitelist

2. One to use on day of launch to announce that minting is live

[2022-11-07 19:29] c0ric0ri commented on #987
Hey @tropicalmangos regarding the videos, it's important that we assess cost for these (and time).

1. Art teaser video - seems very lowkey and low effort, to go out first to tease the project

2. Promo video to build hype and encourage people to join the waitlist - this is IMO very important and if I had to choose 1 of the two, I would go with this one to prioritize

3. PFP drop video for day of

[2022-11-07 19:50] laurenluz commented on #687
10/34 is pretty good! they were great projects, I hope they get some funds on the platform! Thanks everyone for the work.

[2022-11-07 19:50] #687 closed

[2022-11-07 19:57] ahmadabugosh commented on #1004
@laurenluz @c0ric0ri @danelsuga  I think we should announce it tomorrow as planned minus the quiz and POAP. I already reached out to Blockchain Learning and they said they'll post it on their platform, so what I suggest is tomorrow we announce the YouTube playlist, then in a week or so (once it's on Blockchain learning, we have the quiz and the POAP), we say now you can get a POAP if you launched

[2022-11-07 20:02] laurenluz commented on #997
Hey @oyealmond! I just made a couple more small comments, just have a look and then I think it's fine to share w/ everyone - we can get their feedback as well :)

[2022-11-07 20:05] oyealmond commented on #997
yeeey, Agree on take the italics/bold part out.
Thank you again @laurenluz ! uhoo

[2022-11-07 20:07] laurenluz commented on #993
Hey everyone! saw this went out already - all good, just... let's not use hashtags in emails... and no "$GIV"

It's just GIV & GIVbacks... not $GIV & #GIVbacks for emails....

Imo, the only logical place we should write $GIV is on Twitter because putting the "$" makes it a tag for that cryptocurrency.... it doesn't make sense in other contexts like emails & documentation where you don't get the li

[2022-11-07 20:07] #993 closed

[2022-11-07 20:15] NikolaCreatrix opened #1008 "Meet The Makers | Nov 23rd | Mental Health as a Public Good"
Another edition is here: Mental Health as a Public Good

It will take a place in our discord community channel November 23rd instead of regular AMA.

Projects that confirmed for NOV 23rd:

- https://giveth.io/project/we-the-medicine-healing-through-warriors-soul and David Price
- https://giveth.io/project/gravity-dao Juan and Bianca
- https://giveth.io/project/happydao-l-mental-healthcare-for-all

[2022-11-07 20:18] NikolaCreatrix opened #1009 "Send email invites MTM to the database"

[2022-11-07 20:38] oyealmond commented on #987
Agree w you @c0ric0ri this can be 1 video, and then the rest can be adaptations. We need first to align on the narrative and messaging we're going to tell about the drop integrating GIVpower + Christmas + 1 year after the GIV airdrop , I would love to have a brainstorm session  for everyone to drop ideas and have smth to build over. Is this smth we could organize for this week? wdyt? @c0ric0ri @tr

[2022-11-07 20:45] NikolaCreatrix opened #1010 "Communications and shilling (start executing nov 11 the latest)"

[2022-11-07 21:02] NikolaCreatrix commented on #1010
We would also like to ask @rodricastillo9013 for design help again to create some fun banners for our social media, the last one was beautiful!!

Designs required (formats):
– Facebook
– LinkedIn
– Twitter
– Discord

Text:

MEET THE MAKERS
A session dedicated to Giveth projects focused on Mental Health as a Public Good
Come meet those who are working to make the world a better place!
📆 Nov 23rd |

[2022-11-07 21:08] NikolaCreatrix opened #1011 "Tweet Meet The Makers session recording"

[2022-11-07 21:18] #740 closed

[2022-11-07 21:19] NikolaCreatrix opened #1012 "Coordinate & Prep guests and session flow"

[2022-11-07 22:01] NikolaCreatrix opened #1013 "Mandatory updates - Comms support"
Hi dear comms team and @c0ric0ri , asking for your help to promote our Mandatory updates requirements as we still need more project owners to wake up to some more action.

Maybe some nice banner would help if Rodri has the capacity or come up with some cool meme.

We would need to cover as many platforms as possible:

Twitter
Facebook
LinkedIn

Draft is here, any feedback? wyt? :)

https://docs.go

[2022-11-08 00:41] laurenluz commented on #986
@c0ric0ri I made some comments... one blocker for this is the video embed, which I've made too many instances of comments on already so I won't repeat myself here.

[2022-11-08 01:00] laurenluz commented on #1002
Hey @tropicalmangos - good start, I think having a script setup like this would be cool but that the messaging is a bit off. Critical points:
- the PFP collection is nowhere near as big of an undertaking as the entire GIVeconomy, we shouldn't frame it like that.
- "boosting" isn't really an understood concept yet... it's not launched & the details of how PFPs will affect it are still pending...

I

[2022-11-08 01:43] laurenluz commented on #1000
@divine-comedian I love these ideas, though... I think maybe we should stay clear of independence days because there are too many countries... and I would feel back to represent Canada, for example, and not represent the states? wdyt?

[2022-11-08 02:51] laurenluz commented on #986
ok! blocker is resolved! we will post the image instead. so if you can just resolve the comments @c0ric0ri we're good

[2022-11-08 14:14] divine-comedian commented on #1000
Canada is awesoume tho

states is :-1:  canada is :+1:

I'm okay with removing independence days but I thought a couple fun holidays representing where some of the team are from would be interesting.

The USA is in general more internationally controversial than Canada or Mexico so I figured the latter two are a safe bet.

[2022-11-08 14:32] c0ric0ri opened #1014 "Opt-In Donations Tweet Thread"
This is looking to go live next week (something like Nov 16), so we need to prepare an announcement.

Why is Giveth implementing this?

- Giveth needs revenue streams
- Check this forum post for more context: https://forum.giveth.io/t/revenue-streams-platform-fees-and-givfi-v0-1/823

You can also get input from Mitch or Lauren if needed after reviewing above

[2022-11-08 15:14] laurenluz opened #1015 "Tweet to announce GIVbacks rd 22 being out!"
GIV & $nice have been sent!  https://forum.giveth.io/t/round-22-givbacks-nice-distribution/875/3

@c0ric0ri can you draft a tweet for this to go out tomorrow?

[2022-11-08 15:22] c0ric0ri opened #1016 "Notification Center Update Tweet"
Updates are coming to the Notification Center on giveth.io, which requires a comms announcement.

A tweet should prepared to let users know.

Timing: Around early December

@MoeNick to provide more details here!

[2022-11-08 15:23] laurenluz commented on #983
https://medium.com/giveth/the-abcs-of-creating-a-project-on-giveth-55ff82c060f8

[2022-11-08 15:23] #983 closed

[2022-11-08 15:27] laurenluz commented on #1000
I think it might be worth to skip them and save those rounds for just business as usual Giveth POAPs,. Feels like we're reaching very limited circles with them, and personally, I'm not a fan of country borders anyway.

[2022-11-08 15:56] c0ric0ri commented on #670
Hey @SymSL are you still good to review this one? Would be great to get this completed!

[2022-11-08 16:04] #828 closed

[2022-11-08 16:05] rodricastillo9013 commented on #1000
hi team! proposals are good! But I agree with @laurenluz , I think we should try to only choose some very general and global topics, such as Christmas, New Year, Valentine's Day, Regens Day, some date related to blockchain, crypto, public goods, I will do some research and propose some :)

[2022-11-08 16:28] c0ric0ri opened #1017 "Project Owners 101 Course Intro Video"
Punchy, exciting, intro video more geared towards Project Owners.

Similar to the Why Giveth video made for the Donors 101 Course.

[2022-11-08 16:29] ahmadabugosh commented on #1017
Similar to this video but geared towards projects: https://www.youtube.com/watch?v=-JXwwIGJGQQ

[2022-11-08 16:45] c0ric0ri commented on #904
Per @ahmadabugosh infographics would be great to report on stats externally

[2022-11-08 16:57] laurenluz commented on #986
https://twitter.com/Givethio/status/1589981833445376000

[2022-11-08 16:57] #986 closed

[2022-11-08 17:44] danelsuga commented on #794
I'll have time Wed. Thanks!

[2022-11-08 18:21] c0ric0ri commented on #1000
Agreed with @rodricastillo9013 above - I would also avoid religious holidays to keep things inclusive for our global community.

So skipping Easter, and for example I would say Christmas can perhaps be labeled instead as "Holiday POAP" with things on it that could be interpreted across various winter holidays. (snow, green pine trees, stars, candles, red bows, etc)

Aside from major global topics,

[2022-11-08 18:47] laurenluz commented on #794
@tropicalmangos thanks for putting so much effort into this. It's a good attempt considering you are still pretty new to giveth concepts, but there are nuances in there that a bit mixed up or missed. I'm concerned that this might be a bit too much of undertaking for you to finish off alone.

I left some comments & suggestions... more general things that I think should be reworked, but I'm a little

[2022-11-08 19:00] divine-comedian commented on #976
I think if when we send information to segment from the impact-graph we could rename or remove the property fromWalletAddress in "Donation Received' that would resolve the issue.

I don't think in the donation received email we even need to keep track of the donor address.

we're already capturing the donor address in donation made

[2022-11-08 20:08] laurenluz commented on #794
My preference is to give you one more chance with this so that you can use our call time next week effectively to get concepts down...

I asked Griff for his feedback on it and his suggestions were, if you want to take another stab at it:
- shorten it & remove repetition
- stick to the content in the talk (those "steps" for example, or Snapshot/tokenlog)
- avoid "guessing" on things you are not su

[2022-11-08 23:37] laurenluz opened #1018 "Video descriptions for Project Owners 101 Series course"
The videos are all posted with the default youtube description. We should post unique descriptions that, in a short summary, explain what the video is about.

@c0ric0ri does this make sense? can you help find the right person for the job?

We should try to get this done sometime this week or next since the course already launched.

[2022-11-08 23:48] laurenluz commented on #976
Hey! this is right for me for this round, FYI:

![image](https://user-images.githubusercontent.com/75490971/200700800-7b51469b-f924-4fcc-93e4-0ab2fbe65370.png)

[2022-11-09 07:01] CarlosQ96 commented on #976
@ahmadabugosh @divine-comedian merged to production the hotfix removing the fromWalletAddress from event "Donation Received".

[2022-11-09 09:48] rodricastillo9013 commented on #1010
ok perfect! I'll have it this week! :)

[2022-11-09 10:00] c0ric0ri opened #1019 "Public Nouns Partnership Tweet"
We are forming a solid partnership with Public Nouns!

They will use Giveth to donate whenever they can, and we will automate the GIVbacks process for them.

"Public Nouns DAO Partners with Giveth to Leverage Giveth Platform When Distributing Funds to Public Goods Initiative When Possible" - Sky is writing up a post on Mirror about it.

We should coordinate with Sky and prepare a tweet to promote

[2022-11-09 10:10] rodricastillo9013 commented on #1000
If I agree with you @c0ric0ri , I think those more global and inclusive themes are great.

[2022-11-09 10:24] rodricastillo9013 commented on #1003
<img width="901" alt="CoursePOAP" src="https://user-images.githubusercontent.com/61791380/200805444-211c4b7b-e7c7-442a-829d-36b895788bf7.png">

Wdyt? @ahmadabugosh

[2022-11-09 12:17] ahmadabugosh commented on #1018
hey @laurenluz I agree we should change some of the default descriptions, but I did already add all the links or resources if they were mentioned in a video. For example, for [this one](https://www.youtube.com/watch?v=1z66GxECThM&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=8), [this one](https://www.youtube.com/watch?v=8myBgJCKXiU&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=5)

[2022-11-09 12:23] ahmadabugosh commented on #1003
@rodricastillo9013 I think that's good, but can you please make it say "Giveth Projects Owners 101 Course"

[2022-11-09 12:40] NikolaCreatrix commented on #1009
Hi @tropicalmangos
Thanks for the reminder, I didn't ask for a review because it is exactly the same format just slightly different details than we sent the last time.

I assumed this is fine, but maybe @laurenluz can clarify, please. Or help review.

[2022-11-09 13:06] c0ric0ri commented on #1015
Draft ready for review @laurenluz !

https://docs.google.com/document/d/1rjMikrpIOt_gZMNHN8076RnlpKu1fYGx2BwNsbRqPBo/edit

[2022-11-09 13:48] laurenluz commented on #1015
Hey @c0ric0ri it's good! thank you! making minor tweaks - just make sure next time to double check the links, the POAP claim link was wrong.