[2021-06-08 02:29] ForestSoleil opened #233 "Assign rep links to communicate between Comms WG & other teams"
Ideal to have a representative overlapping between circles & projects so that we are all communicating key information to one another. Rather than everyone having to be on all the calls all the time. (Rep-link)

Determine who will be the rep links for Comms Circle and:
- [ ] GIV Token Economy
- [ ] giveth.io dev team
- [ ] Giveth TRACE dev team
- [ ] Governance Circle
- [ ] Community Circle
- [ ]

[2021-06-08 02:31] ForestSoleil opened #234 "Hire Rockstar Giveth Contributors"

[2021-06-08 02:40] ForestSoleil opened #235 "Hire 1-2 backend developers"
- Role description being hacked on here: https://www.notion.so/Back-End-Developer-Role-Description-b1015cc86a1b47488e41e92132cc0c9f)
- Feedback from Griff, Mateo & Kay has been implemented
- RJ MIIIIIIGHT return to Giveth!!!! #prayers (for solidity or back end?)
- Offering a referral bonus: 0.5 ETH for hiring, 0.5 ETH for new hire staying on board for 6 months (can use TRACE for a bounty).

[2021-06-08 02:42] ForestSoleil opened #236 "In Person Giveth Team Gatherings"
- In Person Gatherings!!
    - Americas Gathering → Nosara, Costa Rica!!
        - Crypto conference dates? Dani speaking on a blockchain panel about community & Giveth
        - Nosara Airbnb for Giveth & Gaia Gives teams, June 20-26
        - [Visionaries Immersion, June 25-27](https://www.visionariescr.com/)
    - Synchronized, Decentralized, Global session including a Middle East Gathering?

[2021-06-08 02:57] ForestSoleil opened #237 "Team to confirm participation w/ Ashley & book travel for Nosara Costa Rica, June 2021"
Please unassign yourself from this issue once you have done so.

- Nosara Airbnb for Giveth & Gaia Gives teams, June 19-28
- [Visionaries Immersion, June 25-27](https://www.visionariescr.com/)

[2021-06-08 02:59] ForestSoleil opened #238 "Middle East team to plan gathering for June 2021 date"
Synchronized, Decentralized, Global session including a Middle East Gathering?
Can Middle East team get together at the same time as the Americans team is gathering in Costa Rica? June 21-24 (According to mountain time days) ideally.

[2021-06-08 03:01] ForestSoleil opened #239 "European Team Gathering June 2021"
Synchronized, Decentralized, Global session including a European Gathering?
Can Europe team get together at the same time as the Americans team is gathering in Costa Rica? June 21-24 (According to mountain time days) ideally.

[2021-06-08 03:02] ForestSoleil opened #240 "Improve Cross Circle Communications throughout Giveth"

[2021-06-08 03:04] ForestSoleil opened #241 "Adapt Gravity conflict resolution training to Giveth"
Juan Carlos to lead.
Forest to create doodle poll since Juan Carlos does not appear to be on GitHub.

[2021-06-08 05:45] markoprljic commented on #239
I don't understand what this gathering is about? Should this be online or in person?

[2021-06-08 05:45] markoprljic commented on #108
Yes, all done. Thanks!

[2021-06-08 17:55] ForestSoleil commented on #238
Thanks for the update, Moe Nick! That does sound challenging. Let us know if we can support in any way!

[2021-06-08 17:55] #108 closed

[2021-06-08 17:58] ForestSoleil commented on #239
Hey @markoprljic on our last two community calls, Dani & Griff shared that the Americas team will be gathering in person in Nosara, Costa Rica June 21-24 with some people staying longer for a visionary immersion and crypto conference. And they encouraged gatherings to happen simultaneously for our teams in other parts of the world during those dates, or even a 1-day, so that we can video conferenc

[2021-06-08 18:02] ForestSoleil commented on #39
We will discuss road mappingl, Q3 milestone planning and sprint #10 planning in our pre-planning session today. Here's the agenda: https://www.notion.so/giveth/Sprint-10-0c9d81d5d1ca44eaa2f6c4d40d6044e1

[2021-06-08 18:02] ForestSoleil opened #242 "GIV Token Economy Road Map"

[2021-06-08 18:05] ForestSoleil opened #243 "GIV Q3 Quarterly Milestone Planning"
Let's spend some time zooming out on a meta level and getting more clear on the GIV Token Economy Road Map, and then we can laser focus in on the milestones we want/need to achieve to get there, which will include the priorities for our upcoming sprint #10.

[2021-06-08 18:05] ForestSoleil opened #244 "GIV Sprint #10 Priorities Planning"

[2021-06-08 18:07] ForestSoleil opened #245 "Create Rinkeby Testing Roadmap to GIV"
https://www.notion.so/giveth/Rinkeby-Testing-Roadmap-to-GIV-53b6ed0cfad14c44bfb2884739ca36b

[2021-06-08 18:08] ForestSoleil opened #246 "Create GitHub issues from Rinkeby Testing Roadmap to GIV Notion doc"

[2021-06-08 18:19] ForestSoleil commented on #49
6/8/21 Update:
**Airdrop close out**

- Bowen's spreadsheet complete.
- Mapping complete for missing addresses
- Next steps:
    - Griff & DappNode hacking tomorrow, Tues June 8th to deploy this on Rinkeby Wednesday. Ready for testing Thursday. Marko & Fabio hacking on claim UX for this.
    - Brainstorm initial proposals for people to vote on when we airdrop tokens to them.
        - Pay core Giv

[2021-06-08 18:27] ForestSoleil opened #247 "GIVdistro"
# **GIVdistro**

The initial token distribution. We will use the Global Lockup strategy and distribute all tokens on xDai so users can use GIV with minimal transaction fees.

[2021-06-08 18:28] ForestSoleil opened #248 "Confirm list of token holders & quantities"
List of token holders & quantities (about 2200 addresses)

- **TO DO:** Divvy out the last tokens of the 15 mil to DAppnode people and strategic partners/DAOS that we may have initially left out unintentionally.
- Confirm how the addresses are changed by rGIV DAO.
    - When done: it's tested on rinkeby

[2021-06-08 18:31] ForestSoleil opened #249 "UI for claiming tokens and viewing total tokens"

[2021-06-08 18:35] ForestSoleil opened #250 "Issue A) QA Testing the UI for Claiming Tokens & Viewing Total Tokens"
**Testing the UI** for claiming tokens and viewing total tokens

1. Edu - The smart contracts should enable a user to connect a wallet, click claim, and withdraw the vested tokens allocated to their address
2. Edu - rGIV DAO should be able to claim for any address and send them to another address.
    - We need to test that it works

Issue A) First round sprint QA
Issue B) Second round sprint QA

[2021-06-08 18:36] ForestSoleil opened #251 "Issue B) Testing the UI for Claiming Tokens & Viewing Total Tokens"
**Testing the UI** for claiming tokens and viewing total tokens

1. Edu - The smart contracts should enable a user to connect a wallet, click claim, and withdraw the vested tokens allocated to their address
2. Edu - rGIV DAO should be able to claim for any address and send them to another address.
    - We need to test that it works

Issue A) First round sprint QA
Issue B) Second round sprint QA

[2021-06-08 18:37] ForestSoleil opened #252 "Fabio & Edu to deploy front end to Rinkeby."
**GIVdistro**
Testing the UI for claiming tokens and viewing total tokens.
Action: Griff to get Delfi & Edu to deploy front end to Rinkeby.

[2021-06-08 18:39] ForestSoleil opened #253 "GIVfarm Designs"
**GIVdistro**
UI for claiming tokens and viewing total tokens
Action: Marko to change up the DappNode logos for Giveth logos & update color scheme.

[2021-06-08 18:44] ForestSoleil opened #254 "~85 mil tokens for later use"

[2021-06-08 18:46] ForestSoleil opened #255 "Determine exactly how to store ~85 mil tokens for later use"
About 85 mil tokens for later use.
rGiv DAO is the recipient for these!
- Need to figure out exactly how to store these.
    - When done: it's written down and clear exactly what tokens go where and we practice how we will do it.

[2021-06-08 18:47] ForestSoleil opened #256 "Add the agent app to the rGIV DAO so addresses can be changed by rGiv DAO for edge cases"
About 85 mil tokens for later use.
rGiv DAO is the recipient for these!

- Need to add the agent app to the rGIV DAO so the Addresses can be changed by rGiv DAO for edge cases
    - What it looks like when done:
        - Pass the address of the Agent on MainNet to Edu
            - [https://aragon.1hive.org/#/giveth/0x6747e3a01f31621a5e024d08f8f7c99fac0dc814/](https://aragon.1hive.org/#/giveth/0x

[2021-06-08 18:49] ForestSoleil opened #257 "1Hive to ensure Token is bridged from xDAI to Ethereum"
Token must be able to be bridged from xDAI to Ethereum - (Gabi & Edu)

- Test on xDai with a fake Gardens.
- This should be tested by Gardens b/c they know this is a requirement. To be confirmed by Gabi so that we 100% know it happens.
- No action on Giveth's end that we know of right now.

[2021-06-08 18:50] ForestSoleil opened #258 "Confirm Global Lockup Params"
Global Lockup Params

- 13.33% initially Claimable
    - Need to confirm the vesting percent on the liquidity mining program.
        - ^ What does it look like when done?
        - Vote on 3 options for solutions for this and what the outputs would look like if we use that percent.
- ✅ 4 year unlock period - No objections
- [distribution and issuance spreadsheet](https://docs.google.com/spreadshe

[2021-06-08 18:57] ForestSoleil commented on #149
- Needs to be working & actively running verification process once GIVbacks launch.
- Needs to be live on Rinkeby.

[2021-06-08 18:59] ForestSoleil opened #259 "Project Verification"

[2021-06-08 19:01] ForestSoleil commented on #259
Devs working on verification integration:
https://github.com/Giveth/giveth-dapp/issues/2250
https://github.com/Giveth/giveth-next/issues/27

[2021-06-08 19:10] ForestSoleil opened #260 "Write more detailed Liquidity Mining Spec"
WIP - Willy writing a more detailed spec for Liquidity Mining.

- How much each pool has / is getting
- What the pools are... Are these still correct? Can we use Bal v2
    - 50GIV/ETH - Uni v2 - ETH
    - 80GIV/ETH - Bal v2 - ETH
    - GIV Staking - 100% - ETH
    - GIV Staking - 100% - xDai (oh shit this competes with CV GIVernance)
    - 50GIV/HNY - honeyswap - xDai
    - 50GIV/WETH - honeyswap

[2021-06-08 19:13] WhyldWanderer commented on #237
Nosara Airbnb for Giveth & Gaia Gives teams is June 19-28

[2021-06-08 19:13] ForestSoleil opened #261 "Model Liquidity Mining Spec with Edu's spreadsheet & Create tables to determine initially claimable tokens, APRs, percents"
Once more detailed Liquidity Mining Spec has been solidified by Willy, model that spec with spreadsheet Edu made, then create a table to determine a range of initially claimable tokens and the APRs and initially claimable percent for them.

[Average APR at launch](https://www.notion.so/ec05ed2b81684c32b728f4d8c0f4750e)

[Average APR after 1 month](https://www.notion.so/9224d75efe0d48f5893418cec9d2

[2021-06-08 19:16] ForestSoleil opened #262 "Switch proper Covenant from MVV to Rinkeby"

[2021-06-08 19:16] ForestSoleil opened #263 "Achieve stability & great user experience for 1 week then launch on mainnet"

[2021-06-08 19:17] ForestSoleil opened #264 "Figure out how we do dynamic issuance with the Global Lockup"

[2021-06-08 19:18] ForestSoleil opened #265 "Comms to write Medium blog article to explain Giveth Garden"

[2021-06-08 19:30] ForestSoleil commented on #237
Thanks Ashley! I messaged you on Discord about the domestic flights I found on June 20th to meet y'all there in the evening. I haven't booked yet b/c I wanted to make sure this is officially official first. I think they are non-refundable.

Also - will y'all have a space in the car on the return trip for me if I go back at the same time with y'all? And when is the vehicle departing? I haven't deci

[2021-06-08 20:30] JuankBell commented on #241
All Giveth team interested in talking more about Gravity are kindly Invited to our weekly sync.
On the TEC Discord, Thursdays after Community call https://calendar.google.com/calendar/u/0/embed?src=5mkep1ad1j860k6g7i7fr8plq0@group.calendar.google.com&ctz=Europe/Berlin

[2021-06-08 20:40] ForestSoleil opened #266 "GIVbacks Progam"

[2021-06-08 20:42] ForestSoleil opened #267 "Deploy GIVbacks staging on rinkeby"
- Needs to be live on Rinkeby.
    - GIVbacks working on Rinkeby.

[2021-06-08 20:44] ForestSoleil opened #268 "Test on Rinkeby the GIVbacks distributions"

[2021-06-08 20:45] ForestSoleil opened #269 "Figure out a plan for how many GIV to distribute each round"
5% of the pool, every time?
10,000 GIV every time?

[2021-06-08 20:47] ForestSoleil opened #270 "When a Giver donates to a verified project they are notified with an email"
- As Giveth admins, we want to give GIVbacks to Givers that donate to verified projects on Giveth.
    - When a Giver donates to a verified project they are notified that they will receive up to 75% of the USD value donation back in GIV Tokens. And they are notified of the project verification round date so they know to stay tuned and check back in to see the amount of GIVbacks that will be receiv

[2021-06-08 20:48] ForestSoleil opened #271 "Only reward donations that happen through the Giveth interface"
- As Giveth admins, we only want to reward donations that happen through the Giveth interface.... Direct Donations to the address do not get GIVBacks
    - TEST THIS ON RINKEBY!
        - Create a project
        - Send in a donation not through the UI and make sure it does not show up

[2021-06-08 20:49] ForestSoleil opened #272 "Whitelist tokens on Giveth.io"
Admins must have the ability to whitelist specific tokens.

[2021-06-08 20:51] ForestSoleil opened #273 "Email notification for when GIVbacks are sent"
As a Giver, I can see at the time of donation that I will get some GIV tokens for their donation “ie. X GIV tokens will be rewarded proportionally to donors over the next 2 weeks, up to 75% of the value of the donation (meme: donation mining). GIVBacks will be subject to the global lockup schedule. Learn more about GIVBacks.”

At the end of each 2 week period, Giveth Admins can easily export the l

[2021-06-08 20:53] ForestSoleil opened #274 "Get GIVbacks working on Giveth TRACE"
- If Giveth TRACE is going live, we need to integrate GIVbacks there.
    - GIVbacks are totally off chain, so we need a way to track donations on the bridge.
    - Give GIV tokens to address on xDAI for donating on TRACE, but not giving them GIV *on* TRACE.

- Project Verification: Ensure Typeform is formatted so that it can work on both giveth.io and Giveth TRACE.

[2021-06-09 10:14] markoprljic commented on #253
Where can I see and test the current UI?

[2021-06-09 10:15] markoprljic commented on #239
Thanks for clarifying @ForestSoleil
Unfortunately, I won't be able to travel anytime soon which means I won't be able to organize a gathering in Europe.

[2021-06-09 14:41] divine-comedian opened #275 "Create Email Journey for Rich text Editor"
Following Comms Call last week we should use autopilot to create an email blast notifying existing projects of the rich text editor  update so they can update their descriptions and make them more beautiful!

[2021-06-09 14:47] divine-comedian opened #276 "Update project created email"
Following the Comms Call we should update our project created email on autopilot to include more information on outreach. The goal is to provide information on how to get inovlved in the reiterated 'change-maker' campaign. Improve the language and making the email overall more engaging.

[2021-06-10 22:19] divine-comedian opened #279 "Proposal to change Unicorns to Givethers to identify primary contributors"
## Context:
At the outset of Giveth, back in 2017 the core team members had referred to themselves as Giveth Unicorns. This was at the time we can say, before Unicorns went 'mainstream' in the cryptospace. It was cool, it was magical, it captured the passion the team had for building Giveth and it's brand.

But times have changed..

 We fast forward to the year 2021, there's a new set of faces wor

[2021-06-10 22:49] laurenluz commented on #279
I honestly think the use of the term "Givers" to refer to both us (creators, contributors, builders, communicators) and our key target audience (the donors) creates a confusing lack of distinction between clearly distinct groups. I also don't really want to refer to us as the "core", I think we can come up with something that feels a little more exciting

I'm not attached to "unicorn" necessarily,

[2021-06-11 00:34] Danibelle commented on #279
My resistance point..

I can't get down with Core, it's just too centralized.. we are not an apple.

I would rather we activate something like "Givethers", as a deepening of Givers.

[2021-06-11 06:13] markoprljic commented on #279
I'm against Core, just Givers is fine.
I don't see an issue referring to all groups the same.

[2021-06-11 13:34] divine-comedian opened #280 "Wiki Migration - Giveth Entities and Roles (formerly product definition)"
Migrating and updating the Wiki docs to our new Giveth Docs website.

Old Doc
https://wiki.giveth.io/dapp/product-definition/

New Doc WIP (first draft written by @MoeNick )
https://hackmd.io/o0eQ1yLrQD-CQAvSWnkxFg

[2021-06-11 15:07] ForestSoleil commented on #279
I am against the term 'Core'. I am okay with Givers if we need to move this forward now, but agree with Lauren that our term of distinction for the team should be something different from the whole.

I suggest something along the lines of the Giveth Family, the Giveth Crew or the Giveth Squad to refer to our contributors.

[2021-06-12 11:40] GriffGreen commented on #279
Stewards?

[2021-06-12 11:51] GriffGreen commented on #279
I like the term Givers for GIV token holders and Change Makers and everyone...

We still need a tag in discord for the crew that is organizing everything.

From mentioned above... I like Givethers... there are Givers (everyone that touches us) and Givethers (people working on Giveth) seems easy and fun

other options

GivHands
GivStewards
GivCrew
Givicorns
GivFam
Givective
Givtributor

[2021-06-12 13:49] divine-comedian commented on #280
Looks like this one slipped through the cracks

First Draft ready to review! It's a beast.
(in page anchor links won't work in hackMD but they will work once live in the docs)

https://hackmd.io/@r6krWxuqQh6X2NbuP6LiIw/SymLuEEt_

@WhyldWanderer @ForestSoleil @laurenluz @MoeNick

[2021-06-12 15:02] divine-comedian commented on #279
![](https://i.imgflip.com/5d17cf.jpg)

[2021-06-12 15:12] divine-comedian commented on #279
Hell yeah I love all this advice! Look at us go.

I really like the comments from Griff and Dani
My top 3 picks would be
Givicorns - (why not have both?)
Givtributor
Givether

I'll follow up with a simple poll in the GOV discord and update my proposal based on those results.
More Advice is of course, always welcome.

[2021-06-13 08:47] MoeNick commented on #238
We booked our accommodation with the help of Amin. We will gather together from 21 to 24  but leaving 24th afternoon localtime, means we may not be available at last day.
part time staff like, hadi, cherik and mehdi will also join.
It's cool place in the forest, Amin paid  all the booking expenses at this step.

[2021-06-13 10:47] MoeNick commented on #238
What did u do regularly at the gathering?

[2021-06-13 14:38] MoeNick commented on #280
@divine-comedian where can I review I got 404 in hackMD

[2021-06-13 14:59] divine-comedian commented on #280
the original issue description should have a working link ☝️ (New Doc WIP)

[2021-06-13 21:42] Danibelle commented on #218
Ready!

[2021-06-13 21:48] laurenluz opened #281 "Giveth TRACE launch post for Medium"
This is a WIP! Will ping y'all when ready for QA

[2021-06-13 23:05] laurenluz commented on #280
Reviewed, made a bunch of edits. Most grammatical, but also worth noting that we have completely removed "Milestones"... now there are just three traces: payments, expenses and bounties.

I also thing we should update the diagrams to have the correct updated terminology.

Thanks for putting this together Mitch 👍

[2021-06-14 12:36] divine-comedian commented on #280
I was under the impression that Milestones were just going away for a bit to remove any confusion during the transition to traces.

I don't mind editing the photos but I don't think it should be a blocker for uploading this document to the docs

[2021-06-14 13:05] laurenluz commented on #280
Ahh you're right. So it makes sense to keep them in the docs! Agreed not to make editing the pictures a blocker, but I also think it's a good idea to change them as soon as we can.

[2021-06-14 17:11] divine-comedian commented on #279
Okay everyone! Following the Simple Poll it seems like there is a clear winner.
![image](https://user-images.githubusercontent.com/67759413/121931056-1d05f580-cd11-11eb-9b2b-8402b3dfadb3.png)
Also following some insight from @Danibelle on the GOV call today I will update my proposal

Revising my proposal to:

**I propose we change how we refer to our Giveth team of contributors FORMALLY from 'Unic

[2021-06-14 17:27] markoprljic commented on #279
Looking back at everything and reading the proposal again I'm questioning the need for change not finding a valid reason and benefits this change will bring us.
I apologize for not speaking up earlier and taking a clear stance, but after this process I realized this question hasn't been answered, or I'm not aware of it.
My intention is not to make this first world problem as we have way more impor

[2021-06-15 17:37] laurenluz commented on #218
looks good Dani - I did some QA.... nothing major, I just edited directly in the doc so you don't have to go through again.

@divine-comedian @WhyldWanderer @ForestSoleil - any of you want to do a final QA?

[2021-06-15 18:20] laurenluz commented on #280
noticing this in the docs... anyway for reformat the captions to be actual captions? the formatting is weird

![image](https://user-images.githubusercontent.com/75490971/122103656-18564580-cdd4-11eb-82f4-38e9a6865b50.png)

[2021-06-15 19:10] laurenluz commented on #205
this is done?

[2021-06-15 19:11] laurenluz commented on #206
hey Forest - when do you think you'll be done this one?

[2021-06-15 19:55] laurenluz commented on #187
nice job Ashley, this is really good. I made a bunch of comments, edits using strikethroughs, and just took the liberty to make spelling fixed directly in the doc.

[2021-06-15 20:39] divine-comedian commented on #280
I hear what you're saying. I did have it originally with the h6 headers but they were too small to be clearly legible so I opted for the slightly bigger ones

[2021-06-15 23:43] laurenluz commented on #220
this is ready-to-go, right?

[2021-06-15 23:45] laurenluz commented on #219
This is looking so fun Kay! Any idea when it will be ready for QA?

[2021-06-15 23:49] laurenluz commented on #224
Hey Ashley - when do you you'll be able to finish this one? do you need support?

[2021-06-15 23:49] laurenluz commented on #223
Hey Forest - when do you think you'll be able to finish this one? Do you need support?

[2021-06-15 23:50] laurenluz commented on #225
Is this still in progress?

[2021-06-15 23:57] WhyldWanderer commented on #224
I think i just need to add the links and it will be done.
I think a lot will eventually change for this one... adding stuff about support team, gravity team, and the forum.

But I think its good enough for now and we can always add more later as it develops.

[2021-06-16 01:36] laurenluz commented on #224
so ready for QA?

[2021-06-16 02:07] divine-comedian commented on #220
Yup!

[2021-06-16 13:13] WhyldWanderer commented on #224
sure... go for it but like i said in my last comment, keep in mind the links are not added yet

[2021-06-16 13:32] WhyldWanderer commented on #218
Reviewed! It looks good to me... just missing a link to team organization... where was this link intended to direct people?

[2021-06-16 13:53] WhyldWanderer opened #282 "Add forum to join page"
Now that we have the new forum we should make sure there is a link to it on our join page...

forum.giveth.io

[2021-06-16 14:57] ForestSoleil commented on #280
Reviewed and made some very minor edits directly. Nice work! This is really thorough and clear.

[2021-06-16 18:00] ForestSoleil commented on #205
Yes, I just added the Backend Developer positiong to the bottom. Does anyone know how to make a thing at the top where it highlights the roles and when you click on them it takes you directly to that part of the page?

Lead Solidity Developer
Backend Developer

[2021-06-16 18:07] ForestSoleil commented on #253
@GriffGreen @willyogo can you please share these files with Marko?

[2021-06-16 18:08] ForestSoleil commented on #221
Drafting the content for Conflict Resolution is on hold until our Gravity process is more defined and onboarded.

[2021-06-16 20:52] WhyldWanderer commented on #102
Now that Giveth TRACE has gone live, we will be deciding how to integrate the two platforms in the coming months. We have discussed the proposed user flow and I do believe that once this integration is complete, this statement will definitely be true.

I also believe that these statements and this part of the page will be updated with the new rebranding as well as the completion of our mission, vi

[2021-06-17 03:00] divine-comedian commented on #276
Ashley and I hacked it out this afternoon! this is DONE!
![image](https://user-images.githubusercontent.com/67759413/122324314-9448ae80-cef6-11eb-86b8-e937110799bf.png)

[2021-06-17 03:02] divine-comedian commented on #275
DONE, Ashley and I smashed this one out.
![image](https://user-images.githubusercontent.com/67759413/122324502-e38edf00-cef6-11eb-8535-1e3ead966479.png)

[2021-06-17 18:47] laurenluz commented on #184
closing this, got it covered in the doc and twitter channel

[2021-06-17 18:47] #184 closed

[2021-06-17 18:49] laurenluz commented on #218
Thanks for your QA ladies, I added them in. The "team organization" (now changed to "giveth circles") link will go internally to the docs... to the doc I worked on with circles goals. Let's call this done for now.

@divine-comedian - it's ready to go... the link "giveth circles" goes to the internal doc link of #217

[2021-06-17 18:52] laurenluz commented on #216
@divine-comedian this one is ready-to-go... just not sure where it should go in the tree structure

[2021-06-17 19:49] divine-comedian commented on #216
got it!

[2021-06-17 19:56] divine-comedian commented on #220
loaded!

[2021-06-17 20:06] divine-comedian commented on #205
done! I split this into two separate documents and they will live in the jobs tab on the giveth docs

[2021-06-17 20:07] divine-comedian commented on #186
@WhyldWanderer  let me know when this one is ready to go!

[2021-06-17 20:12] divine-comedian commented on #218
got it!

[2021-06-17 20:51] divine-comedian commented on #217
we're still holding off on this one? just curious what/when I can link the mention to this document from the finances one.

[2021-06-17 21:34] laurenluz commented on #281
First Draft: https://docs.google.com/document/d/1eQCh8VQmBHb4BhI3KkCSL3njJh1N2XPJWDgEMXcs_dc/edit#

[2021-06-18 04:43] ForestSoleil commented on #205
Thanks so much @divine-comedian besitos!

[2021-06-18 05:34] ForestSoleil commented on #206
I hacked on this today. It's a work in progress. I hope to finish up more in the morning before our comms hack session.
Ashley & Dani are connecting on how to reward contributors. I've created a placeholder section for that here.
Also added a page break and the Contributor Covenant Code of Conduct. Do we like how that's formatted here or prefer a separate page for that?
https://hackmd.io/Lk3X4BF9S

[2021-06-18 05:42] ForestSoleil commented on #224
Great start, Ashley! Make some strikethroughs and direct minor edits. =)

[2021-06-18 13:36] WhyldWanderer commented on #186
Its ready @divine-comedian

[2021-06-18 13:45] WhyldWanderer commented on #224
Ready! @divine-comedian

[2021-06-18 13:48] divine-comedian commented on #186
done!

[2021-06-18 13:53] divine-comedian commented on #224
done!

[2021-06-18 14:14] #213 closed

[2021-06-18 14:15] #218 closed

[2021-06-18 14:15] #216 closed

[2021-06-18 14:15] #214 closed

[2021-06-18 14:16] #220 closed

[2021-06-18 14:16] #186 closed

[2021-06-18 14:16] #280 closed

[2021-06-18 14:17] WhyldWanderer commented on #225
Mitch put this one up! closing this one

[2021-06-18 14:17] #225 closed

[2021-06-18 14:17] #276 closed

[2021-06-18 14:18] #224 closed

[2021-06-18 14:20] WhyldWanderer commented on #181
Now that we have rich text capabilities, it would be great to get some nice updates on the project.

@Danibelle do you need support with this?

[2021-06-18 14:30] laurenluz commented on #217
this is ready now

[2021-06-18 14:33] ForestSoleil commented on #206
Ready for QA: https://hackmd.io/Lk3X4BF9SUqa7bh_He_w4A

[2021-06-18 14:35] laurenluz commented on #222
@ForestSoleil I'm going to close the other issue so we just have one issue about meetings guide

Old: https://wiki.giveth.io/governance/governance-meetings/

[2021-06-18 14:35] laurenluz commented on #223
will be updated as part of #222

[2021-06-18 14:35] #223 closed

[2021-06-18 15:05] laurenluz opened #283 "Wiki to Docs - Covenant"
https://hackmd.io/66cll3ZuQTG9-8WkGigO9A

[2021-06-18 16:28] #275 closed

[2021-06-18 16:28] #215 closed

[2021-06-18 16:46] divine-comedian commented on #206
left comments Forest! Need some more polish but it's lookin' good!

[2021-06-18 16:57] divine-comedian commented on #204
ping me @ForestSoleil  when this is ready to go! Also this doc is Intro to Giveth Governance or simply 'Giveth Governance'?

[2021-06-18 17:03] laurenluz commented on #281
@WhyldWanderer @divine-comedian @MoeNick @ForestSoleil First draft of the Giveth TRACE launch post article is more or less done. Would love some feedback or QA as comments or suggestions.

[2021-06-18 17:43] laurenluz opened #284 "Giveth Contributor Interview Video"
The idea is to interview Givethers and create a compilation video with clips from the interviews. Would love some feedback/additional ideas on questions for interviews. We could even take some time during this week's meetups to record.

List of questions for Giveth Contributors:

- what brought you to Giveth?
- what do you do at Giveth?
- what are you passionate about?
- what does "the future of g

[2021-06-18 17:44] laurenluz commented on #277
repeat of https://github.com/Giveth/giveth-planning/issues/142

[2021-06-18 17:44] #277 closed

[2021-06-18 18:00] laurenluz opened #285 "Video Script for GIVdrop (GIV token airdrop)"
Make a script for animated Video introducing the parts of GIV and announcing the airdrop

https://docs.google.com/document/d/1NlZVYuVcXHCJkA6NWsf1jSZtJMDIm6VNpyocPAU8tDY/edit?usp=sharing

[2021-06-18 18:30] laurenluz commented on #283
we should combine the covenant doc that @ForestSoleil adapted above with the one from the Giveth Garden and have it consistent everywhere

https://github.com/Giveth/giveth-planning/issues/203#issuecomment-848974612

[2021-06-18 19:15] laurenluz commented on #283
this is nice too: https://gardens-rinkeby.1hive.org/#/garden/0x9b4294bf467d97b29f7a96489536da2dd14080bf/covenant

[2021-06-18 19:49] WhyldWanderer commented on #281
Reviewed! I left feedback in the document.

[2021-06-19 01:11] GriffGreen commented on #253
Sent to him directly this morning... but i will put it here too

https://giveth-claims.vercel.app/ <--- current test GIVdrop and GIVstream test deployment
https://gardens-rinkeby.1hive.org/#/garden/0xda1b46663b5ba949f6213d7c3135080b32ad2295 <---- Current Giveth Gardens deployment

Gardens will be redeployed to use a new token that has been upgraded to work with our liquidity mining contracts and U

[2021-06-21 00:28] GriffGreen commented on #252
Major progress:
https://giveth-claims.vercel.app/
Claims is up and working

[2021-06-21 14:40] geleeroyale commented on #219
Ok - was not able to add too much more as there was a "big break" in 2019. However, the history is now available for review. If there are questions or needed clarification I am happy to expand the content.

https://hackmd.io/@geleeroyale/rJ8oleTKu

[2021-06-21 17:53] laurenluz commented on #219
just did some QA - I think it makes sense to also add 2021... the team grew a lot, we launched giveth.io. we're ready to launch TRACE. we're developing the GIV token economy.

Do you want to add that in @geleeroyale ? I think it's nice that it's all in your voice.

Other than that just made some suggestions as strikethrough corrections (mostly grammatical). Also.. were there really no in person ga

[2021-06-21 18:12] geleeroyale commented on #219
Truly - there were no more gatherings - at least official ones. Thanks Covid 🙄

[2021-06-21 19:23] divine-comedian commented on #219
left some comments, a very interesting read!

[2021-06-22 17:29] #244 closed

[2021-06-25 16:30] ForestSoleil commented on #284
I brought a lighting ring stand for smart phone that we can use to record video today at the retreat if we'd like to schedule interviews with some folks from Giveth and Gaia Gives teams today. I think Matt has audio recording device that we can use as well.

[2021-06-25 17:38] ForestSoleil commented on #219
Looks awesome Kay! I reviewed completely and made some edits in line. =)

[2021-06-27 19:29] #227 closed

[2021-06-27 19:32] ForestSoleil opened #286 "Propose Governance Circle Mission, Goals & KPIs"
Giveth Circle missions & goals posted to forum for feed-forward.

https://www.notion.so/giveth/Vision-Mission-09429a1f219c491e9d3f7042bbb4d7f8

https://www.notion.so/giveth/Notes-from-Workshop-4-MVV-Circle-Boundaries-Alignment-5f13017a6e9246f3a8aa8f45671bef6d

[2021-06-27 19:33] ForestSoleil opened #287 "Propose Communications Circle Mission, Goals & KPIs"
Giveth Circle missions & goals posted to forum for feed-forward.

https://www.notion.so/giveth/Vision-Mission-09429a1f219c491e9d3f7042bbb4d7f8

https://www.notion.so/giveth/Notes-from-Workshop-4-MVV-Circle-Boundaries-Alignment-5f13017a6e9246f3a8aa8f45671bef6d

[2021-06-27 19:34] ForestSoleil opened #288 "Propose Community Circle Mission, Goals & KPIs"
Giveth Circle missions & goals posted to forum for feed-forward.

https://www.notion.so/giveth/Vision-Mission-09429a1f219c491e9d3f7042bbb4d7f8

https://www.notion.so/giveth/Notes-from-Workshop-4-MVV-Circle-Boundaries-Alignment-5f13017a6e9246f3a8aa8f45671bef6d

[2021-06-27 19:35] ForestSoleil opened #289 "Propose Dapp Development Circle Mission, Goals & KPIs"
Giveth Circle missions, goals & KPIs  posted to forum for feed-forward.

https://www.notion.so/giveth/Vision-Mission-09429a1f219c491e9d3f7042bbb4d7f8

https://www.notion.so/giveth/Notes-from-Workshop-4-MVV-Circle-Boundaries-Alignment-5f13017a6e9246f3a8aa8f45671bef6d

[2021-06-27 19:35] ForestSoleil opened #290 "Post current Giveth Values to forum for feed-forward"

[2021-06-27 19:41] ForestSoleil opened #291 "Create a Giveth + Gaia Gives Discord channel for greater cross communication"

[2021-06-27 19:50] #243 closed

[2021-06-27 19:50] #245 closed

[2021-06-27 19:51] #39 closed

[2021-06-27 19:51] ForestSoleil opened #292 "Schedule deep dive session series around GIV token economy subjects"
Griff would like to have more deep dive sessions around ideas for GIV Token Economy subjects.

[2021-06-27 19:53] ForestSoleil commented on #235
Description complete.
Forest shared everything with new hiring person Heather to publish to cryptojoblist.com
Heather to publish listing and send live link to Forest so that comms team can promote on social media.

[2021-06-27 19:53] ForestSoleil opened #293 "Add new general magic hiring person Heather to Discord so we can assign issues to her"

[2021-06-27 19:59] ForestSoleil opened #294 "Hire a team to 100% focus on payments (like Gaia Gives' Vendible partner)"

[2021-06-27 20:05] ForestSoleil opened #295 "All Contributors create a profile on new Giveth Forum"
https://forum.giveth.io/

[2021-06-27 20:15] ForestSoleil opened #296 "Add discussion requests to governance agenda for Mon June 28th"
Governance meeting tomorrow. This is a working group to hack through proposals. Discussion requests from 6/27 Community Call:
    1) Moe Nick 30-minutes of governance call to present a proposal.
    2) Discuss KPIs for Circle Missions & Goals after Moe Nick's proposal.

[2021-06-28 14:02] WhyldWanderer commented on #291
![image](https://user-images.githubusercontent.com/74267818/123649595-1e422280-d7e7-11eb-8fe8-29344a0ab8ed.png)

@geleeroyale to create a bridgeto gaia gives telegram group once the bridge bot is back up and running.

[2021-06-28 14:02] #291 closed

[2021-06-30 04:05] laurenluz commented on #290
https://forum.giveth.io/t/giveth-values-proposal/31/6

[2021-06-30 04:05] laurenluz commented on #289
https://forum.giveth.io/t/dapp-development-circle-proposed-goals/30/3

[2021-07-01 01:16] laurenluz commented on #281
https://docs.google.com/document/d/1eQCh8VQmBHb4BhI3KkCSL3njJh1N2XPJWDgEMXcs_dc/edit#

ready for more QA @Danibelle @divine-comedian @GriffGreen @WhyldWanderer @ForestSoleil

it's much better, I think

[2021-07-01 18:19] WhyldWanderer commented on #288
https://forum.giveth.io/t/community-circle-proposed-goals/33/2

[2021-07-01 22:17] ForestSoleil commented on #204
This beast is finally done and ready for QA! https://hackmd.io/nb9s-1xnSW6C8n6nZs-chw

@divine-comedian @laurenluz @WhyldWanderer  =)

[2021-07-01 22:18] #290 closed

[2021-07-01 22:26] WhyldWanderer commented on #204
wait.. im confused. I see two different documents in this issue.
One for Intro to Giveth Governance and one for Meetings guide.

[2021-07-02 01:52] divine-comedian commented on #204
@ForestSoleil  you dropped the wrong link!

[2021-07-02 02:42] divine-comedian commented on #222
Oops, looks like I showed up late to QA.. I made some suggestions from Forest dropping the wrong link in the other issue. If I'm too late I can understand if you don't want to revisit this doc..

[2021-07-02 16:59] laurenluz commented on #281
@MoeNick @aminlatifi - maybe you guys want to have a quick read through as well? the plan right now is, if everyone agrees, to blast this off and publicly announce on Wednesday July 7

[2021-07-02 17:05] MoeNick commented on #281
Sure I will check and let you know.

[2021-07-02 21:11] laurenluz opened #297 "Publicly release TRACE - content distribution"
## 📋   Anything to add?
IT'S TIME! to publicly announce Giveth TRACE
If no blockers, plan to launch Wednesday July 7, 2021
@ForestSoleil to schedule team launch hack session

## Blockers
- [x] wait for Torus user integration?

## 🎉   Subtasks

- [x] Edit Content on old Medium Posts @laurenluz
- [x] Publish Launch post on Medium @laurenluz
- [x] Tweet @laurenluz
- [x] blast in Giveth @laurenluz
- [

[2021-07-02 21:44] ForestSoleil commented on #297
Notion notes outlining the Communications Road Map for Giveth TRACE Launch: https://www.notion.so/giveth/Friday-July-2nd-2021-Road-Mapping-715302bae2ec4cfc89b4a53bf9f81e2d

[2021-07-02 21:52] ForestSoleil commented on #281
Edited with my simple suggestions in the google doc. Looks great! We just need to adjust the call to action links with unique URLs for tracking before this goes live, assuming Mitch is able to set that up. I'm creating a GitHub issue for it.

[2021-07-02 21:53] ForestSoleil opened #298 "Communications Messaging for Giveth TRACE Launch"

[2021-07-02 22:02] ForestSoleil opened #299 "Investigate Amplitude vs Google Analytics for Tracking Campaign Success"
- Explore link tracking to measure data & track KPIs - ***Setup before publishing TRACE launch post if possible but don't make it a blocker to launch.***
    - ***Mitch to investigate*** Amplitude, Google Analytics - generating unique URLs on our Medium blogs, website, social media posts to track
    - Can be time consuming to track the metrics we outlined in March. Is there a way to automate trac

[2021-07-02 22:02] ForestSoleil commented on #297
Under sub-tasks, we should add for Mitch to setup link tracking in Amplitude or Google Analytics. And once that's setup, to update the launch post with unique URLs so we can track campaign success. https://github.com/Giveth/giveth-planning/issues/299

[2021-07-02 22:04] ForestSoleil commented on #287
https://forum.giveth.io/t/communications-circle-proposed-mission-goals/41

[2021-07-02 22:06] ForestSoleil commented on #204
I did not drop the wrong link. Lauren and I incorporated the meeting recordings guide with the governance of meetings and called it the Meetings Guide. This is correct; please QA - https://hackmd.io/nb9s-1xnSW6C8n6nZs-chw

[2021-07-02 22:06] ForestSoleil commented on #222
The link is correct, please see discussion in that thread. We put everything together into the Meetings Guide.

[2021-07-02 22:13] ForestSoleil opened #300 "How to Onboard Projects onto TRACE"
NOT a blocker for launch...

- how to onboard project onto TRACE (integrating .io and TRACE)
    - get verified, say "yes!", Amin to onboard the project
    - ***Ashley will create this as the process is more fleshed out.  Creating skeleton outline that we can adapt as things continue to unveil.***

[2021-07-02 22:22] ForestSoleil opened #301 "Create Design Work for GIVdrop and GIVstream"
**GIVdrop** *(we give)* **& GIVstream** *(we give you more)*
- Create design work (Marko)

[2021-07-02 22:23] divine-comedian opened #302 "change-makers, final round-up!"
Here's the draft for the final change-makers post, ready for QA, let me know how QA works using the medium draft link...

https://medium.com/@divine-comedian/change-makers-final-round-up-cac16070c15f

@ForestSoleil  @laurenluz  @WhyldWanderer

[2021-07-02 22:23] #171 closed

[2021-07-02 22:23] #183 closed

[2021-07-02 22:24] #172 closed

[2021-07-02 22:25] ForestSoleil commented on #119
**GIVbacks*
- 1) Map out full user journey (Marko)
- 2) Design work (Marko)
    - done for io, but hasn't been deployed yet b/c it's not all spec'd out yet

[2021-07-02 22:27] #133 closed

[2021-07-02 22:28] ForestSoleil commented on #67
**GIVmining** - Liquidity Mining (Edu, Fabio, DappNode crew)
Update as of July 2nd:
- 1) front end complete
- 2) launching token on rinkeby
- 3) begin testing to ensure all liquidity mining contracts are all tied together, working in alignment, front end dev work is all running smoothly
- 4) ^ once all of this is connected, Giveth will look at the user flow and how we want to modify it
- 5) Design

[2021-07-02 22:29] ForestSoleil commented on #70
**GIVgardens**
Update as of July 2nd:
- Need to redeploy to use the new token contract (Gabi)
- Rinkeby testing (not immediate priority)
- Educate people on how to use it - adapt 1Hive docs (not immediate priority)

[2021-07-02 22:37] ForestSoleil commented on #252
**Rinkeby deployment:** Get front end going, run testing, and have everything working end-to-end (claim and vote)

- Moving to getting DappNode ready.
- Testing everything for DappNode b/c they're probably going to launch first.
- Amin, Fabio working with DappNode team. Amin going to bring in additional TRACE devs. Maybe also Mitch and Lauren to get launch ready. We'll do our Rinkeby testing with

[2021-07-02 22:39] ForestSoleil commented on #261
**GIVmining:**

- Griff's spreadsheet  has a few different versions. Have not yet decided a frontrunner. [https://docs.google.com/spreadsheets/d/1fPTklwkNzcNx1KJivxAwCgOLlG7kbKaWqv3svhKgsUg/edit#gid=1990738095](https://docs.google.com/spreadsheets/d/1fPTklwkNzcNx1KJivxAwCgOLlG7kbKaWqv3svhKgsUg/edit#gid=1990738095)
- Schedule 30 minute final hack session Griff & Lauren on LM to determine the final

[2021-07-02 22:43] ForestSoleil opened #303 "Schedule 1:1 for Forest & Donna re-GIVeconomy PM role"
- Forest & Donna 1:1.
    - This can begin any time. Donna knows Forest will be reaching out. She will begin in 2 weeks.
    - Donna's role to keep things organized & communicate/coordinate with the devs for GIV Token Economy. After launch, Donna will follow up and work on improving the token economy through gamification.

[2021-07-02 22:44] ForestSoleil opened #304 "Schedule Hack Sesh Griff, Lauren & Willy for GIVmining & Project Curation"
- Griff, Lauren & Willy hack on 1) LM (30 mins) and 2) Project Curation (30 mins)
    - LM - 30 minute final hack session on LM to determine the final proposal to share with the group. → From there, post to forum for a few days/week for group discussion. Wait until DappNode comes up to retrieve more data. Go live with this if we happen to be ready sooner than DappNode to go live. If DappNode goes

[2021-07-02 22:47] ForestSoleil opened #305 "Schedule Design Hack Session re: GIVdrop, GIVstream, GIVbacks"
Design hack session with Marko to review GIVdrop, GIVstream, GIVbacks design work
+ Comms circle
+ GIVeconomy team

[2021-07-02 23:02] laurenluz commented on #302
@divine-comedian can you copy/paste into a google doc? it is not easy to make edits to your doc in the medium... unless you submitted it to giveth and then editors could touch it...  but also there is no good way to track edits.

the copy/paste to google doc and the copy/paste back preserves most of the formatting, I've done that before.

[2021-07-02 23:10] ForestSoleil commented on #302
Can't easily make edits. Need to post them here.

**PVC**
"tree-planting service" should probably be plural --> services
"At this moment one of their main goals are to extend" --> IS to extend

**Bridging Digital Communities**
"Is run by a Digital Wizard by the name of Kay, he creates online bridges that allow communities to stay connected." --> Is run by a Digital Wizard by the name of Kay. He cr

[2021-07-03 10:11] markoprljic commented on #301
Please can you write a good issue description clarifying the scope of work, intended outcome, and output deliverables?
It should be clear to anyone reading the issue regardless of the assignee. "Create Design Work" doesn't tell much :)

Thanks!

[2021-07-03 16:00] divine-comedian commented on #302
My bad guys, worth a shot - I''m honestly surprised that Medium wouldn't have a better system for copy editing.

@ForestSoleil  your edits have been incorporated!

let's try this again.
https://docs.google.com/document/d/1wR0kJPjub-RDYSTyneCGfup1fd1ur4Ih564CCTj0vwA/edit

[2021-07-03 16:35] WhyldWanderer commented on #204
Oh okay... What about the Intro to Governance documentation in the very first post above? Is that one finished and ready to go?

[2021-07-03 19:06] divine-comedian commented on #204
the link you dropped at the beginning of this issue is the intro to the governance circle which to my understanding is not the same article as governance of meetings/ meetings recordings guide,

[2021-07-03 19:22] divine-comedian commented on #281
Reviewed! Fun Article

[2021-07-04 10:34] aminlatifi commented on #281
I reviewed and put some comments. I totally disagree with mentioning individual members in article and we should only focus on our brand and product.

[2021-07-04 14:44] laurenluz commented on #281
Thanks for your feedback Amin! really awesome, I will make some changes today

[2021-07-05 17:10] laurenluz commented on #302
QA'd!

[2021-07-05 21:22] laurenluz commented on #281
I uploaded this to the medium as a draft already. if you guys have any more pressing changes, please DM me

[2021-07-05 21:25] #304 closed

[2021-07-05 21:27] laurenluz commented on #302
posted! will share and shill tomorrow with the tweet link for RTs

[2021-07-05 21:27] #302 closed

[2021-07-05 21:27] #296 closed

[2021-07-05 21:27] #289 closed

[2021-07-05 21:27] #288 closed

[2021-07-05 21:28] #287 closed

[2021-07-05 21:28] #286 closed

[2021-07-06 00:07] 0xGabi commented on #70
We already did the deployment of the new token contract and template.

Should I go ahead and create another Garden with the same Rinkeby setting that the last one has?

[2021-07-07 16:55] divine-comedian opened #306 "Documentation"

[2021-07-07 16:55] divine-comedian opened #307 "GIVgarden"

[2021-07-07 16:55] divine-comedian opened #308 "GIVbacks"

[2021-07-07 16:55] divine-comedian opened #309 "GIVdrop"

[2021-07-07 16:56] divine-comedian opened #310 "GIVstream"

[2021-07-07 16:56] divine-comedian opened #311 "GIVfarm"

[2021-07-07 16:56] divine-comedian opened #312 "GIV project verification"

[2021-07-13 15:28] ForestSoleil commented on #281
Published to Medium! We are live.

[2021-07-13 15:28] #281 closed

[2021-07-13 15:29] ForestSoleil commented on #70
^ @GriffGreen @laurenluz @WhyldWanderer

[2021-07-13 15:31] ForestSoleil commented on #307
This is a duplicate of this issue: https://github.com/giveth/giveth-planning/issues/265

[2021-07-13 15:38] ForestSoleil commented on #306
These are duplicates - I already created an epic and issues for this a few weeks ago, and some are older than that.

Epic "Communications Messaging for GIV Economy Launch" https://github.com/giveth/giveth-planning/issues/196

Issues:
GIVbacks Medium https://github.com/Giveth/giveth-planning/issues/142
GIVbacks Twitter https://github.com/Giveth/giveth-planning/issues/193
GIVbacks Reddit https://git

[2021-07-13 15:42] ForestSoleil commented on #297
Bugs fixed. TRACE devs gave the green light.
Medium post published.
Tweet posted.
@divine-comedian @WhyldWanderer @Danibelle @GriffGreen to share posts today. Please use UTM tracking links and reference this Notion doc when posting: https://www.notion.so/giveth/Comms-TRACE-Launch-Outreach-July-13-2021-88c5cb9310d24e0a86bdcae9dc83d64f

[2021-07-14 00:21] WhyldWanderer commented on #306
@ForestSoleil This epic is for GIV documentation in the Giveth Docs.

[2021-07-14 12:45] WhyldWanderer commented on #308
HackMD Doc (WIP): https://hackmd.io/35eK-VtFT4emILjDqS0UmA

[2021-07-14 12:46] WhyldWanderer commented on #312
HackMD Doc: (WIP): https://hackmd.io/T6ldIt0eRDmKf-jrnOEVzA

[2021-07-14 15:11] ForestSoleil commented on #204
Okay I just re-reviewed and made some updates to links. It's ready to go. Sorry for initial confusion with two different governance page links. https://hackmd.io/LcrbZvagQ_CYB3o7Iipezw
@divine-comedian

[2021-07-14 15:24] ForestSoleil commented on #206
Now that we figured out the confusion around governance links.... =)
I re-reviewed, implemented your feed-forward @divine-comedian and this is ready to publish if it hasn't already gone live. https://hackmd.io/nb9s-1xnSW6C8n6nZs-chw

[2021-07-14 15:25] ForestSoleil commented on #306
Thanks for clarifying @WhyldWanderer !

[2021-07-15 03:24] WhyldWanderer opened #313 "Update TRACE Documentation in docs.giveth.io"
A few places that I see need updating:

**Intro to TRACE page:**

Announce that we are no longer in beta:
![image](https://user-images.githubusercontent.com/74267818/125721432-d95162f0-7266-4f07-a43e-e1db7044f42d.png)

Maybe link to Medium whats dappened posts? or the DEV section of Notion?
![image](https://user-images.githubusercontent.com/74267818/125721525-decdc4e2-991f-4f7f-881d-25054c0d9d7d.p

[2021-07-15 12:26] divine-comedian commented on #313
weird that just that one image didn't update, I uploaded a new one yesterday evening...

broken image link is fixed!

Milestones - I'd love to just leave it in since it does exist on TRACE and hopefully we'll be unhiding that feature soon on the UI

I removed the internal link text and just linked to our medium, the whats dappened posts and the dev section of notion are both out of date...

RE: Ve

[2021-07-15 17:39] divine-comedian commented on #204
DONE

[2021-07-15 17:43] WhyldWanderer commented on #313
It all looks great!

The part that is slightly misleading about the Campaign Manager is that the only way to become a Campaign Manager is to create a project on Giveth.io and get it verified. Correct me if Im wrong, but we arent allowing users to create campaigns.

[2021-07-15 18:21] divine-comedian commented on #313
Okay, I see what you mean, so we're not allowing whitelisted users to make new campaigns as before. so we'll just remove the 1st bullet and say

**How to become a Campaign Manager**
- Verify their giveth.io project and request to become traceable, upgrading to a Campaign on TRACE and becoming the Campaign Manager of said Campaign

[2021-07-15 18:27] WhyldWanderer commented on #313
Yes!! That sounds much better! Thanks so much Mitch.. you da best!

[2021-07-15 18:43] divine-comedian commented on #313
okay changes are LIVE!

![image](https://user-images.githubusercontent.com/67759413/125840630-14b2bfa1-a77b-4cc7-932e-338839b1958e.png)

[2021-07-19 12:56] ForestSoleil commented on #301
Met with the team and we decided to pause on requesting this clear deliverable until Griff, Lauren, Marko & anyone else interested in participating have an over the phone chat with you to discuss the breakdown of how this flows. @markoprljic

[2021-07-19 13:24] ForestSoleil commented on #301
https://www.figma.com/proto/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?page-id=5776%3A1952&node-id=5776%3A12401&viewport=1151%2C-3330%2C0.2548738420009613&scaling=min-zoom&starting-point-node-id=5776%3A12401

[2021-07-19 14:01] WhyldWanderer commented on #70
Hey @0xGabi ... I checked with Griff and he said Yes! We would love a Rinkeby Garden with the new token contract and template.
Please go ahead and create the Garden on Rinkeby with the same setting that the last one had.

Thanks so much Gabi for all of your work and collaboration efforts!

[2021-07-20 18:33] #305 closed

[2021-07-20 19:02] laurenluz commented on #297
Wrote a blurb for the CS newsletter and sent it to Kris. I think they will include it for July.

Blurb: https://docs.google.com/document/d/1gwrp_THvTYunz9tmOtj8s9wwlIQFb4vUY0OEc8yLVew/edit

[2021-07-20 19:04] #239 closed

[2021-07-20 19:04] #238 closed

[2021-07-20 19:05] #237 closed

[2021-07-22 16:26] laurenluz commented on #206
hey @divine-comedian - this one is ready to go live.

can you close the issue after you push it up?

[2021-07-22 16:26] #229 closed

[2021-07-22 16:27] #205 closed

[2021-07-22 16:28] #204 closed

[2021-07-22 16:29] laurenluz commented on #217
@WhyldWanderer @ForestSoleil @Danibelle @divine-comedian

we need to fully update this doc based on the new circles... once you have the goals sections complete, can we add them to the hackMD?

[2021-07-22 16:30] laurenluz commented on #188
the vision and values here are complete, we need to finalize the Giveth mission before we can push this live

[2021-07-22 16:33] laurenluz commented on #222
closing this one... just need to push #206 live

[2021-07-22 16:33] #222 closed

[2021-07-22 16:34] laurenluz commented on #206
it's this, btw: https://hackmd.io/nb9s-1xnSW6C8n6nZs-chw

[2021-07-22 16:35] laurenluz commented on #219
hey @geleeroyale can you finish this out? there's a bunch of edits and comments there that need to be incorporated. if you need support, let us know in the comms channel.

[2021-07-22 16:37] #173 closed

[2021-07-22 16:43] #123 closed

[2021-07-22 16:43] #106 closed

[2021-07-22 16:45] #135 closed

[2021-07-22 16:45] #199 closed

[2021-07-22 16:45] #193 closed

[2021-07-22 16:49] laurenluz commented on #182
Hey @willyogo - this is still out of date - can you update it?

[2021-07-22 16:51] laurenluz commented on #117
@markoprljic can I close this now??

https://www.figma.com/proto/bV3f7aLHK2pIs7tlzLGVgH/Giveth.io-Branding?page-id=387%3A0&node-id=387%3A207&viewport=271%2C261%2C0.03756708279252052&scaling=scale-down-width

[2021-07-22 16:52] laurenluz commented on #80
@Danibelle - do we still want to publish this?

[2021-07-22 16:53] laurenluz commented on #166
Can we close this or icebox it if there's no energy for it?? @Danibelle @WhyldWanderer

[2021-07-22 16:55] laurenluz commented on #181
@Danibelle can you update this? or can we transfer ownership to @WhyldWanderer or someone who has more energy for this? it's still not updated.

[2021-07-22 16:55] markoprljic commented on #117
Yes.

[2021-07-22 16:55] #195 closed

[2021-07-22 16:56] #8 closed

[2021-07-22 16:56] #16 closed

[2021-07-22 16:56] #17 closed

[2021-07-22 16:56] #30 closed

[2021-07-22 16:56] #23 closed

[2021-07-22 17:04] #82 closed

[2021-07-22 17:05] #61 closed

[2021-07-22 17:06] #62 closed

[2021-07-22 17:09] #31 closed

[2021-07-22 17:10] #54 closed

[2021-07-22 17:10] #299 closed

[2021-07-22 17:11] #117 closed

[2021-07-22 17:19] #103 closed

[2021-07-22 17:20] laurenluz commented on #119
https://www.notion.so/giveth/GIV-Design-Components-fc72bb8503604a349ad31d897dbe4b6d#35e7a1036ac74f52971b1fdb3ce7bdf2

[2021-07-22 17:21] #303 closed

[2021-07-22 17:23] #177 closed

[2021-07-22 17:24] #313 closed

[2021-07-22 17:25] #293 closed

[2021-07-22 17:25] #292 closed

[2021-07-22 17:31] #91 closed

[2021-07-22 18:29] laurenluz commented on #113
@Danibelle if this isn't happened, can we close the issue?

[2021-07-25 06:23] GriffGreen opened #314 "Get Maxi's license to fly"
A link to start off with
https://www.servicedogcertifications.org/service-dog-requirements/

[2021-07-26 13:54] geleeroyale commented on #219
Thanks for the reminder - will try to finish this week!

[2021-07-27 13:38] ForestSoleil commented on #217
Absolutely! Ashley & I have a HackMD document for Community Circle that we've been working on and we are going to meet tomorrow morning before our comms call to hopefully finish it up. Once that's gone through advice process, then we can replace the old content with new approved stuff in the HackMD link in this issue.

[2021-07-27 13:39] ForestSoleil commented on #188
Yes, and decide where we want to save our KPIs if we keep them internal since they'll frequently be adapted I imagine.
@divine-comedian I'm curious if you and Moe Nick spoke in more detail about that?

[2021-07-27 14:58] divine-comedian commented on #217
I'm going to have a hack session with the devs on monday, - this is the current WIP  - https://docs.google.com/document/d/1tMMYSirmnE6rE7OfhJVEm5Mo4pOlwPBKlDjuFiGEiAk/edit?usp=sharing

I might migrate this to notion so it can be a more collaborative document

[2021-07-27 15:00] divine-comedian commented on #188
No, we're going to hack wednesday and get some calrity. My immediate thoughts is that notion would probably be the best place to keep track of our KPI's for each circle, recording each iteration and building new KPI's as we continue to grow.

[2021-07-27 16:46] laurenluz commented on #102
closing this. agree with you Ashley - we can update the copy when we update the design after the integration. I think it's fine as is for now.

[2021-07-27 16:46] #102 closed

[2021-07-27 16:59] #113 closed

[2021-07-27 16:59] #128 closed

[2021-07-27 16:59] #138 closed

[2021-07-27 17:18] #129 closed

[2021-07-27 17:18] #141 closed

[2021-07-27 17:19] #143 closed

[2021-07-27 17:21] #148 closed

[2021-07-27 17:22] #150 closed

[2021-07-27 17:34] laurenluz commented on #197
same as #312

[2021-07-27 17:34] #197 closed

[2021-07-27 17:35] #153 closed

[2021-07-27 17:39] #231 closed

[2021-07-27 17:45] #279 closed

[2021-07-27 17:47] #274 closed

[2021-07-27 17:48] laurenluz commented on #271
redundant with #131

[2021-07-27 17:48] #271 closed

[2021-07-27 17:55] #246 closed

[2021-07-27 18:13] #314 closed

[2021-07-27 20:06] GriffGreen commented on #314
Closing this... but... is it done

[2021-07-27 20:19] laurenluz commented on #314
it's impossible

[2021-07-28 17:09] divine-comedian opened #315 "Update "What is Giveth?" Page in the docs"
Related to issue - https://github.com/Giveth/giveth-2/issues/380

Changing the button the giveth.io homepage to our updated what is giveth page -

this content was written hastily and needs some love. Some suggestions have been to update it with our MVVs and explain more about what Giveth is now - we have so much more to tell!

Current Working DOC - https://docs.google.com/document/d/1c4fykZmJZ9XP

[2021-07-29 19:11] divine-comedian commented on #315
QA ready!
https://docs.google.com/document/d/1c4fykZmJZ9XPGYfpI-7ROYltYZSMphLxcRJjKiOROFI/edit?usp=sharing

[2021-07-29 21:17] laurenluz commented on #315
wait... it doesn't makes sense to have two working copies of the MVV... this was here: https://github.com/Giveth/giveth-planning/issues/188

The vision is done, the values haven't been approved yet... the mission statement is coming later, after the circles...

Adding suggestions to the rest, but we should not have two redundant docs in progress open for QA

[2021-08-01 14:01] divine-comedian commented on #315
Thanks Lauren for the great QA on the doc.. @ForestSoleil  @WhyldWanderer  do you guys want to take a gander before this goes up on the docs?

[2021-08-05 00:15] divine-comedian commented on #315
LIVE! - https://docs.giveth.io/whatisgiveth/

[2021-08-11 14:39] divine-comedian opened #316 "Community Project Spotlight Article #1"
As discussed in the comms channel  we found value in drafting another article to highlight verified and other quality projects using our DApps.

Here's the first draft ready for QA -

https://docs.google.com/document/d/1FceXdzbdzxAUaYEuIM-Sy_A-Yi2ujGc79QNxwqEPxN4/edit?usp=sharing

@WhyldWanderer @ForestSoleil  @laurenluz

[2021-08-11 15:47] ForestSoleil opened #317 "KPIs & Analytics Tracking for Giveth Circles"

[2021-08-11 15:50] ForestSoleil opened #318 "Requested Analytics Tracking for Community Circle KPIs"
Ideas for Key Progress Indicators (KPIs)
_Let’s be realistic about tracking KPIs. Collect data on KPIs quarterly. Move to monthly eventually when we have the bandwidth. Is there a way to automatically pull this info into a spreadsheet or platform?_

New projects
New donors
New onboarded contributors
Amount of feedback received
Amount of support required from new makers & givers joining platform
Di

[2021-08-11 18:06] laurenluz commented on #316
reviewed

[2021-08-13 01:12] 0xGabi commented on #70
This is done 👍

[2021-08-13 01:12] #70 closed

[2021-08-15 20:12] divine-comedian commented on #311
this is my comment

[2021-08-16 15:05] #316 closed

[2021-08-17 17:27] #315 closed

[2021-08-17 17:30] WhyldWanderer commented on #217
This is live now right @divine-comedian? can we close this?

[2021-08-17 17:31] WhyldWanderer commented on #188
Just missing the Mission... we are almost there guys!
@ForestSoleil has there been anything discussed or scheduled for mission statement workshops with @willyogo or @markoprljic?

[2021-08-17 17:33] WhyldWanderer commented on #206
Has this gone live @divine-comedian? I dont see it in the tree structure...
Just for clarity, im referring to the meetings guide here: https://hackmd.io/nb9s-1xnSW6C8n6nZs-chw

[2021-08-17 19:48] WhyldWanderer commented on #187
Im not sure why i closed this issue.... I dont see this document live on the docs yet.. oops
Reopening so that we can get it live.

[2021-08-17 20:15] divine-comedian commented on #217
DONE

[2021-08-17 20:15] #217 closed

[2021-08-17 20:27] divine-comedian commented on #187
I don't think the message was sent that the QA was finished and that it is ready for upload

[2021-08-17 20:31] WhyldWanderer commented on #187
no worries.. it was my bad.
I dont think i communicated it clearly and i have no idea why i closed the issue...

[2021-08-17 20:32] divine-comedian commented on #187
so it is ready to go??

at this link - https://hackmd.io/8NVdNYUhTUOOwSOpuFdG9w

[2021-08-17 20:44] WhyldWanderer commented on #187
YES!

[2021-08-17 20:55] laurenluz commented on #283
Ok for QA https://hackmd.io/fasEfiHgRKelVVxAUCya1A?edit

@WhyldWanderer @divine-comedian @ForestSoleil

[2021-08-17 21:15] divine-comedian commented on #187
okay! I added it and merged! should be live soon - https://github.com/Giveth/giveth-docs/pull/31

[2021-08-17 21:29] WhyldWanderer commented on #283
I left a couple comments in there! It looks great Lauren and I think it covers all of the bases... thanks for putting it together!

[2021-08-18 15:49] ForestSoleil commented on #283
I think it's fantastic. Very well written. My only in-line edits were in punctuation of commas and putting bullets instead of paragraphed dashes for the yes/no policies.

[2021-08-18 16:11] laurenluz opened #319 "Update Giveth.io and Giveth TRACE Gitcoin Grants Blurbs"
write new revised blurbs, share here for QA before pushing live on gitcoin grants

[2021-08-18 16:12] laurenluz opened #320 "Update Giveth Galaxy Grants collections (on gitcoin)"

[2021-08-18 16:40] laurenluz opened #321 "Make Banners on Giveth.io to encourage donations in Gitcoin GR11"
@laurenluz  to write content and provide dimensions for @markoprljic

[2021-08-18 16:59] laurenluz commented on #219
@divine-comedian if you could incorporate the feedback that's already in the hackMD and then move it over to google docs and ping us for collaboration/idea generation for what happened since Jan 2021... would be great

[2021-08-18 18:20] divine-comedian commented on #219
okay heres a google doc with the hackmd edits incorporated -

I kept it in the raw MD format for my own sanity later on...

https://docs.google.com/document/d/1YsXXoyTZ26QcsW-I_ykePD_g-kjQ-JM1xeB1AgmcMdI/edit?usp=sharing

[2021-08-18 20:26] laurenluz commented on #283
Thanks @WhyldWanderer @ForestSoleil for the QA

@divine-comedian I think this is ok to put up... can we put this on the docs?

[2021-08-18 20:29] ForestSoleil commented on #188
Willy sent out a doodle poll today for the overall giveth mission quest this weekend.

[2021-08-18 20:31] divine-comedian commented on #219
here's the doc with some edits, but also the order of events has been reversed - what do you guys think?

https://docs.google.com/document/d/1T9Q1c0DDUxWVyndrzsunGKgKx5f02jCbtVMnI9JoPXk/edit?usp=sharing

[2021-08-18 20:54] divine-comedian commented on #283
Going up! :rocket:

[2021-08-18 21:18] divine-comedian commented on #319
current listing on Gitcoin -
https://gitcoin.co/grants/2154/givethtrace

https://gitcoin.co/grants/795/givethio-panvala-league

[2021-08-19 22:04] WhyldWanderer commented on #235
The team decided that this position is not needed at the moment

[2021-08-19 22:04] #235 closed

[2021-08-19 22:12] WhyldWanderer commented on #241
Next Grvity Training:
Dates: September 21 - November 23, 2021
Location: TEC discord server
Sign up:
https://docs.google.com/spreadsheets/d/1PhvCZJFkk_j63Q8Aszay2DAn2qg39x6zJDSLlj924TY/edit#gid=679275498

[2021-08-19 22:14] WhyldWanderer commented on #206
LIVE: https://docs.giveth.io/whatisgiveth/meetingsGuide

[2021-08-19 22:14] #206 closed

[2021-08-19 22:16] WhyldWanderer commented on #109
Figma: https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=6375%3A15611

[2021-08-19 22:19] WhyldWanderer commented on #232
@ForestSoleil is this still in progress?

[2021-08-19 22:21] WhyldWanderer commented on #80
Anyone know the status of this? @laurenluz @Danibelle @ForestSoleil ?

[2021-08-20 00:36] ForestSoleil commented on #219
I like the new chronological flow. Thanks Mitch!

[2021-08-20 00:43] ForestSoleil commented on #232
Thanks for the reminder to close this Ashley!
The Q3 planning process is complete.

These are the goals we decided upon:
- ✅ Launching strategic comms messaging around Giveth TRACE
- ✅ Completing Docs Migration
- 🤼 Improving Cross Circle Communications: Mission Vision Values Alignment & Announcement
- 🤼 Launching strategic comms messaging around GIV Token Economy

In process on the last two but ha

[2021-08-20 00:43] #232 closed

[2021-08-20 02:58] Danibelle commented on #80
Abort.
Payment pathways are pain ful still.. giving is easy, paying out is hard. Technology upgrades on their part are needed.

[2021-08-20 03:15] WhyldWanderer commented on #80
okay.. lets close this for now and we can revisit this when its less complicated

[2021-08-20 03:15] #80 closed

[2021-08-20 16:31] divine-comedian commented on #319
first draft ready for QA - https://docs.google.com/document/d/1w5P8NVC3LgrwnbORrVVzkAHGheLMU5NruPFpxgbnNbE/edit?usp=sharing

@WhyldWanderer @ForestSoleil @laurenluz @MiA-Engel

[2021-08-20 18:16] laurenluz opened #322 "Add Conviction Voting Description on Giveth Forum"

[2021-08-23 13:41] divine-comedian commented on #219
https://docs.giveth.io/whatisgiveth/history - LIVE

[2021-08-23 16:48] laurenluz commented on #219
oh whoa - it's live... I didn't see that. I just finished QA in the google doc

[2021-08-23 17:52] laurenluz commented on #319
did QA

[2021-08-23 19:12] divine-comedian commented on #219
no problem! I put it in your edits and just merged it, should be live in a few.

[2021-08-23 22:22] laurenluz opened #323 "Email Gitcoin donors list before GR11 start (sept 8) to let them know our listings have been updated"
#319 must be completed and blurbs updated first

[2021-08-23 22:28] laurenluz commented on #321
Messaging for Banner on giveth.io

Big Text: `Gitcoin Grants Round 11 is here!`
Smaller Text: `Donate to support Giveth with the power of Quadratic Funding`
Dates (include these as well): `Sept 8-23`
Button: `Donate` links to https://gitcoin.co/grants/795/givethio-panvala-league

[2021-08-25 00:03] laurenluz opened #324 "Update Giveth.io Terms & Conditions"

[2021-08-25 00:13] laurenluz opened #325 "Listed/Unlisted Projects Guide for Giveth.io"
Create an internal guide for admins to determine which projects should be listed/unlisted: https://hackmd.io/A_lQfHs-RraPgLf2PInoTQ?both

[2021-08-25 15:46] laurenluz commented on #325
re: this forum post: https://forum.giveth.io/t/make-our-giveth-io-dapp-more-resilient-before-giveconomy-deploy/73/11

[2021-08-25 15:49] laurenluz opened #326 "Email to Unlisted projects"
As per: https://forum.giveth.io/t/make-our-giveth-io-dapp-more-resilient-before-giveconomy-deploy/73/11

We need an email that will be sent to projects that admins decide should remain unlisted on giveth.io... something saying "add more information to your project to get it featured on our projects page" with some examples of good projects

[2021-08-25 15:53] laurenluz opened #327 "Email to Cancelled projects"
When we decide to cancel a project we should send an email to the project owner to explain why. Projects should really only be cancelled if they violate our [covenant ](https://docs.giveth.io/whatisgiveth/covenant) or terms and conditions https://github.com/Giveth/giveth-planning/issues/324

[2021-08-25 16:08] laurenluz commented on #325
@WhyldWanderer @divine-comedian @laurenluz

[2021-08-25 16:11] laurenluz opened #328 "Add Swagger to Giveth TRACE documentation on Giveth Docs"

[2021-08-26 00:40] laurenluz opened #329 "Write and setup push email to Givers to verified projects"
2 emails:
- [x] To Giver when they donate to a verified project
- [x] To Giver when GIVbacks are ready to claim

[2021-08-30 17:11] WhyldWanderer commented on #319
Not sure if this has already been updated but I left some comments in your doc @divine-comedian ..

[2021-08-31 00:06] WhyldWanderer commented on #325
I left comments in the HackMD doc

[2021-08-31 14:21] laurenluz commented on #324
Giveth.io terms and conditions needs to be updated.

Alex from the Giving block said we could use theirs and fork it:
- [Giving Block Terms of Use](https://www.thegivingblock.com/termsofservice)

We can also use our Covenant and the TEC Covenant for reference... The Covenant will also be used in the GIVgarden
- [TEC Covenant](https://docs.google.com/document/d/1inHqkkQuZzWQQhuq5A6sVwV0a3oQwfuDRv5n

[2021-08-31 15:27] Danibelle commented on #324
OK I see this is Me and Mia now - copied the Giving Block ToS and created a doc for drafting [our version here](https://docs.google.com/document/d/19r56M2WBAf5v3tfFPil4L7o5uRNStS_D0nIf_LMKaF0/edit)!

[2021-08-31 19:37] laurenluz commented on #325
Thanks @WhyldWanderer @divine-comedian @MiA-Engel for edits... I made a bunch of changes and now think this looks pretty good. Call it done?

https://hackmd.io/A_lQfHs-RraPgLf2PInoTQ?view

[2021-08-31 19:41] #219 closed

[2021-08-31 19:49] #297 closed

[2021-08-31 19:50] laurenluz commented on #328
nice! thanks Mitch - did you get this reviewed by Mohammad or Amin? Can we close?

[2021-08-31 19:54] laurenluz opened #330 "rGIV DAO blog post"
Based on Griff's post in the forum: https://forum.giveth.io/t/hey-yall-our-rgiv-dao-is-really-powerful-d-lets-collect-info-on-it-here/93

@hannahjojo is going to take on the task of writing a medium post about the rGIV DAO and it's role in our economy... apparently its issuance model is "very fun and novel" :eyes:

[2021-08-31 20:16] laurenluz commented on #119
Design by @markoprljic in progress
https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=5815%3A2020

[2021-08-31 20:16] laurenluz commented on #253
in progress: https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=5815%3A2020

[2021-08-31 20:18] #78 closed

[2021-08-31 20:18] #35 closed

[2021-08-31 20:20] #49 closed

[2021-08-31 20:21] #248 closed

[2021-08-31 20:21] #264 closed

[2021-08-31 20:22] laurenluz commented on #265
I think 1hive has a good post and we will have an explanation on how to use the GIVgarden in our documentation

[2021-08-31 20:22] #265 closed

[2021-08-31 20:24] #40 closed

[2021-08-31 20:25] #198 closed

[2021-08-31 20:26] #46 closed

[2021-08-31 20:26] #47 closed

[2021-08-31 20:28] #130 closed

[2021-08-31 20:33] divine-comedian commented on #328
@mohammadranjbarz reviewed, this should be good to close

[2021-08-31 20:35] laurenluz commented on #273
#329

[2021-08-31 20:35] #273 closed

[2021-08-31 20:36] #263 closed

[2021-08-31 20:45] laurenluz commented on #258
10% initially unlocked, 5 years streaming: https://aragon.1hive.org/#/giveth/0x6747e3a01f31621a5e024d08f8f7c99fac0dc814/vote/63/

[2021-08-31 20:45] #258 closed

[2021-08-31 20:45] laurenluz commented on #270
#329

[2021-08-31 20:45] #270 closed

[2021-08-31 20:46] #295 closed

[2021-08-31 22:06] laurenluz opened #331 "Discord Promo Push"
- reach out to other servers to subscribe to our announcements @WhyldWanderer
- write GIVeconomy video & gitcoin blurb to push to other servers @laurenluz

[2021-09-01 19:51] laurenluz commented on #307
@divine-comedian passing to you so you can write the GIVgarden skeleton and add appropriate gardens links from https://1hive.gitbook.io/gardens/

[2021-09-01 19:56] laurenluz commented on #300
combining w #163

[2021-09-01 19:56] #300 closed

[2021-09-01 19:57] laurenluz commented on #163
As discussed in today's call, let's make this post a combination of
- how to get verified (and make a good project so it gets verified), and
- how to make a project traceable https://github.com/Giveth/giveth-planning/issues/300

[2021-09-01 20:02] laurenluz opened #332 "Create Gitcoin bounty to onboard a video editor to explain the GIVdrop"
@WhyldWanderer to investigate how to add a bounty before Sept 8 GR11

The video will:
- explain the GIVdrop
- explain the utility/applications of GIV (farm, garden, backs, stream)
- be short, punchy, cool, animated?

[2021-09-01 20:58] laurenluz opened #333 "Community Spotlight Medium Post"
Medium blog post highlighting some awesome projects on Giveth. @divine-comedian to have ready to launch by Sept 10ish so we can can shill around the start of GR11.

[2021-09-01 21:00] laurenluz commented on #228
MVV is done... iceboxing this... perhaps @Danibelle will like to take it on after GIVeconomy stuff

[2021-09-01 21:45] laurenluz commented on #188
pushed the mission live!

[2021-09-01 21:45] #188 closed

[2021-09-02 16:21] laurenluz commented on #326
#325 is the guide, for reference

[2021-09-02 16:22] laurenluz commented on #327
#325 is the guide for reference

[2021-09-02 17:25] #298 closed

[2021-09-02 17:26] #321 closed

[2021-09-02 17:26] #328 closed

[2021-09-02 19:42] divine-comedian commented on #307
WIP - https://docs.google.com/document/d/1QVUqRAv0PLelIAEijwpYvUrfN1DWFcMzbC0BdP7uhKg/edit?usp=sharing

[2021-09-02 21:17] laurenluz commented on #283
Hey fam... I added a little bit to our covenant... about rGIV and added that we'll use Gravity. I'm not totally totally sure that this is 100% correct (though I think it is)...

@Danibelle or @divine-comedian can one of you take a look? Let me know if it looks all good and I'll update it in the docs and in the garden

https://hackmd.io/fasEfiHgRKelVVxAUCya1A?both

[2021-09-02 21:41] laurenluz commented on #181
Hey @Danibelle I'd like to take ownership of the giveth project on io to update it and add regular updates, cool w you?

[2021-09-02 22:38] laurenluz commented on #181
ok Dani yes ok! @mateodaza can you give me the power?

[2021-09-03 15:25] divine-comedian commented on #283
Reviewed!

[2021-09-03 17:47] laurenluz commented on #283
thanks @divine-comedian! I added in your edits. sent to Griff for confirmation, then will push it out

[2021-09-03 21:03] divine-comedian commented on #307
first draft ready for review at the link above :point_up:

@laurenluz @WhyldWanderer @MiA-Engel

[2021-09-03 21:05] laurenluz commented on #181
any objections? @WhyldWanderer @divine-comedian @Danibelle

https://giveth.io/project/the-giveth-community-of-makers

[2021-09-03 21:08] laurenluz commented on #181
This is the google doc if you want to suggest changes.

https://docs.google.com/document/d/1ufoSW6wFNht32CylUPCu7yYOBUw7n55jIRCQGX_VYU4/edit#

[2021-09-05 08:11] GriffGreen commented on #253
looks so good!

[2021-09-05 14:07] divine-comedian commented on #181
Reviewed! Looks good

[2021-09-06 12:13] Danibelle commented on #182
I am the Campaign Manager for the Giveth 2 Campaign on Trace and have updated the description - https://trace.giveth.io/campaign/giveth-2

@laurenluz feel free to review and let me know if you see anything that needs to be revised!

[2021-09-06 12:27] Danibelle commented on #319
I have added the notable achievements per notes from Sunday Community Call.

[2021-09-06 12:27] #319 closed

[2021-09-06 20:33] #181 closed

[2021-09-06 21:01] laurenluz commented on #182
Hey Dani! Thanks for doing the update! I read it over, found some things and decided to do quick QA so I copy/pasted into google and made suggestions.

https://docs.google.com/document/d/1g2UUI0artMFbRwMDOowybreOP6pjfqjpgoiA5_XM5EI/edit

Please review and update :)

[2021-09-06 23:57] laurenluz opened #334 "Get Swag to Denver"
By Sept 13 at the very latest to distribute at MCON

[2021-09-06 23:59] #187 closed

[2021-09-07 00:01] #294 closed

[2021-09-07 20:41] laurenluz opened #335 "Documentation - How to make a project traceable"
We should add this to the docs once we have the process clear... Related to #312 because the project must first get verified

[2021-09-07 22:33] divine-comedian commented on #333
First Draft ready for review! - https://docs.google.com/document/d/13pBdMsNbkOGmkC4xd8ZGzi0UBD5bnrqmwp8uGAm5gN0/edit?usp=sharing

@laurenluz @WhyldWanderer @hannahjojo
@MiA-Engel

[2021-09-07 23:37] laurenluz opened #336 "Use GIVbacks dashboard analytics data on giveth.io"
Related to #318

As discussed in comms call, figure out how to use this data, perhaps by making a dashboard that is show on giveth.io. @WhyldWanderer to check in with Fabio...

From Mitch

[2021-09-08 19:56] laurenluz commented on #333
QA complete - really enjoyed that. man, ETHOS is so cool. I love the idea of raising funds to build houses + hire artists --> artist make the houses beautiful --> NFTs are minted --> NFTs are auctioned and funds are used to buy furniture.

Most interesting (to me) use of NFTs I've come across so far.

NICE WORK MITCH

[2021-09-08 20:47] laurenluz opened #337 "Update email: project created (add info on how to get traceable)"
Not urgent, but I think admins (when using the dapp) should have the options to send an email to projects and suggest they apply for verification. Email should say:

- We love your project!
- Apply to get verified to attract more donors and to rewards them for their contributions
- Just fill out this typeform and we'll get back to you

[2021-09-10 01:48] WhyldWanderer commented on #325
Yes! looks great!
Thanks for putting so much time into this..

[2021-09-10 01:52] WhyldWanderer commented on #331
Are we still planning this for monday the 13th?

Ive also been thinking that it might be cool to put more things in the announcements channel to try to get more involvement from other communities. Maybe we can start announcing our community calls and meme parties in the channel once more servers are subscribed...

[2021-09-10 02:08] WhyldWanderer commented on #332
Okay... it seems like its pretty easy to set a bounty on gitcoin.
We can see in this video how to do it: https://www.youtube.com/watch?v=m1X0bDpVcf4
As well as a short explanation here: https://gitcoin.co/bounty/new
I dont know how to do it in Giveth's name though... only under my account.

Information that we would need...
- how much are we offering
- detailed information about what we expect
- h

[2021-09-11 16:16] divine-comedian commented on #326
I started working on a draft. It's not explicitly clear the review process in the guide how a user can fix their project and become listed. I'm going to write in something along the lines of coming to our support channel and asking for a review of their updated project.

[2021-09-11 16:38] divine-comedian commented on #326
first draft is here - https://app.ap3prod.com/giveth/assets/613cd03879fd09441964ff35

it's just missing a link to the full listed/unlisted article which will be in the documentation?

[2021-09-11 16:44] divine-comedian commented on #327
to clarify some things currently there exists the ability to deactivate projects, which is currently what we do with projects that violate our ToS. Projects can still become re-activated afterwards. This can be triggered by either by an admin or by the project owner themselves.

Are we creating a new action of cancelling where the project is removed entirely from Giveth or is this just a renaming

[2021-09-14 05:34] WhyldWanderer commented on #336
I reached out to Fabio... ill post here when I have more info

[2021-09-14 21:34] laurenluz commented on #307
@divine-comedian Thanks for putting that together. I reviewed and made a bunch of changes. Added Tao Voting & explainers, added the decision proposal option... and I changed the section about challenged proposals because it wasn't quite right (from my understanding). Left appropriate links so you can check it out.

After you incorporate edits, I think we should still hold off pushing to live until

[2021-09-14 21:41] laurenluz commented on #182
looks like you fixed it up! Thanks @Danibelle

https://trace.giveth.io/campaign/giveth-2

[2021-09-14 21:41] #182 closed

[2021-09-14 21:47] laurenluz commented on #334
So the order was made for 300 shirts: 200 for men (navy and royal blue), 100 for women (fuschia and grey)
The first part of the order should be ready for pickup Tomorrow by 3pm. Griff is on it.

## Some details for our reference later:

**Sizes & notes:**
https://docs.google.com/document/d/1Z2yRZJ-9FoI6lvMWUdaaKdxwiVrIROHt4KjO7u6Tpak/edit

**Designs:**
https://drive.google.com/drive/folders/1prI8o

[2021-09-14 22:04] laurenluz commented on #332
Great! Thanks Ashley. I asked Willy and Griff for their thoughts on how much we should offer. As for timing on how long it would take to produce... I asked Calvin to see how long these kinds of things take.

Do you want to take on putting together the detailed info to publish on the bounty? I don't think we'd need to put the script on the bounty (and anyway I can help write that if we find someone

[2021-09-14 22:21] laurenluz commented on #333
It live

https://medium.com/giveth/community-project-spotlight-2-dc0c5ca4757d
https://twitter.com/Givethio/status/1436322934033952773

[2021-09-14 22:21] #333 closed

[2021-09-14 22:50] laurenluz commented on #327
yeah! so for simplification, you and I decided in DMs that the same email goes to project owner when they cancel or when they deactive (since it's the same event on giveth.io), with wording explaining the difference and linking the terms of use.

[2021-09-14 22:51] laurenluz commented on #327
oh oof, yeah that's not good... the project owner shouldn't be able to reactive their project in we cancel it... @mateodaza what do you think? Is it possible to remove the project if it's cancelled?

[2021-09-15 01:34] laurenluz commented on #309
Starting to work on this here: https://hackmd.io/UtbiH6ogSgau_O2yCLTv2g?edit

[2021-09-15 01:47] laurenluz commented on #311
Just took a quick look. I think this is a good start, but before we add to the docs we should add a little more enthusastic colouring... like in our other docs posts. Something that says like "become a liquidity provider and get even more GIV!"

I also think we should stick the the framing of the stream not as "tokens are being held" but rather, "your stream is growing when you interact with the G

[2021-09-15 01:47] laurenluz commented on #307
ooh also plz add a bit about earning rewards from voting with tokens in the garden

[2021-09-15 02:04] laurenluz opened #338 "Go through all existing projects on giveth.io and decide their status listed/unlisted/cancelled"
Ashley made this great sheet for us to keep track:

https://docs.google.com/spreadsheets/d/1U3_kOHqSTXrBsHLfIOdObAaP4p5NUvRX2sh3e5NYSOs/edit#gid=0

related to #325

[2021-09-15 02:10] laurenluz commented on #334
Stickers being delivered to Willy:
https://www.ups.com/track?loc=null&tracknum=1ZA576230194888297%250D%250A1ZA576230192175480&requester=WT/tracksummary

Order:
https://www.stickermule.com/orders/R344588432?token=59e0ce20c253754f&utm_swu=7709&utm_medium=email&utm_source=sendwithus&utm_campaign=order-lifecycle-order-shipped

[2021-09-15 02:16] laurenluz commented on #332
Ok so I found someone to take this on! We don't need a bounty any more. Budget of ~$1000...

I'll work on the script as per #285

[2021-09-15 02:16] #332 closed

[2021-09-16 20:56] laurenluz commented on #331
Ok I finally wrote something up quick: https://docs.google.com/document/d/1lQC07nRh4u5SAFYfgeGHQ2qaKCf9qPX1URF2zdTrfwk/edit

What do you think? Too much? Open to edits @WhyldWanderer @divine-comedian

I think we should shill this perhaps tomorrow morning?

[2021-09-16 20:59] laurenluz commented on #331
This our previous list of servers to blast in... Pasting here... We don't have to do them ALL, but for ideas:

- [ ] Commons Stack MITCH @divine-comedian
- [ ] TEC MITCH @divine-comedian
- [ ] Metagame @laurenluz
- [ ] 1hive - @WhyldWanderer
- [ ] bloom - @WhyldWanderer
- [ ] panvala - @WhyldWanderer
- [ ] dappnode MITCH @divine-comedian
- [ ] gaia gives
- [ ] bright ID @laurenluz
- [ ] WOCA @laur

[2021-09-16 21:37] laurenluz opened #339 "Make CTA content for Giveth homepage"
https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=7284%3A15785

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c3f74bd7-c3b2-45c0-ab9b-9ef09ae515c9)

[2021-09-16 21:40] laurenluz commented on #285
https://docs.google.com/document/d/1DSZYNKfJEHNaQd1Sw2fDfhEChOEgAn9LhoVZJAcYXWo/edit

[2021-09-19 23:43] laurenluz opened #340 "GIVeconomy Intro Documentation"
This is to introduce the GIVeconomy... talk about GIV, the distro, it's initial ultility and features... and future visions...

Still missing some details like the pie chart for the distro, but first draft is ready for review. @divine-comedian @WhyldWanderer

https://hackmd.io/UtbiH6ogSgau_O2yCLTv2g?both

[2021-09-19 23:49] laurenluz commented on #309
The brightID folks did a little tutorial on how to claim the airdrop... Should I put something like this in the docs as well? @divine-comedian @WhyldWanderer

I am otherwise just planning to explain who is eligible, that the drop is on xdai and that people also get the stream.

[2021-09-20 17:41] laurenluz commented on #331
OMG you guys are amazing! Thanks so much for the push - Ashley says we've got 502 members now!!! 🚀 So we can start collecting analytics from discord

BOOOOOOOOOOOOOMMMMM

[2021-09-20 17:44] divine-comedian commented on #340
reviewed! :)

[2021-09-20 17:50] divine-comedian commented on #309
The tutorial sounds great, we can have it right in the drop I think, with a prominent header, and some in-page links so any users can jump right to that tutorial from logical points within the entire article

[2021-09-20 18:33] laurenluz commented on #325
Ok Mitch made some funny bad project example on staging so we're not calling out real projects on the DApp... And I updated the doc a little to reflect some of our discussions. Calling this done.... @divine-comedian will put it under Giveth.io --> User Guides

But we'll wait until all the dev work is implemented.

[2021-09-20 20:04] divine-comedian commented on #325
great! the dev work should be done, just needs to be tested on staging and then merged to production

[2021-09-20 21:28] laurenluz opened #341 "GIVeconomy FAQ"
Looking at other people's token drops and FAQs are a great asset... This is how we prevent the bombardment of redundant questions in our discord...

Some examples:
https://gitcoin.co/quadraticlands/faq
https://shapeshift.zendesk.com/hc/en-us/articles/4403645992077-FOX-Airdrop-How-it-Works

What I'm starting:
https://hackmd.io/WyG1lN_MQiiQWv3dA8bK9Q

[2021-09-20 21:52] laurenluz opened #342 "Forum Code of Conduct"
We need this to make sure our forum has rules :)

Starting here:

https://hackmd.io/wd6sbPNaS623OJk2vxJQ8A

Inspired by:
https://forum.shapeshift.com/t/forum-guidelines-and-code-of-conduct/53
https://support.gitcoin.co/kb/article/42-code-of-conduct/

[2021-09-20 21:57] laurenluz opened #343 "Governance Process"
We need to add an explanation of our govenance process (and figure it out!) to both the docs and the forum.

The covenant already includes a lot of this information, but it's missing details on:
- how long proposals should stay on the forum for advice process
- when something goes to a vote... how/where etc... whether this is rGIV of Gardens... we should explain this

Here's shapeshift's for refer

[2021-09-20 22:15] laurenluz opened #344 "GIVdrop claim Tutorial"
The purpose is to show users how to check eligibility and claim the GIVdrop, including screenshots of the GIVdrop flow.

Some references:
https://brightid.gitbook.io/brightid/bright/getting-bright/fairdrop
https://shapeshift.zendesk.com/hc/en-us/articles/4403645992077-FOX-Airdrop-How-it-Works

This will be linked to from the FAQ #341

[2021-09-20 23:19] divine-comedian commented on #335
first draft ready!

https://hackmd.io/Cqj_evGeQDCEE3Nondq45A

feel free to review @laurenluz @hannahjojo and especially @WhyldWanderer

[2021-09-20 23:43] laurenluz commented on #312
Hey @WhyldWanderer do you have a link to your working doc for this?

We decided that Mitch is going to write the part about onboarding projects from io to TRACE and we can keep these separate.

[2021-09-20 23:45] laurenluz commented on #312
Oh wow, I'm just realizing @divine-comedian put together something nice for this already in https://github.com/Giveth/giveth-planning/issues/335

Wow, it's so cool

[2021-09-20 23:53] laurenluz commented on #312
So I think that this project verificaiton documentation can be targeted more towards people who are helping to verify projects, as per your notes in https://discordapp.com/channels/679428761438912522/876906306836000798/876909076053884928

#335 explains how to get verified and get on TRACE.

[2021-09-21 00:11] laurenluz commented on #335
This is awesome Mitch! I left some comments... This is a perfect guide for users on how/why to get their project verified... I think Ashley is working on the guide for people to join the project verification team doc in #312....

A couple of big picture notes ( I also left this as a comment)...

Can you do those follow up things?

Also... The project verification confirmation email needs to be upd

[2021-09-21 00:14] laurenluz opened #345 "Revise email to projects that get accepted for verification"
Related to https://github.com/Giveth/giveth-planning/issues/335

The project verification confirmation email should explain to the user that they can now get added to TRACE and what that means. It should link to the wizard that does that.

Also some small notes:
- should be "its" not "its'"
- let's not call "projects" "causes"... causes will be a different thing entirely
- change the part about th

[2021-09-21 00:24] laurenluz opened #346 "Discover cool new Discord features + add stage channel"
@WhyldWanderer Since we got over 500 members, it would be awesome if you could look into the new things that this opens up for us and how we can take advantage of it.

We should totally add a "stage channel" for example... so when we launch the GIVeconomy, we can do a GIVeconomy explainer talk without the limit on participants.

[2021-09-21 19:36] laurenluz opened #347 "Contributor's Guide"
WIP: https://docs.google.com/document/d/1pc0mXCZGgbyxk3qQeZL09rews8wzNmByg8BAqY1MxlE/edit#heading=h.k5mc8l5kuwn9

[2021-09-21 19:39] laurenluz opened #348 "Autopilot: Create separate email lists for project owners, donors, etc."
@divine-comedian wrote:

- got in touch with autopilot support - contacts are aliased via emails so anytime an email shows up, the affiliated info is updated - waiting to hear back from support with solutions

- to remedy contacts that were overwritten, can use graphQL - Anomalies in how autopilot saves contacts - Mitch, Ashley to support - technical bug with using the graphQL query - mohammad fix

[2021-09-22 01:28] laurenluz commented on #323
Did this ever happen? If not maybe we can write a "last chance to donate" message since there are only 2 days left.

[2021-09-22 14:16] divine-comedian commented on #323
Unsure, I don`t have the list or the superpowers to do such actions! @Danibelle

[2021-09-22 14:59] divine-comedian commented on #335
Great I made those changes! We should leave some notes of all the FAQ updates we need once this documentation goes live, you're referring to be clear, the FAQ that is currently on Giveth.io?

[2021-09-22 16:25] laurenluz commented on #345
add part about onboarding from io to TRACE

[2021-09-23 23:11] WhyldWanderer commented on #331
Success!!

[2021-09-23 23:11] #331 closed

[2021-09-24 00:13] WhyldWanderer commented on #335
I reviewed this and left some comments...
i also, edited the Project Verification Acceptance email to reflect Lauren's comments.

[2021-09-24 00:17] WhyldWanderer commented on #345
I updated the email to reflect your comments @laurenluz..

As far as I understand, the 'make your project traceable' wizard is only on develop at this point.
Once this is pushed to live, I will update the email to include a blurb about becoming traceable as well as a link to the wizard.

[2021-09-24 00:21] WhyldWanderer commented on #336
Griff says that @mendesfabio should have more time to dedicate to Giveth in a few weeks and as also has a great point that he is probably the best person for the task rather than me trying to figure out how to pull the data myself.

[2021-09-24 00:43] WhyldWanderer commented on #309
+1 to adding the tutorial... I think this will be a helpful document to refer people to when they come to the discord wondering how to claim. Thanks Lauren!

[2021-09-24 00:53] WhyldWanderer commented on #325
I dont think the emails are a blocker for the document going live...
It would be nice to include a link to this document in the emails so it would need to be live in order to direct project owners here when they receive the email.

[2021-09-24 00:55] WhyldWanderer commented on #312
Sounds good @laurenluz! I will copy the info from Discord into a Notion Document and include some of the disqualifying measures that Griff and I discussed..

[2021-09-24 17:06] WhyldWanderer commented on #346
@laurenluz which section of the Discord makes the most sense for the stage channel? Should I just put it with the rest of the voice channels or should it be in a different section? Also, what should we call it?

[2021-09-24 17:07] WhyldWanderer commented on #312
Done! Ready for QA... once reviewed I will put it live in the Notion..
https://hackmd.io/T6ldIt0eRDmKf-jrnOEVzA

[2021-09-24 17:07] laurenluz commented on #346
I think it's cool to call in stage and put it w the voice channels... what do you think?

[2021-09-24 17:19] WhyldWanderer commented on #346
Sounds good to me! we can always change it if we need to...

The channel has beeen added!

I have looked into other perks now that we have 500 members and it looks like all of them are relating to analytics...
The stage channel is a perk of us having a Community server.

Another perk of being a Community server is that we can have Membership Screening where users need to agree to rules before join

[2021-09-24 17:19] #346 closed

[2021-09-24 17:56] WhyldWanderer commented on #228
Could include info about Forming Circles and nominating stewards as well.. I think this would make the article a bit more robust.

[2021-09-24 18:04] WhyldWanderer commented on #131
Hey @mateodaza @willyogo @GriffGreen!

Im working on polishing up the documentation explaining how GIVbacks work.
Im wondering what the outcome of this issue was.

Mateo says its possible for direct donations to be eligible for GIVbacks above.
Have we discussed anything around this? Its an interesting thought but I think it would be harder to detect fraud and recirculating funds if we allow this t

[2021-09-24 18:09] WhyldWanderer commented on #149
This information has been clearly outlined in the [MVP Spec doc](https://www.notion.so/giveth/Spec-GIVbacks-MVP-2d6335964e5b414082e41d7df89f9b3d) in Notion.
I dont see any more action items for this issue so Im gonna close it.

[2021-09-24 18:09] #149 closed

[2021-09-24 18:20] divine-comedian commented on #335
let me know when this is finalized and I'll update the screenshot!

[2021-09-24 19:30] WhyldWanderer commented on #335
@divine-comedian - I confirmed with the devs that the 'make my project traceable' wizard is only on develop at this point. I plan to do a bit of testing just to make sure its all working and then I will talk with MoeNick about getting it live.

I think the best approach is to wait to take the screenshot of the updated email until the link is live. Which shouldnt block the document at all since it

[2021-09-24 19:58] #69 closed

[2021-09-24 20:13] WhyldWanderer commented on #201
Since a project needs to be created before they can apply for verification, it makes the most sense to focus discord outreach on getting more projects.

Once a project gets created, the user receives an email inviting them to get verified. I think this is the best flow for verification.

[2021-09-24 20:13] #201 closed

[2021-09-24 20:16] WhyldWanderer commented on #163
can be augmented from https://github.com/Giveth/giveth-planning/issues/335

[2021-09-24 20:20] #240 closed

[2021-09-24 20:21] #234 closed

[2021-09-24 20:22] #226 closed

[2021-09-24 20:38] WhyldWanderer commented on #306
Lets make sure to reference this somewhere within the giv documentation
https://github.com/Giveth/giveth-planning/issues/43

[2021-09-24 21:04] WhyldWanderer commented on #343
As I mentioned in the call, some of this info (the stuff referring to rDAO process) will be available in the Contributors guide.
However, now that I look at this issue more in depth, I think it would still be useful to have a document under the GIVernance circle in the docs that outlines both DAOs, their purposes and their process though.

[2021-09-24 23:00] divine-comedian commented on #343
sorry this is getting confusing when we mention rDAO and rGIV and GIVernance - are we talking about the same DAO or am I missing something here? I see this document as being a mix of contributor guide and covenant documentation

[2021-09-24 23:05] WhyldWanderer commented on #343
my bad... rGIV is the token for the rDAO (Aragon DAO).... so they are one in the same in my mind. Ill try to keep my wording the same so that we are all on the same page.

[2021-09-24 23:20] divine-comedian commented on #312
Reviewed and left some comments! I think the document starts off strong but the latter half could use some more polish.

[2021-09-25 00:19] WhyldWanderer commented on #312
I incorporated some comments and left feedback on others...

[2021-09-25 13:44] GriffGreen opened #349 "Take down wiki.giveth.io or at least document that it is a historical artifact"
lots of old bad info there... probably best to take it down or at the very least rename it to "OLD Giveth Wiki left up for historical context"

[2021-09-25 14:04] GriffGreen opened #350 "Add the fact that we stole 208 mil with the whg in july 2017 to the giveth history in the docs"
https://mashable.com/article/ethereum-stolen-white-hat-group-rescued

and

https://www.vice.com/en/article/qvp5b3/how-ethereum-coders-hacked-back-to-rescue-dollar208-million-in-ethereum

[2021-09-25 14:13] laurenluz commented on #349
@geleeroyale you have the power here, right?

[2021-09-25 15:05] GriffGreen opened #351 "Add search to docs.giveth"

[2021-09-25 19:12] geleeroyale commented on #349
Yes - we should form some consensus on what to do. Since Ashley, Lauren and Mitch did a great job at revamping the docs I would be in favor of just shutting it down (and redirect wiki.giveth.io to docs.giveth.io)

[2021-09-29 14:28] #323 closed

[2021-09-29 14:43] laurenluz commented on #349
If we shut it down, will we still have access to information?

[2021-09-29 14:52] laurenluz commented on #119
closing this, we'll use the GIVeconomy board for design stuff

[2021-09-29 14:52] #119 closed

[2021-09-29 14:53] #320 closed

[2021-09-29 14:53] #301 closed

[2021-09-29 15:02] laurenluz commented on #341
will add this to the giveth.io FAQ when it's ready under a separate category or header

[2021-09-29 15:03] laurenluz commented on #344
@hannahjojo to take this on once we have the front end deployed so we can get accurate screeshots.

[2021-09-29 15:08] laurenluz commented on #307
the earning rewards thing I think will be something like what Bright DAO is doing:

https://brightid.gitbook.io/brightid/bright/bright-dao/wrapping-bright

Griff said:
yes so staking GIV in the 100% GIV GIVfarm card will be the exact same smart contract action as wraping GIV tokens to use them to vote in the GIVgardens
so they will share the same APR
we wont need to do any extra work to calculate

[2021-09-29 15:17] laurenluz commented on #311
from last comms call:
we're doing the first round of 26 weeks and then going to take our learnings and apply them to set up future rewards
the % allocated to the first round hasn't been determined yet... I think a forum post for this will be made

[2021-09-29 15:27] laurenluz commented on #343
reminder that we're should mention both the GIVgarden and the rGIV/rDAO (from comms call)

[2021-09-29 15:30] laurenluz opened #352 "Add Code of conduct to discord"
@WhyldWanderer to add this to discord when it's done: https://github.com/Giveth/giveth-planning/issues/342

[2021-09-29 15:31] laurenluz opened #353 "Go through wiki.docs and pull out any missing gems"
Before we do this: https://github.com/Giveth/giveth-planning/issues/349
Let's do one final pass of the wiki and pull out any things we don't want to lose

[2021-09-29 15:40] laurenluz opened #354 "Reformat community call to make it interesting to whole community"
- Make slides with high-level overviews from community leads
- streamline it

[2021-09-29 15:44] laurenluz opened #355 ""Meet the Maker" project spotlight calls"
Set up/organize calls to highlight cool projects on the DApp

[2021-09-29 15:46] laurenluz opened #356 "Giveth Lounge calls"
Set up Giveth lounge - a place to just hang out together, talk about what's going on.. things we can't usually discuss in other contexts...

From Juanka:
"because if there is a meeting planned, talking about feelings or feedback can be a little bit unproductive, but creating a safe space to share thoughts and reflect collectively on how people is feeling can help to make visible and integrate thin

[2021-09-29 15:52] laurenluz opened #357 "Add/Copy blog posts from medium to Docs"
Should have our blogs also saved on https://docs.giveth.io/blog

[2021-09-29 19:17] laurenluz opened #358 "Email to projects when they get listed"
- Draft an email
- add event to code (check w Mitch)
- get that info to show up on discord "Giveth-io events log) (check w Kay)

[2021-09-29 20:55] GriffGreen commented on #131
We want to give GIVbacks to people using Giveth... so we should keep the scope as it is as there are a lot of weird issues that we would have to deal with to use the blockchain data directly instead of using the website data...  all the things you mentioned and more.

[2021-09-29 22:01] laurenluz opened #359 "Project Verification Spec"
We should create a doc roughly outlining out MVP (with the verifaction team)... and then next steps... like adding in Celeste, decentralized project verification with tokens... adding identity verificaiton for donors and projects etc.

@WhyldWanderer what do you think?? a notion doc where we put this info so we have it in one place for future reference

[2021-09-29 22:06] laurenluz commented on #359
Something to add... we could add some kind of feature where in order to get the max amount of GIVbacks you can, you have to do idx verification... like the gitcoin trust bonus.

could be that donors get 50% of their max GIVbacks as an anonymous donor... 60% if they add their email... 100% if they're verified in some way (gitcoin uses idena, brightID, PoH, POAP and more). (an idea)

[2021-09-29 22:07] laurenluz commented on #312
phewww ok I made it through, added lots of comments and ideas :) Thank you SO MUCH for doing this Ashley you are our verification queen 👑

[2021-09-29 23:58] #145 closed

[2021-09-30 00:01] laurenluz commented on #337
It should also include information on the start and end dates for the GIVbacks rounds and say that they need to get verfied by Y date to be eligible for GIVbacks round X

[2021-09-30 00:01] #139 closed

[2021-09-30 00:02] #147 closed

[2021-09-30 00:03] #74 closed

[2021-09-30 00:06] #194 closed

[2021-09-30 00:06] #200 closed

[2021-09-30 00:07] #233 closed

[2021-09-30 00:07] #250 closed

[2021-09-30 00:11] #260 closed

[2021-09-30 00:47] WhyldWanderer commented on #359
The MVP document is here: https://www.notion.so/giveth/Spec-GIVbacks-MVP-2d6335964e5b414082e41d7df89f9b3d

I will add your suggestion as a comment so that we can talk about it further.

[2021-09-30 01:04] WhyldWanderer commented on #337
This email already exists in autopilot. All you need to do is add the project's contact to the "invite for verification" list and they will receive an email inviting them to get verified. Once the admin dashboard is implemented we will add functions for automated emails for accepted applications, rejected applications, listed/unlisted projects and cancelled projects.

By the end of the week, the '

[2021-09-30 02:10] laurenluz commented on #337
ok makes sense, thanks Ashley

[2021-09-30 02:11] laurenluz commented on #359
oh ok cool, yeah. I didn't realize that all the details wrt to project verification were in there as well.

[2021-09-30 06:16] divine-comedian commented on #343
WIP - https://hackmd.io/lAMbIad3StCyFcNbRtI0zg

[2021-09-30 15:31] hannahjojo commented on #350
On July 19, the White Hat Group was finishing up a Giveth Product meeting when they heard that a hacker had stolen what was $32 million of ether at the time by breaching a wallet. They realized over 500 wallets were vulnerable to this type of attack. The Giveth devs wasted no time. They started taking advantage of the same vulnerability in wallets and emptying the wallet's cryptocurrency before th

[2021-09-30 15:35] hannahjojo commented on #350
On July 19, the White Hat Group was finishing up a Giveth Product meeting when they heard that a hacker had stolen what was $32 million of ether at the time by breaching a wallet. The Giveth Devs instantly started taking advantage of the same vulnerability in 500 susceptible wallets and emptying the wallet's cryptocurrency before the other hacker could.
In the first account, they rescued a stagger

[2021-09-30 15:36] hannahjojo commented on #350
@laurenluz

[2021-09-30 15:55] laurenluz commented on #350
Hey Hannah! I did some QA on both. I prefer the short version. See edits here: https://docs.google.com/document/d/15ON90RH4TJZrIL_xrkECdmMZu3pJGVL8Hojs4hrHl0I/edit?usp=sharing

Thanks so much!!

[2021-09-30 16:03] #43 closed

[2021-09-30 16:04] #63 closed

[2021-09-30 16:06] laurenluz commented on #131
I confirmed w Mohammad that the way we are tracking donations (and therefore determining who is eligble for GIVbacks) is through the io and TRACE databases

[2021-09-30 16:08] #152 closed

[2021-09-30 16:08] #269 closed

[2021-09-30 16:09] #268 closed

[2021-09-30 16:09] #267 closed

[2021-09-30 16:10] #257 closed

[2021-09-30 16:10] #255 closed

[2021-09-30 16:11] #272 closed

[2021-09-30 16:13] #256 closed

[2021-09-30 16:15] #251 closed

[2021-09-30 16:17] #42 closed

[2021-09-30 16:17] #32 closed

[2021-09-30 16:20] #254 closed

[2021-09-30 16:20] #317 closed

[2021-09-30 16:21] #242 closed

[2021-09-30 16:21] #67 closed

[2021-09-30 16:22] #66 closed

[2021-09-30 16:23] #202 closed

[2021-09-30 16:23] #68 closed

[2021-09-30 16:23] #151 closed

[2021-09-30 16:24] #144 closed

[2021-09-30 16:26] #65 closed

[2021-09-30 16:41] laurenluz commented on #353
Ok so I went through the wiki and I think we're *almost* cool to just take it down fully. Found only a few things we should still add to our docs, some of which we have issues for... They are below....

To add to docs:
Giveth calendar (at least a link)
Intro to Giveth.io
Governance process @divine-comedian https://wiki.giveth.io/dac/approved-policies/ #343
Code of Conduct @laurenluz  https://wiki.

[2021-09-30 18:08] #252 closed

[2021-09-30 18:08] #107 closed

[2021-09-30 18:09] #261 closed

[2021-09-30 18:09] laurenluz opened #360 "Emails"

[2021-09-30 18:10] #360 closed

[2021-09-30 18:11] laurenluz opened #361 "Emails"

[2021-09-30 18:57] divine-comedian commented on #357
LIVE

https://docs.giveth.io/blog

[2021-09-30 19:01] divine-comedian commented on #343
Okay let's have a first pass on this and anything that might be missing. Please some QA.
I did review the FOX Governace post and the covenant and I took the parts out that I found to be useful.

https://hackmd.io/lAMbIad3StCyFcNbRtI0zg

@laurenluz @WhyldWanderer @hannahjojo

[2021-09-30 19:03] divine-comedian commented on #351
definitely looks feasible !

https://docusaurus.io/docs/search

I sent in a request to Algolia to get our DocSearch API and will investigate implementation once we have the code snippet.

[2021-09-30 21:28] laurenluz commented on #310
ok, this is ready for QA @divine-comedian @WhyldWanderer @hannahjojo

FYI, I'm going to add an info graphic showing the "expanding GIViverse"... basically concentric circles with lines radially out. Going to get Rodri to help w that

[2021-09-30 21:28] laurenluz commented on #310
https://hackmd.io/AFt8g5A6T7C9XVI_06jc4w?both

[2021-10-01 15:22] hannahjojo commented on #330
first draft done and sent to @Danibelle for additional context on "how we got here" and "what we've learned along the way" :-)

[2021-10-01 15:51] laurenluz commented on #357
Am I trippin' or is it only showing some of them? I think it would be great to have also the launch post for trace and io and the "two flavours" one, but I don't see them

[2021-10-01 15:58] divine-comedian commented on #310
I gave it a quick review and left some comments, the text is mostly good, it will be useful to get some uninitiated eyes to read this document as all of us already know how this system works.

[2021-10-01 17:14] hannahjojo commented on #350
Love the edits @laurenluz , consider changes committed!

[2021-10-01 17:14] #350 closed

[2021-10-01 17:28] laurenluz commented on #343
I made some comments - thanks Mitch!

[2021-10-03 23:04] divine-comedian commented on #343
great! I incorporated most of your feedback and created another section relating to off-chain decision making

[2021-10-03 23:22] divine-comedian commented on #357
ah nice catch, there was a setting that was causing it to show only the 5 most recent posts in the sidebar. I fixed it to show all of them, you should see the changes shortly.

[2021-10-04 17:53] laurenluz commented on #342
Ok this is done: https://hackmd.io/wd6sbPNaS623OJk2vxJQ8A?both

It's pretty similar to many other codes of conduct so I think is cool to just push out.

I put it here: https://github.com/Giveth/giveth-docs/blob/master/whatisgiveth/codeofconduct.md

@divine-comedian is going to add it to the side bar on the docs

[2021-10-04 17:54] laurenluz opened #362 "Make our Forum better"
Add rules of engagement, governance process, MVV... taking a look at gitcoin, shapeshift, TEC & 1hive for inspo

[2021-10-04 18:29] laurenluz commented on #362
Ok I added...

Rules of Engagement: https://forum.giveth.io/t/forum-guidelines-and-code-of-conduct/137/2
MVV: https://forum.giveth.io/t/giveth-mission-vision-and-values/138/2

@divine-comedian when you're done w the gov process #343 can you add in the GIVernance category and we can pin it globally?

[2021-10-04 18:31] laurenluz commented on #342
ok, it's live: https://docs.giveth.io/whatisgiveth/codeofconduct

also I added an abridged version to the forum: https://forum.giveth.io/t/forum-guidelines-and-code-of-conduct/137/2

[2021-10-04 18:31] #342 closed

[2021-10-04 18:32] laurenluz commented on #352
ok @WhyldWanderer the code of conduct is done and live... I added it to the forum already, and it's on the docs...

use your discretion to decide which version to add to the discord (or if you want to tweak it a little to be discord applicable)

Full version: https://docs.giveth.io/whatisgiveth/codeofconduct
Abridged version on the forum: https://forum.giveth.io/t/forum-guidelines-and-code-of-cond

[2021-10-04 18:39] laurenluz commented on #253
Closing this because we're using the GIVeconomy board for tracking these

[2021-10-04 18:39] #253 closed

[2021-10-04 18:40] laurenluz opened #363 "Add Giveth Calendar to docs.giveth.io"

[2021-10-04 18:40] laurenluz opened #364 "Add Giveth.io introduction to docs.giveth.io"

[2021-10-04 18:40] #353 closed

[2021-10-04 18:41] laurenluz commented on #349
Hey Kay! I went though the wiki one more time and made issues for the remaining little pieces missing. You can take it down now :)

[2021-10-04 18:43] #359 closed

[2021-10-04 18:43] #53 closed

[2021-10-04 19:13] laurenluz commented on #343
I think this is good - thanks for the updates Mitch!

[2021-10-04 19:21] laurenluz opened #365 "Add proposal types to Covenant and get it live before launch"
Related to #262 and #283

[2021-10-04 19:21] #283 closed

[2021-10-04 19:21] #262 closed

[2021-10-04 19:22] #318 closed

[2021-10-04 19:23] laurenluz commented on #221
inclusive of #241

[2021-10-04 19:23] #241 closed

[2021-10-04 19:24] laurenluz commented on #336
inclusive of #167

[2021-10-04 19:24] #167 closed

[2021-10-04 19:25] laurenluz commented on #330
@hannahjojo can you add the link here?

[2021-10-04 19:42] laurenluz commented on #348
Good to go!

We're adding a popup to collect more emails for donors: https://github.com/Giveth/giveth-next/issues/272

In the future can incentivize completing your profile by saying you only get full GIVbacks when you fill out your profile

[2021-10-04 19:42] #348 closed

[2021-10-04 19:48] laurenluz commented on #327
This is done for the case of the user deactivating a project

For the case of an admin cancelling it, it's blocked by code being developed to create separate cases for when a user cancels it or when an admin cancels it

[2021-10-04 20:04] laurenluz commented on #357
so weird, am I tripping or is the TRACE launch post still missing?

https://docs.giveth.io/blog

[2021-10-04 23:27] divine-comedian commented on #357
you were not trippin' I missed it but now I just uploaded it

https://docs.giveth.io/blog/traceLaunch

[2021-10-04 23:38] divine-comedian commented on #362
it has a big section on the GIVgarden.. is it too soon?

[2021-10-05 00:14] laurenluz commented on #362
yeah I was thinking it might be too soon for the GIVgarden stuff. if you feel like posting the relevant sections and updating later, we can do that. or just wait and post it as is when we're ready

[2021-10-05 20:57] laurenluz opened #366 "Pre-GIVeconomy launch Project Verification Media Push"
- twitter push to encourage projects to get verified
- need memes on benefits of getting verified
- blog post on how to get verified & why

[2021-10-05 20:58] laurenluz commented on #366
this will include #142

[2021-10-05 21:13] laurenluz opened #367 "GIVgarden: explain token wrapping & voting in external garden"

[2021-10-05 22:10] laurenluz opened #368 "Add Tao Voting description to Giveth Forum"

[2021-10-07 17:02] laurenluz opened #369 "Update Quality Score Documentation"
Need to update this: https://docs.giveth.io/dapps/qualityscore

Once we update this: https://forum.giveth.io/t/revise-quality-score-for-projects-on-giveth-io/104

[2021-10-07 21:56] laurenluz opened #370 "Content for design promo banners"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1758e782-8fe9-4b10-b854-5426cb7fbeca)

https://discordapp.com/channels/679428761438912522/823555700735082516/895261968657682442

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/f2be1dbc-667e-43e8-b72e-e15217bc4e18)

[2021-10-07 21:59] laurenluz commented on #349
this now just redirects to the docs. thanks @geleeroyale !!

[2021-10-07 21:59] #349 closed

[2021-10-07 22:14] laurenluz opened #371 "GIVeconomy tweet thread"

[2021-10-08 16:55] laurenluz opened #372 "Community Project Spotlight"

[2021-10-08 18:45] laurenluz opened #373 "How we keep Giveth Planning organized! (READ ME)"
Hey Comms Stars and Unicorns-to-be!

We use the Giveth Planning Board to organize issues related to Giveth Communications. This issue outlines our process for zenhub coodination and QA collaboration.

## Zenhub Coordination
- Issues move from "New" to "Backlog" once they assigned to someone or picked up
- Issues move from "Backlog" to "Sprint Backlog" when we decided to take them on within the nex

[2021-10-08 19:05] laurenluz commented on #362
ok we have decided that adding gov process to the forum is the last action item for this!

[2021-10-11 14:14] WhyldWanderer opened #374 "Investigate how we can use Layer3 bounties"
Willy talked about Layer 3 in the last community call...

It could be fun to add some bounties here when the token launches

https://alpha.layer3.xyz/app

Layer3 Discord: https://discord.gg/uyfymkc8aB

[2021-10-11 16:35] WhyldWanderer commented on #352
Done!
![image](https://user-images.githubusercontent.com/74267818/136825070-3e62dbbe-9659-4e75-9e4c-e3fc552eb3e7.png)

[2021-10-11 16:35] #352 closed

[2021-10-11 16:40] WhyldWanderer commented on #338
This is finished!!

Comments from @divine-comedian on discord:
"I guess the question now is do we have a process in place to keep track of projects as they are created besides manually entering them into a spreadsheet?
do we automatically list them after x days?"

[2021-10-12 17:33] laurenluz commented on #336
Donna is interested in supporting this!

[2021-10-13 14:49] laurenluz opened #375 "Rainbow Roll Giveaway"
GIVEAWAY TIME 🌈 🧻

This week the biggest donor to a Verified Project on Giveth is eligible to win a Rainbow Roll NFT!! Contest runs from October 13-20

Forum has full details: https://forum.giveth.io/t/rainbow-rolls-giveaway/146

Here's our first tweet: https://twitter.com/Givethio/status/1448296593036349445

[2021-10-13 14:50] #357 closed

[2021-10-13 14:57] laurenluz opened #376 "Make Discord More resilient"
Vyvy-vi is supporting w this

[2021-10-13 15:01] laurenluz opened #377 "Move Quality Score & Assurance guides under "create a project""

[2021-10-13 15:06] laurenluz opened #378 "Giveth.io redesign copy"

[2021-10-13 15:11] laurenluz commented on #356
- TEC lounge, asking everyone in the group interesting questions, in a way for everyone to get to know each other. Can also talk about work related issues.
- Games already in place
- If there are issues, discuss with your buddy / governance

[2021-10-13 16:13] #326 closed

[2021-10-13 16:20] laurenluz opened #379 "Process for reviewing new projects added to Giveth - marking them as listed/unlisted"
- should add default where new projects are automatically listed after 2 weeks @laurenluz to make issue in Giveth Next
- @laurenluz to checkin w Mateo to determine when admin dashboard will be ready

- verification team can be part of listing/unlisting projects after dashboard

- until dashboard is up, need to go into the database to determine which projects are "new" in the interim @divine-comedi

[2021-10-13 16:27] laurenluz commented on #372
projects have been selected!

[2021-10-13 16:34] #358 closed

[2021-10-13 16:38] laurenluz commented on #337
being sent to invite projects to get verified... later to update w invitation to add to trace

[2021-10-13 16:40] #278 closed

[2021-10-13 16:49] #377 closed, assigned to divine-comedian

[2021-10-13 16:59] divine-comedian commented on #379
I tagged Donna in this issue so she could lend us a hand keeping track of new projects until we have implemented an automated system

this is the current spreadsheet we are using @DonnaOftadeh

[2021-10-13 17:00] #185 closed

[2021-10-13 17:01] #249 closed

[2021-10-13 17:01] #230 closed

[2021-10-13 17:01] #196 closed

[2021-10-15 18:05] WhyldWanderer commented on #372
You're such a great writer Mitch! It looks awesome. I left some comments and made small grammatical changes in the doc. Let us know when its live so we can give you all the claps!

[2021-10-17 12:55] divine-comedian commented on #351
With a helping hand from @geleeroyale  the search bar is LIVE

https://docs.giveth.io/

[2021-10-17 15:34] WhyldWanderer commented on #354
slide deck is complete.. we will see how today's call goes and adjust if needed.

link to current slide deck: https://docs.google.com/presentation/d/1R4tBEWJtqEcw3hPoK1WMjVwwGaaja56S06aENYZqJmk/edit?usp=sharing

[2021-10-17 22:26] Danibelle commented on #324
OK I've done all I can do - there are a few outstanding items:

Privacy Policy
Cookies Policy
Arbitration Jurisdiction Selection
Mailing Address for Giveth communications & opt out letters
Jurisdiction for Small Claims Court unless we can strike this due to Arbitration

Ready for final review, I'll post in Forum!

[2021-10-18 18:00] divine-comedian commented on #372
Changes are in and it's been submitted for publication

[2021-10-19 15:58] laurenluz opened #380 "Take down hidden GIVbacks (and other) posts on the docs"
https://docs.giveth.io/givbacks/givbackenomics

funny stuff, those GIVbackenomics

[2021-10-19 18:17] #380 closed, assigned to divine-comedian

[2021-10-19 22:20] laurenluz commented on #285
We've got a hack doc (old) https://docs.google.com/document/d/1DSZYNKfJEHNaQd1Sw2fDfhEChOEgAn9LhoVZJAcYXWo/edit
A script: https://docs.google.com/document/d/1q4v1yXDeqmWeA4ouaIjp-l9_JmRqb_dTaUOcgo99gGA/edit
And a timing cut:  https://drive.google.com/drive/u/2/my-drive

Wrt to the timing cut... we're going to take out the word "earn" (or make it less of a focus)... and shorten the pause around the

[2021-10-19 22:21] #370 closed, assigned to nobody

[2021-10-20 10:25] geleeroyale commented on #351
@divine-comedian did the hard part filling endless forms for algolia 😅

[2021-10-20 16:15] laurenluz commented on #375
look into other NFT launch projects, Ashley to keep an eye out in other discord servers,  can ask Vitor!

[2021-10-20 16:23] laurenluz commented on #354
Need to consider restructuring community call ... too much overlap on working groups. to discuss in comms channel & ask feedback in community call

[2021-10-20 20:32] divine-comedian commented on #369
its been removed from the documentation

https://github.com/Giveth/giveth-docs/commit/702a200ad37d7e620bbca0988dafb06f50d09837

[2021-10-20 21:12] laurenluz commented on #324
@Danibelle can you update us here once you finish it? or perhaps you can make the issue in giveth-next to change it on the DApp instead of me? then you can follow it through better

[2021-10-20 21:24] laurenluz commented on #322
Done: https://forum.giveth.io/t/conviction-voting/154

[2021-10-21 16:21] laurenluz commented on #368
Whatever you think! I made a post for CV already. I don't think it's none-sensical because most of our current forum activity is from the team... and right now we're also discussing params for the GIVgarden, so the posts do provide additional context, and will be additionally useful when we launch the GIVgarden

You can see the CV post here: https://forum.giveth.io/t/conviction-voting/154

[2021-10-21 22:55] laurenluz opened #381 "Giveaway & Contest ideas"
From @WhyldWanderer:

I found a few that look cool, are donating a considerable amount to charities, and might be willing to do a giveaway...

MetaVoicers
https://metavoicers.io/
https://twitter.com/metavoicers
![image](https://user-images.githubusercontent.com/74267818/138353878-cd813268-9046-41c6-b006-28415686c632.png)

Dystopia XXI
https://dystopiaxxi.com/
https://twitter.com/dystopiaxxi
![imag

[2021-10-21 23:41] laurenluz commented on #375
Made your comment into a new issue @WhyldWanderer ! looks awesome!

For Rainbow Rolls:
Our winners are:

https://twitter.com/BenWest
gets
https://opensea.io/assets/0xf5918382dd20ecba89747c50f80fb7f9f1e0524c/77
for his donation to
https://giveth.io/project/solidity-development-course-in-farsi-by-women-in-blockchain-iran

AND

https://twitter.com/kristoferlund
gets
https://opensea.io/assets/0xf59183

[2021-10-26 14:28] mohammadranjbarz opened #382 "The anonymous donations in our db are inverted"
![donation anonymous.png](https://images.zenhubusercontent.com/5fa7ed7fb0994323d1a66034/192b495e-2f74-4d5f-bc94-6735806af963)

as @CarlosQ96  said to me:

anonymous = !!userID
so if used id present   !1 = false, then !false = true
!!1 = true

and he is right,
for this issue we should change the logic in our code and at the same time we should write a migration to change all existing donations anon

[2021-10-27 16:04] #368 closed, assigned to divine-comedian

[2021-10-27 16:31] #382 closed, assigned to nobody

[2021-10-27 16:34] laurenluz opened #383 "Add recurring email to unverified projects to ask them to apply for verification"
keeps going until they click the link @WhyldWanderer

every 3 weeks!

[2021-11-01 19:42] #354 closed

[2021-11-01 19:42] #337 closed

[2021-11-01 19:43] #335 closed

[2021-11-01 19:43] #322 closed

[2021-11-01 19:51] laurenluz commented on #327
awesome! think we should close then?

[2021-11-01 19:52] laurenluz commented on #324
@Danibelle @MiA-Engel what's the status here?

[2021-11-02 17:34] #327 closed

[2021-11-02 17:34] divine-comedian commented on #327
OH YEAH, CLOSE IT BABY

[2021-11-02 19:15] divine-comedian opened #384 "Community Project Spotlight #4"
projects have been selected for this batch, starting draft this week..

[2021-11-02 22:30] WhyldWanderer commented on #383
Update: figuring out how I can set the journey trigger to work with this.

Currently, I see how I can set it to trigger when a link is clicked but I'm not sure how I can set the journey to trigger when a link is not clicked.

I reached out to Willy... ill update here.

Maybe @divine-comedian knows how I could accomplish this?

[2021-11-03 00:00] WhyldWanderer commented on #381
Rainbow rolls offered to do another giveaway for the month of November

[2021-11-03 00:09] WhyldWanderer commented on #376
Update: this is ongoing.. talking with vyvyvi about adding a verification bot that his friend made.
He said he will look at our current Discord server and make suggestions based on our current setup.

If anyone has other suggestions about how to make the discord more resilient before launch, please leave ideas in this issue

[2021-11-03 00:52] WhyldWanderer commented on #309
reviewed!

[2021-11-03 01:20] WhyldWanderer commented on #340
reviewed!

[2021-11-03 15:55] laurenluz opened #385 "Add VIsual UI Designer Job posting to docs"
https://docs.google.com/document/d/1-H0ZkftLT3SCReVHlSSDWvXhletnz6mYLAawtqhzvEc/edit

[2021-11-03 15:56] laurenluz opened #386 "Like & Comment of Bankless Interview w Griff"
https://www.youtube.com/watch?v=cVC9SbTmfSg

There's a great comment about doing another interview w "State of the nation" for GIveth. Go like it!

[2021-11-03 15:56] laurenluz commented on #307
Need to add info from #367

Also need to explain what the user is "claiming" in the GIVgarden

[2021-11-03 15:57] laurenluz commented on #308
need to explain that GIVbacks are in the token distro and so whenever the user claims anywhere they also get the GIVbacks portion. (and the GIVstream portion)

[2021-11-03 16:11] laurenluz opened #387 "Token Distro documentation"
We should probably explain a little about the claiming and how the distro works... whether just in the GIVbacks post or as a separate piece in the documentation.

[2021-11-03 16:12] laurenluz commented on #387
related to https://github.com/Giveth/GIVeconomy/issues/109

[2021-11-03 18:08] laurenluz opened #388 "Rainbow Roll Giveaway Part 2!"
Chair is going to hook us up with some new rolls... what should we do for the giveaway for this?

[2021-11-03 18:09] #375 closed

[2021-11-03 18:39] laurenluz commented on #309
Need @GriffGreen to make trusted seed blog post to creation explanation!!

[2021-11-03 18:41] laurenluz commented on #324
@divine-comedian to cat herd

[2021-11-03 18:44] laurenluz commented on #330
@divine-comedian to cat herd on this

[2021-11-03 18:51] laurenluz commented on #329
in backend, is there a way to know if a donor donated to a verified project or non-verified project?
We think it's possible in the backend.

Include info that 1million GIV is allocated to each round.
Link to GIVbacks page where the round detail information is.

[2021-11-03 18:52] laurenluz commented on #329
@WhyldWanderer to draft emails
@divine-comedian to work on creating autopilot journey

[2021-11-03 18:57] laurenluz commented on #388
would be great to do a project verification push!
will do the same as last time "highest donations to verified projects"
we have some more verified projects since last round.

@DonnaOftadeh has been stepping up on project verification front! Praise!!

Going to schedule a hack session next week to support team!

[2021-11-03 19:03] laurenluz commented on #381
@divine-comedian @laurenluz to add other NFT projects that are charity based if we find them!! looking for people donating at lesat 50% to charity.

Ashley to shill/reach out

[2021-11-03 19:05] laurenluz commented on #379
Dashboard is still on staging, waiting for it to go live.

conclusion for listed unlisted... projects are default unlisted and go listed after 3? weeks of inactivity

[2021-11-03 19:06] laurenluz commented on #379
@divine-comedian to champion! push to a close

[2021-11-03 19:08] laurenluz commented on #379
@WhyldWanderer feels strongly that automatic trigger is wway too much overhead for the value add

[2021-11-03 21:12] laurenluz opened #389 "Blog post on "trusted seed" as a general concept"
would love to have this out before GIVeconomy launch so we could link to it

[2021-11-04 14:35] divine-comedian commented on #384
first draft ready for review!
https://docs.google.com/document/d/1Tx9efoGwczPrueiaumUFo5YNYLXPCFKfSw-aHVvQPVE/edit?usp=sharing

@laurenluz @WhyldWanderer

[2021-11-04 14:49] WhyldWanderer commented on #385
we can post to this site for free as well https://cryptolancer.work/post-a-crypto-job/

[2021-11-04 14:56] divine-comedian commented on #385
LIVE on the docs - https://docs.giveth.io/jobs/UIdesigner

[2021-11-04 21:38] divine-comedian commented on #379
Update from development that I overheard in the dev sync - the admin dashboard is live on production, just need to secure the access credentials .. will follow up in discord

[2021-11-07 16:49] Danibelle commented on #324
alright I think all the issues have been cleared, thanks for the herding @divine-comedian  ..

The next steps are to pass this off to Development to add the required notifications that link to these docs..

1.) Pop-up for Accepting the Cookie Policy
2.) Link to Terms of Use and Privacy Policy

[2021-11-07 16:52] Danibelle commented on #330
I've been hacking on this as we evolve the DAO from rGIV to nrGIV ..

It might be a 2 parter now lol..

Finishing it up now - open for comment and review:
https://docs.google.com/document/d/1FeMVhfdFRbFguCIIwMHsZOXt2ZIK9hx2cSEou_OS5w8/edit#

[2021-11-08 19:53] WhyldWanderer opened #390 "Add VIsual UI Designer Job posting to crypto job listing sites and Giveth LinkedIn account"
Here is a list of free crypto job posting sites..

https://cryptolancer.work/post-a-crypto-job/
https://crypto-job.com/
https://crypto.jobs/
https://www.cryptorecruit.com/
https://remote3.co/
https://cryptojobs.com/post-a-job/

We should also make a post on the LinkedIn account... does anyone know who has access to this? @Danibelle @laurenluz @geleeroyale?
https://www.linkedin.com/company/givethio

[2021-11-08 20:32] laurenluz commented on #390
Thanks Ashley! I sent the issue to Heather too since she's managing applications for this one (not sure her github).

I think Krisis is probably the one w the linkedin access.

It would also be good to get this on Bankless because of all the people interested in Giveth after Griff's podcast.

[2021-11-09 00:30] laurenluz commented on #384
Reviewed! It's really good

[2021-11-09 04:15] divine-comedian commented on #367
made some additions in the header for `Wrapping GIV`

https://docs.google.com/document/d/1QVUqRAv0PLelIAEijwpYvUrfN1DWFcMzbC0BdP7uhKg/edit

[2021-11-09 15:14] laurenluz opened #391 "Add to Giveth.io FAQ"
@DonnaOftadeh suggested adding the following questions

What is verified project? and how I can get my project verified?
What is traceable project and how can I make my project traceable

I think it's a great idea, and we can link to our existing documentation.

[2021-11-10 17:58] laurenluz commented on #339
for QA if you waaant! https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1064%3A57823

@divine-comedian @WhyldWanderer

[2021-11-10 17:59] laurenluz commented on #384
will submit for publishing by end of the week!

[2021-11-10 18:00] laurenluz commented on #384
to blast off mid-late next week (last publication was oct 19)

[2021-11-10 18:07] laurenluz commented on #355
at 1st of the year, expecting to have more engagement in airmeet... this month's is a no-go b/c of giveth vacation

[2021-11-10 18:08] laurenluz commented on #376
looking at replacing out captcha bot w a question one :)

[2021-11-10 18:10] laurenluz commented on #376
@divine-comedian @laurenluz @WhyldWanderer to consider reorganizing discord flow... people get a little confused in our server

[2021-11-10 18:13] laurenluz commented on #383
Mitch to look into making jounrey, Ashley to check in w willy

[2021-11-10 18:14] #386 closed

[2021-11-10 18:19] laurenluz commented on #391
can update this in contentful, credentials are in discord (ask Lauren if you want them)

@divine-comedian to look into making clickable parts of FAQ underlines (links underline)

[2021-11-10 18:37] laurenluz opened #392 "Curiously investigate ENS airdrop - list pros/cons"
$ENS just launched and they did a big airdrop! I love taking a look at what they did and deriving some lessons learning... looking at:

- marketing/planning
- blog post
- FAQ / documentation
- delegation
- ultility
- vesting

and more! This issue is for keeping track of anything we learned.

@divine-comedian @WhyldWanderer @laurenluz @DonnaOftadeh

[2021-11-10 22:51] divine-comedian commented on #376
I think we could incorporate circles into the categories and remove some others, so have as categories `WELCOME` , ``COMMUNITY` , `PLATFORM` , `GIVERNANCE` .. we could change the current `community` category into `BRIDGES`  going down the list this could look like (with comments) :

## welcome
welcome
mission - erase messages and have a clean, pinned copy of the MVV statements
contribute - maybe r

[2021-11-12 17:30] GriffGreen opened #393 "Griff to host Governance call on monday Nov 15th"

[2021-11-14 16:45] laurenluz opened #394 "Update Partnerships Page on Giveth.io"
https://giveth.io/partnerships

I think this is out-of-date

[2021-11-14 17:01] laurenluz commented on #394
should at least include TEC (dashboard), SDG impact fund (non-profit status), Giving Block (projects), 1hive (gardens), Gitcoin (dgrants)

[2021-11-16 00:40] laurenluz opened #395 "Come up with good practice GIVgarden proposals for the GIVeconomy video"
We need to demo the GIVgarden in the GIVeconomy video... would love to show the user scrolling through proposals. So! What would be some good proposals that we would like to see in the GIVgarden after launch?

If we brainstorm here, we can then make them in the test GIVgarden and Harry can do a screen record.

[2021-11-17 17:47] laurenluz opened #396 "Gitcoin grants round 12 prep! Dec 1-16"
We need to get ready for this!! @WhyldWanderer @divine-comedian

Can we make a list of to-dos?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/85ccfe79-80f2-4b6a-91ec-ef1ca71cf422)

[2021-11-17 18:39] laurenluz opened #397 "Press Release (for non-crypto audience) announcing GIVeconomy"
From conversation w Marko, would be good to create a press release to send to some major news/media outlets that are not crypto native to announce Giveth & the GIVeconomy

https://discordapp.com/channels/679428761438912522/790268394251354143/910555326145781770

![image](https://user-images.githubusercontent.com/75490971/142261858-147d0a01-eca9-4dbb-bbc8-a14a56c607e5.png)

[2021-11-17 22:05] laurenluz opened #398 "OMG we need to update the FAQ"
https://giveth.io/faq

[2021-11-17 22:27] laurenluz opened #399 "Shill Eureka John's podcast spotlight on twitter"
https://twitter.com/EurekaJohn1/status/1460981457518800899

Key points:
- you can donate to smaller projects that are under the radar of governmants and large orgs like united way, red cross, UNICEF
- see exactly where your funds are going because the blockchain is transparent
- directly feel like you can make a different and everything is 100% transparent
- rainbow rolls shout out
- jump in to di

[2021-11-17 23:56] laurenluz opened #400 "Update DAOists listing"
https://www.daoists.xyz/resources/orgs

[2021-11-18 00:39] laurenluz opened #401 "Get someone to support claiming Optimism RetroPGF funds"

[2021-11-19 16:45] laurenluz commented on #399
https://twitter.com/Givethio/status/1461708464921759749

[2021-11-19 18:30] divine-comedian commented on #398
I've updated a lot of the current headings. related to some questions from @laurenluz to clarify how giveth is funded - well, how should we explain this?

@GriffGreen  I think you're the person who has the most info

[2021-11-19 19:29] laurenluz commented on #398
Well i think just saying we're funded solely by donations... no investments, no grants.

That's what I wrote w feedback from Griff on twitter

[2021-11-19 19:30] laurenluz commented on #398
Did you update the content too? It seemed like this was pulled from trace... and was still using the DAC framing

[2021-11-21 13:16] divine-comedian commented on #398
I'll update that as well, going to give it another pass today.

[2021-11-21 14:27] divine-comedian commented on #391
underline on links is now live on `next.giveth.io/faq`

What is a verified project?

and

What is a traceable project? should be added in to the FAQ, if you have any revisions please make them directly in contentful

[2021-11-21 15:18] divine-comedian commented on #394
@GriffGreen  are there any partnerships listed on [giveth.io](https://giveth.io/partnerships) that would merit being taken off the current list?

[2021-11-21 16:13] divine-comedian commented on #394
Okay, I added in all of the above to the partnserhips page and dappnode as well.

it is live on https://giveth.io/partnerships

any revisions please make them directly in contentful.

[2021-11-21 19:08] laurenluz commented on #394
Can we change "Partnerships" to "Partners & Friends" everywhere? In the footer, title, URL & subtext...

## can we remove:
- [ ] Alive
- [ ] Swarm City
- [ ] Salt Lending
- [ ] CanYa

## and add:
- [ ] BrightID
- [ ] Panvala
- [ ] Rainbow Rolls
- [ ] xDai
- [ ] WhiteHat Group
- [ ] The DAOist
- [ ] clr.fund
- [ ] Swarm
- [ ] Gravity DAO
- [ ] Meta Gamma Delta
- [ ] Ethereum Colombia
- [ ] SourceCr

[2021-11-21 19:18] laurenluz commented on #398
nice :) here's the tweet btw.
https://twitter.com/Givethio/status/1454084287184130049

Maybe it could be:

"How is Giveth funded?"

"Giveth has been adding value to Ethereum for 5 years, funded solely by donations. No investments, No Grants. We've been working [to advance Ethereum](https://twitter.com/Givethio/status/1454084287184130049) in pursuit of our ultimate mission: To reward and empower th

[2021-11-21 19:18] laurenluz commented on #398
I confirmed that answer w Griff

[2021-11-21 21:57] divine-comedian commented on #398
Nice! I'll work that into something more cohesive for the FAQ. One concern is that wouldn't we consider the money we receive from gitcoin grants as.. grants?

[2021-11-21 23:23] laurenluz commented on #398
no, money from gitcoin grants are donations. a grant is something that comes from an grant giving org. gitcoin grants is crowdfunded.

optimism would be a grant, but we haven't gotten that money. if the payment is followed through then that will be our first grant ever.... the last 5 years we've been operating only on donations.

[2021-11-23 11:43] divine-comedian commented on #394
Okay, most of those have been added - those left unchecked I was unable to find enough information on

I couldn't find a logo, website or anything verifiable for the whiteHat Group

swarm I found a campaign on TRACE but the link to their website seems to be broken/dead

changing the text everywhere looks like it messes up a lot of the formatting since its quite a bit longer. I don't think it's wor

[2021-11-23 17:38] laurenluz commented on #394
Wow Mitch - you're amazing! Thanks so much!!

Ok... leave the URL and the footer as "partnerships". And let's just have "partners & friends" be text on the page... either the title or the subtext or both.

As for the "ones to check in on"... they're all cool. Can you add:
- [ ] Shapeshift DAO: A free, open-source, and community-owned wallet & interface
- [ ] governauts
- [ ] gitcoin
- [ ] DoinGud

[2021-11-24 13:04] divine-comedian commented on #394
nice! okay everything has been updated and is live on https://giveth.io/partnerships

[2021-11-24 17:11] laurenluz commented on #391
@laurenluz to review

[2021-11-24 17:12] laurenluz commented on #311
https://forum.giveth.io/t/giv-liquidity-mining-plan/169/9

[2021-11-24 17:20] laurenluz commented on #379
Ashley currently watching log/event channel in discord and reviewing projects when new ones are added

Admin dashboard is not live yet. "Figuring out the flow" - now we added "cancelled* and we're still adding the quasi status of "reviewed/not reviewed"

@ForestSoleil to work on system for organizing team around unlisted/listed verifying/unverified

Blocked by development of dashboard currently.

[2021-11-24 17:23] laurenluz commented on #330
Mitch pushing forward w followup efforts

[2021-11-24 17:26] laurenluz commented on #221
Forest to set up sync w @JuankBell

[2021-11-24 17:30] laurenluz opened #402 "Community Call - Spotlight"
Looking for groups interested in collaboration opporunties - will be nice to have after launch

Not critical for us to fill this spot every week

[2021-11-24 17:31] laurenluz commented on #355
Next round is 3rd week of december

[2021-11-24 17:31] laurenluz commented on #355
could combine with GIVeconomy launch party

[2021-11-24 17:34] laurenluz commented on #395
@divine-comedian to help brainstorm

- NFT collaboration things
- audit our smart contracts

[2021-11-24 17:43] laurenluz commented on #396
- [ ] Make Github account for Giveth @divine-comedian
- [ ] Write shill skeleton post (w links to blog posts etc) @laurenluz
- [ ] Make some memes !
- [ ] Check out "Galaxy" grouping

[2021-11-24 17:47] laurenluz commented on #401
@ForestSoleil has a friend in portugal who may be willing to do us the favour

would be good to clearly outline process of what this entails

[2021-11-24 17:51] laurenluz commented on #401
it's "capital gains" - would be good if someone wants to have legal income

[2021-11-25 14:01] #393 closed

[2021-11-25 14:01] #390 closed

[2021-11-25 14:01] #378 closed

[2021-11-25 14:02] #383 closed

[2021-11-25 14:02] #394 closed

[2021-11-25 14:02] #399 closed

[2021-11-25 14:02] #384 closed

[2021-11-25 14:02] #385 closed

[2021-11-25 15:54] laurenluz commented on #396
https://gitcoin.co/blog/announcing-grants-round-12/

[2021-11-25 16:28] divine-comedian commented on #311
updated with information from approved GIVfarm spec -
https://hackmd.io/d5tY1KCSQMOCsxRDs-qRKw

[2021-11-25 16:29] divine-comedian commented on #395
I put in a bunch on the latest GIVgarden deployment

[2021-11-26 17:40] divine-comedian commented on #396
I checked in w/ Dani on the issues relating to ownership - The owner has no extaordinary rights vs. team members - anyone on the team for the listing has the ability to update the listing copy text, add team members, change title, claim funds to the grants ethereum address. I am currently on both TRACE and IO team grant listings so any access issues should be resolved!

[2021-11-26 22:32] Danibelle commented on #330
I saw a few comments from Mitch but no suggested edits?
From my view it is ready to (🌈) Roll.

[2021-11-29 14:08] divine-comedian commented on #330
OKay if the content is good to go I will give it one more QA pass

[2021-11-29 15:50] laurenluz commented on #396
I wrote an updated blurb for the giveth.io listing: https://docs.google.com/document/d/1zH7sUsIIFmOUAqcvFoPFcf9TCEcCYHHFaM1qqFrFGTg/edit#

@divine-comedian or @WhyldWanderer can you QA and then update our listing:  https://gitcoin.co/grants/795/givethio-panvala-league

[2021-11-29 17:10] divine-comedian commented on #396
I did some rapid QA - looks good, I'm updating the listing meow...

[2021-11-29 18:06] divine-comedian commented on #396
Okay both TRACE and IO listing have been updated using the copy that Lauren provided. Particularily for TRACE I said that  our main funding objective for TRACE is to begin deploying it on xDai and other L2 chains..

[2021-11-29 18:26] laurenluz commented on #396
Thanks Mitch!! hey but xDai is actually a sidechain, not a L2

[2021-11-30 16:52] laurenluz commented on #396
Thanks so much Mitch! Juanka is making a really nice, clean collection for TEC / commons stack / Giveth. I think we should shill that in our media. Once he / we decide(s) on a name for the collection, I'll share it here...

For now it's a bulk add: gitcoin.co/grants/cart/bulk-add/3951;5;283,2978;5;283,2154;5;283,1155;5;283,1127;5;283,899;5;283,795;5;283,539;5;283,517;5;283,308;5;283

[2021-11-30 17:23] divine-comedian commented on #330
Reviewed! @Danibelle  left comments in the doc

[2021-11-30 19:40] WhyldWanderer commented on #163
I have created a hackMD document and started to augment this document into a blog post.

In the governance call yesterday we discussed moving away from TRACE and not promoting its use.
![image](https://user-images.githubusercontent.com/74267818/144116070-5b140c80-b388-41ba-a983-77aa09022bd9.png)

How will that affect this blog post since the idea is to encourage people to make their projects trace

[2021-11-30 19:43] laurenluz commented on #163
UGH you're right. how far did you get on it? What if just put the project verification details + GIVbacks as the one blog post and then have "verified projects can also get on TRACE" as a single sentence linking to the documentation?

[2021-11-30 19:46] WhyldWanderer commented on #163
I honestly think that is the best approach.

We already have documentation about the process that we can link to or direct people too if they want.

This way, the info is there but we're not actively promoting it on our blog.

[2021-11-30 19:48] laurenluz commented on #163
ok let's do it that way. I'll put this in the icebox.

[2021-11-30 20:08] laurenluz opened #403 "Call for Giveth Delegates Campaign"
So Gardens has added delegation to their UI.

Also, users do not need to wrap GIV in order to delegate voting power. This is super cool because we can build hype for GIV and Giveth before the token launch with a call for delegates.

Similar to what ENS and GTC did.

@markoprljic is going to work on adding delegation to the GIVdrop.

We need to work out where we're going to organize this info and a

[2021-11-30 21:24] laurenluz commented on #403
Scope of full delegation flow is: https://github.com/Giveth/GIVeconomy/issues/101

[2021-12-01 00:54] laurenluz opened #404 "GIVeconomy partner outreach for twitter"
Before launch we need to reach out to our partners and ask them to prep to help us with a quote tweet

Some examples:

Gardens: https://docs.google.com/document/d/1q9LKFWqGdlMJU45sXJRZGCzepgsYnrwWGkq5g61oALU/edit

Panvala:

BrightID: https://docs.google.com/document/d/1R_vcsaRB4nMAcKF4TXPvx8aRvN7o-MToCyqxIY6qwko/edit

[2021-12-01 14:36] Danibelle commented on #330
Here's the Medium Draft Link for final look at how it feels there:
https://medium.com/giveth/the-giveth-dao-community-givernance-84f55fa1ce36

[2021-12-01 17:07] laurenluz commented on #311
@laurenluz @WhyldWanderer @ForestSoleil

[2021-12-01 17:07] laurenluz commented on #398
review by @laurenluz @ForestSoleil @WhyldWanderer

[2021-12-01 17:09] laurenluz commented on #221
went through final slides for last 2 gravity trainings & reached out to juanka

[2021-12-01 17:18] laurenluz commented on #330
Lauren to give final read through and publish.

To tweet... something like "the story of the Giveth DAO", how we did it, how we're doing it now - how we deal w decisions.

To publish soon, shill early next week

[2021-12-01 17:38] laurenluz commented on #396
Let's blast this off!

## Basics:
- [ ] announcements channel Giveth @laurenluz
- [ ] send an email out to previous gitcoin donors @divine-comedian
- [ ] tweet

## Discord Servers:
- [ ] Commons Stack MITCH @divine-comedian
- [ ] TEC MITCH @divine-comedian
- [ ] Metagame @laurenluz
- [ ] 1hive - @ForestSoleil
- [ ] bloom
- [ ] panvala
- [ ] dappnode @divine-comedian
- [ ] bright ID @ForestSoleil
-

[2021-12-01 18:13] laurenluz commented on #396
Our shill doc: https://docs.google.com/document/d/1gZFQ8qXBOpPwwn0u78th0_BnwfR-rQT_MnO5CTa4QYM/edit

[2021-12-01 22:33] laurenluz commented on #308
https://hackmd.io/9WSKSyz7Sa-tKQXYV7_Y7A?both

[2021-12-01 22:58] laurenluz commented on #308
@WhyldWanderer @divine-comedian @ForestSoleil

This is ready for review. Pictures will need to be updated later, ofc, but I think it's ok:

https://docs.google.com/document/d/1ghXU9TZg6kR4Zx9lX_GO1U4qGY0vHa3nUo5tnkKTjR8/edit?usp=sharing

[2021-12-01 23:01] #395 closed

[2021-12-01 23:01] #339 closed

[2021-12-01 23:02] laurenluz commented on #324
https://giveth.io/tos LIVE

[2021-12-01 23:02] #324 closed

[2021-12-01 23:02] #367 closed

[2021-12-01 23:03] #391 closed

[2021-12-02 16:49] divine-comedian commented on #308
left some comments, looks pretty good! :+1:

[2021-12-02 19:52] WhyldWanderer commented on #311
I took a look.. everything seems pretty clear to me.

Missing pieces that i noticed:
LP Token Addresses (Mainnet & xDAI)
Staking Contract Addresses
Round 1 Duration

[2021-12-02 21:40] laurenluz commented on #190
@divine-comedian @WhyldWanderer @ForestSoleil

I read this over again, I think it's good and not likely to have to change before lanunch. Video's locked in, I think we're safe to do some QA on this too. Can I get one of you to dive in?

[2021-12-03 12:25] divine-comedian commented on #311
? It says right above the distro breakdown

Good to write down though - we'll be able to fill in all the contract address once we have the final deployment

[2021-12-03 19:38] WhyldWanderer commented on #190
Wow Lauren! It looks really awesome! I left a few suggestions..

Some things I noticed that are still missing:
Token Addresses
Links

[2021-12-03 19:44] WhyldWanderer commented on #311
Yeah.. I wasn't sure if that part had been ratified at this point.
I just wanted to leave comments of things that need to be revisited before publishing like we talked about in the comms call.

[2021-12-03 21:10] WhyldWanderer commented on #308
Reviewed! I left some suggestions in the doc. Great job Lauren!
The only thing I saw missing in this doc is links

[2021-12-05 19:18] laurenluz commented on #190
Thanks Ashley!

[2021-12-05 19:19] laurenluz commented on #285
Video is done! All we need to do is blast it off at launch

[2021-12-05 19:20] laurenluz commented on #308
Thanks for the reviews team! This one is now officially done... only missing:
- links
- updated photos

https://docs.google.com/document/d/1ghXU9TZg6kR4Zx9lX_GO1U4qGY0vHa3nUo5tnkKTjR8/edit
https://hackmd.io/9WSKSyz7Sa-tKQXYV7_Y7A?both

[2021-12-06 18:53] laurenluz commented on #343
Hey @divine-comedian the TEC covenant links to their [governance process forum post](https://forum.tecommons.org/t/tec-polycentric-governance-framework/717) which includes a summary of when to use Conviction Voting, Tao Voting, etc.

Think you could add in some links and sentences so that this is our similar "living document" that we can point to from our covenant?

[2021-12-08 00:13] laurenluz opened #405 "Outreach to GIVdrop receipients"
Want to outreach to our top token recipients pre launch and ask them to help us build hype in the week before the GIVdrop

[2021-12-08 00:14] laurenluz commented on #365
https://forum.giveth.io/t/giveth-community-convent-lets-finalize-it-together/178/2

[2021-12-08 00:32] WhyldWanderer commented on #405
Might also be a good idea to see if they will do some testing...

[2021-12-08 02:15] laurenluz commented on #307
Made some comments on this. Do you think we should add our chosen parameters to the documentation?

[2021-12-08 17:12] laurenluz commented on #341
In testing parties - great way to add questions to this!!

[2021-12-08 17:17] laurenluz commented on #221
From @ForestSoleil in discord:

[2021-12-08 17:20] laurenluz commented on #142
will wait on this for after launch

[2021-12-08 17:23] laurenluz opened #406 "Review autopilot emails for the GIVeconomy"
@WhyldWanderer to do a review & set up drafts

Ensure that tenses are correct
If things need to be QA'd will add issues, send links or screenshots

[2021-12-08 17:35] laurenluz commented on #376
vy-vy-vi is going to come in after the TEC discord fixes and give ours a makeover

@WhyldWanderer to update the categories on discord this saturday

[2021-12-09 13:59] divine-comedian commented on #307
Yes! I made a table and added them into the doc - just couldn't find the final proposal parameters - action deposit, challenge etc..

[2021-12-09 18:08] WhyldWanderer commented on #142
Maybe one of the design team peeps can put together a cool graphic that explains the schedule of rounds similar to this... https://docs.google.com/spreadsheets/d/1GBZ7BxLWOxDxJCB9ExF4RdKEqM83QuaXmc4kHnqw6sA/edit#gid=0

[2021-12-09 22:23] WhyldWanderer opened #407 "Add tax deduction info to Terms of Service now that we will have a token and GIVbacks program"
We need to add some clarification to the Terms of Service around tax deductions. Somewhere in this section...
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/4ce9409b-c773-4f7e-8c57-0c09e2026a93)

Something that mentions that we do not support donors in obtaining tax deductions, and that by receiving GIV tokens, the tax deduction might be unavailable.

[2021-12-10 16:02] laurenluz commented on #307
![image](https://user-images.githubusercontent.com/75490971/145603889-bc5d6a0c-a9d7-4e09-86fc-0f5ce8b0b914.png)

[2021-12-10 16:02] laurenluz commented on #307
https://docs.google.com/spreadsheets/d/1nQrxI030dIDpS71N7HC5grrgOm6eIsPBLxsHi-Ud8GQ/edit#gid=0

[2021-12-10 16:49] laurenluz commented on #307
This is great. Made some minor fixes (added delegation). Would just fix up the table formatting then it's good to go!

[2021-12-10 17:24] laurenluz commented on #311
ok I made some changes in the hackMD, I think this is good to go up.

[2021-12-10 17:27] laurenluz commented on #308
@divine-comedian This is ok to go up as well. I will need to update the links and photos later.

[2021-12-10 17:27] #330 closed

[2021-12-10 17:29] divine-comedian commented on #307
the formatting will be in HTML/markdown so it won't matter too much how it looks now

[2021-12-10 17:46] laurenluz opened #408 "Terms & Condicitons for GIVgarden proposers and challengers"
TEC is making a good one... we should fork it after launch

[2021-12-10 18:04] laurenluz commented on #309
@divine-comedian this one can go up too

https://docs.google.com/document/d/17qjPAyrjxVbpcUHqQCQcLgkPx6-B10BNZmZeJs5JY5U/edit

[2021-12-10 18:52] divine-comedian commented on #311
LIVE
https://docs.giveth.io/giveconomy/givfarm

[2021-12-10 18:53] divine-comedian commented on #307
LIVE

https://docs.giveth.io/giveconomy/givgarden

[2021-12-10 21:17] laurenluz commented on #340
https://docs.google.com/document/d/1RHkWPqJBTo7ZzclVBt6PB59Tx7V1zrGdSLS50UTN_fo/edit?usp=sharing

https://hackmd.io/UtbiH6ogSgau_O2yCLTv2g?both

@divine-comedian ready to blast

[2021-12-11 19:48] WhyldWanderer commented on #376
Channels have been rearranged! thanks for your help mitch!

Vyvy-vi plans to have the bots implemented by the 15th.

I will provide him with content for the guide.... check out the tec discord for a preview.

[2021-12-12 16:16] divine-comedian commented on #308
LIVE
https://docs.giveth.io/giveconomy/givbacks

[2021-12-12 16:17] divine-comedian commented on #309
LIVE
https://docs.giveth.io/giveconomy/givdrop

[2021-12-12 16:17] divine-comedian commented on #340
LIVE
https://docs.giveth.io/giveconomy/

[2021-12-14 01:24] laurenluz commented on #310
@WhyldWanderer @ForestSoleil @divine-comedian please review:
https://docs.google.com/document/d/1ArudRhCo7MWY5g8JpawKDsR22nH2Nqkfhl8M_0RvNcU/edit?usp=sharing

### References
FYI - here's the HackMD if you wanna see the pics/formatting
https://hackmd.io/AFt8g5A6T7C9XVI_06jc4w?both

Also... If anyone wants to ratify my dates and make sure I did math good: https://docs.google.com/spreadsheets/d/1fgZl

[2021-12-14 03:13] laurenluz commented on #341
@divine-comedian @WhyldWanderer @ForestSoleil

Please review the GIVeconomy FAQ. I think it's good. Maybe some of the questions need to be re-ordered... or maybe we want to have sub headers.... Maybe there are more questions that you think are missing.

If you have more questions to add, please write the answers in as well.
https://docs.google.com/document/d/1Zgv4CvtRPAM4HIlvBXW1fn28Fwe8oMCSgZuV7h

[2021-12-14 12:30] divine-comedian commented on #310
reviewed! In general I think we should be clear that the GIVstream is a function of time primarily but can be augmented by increasing your contributions - a universe expands infinitely with time - let's just be sure that our narratives don't .. cross streams  (hahahahaha)

[2021-12-14 12:37] divine-comedian opened #409 "Create Spreadsheet for new PAN payments system"
from GIVernance notes:
- **WG PAN allocations**
    - Mitch's idea from Discord based on last week's feedback. Safe enough to try?

    [https://discord.com/channels/679428761438912522/892792397849821215/912417108191739914](https://discord.com/channels/679428761438912522/892792397849821215/912417108191739914)

- send out distro as is from spreadsheet where Stewards analyzed invidiual contributors

[2021-12-14 14:31] divine-comedian commented on #341
reviewed! left some comments!

[2021-12-14 15:04] csggene3 commented on #409
Sweet! this will be fun for me to jump into since I've never had the opportunity to work with trace, and prepping a new system to use?? ++more cool =D

[2021-12-14 15:07] csggene3 commented on #409
The data is in the repo or a separate spreadsheet or? just a finger towards step0 and i'll b off =)

[2021-12-14 15:07] csggene3 commented on #409
or slow the role and sync with dani?

[2021-12-14 16:52] laurenluz commented on #341
thanks for the feedback @divine-comedian ! I asked @WhyldWanderer to do a final read through and then she's going to put this in some organized way in contentful.

@WhyldWanderer - the up-to-date version is in the google doc: https://docs.google.com/document/d/1ArudRhCo7MWY5g8JpawKDsR22nH2Nqkfhl8M_0RvNcU/edit

[2021-12-14 16:54] laurenluz commented on #398
@WhyldWanderer going to do a final read when she takes care of #341

[2021-12-14 17:03] laurenluz commented on #310
@divine-comedian it's tricky to pick the best framing for sure... but this giviverse thing is all over the place already. GIVdrop, several pages of the GIVeconomy, multiple pieces of documentation, the launch article and the video and I don't have the bandwidth or motivation to change it now.

Leaving it as-is for now. If this is something we want to change after launch we can do so then... especi

[2021-12-14 18:25] divine-comedian commented on #409
sync with Dani!

here's some of the old spreadsheets:
https://docs.google.com/spreadsheets/d/13V6WVmmHGDjTgx6ImuODuqKSI-oTh3iUC_p_IAe8_HA/edit?usp=sharing

https://docs.google.com/spreadsheets/d/1O3NBPndjm-e7CEMKwhMNHQxvug4SyuozO9xw2XeabS4/edit?usp=sharing

[2021-12-14 18:34] ForestSoleil commented on #341
Yes i am reviewing this now

[2021-12-14 20:19] ForestSoleil commented on #341
Review complete, comments in doc

[2021-12-14 20:25] ForestSoleil commented on #310
Reviewed - looks good and appreciate the hackmd graphics

[2021-12-14 20:37] ForestSoleil commented on #398
Just reviewed. Looks good.

Minor:
Need a period at end of paragraph and a comma after SDG Impact Fund in the 2nd question.

Under question 'can i donate on giveth if i dont have crypto' i suggest defining the term 'fiat'.

In the last question there's a closing quotation mark only on one side of a sentence. And a period at the end where there should not be.

Curious what the process is for adding

[2021-12-14 20:41] ForestSoleil commented on #221
Met with Juan Carlos this week and had a really awesome session with him. So stoked on all the possibilities! I am actively working on this. Do we need documentation by a certain date? I can put something together, but it will be a work in progress and something that I adapt as we go to heat fit Giveth and our economy.

[2021-12-14 21:51] divine-comedian commented on #398
If you get the log in credentials for contentful it's very easy to add in more question to the FAQ

[2021-12-14 23:24] WhyldWanderer commented on #310
Reviewed! i left some suggestions in the google doc

[2021-12-15 01:37] WhyldWanderer commented on #341
FAQ's are ready to go up...
We just need the live economy links

[2021-12-15 12:04] divine-comedian commented on #310
LIVE!

https://docs.giveth.io/giveconomy/givstream
(just missing links)

[2021-12-15 16:03] WhyldWanderer commented on #407
"Giveth takes steps to confirm each Verified project that claims to be a nonprofit is a registered nonprofit organization by confirming the tax ID number. In the US, these nonprofit organizations are tax-exempt under section 501(c)(x) of the Internal Revenue Code. For international organizations, we confirm they are the equivalent of a 501(c)(x) organization and confirm they are registered in thei

[2021-12-15 16:52] WhyldWanderer commented on #376
I sent the content for the guide to @Vyvy-vi...
You can see it here: https://docs.google.com/document/d/1KTDvpTadxNrX33XTNeJ5YXjdXhH4E1yNG5m458KBMTM/edit#

[2021-12-15 16:55] WhyldWanderer commented on #308
I am realizing that we need to be more clear about Verified projects donating to other verified projects.
Since all verified project addresses are added to the purple list, these projects will not be able to receive GIVbacks if they donate using their project address.

We should correct this paragraph:
![image](https://user-images.githubusercontent.com/74267818/146230015-d60f289d-daf8-41c8-b419-14

[2021-12-15 17:11] laurenluz commented on #308
should allude to purple list (without being explicity) - if you're using the wallet address attached to your verified project or campaign

only campaigns get GIVbacks... nuances from TRACE

@WhyldWanderer to go in and update with the extra details directly in the live doc. and add it into the GIVbacks blog post issue

[2021-12-15 17:12] #398 closed

[2021-12-15 17:15] laurenluz commented on #329
@WhyldWanderer just needs to write content for the email

[2021-12-15 17:15] laurenluz opened #410 "Review emails in autopilot to makes sure they're ready to launch"
@WhyldWanderer to investigate

[2021-12-15 17:19] laurenluz commented on #221
discussing creating regular spaces to voice concerns & communicate about things so they don't become issues.

interested in writing conflict resolution in DAO

[2021-12-15 17:40] laurenluz opened #411 "GIVeconomy Launch party"
- could use airmeet? could use stage in discord?
- do we want to include people to spotlight projects?

- old givethers
- team members presenting - farm, project verification, GIVbacks,
- Giveth projects?
- gardens representative
- interactive things? can we give GIV tokens & donate to projects together during launch party?
- [tip.cc](http://tip.cc) bot? Ashley to investigate & ask Willy
- GIVback

[2021-12-15 17:41] laurenluz commented on #404
Our spreadsheet: https://docs.google.com/spreadsheets/d/10d3-NFU6M7Dl9u4A4W0g4JZa96zNuUpGzXxtljJuF94/edit#gid=0

Our groupings of people to contact:
- Verified projects
- GIVdrop recipients
- Partners

[2021-12-15 17:42] #405 closed

[2021-12-15 17:42] WhyldWanderer commented on #404
Here is a link the the other outreach spreadsheet we have... its kinda messy but maybe we can harvest some info from here:
https://docs.google.com/spreadsheets/d/1Itb-64dyseTGElTOuA3CUozkLFmfFrK_pn80LfLOOG0/edit#gid=862856503

[2021-12-15 17:45] laurenluz commented on #407
Should have review call with @Danibelle @GriffGreen @WhyldWanderer to review some pieces of terms of service & SDG thing and be certain that things makes sense.

@GriffGreen was going to reach out to some legal support

[2021-12-15 17:49] laurenluz opened #412 "Podcast w Kevin Owocki and Griff"
after GIVeconomy launch

[2021-12-15 17:49] laurenluz opened #413 "MetaView podcast after launch!"

[2021-12-15 19:12] WhyldWanderer commented on #411
Yes they do!
Willy sent me these videos that Shapeshift made about depositing, tipping, and withdrawing from tip.cc
https://m.youtube.com/watch?v=lEeo4qNZjV8
https://m.youtube.com/watch?v=O5_YzYCFZKE

[2021-12-15 19:24] WhyldWanderer commented on #411
tip.cc bot only works in Discord and Telegram so we wouldn't be able to use this during the meet the makers event on airmeet.
Maybe we can give everyone GIV tokens at the launch party and encourage them to come to the meet the makers event to donate them/receive GIVbacks for those donations?

[2021-12-15 23:08] WhyldWanderer commented on #308
made updates to the docs... still missing live giveconomy links though

[2021-12-15 23:09] WhyldWanderer commented on #142
Just want to leave a comment here that we should make sure to be clear that projects cannot receive GIVbacks for donations to their own project or other verified projects.

[2021-12-16 19:13] divine-comedian commented on #344
I'll pick up the flag on this one - waiting for GIVdrop page to be finalized from @laurenluz @pkretzschmar

[2021-12-17 22:37] laurenluz commented on #404
https://docs.google.com/document/d/1AQ4vM7jALdqHgs-hpdXeTAr5Om7bv7X-wyeNFHXuGCo/edit#heading=h.td60336cxkb1

[2021-12-17 22:42] laurenluz commented on #407
Griff and Ashley were just talking about this... that we should remove the SDG stuff from the terms for now. take out the non-profit stuff and just don't mention it

[2021-12-18 20:28] divine-comedian commented on #407
any updates on the legal review? can we put this text @WhyldWanderer  posted as is?

[2021-12-19 18:11] laurenluz commented on #311
@divine-comedian we need to add a little more detail to the doc about the univ3 pool. Things to explain:

- if a user is unstaking an NFT, they also harvest rewards for *that NFT* (and with this, they get rewards also from their GIVstream)
- if a user has an NFT staked... when they harvest rewards... the tx is a multicall wherein the NFT is unstaked, the rewards is computed, the rewards go the use

[2021-12-20 17:17] divine-comedian commented on #311
nice! added in a section to the GIVfarm

https://github.com/Giveth/giveth-docs/commit/b3db870405e770eaa2c6047b77ecbd7ea6a8be68

[2021-12-20 21:44] divine-comedian commented on #344
ready for review! missing some final screenshots and links once the UI is finalized
https://hackmd.io/jRfk1T_ER76xFPtveA74Lg
@laurenluz @WhyldWanderer @ForestSoleil

[2021-12-20 22:13] divine-comedian commented on #407
okay - checked in w/ Griff - changes are in https://github.com/Giveth/giveth-next/commit/749f4dd38ae9687fd36c0b761b8ca3220d814486

[2021-12-20 22:38] #387 closed

[2021-12-20 22:38] #392 closed

[2021-12-20 22:38] #396 closed

[2021-12-21 00:05] laurenluz commented on #371
@divine-comedian @WhyldWanderer @ForestSoleil

Can I get some eyes to QA this?

https://docs.google.com/document/d/1bZa8Cy1NTSGTaQJ_3FmKAqSEou05xOtwgeLN6vRIbkY/edit

[2021-12-21 00:40] WhyldWanderer commented on #371
Reviewed and left comments!

[2021-12-21 01:40] laurenluz commented on #344
Looks great Mitch, I made some small edits directly in the doc... Couple of things I think we should maybe update:

- put in pics with a nice modest address on a deployment where things look right (the ones in there have some weird formatting things)
- Can you add something about this weird wallet connected to a different address thing? https://github.com/Giveth/GIVeconomy/issues/267

[2021-12-21 01:41] laurenluz commented on #344
Also, not sure, but maybe the "you missed the GIVdrop" one could show a not-real address... or a blank input field, instead of a real address

[2021-12-21 12:42] divine-comedian commented on #371
reviewed! comments in da doc

[2021-12-21 13:23] divine-comedian commented on #344
okay photo changes have been incorporated!

[2021-12-21 18:31] WhyldWanderer commented on #407
Looks good! changes have been implemented...

[2021-12-21 18:31] #407 closed

[2021-12-21 20:55] divine-comedian commented on #344
I added a small blurb in reference to the getting stuck issues you mentioned - https://hackmd.io/jRfk1T_ER76xFPtveA74Lg#If-you-get-stuck-in-the-GIVdrop-claim

[2021-12-21 22:11] WhyldWanderer opened #414 "Update 'project created' email"
Current/prelaunch version:
![image](https://user-images.githubusercontent.com/74267818/147004134-f3df475e-2675-48c4-a42c-a9c02493c669.png)

To be published at launch:
![image](https://user-images.githubusercontent.com/74267818/147006641-8cb6e601-9577-4491-8c34-a38e7ae4675b.png)

[2021-12-21 23:16] WhyldWanderer opened #415 "Update 'Invite for Verification' email"
Sorry... I totally forgot to take a screen shot of the before email 🤦

But here is the 'at launch' version:
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/5469f09d-41d5-4094-a55f-b51b0594ec2c)

Please tell me if I should change anything.

[2021-12-21 23:30] WhyldWanderer opened #416 "Update 'Project Rejected' email"
Here is the updated version:
I just updated links on this one.
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/9deeda52-7d71-4449-b654-fadf17a46d48)

[2021-12-21 23:54] WhyldWanderer opened #417 "Update 'Project Approved' email"
I think this one could use a little more work. Any ideas?
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/ae3a3356-4e09-41f8-96fd-1b11ecead757)

I would like to add a link so that the project can share from twitter or social media that they are now verified... do you know how to do this @laurenluz?

[2021-12-22 00:08] WhyldWanderer opened #418 "Update 'Project Listed' email"
Here is the updated 'at launch' version:
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/495b8884-bf52-4d66-a6c0-fc7c235267d1)

[2021-12-22 01:21] WhyldWanderer commented on #329
Im working on the "Givers to verified projects email'

Heres what is written so far...
![image](https://user-images.githubusercontent.com/74267818/147018673-f63a8e04-87f7-4de4-a51b-e8c045815763.png)

But when I send the test email, it is not autopopulating the information.
This is what it looks like:
![image](https://user-images.githubusercontent.com/74267818/147018772-d27a0d9d-c1df-4f9b-9f83-675f

[2021-12-22 01:29] WhyldWanderer commented on #406
Emails have been reviewed! I have made issues regarding each one for Q/A process.
Progress can be tracked in this epic: https://github.com/Giveth/giveth-planning/issues/361

[2021-12-22 01:29] #406 closed

[2021-12-22 16:06] divine-comedian commented on #329
let's figure it out - In the meantime I would remove the refrence to 75% of your donation back - let's be less explicit and just say they'll receive GIV tokens at the end of the GIVbacks round

[2021-12-22 17:28] WhyldWanderer commented on #376
Verification bot has been added... testing is in progress

[2021-12-22 19:34] divine-comedian commented on #344
LIVE! - missing some UI links from the final deployment

https://docs.giveth.io/giveconomy/givdrop/#claiming-your-givdrop

[2021-12-23 00:33] WhyldWanderer commented on #366
id say we did a great job with this between twitter and emailing current projects..
Weve been receiving more applications..
Is there any other tasks that we need to complete before we close this?

[2021-12-23 00:34] WhyldWanderer commented on #366
I guess there is the blog post thing.. Not sure how much bandwidth we have for that right now though. I think the GIVbacks documnetation and the Doc that mitch made about verification will have to be good enough for now?

[2021-12-23 00:42] laurenluz commented on #366
happy to close it if you are

[2021-12-23 00:44] laurenluz commented on #404
Ok I'm done with this, I messaged somewhere between 50-100 people

[2021-12-23 00:47] WhyldWanderer commented on #369
I dont see this anymore, I think we can close this

[2021-12-23 00:47] #369 closed

[2021-12-23 00:48] WhyldWanderer commented on #376
bots are in! verification is smooth.. tested.. I think we are good to go on this.
Feel free to create a Discord test account if you want to try it out

[2021-12-23 00:50] WhyldWanderer commented on #379
The automated unlisted to listed thing has been adjusted to two weeks.
We can filter by 'not reviewed' and list/unlist projects as they come in and I will incorporate this in our biweekly verification parties to ensure that all projects get reviewed in a timely manner.

[2021-12-23 00:51] WhyldWanderer commented on #379
Im going to close this for now and if we need to revisit this again we can make a new issue

[2021-12-23 00:51] #379 closed

[2021-12-23 00:54] WhyldWanderer commented on #401
WE found this person yeah? can we close this?

[2021-12-23 01:09] laurenluz commented on #401
yep

[2021-12-23 01:09] #401 closed

[2021-12-23 01:22] WhyldWanderer opened #419 "Launch Shilling"
Okay guys... here we go!
As per the [launch plan](https://docs.google.com/document/d/18MXQV1bX6ng8tZv7QxH7Gb1vZsdbOSitLgt9BURgfa0/edit?usp=sharing) here is the list of shilling channels. Please feel free to add more.
Check the box and add your name to the ones you will own:

- [ ]  Write shill skeleton post (w links to discord, blog, giveth, etc)

Discord Communities to shill in:
 - [x]  1hive
 -

[2021-12-23 02:53] laurenluz commented on #400
We're talking to them Wed Dec 29 at 12pm Costa Rica time on their podcast

[2021-12-23 04:58] #366 closed

[2021-12-23 10:50] Vyvy-vi commented on #376
I think we still need to remove the old Captcha bot

[2021-12-23 13:00] WhyldWanderer commented on #376
Done!

[2021-12-24 05:11] WhyldWanderer commented on #341
FAQ's are updated, publicly published, and links are functioning! Thanks Mateo!!

[2021-12-24 05:11] #341 closed

[2021-12-24 13:29] laurenluz commented on #419
I made a launch shilling template: https://docs.google.com/document/d/1s_Q0eZ41Z0Ono2NG0AJ19rIRwesOlPPtprYG_aLixS0/edit

@WhyldWanderer @divine-comedian you have edit access so if you want to copy/paste it below and make it your own, feel free!

[2021-12-24 13:30] WhyldWanderer commented on #419
You da best! Thanks Lauren

[2021-12-24 22:22] laurenluz opened #420 "Project Verification documentation"
we should write something good and change all our links explaining it

[2021-12-24 22:23] laurenluz opened #421 "Add weird stake/wrap GIVgarden staking 100% pool on GIVfarm"
as per: https://github.com/Giveth/GIVeconomy/issues/395

[2021-12-27 01:21] #412 closed

[2021-12-27 01:21] #344 closed

[2021-12-27 01:21] #340 closed

[2021-12-27 01:21] #308 closed

[2021-12-27 01:21] #310 closed

[2021-12-27 01:21] #309 closed

[2021-12-27 01:21] #343 closed

[2021-12-27 01:21] #307 closed

[2021-12-27 01:21] #311 closed

[2021-12-27 01:21] #404 closed

[2021-12-27 01:22] #190 closed

[2021-12-27 01:22] #371 closed

[2021-12-27 01:23] #403 closed

[2021-12-27 01:25] #402 closed

[2021-12-27 13:10] divine-comedian commented on #329
I think we resolved the mystery for this issue - can we call this done @WhyldWanderer ?

[2021-12-27 14:30] WhyldWanderer commented on #329
Yes!

[2021-12-27 23:37] WhyldWanderer opened #422 "Create email to project owners who received a GIVdrop"
Anyone who created a project before Dec 10th received a GIVdrop.
I think we should inform these users that might not follow us on social media or Discord.

This issue is blocked by the claim UI not allowing users to connect with their torus accounts.
Once we have torus integration I will send an email.

[2021-12-29 01:14] laurenluz opened #423 "Make a Giveth Gather Town"
Satya from Gather Town has offered to let us use gather town to make a space for giveth things! would be so cool. I would love to set this up.

He said to ping him when we're ready to get set up. I think we should get on this... but only when we have a reason to use it.

[2021-12-29 15:59] laurenluz opened #424 "Get on gnosis chain as ads!"

[2021-12-29 15:59] laurenluz commented on #142
should include future plans for GIVbacks evolution

[2021-12-29 17:39] laurenluz commented on #376
Will be adding bots!

[2021-12-29 17:42] laurenluz opened #425 "GIVeconomy launch debrief"
I will schedule this!

[2021-12-29 17:42] laurenluz commented on #425
@ForestSoleil to make a doodle

[2021-12-29 17:44] laurenluz opened #426 "OG Givethers meeting"
Get people to come together and have a talk! Talk about old times & new times with big token holders

[2021-12-29 17:46] laurenluz commented on #408
We should push gardens team to add this check box to their UI

[2021-12-29 17:52] laurenluz commented on #420
Document in notion outlines the process
This document will basically explain what we look for in the typeform

[2021-12-29 17:56] divine-comedian commented on #421
add to Gardens documentation -

wrapping contract in gardens function is approve then wrap instead of permit - that is why we always need to approve then stake while staking GIV in the GIVfarm

[2021-12-29 17:58] laurenluz commented on #355
got 8 responses from projects already!

how many do we want? let's revisit next comms call

[2021-12-29 23:36] laurenluz opened #427 "Change wording in email about GIVbacks to specify when they get distributed"

[2021-12-30 00:07] laurenluz opened #428 "Pin FAQs to support channel"
We can copy/paste any other questions into the support channel and answer them and then pin to the channel, following Ashley's lead

[2021-12-30 00:12] laurenluz opened #429 "Add to code of conduct"
Need to add to discord & to the forum..

Currently it looks like this: https://forum.giveth.io/t/forum-guidelines-and-code-of-conduct/137

We should add this, I think as #4 (and bump up all the other numbers)

--> 4. Please only chat or post a comment if you are adding value to the conversation. No excessive or repetitive use of one-word comments allowed.

@WhyldWanderer what do you think?

[2021-12-30 00:13] laurenluz opened #430 "Create boundaries with the discord/twitter army"
@ForestSoleil to write best practices & get feedback from crusher

@WhyldWanderer to support & explore the shillers' discord

[2021-12-30 00:14] laurenluz commented on #424
From Mojmir on telegram:

Below is the offer for Giveth. It is up to you if you want to use only #1 or only #2 or both. Everything is free of charge.

We can add your Ads into the xDai instance of BlockScout. In case you are interested, below is what we need from you in order to do so:

1. Text ads

- Name
- Logo in svg
- Text, 120 characters max
- CTA (button text, 20 characters max)
- URL

2. Ba

[2021-12-30 00:42] WhyldWanderer commented on #429
I think it looks great! I will add it now..

[2021-12-30 00:46] WhyldWanderer commented on #429
Discord and Forum have been updated

[2021-12-30 00:46] #429 closed

[2022-01-03 15:01] laurenluz opened #431 "Post Spanish article on Medium"
https://hackmd.io/HXo_OuPYQ5-IdmoCRmCPOA

[2022-01-04 00:15] laurenluz opened #432 "Improve Giveth Basics Contributors Guides"
https://www.notion.so/Giveth-Basics-bff76dceaec64839b73aa89ba2fb8be4

https://forum.giveth.io/t/starting-kit-for-new-contributors-in-development-wg/235

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0a02ac16-96a8-425b-858b-285eb3bea123)

[2022-01-04 02:43] laurenluz commented on #432
https://miro.com/app/board/uXjVOYaa00Y=/

[2022-01-04 14:44] laurenluz opened #433 "Add GIVbacks Token list to GIVbacks documentation"
https://forum.giveth.io/t/givbacks-token-list/253

[2022-01-04 21:23] laurenluz commented on #414
This is great Ashley!

[2022-01-04 21:23] #414 closed

[2022-01-04 21:24] #418 closed

[2022-01-04 21:25] #416 closed

[2022-01-04 21:26] #415 closed

[2022-01-04 21:27] #329 closed

[2022-01-04 21:28] #419 closed

[2022-01-04 21:28] #365 closed

[2022-01-04 21:28] #410 closed

[2022-01-04 21:29] laurenluz opened #434 "Get rid of contentful"

[2022-01-04 21:32] laurenluz commented on #400
https://www.daoists.xyz/resources/orgs/details?recordId=recnk5UmtZvE6M3un

Ok so we're there... but the rating is bad and the description is bad too

[2022-01-04 21:32] #411 closed

[2022-01-04 21:34] laurenluz opened #435 "Add "proposals" category to the forum"
Sem made a great suggestion... copy/pasting here:

In 1hive we have a category called proposals with a prefilled template, I adapted it for giveth:
...

## Proposal Information
**Proposal description:**
*An accurate and detailed description of what you are proposing*

**Proposal Rationale**
*Detailed rationale for why this proposal exists and should matter to GIV holders, the Giveth community, and

[2022-01-04 21:35] laurenluz opened #436 "Use notion calendar instead of/in addition to google?"

[2022-01-04 22:14] laurenluz commented on #417
I don't know how, but I think it's a great idea. I bet you @mateodaza knows! Can you help us out?

[2022-01-05 16:30] ForestSoleil commented on #430
Here's the google doc I created for communication agreements and best practices.

https://docs.google.com/document/d/1Kcx13dUMoH2HZRj9ha9VDnQLrvYAu9lTinhT3fs4ANY/edit?usp=sharing

Sharing with Crusher now for feedback. Will implement his feedback into the google doc then look for QA from our comms team before we push this live.

[2022-01-05 16:36] ForestSoleil commented on #430
In active communication with crusher (aka Erik)

[2022-01-05 16:42] ForestSoleil commented on #425
Created NeedToMeet Poll a few days ago

Myself, ashley, lauren and marco have completed our availability. Marco only put 1 spot so most likely he wont be able to join.

Just DMed everyone on the core team to fill it out.
 https://www.needtomeet.com/meeting?id=bdpu14rmV

[2022-01-05 17:24] laurenluz opened #437 "Tweet thread for hiring for open positions"
To post in other people's jobs boards!

[2022-01-05 17:27] laurenluz commented on #430
Can connect with heather because she has some helpful resources

[2022-01-05 17:33] laurenluz commented on #355
7 interested projects - verified projects
Forest to reach out to personal connections w project owners

@WhyldWanderer to add link to form to this issue

[2022-01-05 17:37] laurenluz commented on #355
DeSci world is in!

[2022-01-05 17:37] WhyldWanderer commented on #355
Typeform for interested projects:

https://giveth.typeform.com/meetthemakers

[2022-01-05 17:40] GriffGreen opened #438 "Commons Stack GIVeconomy AMA"
Lauren, Mitch, Ashley, Griff, Sem all at Lauren's house at 10 AM for a 1 hour fun call!

[2022-01-05 17:40] divine-comedian commented on #421
clarify that GIVfarm and GIVgarden wrapping tokens is the same thing inside of giveth documentation

[2022-01-05 17:41] GriffGreen commented on #438
https://twitter.com/commonsstack/status/1478698906582138880?s=20

[2022-01-05 17:41] laurenluz commented on #409
going to disperse as before & will stop using PAN for payments & will use for liquidity or something else

[2022-01-05 17:41] #409 closed

[2022-01-05 17:44] laurenluz commented on #427
GIVbacks will be distributed "sometime after the round ends"

[2022-01-05 17:45] #428 closed

[2022-01-05 17:50] laurenluz commented on #432
will make separate guides for difference WGs

[2022-01-05 17:52] laurenluz commented on #434
@markoprljic @mateodaza @MoeNick - is this something we could make happen in the new typescript version?

The comms team loathes contentful

[2022-01-05 17:53] laurenluz commented on #435
should check to see if it's in-line with governance process document

[2022-01-05 17:54] MoeNick commented on #434
Yeah we make it in that repo . you can see the draft here: https://typescript.giveth.io/about

[2022-01-05 17:59] laurenluz opened #439 "Fill out desci dashboard"

[2022-01-05 17:59] MoeNick commented on #434
Feel free to create issue under this Epic: https://github.com/Giveth/giveth-io-typescript/issues/31

[2022-01-05 18:05] GriffGreen commented on #425
New Doodle: https://doodle.com/poll/qnr4mha74pbagqnf

[2022-01-05 18:41] laurenluz commented on #434
done! https://github.com/Giveth/giveth-io-typescript/issues/56

[2022-01-05 19:59] laurenluz commented on #400
ok I wrote a quick thing to update it and send it to Steve from the DAOists to update

https://docs.google.com/document/d/1Jt1AAG-qoy74P8PmHUY9RLrkPvn3CC3RLdHbk4RnsMA/edit

I will wait to see it on there before closing the issue

[2022-01-05 20:00] #362 closed

[2022-01-05 21:02] laurenluz opened #440 "How to import your Torus Wallet into Metamask"
This should be a guide in our documentation to show our torus users how to get on metamask... it's just better and the path we want to build for our users.

You can actually import your torus wallet private key into metmask and then start using metamask frm there. Seems pretty easy, but I'd love if we had this with the giveth spin and curated appropriate links to help our crypto newbie users.

I w

[2022-01-05 22:33] mateodaza commented on #434
I love this issue. I know @WhyldWanderer will appreciate this sooo much 😆

I'll keep the conversation going on the other issue. Let's propose better alternatives

[2022-01-05 22:40] mateodaza commented on #417
passing the ball to @divine-comedian what do you think?

[2022-01-06 00:28] divine-comedian commented on #433
LIVE - https://docs.giveth.io/giveconomy/givbacks#tokens-eligible-for-givbacks

[2022-01-06 00:29] divine-comedian commented on #421
LIVE - https://docs.giveth.io/giveconomy/givfarm#givfarming-the-givgarden

[2022-01-06 08:37] csggene3 commented on #409
I'm going to be much more active on github moving forward, so this same **weeks without action issue** will not reoccur, but I should probably stick to solo assignments since it seems like my own inability to coordinate with @Danibelle caused the poor result on this issue. She was willing to meet and coordinate on multiple occasions, and I've just been really trying to navigate the myriad of coord

[2022-01-06 18:35] laurenluz commented on #409
No worries @csggene3 !! It was also chatted about in the governance call and we decided to use GIV for the payments and PAN for other stuff. Happy to have you on the team though!

[2022-01-06 18:45] laurenluz commented on #355
@ForestSoleil ^

[2022-01-06 18:55] laurenluz opened #441 "Goldem Foundation Interview - written"
Marta Brewer reached out to me for an interview similar to: https://golem.foundation/2021/12/03/interview-HQureshi.html

Will answer the questions in a google doc & get some QA

https://docs.google.com/document/d/1hmnYXbQYCJS9n5RM031cqQOUqdMF3bVgjwOIY4viDTM/edit

[2022-01-06 18:56] #434 closed

[2022-01-06 20:52] WhyldWanderer commented on #427
![image](https://user-images.githubusercontent.com/74267818/148450189-ee107d29-8c52-4c6c-a933-1c087015a18d.png)

[2022-01-07 15:08] divine-comedian commented on #417
there's a way to add HTML into the emails - we could potentially create something using <script> and the twitter API - I will investigate with @mateodaza

[2022-01-07 17:25] laurenluz opened #442 "Update Giveth LinkedIn"

[2022-01-07 17:25] laurenluz opened #443 "Update Giveth facebook"

[2022-01-07 17:54] laurenluz opened #444 "Update Gnosis Chain brand assets"
Got a message from their comms person - we should update this wherever we have xDai logos!

FYI @markoprljic @mateodaza @MoeNick

[2022-01-07 17:56] laurenluz commented on #444
[Gnosis Chain Brand Assets.zip](https://github.com/Giveth/giveth-planning/files/7830466/Gnosis.Chain.Brand.Assets.zip)

[2022-01-07 18:08] laurenluz commented on #444
https://drive.google.com/drive/folders/1XoRh5fruJYPRNr4XG33XyFumlm_-1U8R?usp=sharing

[2022-01-07 18:08] WhyldWanderer commented on #444
https://drive.google.com/drive/folders/1XoRh5fruJYPRNr4XG33XyFumlm_-1U8R?usp=sharing

[2022-01-07 19:03] laurenluz opened #445 "Make new designs for key articles on Medium"
@playingleela is on it!

As per the conversation in the #design channel:

[2022-01-10 15:13] laurenluz opened #446 "POAPs for every GIVback round!"
@playingleela is down to work on designs
@paxthemax is down to help with the smart contracts

What we need is a clear action plan/spec

[2022-01-10 15:15] laurenluz opened #447 "NFTs for Givers/community members"
@markoprljic has an idea in the discord:

I think we don't need to collect funds for development since we have the economy but it's worth brainstorming having NFTs and giving them to donors or minting them and proceeds going to projects.

This is issue is for brainstorming

[2022-01-10 15:16] laurenluz commented on #446
FYI @markoprljic

[2022-01-10 15:35] paxthemax commented on #446
@laurenluz Do we have an idea on the number of people eligible for rewards at this time?

[2022-01-10 16:23] laurenluz commented on #446
@mendesfabio is going to work on a dashboard of analytics for that information in https://github.com/Giveth/GIVeconomy/issues/444 this will be helpful for the future!

@mohammadranjbarz can you tell us how many eligible people were in GIVbacks round 1?

[2022-01-10 16:25] laurenluz commented on #446
FYI we'll only be able to recognize unique addresses, not unique people... if we're going to make a habit of distributing NFTs (not just POAPs...) we should integrate BrightID or proof of uniqueness....

[2022-01-10 16:51] laurenluz commented on #431
done! https://medium.com/giveth/bienvenido-a-giveconomy-c0ffd85d17c8

[2022-01-10 16:53] laurenluz opened #448 "Add turkish translation to medium"
Original article: https://medium.com/giveth/welcome-to-the-giveconomy-b3e372da63dd

[2022-01-10 17:07] mohammadranjbarz commented on #446
It's not finalized yet, but for now it's about 912 ( it may change a little)

[2022-01-10 17:29] laurenluz opened #449 "Make Giveth a guild on Metagame site"
https://my.metagame.wtf/join/guild

I was having some issues... it wouldn't load our discord roles...

@WhyldWanderer maybe you can try?

[2022-01-10 17:41] WhyldWanderer commented on #449
I can try... what step did you leave off on? It is asking me to invite the bot to our discord. Im unsure of what this bot even does..

[2022-01-10 18:02] alipostaci2001 commented on #448
https://medium.com/@mcb2001/giveconomy-e-hoş-geldiniz-a25a4b825658

[2022-01-10 18:59] laurenluz commented on #449
I think all it does is allow the bot to see what the roles in the server are. but the issue I had is that after connecting, it wasn't able to see our server roles (and we need this in order to make the guild)

[2022-01-10 19:12] alipostaci2001 commented on #448
I have translated " welcome-to-the-giveconomy" in turkish.
here is:
https://docs.google.com/document/d/1Q7Ca20F0z-QwIZi7-7GlVeejFd_-y65EH0mYRiykQE0/edit?usp=sharing

[2022-01-10 19:21] WhyldWanderer commented on #449
Hmmm... It says "no options" for me as well..

[2022-01-10 19:30] WhyldWanderer commented on #449
I reached out in the MetaGame server to see what we are doing wrong.
https://discordapp.com/channels/629411177947987986/713513935789097102/930181777740419172

[2022-01-10 21:09] divine-comedian commented on #440
maybe we could rework some of these ?

https://docs.giveth.io/torusUserGuide

https://docs.giveth.io/dapps/donatingmetamask

[2022-01-10 22:34] laurenluz commented on #449
yeah that was the same issue I had. I told Peth and he mentioned that others had the same issue, and he forwarded it to someone to investigate.

[2022-01-11 00:30] laurenluz commented on #441
@WhyldWanderer @Brodyann7 @divine-comedian - would really appreciate it if one or two of you could do a little QA on this! Her questions are in italics and my answers below.

https://docs.google.com/document/d/1hmnYXbQYCJS9n5RM031cqQOUqdMF3bVgjwOIY4viDTM/edit

[2022-01-11 06:53] markoprljic opened #499 "Create Onboarding guide for Designers"
Create a doc to help new designers easily onboard to Giveth.

As a designer I want to:

- read about Giveth Design
- know who is on the team
- contact details of team members
- know how the design work is structured
- know where to find design files and how they are organised
- know where I can get access and permissions to edit design files
- get all other relevant access to organisation (github,

[2022-01-11 18:38] laurenluz commented on #424
Text ad:
- Name: Giveth
- Logo in svg: https://raw.githubusercontent.com/Giveth/giveth-design-assets/3afd519e74fd56e14ef75d7f02712a73b94a109c/02-logos/GIV%20Token/GIVToken_360x360.svg
- Text, 120 characters max: Building a culture of giving that rewards & empowers those who give - to projects, to society, & to the world
- CTA (button text, 20 characters max): Join the GIVeconomy
- URL: https://giv

[2022-01-11 18:38] laurenluz commented on #424
For the banner ad, @rodricastillo9013 is going to help us!

[2022-01-11 20:29] laurenluz opened #450 "Coin Market Cap "Detailed Project Description""
To apply to get listed on coin market cap, they have a bunch of requirements... one is a description of the project... Here is what they ask for:

Here is what I wrote. Would love someone else to QA this before I blast it out... @divine-comedian @WhyldWanderer
https://docs.google.com/document/d/1RlvDjVdauHenRoFlifYENSrI_jTI-JSqpdJXm8Xo0fM/edit?usp=sharing

[2022-01-11 21:04] WhyldWanderer commented on #441
Reviewed! I left some comments in the doc.
Thanks for doing this @laurenluz!

[2022-01-12 00:38] WhyldWanderer commented on #447
I created a forum post discussing incorporating NFT's here: https://forum.giveth.io/t/givcuration-and-nft-incorporation-ideas-brainstorming/289

Could also be a good place for brainstorming.

[2022-01-12 00:40] divine-comedian commented on #450
left some comments, looks great though!

[2022-01-12 14:00] laurenluz opened #451 "Add to Torus documentation - lower shields"
From Mateo in the Comms channel:

https://discordapp.com/channels/679428761438912522/790268394251354143/930820513520054342

[2022-01-12 14:01] mateodaza commented on #451
This should be enough config for the shield

![msg-477140687-16378](https://user-images.githubusercontent.com/18689480/149154459-2d6160d5-1b91-4960-9164-48f5c598d64a.jpg)

[2022-01-12 15:47] laurenluz commented on #448
@alipostaci2001 can you make this doc "anyone can comment"?

[2022-01-12 15:50] laurenluz opened #452 "Giveth the Giveth Youtube a makeover"

[2022-01-12 16:50] ForestSoleil commented on #355
Reached out to ara from free the food as well as mateo from elev8d red armonia. Waiting to hear back.

Looks like davids project is not yet verified. I personally would love to do this with teva but we also are not verified so if its only for verified projects we will wait for future rounds.

I am assuming we have dbc, dluz, etc already in the 8 projects? Where is the list of who is already a yes

[2022-01-12 16:58] laurenluz commented on #450
Thanks @divine-comedian - I incorporated your comments and submitted the form

[2022-01-12 17:13] ForestSoleil commented on #355
Have we selected a date for this yet?

[2022-01-12 17:45] laurenluz commented on #422
@WhyldWanderer can you test on production?

[2022-01-12 17:46] laurenluz opened #453 "Email to donors of verified projects in GIVbacks round 1"
When they are distributed! Tell them it's time to claim

[2022-01-12 17:49] laurenluz commented on #440
yeah!

also we can add:
- when you're using torus, you need to lower shields on brave

[2022-01-12 17:50] laurenluz commented on #440
@scottbenjd @csggene3 to collaborate!

[2022-01-12 17:51] laurenluz commented on #442
reached out to Ekene

[2022-01-12 17:52] laurenluz commented on #442
@WhyldWanderer has owner access

[2022-01-12 17:53] laurenluz commented on #446
@WhyldWanderer thinks a poap is the easiest thing to do

@markoprljic can you assign someone to design a poap for us?

[2022-01-12 17:55] markoprljic commented on #446
Catarina and/or Rodri.

[2022-01-12 18:13] ForestSoleil commented on #430
This Giveth Community Communications Guide is ready for QA: https://docs.google.com/document/d/1Kcx13dUMoH2HZRj9ha9VDnQLrvYAu9lTinhT3fs4ANY/edit#

@WhyldWanderer @laurenluz @divine-comedian

[2022-01-12 19:26] ForestSoleil commented on #420
Ready for QA: https://docs.google.com/document/d/1LgSJSrlSVFfdoEtR6kjG3mJDMEexaq9f2PleMLcyJaQ/edit#

@laurenluz @WhyldWanderer @divine-comedian

[2022-01-12 20:50] WhyldWanderer commented on #420
Reviewed! I left suggestions in the doc.

[2022-01-12 23:28] divine-comedian commented on #430
@Brodyann7 here's a good first issue for you

[2022-01-12 23:31] divine-comedian commented on #420
@Brodyann7  a good first issue for ya! :point_up:

[2022-01-12 23:41] laurenluz commented on #142
Ready for QA @WhyldWanderer @Brodyann7 @divine-comedian @ForestSoleil
https://docs.google.com/document/d/1D6-Sivr-L4Jn-tgWC6RHRNpxmhred0W_wqYarIXZZ9g/edit?usp=sharing

[2022-01-13 16:16] ForestSoleil commented on #355
Ara is also in. He applied for free the food but in the app had an issue adding his photo in and wants to make sure he can add it in retroactively.

Hes also representing several projects...

Free the food
Recycling
Grey water

And wonders if he can speak to all of them at meet the makers or if we only have space for free the food?

[2022-01-13 16:17] ForestSoleil commented on #420
Thanks Ashley! I incorporated your suggestions.

[2022-01-13 16:29] ForestSoleil commented on #228
Did we ever actually do this writeup? May have missed it during my maternity leave.

[2022-01-13 17:37] laurenluz opened #454 "Where's the dignity in fundraising blog post"
Collaboration w Anna Marie: https://docs.google.com/document/d/19byeSjEBqs7Yaljzcu1VNu_bI5Lso3o3Bl0AFYp_moA/edit

[2022-01-13 18:03] Brodyann7 commented on #142
reviewed https://docs.google.com/document/d/1D6-Sivr-L4Jn-tgWC6RHRNpxmhred0W_wqYarIXZZ9g/edit?usp=sharing

left suggestions/comments @WhyldWanderer @Brodyann7 @divine-comedian @ForestSoleilr