[2022-11-09 14:02] rodricastillo9013 commented on #1010
<img width="1200" alt="Discord- Post" src="https://user-images.githubusercontent.com/61791380/200850140-81b08efd-bd7f-49a1-9b89-41d411cc17a6.png">
<img width="1200" alt="Facebook" src="https://user-images.githubusercontent.com/61791380/200850151-e2891df9-2d5e-4b07-a6d9-b369c438ae6c.png">
<img width="1200" alt="Linkedin - Post" src="https://user-images.githubusercontent.com/61791380/200850156-cc212

[2022-11-09 14:35] c0ric0ri commented on #943
Hey @NikolaCreatrix great job on this! I gave it a review.

You know, what we can do is keep working through separate issues for each tweet, but always draft through the same document with the latest draft always at the top like you did this time.

So we can close this issue once the tweet is out, and start a new one with the same doc for the next round. And keep linking them to the Recurring Cont

[2022-11-09 14:38] c0ric0ri commented on #1015
Oh wow sorry about that! Will remember to double check from now on

[2022-11-09 14:50] c0ric0ri commented on #761
Hey @oyealmond @NikolaCreatrix can we close this issue? It looks like we transferred all the info, right?

[2022-11-09 14:50] #897 closed

[2022-11-09 14:53] c0ric0ri commented on #999
@franculio would you want to take this issue?

@divine-comedian FYI

[2022-11-09 15:01] c0ric0ri commented on #982
@oyealmond I'd love to throw this issue to you

[2022-11-09 15:08] c0ric0ri commented on #1014
@tropicalmangos would you be up for taking this one?

[2022-11-09 15:30] #591 closed

[2022-11-09 15:34] c0ric0ri commented on #525
@laurenluz is this still relevant?

[2022-11-09 15:54] oyealmond commented on #982
sure!
We have our verification workshop / 101 course launch today.
https://discord.com/events/679428761438912522/1037460248363020408

.
Thank you for assigning me :)
I would love to update and work around this issue. @c0ric0ri

[2022-11-09 15:55] oyealmond commented on #761
Yes! All the questions got answered.
https://docs.google.com/document/d/1pzVEZGMLA4EgA892TIv5aTxm2aZ0ItmkxTFNwEjgjRQ/edit?usp=sharing

We can close. Ty @c0ric0ri !

[2022-11-09 15:55] #761 closed

[2022-11-09 16:29] laurenluz opened #1020 "Add new swag to the swap shop!"
Hey @rodricastillo9013

It would be great to add:
- a hoodie
- socks
- the bucket hat from ETH barcelona that I forgot to add before

And perhaps switch up our t-shirt designs (or add more!)

Can you help w/ exploring that? We need to consider:
- Minimzing the cost of new additions
- The best price for new items like hoodies
- Making our designs new and fresh!

I think we could reach out to @missg

[2022-11-09 16:30] laurenluz opened #1021 "GIVpower launch video"

[2022-11-09 16:30] laurenluz commented on #1020
FYI @divine-comedian

[2022-11-09 17:28] NikolaCreatrix commented on #943
Thanks, @c0ric0ri , and thanks for your feedback in the doc. Reviewed and should be good to go.

Yes to your suggestions above. Sounds good.

[2022-11-09 17:34] NikolaCreatrix commented on #1010
Yasss I love the colors, bright and fun!!!

I just noticed little correction here:

![image](https://user-images.githubusercontent.com/100084867/200900023-28196bfd-77a7-4c57-9c50-aa16b451f23a.png)

Maybe we can start the senstence 'Come **to** meet.... on the new paragraph.

And since you'll be editing it, I am also thinking that might be best to take out part 'as a Public Good'

[2022-11-09 17:53] ahmadabugosh commented on #994
@c0ric0ri I think this is related to people voting on what our dev team should work on next on the Giveth roadmap on Tokenlog: https://tokenlog.xyz/Giveth/roadmap

[2022-11-09 17:55] oyealmond commented on #913
Great session!
https://www.youtube.com/watch?v=DJB9QXlyR8w&list=PL6oqELoqsEmpf9nSjr5kRj4IQginmcrmc
Thank you team! @c0ric0ri @laurenluz

[2022-11-09 17:55] #913 closed

[2022-11-09 18:14] laurenluz commented on #1015
thanks! <3 https://twitter.com/Givethio/status/1590374412339056640

[2022-11-09 18:14] #1015 closed

[2022-11-09 19:46] oyealmond commented on #1009
hey dear team! :)
[Here's Nicola email draft](https://docs.google.com/document/d/16Mnu0VTv9ZPQDZ3T_cDRhoHSi4dy3QUNOTPlt-tVZik/edit?usp=sharing) that I already review, for you to check it too please.

@danelsuga @tropicalmangos @ahmadabugosh , could you check the draft too please?

[2022-11-09 21:11] oyealmond commented on #1010
Hey @NikolaCreatrix :)
Agree w this detail. Could you help us @rodricastillo9013 fixing this typo?

I will create a new epic for the tweets, when this final design is ready :)

[2022-11-09 21:52] laurenluz commented on #1018
@ahmadabugosh gotcha.. well whoever make summaries can use you links in them in that case.

[2022-11-09 21:53] laurenluz commented on #525
ughhh  yes it is. in fact, it's so wrong as-is... we should at the very least take it down if we're not going to try to improve it,

@divine-comedian wdyt? burn it?

[2022-11-09 21:54] laurenluz commented on #994
ugh yes exactly. the thing is though... right now our tokenlog voting power is not reading correctly... so we should not tweet this until that is fixed. It's still relevant though.

[2022-11-09 22:07] divine-comedian commented on #525
BURN IT! :fire:

[2022-11-09 22:08] laurenluz commented on #1009
Thanks for checking in everyone! It's always good to get review... if it's something like this (that was mildly tweaked since it was last reviewed by 2 people)... I think just getting one person to do a sanity check should be the minimum (if 2 seems excessive) because there could be small mistakes like date or old links that weren't updated... good to get a second pair of eyes at least.

I just ch

[2022-11-10 10:11] rodricastillo9013 commented on #1010
<img width="1200" alt="Discord- Post" src="https://user-images.githubusercontent.com/61791380/201063041-731098cf-0188-45c9-af18-e13179e70684.png">
<img width="1200" alt="Facebook" src="https://user-images.githubusercontent.com/61791380/201063053-4eccaf6f-3a44-420b-b9c4-d1c2cd002c3b.png">
<img width="1200" alt="Linkedin - Post" src="https://user-images.githubusercontent.com/61791380/201063058-d92b0

[2022-11-10 11:31] ahmadabugosh commented on #1009
Hey @tropicalmangos, earlier I made list called "Donors + Projects" that should include both, so feel free to send to that one

[2022-11-10 14:07] laurenluz commented on #943
Great job @NikolaCreatrix - and thanks for editing @c0ric0ri

I made some tweaks in tweethunter... but also put some comments in the doc to keep in mind for next time.

https://twitter.com/Givethio/status/1590707539032903687

[2022-11-10 14:07] #943 closed

[2022-11-10 14:16] oyealmond commented on #1009
Thanks for both suggestion edits! @laurenluz @ahmadabugosh ✨ I already applied them.
I really appreciate everyones effort to make texts better.
Thank you @tropicalmangos ! I believe We will wait until the Sesh event creation to get the link then?

[2022-11-10 14:21] oyealmond commented on #1010
I like them! Thank you @rodricastillo9013 :)
Are we good to go @NikolaCreatrix ?

[2022-11-10 14:25] NikolaCreatrix commented on #1010
Awesome, thank you so much @rodricastillo9013  for being super fast and pro. :)

Yess, @oyealmond its yours :)

[2022-11-10 14:30] oyealmond commented on #1010
Thank you :) @NikolaCreatrix
We can close this epic.

[2022-11-10 15:44] oyealmond opened #1022 "Tweet Verification Workshop Recording."
Hey dear team! @laurenluz @c0ric0ri
Sharing a Tweet draft to share the verification workshop recording we had yesterday [here](https://docs.google.com/document/d/1KdrgJpBa8LCsQpKRimQ47Z_HgaL6i66Yq9fAnkjgGxU/edit?usp=sharing)

Could you help us review and schedule?
Thank you!

[2022-11-10 16:46] divine-comedian commented on #525
I removed it from the sidebar so it should no longer be publicly accessible - we still have the doc in our repo if we choose to update it later.

[2022-11-10 16:58] laurenluz commented on #1022
Hey @oyealmond !

I think this tweet doesn't really say too much the get people interested.

What actually happened in the workshop? you showed people how to get verified / why to get verified / how to maintain status?

What were some interesting questions people asked? what did people get stuck on?

I would redraft this tweet with those things in mind... say something like that answers a common q

[2022-11-10 17:10] laurenluz commented on #1022
Here's what Ashley said happened:

We introduced the launch of the video series...
Then Nikola talked about how giveth uses verification, why its important and the benefits of getting verified
Then I did a live demo of filling out the application and explaining the key points as well as common reasons why projects get denied...
Then I talked about what to expect after you submit your application,

[2022-11-10 17:51] oyealmond commented on #1022
Thanks for the summary @laurenluz! It was a really cool session.
[I re draft the tweet trying to make it more juicy and engaging. ](https://docs.google.com/document/d/1KdrgJpBa8LCsQpKRimQ47Z_HgaL6i66Yq9fAnkjgGxU/edit?usp=sharing)
Let me know your thoughts!

[2022-11-10 19:22] c0ric0ri opened #1023 "GIVfarm APR Tweet Nov 11"

[2022-11-10 19:28] c0ric0ri commented on #1023
@laurenluz draft for review for tomorrow!

https://docs.google.com/document/d/1gbo8sWaix4bfEiYrLu1MsJ_ibmbdMsOZjVkYn2PHFDw/edit

FYI I'm testing out this issue flow for recurring content so just bear with me.

[2022-11-10 20:08] laurenluz commented on #1023
reviewed! awesome :)

and ok 😅  I'll just not close issues until you fill me in on our next call

[2022-11-10 20:16] laurenluz commented on #525
Thanks Mitch! @c0ric0ri feel free to close it... or icebox it if you think it's a useful reminder as something we could update

[2022-11-10 21:14] laurenluz commented on #1022
wayyyyyy better! I edited it directly & scheduled for sunday

[2022-11-10 21:18] oyealmond commented on #1022
Loved the edits @laurenluz thank you as always!

[2022-11-10 21:22] laurenluz commented on #807
I think we can draft this for next week @c0ric0ri - sent you a DM. The exact timeline for how long people have until they lose their status is undecided... but updates are officially "mandatory" or you will eventually lose your status.

I would make this a thread and have one part be targeted to existing project owners like "we don't want to lose, you! do it soon!"

And other parts be to donors..

[2022-11-10 22:12] c0ric0ri commented on #1023
Thanks! I just made revisions and left a comment to align on thread content.  I would assume we leave out mention of the Cult RegenFarm this week since we already said last week it's on pause. And I would personally keep the tweet pointing to the regenfarm nomination form for every weekly thread.

[2022-11-10 22:30] laurenluz commented on #1023
love it

[2022-11-11 12:48] ahmadabugosh commented on #1009
@tropicalmangos So personally, I would only send one email to this list, since we send them a lot of other emails already. That's why I think we need to have a proper RSVP event platform that lets us send reminders!

[2022-11-11 13:18] ahmadabugosh commented on #1009
@tropicalmangos Sounds good! 🙏

[2022-11-11 15:13] oyealmond commented on #1009
Hey @tropicalmangos!
Thank you for the preview. I just changed the subject to make it shorter:
**Meet the makers working for Mental Health as a Public Good!**

Everything looks great .
Thank you @tropicalmangos @ahmadabugosh !

[2022-11-11 17:55] c0ric0ri commented on #1014
hey @tropicalmangos , I would definitely recommended scoping out Giveth's twitter because it will ultimately show you all kinds of examples. Both the style of writing and also how we format tweet threads.

Thanks for taking a stab at this and if you're not comfortable writing tweet threads, it will still be very helpful to have this outlined for someone to turn it into a finalized thread.

[2022-11-11 20:03] laurenluz commented on #1014
@c0ric0ri @tropicalmangos so we often use names like "Default donations" or "multi level accounts" internally to describe features we are developing, but these are not good names from a comms perspective.

When you're creating content about features... look at what the feature actuallly does, and describe it... and if the name is something very ughh like "default donations" - just totally omit it.

[2022-11-11 20:25] laurenluz commented on #1014
ok I asked griff, and my instinct was right - he doesn't ever want to be named publicly as "the benevolent person keeping the lights on"... for this kind of thing it's really important to check in... anyway, no harm done in the draft - just keep it in mind.

Also @c0ric0ri can you please tag me on issues of twitter drafts in case there is more context I want to add for the drafter? I only saw this

[2022-11-11 20:34] laurenluz commented on #1014
@tropicalmangos - so jumping off from you ideas, I think a better framing is:
- we are a zero-fee platform who has been relying on the kindness of strangers to stay afloat
- we are a public goods project in a time where public goods funding systems are broken
- our mission is transform public goods funding, so projects win (get financial success) when they create the most value for the collective

[2022-11-11 20:37] laurenluz commented on #1014
Also @tropicalmangos - please move the issue to "in progress" and then "review/QA" pipeline, as appropriate.

[2022-11-11 21:02] NikolaCreatrix commented on #1009
You are awesome guys, thanks for your support. 💖
I agree w @ahmadabugosh that having a solid RVSP platform would be helpful, to all our public events! Maybe that could be something we can talk in communitas call and gather more collective intelligence and recources.

@tropicalmangos once the email is sent, please comment here so we can close the issue.

Happy weekend you all.

[2022-11-12 06:25] SnakeGH commented on #918
@c0ric0ri @laurenluz (and @oyealmond ) Roxane from ReFi sent over some edits to the marketing plan, please have a look at the below link and let me know.

Also, would any of you prefer to directly speak with her, since this is really only a marketing partnership? I can make the handoff, if that makes more sense than having me as the middleman.

https://docs.google.com/document/d/1agMlTQmK8Pd3dn8SJ

[2022-11-14 09:47] danelsuga commented on #907
Looking for another pair of eyes for QA on this doc "What Is Giveth?"

Most importantly, the first paragraph section and the roadmap at the end.

https://docs.google.com/document/d/1I8xiDFtUZ1gbXhoS5buJNt9giy4C_C7Qky3gUgA75Xc/edit?usp=sharing

@divine-comedian
@GriffGreen

Thanks!

[2022-11-14 12:59] rodricastillo9013 commented on #926
<img width="500" alt="23" src="https://user-images.githubusercontent.com/61791380/201666126-b4ac1b0b-d9b5-4641-b208-7c60871ee63c.png">
<img width="500" alt="24" src="https://user-images.githubusercontent.com/61791380/201666130-b7a3a0d8-58a3-464f-ad9b-2e567352ffe0.png">
<img width="500" alt="25" src="https://user-images.githubusercontent.com/61791380/201666131-cbac6072-2c5a-46c9-b175-7821a616b999.p

[2022-11-14 14:44] oyealmond commented on #1022
https://twitter.com/Givethio/status/1592156151508094976

[2022-11-14 14:44] #1022 closed

[2022-11-14 14:46] #841 closed

[2022-11-14 16:44] divine-comedian commented on #907
reviewed!

[2022-11-14 22:40] oyealmond opened #1024 "Meet the makers promo Tweets ✨"
Hey team :) @c0ric0ri @laurenluz
we're having our next Meet The Makers session next Wed 23rd at the same time of our regular AMAs session .

I prepared some tweets to promote it, [could you help me review them? ](https://docs.google.com/document/d/1o5xorWeech3t7fWS70hZ__BXTGy0FD0qLMhg9Mwa3QU/edit?usp=sharing)

✨ Thank you
cc @NikolaCreatrix

[2022-11-15 08:21] SymSL commented on #670
I've reviewed and think its really great. If there is any explanation as to why coins may lose their peg, would be great to include a one liner (not that I know if there is any simple explanation for this). I've left a few other comments, great job @clara-zi

[2022-11-15 11:41] GriffGreen commented on #907
reviewed!

[2022-11-15 13:44] clara-zi commented on #978
If anyone has a minute: please review project survey and give feedback on questions, wording, structure etc.
Each tab represents a different section in the survey.  Questionnaire is relevant for projects listed on Giveth and projects that aren't.
There will be a 'navigation' through the final survey to ensure that participants do not have to answer questions that are not relevant.

@SnakeGH @c0ric

[2022-11-15 13:47] ahmadabugosh commented on #740
hey @WhyldWanderer @NikolaCreatrix , since I mentioned FTX in the video, I cut out that part and reuploaded it 😅 : https://www.youtube.com/watch?v=LLSft1g-wIc&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=8

[2022-11-15 13:48] clara-zi commented on #978
@ahmadabugosh you made a good suggestion last week around asking some questions relevant to the new project profile templates - could you add some comments on this in the template please?

[2022-11-15 14:16] clara-zi opened #1025 "Proposal to create interactive map of projects & our network"
Background:
In the recent donor survey stewarded by @SnakeGH - one of the findings was that donors would like an easy visual enabling them to discover projects operating in particular regions/countries.

Proposed solution:
This could be achieved by creating an interactive map and plotting project locations on the map.

Wider impact:
Such a map could be really powerful for providing information and

[2022-11-15 14:16] clara-zi commented on #1025
Currently, the region/country data in Giveth database is not standardised.

[2022-11-15 14:17] clara-zi commented on #1025
@Santigs

[2022-11-15 14:19] SnakeGH commented on #1025
Love this, thanks for putting it into action!!!

[2022-11-15 14:22] clara-zi opened #1026 "Does Giveth need a file to track non-salary expense?"
Pull invoices together and assess whether it's worth creating a file to document/track non-salary expenses.

[2022-11-15 14:23] SnakeGH commented on #978
Not sure how much more work it would be, but it might be easier to leave comments on a google shared doc vs spreadsheet but if that's going to cause a lot of difficulty, then ill take a crack on the spreadsheet

[2022-11-15 14:23] SnakeGH commented on #978
Not sure how much more work it would be, but it might be easier to leave comments on a google shared doc vs spreadsheet but if that's going to cause a lot of difficulty, then ill take a crack on the spreadsheet

[2022-11-15 14:29] c0ric0ri commented on #1003
Hey @ahmadabugosh @rodricastillo9013 please move issues through the pipeline! This is still sitting under New Issues.

[2022-11-15 14:35] c0ric0ri commented on #996
hey @Cotabe what is the issue for? We already have an epic for The Standard.io partnership.

When creating new issues please make sure to check first for existing issues to avoid duplicates, and add a description for clarity.

I would say to please delete this unless we need it for some reason?

[2022-11-15 14:44] danelsuga commented on #707
This piece is getting some attention again. :D

[2022-11-15 14:45] danelsuga commented on #907
Thank you @GriffGreen and @divine-comedian !

I'll be going over last edits, and this'll be done asap.

[2022-11-15 14:52] danelsuga commented on #978
Just started having a peek, and I see some pretty basic typographical errors, which are probably just mistakes (missing period, question mark in wrong place, etc.). Do you want me to leave comments for all of these tiny things? Would be easier just to correct them.

[2022-11-15 15:38] #963 closed

[2022-11-15 15:50] #832 closed

[2022-11-15 16:13] laurenluz commented on #1021
https://docs.google.com/document/d/139zJLyZaNZBGyWht9WrkY_sPYrOWcLQdjvEjyMlBx9c/edit

[2022-11-15 16:18] laurenluz opened #1027 "GIVpower Press Release"
Purpose to target bigger media orgs like Coinbase, Bankless, exchanges, blog writers, etc - give them all the info of GIVpower in one place.

Create a google doc w/ info that people could replicate the info & share it more broadly.

Related to #887

[2022-11-15 16:23] oyealmond opened #1028 "Sea of Hertz tweet for first show! :)"
Hey team! @c0ric0ri @laurenluz

[We partner with Sea of Hertz radio show to interview Giveth Spanish Speaking projects](https://forum.giveth.io/t/sea-of-hertz-radio-giv-projects-interview/815) :) And the first show is happening this Thursday ! [I prepare this tweet to invite ppl jump in and listen to the Giveth project Owners](https://docs.google.com/document/d/10Tr3MEQPl9fEns-BhS8TdyyN_H89Gu2VNHH

[2022-11-15 16:24] laurenluz commented on #1028
@clara-zi FYI

[2022-11-15 16:26] laurenluz opened #1029 "Sea of Hertz ep 1 - Share YouTube on Twitter"

[2022-11-15 16:29] laurenluz commented on #949
@oyealmond @Cotabe @WhyldWanderer - do you have any photos from devcon that we could add to here?

trying to get a bunch of content in here for socials

[2022-11-15 16:32] laurenluz commented on #978
You can also also danelsuga@gmail.com as an editor :)

[2022-11-15 16:39] clara-zi commented on #978
@danelsuga - done.
Thank-you. With this kind of detailed review - we will be able to copy/paste into the Typeform for the final survey.

[2022-11-15 16:46] laurenluz commented on #972
right now projects only accept ETH so interested in trying to get projects to accept othen tokens as well.

they have 200k projects, and only some have email addresses - we only want projects on our platform that we can talk to (Carlos working on pulling from their API).

Thinking about making a modal in Change where they would request to have that project on Giveth.  Comms campaign to get communi

[2022-11-15 16:49] laurenluz commented on #933
@franculio - @tropicalmangos is willing to take this on? is it still outstanding? can you give her some guidance

[2022-11-15 16:53] laurenluz opened #1030 "Community call spotlight video clips"
@oyealmond @WhyldWanderer

[2022-11-15 16:57] laurenluz commented on #1030
Idea to cut of the communtiy spotlights to share w/ our audiences

[2022-11-15 17:34] franculio commented on #933
@tropicalmangos That'd would be awesome, it would be very much appreciated!

Let's organize a meeting and tackle this together!

[2022-11-15 17:47] Cotabe commented on #706
@divine-comedian

Can you help me add to Giveth documentation/ Guides the doc of working with Giveth as an external contributor https://docs.google.com/document/d/13f2VYF3ikKv36fqLFJA-YfpZUf2UJL7J-TNm9E2uGjU/edit

I know it´s not the focus now, but to close that issue that was pending.

[2022-11-15 18:39] divine-comedian commented on #706
should be live in a few minutes - I made some small styling changes in markdown so it looks more attractive on the page

[2022-11-15 18:59] oyealmond commented on #1030
Hey team! I see the max Twitter Video duration is for 2 min 20 sec.
I read Twitter will be promoting more video content, wdyt of cutting a 2 min section of the community spotlight to post in twitter, w a link to the whole community spotlight section?

@laurenluz @WhyldWanderer
Lmk your thoughts

[2022-11-15 19:11] laurenluz commented on #1021
@ahmadabugosh @danelsuga - sorry ! I forgot to update the access. You can now comment - would love your thoughts. DM me if any questions

[2022-11-15 20:11] laurenluz commented on #1030
yeah I think that's a good idea!

[2022-11-15 20:39] laurenluz commented on #933
@franculio - awesome!! I think if you want to have a meeting, by all means, but I was thinking it might be easier if @tropicalmangos just works on the content & then when it's ready (and reviewed!) she can ask you to get it up on the docs.

Also, if there is something in particular that you know needs to be updated in this one from a content standpoint - it would be great if you could let her know

[2022-11-15 21:04] oyealmond commented on #1030
we could start rescuing past Community Spotlight to tweet.
@WhyldWanderer , I can cut the 2 min frame :)
Maybe could you share some of your fav community spotlights we could rescue?

[2022-11-15 21:11] laurenluz commented on #1028
Thanks @oyealmond - I made some more edits in Tweethunter & then just/copy pasted into the doc for your reference. Added a gif to the last tweet.

Thanks so much!!

Scheduled for Thursday morning at 8am Costa Rica time.

[2022-11-15 21:47] NikolaCreatrix commented on #740
Great catch @ahmadabugosh !!! :)

[2022-11-16 01:32] Cotabe commented on #730
Everything is working now

[2022-11-16 01:32] #730 closed

[2022-11-16 01:41] Cotabe commented on #996
Thanks for the heads up @c0ric0ri, it's useful to have one to manage the deployment of the actual farm. This is the one https://github.com/Giveth/giveth-dapps-v2/issues/1752

I think I created this by mistake in the wrong repo and forgot to close it.

[2022-11-16 01:41] #996 closed

[2022-11-16 04:33] Cotabe opened #1032 "Zebras Unite"

[2022-11-16 04:34] Cotabe commented on #1032
Repeated issue

[2022-11-16 04:34] #1032 closed

[2022-11-16 09:12] #907 closed

[2022-11-16 11:02] franculio commented on #933
@laurenluz Great! Yes, that also works. I was just looking for an excuse to call @tropicalmangos 😊

Thanks Lauren!

[2022-11-16 12:54] freshelle commented on #1026
There are some non-salary expenses I track using the nrGIV reimbursement/payments done. The categories include:

- Allowances and Conferences
- Bounties
- Compensation (Salary)
- Sponsorship
- Subscriptions
- Swag
- Vesting

This can be found in [this google sheet](https://docs.google.com/spreadsheets/d/1VUyk93K4ybjgJDD-fnIK7ii1k-V_svA8qtThLrA3VGs/edit?usp=sharing) (nrGIV Expenses tab).

For the s

[2022-11-16 17:34] #917 closed, assigned to tropicalmangos

[2022-11-16 17:46] laurenluz commented on #1014
@tropicalmangos - great job - let's leave this one in here for the time being until the default donations is ready to launch. Once it is, I'll have another look at this and either just edit before scheduling directly... or if there is any good feedback I can give you for next time, I will share it in this issue of the doc.

[2022-11-16 17:51] NikolaCreatrix opened #1033 "Verified projects Tweet Thread R23"

[2022-11-16 19:33] ahmadabugosh commented on #946
Thanks @tropicalmangos, I added some comments and links to your doc.

In general, I think for the first emails we should avoid jargon that people don't know about like GIVeconomy, GIVbacks etc. until we get a chance to explain what those things are.

I think it looks good now (and the other emails you suggested in the sequence seem fine to me too).

Maybe one more person can take a look like @dane

[2022-11-16 20:31] ahmadabugosh commented on #978
@clara-zi So I was thinking that we could mention on the survey,  something like "fill out these details to be first in line when we lauch our next project page format to get more exposure to your project" etc.

Some suggestions I would add to the survey would be:

1) Social links / Website link

2) Impact metrics (what is the thing that you are trying to accomplish). For example, dig more wells,

[2022-11-16 23:25] oyealmond opened #1034 "Tweet the Giveth Galaxy twitter space recording!"
Hey team! @laurenluz @c0ric0ri
Could we schedule a tweet sharing the recording of today's twitter space please?
[Here's a draft :) ](https://docs.google.com/document/d/1Uw8kdGHhBDSWq414QqCIzo0El5TJPhgJo_RCve3vFzo/edit?usp=sharing)

[2022-11-16 23:26] #997 closed

[2022-11-17 13:31] laurenluz commented on #1034
Scheduled for Friday morning - thanks Almond!

Check out the edits I made in the doc. I think tagging all the people who were featured is nice in the 2nd tweet to get more engagement via RTs :)

[2022-11-17 14:05] #1023 closed

[2022-11-17 14:55] oyealmond commented on #1034
Ty always for helping me improve! @laurenluz . Noted!!

[2022-11-17 16:04] laurenluz commented on #1024
Hey girl @oyealmond !

I edited the 1st minorly and scheduled for Sat morning.. Left comments on the others - please check 'em out an tag me again after you're happy w/ it.

[2022-11-17 17:23] #1028 closed

[2022-11-17 22:04] ahmadabugosh commented on #946
@tropicalmangos Sounds good! 🙌

[2022-11-17 22:20] oyealmond opened #1035 "Tweet to announce DoinGud partnership & GIVholders perks"
Hey team! on the 22 starts DoinGud private sale to [acquired a 'membership' for their DAO](https://forum.giveth.io/t/giveth-doinguddao-membership/816).

All GIVholders have access to this private sale + a discount. [I wrote this tweet to announce the partnership + the private sale... ](https://docs.google.com/document/d/1t2wg33_eybuE31PKvcGWI3JfMmZH1siRnFWBKGA_C34/edit?usp=sharing)

This was kind

[2022-11-18 09:23] danelsuga commented on #946
I left some comments on the first.

[2022-11-18 09:58] danelsuga commented on #1018
Do we need to remove FTX from the offramping video @ahmadabugosh ?

[2022-11-18 10:27] clara-zi commented on #1026
Thanks @freshelle. Does subs. no include these regular invoices?:
<img width="72" alt="image" src="https://user-images.githubusercontent.com/100724132/202678024-e7667883-a15e-4879-aa8b-0dceebb6f090.png">
A quick round-up of these regular, smaller invoice totals at just under $1k each month.

Either way, I think the solution that Kay is suggesting will allow for better tracking of these smaller reg

[2022-11-18 22:09] oyealmond opened #1036 "Tokenomics Basics session - Giveth essentials."
Hey team! @laurenluz @divine-comedian
**Our next Session is schedule on Tue Nov 22 (after comms call) 11am Costa Rica time .**
You can find the guide @divine-comedian structured for the session [here for you to review! ](https://www.notion.so/giveth/Introduccion-to-Tokenomics-96659890f5044944a8b2834bbd79e5bc) .

Thank you

[2022-11-18 22:25] NikolaCreatrix commented on #1033
Hola @laurenluz cc @c0ric0ri

This is the draft for R23 waiting for your review :) https://docs.google.com/document/d/1SO6iR9KUC-2bhneuoZkt5js16-Jde908XMIIHSrjmlc/edit?usp=sharing

[2022-11-19 00:32] oyealmond opened #1037 "Tweet about the Iran project."
Hey @laurenluz !

[I did this thread draft](https://docs.google.com/document/d/1th4ZUYOwKK5Vt95SZE819uVXeJFRKb6WjZ4dtulUsBY/edit?usp=sharing) for you to review if it would be good to tweet about it.

I went ahead and added a Griff's  community spotlight intervention .
But I know this tweet may not come out. So check it out, & let me know your thoughts. Don't worry if it doesn't come out.

[2022-11-20 18:51] WhyldWanderer commented on #1030
Heres a few

Positive Billboards - https://youtu.be/mGODlu-C-L8
GIVswag Giveaway Wheel - https://youtu.be/URiQejliAqs
Return to Green - https://youtu.be/YAULegpG10w
DreamDAO - https://youtu.be/444vqtT0-OY
Bob Burnquist - https://youtu.be/NDGeb-bNH3I
ETH Safari - https://youtu.be/b5UAUBPeHzY
Regens Unite - https://youtu.be/33HxZuT4aKw
Token Engineering Academy - https://youtu.be/hjEwSm1ZQLw

[2022-11-20 19:08] WhyldWanderer commented on #949
I only took a few actually... but I uploaded the ones that I do have

[2022-11-20 19:09] WhyldWanderer commented on #811
Sounds good! Thanks so much for taking the reigns of this @clara-zi

[2022-11-21 11:24] danelsuga commented on #1018
This video really needs to come down or be fixed:
Bonus Workshop: Fundraising 101 for Projects
https://www.youtube.com/watch?v=QO6iQgnKvfw&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=10

At the beginning you can clearly hear someone in the background of Melody say, "So they know that you're lying? So what!"

Also, the sound at the beginning is generally very terrible. At least the beginning of t

[2022-11-21 11:50] ahmadabugosh commented on #1018
Hey @danelsuga,

Thanks for this!

 1) For the incorrect number in the success video, I think I can edit that directly from YouTube, should be easy to cut out.

2) For the Fundraising workshop, yeah I tried to clean up the audio, but it's very raw. However, @WhyldWanderer and I thought it still had good information in it. Do you think there is any way to salvage it? Maybe cutting out the beginning

[2022-11-21 11:51] danelsuga commented on #1018
Thanks @ahmadabugosh!

I think the bonus video just needs a new intro as far as I can tell.

[2022-11-21 14:21] laurenluz commented on #1024
Almond you are so amazing - I love how you take feedback and implement it super effectively and super fast. Your changes were great and i scheduled both for this week.

[2022-11-21 14:32] c0ric0ri commented on #1033
Thanks a lot @NikolaCreatrix ! I left some comments and suggestions. Please take a look, and also double check the character limits of each tweet after changes have been accepted. I'm not sure if any of them went too long now.

[2022-11-21 14:33] laurenluz opened #1038 "Comms Campaign on Iran Projects"
Hey @oyealmond @NikolaCreatrix @WhyldWanderer @c0ric0ri  !

I was talking with @GriffGreen about this - apparently there are a lot of people creating Giveth projects to support Iran and it would be nice to do a kind of MTM-ish comms campaign.

At least a series of tweets for a few days highlighting the situation and different projects.

Wdyt?

I think the way forward if to get a list of the projec

[2022-11-21 14:56] SnakeGH opened #1039 "Kleros - add GIV to their token list"

[2022-11-21 15:02] c0ric0ri commented on #1035
Reviewed and left some comments @oyealmond !

[2022-11-21 15:37] SnakeGH commented on #912
@laurenluz since we are moving forward in another direction, should we close this issue?

[2022-11-21 16:03] c0ric0ri commented on #918
These edits don't seem to change much so that's totally fine @SnakeGH

And yes I think we can set up an intro, I can be a part of that to manage the relationship. I think it's also good to have some redundancy. I'd say perhaps with @oyealmond would make sense.

[2022-11-21 16:22] laurenluz commented on #1037
I think this has potential! let me check w/ @GriffGreen

[2022-11-21 16:57] c0ric0ri commented on #807
Drafting here - https://docs.google.com/document/d/1E3Nx-Fum7HAqyhbR-2Xv9oxda9N1EWswWupOmXhdSfQ/edit

[2022-11-21 17:27] laurenluz opened #1040 "Giveth History pt 2 tweet thread"
https://twitter.com/Givethio/status/1454084287184130049

[2022-11-21 17:28] laurenluz commented on #1040
do a remake of: https://docs.google.com/document/d/1szjf_eTnUBXd9x7tlzKsVXtQE5tAULbNmIzN0FEGexI/edit

[2022-11-21 17:32] laurenluz opened #1041 "Explain Giveth from Griff's account"
People want to hear from @GriffGreen !! We want to write a tweet thread for him... emphasizing some key giveth points.

[2022-11-21 17:37] laurenluz commented on #1040
people want to know what orgs to trust in the bear market - we want to show that we have seen it & we are preparred

[2022-11-21 17:41] laurenluz opened #1042 "Giveth Essentials Feedback"
We should get feedback from our contributors on what they want & if they liked the seesion in an easy/pracitcal way.

Some ideas:
- make polls to ask people to vote on topics they want to hear about (include subtopics)
- make agenda & see what people want to hear about at the beginning of the call (get ratification)
- get quick feedback on points throughout the call to see where we should take it

[2022-11-21 17:44] laurenluz commented on #1042
we should also repeat session! Cori & I both thought that the twitter one might have been too granular and not 101-level enough

[2022-11-21 17:48] laurenluz commented on #1042
It's really important for us to know if these sessions are adding value to people or not... our goal should be to smooth out pain points & the only way to know if we are doing that... is by asking people their thoughts.

We can also try to do more session on the same topics with specific subtopics so that we can add real value, make it more Q&A back & forth, and actually be sure we are helping.

[2022-11-21 17:52] oyealmond commented on #1042
yeeey loved it! Thank you both for adding your feedback on this to get the session better.
I think repeat a topic is a great idea too!

I will say to this to start w this we should:
1) starting tmrrw, make an agenda around ppl session expectations at the beginning
2) at the end give a time slot to hear ppl thoughts & feedback around the sessions so far, saying we will ask them to fill a survey as

[2022-11-21 17:55] oyealmond commented on #1042
also I'll add a section in the feedback form around tomorrow's session.

[2022-11-21 18:22] ahmadabugosh commented on #1018
hey @danelsuga , I edited the video taking out the wrong figure, added all the descriptions you sent, and also took at the beginning part of the [fundraising video ](https://www.youtube.com/watch?v=QO6iQgnKvfw&list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm&index=10&ab_channel=Giveth)

[2022-11-21 18:37] WhyldWanderer commented on #1038
Blog post? Then we can share on Twitter?

It would be cool to do it as the next MTM topic - that will be in January though... and maybe that is not soon enough?

I would love to support these projects in any way that we can! I also think that it is important to research them before we publicize them as there are often scams during times of crises.

Here is a list of the projects I have seen come t

[2022-11-21 18:37] danelsuga commented on #1018
You are lightning fast! I'll catch up with your improvements tomorrow. Thank you!

[2022-11-21 18:39] ahmadabugosh opened #1043 "Newsletter November 2022"

[2022-11-21 18:49] ahmadabugosh commented on #1043
Does anything else come to mind for the newsletter? @laurenluz @danelsuga @oyealmond @c0ric0ri

[2022-11-21 18:58] oyealmond commented on #1038
it should be great to have a MTM w some of these projects! @WhyldWanderer @NikolaCreatrix , and I think Jan may be a good date bc it will take time to contact the project owners. Tho your right this will need to double check to avoid scams...  yeah maybe this could be too risky, having in mind all the internet limitations, and government threads etc...

Make some tweets would be great tho!
We coul

[2022-11-21 19:50] c0ric0ri commented on #1038
Well we could do both. Preparing some tweets for now, and also setting up the next MTM theme in January. Also could do a Twitter Space involving web3 contributors from Iran. That would be very interesting and cool to do.

The tweet threads now can highlight the projects, call to action for donations, explain a bit about what is happening in Iran, and maybe include some points about how web3 and de

[2022-11-21 20:04] WhyldWanderer commented on #807
@c0ric0ri The projects need to provide quarterly updates... so once every 90 days.

We do give them a grace period of 14 days which brings the total to 104 days but we have written 90 days so far in all emails and comms.

[2022-11-21 20:37] c0ric0ri commented on #1042
This looks great!

I think a key thing here to add is also integrating regular check-ins throughout the session to get quick feedback. You can even ask what would be most interesting to move to next. Encourage some interaction so the session is more dynamic (but within reason, having things prepared).

In our Twitter session, a good question to ask would have been "what are one or two things that

[2022-11-21 20:46] NikolaCreatrix commented on #1033
Hey @c0ric0ri

Thanks for your edits and feedback, after checking on twitter I had to edit additionaly #3 nad #8 and changed the lead tweet ... ready for your review.

[2022-11-21 21:29] ahmadabugosh commented on #904
Hey @c0ric0ri , I'm not sure how to proceed with this issue. Can we discuss it in the comms meeting?

1) A lot of the suggestions here are hard to extract (like number of amount of GIVpower allocated to donors) and others I don't think would be very impressive (like number of GIVbacks distributed or Regen rewards).

2) I suggest we stick with simple ones we can extract (I recommend we do this ever

[2022-11-21 22:05] WhyldWanderer commented on #1038
You know... Ive been thinking about this and maybe its not the best idea to have the project owners come and represent these projects :/ We probably want to preserve their identities right?

[2022-11-21 22:14] WhyldWanderer commented on #1043
Iranian projects - https://github.com/Giveth/giveth-planning/issues/1038

[2022-11-21 22:22] WhyldWanderer opened #1044 "Write descriptions for GIVtalks Podcast episodes"
All GIVtalks Twitter spaces will be preserved and turned into a podcast.

We need descriptions for the following episodes:

GIVpower AMA
Kolektivo & Refi Spring
Regen Farms
Giveth Galaxy

here is the format that the site asks for:

![image](https://user-images.githubusercontent.com/74267818/203169534-d33723e1-e948-4cb9-b3a7-0c0455dcfc32.png)

The audio files can be found on both Twitter and in thi

[2022-11-21 22:28] oyealmond commented on #1044
Hey @danelsuga could you help us w this? Thank you so much!

[2022-11-21 22:51] oyealmond commented on #1018
thank you for fixing my mistake @ahmadabugosh :(

[2022-11-21 22:52] oyealmond commented on #1037
thank you :) @laurenluz

[2022-11-21 22:59] oyealmond commented on #918
hey @c0ric0ri ! hi!
Sorry, how can I support ? Didnt understood

[2022-11-21 23:00] oyealmond commented on #1035
thank you @c0ric0ri I added your comments, but left one note about the partnership...

cc @laurenluz

[2022-11-21 23:02] oyealmond commented on #949
Also have a few too . I already added them :/

[2022-11-21 23:39] oyealmond commented on #1042
Perfect @c0ric0ri !
I'll have this in mind too!

Could you check out this survey please? @c0ric0ri @laurenluz
https://forms.gle/8USrSqzMjGnX79qn6

[2022-11-22 09:49] c0ric0ri commented on #1042
Hey @oyealmond here are the questions rewritten with just some small grammatical corrections. I like the questions you picked and I think it's good to keep the poll short like this.

When introducing the poll, I would let people know that we really need their direct, honest feedback because GIveth Essentials is meant to help us all improve and we want these sessions to be very effective.

- Have y

[2022-11-22 14:10] NikolaCreatrix commented on #1038
Hi @laurenluz , just catching up.
That is really beautiful initiative. I think we can invite them to Twitter MTM space @oyealmond where they can keep their Twitter identity... Also, Twitter is better than discord because the discord event is meant for verified projects and not all of the new Iran projects are verified, in fact, most of them are not. Great job almond pulling them out. That's about

[2022-11-22 14:31] c0ric0ri opened #1045 "Tweet Thread about Tokenlog"
We can invite our community of GIV holders to vote on our roadmap.

Must hold GIV or wrapped GIV to vote.

https://tokenlog.generalmagic.io/Giveth/Roadmap

[2022-11-22 14:34] c0ric0ri commented on #1045
We can use it for engagement with community, and as incentive for buying and holding the token.

[2022-11-22 15:15] laurenluz commented on #1014
Hey @tropicalmangos - I used bits from your thread and wrote this (and posted it today).

Please take a look at my comments in the doc & the live thread and take some of that as feedback: https://twitter.com/Givethio/status/1595068459951525888

Some key points for the future:
- Try to, even if we are talking about something we need help on, represent Giveth from an unapologetic position of strengt

[2022-11-22 16:05] oyealmond opened #1046 "📰 PR data base for Giveth communications!"
[· This is a repository conformed ](https://www.notion.so/giveth/PR-Database-829918551be04ae48d5da218f1bd03a7)by Web3 communication media & podcasts, Influential Twitter Accounts, Web3 Personalities & DAO allies, aligned with the Giveth Mission and vision.

· This database will be use to make email campaigns around Giveth launches, announcements & events, with the intention of get the work amplifi

[2022-11-22 16:12] laurenluz opened #1047 "Blog on Greenpill podcast"
This just came out!!

Someone should watch it and summarize what they talked about in a tweet thread!

https://twitter.com/BanklessHQ/status/1595063351779934208

[2022-11-22 16:13] laurenluz commented on #1037
ok! talked to Griff about it and he's down! I think we can not link the spotlight and just add the soundbite & the info on the project. this can be part of #1038

[2022-11-22 16:18] laurenluz commented on #1043
griff on greenpill podcast: https://twitter.com/BanklessHQ/status/1595063351779934208

I would love to feature "Relocating web3 iranians" as the featured project

also, for the GIVfarm thing, they key points are:
- we reimbursed everyone who lost and funds (framing - we take care of our users!)
- we launched the continuation of the CULT/ETH farm
- and FYI... we are not relaunching mainnet GIVfarms

[2022-11-22 16:28] laurenluz commented on #1038
From comms call: - @GriffGreen
- very few donation platforms can actually support these projects responding to the violence in Iran
- would be great to get blurbs about each project
- themed fundraising effort for a variety of projects can be done on a regular basis

We should be very careful that the projects are legit before we publicize them. And may need to be careful to protect the identity o

[2022-11-22 16:33] oyealmond commented on #1037
yeey super cool :)  🥰

[2022-11-22 16:50] oyealmond commented on #1027
This issue, is related w this one too https://github.com/Giveth/giveth-planning/issues/1046

[2022-11-22 16:55] laurenluz commented on #1047
the thread can be short, the point I think is to be like "this podcast was great! you'll learn all about amazing things like etc etc..."

I'm thinking a 2-3 part thread... where one part of the thread is actually a soundbite from the talk.

@danelsuga would you be down to take this? I know you don't like writing tweets, but the idea is really just to listen to it, pick 2 or three great parts... ch

[2022-11-22 18:18] danelsuga commented on #1047
Yes, I can do the summarizing jazz. Not so much the tweeting. :D

[2022-11-22 18:26] c0ric0ri opened #1048 "Iran Support Twitter Space"
When: Nov 7th

Who: Iranian projects, influencers, & points of contact who can speak to the topics

Topic ideas: what's going on in Iran, how it's affecting contributors there, how people can support (pointing to projects on Giveth), how web3 can be used for good for these types of issues

[2022-11-22 18:29] c0ric0ri opened #1049 "Vetting Iranian Support Projects on Giveth"
As mentioned by @WhyldWanderer & @NikolaCreatrix it is important to research the Iranian support projects before we publicize them as there are often scams during times of crises.

Here is a list of the projects @WhyldWanderer has seen come through so far with a focus on supporting the situation in Iran:

https://giveth.io/project/love-for-iran
https://giveth.io/project/stand-up-for-iranians-stand

[2022-11-22 18:32] c0ric0ri commented on #1049
Hey @NikolaCreatrix you mentioned you can support, so I'm assigning this to you if that's ok!

[2022-11-22 18:33] c0ric0ri opened #1050 "Tweet Threads to promote Iran projects"
Idea here is to draft a few tweet threads talking about what is happening in Iran, and tying in promotion of projects who are addressing certain topics. Think of it as a themed fundraising effort.

It would help to review the [list of reviewed projects](https://github.com/giveth/giveth-planning/issues/1049) to see which ones correlate with each other, and around what topics. And also see what main

[2022-11-22 19:10] c0ric0ri opened #1051 "Medium Post on Iranian Support via Giveth"

[2022-11-22 19:11] c0ric0ri commented on #1048
Twitter space candiates: Amin Solani, people at consensus, coin iran media platform, 30 or so people in a tg group that @GriffGreen is part of that we could push comms to and get support from.

[2022-11-22 19:20] oyealmond commented on #1042
Hey team! @laurenluz @c0ric0ri , already sent everyone's the survey for them to fill out, and maybe we can gather really quick later to see the results.

Maybe next Monday?

Thank you!

[2022-11-22 19:35] oyealmond commented on #1036
We're going for the second part of the Tokenomics.
Thank you team.
https://youtu.be/WZgsTxhA4Ik

[2022-11-22 19:37] oyealmond opened #1052 "Twitter Space The Giveth House."
Hey dear team!
We're having a Giveth House Twitter Space on Nov 30th at 11:00 a.m. Costa Roca time.
Will be around the Giveth House, how can people support, and ETHGathering.

Dear @franculio , please connect me with the ETHgathering team so we can discuss the details.
Thank you!

[2022-11-22 19:38] oyealmond commented on #1052
@franculio could you please share the Twitter accounts that will be participating in the space please?
Thank you so much :)

[2022-11-22 20:22] GriffGreen commented on #1026
the devops team knows more about this than i do. @geleeroyale might have input

[2022-11-22 20:37] c0ric0ri opened #1053 "Coordinate new comms features in dApp"
Using this issue to add https://github.com/Giveth/Roadmap/issues/45 to the epic.

[2022-11-22 20:56] laurenluz commented on #1035
@oyealmond - I left a comment, I find this very confusing. have a look

[2022-11-22 20:57] laurenluz commented on #1033
Thanks both - I scheduled for Friday after some edits

[2022-11-22 21:00] laurenluz commented on #981
my concern is around the management of a private key that accesses that account. wondering if they have some features for orgs who have collaborative social media?

[2022-11-22 22:22] oyealmond commented on #1035
Yeah, you're right, it was very confusing for me too as the info was not clear. I added a third tweet with @WhyldWanderer version adding the perks of the "individual membership" different from the perks of "the dao membership" .

@laurenluz @c0ric0ri

[2022-11-23 01:24] oyealmond opened #1054 "🎙 Giveth podcasts project"
There's 2 podcast projects happening on Giveth:

**GIVtalk podcast** - Originally Twitter Spaces, which audio is edited afterwards to upload it to podcast streaming platforms. Twitter Spaces audios are erased 30 days after by Twitter. Uploading them into a podcast will keep the registry alive.

**GM hosted by Griff Green** - [Found the rational in the Giveth forum](https://forum.giveth.io/t/giveth

[2022-11-23 01:36] oyealmond opened #1055 "Design a graphic identity for GM podcast."
Hey dear @rodricastillo9013, as we first discuss, we need to come with a nice graphic identity for the GM podcast with a lot of Web3/Giveth good vibes.

Playing & Combining many colors, and the Giveth elements.
The names of the podcast is GM!

I was thinking we could do in an elegant way the name being:
GM! hosted by Griff Green

Maybe GM! bigger, & hosted by Griff Green could be smaller.
[I was g

[2022-11-23 01:55] oyealmond opened #1056 "Pimp Streamyard for GM! podcast."
Hey @rodricastillo9013 ! :)

As you know Streamyard give us a lot of cool features to personalized our streams.
So I will ask to prioritize this, to have it ready whenever we record the first interview.
Bot you and @WhyldWanderer have access to the Streamyard account :)

The element I will suggest to have are:

1) A video clip animation to play when the podcast is starting
2) A video clip animatio

[2022-11-23 05:33] danelsuga commented on #1044
sure.

[2022-11-23 05:34] danelsuga commented on #1018
it's ok @oyealmond ! very understandable mistake. no worries.

[2022-11-23 05:43] danelsuga commented on #1018
Great job on the edits @ahmadabugosh.

[2022-11-23 11:17] franculio commented on #934
Thank you @tropicalmangos !!

I am getting the same error message when trying to connect with Gnosis safe, maybe ask the devs in the support channel?

[2022-11-23 11:19] franculio commented on #933
@tropicalmangos the document you posted needs permission to access, could you make it public?

[2022-11-23 12:54] c0ric0ri commented on #1050
@ahmadabugosh @clara-zi @danelsuga @laurenluz @oyealmond @tropicalmangos @NikolaCreatrix @WhyldWanderer  would love some input here on outlining 2 to 3 topics from the news that we could focus on for these tweet threads.

For each thread it would help if we can outline & agree on:

- A specific news topic
- a couple projects on Giveth that are gathering support to help this topic

[2022-11-23 13:20] c0ric0ri commented on #1053
@MoeNick would be great to discuss this to see what's possible. The current Iran campaign we are working on might be to soon for us to do this (no idea how much work is involved or if it's a super quick tweak).

Also would it make sense for Comms to add this to the repo and tokenlog?

[2022-11-23 13:35] franculio commented on #934
Hey I added the image that was missing from the error you were getting but I think this is good and ready for review.

[2022-11-23 13:57] clara-zi commented on #1025
https://docs.google.com/document/d/1oYGyOo6ZzTj0JTrddj0j8sjptaQUblJaRbtcE34kmZI/edit#heading=h.aqfghe5ntdfy

@MoeNick to review for devs input

[2022-11-23 16:51] oyealmond commented on #1044
Hey @danelsuga !
Thank you so much! I made a Drive Folder with the audios as a Notion backup if is easier for you to check out the recording through here - https://drive.google.com/drive/folders/1xKQrEVgkeDf7BrinzmoLNUP_PIjCeThK?usp=sharing

[2022-11-23 18:26] NikolaCreatrix commented on #1049
Hi there, I'm on it.

https://giveth.io/project/love-for-iran - could not confirm project legitimacy - the link for their twitter doesn't work. I am sending them an email asking if they can provide us with more detail about their online identity...
https://giveth.io/project/stand-up-for-iranians-stand-up-for-web3-inclusivity - LEGIT, twitter handle is @crypt0zan
https://giveth.io/project/relocatin

[2022-11-23 19:39] clara-zi commented on #904
@c0ric0ri Could add some DAO stats - ie how active our community is - eg no. of new proposals: could be a way to start a conversation about how our governance works, how creative our community is etc.

[2022-11-23 20:38] oyealmond commented on #1011
Hey @laurenluz @c0ric0ri !
We had a great Meet the Makers session :)
Could you please help us tweeting the session recording?[ Find the draft here. ](https://docs.google.com/document/d/1aRJ9rqhptXG_FXX8KfbbnV0sw3AilL9yIHRp4vX3s-k/edit?usp=sharing)

[2022-11-23 21:28] oyealmond commented on #1056
**Referencia de animación** https://motionarray.com/after-effects-templates/retro-style-opener-947896/

Ideas de canciones para animación, Entrada + salida:

Quedan bien con el beat para animar -
entrada - https://www.youtube.com/watch?v=l5fyoYFJ7KE
salida - https://www.youtube.com/watch?v=UL3JSD64Vuc
entrada (quizá too much) - https://www.youtube.com/watch?v=2fbPzozNGqs

Más generales:
entrada (m

[2022-11-24 00:17] oyealmond opened #1057 "The Giveth House Twtter Space."
Hey team! @c0ric0ri @laurenluz

Here's the[ planning doc](https://docs.google.com/document/d/1MvHA-E-uK8xfvlJIsnOjHQq3mAAJuxqStQi8kC-wI84/edit?usp=sharing ) for the next Twitter Space. Could you please help me review the drafts of the tweets to promote?

Thank you :)

[2022-11-24 00:24] oyealmond commented on #1050
I already drafted a tweet thread about 'Relocating Web3 Iranians’ project.
Adding here the issue for visibility :)
https://github.com/Giveth/giveth-planning/issues/1037

[2022-11-24 11:09] c0ric0ri commented on #1049
Thanks @NikolaCreatrix! Remember to move the issue to "In Progress" when you're working on it.

So just to confirm, are there only 4 total projects? Griff mentioned there might be like 8-10 on the call, but I think @WhyldWanderer @oyealmond both said they found these 4 so I want to double check.

How do you all think we should proceed if the first project doesn't get back to us?

[2022-11-24 11:16] c0ric0ri opened #1058 "GIVbacks Round 24 Tweet"
Tweet to announce GIVbacks round 24.

[2022-11-24 13:42] c0ric0ri commented on #1058
Tweet thread draft:

https://docs.google.com/document/d/181GMbfSf_agXNSDUwn7kfxwDN_LiSAD-RKXLhvV-tZc/edit

@laurenluz

[2022-11-24 15:23] NikolaCreatrix commented on #1012
The flow script here: https://docs.google.com/document/d/1rBFsOYrnSEuWDW1T3tJftEE3w9mXy_sE00umq5uinaE/edit?usp=sharing

[2022-11-24 15:23] #1012 closed

[2022-11-24 15:24] NikolaCreatrix opened #1059 "Post coordination call & planning MTM team"

[2022-11-24 15:28] laurenluz commented on #1011
nice job @oyealmond - some tiny edits & I scheduled for saturday

[2022-11-24 16:01] laurenluz commented on #1057
Hey @oyealmond - great job!! I edited the tweets & scheduled them for next week.

[2022-11-24 16:10] oyealmond commented on #1057
yeeey ty so much @laurenluz !

[2022-11-24 16:12] oyealmond commented on #1035
hey team :)
the doingud team asked me about this communication. I modified the draft, but maybe I can think in other way to present it. :)
lmk your thoughts! thank you again! @c0ric0ri @laurenluz

[2022-11-24 16:25] laurenluz commented on #1035
looking into it now

[2022-11-24 16:37] laurenluz commented on #1035
ok I edited it a little, and put my draft in the doc. I scheduled it for tomorrow. hopefully that's good @oyealmond - if you have an issues w/ the final edit just DM me :)

[2022-11-24 16:45] oyealmond commented on #1035
Uho! that's perfect. Thank you. Ty for all your help on this one @laurenluz @c0ric0ri @WhyldWanderer , this was a specially hard  to draft!

[2022-11-24 17:25] c0ric0ri commented on #1057
Looks good! New hashtag?

[2022-11-24 17:40] oyealmond commented on #1057
yes! Ty for bring this @c0ric0ri . I was thinking in Stee recommendations for our twitter spaces of building a hashtag to brand them, thought #GIVtalk could be a good idea. But youre right. Let's standardized if first, we like this, & second in case we do, we like more #GIVtalk or #GIVtalks.

[2022-11-24 18:24] c0ric0ri commented on #1050
Here are some ideas on how we could outline 3 tweets for the projects Nikola already confirmed...

https://giveth.io/project/love-for-iran - TBD on verification

https://giveth.io/project/stand-up-for-iranians-stand-up-for-web3-inclusivity
**News Topic:** US sanctions against Iran are hard to understand and this is causing web3 to block support to web3 Iranians.
**Promote this project:** raising t

[2022-11-24 21:58] oyealmond commented on #1050
Hey @c0ric0ri! Just talked to @laurenluz & a couple of team members have some objections to the campaign idea. So I believe is better to stop working on this until we discussed w/ the rest of the team what are best actions to follow

FYI @WhyldWanderer @NikolaCreatrix @tropicalmangos @clara-zi @danelsuga

[2022-11-24 22:03] oyealmond commented on #1048
Hey @c0ric0ri ! Same w/ this. We're pausing the support Iran campaign until we talk w/ the rest of the team.
cc @laurenluz

[2022-11-25 00:06] NikolaCreatrix commented on #1049
https://giveth.io/project/love-for-iran is LEGIT too, twitter handle @healing4iran

[2022-11-25 13:19] c0ric0ri opened #1060 "Bear Market Content Brainstorm"
Based off our Comms discussion around building the voice of Giveth in the bear market, it would make sense for us to produce content around some topics that will build trust in Giveth with our community and especially new audiences.

This will pair really well with our increase in Twitter Spaces and Podcast efforts, which will hopefully be reaching new groups. The goal is to position Giveth as an

[2022-11-25 13:24] c0ric0ri commented on #1060
@clara-zi @SymSL @laurenluz @tropicalmangos @oyealmond @franculio @GriffGreen @ahmadabugosh @Cotabe @WhyldWanderer @NikolaCreatrix

[2022-11-25 15:40] c0ric0ri commented on #794
Hey I took a look at the outline without going into detail on grammar etc, and I like the way it's structured.

I'm trying to tie the pieces together from the last two updates in this issue, but is the point here for someone to pick up writing this post now using the outline?

@tropicalmangos @laurenluz

[2022-11-25 16:10] c0ric0ri commented on #1018
Hey @danelsuga @ahmadabugosh I looked through all the video descriptions and noticed they're not all up to date with relevant links. Can we add this blurb that I see in some of them, to all of them?

"Join [http://join.giveth.io](https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbFVQV3NEU0FwY0J2aFRwQ3JGYnkyWktHT0JDd3xBQ3Jtc0tuSUZ6LUlpcEEwWUZMWmc5OUV6bU11d25GVHhoNzJncFdHO

[2022-11-25 16:42] c0ric0ri commented on #1014
Hey @tropicalmangos before closing an issue please include the link to the published content. In this case the tweet thread.

[2022-11-25 21:53] WhyldWanderer commented on #978
There is now a Google Document where this survey can be commented on and reviewed to be put into typeform..

Maybe @danelsuga and @ahmadabugosh  or anyone else who wants to could take a look and leave any comments there in the doc. I hope to get this into typeform before our next community builder sync.

[2022-11-26 18:24] laurenluz commented on #981
Hey also, we can only get a lens profile if we're eligible. I made a fresh address to try to claim Giveth.lens with it anyway.. but I can't. So @tropicalmangos if we want to make this happen, we need to keep an eye out on lens for the drops or find some connection.

[2022-11-28 11:13] ahmadabugosh commented on #1060
Hey @c0ric0ri, nice idea! I think some other topics that would broaden the audience could be:

- Talking about the importance of self custody and P2P (which is why Giveth never holds the donations and is truly decentralized)
- Discussing the differences between CEX's and DEX's and different ways to offboard funds. For example, some of the ways that Shapeshift has on their site like Mt Pelerin or O

[2022-11-28 12:08] ahmadabugosh commented on #1018
@c0ric0ri I cleaned up the descriptions and added those links at the bottom of all of them. I think we can close this issue now.

[2022-11-28 12:25] ahmadabugosh commented on #978
Hey @WhyldWanderer, can you add some of the questions I mentioned above to get their social links, as well as their fundraising or impact goals? That would make it easier to add that info if we add it to the project pages.

[2022-11-28 12:57] SnakeGH commented on #1039
Location to submit: https://tokens.kleros.io/tokens

rules to follow before submitting: https://kleros.gitbook.io/docs/products/tokens/kleros-t2cr-tutorial

[2022-11-28 13:13] danelsuga commented on #1018
Thanks @ahmadabugosh. Did you edit the descriptions in the doc? I don't see them.

https://docs.google.com/document/d/1rVj2SIMByDwvilU7_nfULaGIdC-v0kG7OpVSNDAI2no/edit?usp=sharing

I didn't do the "bonus" one yet. Sorry.

[2022-11-28 14:03] laurenluz commented on #981
are you sure you get on a waitlist? doesn't seem that way to me:

![image](https://user-images.githubusercontent.com/75490971/204296763-a2d74056-4d35-40c3-aad4-5a75684db388.png)

[2022-11-28 14:04] SnakeGH commented on #1039
@GriffGreen has submitted the application for inclusion, it will "pend" for 5 days then a decision will be made

[2022-11-28 14:08] laurenluz commented on #1057
I think #GIVtalk works better if we want to write sentences around it.

[2022-11-28 14:48] c0ric0ri commented on #994
Some notes on this copied from a duplicate issue:

We can invite our community of GIV holders to vote on our roadmap. They must hold GIV or wrapped GIV to vote.

https://tokenlog.generalmagic.io/Giveth/Roadmap

[2022-11-28 14:49] c0ric0ri commented on #1045
Just realized this is a duplicate (https://github.com/Giveth/giveth-planning/issues/994). I will close this one.

[2022-11-28 14:49] #1045 closed

[2022-11-28 14:51] c0ric0ri commented on #994
@MoeNick we talked about this again recently. Has the issue been fixed that the tokenlog voting power is now reading correctly, or are we still working on it?

[2022-11-28 15:02] c0ric0ri commented on #1046
Tagging @SymSL here as well, as we've had discussions around influencer marketing which coincides with this.

FYI perhaps we should consider Tiktok in these efforts because of the potential reach? Months ago we spoke with Mike Mezz who has achieved quite a following there posting about regenerative finance and economics.

[2022-11-28 15:10] laurenluz commented on #994
yeah, the voting power is corrert now, but we discussed that we should have our internal team vote before we invite people publicly to provide input.

@divine-comedian - thoughts? are we there yet?

[2022-11-28 15:12] c0ric0ri opened #1061 "Tweet Announcing Radicle / Giveth partnership"
This is to prep a first tweet to announce the partnership. Once the grant is secured, we will co-publish a blog post and more comms around that.

[2022-11-28 15:34] #902 closed

[2022-11-28 16:04] c0ric0ri commented on #1033
https://twitter.com/Givethio/status/1596867193949638656?s=20&t=GMfYPy0ChVFzEKdia136pg

[2022-11-28 16:05] #1033 closed

[2022-11-28 16:25] divine-comedian commented on #994
I don't see more than 4 votes on a single issue - we should have our team vote so the list is a little bit more curated by people with the most context before having the masses participate.

I am shilling hard within discord but as they say - you can lead a horse to water but you can't make it drink.

[2022-11-28 17:19] laurenluz commented on #1021
@oyealmond & I have made the script! Graymachine is working on the timing cut & will have something by the end of tomorrow

[2022-11-28 17:21] c0ric0ri opened #1062 "Email announcing GIVpower launch to Giveth database of GIVers & Projects - Dec 9"
This email should be ready to go out to announce our launch, right after GIVpower goes live on Dec 13th at 11AM EST.

Can reference email from Staking / Locking launch for drafting:

https://github.com/giveth/giveth-planning/issues/885

[2022-11-28 17:30] c0ric0ri opened #1063 "GIVpower meme for partner outreach"
https://imgflip.com/gif/6visrl

Add Giveth logo to the top right

[2022-11-28 17:51] laurenluz commented on #1060
Responding to the bear market idea (better than "we have always been prepared)
- rate of hiring
- mission-focused projects survive
- different culture around DAO spending
- $nice
- opt-in donations

[2022-11-28 17:52] c0ric0ri commented on #1060
Notes from discussion with @laurenluz :

Not sure how interesting the first point is, as we launched GivethTrace which didn't really work out and people didn't seem so confirmed with this topic. Perhaps this is a subset of another article.

Point 2 makes sense.

Lessons learned by Giveth in the bear market (instead of how we prepared for it). Having a substantial vision, values of web3 for public

[2022-11-28 19:32] laurenluz commented on #629
Those are good ideas. I didn't have anything in mind, just it would be good if projects did advertise to their donors. @c0ric0ri can maybe support w/ some ideas as well.

I like the idea of creating content that makes is easy for projects to explain Giveth to their donors. I have some vague recollection that we prepared something like that before. Maybe @clara-zi or @WhyldWanderer have an idea.

[2022-11-28 20:45] oyealmond commented on #1060
hey :)

We have 2 interviews with outstanding projects (in Spanish) that we can frame with the web3 for good theme.
These interviews are part of our Sea of Hertz partnership, could be used in youtube & twitter.

We could organize some Twitter Spaces to close the year w some of these topics:
- DAOs as resilient organizations
- mission-focused projects survive
- Decentralized Donations

Dates availa

[2022-11-28 20:53] clara-zi commented on #1025
https://github.com/Giveth/giveth-planning/issues/1025
Proposal submitted.

[2022-11-28 20:53] #1025 closed

[2022-11-28 20:57] clara-zi commented on #1026
thanks @GriffGreen synced with @geleeroyale and pulled list of exp. above.
Will wait until we know the outcome of subs payments post, which should make exp. tracking easier and more automatic.

[2022-11-28 21:08] WhyldWanderer commented on #1030
I think that sounds good!.. is there a way to add a screen shot or image... maybe we can capture the slide or something instead of the video??

[2022-11-28 21:13] ahmadabugosh commented on #1018
@danelsuga hey yes, I updated all the video descriptions on the playlist directly (plus I added a simple one for the bonus video too): https://www.youtube.com/playlist?list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm

[2022-11-29 11:16] SnakeGH opened #1064 "1inch - add GIV to their token list"
website https://1inch.io/

instructions: https://help.1inch.io/en/articles/4878336-how-to-get-a-token-listed-on-1inch

[2022-11-29 11:17] SnakeGH commented on #1064
Instructions in detail:

If you are a project representative or a community activist and would like to have your project’s token whitelisted on 1inch, please, take the following steps:

send us links to ALL existing liquidity pools with the token - total liquidity;

***Please note, we require the following minimums of total liquidity across all dexes for the following networks:

Ethereum - $200,00

[2022-11-29 11:28] SnakeGH opened #1065 "MyCrypto - add GIV to this token list"
website: https://mycrypto.com/

instructions: https://support.mycrypto.com/developers/add-token-to-default-list

[2022-11-29 11:30] SnakeGH commented on #1065
Adding Your Token as a Default Token

MyCrypto ships with a default token list that allows our Token Scanner functionality to check balances for a pre-determined set of tokens, which is displayed to the user.

If your token is not yet included on our default token list, you can add it at https://github.com/ethereum-lists/tokens. Once your token is on ethereum-lists/tokens, it will automatically be

[2022-11-29 11:42] SnakeGH opened #1066 "Uniswap - add GIV to this token list"
website: https://uniswap.org/

instructions: https://support.uniswap.org/hc/en-us/articles/7959226015629-Token-Lists-

[2022-11-29 11:44] SnakeGH commented on #1066
From @spectoregia

I need to get approval from Uniswap. Before submitting anything, I need the following information about our token. I asked the members on GIVeconomy chat but so far no response. If any of you have any ideas please let me know:

Token Address:
Token Name (from contract):
Token Decimals (from contract):
Token Symbol (from contract):
Uniswap V2 Pair Address of Token:

@laurenluz @G

[2022-11-29 11:45] SnakeGH commented on #1066
From Uniswap, instructions for listing:

Uniswap Labs has a Default Token List. Below is some more information on Token Lists:

How do I get my token project added to a token list?
Token Lists a new standard for creating lists of ERC20 tokens. This is a community-led initiative to improve discoverability and trust in ERC20 token lists in a manner that is inclusive, transparent, and decentralized.

[2022-11-29 11:54] SnakeGH opened #1067 "Kyber - add GIV to this token list"
website: https://kyber.network/

instructions: https://docs.google.com/forms/d/e/1FAIpQLScPRN6NSBQ2LsPTyseVlS92PX9i-Wq2O13qhHV-Z_Ub3BgzqA/viewform

[2022-11-29 11:54] SnakeGH commented on #1067
Applied to their type form to be listed. They will be in touch

[2022-11-29 11:59] SnakeGH opened #1068 "Zerion - add GIV to this token list"
website: https://zerion.io/

instructions: https://roadmap.zerion.io/b/token-requests/

[2022-11-29 12:06] SnakeGH opened #1069 "CoW Swap - add GIV to this token list"
webiste: https://swap.cow.fi/#/1/swap/WETH

[2022-11-29 12:07] SnakeGH commented on #1069
From Oct 7 2022:

Jake said "Updates from CoW swap:

Master CoW - "Hey thanks for reaching out for the moment we aren't updating the cow token list as it's giving us some problems. That said, we are looking into making a new one which can have this feature."

So I will follow up with them in a month about the "new feature"

[2022-11-29 14:14] franculio commented on #933
I'll take a look today! Thank you @tropicalmangos

[2022-11-29 14:18] clara-zi commented on #629
We put together this fundraising campaign guide; you may be able to use some of the soundbites / messages in here:
@tropicalmangos
https://docs.google.com/document/d/1nqrhxv_-WpRM2lQBaAOiTBIUFWEszPJmVdOLZ08PBb8/edit?usp=sharing

[2022-11-29 14:23] clara-zi commented on #1060
There is the option to add articles in Linked profile - wdyt about adding Suga's medium article to LI article also:
<img width="261" alt="image" src="https://user-images.githubusercontent.com/100724132/204554615-d716c611-80b2-42d1-a9f2-8fcfb1589fcf.png">

[2022-11-29 14:50] clara-zi commented on #978
@ahmadabugosh - added

[2022-11-29 15:52] laurenluz commented on #794
Hey @tropicalmangos - nice job! it's really coming a long. The beginning especially was waay better. I left a bunch of comments - can you weave them into the outline?

I would say you've almost got it all, except for Gurves. When you get down to that section, try your best w/ the comments in there, but it it's still "????" then I can write a few paragraphs for that part and you can add it in.

[2022-11-29 16:02] divine-comedian commented on #1066
A quick  search for GIV on etherscan takes you here:
https://etherscan.io/token/0x900dB999074d9277c5DA2A43F252D74366230DA0

address - 0x900dB999074d9277c5DA2A43F252D74366230DA0
name: Giveth Token
symbol - GIV
decimals - 18
univ2 pair address: https://v2.info.uniswap.org/token/0x900db999074d9277c5da2a43f252d74366230da0

this is the best I can find - wow this liquidity is pretty dismal.

[2022-11-29 16:17] c0ric0ri commented on #898
Targeting Dec 14th for the GIVpower workshop

[2022-11-29 16:21] c0ric0ri commented on #778
@Cotabe would be great if you can set up a script to review!

[2022-11-29 16:33] Cotabe commented on #778
@laurenluz @c0ric0ri

Is this the site to test GIVpower & from where from draft the walk-through video script https://givpower.vercel.app/ ?

Also what are we aiming for?
1. Very high-level no live demo under 1 min.
2. High level super simple live demo (1-3 min)
3. More detailed (3+ min)

I would go for 2

[2022-11-29 16:51] laurenluz commented on #778
@Cotabe

Use https://giveconomy.vercel.app/

And I would go for 3.

The goal is to walk people through how to use GIVpower... stake & lock GIV to get GIVower... use it to boost projects.

I wouldn't get into edge cases like what happens when a verified project loses it's verified status (for example), but a step-by-step demo of the entire user flow. The purpose is to have this as a compliment to o

[2022-11-29 17:05] laurenluz commented on #946
Hey @tropicalmangos - I went through and made some edits. The first two emails are good and after you accept suggestions/make changes, I think we could get a final review & send it out!

For the last, on verification, get some help from @NikolaCreatrix - maybe she can help write it with you. You didn't describe how to get verified well (missing steps) and the rest of the email was a bit choppy/rep

[2022-11-29 17:17] danelsuga commented on #1043
Thanks @ahmadabugosh ! To clarify, I'm not writing a piece on Greenpill at the moment but just making a huge summary so that it can be used to promote later on. I can totally write a recap ( @laurenluz @c0ric0ri ?), but it wouldn't be immediate. Only the detailed summary is coming immediately.

[2022-11-29 17:18] danelsuga commented on #1043
And by "detailed summary", I mean an internal doc.

[2022-11-29 17:23] laurenluz commented on #1043
Looks pretty good @ahmadabugosh - I left some small comments & suggestions.

[2022-11-29 17:30] #1035 closed

[2022-11-29 19:06] c0ric0ri commented on #1043
I left some comments and tweaks as well @ahmadabugosh !

[2022-11-29 20:07] oyealmond commented on #1035
https://twitter.com/Givethio/status/1596142420227510274

[2022-11-29 20:08] oyealmond commented on #1011
https://twitter.com/Givethio/status/1597229597287923715

[2022-11-29 20:09] oyealmond commented on #1034
https://twitter.com/Givethio/status/1593605709983358977

[2022-11-29 20:09] #1024 closed

[2022-11-29 20:23] oyealmond commented on #1042
Hey dear team! @c0ric0ri @laurenluz

Circling back on this, %66.7 of the team find Giveth Essentials Very useful and 22.2% find them useful.

They asked to go deep into tokenomics & governance.

"they are a great crash course into the fundamentals of what we are building and with many of us focusing on different areas they really do help to understand the whole ecosystem better."

I think the team

[2022-11-29 20:46] c0ric0ri commented on #1042
Oh, I like the point about going deeper into governance. I can't see the results with this link, but it sounds like we should continue the sessions and keep improving. It would make sense to map out a sequence of them so people can build upon their knowledge.

[2022-11-29 21:11] laurenluz commented on #750
Starting: https://docs.google.com/document/d/1A_zR2AnHO2nyrgWHIedINOIV-aeQ_VItNgIVgj6CHOM/edit

[2022-11-29 21:18] c0ric0ri commented on #807
@laurenluz @WhyldWanderer this draft just needs a final review.

Also, somehow we had crossover and @NikolaCreatrix [also wrote a draft.](https://github.com/Giveth/giveth-planning/issues/1013) I'm thinking perhaps we can use both, or adapt the one Nikola wrote for the other platforms and Discord.

[2022-11-29 21:31] c0ric0ri commented on #814
@ahmadabugosh @laurenluz what do we want to do with this, socials aren't necessary anymore I assume. Do we still want to update our docs?

[2022-11-29 21:47] c0ric0ri commented on #670
Hey @clara-zi can you please clean up this final draft and add it to the docs?

[2022-11-29 21:55] ahmadabugosh commented on #814
@c0ric0ri Maybe we should wait until we launch the new HODL (if that's what it's called) vault with them?

[2022-11-29 22:20] GriffGreen commented on #1066
https://github.com/Giveth/GIVeconomy/issues/733#issuecomment-1330858193

This issue seems to be in 2 places... not sure which one needs to be closed... closing this one

[2022-11-29 22:50] oyealmond opened #1070 "Send an email invitation for our next workshop."
Hey dear team! gm!

The one and only @Danibelle is hosting next week pimp your Giveth project workshop! A session dedicated to guide and support project owners improve their projects in order and get more funds.

Could you please help me first, [reviewing the email draft](https://docs.google.com/document/d/1UydtFiLZyz2LutkWTHVBRjsWObTmZyYSL5-jVUk68no/edit?usp=sharing) to send it afterwards please?

[2022-11-29 23:45] oyealmond opened #1071 "Pimp your Giveth project workshop tweets :)"
Hey dear team! @c0ric0ri @laurenluz

[Sharing some tweets to promote the Pimp your Giveth project workshop](https://docs.google.com/document/d/1NZOFjVJLQkkys0NO8bxgzm_RCh8F_sN7WDLeUqowpZA/edit?usp=sharing), facilitated by @Danibelle ✨

Could you help me review & schedule? I tried to keep these simple to attract Giveth followers attention.

Thank you!

[2022-11-30 04:57] SnakeGH commented on #1066
@GriffGreen I did this because I am going to close #733, which has it in the title and create a "general token list" epic and then put this issue inside that epic

[2022-11-30 05:00] SnakeGH opened #1072 "GIV listed on DEX token lists"
Using this new one to create an epic and add all specific token lists as individual issues under this epic

[2022-11-30 05:07] SnakeGH commented on #1066
@spectoregia moving Griff's response over to this place too

@spectoregia

Token Address:
0x900db999074d9277c5da2a43f252d74366230da0

Token Name (from contract):
Giveth

Token Decimals (from contract):
18

Token Symbol (from contract):
GIV

Uniswap V2 Pair Address of Token:
0xbeba1666c62c65e58770376de332891b09461eeb

But we migrated our liquidity to UniV3 so that pool is very small, UniV3 pools ar

[2022-11-30 08:45] ahmadabugosh commented on #1043
Thanks @danelsuga yeah no worries, I think even as an internal doc though it would be useful to see your notes and highlight some parts of it. Maybe we should make an epic out of it as well and extract content for it for a blog post, tweet thread and video snippets? (especially since so many tools are mentioned, it would be great to tag all of those and it would get a ton of exposure)

Thanks @lau

[2022-11-30 10:05] danelsuga commented on #1070
I gave it a quick copyedit. Nothing substantial. Can look again after others have a peek.

[2022-11-30 10:06] danelsuga commented on #1018
OK, groovy. Thank you @ahmadabugosh !

[2022-11-30 10:11] danelsuga commented on #1044
OK, thanks. I haven't gotten to it yet but will try to do on Friday.

[2022-11-30 10:56] SnakeGH commented on #1064
**@GriffGreen or @divine-comedian I need your assistance with the required information below, please:**

1.) "we require the following minimums of total liquidity across all dexes for the following networks:
Ethereum - $200,000 USD
Polygon, BNB Chain, Arbitrum, Optimism - $100,000 USD
Avalanche, Fantom Gnosis - $50,000 USD
Aurora, Klaytn - $10,000 USD

**Do we have that amount in total liquidity?*

[2022-11-30 11:02] SnakeGH commented on #1065
Reached out to our contact at MyCrypto to ensure we are listed on their token list

[2022-11-30 11:09] SnakeGH commented on #1068
Once I get GIV token information from Griff or Mitch from GH issue 1064 -1inch, I can then apply online to this token list

[2022-11-30 13:38] divine-comedian commented on #814
The vault is already live but let's see if it actually works before we advertise it

also worth mentioning there is no rewards program for it so maybe it's not a strong message :thinking:

[2022-11-30 14:31] SnakeGH commented on #844
Had our amazing graphics team make this into a fun flyer, of course it was at the very bottom of their priority list and why it's been a couple months before I could post it here, but here it is now. Enjoy

https://drive.google.com/file/d/1arapRDALVRk2jGcabAi90ohJVfGPjWnD/view?usp=sharing

[2022-11-30 14:32] #844 closed

[2022-11-30 14:35] SnakeGH commented on #1064
Legend, simply a legend, thanks @divine-comedian

[2022-11-30 15:58] laurenluz commented on #1043
I agree that we can expand on the podcast & make some content out of it. After revisitng this though, I think we should add a mention in the newsletter since it is fresh... waiting a month doesn't make too much sense. and this is a really nice piece of content. I added a bullet point near the top ( and think we should add this in the tweet as well to replace the cult mention). @ahmadabugosh

[2022-11-30 16:01] oyealmond commented on #1071
Thank you @c0ric0ri!
Already accept them all.

[2022-11-30 16:02] oyealmond commented on #1070
Ty @danelsuga !!
a few more reviews and we will be good to go

[2022-11-30 18:59] laurenluz opened #1073 "Transformative Impact Summit Tweet"
Griff & I are both representing Giveth on two panels at this conference.

The site: https://www.catalist.network/event/transformative-impact-summit
Their Twitter: https://twitter.com/globalunityorg

Panel 1:  Funding Impact At Scale - link: https://www.catalist.network/eventpage/1669392952517x358596098766420900
Panel 2: Web3 as a force for good - link: https://www.catalist.network/eventpage/166975

[2022-11-30 19:01] laurenluz commented on #1073
@c0ric0ri or @oyealmond can one of you girls take this to have ready for tomorrow?

[2022-11-30 19:16] laurenluz commented on #807
Hey @c0ric0ri I just left some comments. Try to make the 1st tweet stronger & more interesting. I would avoid any mention of just general "quality of the dApp or platform.

have a look.

[2022-11-30 19:34] oyealmond commented on #1070
yeees @tropicalmangos please could you help me put this email together?

[2022-11-30 19:51] laurenluz commented on #1013
yeah! anyone can comment access would be great!

Also FYI @c0ric0ri I love Nikola's step by step for projects here... it's a good idea in our tweet thread to actually help projects provide the update. Maybe you can use some of what she wrote here in #807

[2022-11-30 20:07] laurenluz commented on #1071
Thanks both - I scheduled them. Had to make some small changes, one tweet was too long.

[2022-11-30 20:09] oyealmond commented on #1071
thank you so much!! @laurenluz @c0ric0ri

[2022-11-30 20:11] oyealmond commented on #1042
Sorry ! @c0ric0ri @laurenluz
[I think you can see them now](https://docs.google.com/forms/d/1u8KA7gQ7OPiTbpNo6BvpnyBQ3DnwRNHBHXDLJCJQ2xg/edit) . Yeah!
Agree we should keep going and improving

[2022-11-30 20:11] #1042 closed, assigned to oyealmond

[2022-11-30 20:14] ahmadabugosh commented on #1043
Will do! I just combined the suggestions, and I think it's good to go now @laurenluz @danelsuga

[2022-11-30 20:14] oyealmond commented on #1073
on it! @laurenluz @c0ric0ri

[2022-11-30 21:39] oyealmond commented on #1073
Ready[ Tweet thread](https://docs.google.com/document/d/1Qu6ParLFHNHiBE8luD8QoBPH50hoFXDxg9f7Ei7cwDQ/edit) whenever you can check it out! Ty!

@laurenluz @c0ric0ri

[2022-11-30 22:25] oyealmond commented on #1052
https://twitter.com/i/spaces/1rmGPkVPgDgKN?s=20 :)

[2022-11-30 22:25] #1052 closed

[2022-11-30 22:26] oyealmond commented on #1057
https://twitter.com/i/spaces/1rmGPkVPgDgKN?s=20 :)

[2022-11-30 22:26] #1057 closed

[2022-11-30 22:34] oyealmond opened #1074 "Re post Giveth House Twitter Space :)"
Hey team! @c0ric0ri @laurenluz

[Here's the draft to repost our last Twitter Space](https://docs.google.com/document/d/1z0jHDgxJFHjcAHFSp8xcOdAYkKXEj_vykHVBW_gtQLY/edit) for you to review.

Thank you!