[2022-01-13 18:37] Brodyann7 commented on #441
Also left suggestions. Great article @laurenluz

[2022-01-13 19:04] rodricastillo9013 commented on #424
![Gnosis Ads 1](https://user-images.githubusercontent.com/61791380/149393038-24523013-e58c-4952-9ec0-76b5d01973d7.gif)

What do you think? I have adjusted the timings and animations.

[2022-01-13 19:45] Brodyann7 commented on #420
Also Reviewed the doc, some suggestions.

[2022-01-13 20:01] laurenluz commented on #441
Thanks for the review @WhyldWanderer @Brodyann7 !!

I made changes based on your comments and suggestions and submitted it! Will post here when it's live

[2022-01-13 20:36] laurenluz commented on #420
Left a comment in the doc, but will restate it here

The graduated sanctions part already is in the docs, but a bit different.. updated/improved up since the original notion version (where I'm assuming this came from):  https://docs.giveth.io/giveconomy/givbacks#disqualifying-factors-for-givbacks-program

Also in the GIVbacks doc, we have the details about the rounds: https://docs.giveth.io/giveco

[2022-01-13 21:13] laurenluz opened #455 "Prep for 1Hive Trivia ft. Giveth"
[https://app.zenhub.com/files/278726184/ab35f09a-7279-4f4b-86cb-fe3cda57c9d6/download](https://app.zenhub.com/files/278726184/ab35f09a-7279-4f4b-86cb-fe3cda57c9d6/download)

[2022-01-13 21:14] laurenluz commented on #455
This will be on Feb3. We need to:
- [ ] Make forum post to request funds
- [ ] Make/pass proposal in GIVgarden
- [ ] Make/review a list of questions

[2022-01-13 21:34] laurenluz commented on #435
so I added the "About the proposals" category section (cut from gov process): https://forum.giveth.io/t/about-the-proposals-category/297

And a "proposals template" section: https://forum.giveth.io/t/proposal-template/303/2

Do you like it @WhyldWanderer @divine-comedian ?

If we like it, I think we should communicate this in our next gov call to everyone

[2022-01-13 21:42] laurenluz commented on #446
Great. So the vision is:

Give every donor in each GIVback round a POAP!

POAPs are like this: https://poap.delivery/hatch-tech-holder
and we can distribute them to everyone who donated.

First, we need designs. Maybe something with the GIVback hands... the one with the heart or the hands passing the token. Maybe we can pull elements from the swag (lots of nice GIVbacks stuff in there)

It would b

[2022-01-13 21:49] playingleela commented on #446
amazing lauren! gonna send you tomorrow the first ones, i think
 rodri is also preparing something (:

[2022-01-14 02:27] WhyldWanderer commented on #420
I think your plan sounds good...

I can take the best from both worlds as you say.
I will need for there to be a project verification section somewhere here:
![image](https://user-images.githubusercontent.com/74267818/149440706-bebf0bc1-f143-4305-995a-548e86ac947c.png)

I will take the parts from the current live GIVbacks doc that make sense... I think that the rounds should be included in both se

[2022-01-14 02:35] WhyldWanderer commented on #435
I like it! I think this setup is definitely better than how it was...
And yes we should let people know in the #governance channel as well as on the call in case some aren't present this week.

Lets see what Mitch thinks and move forward with this

[2022-01-14 13:26] markoprljic commented on #444
@laurenluz Should we change the network logo to be GNO instead of xDAI?

[2022-01-14 16:26] laurenluz opened #456 "Monthly email newsletters"

[2022-01-14 17:14] playingleela commented on #446
hey everyone! I did some options for poaps, let me hear what you think ((:
![poap_01](https://user-images.githubusercontent.com/94190369/149556858-cc02999e-3810-490e-8e28-edfe322d442d.png)
![poap-02](https://user-images.githubusercontent.com/94190369/149556875-3985f409-9e7c-4a1c-820f-833e762d5280.png)
![poap-03](https://user-images.githubusercontent.com/94190369/149556885-a19c0fea-552e-4ae4-b051-3

[2022-01-14 17:56] rodricastillo9013 commented on #424
Option 2! Wdyt? @laurenluz
![Gnosis Ads 2](https://user-images.githubusercontent.com/61791380/149562446-2438e1bf-e7c4-4bc3-98d6-a309588c2534.gif)

[2022-01-14 18:08] markoprljic commented on #444
![Image 2022-01-14 at 7 07 39 pm](https://user-images.githubusercontent.com/5704285/149564039-31a0d3da-afe5-42e1-8c92-59f68dce0554.jpg)

Updated here. The rest of the screens will be update soon as @mosaeedi makes the update in the design system figma file and publishes new library.

[2022-01-14 18:14] laurenluz commented on #446
Hey @playingleela - they looks super cool, but I think poaps should be round, I've never seen a square poap. Check with acidlazzer for the specs on the size - he has experience making them for the TEC. My picture has some examples.

Also, let's avoid using the bees & tractor in these... GIVbacks doesn't have much to do with 1hive or the GIVfarm. Flowers are ok, but I would make the focus on the ha

[2022-01-14 18:19] playingleela commented on #446
thank you so much @laurenluz for the feedback!! ah yes, I see.. Manuel told me the size should be 500x500 but I didnt know about the circle thing, I will check with him and I will work on the changes ((:

[2022-01-14 18:19] laurenluz opened #457 "GIVbacks article - medium article picture"
@playingleela - can you make me a banner image for this article? maybe something like the original designs your make for the POAPs? :)

https://docs.google.com/document/d/1D6-Sivr-L4Jn-tgWC6RHRNpxmhred0W_wqYarIXZZ9g/edit#heading=h.dy5g66uo0t83

@markoprljic FYI

[2022-01-14 18:20] playingleela commented on #457
sure @laurenluz same theme of givbacks, right?

[2022-01-14 18:48] laurenluz opened #458 "Add GIVstream history table to GIVstream docs"

[2022-01-14 18:54] laurenluz commented on #445
it's sooo pretttyyyy... @divine-comedian loooook: https://medium.com/giveth

![image](https://user-images.githubusercontent.com/75490971/149569610-11e95840-a356-4a1c-b6a0-6fdc942751b6.png)

[2022-01-14 19:09] laurenluz commented on #457
yep!! @playingleela

[2022-01-14 19:11] ForestSoleil commented on #142
Reviewed and made minor updates. This is really fantastic and easy to understand in my opinion.

[2022-01-14 19:12] laurenluz commented on #444
I think we should... but we need to update it everywhere. if we're updating the logo, we should update all the "please switch to xdai network" thing. There's an issue for this in the giveconomy repo https://github.com/Giveth/GIVeconomy/issues/402

[2022-01-14 19:13] ForestSoleil commented on #420
Yes no problem @WhyldWanderer thanks for checking in!

[2022-01-14 19:16] laurenluz commented on #420
@WhyldWanderer - sounds perfect!

Thanks to you both!! you're heroes!

[2022-01-14 20:47] laurenluz opened #459 "Regular tweets to announce new verified projects"
Would love if we could announce newly verified projects in tweet threads once per week. or once per round??

Would love it if perhaps @Brodyann7 could coordinate with @WhyldWanderer and @ForestSoleil... get a list of the newly verified projects and write short descriptive tweets about them

[2022-01-14 21:07] Brodyann7 commented on #459
@laurenluz sounds good, @WhyldWanderer gave me access to verification channel and we will synch next week and do a small onboarding session to see if I can also help out with project verification.

[2022-01-14 21:39] WhyldWanderer commented on #459
List of projects that were approved for verification in the last round:

https://giveth.io/project/catalandao
https://giveth.io/project/cahuita-roots-regenerative-development-project
https://giveth.io/project/osmotic-funding
https://giveth.io/project/Moloch-Cloudship-0
https://giveth.io/project/all-for-climate-dao
https://giveth.io/project/gitcoin-grants-matching-pool
https://giveth.io/project/sto

[2022-01-14 21:45] laurenluz commented on #452
soo pretty: https://www.youtube.com/channel/UClfutpRoY0WTVnq0oB0E0wQ

![image](https://user-images.githubusercontent.com/75490971/149589414-3936ed15-5a0c-472b-af5f-7190475eadf8.png)

[2022-01-14 22:05] laurenluz opened #460 "Make a system for tags on medium articles"

[2022-01-14 22:07] laurenluz commented on #459
Niiiiiice! man that's a lot. Would be great if we could include their handle on twitter for each tweet.

Do you think it's too many to share? should we highlight our favourite 5 in a thread and then tag the rest as a final shout of tweet? @Brodyann7 @WhyldWanderer

[2022-01-14 22:14] laurenluz commented on #228
No we didn't. I did have someone asking the other day how we decided on it. and I just explain the process. I don't think it's a bad idea to write about the process! Could be helpful for other DAOs.

 Are you feeling inspired to do this @ForestSoleil ?

[2022-01-14 22:17] Brodyann7 commented on #459
Maybe the ones that haven't been on the project spotlight should be more prioritized?

[2022-01-14 23:22] rodricastillo9013 commented on #446
![POAPS-24](https://user-images.githubusercontent.com/61791380/149597573-fd3c5aef-3962-4622-8c2c-1ac6d97d18c5.png)
![POAPS-25](https://user-images.githubusercontent.com/61791380/149597582-c265a7cd-826f-4ea2-b750-be1ee5183001.png)

Hi team! here attached some proposals based on feedback. Can we use gif?

[2022-01-14 23:25] rodricastillo9013 commented on #446
![POAP 3](https://user-images.githubusercontent.com/61791380/149597787-703083fd-3061-4f9a-8bbb-ce982857e8eb.gif)

[2022-01-15 09:56] paxthemax commented on #446
@laurenluz what are your thoughts on the actual NFTs we distribute? Do we just do POAPs or do we want something more wild? :star_struck:

[2022-01-17 11:53] rodricastillo9013 commented on #446
Hi team! :) have some feedback for this?

[2022-01-17 11:55] rodricastillo9013 commented on #424
@laurenluz hello! do you have any feedback on this?
![Gnosis Ads 2](https://user-images.githubusercontent.com/61791380/149765293-70525d3e-f68a-4f2c-bf68-cd59693c48b6.gif)

[2022-01-17 13:11] playingleela commented on #446
hey everyone, here are the changes based on the feedback, let me know if its good, so we can prepare the next rounds ((: thank you!
![POAPS_01](https://user-images.githubusercontent.com/94190369/149775061-5f2ba7b9-74b5-40b2-b47b-d48241f58b56.png)
![POAPS-02](https://user-images.githubusercontent.com/94190369/149775071-0c8e29d4-6b0b-4bb7-81ae-ee197d1c9412.png)
![POAPS-03](https://user-images.github

[2022-01-17 13:54] markoprljic commented on #444
@mosaeedi Can you please update the xDAI brand in GDS and push new library changes so all components are updated? When done please inform us here and close the issue.

[2022-01-17 13:58] mosaeedi commented on #444
GDS is updated. I was checking the files too, it's updated there too.

[2022-01-17 14:28] playingleela commented on #457
heyy @laurenluz wdyt of something like this??
I made two sizes, one is cover and the other one is post outset cause I wasn't sure of which one you will use but let me know if it works or if it needs any changes ((: thank you!
<img width="1500" alt="Medium Cover" src="https://user-images.githubusercontent.com/94190369/149787872-b7c52e09-1442-433c-8fc0-62e4acf937a4.png">
<img width="2040" alt="Mediu

[2022-01-17 14:32] #444 closed

[2022-01-17 17:04] laurenluz commented on #457
Looks great! Thank you @playingleela !!

[2022-01-17 17:48] laurenluz commented on #446
@markoprljic can you give your feedback on what we should move forward with? my favourite is the round 1 one from Rodri, and in general, I think they look nicer with a little less background detail - because they will be small.

Maybe we just go with a design like that one and make all the future rounds the same but in different colours?
Or do you think it's worthwhile to have new designs for ever

[2022-01-17 17:50] laurenluz commented on #446
@paxthemax we chatted about this with the comms team and though just to do POAPs to keep things simple. I really don't have any experience with NFTs though, but I think it would be awesome to do something a little extra!

What are your suggestions?

[2022-01-17 17:57] laurenluz commented on #451
@divine-comedian do you want to throw this in the torus documentation?

[2022-01-17 18:31] markoprljic commented on #446
@playingleela @rodricastillo9013 Do you have all these in Figma?

[2022-01-17 18:34] markoprljic commented on #446
I'd work a bit more on this just to make one solid version we can go with and change colors for next few rounds. However, we will soon run out of colors and will need to start creating designs such as Catarina provided.

[2022-01-17 18:35] rodricastillo9013 commented on #446
@markoprljic no, we have worked in illustrator, I will add them to figma without problem

[2022-01-17 18:44] rodricastillo9013 commented on #446
@markoprljic https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=396%3A416

[2022-01-17 18:47] markoprljic commented on #446
Great! Thanks @rodricastillo9013
@playingleela can you please do the same as Rodri?

[2022-01-17 19:15] playingleela commented on #446
sure, just imported there @markoprljic

[2022-01-17 19:16] playingleela commented on #446
https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=396%3A416

[2022-01-17 20:15] scottbenjd commented on #440
Here's the link to what we have so far. Any comments or suggestions are welcome! Please let me know what the next steps are.

https://docs.google.com/document/d/1aNaV4oOdGkYAX8jYw_hCmw6YA6CqP7vs1kk7U9vvRzI/edit?userstoinvite=csggene3@gmail.com&actionButton=1#heading=h.kbia2qduegm

[2022-01-17 22:12] divine-comedian commented on #435
sounds good!

[2022-01-17 22:44] Brodyann7 commented on #459
Why not make the world a better place starting today!? 🙌  🌏  💜

We've got a bunch of amazing new verified projects for the next round! When you become a Giver, you get rewarded with
givbacks! 💝
#Givethio #giveandyoushallreceive #givethforchange

🧵 A thread: 👇

Tweet 1:

🌐  CatalanDAO is a collaborative effort to launch the world’s first Digital Nation DAO, where anybody, Catalan or not, can join a

[2022-01-18 00:16] laurenluz commented on #459
I love it @Brodyann7! Thank you! I'll tweet it tomorrow if there's nothing pressing that comes up in between

[2022-01-18 15:26] laurenluz opened #461 "Consider using mirror.xyz"

[2022-01-18 16:45] ahmadabugosh opened #462 "Community Newsletter"
Create a draft for our community newsletter, to send out to our email database of donors and projects. This could potentially include:

- Community project spotlights: This could include a write up, graphic or video on the project we want to highlight

- Giveth community updates: Updates from Giveth and the Giveconomy. This could be updates on the project, features or initatives to get involved wi

[2022-01-18 17:27] playingleela commented on #446
hey everyone! hope you are doing good! wdyt of those versions? and should we keep this color scheme? or make each one a different color? thanks!
<img width="500" alt="POAP ROUND 8 (1)" src="https://user-images.githubusercontent.com/94190369/149987452-f039f610-cbae-4345-84f6-d00813932c8d.png">
<img width="500" alt="POAP ROUND 5 (1)" src="https://user-images.githubusercontent.com/94190369/149987465-

[2022-01-18 17:53] markoprljic commented on #446
I like these! @playingleela Some minor cleaning up to make pixels look nice but I'd go with these.
@laurenluz Please review.

[2022-01-18 18:00] laurenluz commented on #440
This is great @scottbenjd @csggene3!! Thank you so much. I fussed with the intro a little bit to give more context (since the purpose is to help newbies) and made a few small suggestions.

FYI - for our documentation, we use markdown formatting so that it's easy to upload to docs.giveth.io - that's why I made some suggestions on link formatting etc.

Next steps:
1. go through the suggestions and m

[2022-01-18 18:02] laurenluz commented on #451
I think we should add this information as a section to the existing Torus documentation: https://docs.giveth.io/dapps/torusUserGuide

@scottbenjd @csggene3 do one of you guys want to take this? Check out mine and Mateo's comments in [this issue](https://github.com/Giveth/giveth-io-typescript/issues/83) for more context.

[2022-01-18 18:52] laurenluz commented on #446
They are great! @paxthemax do you know how to actually make these POAPs and distribute them?

[2022-01-18 19:06] playingleela commented on #446
nice! (:

[2022-01-18 19:30] playingleela commented on #446
![Frame (2)](https://user-images.githubusercontent.com/94190369/150005524-e8aec913-271a-4247-9deb-3111d3fc4ae5.png)
![Frame (3)](https://user-images.githubusercontent.com/94190369/150005541-a2c244a3-b213-4040-b6ec-ac2b21ec6992.png)
![Frame (4)](https://user-images.githubusercontent.com/94190369/150005558-89aa7c2d-2716-4620-9d44-e08b12ad502e.png)
is it better now @markoprljic?

[2022-01-18 21:07] scottbenjd commented on #451
I'm thinking this could go in the "Using the Torus Wallet" article in a new "Interacting with dApps" section right before the "More Functions" section.  Does that work?

[2022-01-18 22:48] csggene3 commented on #451
I think that spot looks ideal @scottbenjd ; in this same doc there is a "(link doc internally)" message under More Functions that looks like it needs a link inserted, but I'm not sure whether the next doc in line titled Donating with Fiat via the Torus on-ramp is what was intended. Should we just draft another small section or a separate small doc?

[2022-01-19 01:09] laurenluz commented on #142
Edits have been resolved at this is up in Medium, submitted to publication. Debating when to blast it off... will discuss tomorrow

[2022-01-19 01:10] laurenluz commented on #400
Sent some more suggested edits to Steve today, waiting on updates.

[2022-01-19 01:11] laurenluz commented on #424
They're great @rodricastillo9013 !! Let me send it to my contact and see if the size and length is ok.

I'm going to go with option #2 :)

[2022-01-19 01:19] laurenluz commented on #455
Forum post is live: https://forum.giveth.io/t/giveth-trivia-game-w-1hive/331/3

We need to start generating questions now. T Wells sent me this link to the recording of the trivia with ELK finance: https://docs.google.com/presentation/d/e/2PACX-1vTNBDWmvH3hU-GxTYRyXyL7-ceTGKC8RJGbr0OD_9RjVmVFmULDnV9FptaK0Q7VMYkvUwRpJrhvviv0/pub?start=false&loop=false&delayms=60000&slide=id.g10c3b629895_0_0

I aske

[2022-01-19 01:38] laurenluz commented on #448
@alipostaci2001 added a disclaimed to the bottom of this article, I think it is ok as-is for now. moving to done.

In the future it would be great to have approved translations submitted to the Giveth publication so that our medium followers can see them all there!

Thanks for taking the initiative on this @alipostaci2001! I think in the future if you want to contribute with more translations it w

[2022-01-19 01:39] #456 closed

[2022-01-19 01:56] laurenluz commented on #455
shapeshift
https://create.kahoot.it/share/s1g3-shapeshift/13a149b2-e37c-44ad-964d-ea42e30433d8
gitcoin
https://create.kahoot.it/share/game-5-season-1-gitcoin-rr/d640d43b-a322-438b-aa38-45919abaaf88

[2022-01-19 02:30] WhyldWanderer commented on #420
Okay here we go!

GIVbacks - to go live at docs.giveth.io/giveconomy/GIVbacks - https://docs.google.com/document/d/1nNPQNGCgv9HH4F_zWTr2lskgZ1r0Xhq9qmEMzM0JD4w/edit?usp=sharing

Project Verification - to go live at docs.giveth.io/giveconomy/ProjectVerification  - https://docs.google.com/document/d/1o5_oM7uiPb3k97U6PFnJAewUDuNIshQPvVbesfdDXzg/edit?usp=sharing

I decided that if we are going to have

[2022-01-19 03:05] WhyldWanderer commented on #449
Success!!
https://my.metagame.wtf/guild/Giveth

[2022-01-19 04:12] laurenluz commented on #420
"GIV" it a review indeed.... I made a few small suggestions... and noticed the GIVbacks round infographic was omittied... I think it should be put back 🤔

Looks really good @WhyldWanderer !

[2022-01-19 04:17] scottbenjd commented on #451
https://docs.google.com/document/d/1FaonG_rT0Y-Rmaj9_3CBFWoOARz1fGcuzYcIHsk87ek/edit

[2022-01-19 08:29] playingleela commented on #446
good morning everyone!  round nr 3 was updated, so here it goes (: tks @markoprljic

![Frame (7)](https://user-images.githubusercontent.com/94190369/150092851-dfb4805d-177d-4ae6-97ec-13f79f0d644c.png)

[2022-01-19 09:12] playingleela commented on #447
hey everyone @WhyldWanderer @laurenluz (: @markoprljic mentioned about the NFTs and I just read the forum Ashley created, I really like the idea so I will start to sketch the levels and as soon as I have something I will send it over so we can discuss if its the right direction. so for the first level I will start with something more simple around the logo as its mentioned in the forum and the nex

[2022-01-19 13:07] divine-comedian commented on #420
just an FYI to everyone - images don't copy from google docs to markdown - make sure you have an original copy of your image so it can be imported into the giveth-docs repo

[2022-01-19 13:23] WhyldWanderer commented on #420
I think the infographic should be there also... I was thinking we can have one for project verification rounds and one for givbacks rounds for each document accordingly.

[2022-01-19 13:28] divine-comedian commented on #420
double review! left some comments

[2022-01-19 13:35] divine-comedian commented on #451
just an FYI to everyone - images don't copy from google docs to markdown - make sure you have an original copy of your image so it can be imported into the giveth-docs repo @scottbenjd  @csggene3

[2022-01-19 13:42] rodricastillo9013 commented on #424
ok perfect, let me know if it's ok, I have to create it in a smaller format.

[2022-01-19 16:06] laurenluz commented on #400
ok so it's done now!!

https://www.daoists.xyz/resources/orgs/details?recordId=recnk5UmtZvE6M3un

[2022-01-19 16:08] laurenluz commented on #449
you know, I don't really understand the full context of what it means to be a guild in metagame... 🤔

do you? @WhyldWanderer ? happy to tweet if we have something to say about it

[2022-01-19 16:08] laurenluz opened #463 "GIVbacks article tweet thread"
Want to make this article into a nice tweet thread:

https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

[2022-01-19 16:27] #435 closed

[2022-01-19 16:29] WhyldWanderer commented on #142
Live! https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

[2022-01-19 16:29] #142 closed

[2022-01-19 16:29] #438 closed

[2022-01-19 16:29] #431 closed

[2022-01-19 16:30] #445 closed

[2022-01-19 16:32] #413 closed

[2022-01-19 17:08] ForestSoleil commented on #420
Reviewed updates to the pv doc and made a few super minor edits. Looks great!

[2022-01-19 17:09] ForestSoleil commented on #459
I love this idea! Thank you for supporting, Ann!

[2022-01-19 17:10] ForestSoleil commented on #228
I can take this on, but probably wont have bandwidth to do it until February. I imagine since we haven't sent it out yet, its not urgent and that should be fine, yeah?

[2022-01-19 17:11] ForestSoleil commented on #430
This has been reviewed by Heather (Hanners). Anyone else want to take a look to qa? @Brodyann7

[2022-01-19 17:13] laurenluz opened #464 "Add detail to Torus User Guide"
Add detail about needing to use the same platform (i.e. facebook) to connect to a specific wallet to Torus user guide: https://docs.giveth.io/dapps/torusUserGuide/

[2022-01-19 17:13] ForestSoleil commented on #355
Ashley and I had a call about planning the airmeet event earlier this week.

I am reaching out to all the projects to coordinate a day of event time and a dress rehearsal for the projects physically located here.

I am managing the event itinerary and gathering the necessary info.

Ashley is handling sharing the details with Airmeet and hosting the dress rehearsal at the spaceship.

[2022-01-19 17:13] laurenluz commented on #440
@WhyldWanderer to do final review

[2022-01-19 17:16] laurenluz commented on #420
@WhyldWanderer let me know when this is live, I need to fix the links in the GIVbacks blog post

Ashley will add in graphics about dates to doc when ready from catarina

[2022-01-19 17:17] laurenluz opened #465 "New graphic for project verification rounds"
@WhyldWanderer to talk to @playingleela

[2022-01-19 17:19] laurenluz commented on #430
@Brodyann7 reviewed!

@ForestSoleil to put in markdown formatting... @divine-comedian will share the googles doc extension to do it automatically

[2022-01-19 17:20] laurenluz commented on #430
Can put this in the docs under "What is Giveth"

[2022-01-19 17:24] laurenluz commented on #446
@WhyldWanderer knows how to make these into POAPs
- you can say how many links you need (so it's a new link for each user)... can't send a unique link in each email
- how to distribute them?

@WhyldWanderer to ask @Vyvy-vi or Acidlazzer for tips

[2022-01-19 17:25] laurenluz commented on #442
Ekene offered many tips about how to maintain linkedin

[2022-01-19 17:28] laurenluz commented on #443
Would live feedback on how to use facebook to reach non-profits on facebook.

Speaking to an audience of donors if also very valuable.

On LinkedIn there are projects who could help expand our message - @csggene3 to send links!

[2022-01-19 17:28] laurenluz commented on #443
Might want to also look at facebook groups, there are a few hundred donation groups to join and post in

[2022-01-19 17:31] laurenluz commented on #417
seems very complicated - let's cut the shareable links from scope.

[2022-01-19 17:37] laurenluz commented on #462
What platform would we use for this?
Can use campaign feature on autopilot, or use mailchimp or something else.

Can have a central point of contact, where everyone else sends their "newsletter worthy" things to.

Do people have to subscribe to it? How do they unsubscribe?
Initially can have people on a list - include all donors and projects... can send first one as a welcome email.

@ahmadabugosh

[2022-01-19 17:38] laurenluz commented on #462
@laurenluz @GriffGreen @WhyldWanderer @divine-comedian to send content ideas (if any) to Ahmad!

[2022-01-19 17:38] laurenluz opened #466 "Use hubspot for email organization"

[2022-01-19 17:39] laurenluz commented on #451
@laurenluz to review

[2022-01-19 17:41] laurenluz commented on #355
Biggest thing we need is to share with audience on Twitter - @WhyldWanderer @ForestSoleil to let @laurenluz know

[2022-01-19 17:42] laurenluz commented on #437
We should go into the docs and update them so that the listed date is up-to-date!

[2022-01-19 17:44] laurenluz commented on #437
we have: https://giveth.recruitee.com/

when it is ready, we should shill this link!

change the docs jobs section to giveth recruitee when this is ready

@ahmadabugosh keep us posted when we should start to share this!

[2022-01-19 17:59] scottbenjd commented on #440
@divine-comedian was thinking this could go in the Wallets section as its own article between "Donating fiat via the Torus on-ramp"  and "Donating with MetaMask"

[2022-01-19 19:07] laurenluz opened #467 "Setup lastpass for password and access management"

[2022-01-19 19:26] #400 closed

[2022-01-19 19:27] laurenluz opened #468 "Tweet about Giveth being a guild on MetaGame"
@WhyldWanderer if you know what this means and have ideas for the tweet, post here :)

https://my.metagame.wtf/guild/Giveth

[2022-01-19 19:27] #449 closed

[2022-01-19 19:27] #448 closed

[2022-01-19 19:27] #457 closed

[2022-01-19 19:28] #450 closed

[2022-01-19 19:28] #433 closed

[2022-01-19 19:29] laurenluz commented on #441
Waiting on Marta to hear back... I ask her to share w me when it's life so I can tweet it

[2022-01-19 19:29] #427 closed

[2022-01-19 19:29] #421 closed

[2022-01-19 19:31] laurenluz commented on #442
Makeover is a WIP! https://www.linkedin.com/company/givethio

Ann is workin' on it :) will put future post drafts in github and tag the team for QA for the next months until mastering the Giveth voice

[2022-01-19 19:32] laurenluz commented on #424
@rodricastillo9013 he said that it was too big, but they are going to try to make it work.

I am waiting to hear back to see if we need to resize or not, will let you know.

FYI - he sent me this information regarding size
![image](https://user-images.githubusercontent.com/75490971/150201083-45fa0ba4-df85-4c95-b662-5db41ad81172.png)

[2022-01-19 19:41] laurenluz commented on #462
@ahmadabugosh For starters, some content we may want to include:

- [GIVeconomy Blog Post](https://medium.com/giveth/welcome-to-the-giveconomy-b3e372da63dd)
- [GIVbacks Blog Post](https://medium.com/giveth/welcome-to-the-giveconomy-b3e372da63dd
- [GIVeconomy Launch Video](https://www.youtube.com/watch?v=LEw8PaJylNA)
- [GIVeconomy Launch Tweet Thread](https://twitter.com/Givethio/status/14744254816

[2022-01-19 19:41] laurenluz commented on #462
Maybe we also want to include this awesome GIVeconomy dashboard https://dune.xyz/metacrypto/giveconomy

[2022-01-19 19:46] laurenluz commented on #154
I think we touch on a lot of these points in the GIVbacks blog post: https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

Closing

[2022-01-19 19:46] #154 closed

[2022-01-19 19:47] laurenluz commented on #163
Project verification is covered in our blog post: https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

[2022-01-19 19:48] #163 closed

[2022-01-19 20:02] WhyldWanderer commented on #440
I gave this a final review... its looks good!
@divine-comedian this one can go up!

[2022-01-19 20:47] rodricastillo9013 commented on #424
ok! @laurenluz otherwise I will try to reduce the time and make it lighter. Thanks :)

[2022-01-19 22:48] laurenluz commented on #228
Definitely - this is not urgent. More of a nice-to have

[2022-01-19 22:51] laurenluz opened #469 "Set up biweekly call for Community WG"
@WhyldWanderer will contact Freshelle for info and set up the call! Will start with biweekly meetings and adjust according to workload. Team will use giveth planning for issue management.

[2022-01-19 22:54] laurenluz opened #470 "Transform telegram group into a better version of itself"
- [x] make it "announcments only" so only admins can post. keep the bridge with the general channel in discord
- [x] add a pinned message with the mission statement, a link to the discord & explanation that this group is for announcements... @WhyldWanderer I wonder if we should consider changing the bridge from the general channel to the announcements channel in our discord. if you like that idea,

[2022-01-19 22:56] laurenluz opened #471 "Email to donors who's donations were flagged"
- [x] change this part in the graduated sanctions part of the GIVbacks docs to say something like “donors will recieve and email with link to forum post highlighting flagged donations”

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/fd87cc0e-30e0-4abc-a4c3-b0fd810245b3)

- [x] write email for these donors with a link to the round 1 forum post

- [ ] brainstorm ways we c

[2022-01-19 22:59] laurenluz commented on #466
From our comms call today:

- Hubspot is upper level content and customer relation management tool
- Can we connect it with segment to trigger emails? can we make journreys?
- Commons Stack & TEC are using it! Yinesy, Maria know how!
- Hubspot has something called a “workflow” (like a journey)
- Issue w multiple projects is... segment only inputs most recent project into the contact
- In hubspot c

[2022-01-19 23:07] WhyldWanderer opened #472 "Create a Community Building strategy"
Ezetec (@EventHunter), Griff and I had a sync about how we should move forward in building out the Community Circle and Community Support WG...
I see the main components of this issue as outlined below but we can augment/evolve as needed.

1. Define key community member groups
 - Project owners collecting funds
 - Donors
 - Contributors, builders, present and future unicorns
 - Speculators

2. Thi

[2022-01-19 23:49] WhyldWanderer commented on #420
GIVbacks doc is updated... just waiting on a place to put the project verification one.. @divine-comedian

[2022-01-20 00:29] WhyldWanderer opened #473 "Define activities of a Giveth Community Builder"
Ezetec (@EventHunter) gave me a great document to start with..

I have added the basics to a notion doc here:
https://www.notion.so/giveth/Giveth-Community-Building-e2481d6a477d49a4afa9e24694053ed3

And I will be augmenting this to fit the needs of the Giveth Community.

Once I have made basic changes I will tag people for review...
I think this will be an living document so this is just the start

[2022-01-20 01:25] WhyldWanderer commented on #465
Basically we want to separate this graphic into two.
One for verification.. and one for GIVbacks.

This is my paint version lol.. basically we need:

**Verification:**
 - to change the text on day 1 to say "Approved projects will receive emails and 'Verified' badges"
  - to change day 7 and day 14 to normal dark blue squares
![image](https://user-images.githubusercontent.com/74267818/150244528-1eb

[2022-01-20 09:11] playingleela commented on #465
hey girls, got it @WhyldWanderer everything is clear (:

[2022-01-20 12:35] playingleela commented on #465
@WhyldWanderer here it goes (: let me know if you need anything else and I will be glad help! thanks
<img width="1728" alt="Verification" src="https://user-images.githubusercontent.com/94190369/150339788-4651789e-0089-46b6-9939-886b79d1497c.png">
<img width="1728" alt="GIVBacks Rounds" src="https://user-images.githubusercontent.com/94190369/150339807-994a6439-b9cb-497b-b079-6f8e06f8e3d0.png">

[2022-01-20 13:36] WhyldWanderer commented on #465
Perfect!! Thanks so much Catarina!!

[2022-01-20 13:45] #465 closed

[2022-01-20 14:24] laurenluz commented on #355
What is that date for this?

[2022-01-20 14:30] WhyldWanderer commented on #355
We agreed on Feb 4th in the Comms call - @forest is talking with project owners to find out what time of day is best for them

[2022-01-20 14:31] laurenluz opened #474 "GIVstream blog post"

[2022-01-20 15:08] laurenluz commented on #459
It's LIVE! https://twitter.com/Givethio/status/1484178959797424130

[2022-01-20 15:09] laurenluz opened #475 "Verified Project Spotlight tweet thread for Round 3"
@Brodyann7 can you make a tweet thread with your favourite projects newly verified for round 3?

[2022-01-20 18:48] playingleela commented on #446
hey everyone! there were some little changes on the poaps, here it is the final versions
![Frame 2 (2)](https://user-images.githubusercontent.com/94190369/150402607-a88c51aa-4fc6-4c09-87d1-01a4132c2b30.png)
![Frame (8)](https://user-images.githubusercontent.com/94190369/150402617-094a66db-5fd2-43c8-b4c4-dcd3af58e6a7.png)
![Frame (9)](https://user-images.githubusercontent.com/94190369/150402630-c72

[2022-01-20 19:01] laurenluz commented on #355
Feb 4 is the same day as the 1hive Trivia

[2022-01-20 19:40] laurenluz commented on #451
Hey @scottbenjd can you make it "anyone can comment" - I can't suggest edits.

At a glance:
- We *just* updated the wallet connect thing using web3 authentic, so you need another screetshot 😉 - it looks different now
- Please stress the importance that user connects with the email/facebook/twitter... the specific account they used to create the wallet. If they set it up with facebook and they sign

[2022-01-20 20:25] scottbenjd commented on #451
@laurenluz
Yup. I just updated the sharing setting so you should be able to comment but that's probably not necessary with your comments here. I'll pull another screenshot for the web3 authentic.

Since the pictures need to be added to the repo anyway, does the location and md formatting in the google doc matter?

@divine-comedian
Does it work better for you if we use the actual path used for the

[2022-01-20 21:54] divine-comedian commented on #451
I got it figured out - almost ready for upload

[2022-01-20 23:11] scottbenjd commented on #451
@divine-comedian This issue or the other Torus one (#440)? I didn't swap out the screenshot yet. Wanted to follow up with Lauren.

@laurenluz the GIVeconomy page is the only one that doesn't have the "sign in with ETH". Is that the web3 auth?

I don't think the settings mateo included are enough to let Torus connect. I haven't been able to connect unless I completely turn off shields but may be mi

[2022-01-21 02:26] WhyldWanderer commented on #355
Oh sorry.. I got confused..
Meet the Makers is Feb 1st
Trivia is Feb 4th

[2022-01-21 04:14] WhyldWanderer commented on #468
Here is the landing page: https://test.metagame.wtf/join/guild

Can probably pull something from there..
maybe meme off of the web3, pieces of "new world" puzzle, what the bigger picture looks like when all the pieces are together, collaboration in web3 space, etc?

[2022-01-21 13:50] divine-comedian commented on #440
https://docs.giveth.io/dapps/importTorusMM LIVE

[2022-01-21 13:52] divine-comedian commented on #451
https://docs.giveth.io/dapps/torusUserGuide#interacting-with-the-giveconomy LIVE

I also added a sneaky section to the GIVeconomy

![image](https://user-images.githubusercontent.com/67759413/150538441-f43d1837-66a7-4595-8f5d-f2eea4a0c288.png)

[2022-01-21 13:52] divine-comedian commented on #420
https://docs.giveth.io/dapps/projectVerification LIVE

[2022-01-21 21:05] laurenluz commented on #451
Nice, I just pushed some edits... the version you uploaded was missing the recent changes from Ben.

Seems good now! Moving to done.

[2022-01-22 21:28] ahmadabugosh opened #476 "Donor/Project Onboarding Course"

[2022-01-22 21:40] ahmadabugosh opened #477 "Video Minicourse - The different types of networks"

[2022-01-22 21:53] ahmadabugosh opened #478 "First Draft Agenda"

[2022-01-22 21:54] ahmadabugosh commented on #478
Created first draft agenda to collaborate on https://docs.google.com/spreadsheets/d/11dtAphLdvv56b4Ko-_PdfcPa9_HGtC8fblJov3Bx1qM/edit#gid=0

[2022-01-22 21:54] #478 closed

[2022-01-22 21:55] ahmadabugosh opened #479 "Assign Videos to Record"

[2022-01-22 21:55] ahmadabugosh opened #480 "Video Minicourse - Why Giveth is the future of giving"

[2022-01-22 21:55] ahmadabugosh opened #481 "Video Minicourse - Why you should consider donating money in crypto on Giveth"
We'd like to record a short video that gets people excited about the opportunity to donate money with crypto. Some talking points would be: 1) How it's transparent 2) How it has zero fees 3) How it has network effects etc.

[2022-01-22 21:56] ahmadabugosh opened #482 "Upload onto Video Hosting Platform and Website"

[2022-01-22 21:56] ahmadabugosh opened #483 "Add closed captions in English"

[2022-01-22 21:57] ahmadabugosh opened #484 "Video Minicourse - Success stories"

[2022-01-22 21:57] ahmadabugosh opened #485 "Promote Course to Community"

[2022-01-23 23:24] divine-comedian opened #486 "update Governance process docs with cut off times to request nrGIV from quarterly distros"
decided in GOV call jan 17 to allow for 1 month from first quartlerly nrGIV token request for others to submit proposals - after 1 month no more token requests will be accepted for that distro.

update governance process doc with this info.

[2022-01-24 18:07] Brodyann7 opened #487 "Evergreen content for Giveth"
Lauren and I discussed creating a repository for evergreen content for Giveth that can be reposted on multiple social media platforms, like facebook etc.

Would love if people could suggest/add what some this content might be, blogs, video etc. Thank you!
@laurenluz @WhyldWanderer @divine-comedian @GriffGreen @Danibelle @ForestSoleil

You can add it to this google doc: https://docs.google.com/docu

[2022-01-24 19:16] WhyldWanderer opened #488 "Video Minicourse - Walkthrough of the GIVeconomy"
10 Minute Video
Lauren

Explain how the ecosystem works together between donors, GIVfarm, GIVbacks, GIVstream and GIVgarden

 To Do
- [ ] Create Script
- [ ] QA/ Review Script
- [ ] Record Video - Lauren
- [ ] Edit Video / add closed captions in English
- [ ] Upload to video hosting platform
- [ ] Promote video

[2022-01-24 20:01] Brodyann7 commented on #475
🌏  We have another roster of newly verified projects! 🤩

Remember, when you give to verified projects, you get GIV. It's a win-win! 🏆

🌟 Check out some of our newest shinning stars👇:

🌿  PositivBlockchain curates an open database, a knowledge platform and actively growing a community exploring the potential of blockchain technologies for social and environmental impact.
 
https://giveth.io/project

[2022-01-24 20:50] laurenluz commented on #487
https://medium.com/giveth/the-future-of-giving-is-here-d480388a3338
https://medium.com/giveth/two-flavours-of-giveth-which-one-to-choose-a3c31207a205
https://medium.com/giveth/the-giveth-dao-community-givernance-84f55fa1ce36
https://medium.com/giveth/welcome-to-the-giveconomy-b3e372da63dd
https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce
https://medi

[2022-01-24 21:02] ahmadabugosh opened #489 "Video Minicourse - How to fund your wallet"

[2022-01-24 21:02] ahmadabugosh opened #490 "Video Minicourse - Using Giveth to donate"

[2022-01-24 21:02] ahmadabugosh opened #491 "Video Minicourse - How to bridge funds to Gnosis"

[2022-01-24 21:03] ahmadabugosh opened #492 "Video Minicourse - How to donate on Giveth"

[2022-01-24 21:03] ahmadabugosh opened #493 "Video Minicourse - Donating to projects"

[2022-01-24 21:03] ahmadabugosh opened #494 "Video Minicourse - Givbacks"

[2022-01-24 21:03] ahmadabugosh opened #495 "Video Minicourse - Givfarm"

[2022-01-24 21:03] ahmadabugosh opened #496 "Video Minicourse - Givstream"

[2022-01-24 21:03] ahmadabugosh opened #497 "Video Minicourse - Givgarden"

[2022-01-24 21:04] ahmadabugosh opened #498 "Video Minicourse - Ways to follow and help Giveth's mission"

[2022-01-24 21:06] ahmadabugosh commented on #477
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:07] ahmadabugosh commented on #479
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:07] ahmadabugosh commented on #480
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:07] ahmadabugosh commented on #481
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:07] ahmadabugosh commented on #482
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:07] ahmadabugosh commented on #483
To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:09] ahmadabugosh commented on #484
This video in the series will show people examples of some successful projects that raised through Giveth, such as: Feed the Hungry in Chilliwack BC, BrightID, DAppNode, template like a project spotlight - highlight different flavours, open to anyone/different types of projects - would be awesome to get people from the projects in it

To Do

- [ ] Create Script

 - [ ] QA/ Review Script
 - [ ] Rec

[2022-01-24 21:11] ahmadabugosh commented on #485
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:11] ahmadabugosh commented on #489
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:11] ahmadabugosh commented on #490
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:11] ahmadabugosh commented on #491
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:11] ahmadabugosh commented on #492
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:11] ahmadabugosh commented on #492
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #493
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #494
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #495
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #496
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #497
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 21:12] ahmadabugosh commented on #498
To Do

- [ ] Create Script
 - [ ] QA/ Review Script
 - [ ] Record Video
 - [ ]  Edit Video / add closed captions in English
 - [ ]  Upload to video hosting platform
 - [ ]  Promote video

[2022-01-24 22:18] Brodyann7 commented on #484
potential projects:

Feed the Hungry in Chilliwack BC - https://giveth.io/project/Feed-the-Hungry-in-Chilliwack-BC-Canada
Free Solidity Development Course in Farsi - https://giveth.io/project/free-solidity-development-course-in-farsi

[2022-01-25 11:16] playingleela commented on #447
hey @WhyldWanderer @laurenluz @markoprljic I hope you are doing good!
I started a first round of the levels, let me hear your feedbacks (:
<img width="3000" alt="NFT  1 1 (1)" src="https://user-images.githubusercontent.com/94190369/150967068-2da804dc-82ed-4e5c-a9db-a36f84a80216.png">
![NFT  2 1](https://user-images.githubusercontent.com/94190369/150967082-2d0de516-047b-4707-9185-cef5983c0a81.jpg)

[2022-01-25 11:44] markoprljic commented on #447
Those should look like accomplishment badges that I'd be proud to own in my collection. Similar to what Gowalla app did many years ago, and a lot of games are doing these days. The mockups above don't really convey that :/
I suggest we do a pinterest collection for inspiration and go from there?

[2022-01-25 11:52] playingleela commented on #447
sure, let's do it @markoprljic

[2022-01-25 20:33] divine-comedian commented on #486
LIVE - https://github.com/Giveth/giveth-docs/commit/cdf4998033ce377bc2789c3e6d0ec70fd6f8ea35

[2022-01-25 23:52] laurenluz commented on #486
Do we need to add it also to: https://forum.giveth.io/t/governance-process/209 ?

@divine-comedian

[2022-01-26 02:58] ForestSoleil commented on #355
9 projects confirmed for feb 1st meet the makers airmeet 10-1130 am

Created a schedule on the 1st tab here https://docs.google.com/spreadsheets/d/1Fqb0l0g-VMcYCyNYGPb4OsgjTS8teah7Vnf1rBPs6WA/edit#gid=280826157

Asked ann to help with creating promotional tweets to shill this event and hype the projects

I am working on a write up for medium unless we think its best to just shill on twitter and di

[2022-01-26 03:02] ForestSoleil commented on #430
Downloaded the markdown add on extension for google docs so that output is featured on the right hand side now. Is this how i was meant to do it @divine-comedian ?

https://docs.google.com/document/d/1Kcx13dUMoH2HZRj9ha9VDnQLrvYAu9lTinhT3fs4ANY/edit

[2022-01-26 12:23] divine-comedian commented on #486
DONE!
https://forum.giveth.io/t/governance-process/209

[2022-01-26 12:24] divine-comedian commented on #430
the output will only show on your computer - you can copy paste it or I can just copy your doc and run the extension on my comp when this document is ready to be uploaded

[2022-01-26 13:22] ahmadabugosh commented on #462
Hey @Brodyann7, do you have a good project or case study you would recommend to highlight for our first newsletter?

[2022-01-26 14:42] laurenluz opened #500 "Change xdai to gnosis chain in documentation"

[2022-01-26 14:51] laurenluz opened #501 "Naming Giveth Multiverse"
https://www.notion.so/giveth/Giveth-Multiverse-119dee420bc145edb82d413fe6c850c9

[2022-01-26 15:15] WhyldWanderer commented on #446
Round 1 POAP is claimable here: https://poap.delivery/givbacksround1

[2022-01-26 15:29] markoprljic commented on #446
Should we be sending out an email blast to all projects inviting them to claim it?

[2022-01-26 15:50] laurenluz commented on #475
Hey @Brodyann7 - this is GREAT! I love these tweet threads, for real!! Even if you're working more on the case studies, I would love if you could make one every 2 weeks. Only if it works with your bandwidth, but I think they add a lot of value.

I only changed the first tweet and made some minor tweaks in the others. I wanted to more explicitly mention GIVbacks and provide info about the round.

I

[2022-01-26 15:52] laurenluz opened #502 "Verified project tweet thread for Round 4"
Round 4 starts Feb 4, so it would be great to share this during the week of Feb 7-11

[2022-01-26 16:25] Brodyann7 commented on #502
ok cool, will do!

[2022-01-26 16:34] laurenluz opened #503 "GIVfarm Medium post"
Medium blog post explaining the GIVfarm & why it's beneficial for GIV and the Giveth ecosystem

- the purpose is to show that GIV has liquidity in 4 places: balancer, univ3, sushi & honeyswap and on 2 chains: mainnet and xdai (so liquidity runs deep because we created rewards programs)
- we are offering the same rewards to stakers on xDai as voters... therefore rewarding both voters & hodlers (exp

[2022-01-26 16:51] Brodyann7 commented on #462
@ahmadabugosh For which round? Newest projects?

[2022-01-26 17:12] Brodyann7 opened #504 "Meet the Makers Tweet"
promoting the upcoming Meet the Makers on Tuesday, February 1st from 10:00 - 11:30 am Central Standard Time / Costa Rica time. We'll be meeting in Airmeet

@Brodyann7 @laurenluz @ForestSoleil @WhyldWanderer

[2022-01-26 17:16] laurenluz commented on #466
CS runs into the same issue in hubspot of same people with multiple projects...
It might be still possible to use autopilot instead of moving things over

[2022-01-26 17:30] #417 closed

[2022-01-26 17:31] laurenluz commented on #453
done!

[2022-01-26 17:31] laurenluz commented on #408
They don't want to add the checkbox! Will have to add this to our covenant

[2022-01-26 17:31] #408 closed

[2022-01-26 17:32] laurenluz opened #505 "Add to covenant - Terms for proposal and challenge deposits"

[2022-01-26 17:34] laurenluz commented on #471
@laurenluz to write something!

[2022-01-26 17:39] laurenluz commented on #501
GIVfrens is too exclusive!
Giveth Multiverse - cute because it plays off the GIViverse!!

[2022-01-26 17:41] laurenluz commented on #500
let's call it "Gnosis Chain (formerly xDai Network)"

[2022-01-26 17:42] laurenluz commented on #500
@danelsuga to take it!

[2022-01-26 17:49] laurenluz commented on #432
@Brodyann7 @danelsuga you might want to check this out too for reference! https://docs.giveth.io/dapps/contributors

[2022-01-26 17:51] laurenluz commented on #443
Can add evergreen content to the facebook!
Get photos from ETH denver!
Can create a schedule of posts... copying posts from twitter to linkedin/facebook.

[2022-01-26 17:52] laurenluz opened #506 "Connect Social Media Platforms Together"
Buffer
Zapier

can publish tweets onto other platforms

[2022-01-26 17:54] laurenluz commented on #501
@danelsuga can  help brainstorm more ideas!

[2022-01-26 17:56] GriffGreen commented on #501
RegenFarms
Regeniverse
MultiStream

[2022-01-26 18:15] #420 closed

[2022-01-26 18:16] #459 closed

[2022-01-26 18:16] #475 closed

[2022-01-26 18:16] #486 closed

[2022-01-26 18:16] #451 closed

[2022-01-26 18:16] #452 closed

[2022-01-26 18:17] #440 closed

[2022-01-26 18:41] laurenluz commented on #446
We are! @WhyldWanderer put it in the email telling projects their GIVbacks are ready to claim

[2022-01-26 18:43] laurenluz commented on #446
oh wait! I just checked and it's not in the email. @WhyldWanderer can you add the new one for the email for round 2?

[2022-01-26 21:21] WhyldWanderer commented on #446
My bad! I realized about 1/3 of the way through the list that it wasnt in there... so I think only like 20 emails went out without the link for round 1... I will definitely be sure to add it in round 2 for all emails.

[2022-01-26 22:17] laurenluz commented on #503
For more context from Griff:

the purpose is to turn degens into regens
the audience is the degens
who are more likely to ape in, buy GIV etc if they have something entertaining to read that explains how the farms work
so you want to explain how the farms work as well, since it's kind of unique
b/c of the stream
b/c of the univ3
b/c 2 networks
b/c insane APYs
b/c gnosis chain which isn't used by m

[2022-01-26 22:18] laurenluz commented on #446
you da best @WhyldWanderer <3

[2022-01-26 23:13] laurenluz commented on #355
@WhyldWanderer @ForestSoleil

I'm not seeing enough clear organization around this in order for it to be a successful event on Tuesday. I think we should make Tuesday's event a "dress rehearsal" before invite any donors, and depending on how that goes, schedule the real event the following week.

This is what I think we need to have in order before anything can happen for real:

- [ ] - The Blog p

[2022-01-27 00:22] laurenluz commented on #462
@ahmadabugosh form our meeting today:

- Want to share on Monday Jan 31st!
- Name? GIVnews
- Blast out to newsletter subscripion people & send a separate email to everyone else that says: “We’re starting a newsletter - Want in?"
- Investigate adding newsletters to docs.giveth.io so they can live in one place forever @divine-comedian maybe can help w this

[2022-01-27 03:42] WhyldWanderer commented on #355
I understand what you mean...
jfyi.. If we do not do it on the 1st, I wont be available to help facilitate this event until Feb 22nd.

[2022-01-27 10:49] ahmadabugosh opened #507 ""GIVnews" Newsletter header image"
Hey team, we're sending out our first community newsletter in a few days and decided to call it "Give News". Can you please create a header image graphic for it (having a width of roughly 700px), that just says "Give News" and maybe some icons in the background or whatever you think would make people understand it's a community newsletter. Thanks!

[2022-01-27 11:19] markoprljic commented on #507
@playingleela can you take this on? We have a Figma with all newsletter desisgn already.

[2022-01-27 11:51] divine-comedian commented on #501
GIVstellations
GIVivero...
GIVeroids (hehe)

[2022-01-27 12:10] divine-comedian commented on #501
from TheJeweler:

[2022-01-27 12:44] ahmadabugosh commented on #462
@WhyldWanderer I think this would be how we can add people to multiple lists (and let them unsubscribe from just the newsletter): https://support.autopilothq.com/hc/en-us/articles/204972905-Add-list-specific-subscribe-or-unsubscribe-links-to-your-emails

[2022-01-27 13:40] playingleela commented on #507
hey @markoprljic for sure! Ok, thanks!

[2022-01-27 16:49] laurenluz opened #508 "Get Giveth on Forbes"
There are people reaching out about this! Let's collect 2-3 and then contact them all at one so we're not taken for a ride... but we get published in Forbes.

<luke@mlm-branding.com>
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ff93c7ad-cf08-4020-a6fb-2de6a9ade8d0)

@GriffGreen FYI

[2022-01-27 16:50] laurenluz commented on #462
@ahmadabugosh if we want this to go out by the 31st, we'd need the draft ready for QA by the end of the day today. If you prepare it, please share the google doc link here and tag me :)

[2022-01-27 16:50] laurenluz commented on #462
if not, I don't think it's criticial that we send it on Jan 31

[2022-01-27 17:31] Brodyann7 opened #509 "Comms Onboarding Guide"
These are the onboarding notes I have so far! Feel free to add things I've missed.

@laurenluz @WhyldWanderer @ForestSoleil @danelsuga

https://docs.google.com/document/d/11sU6ltK24JDIXd-MDTRx5MekupctZJo-wHJiLC__hr4/edit?usp=sharing

[2022-01-27 17:54] playingleela commented on #507
hey @ahmadabugosh here it goes
<img width="600" alt="Header_ newsletter" src="https://user-images.githubusercontent.com/94190369/151415994-4100d23c-9dff-439f-8f50-dd510bc1aba9.png">

[2022-01-27 17:59] playingleela commented on #507
let me know if you need anything else and I will be glad to help! thanks (:

[2022-01-27 19:34] ahmadabugosh commented on #507
Thanks @playingleela, looks good ! Can I have a variation please where it is one word, spelled like "GIVnews", so that it matches our other branding?

[2022-01-27 21:05] ahmadabugosh commented on #462
Hey @laurenluz I sent you @WhyldWanderer  and @ForestSoleil a first draft. Let me know what you think! :)

[2022-01-27 21:08] Brodyann7 commented on #504
Hey Fam! 💝
 
✏️  Mark your calendars! 🗓️. 👇
 
“Meet the Makers” is happening Tues Feb 1st from 10:00-11:30 am central time.
 
🌏  You will get a chance to connect with and learn more about some of the incredible work our change makers are doing in the Giveth community!  🙌
 
🤩 Check out our amazing roster of participants 👇
 
🔨 Njombe Innovation Academy

Njombe Innovation Academy is committed to crea

[2022-01-27 21:11] Brodyann7 commented on #504
Let me know if anything here needs to be tweaked, or feel free to adjust it yourselves. Wanted to get this out sooner rather than later to you since this is happening next week!

[2022-01-28 13:16] playingleela commented on #447
hey everyone, I did a new round. here it goes (:
![NFT  2 1 (1)](https://user-images.githubusercontent.com/94190369/151553167-4dc3fe0f-45c1-446e-b416-9e7c24d1107b.jpg)
<img width="3000" alt="NFT  3 1 (2)" src="https://user-images.githubusercontent.com/94190369/151553203-1d5d66a2-8774-4dad-bcd3-eef2c2b8c9f2.png">
![NFT  3](https://user-images.githubusercontent.com/94190369/151553237-a974a98c-6f6b-4

[2022-01-28 14:03] markoprljic commented on #447
These illustrations look nice! :)
Not sure we need the numbers though since those were for the GIVbacks rounds. For the NFT's we don't need that.

Overall, this is a nice direction. Well done @playingleela
What we need to do before moving forward is to define all kind of NFT's we want to mint / reward people. Once we have a list of NFT's based on a purpose then we'll be able to customise and creat

[2022-01-28 14:30] #482 closed

[2022-01-28 14:34] ahmadabugosh commented on #483
**Script Talking Points**

1. What a browser wallet is (how it gives you access to your private keys unlike an exchange)
2. How to install a browser wallet on your browser
3. Understanding what a seed phrase and private keys are (how a seed phrase can recover your wallet and private keys give people access to your account)
4. Understanding what public keys are
5. How to create different accounts i

[2022-01-28 14:41] ahmadabugosh commented on #489
To assign to Ben (need to add him on GitHub)

[2022-01-28 14:43] WhyldWanderer commented on #447
Heres a few:
If I think of more, I will add them here...
- The project gets an NFT upon their first donation
- The project could receive a badass NFT once they reach a certain funding goal
- Category based NFT’s - once you donate to 3 different projects that are in the ‘animals’ category, you would receive an ‘animal advocate’ NFT or something
- First donor to a project receives an NFT
- Donors of

[2022-01-28 14:44] WhyldWanderer commented on #447
I think we can also ask the project to send in art for some of these that are specific/unique to their project...

[2022-01-28 14:46] ahmadabugosh commented on #490
To assign to Ben (need to add him on GitHub)

[2022-01-28 15:30] laurenluz commented on #490
@scottbenjd

[2022-01-28 15:51] laurenluz commented on #490
@scottbenjd I made this google doc as a jumping off point for things you might want to include in the video! https://docs.google.com/document/d/196LymlIK-jtObRRTgJ-4Jr_G-oIIy5ghtA4HEozmGyE/edit

[2022-01-28 15:52] laurenluz commented on #489
Part of #490

[2022-01-28 15:52] #489 closed

[2022-01-28 15:53] laurenluz commented on #493
part of #490

[2022-01-28 15:53] laurenluz commented on #492
part of #490

[2022-01-28 15:53] laurenluz commented on #491
part of #490

[2022-01-28 15:53] #491 closed

[2022-01-28 15:54] #493 closed

[2022-01-28 16:37] laurenluz commented on #447
I think we should focus on NFTs for donors instead of for projects to encourage more donors to give, and I think we should make it competitive... Definitely for starters:
- Top donors in each GIVback round gets an NFT
- Maybe we give NFTs to top 5 donors? Make the top top especially cool and rare?

If we want to make one that can be minted many times...
- NFT to donors who donate over $5000, over

[2022-01-28 16:57] markoprljic commented on #447
Might be good to explore generative art @playingleela

[2022-01-28 17:52] laurenluz commented on #471
How about this?

[2022-01-28 17:53] laurenluz commented on #471
https://docs.google.com/document/d/1Fldy0xUR5zmOR9dY3aOWy4JfL3E-qR8pXlIyjY74TEI/edit

[2022-01-29 00:57] Elizardwizzard commented on #507
Hey! I am Elizabeth, if you need any extra help I am more than glad to participate :)

[2022-01-29 06:52] markoprljic commented on #507
Hi Elizabeth, thanks for the offer :) What would you specifically want to help with? What are you skills?
Maybe you want to join our Discord if not already and we can chat there.

Thanks.

[2022-01-29 10:32] playingleela commented on #507
hey @ahmadabugosh Im sorry that I missed this message, here it goes
<img width="600" alt="Header_ newsletter (1)" src="https://user-images.githubusercontent.com/94190369/151657615-464f1a68-e962-4ff0-b683-bb1e9b631ada.png">

[2022-01-29 15:28] divine-comedian commented on #503
1st draft ready for review!

https://docs.google.com/document/d/17oE49hDN7TOqzAzzXWHS-wrvlYyHRD5Y0SmoMKZXgao/edit?usp=sharing

@WhyldWanderer @ahmadabugosh @laurenluz @ForestSoleil @Brodyann7

[2022-01-29 17:01] alipostaci2001 commented on #448
original link:
 https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

 turkish version:
 https://medium.com/@mcb2001/ya-bağışlar-geri-gelirse-hayırseverliği-geliştirmekte-web3ü-kullanmak-5cdd3088cb97

https://docs.google.com/document/d/1CCftL1HmZeXXMJCPZw9k8A4-47IC6aUKSplWmyplp6c/edit

[2022-01-29 18:34] ahmadabugosh commented on #507
Thanks so much @playingleela, looks great!

[2022-01-29 18:34] #507 closed

[2022-01-30 17:35] laurenluz commented on #462
@ahmadabugosh I made edits in the doc - it's looking good! Thanks so much.

Please go through and make sure that none of the formatting gets weird w/ my suggestions... and then once you finish the edits, I think it's safe to blast off tomorrow to our newsletter subscribers.

[2022-01-30 19:57] laurenluz commented on #446
Hey @rodricastillo9013 or @playingleela - can one of you help to set up the next 3 rounds of poaps?

[2022-01-30 20:27] ForestSoleil commented on #503
Reviewed - left comments & edited with suggestions in the google doc.

[2022-01-30 20:28] ForestSoleil commented on #430
Yes it is! Thanks Mitch

[2022-01-30 20:42] ForestSoleil commented on #355
Continuing our convo back here from Discord & private pms/calls for transparency...

Hey @laurenluz
For Medium, here's my account:
@heyforestsoleil
Https://medium.com/@heyforestsoleil

[2022-01-30 20:45] ForestSoleil commented on #355
@WhyldWanderer
Hey love, checking in to see if you ever got access to the airmeet account to test the features?

I'm in the process of rescheduling. Sounds like you will be back for Tues Feb 22nd. I'll make that the first one and we can schedule the next one for Tues March 22nd. Meaning it would be 4th Tuesdays... I wont announce a specific cadence to it but its nice that they are on Month 22nd da

[2022-01-31 07:46] danelsuga commented on #501
Haha. Ok, so I come from a different universe but relevant all the same I think: when I read these ideas of @GriffGreen I wondered why he was using “Regen”, which means “rain” in German. 😂 Let’s keep brainstorming! 😁

[2022-01-31 09:09] playingleela commented on #446
hey @laurenluz of course, I will start it rn

[2022-01-31 09:22] danelsuga commented on #500
It appears I can only propose changes, as I am not authorized to make direct changes. Before doing that and creating loads of forms, @laurenluz laurenluz could I instead get direct access to edit please? Thanks!

[2022-01-31 09:22] danelsuga commented on #500
It appears I can only propose changes, as I am not authorized to make direct changes. Before doing that and creating loads of forks, @laurenluz laurenluz could I instead get direct access to edit please? Thanks!

[2022-01-31 09:23] danelsuga commented on #500
It appears I can only propose changes, as I am not authorized to make direct changes. Before doing that and creating loads of forks, @laurenluz could I instead get direct access to edit please? Thanks!

[2022-01-31 10:02] playingleela commented on #446
here it goes:
<img width="500" alt="Frame (10)" src="https://user-images.githubusercontent.com/94190369/151773851-73ac1d41-d2c1-4a5a-a89e-32cfdcf7ff13.png">
<img width="500" alt="Frame (11)" src="https://user-images.githubusercontent.com/94190369/151773863-46c094ed-32b4-4252-bdbc-344a9e863916.png">
<img width="500" alt="Frame (12)" src="https://user-images.githubusercontent.com/94190369/151773876-

[2022-01-31 12:32] paxthemax commented on #447
I'm exploring a general purpose contract we can deploy on Gnosis chain (still getting used to that name) that should be flexible enough to serve almost any purpose we can come up with:

https://github.com/thesandboxgame/thesandbox-contracts/tree/master/src/Asset

[2022-01-31 13:11] laurenluz commented on #446
They're awesome!! Thanks @playingleela

If they're good w you @markoprljic we can just use these.

[2022-01-31 13:49] playingleela commented on #446
@markoprljic let us know if these POAPs needs any changes, thanks!

[2022-01-31 14:27] divine-comedian commented on #500
@danelsuga  you should have access now

[2022-01-31 15:42] markoprljic commented on #446
All good on my end.

[2022-01-31 15:56] danelsuga commented on #500
Advice process please! And some guidance.

I have read all the documents at https://docs.giveth.io/ and have only found two references to xDai network. Can that be right?

I’d also like to know if I should commit the changes directly to the master branch or create a new branch and start a pull request? Somehow the former makes more sense for this particular change since it’s something small and ob

[2022-01-31 16:11] laurenluz commented on #500
Hey @danelsuga please make PRs so someone can review them. For new contributors I think it's important to do a little QA/double checking, although their small changes, mistakes can happen.

Thanks!

[2022-01-31 17:27] WhyldWanderer commented on #355
I do have access now @ForestSoleil

[2022-01-31 18:35] ahmadabugosh commented on #462
First edition sent!

[2022-01-31 18:35] #462 closed

[2022-01-31 18:42] danelsuga commented on #500
👍🏽

[2022-01-31 19:24] divine-comedian commented on #430
live! - https://docs.giveth.io/whatisgiveth/communityCommsGuide

[2022-01-31 22:34] laurenluz commented on #501
Regen as opposed to Degen @danelsuga  :) and regen... like regenerative.

[2022-01-31 23:04] danelsuga commented on #501
Yes! I know! Hee hee. 😁

[2022-01-31 23:19] laurenluz commented on #503
This is great @divine-comedian, love the style of it. Left a bunch of suggestions and a few comments. lmk if anything is weird or doesn't make sense.

I'll push on this naming the giveth multiverse thing in the next days and we can blast this out mid-week

[2022-02-01 01:28] laurenluz commented on #355
cool @ForestSoleil if you ever have that blog post QA'd and ready to post ready to publish, I'll add you as a writer.

[2022-02-01 11:18] danelsuga commented on #432
Thank you!

[2022-02-01 11:22] danelsuga opened #510 "Copy editing Giveth docs"
I’m going through the literature to learn and will copyedit along the way! I will create PR’s with my findings.

One item I’m concerned with in general is the overuse of capitalization. It is not consistent throughout the literature and seems to be used rather randomly. I would like to correct this by applying standard grammar rules. I recognize the significance of not giving a damn about grammar

[2022-02-01 11:27] danelsuga commented on #509
Thank you @Brodyann7!

[2022-02-01 11:28] danelsuga commented on #510
I don’t seem to have any Github superpowers for assigning folks, etc.
Can some one help please? Thank you!
@WhyldWanderer @laurenluz @divine-comedian @ForestSoleil
@Giveth/communication

[2022-02-01 12:16] danelsuga commented on #510
Thanks!

[2022-02-01 14:45] laurenluz commented on #510
Hey @danelsuga please check in before changing capitalization, or assign me to review your PRs. Many things like "Future of Giving" or "Building the Future of Giving" are capitalized because they are parts of our tagline.

There are other things that we capitalize because we turned them into proper nouns... like Givers or Makers.

I still think there is probably some excessive capitalization in th

[2022-02-01 14:58] danelsuga commented on #510
Yes, thanks. That’s what I meant - I see who authored. Then I include you too. :P

[2022-02-01 15:01] laurenluz commented on #510
ok cool 😅 Thanks! I also meant though that the "last updated" person might be the author, or might be the person who last fixed  a typo... hard to tell w the docs.

[2022-02-01 18:29] ahmadabugosh opened #511 "Add Newsletter Section to Docs"

[2022-02-01 19:52] markoprljic commented on #501
Giveth Galaxy. We already use it, we already collaborate with the projects from the Galaxy, now they can be part of the GIVeconomy as well.

[2022-02-01 19:57] danelsuga commented on #501
Oooooo

[2022-02-01 19:57] ahmadabugosh commented on #511
Hey @divine-comedian ,

1) Can you please add a section in the docs for the Newsletter, and add

- An intro about how we have a newsletter and a link for people to subscribe https://giveth.io/#subscribe
- A list of all of the issues, starting with the first

2) For the first issue,  I added the markdown file here along with the images. Let me know if this format is ok to add to the docs. https://d

[2022-02-01 19:59] ahmadabugosh opened #512 "Newsletter February 2022"

[2022-02-01 20:00] ahmadabugosh commented on #512
Create a document to

1. Plan all of our newsletters for the next few months
2. Have themes for each newsletter and main points we want to communicate
3. Allow anyone to suggest things for us to cover in our newsletter

[2022-02-01 20:01] laurenluz commented on #501
I like RegenFarms because it's the most descriptive. The other names sounds interesting... but ultimately imo at first glance don't have a lot to do with the concept.

I think the core points are:
- turns liquidity providers into long term hodlers w the streams
- farm participants stay invested for the next X years
- **degens become regens**
- this builds relationships between Giveth and other 4go

[2022-02-01 20:58] divine-comedian commented on #503
edits are in from suggestions from forest, griff and lauren

we'll wait for consensus on the  GIV multiverse naming and push this to medium for publishing

[2022-02-01 22:44] willyogo commented on #501
Thanks everyone for the awesome thoughts! Just had a quick call with Lauren and we agreed that all things considered, RegenFarms is our personal fav of the above options

[2022-02-01 23:25] divine-comedian commented on #511
LIVE - https://docs.giveth.io/newsletter/

[2022-02-02 02:08] #160 closed

[2022-02-02 02:08] #356 closed

[2022-02-02 02:09] #159 closed

[2022-02-02 02:09] #284 closed

[2022-02-02 02:09] #439 closed

[2022-02-02 02:09] #436 closed

[2022-02-02 02:10] #166 closed

[2022-02-02 02:11] laurenluz commented on #504
This is great @Brodyann7! Meet the makers has been postponed, but I will share this once the date is set.

[2022-02-02 02:17] laurenluz commented on #422
@WhyldWanderer did we send this out?

[2022-02-02 02:19] #161 closed

[2022-02-02 02:19] #306 closed

[2022-02-02 02:19] #34 closed

[2022-02-02 02:19] #361 closed

[2022-02-02 02:19] #259 closed

[2022-02-02 07:33] danelsuga commented on #501
Thanks, @willyogo !
@laurenluz I really appreciate the elaborate explanation as to your choice. I love that attention to shared understanding not only of where you’re coming from but the info in general. Super helpful for me in particular!

[2022-02-02 07:37] danelsuga commented on #501
Would it ultimately be “Giveth’s Regenfarms” then? Where does Giveth come in?

Also, would it be plural, or is the idea that it’s one collective farm?

[2022-02-02 08:07] #511 closed

[2022-02-02 14:12] ForestSoleil commented on #355
I organized the schedule for 5 projects around the theme of YOUTH projects for our first event. Here is the Feb 22nd kickoff event post for Medium. I am finishing up this morning before our call. When done I will tag yall for QA. https://docs.google.com/document/d/1Xmn3gxCC4z8QZOA0CDCTeDOY7JpZ29Jv1I4fCpX6qu4/edit?usp=sharing

And also worked on the lineup for the second Meet the Makers on Tuesday,

[2022-02-02 14:33] ForestSoleil commented on #504
Awesome, thank you @Brodyann7 ! Most of the makers you featured here I have scheduled for our second MTM event happening Tuesday, March 22nd from 11-00 am - 12:30 pm central standard time. Around an ENVIRONMENTAL theme.

March 22nd https://docs.google.com/document/d/120quv9cbQxLR6yNKw7hMVZZJRXdDwUf1EKeQBIFjaVQ/edit?usp=sharing

Theres a different array of makers for our kickoff event on Tuesday, F

[2022-02-02 14:36] #430 closed

[2022-02-02 15:16] WhyldWanderer commented on #469
https://calendar.google.com/event?action=TEMPLATE&tmeid=NTZqOG82dXZnaDEwbW50NGE3bmI4djNsYmNfMjAyMjAyMDJUMTkwMDAwWiBnaXZldGhkb3Rpb0Bt&tmsrc=givethdotio%40gmail.com&scp=ALL

[2022-02-02 15:18] WhyldWanderer commented on #470
Telegram group is now announcements only - there is a pinned message - Kay says he would rather just close the bridge for this channel

[2022-02-02 17:10] #470 closed

[2022-02-02 17:12] laurenluz commented on #446
hey @playingleela is there a link to the figma where these all are?

[2022-02-02 17:15] laurenluz commented on #500
@danelsuga to make one final check and then move this to done! :)

[2022-02-02 17:27] laurenluz commented on #512
- Date for content submission? Feb 22
- Date for first draft? Feb 24
- Ready to go our Feb 28

@danelsuga also interested in support!

[2022-02-02 17:38] laurenluz opened #513 "Meet the maker tweet thread for Feb 22"

[2022-02-02 17:44] laurenluz commented on #376
Cat herding is hard, but it's pretty good right now...

[2022-02-02 17:44] #376 closed

[2022-02-02 17:58] laurenluz opened #514 "MStable Podcast"

[2022-02-02 18:50] playingleela commented on #446
yess @laurenluz its here: https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=396%3A416

[2022-02-02 18:51] playingleela commented on #446
the last line/frames are the final versions

[2022-02-02 20:34] laurenluz commented on #424
Hey @rodricastillo9013 can you send me the animated banner sized 320x100 for mobile ads?

[2022-02-02 20:39] divine-comedian commented on #501
I think the point of degens to regens is a flimsy argument at best - the only people in this current spec that are regenerating are the DAOs who are paying a fee to create a farm.

[2022-02-02 21:22] rodricastillo9013 commented on #424
yes I will prepare it! and I will send it to you

[2022-02-02 21:48] markoprljic commented on #501
Giveth Delta - where all streams flow into one

[2022-02-02 21:50] laurenluz commented on #424
Thank you!

[2022-02-02 21:59] laurenluz commented on #501
It's just "RegenFarms" no "Giveth"... in most cases it will be DAOs offering incentives in their token for people to provide liquidity for their token and some other token... not necessarily GIV.

The GIVfarm has different farming opportunities where you can earn GIV
The RegenFarms have different farming opportunities where you can earn the tokens of different Blockchain4good DAOs, or, we can even

[2022-02-02 22:20] #471 closed

[2022-02-02 22:20] #469 closed

[2022-02-02 22:22] laurenluz commented on #513
related to #504

[2022-02-02 22:22] #504 closed

[2022-02-02 22:22] laurenluz opened #515 "Meet the makers tweet thread for April"
related to #504

[2022-02-02 22:43] laurenluz commented on #458
I just added this directly to the docs and committed changes. If any issues, please lmk

https://docs.giveth.io/giveconomy/givstream

[2022-02-02 22:55] laurenluz opened #516 "Meet the Maker Kickoff March 1st Blog post"

[2022-02-02 22:55] laurenluz opened #517 "Meet the maker March 22 blog post"

[2022-02-02 22:56] laurenluz opened #518 "Test Gathertown for Meet the maker call"
Or set up a gathertown?

[2022-02-02 22:57] laurenluz opened #519 "Calender invites for meet the maker"
Add clear description of the event and a link to airmeet

[2022-02-02 22:59] laurenluz opened #520 "Meet the Makers shilling"
Write shill to announce and perhaps do outreach to donors

I think some 1:1 outreach or outreach to donor groups... clr fund donors... gitcoin donors... ideas like this...

[2022-02-02 23:01] laurenluz opened #521 "Meet the makers speaker prep"
If Givethers are going to be representing the GIVeconomy between presenters... we should have speakers organized and perhaps even a rough outline of the script, i.e. organization of speaking flow.

[2022-02-03 10:38] danelsuga commented on #500
Hi @divine-comedian @krrisis and @laurenluz Would it be possible please to update on your blog posts « Gnosis Chain (formerly xDai Network) » ?

@divine-comedian
https://docs.giveth.io/blog/flavorsOfGiveth/#givethio

@krrisis
https://docs.giveth.io/blog/realigningIncentives/#wait-but-how

@laurenluz
https://docs.giveth.io/blog/welcomeGIVeconomy/#token-info

[2022-02-03 10:47] danelsuga commented on #501
While I don’t fully understand the nuances and continue to appreciate your explanations, @laurenluz, I’ll say that I really like Giveth Delta @markoprljic because it contains « Giveth » and also because it’s a pleasant and clear metaphor. It suggests something that Giveth participates in and even guides —or not— it can be understood simply as the place of flow for different DAO streams merging tog

[2022-02-03 16:08] divine-comedian commented on #500
I don't think we should retroactively edit the blog posts - they are historical relics and I wouldn't spend too much time honestly picking at them inside the docs

[2022-02-03 16:12] divine-comedian commented on #501
There's some cool themes to play with in Giveth Delta - however a delta works the other way around doesn't it - where one stream splits into many - anyway RegenFarms is cool too but I think the whole Regen meme is going to be played out soon so might just end up hating the name in like a month lol

[2022-02-03 22:27] laurenluz opened #522 "Blast off announcement & tweet shill about Giveth Matching Pool"
https://giveth.io/project/donation-eth

[2022-02-03 22:28] laurenluz opened #523 "Email donors (and project owners?) about Giveth Matching Pool"
https://giveth.io/project/donation-eth

[2022-02-03 22:28] laurenluz opened #524 "Add Giveth Matching Pool explainer to docs"
https://giveth.io/project/donation-eth

[2022-02-03 22:33] laurenluz commented on #512
We should definitely include the Giveth Matching Pool into this month's newsletter:
- Project: https://giveth.io/project/donation-eth
- Forum post (FYI): https://forum.giveth.io/t/givmatching-mvp-the-now-part/345
- Forum post (the "next" part): https://forum.giveth.io/t/givmatching-idea-generation-on-how-to-distribute-funds/346

We should say something like the first part of the project descriptio

[2022-02-03 22:33] laurenluz commented on #512
Also @ahmadabugosh I think we should make a new issue each month for the newsletter. then people know where to go to post content and we benefit from notifications in github,. I'm going to rename this issue :)

[2022-02-03 22:50] laurenluz opened #525 "Update Giveth Finances Documentation"
https://docs.giveth.io/whatisgiveth/finances

[2022-02-04 09:08] danelsuga commented on #500
I disagree with the historical aspect. The new 21st century paradigm allows and expects online content to reflect real time: if these documents are meant to be useful, they need to remain relevant. However, if they are reflections of something past, so be it. Many a time Griff asked me to update posts to include more recent info.

[2022-02-04 13:46] scottbenjd commented on #490
Here is the WIP script for my section. Comments and edits welcome!
[https://docs.google.com/document/d/1X3zyL84gNYo-3g-B99ApuLIs6wmR_kt1W8fV9Y7gP4A/edit?usp=sharing](url)

[2022-02-04 17:47] laurenluz commented on #500
Welcome to the GIVeconomy is pretty recent and still very relevant... so I don't think it's a bad idea to mention gnosis chain. the article does though on one instance already. I don't think more are really necessary.

Kris's article was written in 2019... I'm w/ mitch on this one... this is a historical piece. it contains tons of outdated information and I really don't think it is pertinent to go

[2022-02-05 00:31] GriffGreen commented on #501
I think Regen is a meme that's time has come... Gitcoin is pushing it hard and the momentum around it is still building

[2022-02-07 08:49] danelsuga commented on #501
👍🏽

[2022-02-07 09:14] danelsuga commented on #510
I still have a few more pages to go!

[2022-02-07 16:37] rodricastillo9013 commented on #424
![Ads 320x100px](https://user-images.githubusercontent.com/61791380/152831200-d477b506-b55a-4f81-bcf5-798780eff018.gif)

Done! :)

[2022-02-07 16:40] laurenluz commented on #424
Thank you @rodricastillo9013 !

[2022-02-07 17:23] ForestSoleil commented on #516
Ready for QA!
https://docs.google.com/document/d/1Xmn3gxCC4z8QZOA0CDCTeDOY7JpZ29Jv1I4fCpX6qu4/edit?usp=sharing

@laurenluz ....weird it wont let me tag mitch or ashley hmmm.

[2022-02-08 18:07] laurenluz commented on #503
LIVE https://medium.com/giveth/farm-to-table-yields-with-decentralized-philanthropy-a5d71d28ef0d

[2022-02-08 18:07] #503 closed

[2022-02-08 18:07] #501 closed

[2022-02-08 21:26] WhyldWanderer commented on #446
POAP for GIVbacks Round 3:
https://poap.delivery/givbacksround3

[2022-02-09 04:01] Brodyann7 commented on #502
🌏  We’ve got a roster of amazing verified projects raising funds to empower communities 💪
 
Check out some of our newest shining stars! 💫 👇
 
👩‍💻 BrightID lets all sorts of applications make sure their users don't have multiple accounts so that everyone has a fair share and a better online experience.
 
https://giveth.io/project/brightid-proof-of-uniqueness
@BrightIDProject
 
🌱 Permaculture Action

[2022-02-09 16:22] ForestSoleil commented on #518
@WhyldWanderer can you please share the login details you have for airmeet?

And what the link and details are that I shoule include in the calendar invite?

[2022-02-09 17:05] ForestSoleil commented on #513
Created this google doc for Feb 22nd tweets & shills:

https://docs.google.com/document/d/17EBwGa7Zk715FirDMmld1iBafOohmVrf0i8Y3Ma8XT0/edit?usp=sharing

Created tweet thread for Feb 22nd and double checked within 280 characters for each tweet.

[2022-02-09 17:07] ForestSoleil commented on #515
Made this doc for all meet the makers tweets & shills:

https://docs.google.com/document/d/17EBwGa7Zk715FirDMmld1iBafOohmVrf0i8Y3Ma8XT0/edit?usp=sharing

Currently in process of confirming projects for March 22nd. Will update once we have that locked in.

[2022-02-09 17:22] ForestSoleil commented on #502
Yes I just did a check in the project verification channel and it seems these were the only 3 APPROVED from round 4.

[2022-02-09 17:22] laurenluz opened #526 "Advertizing guide"
From comms call - Brian wants to create a guide on how to shill Giveth!

[2022-02-09 17:23] ForestSoleil commented on #502
Are you double checking that our tweets are always within the 280 character limit @Brodyann7 ?

[2022-02-09 17:27] Brodyann7 commented on #502
This is within that limit (it's a thread), Lauren usually tweaks it so I try to leave them more or less open.

[2022-02-09 17:36] laurenluz commented on #512
Add farm to table yields: https://medium.com/giveth/farm-to-table-yields-with-decentralized-philanthropy-a5d71d28ef0d

mStable: https://www.youtube.com/watch?v=j7HxR8-uHso

Also we need to include all this univ3 APR craziness

[2022-02-09 17:38] #466 closed

[2022-02-09 17:44] laurenluz commented on #514
Tweet is ready to share tomorrow! Will add also to newsletter

[2022-02-09 17:50] laurenluz commented on #423
Brian is interested in supporting as well!

[2022-02-09 17:53] laurenluz opened #527 "Meet the makers promo video"

[2022-02-09 20:05] laurenluz commented on #502
Thanks so much @Brodyann7 !! It's great.

I tweeted it out this morning along with the announcement of the GIVbacks round 3 distribution. Tried it like that this time... I think next time I will keep them separate.

https://twitter.com/Givethio/status/1491411523796824066

[2022-02-09 20:20] #502 closed

[2022-02-09 20:20] #500 closed

[2022-02-09 20:20] #510 closed

[2022-02-09 20:20] #458 closed

[2022-02-09 20:20] #455 closed

[2022-02-09 20:23] laurenluz commented on #463
@danelsuga let me know if you're down to create this! If so, you could make the tweet thread in a google doc and link it here. Tag me for QA :)

[2022-02-09 20:32] laurenluz commented on #522
Tweeted and announced

https://twitter.com/Givethio/status/1490714523480825867

[2022-02-10 12:50] danelsuga commented on #524
https://docs.google.com/document/d/1iv0vBEf3gIbzDxMn2cYTdHTYzobAyCWZ3mbU1ATkvaE/edit?usp=sharing

[2022-02-10 16:07] laurenluz commented on #524
@danelsuga made some comments - please lmk if you have questions

[2022-02-10 17:17] ForestSoleil commented on #521
@laurenluz @WhyldWanderer @divine-comedian @willyogo @GriffGreen interested in any of these slots? ^ for tuesday, march 1st kicking off Meet the Makers

[2022-02-10 17:21] ForestSoleil opened #528 "Translations"
I created a google doc here with my suggestions of relevant giveth docs to translate.

https://docs.google.com/document/d/1AmjI2aoRGv7zM6HYP1Py4iJevnHZ7vF3ixUK2gyitkI/edit

@divine-comedian care to take a look when you return from vacation?

[2022-02-10 20:29] ForestSoleil commented on #423
Is Brian on ggithub?

I watched a gathertown tutorial and explored the website a bit.
Messaged in the group dm, waiting to hear back from sathya.

Need to have him create a giveth gathertown for us b/c the free version only allows for up to 25 participants.

[2022-02-11 01:54] ahmadabugosh opened #529 "Intro Screen for Video Course"

[2022-02-11 01:58] ahmadabugosh commented on #529
Hey design team, can you help us create an image file for us to use as a video intro title screen that we can use for our video content (it will also serve as the video thumbnail)? Something editable (as an image in a PSD file), where we can manually change it for different video titles (for example, "How to use Metamask", "How the GIVeconomy works" etc.). We want to use it in videos, so probably

[2022-02-11 06:47] markoprljic commented on #529
I think best would be a Google slide template so you don't rely on Photoshop. @rodricastillo9013

[2022-02-11 06:50] ahmadabugosh commented on #529
Yes, Google slide template would work well!

[2022-02-11 09:07] danelsuga opened #530 "Meeting the Giveth team"
I’d like to have short voice chats with as many team members as possible.
Please reach out to help me learn who you are!
It will also help me get a sense of how things are organized and how they function.
I have difficulty in joining the meetings due to the time difference, especially the Community Call: I'm in transit on a bike at that time! :(
Thank you!
Not sure who to tag...
@laurenluz
@WhyldW

[2022-02-11 10:16] danelsuga commented on #524
Updated! Lmk what you think.

[2022-02-11 11:07] danelsuga commented on #509
I'd like to sync with @Brodyann7 @WhyldWanderer @ForestSoleil if you each have 10 or 20 minutes for a chat? Thank you!

[2022-02-11 13:56] rodricastillo9013 commented on #529
![You tube](https://user-images.githubusercontent.com/61791380/153604079-dfa151f1-759f-4b4c-9b91-07e57b94c0fb.png)

Hi Good moring! I leave here the design sample, once we take advantage of it, I will put it together a google slides without problem!

[2022-02-11 15:19] ForestSoleil commented on #509
Sure thing, dm me on discord

[2022-02-11 20:29] ForestSoleil commented on #221
Here it is ~ https://www.notion.so/giveth/Conflict-Resolution-Working-Group-a0348cf929ca48b89357772d68b85ca5

Ready for qa

@laurenluz @divine-comedian @WhyldWanderer @JuankBell

[2022-02-14 14:21] danelsuga commented on #463
https://docs.google.com/document/d/1-Wl5ScTHUKqmRU15xeULTBFz1brkJqJY4i0lH6_Ob4Y/edit

@laurenluz

[2022-02-15 22:18] ahmadabugosh commented on #529
This is great, I think it looks good, thanks @rodricastillo9013 ! If you can share the Google slide version we can close this issue.

[2022-02-15 22:24] ahmadabugosh commented on #467
Hey @laurenluz please add me to the twitter account whenever you set this up (since I need it to set up Zapier crossposting)

[2022-02-15 23:41] divine-comedian commented on #516
reviewed! left some comments

[2022-02-16 17:12] WhyldWanderer commented on #516
One more person could QA - Forest will implement feedback and publish

[2022-02-16 17:15] WhyldWanderer opened #531 "Email to Donors to inform them of Meet the Makers Event"
@WhyldWanderer  to draft an email

[2022-02-16 17:16] WhyldWanderer commented on #512
Add meet the Makers event to the Newsletter
March 1st

[2022-02-16 17:19] WhyldWanderer commented on #422
Received email list... will send out in the morning

[2022-02-16 17:26] scottbenjd commented on #490
https://drive.google.com/file/d/1CIjb6R8vbJHIZSQA8DsshKl6MuIsf2X1/view?usp=sharing

[2022-02-16 17:28] ForestSoleil commented on #516
@ahmadabugosh said he will qa

[2022-02-16 17:31] WhyldWanderer commented on #442
@Brodyann7 How much of this issue has been completed? Does it need any more updates?

[2022-02-16 17:32] WhyldWanderer commented on #506
Ahmad is waiting on twitter access to connect all platforms together.
@laurenluz can you help with this?

[2022-02-16 17:35] WhyldWanderer commented on #474
Suga is willing to take on the blog post with assistance from the team

[2022-02-16 19:32] laurenluz commented on #506
I need to set up the password manager for it, and I don't have time rn w ethdenver. Next week.

[2022-02-16 23:45] Brodyann7 commented on #442
The makeover is done, but someone needs to maintain the linkedin page

[2022-02-17 00:47] WhyldWanderer commented on #516
Reviewed! left comments/suggestions in the doc..

[2022-02-17 05:37] GriffGreen commented on #521
Cool I assume these are costa rica time. I can make any of them.

[2022-02-17 12:53] ahmadabugosh commented on #516
Thanks for putting this together @ForestSoleil ! I reviewed it as well

[2022-02-17 18:48] ForestSoleil commented on #516
Great thanks yall! Will integrate your feedback.

[2022-02-18 15:09] divine-comedian opened #532 "create show notes for mStable podcast"
We'll need some nice show notes to summarize the mStable podcast a few weeks ago that Griff did

We would like to borrow some ideas around governance structure for our the GIVpower spec.

Here's the podcast on the Giveth youtube channel - https://www.youtube.com/watch?v=j7HxR8-uHso

Also the current GIVpower (formerly GIVcuration) spec to help with context.
https://docs.google.com/document/d/17mjE

[2022-02-18 15:19] danelsuga commented on #516
Looking great! I noted some small things.

[2022-02-18 18:33] ForestSoleil commented on #423
Created a work in progress gathertown
https://app.gather.town/events-setup/apuUT0sXvADS7G5O73PK/preview

Invited laureb mitch ashley and griff to collaborate on it.

The non profit sponsorship application has been submit and is in process. Unfortunately for more than 25 event participants gathertown has a per user fee. So this event has not been completed or published as i am waiting for the non p

[2022-02-18 19:57] WhyldWanderer opened #533 "Create an orbit.love account"
https://orbit.love

Lets get it connected and try it out to see what kind of data we can collect about our community members and their behaviors.

[2022-02-18 20:00] WhyldWanderer opened #534 "Define Community Circle Routines"
These are the main ones so far...

- Communitas Weekly Meet-Up
- Newsletter
- Meet the Makers events

If we think of any others, let's add them in this issue

[2022-02-20 14:04] danelsuga commented on #509
Here’s what I’ve got so far.

https://docs.google.com/document/d/14Esr-bjBj5XEKX9QFsZ67GAdLyZI111hOZcWGIcTHyg/edit

[2022-02-20 22:10] WhyldWanderer commented on #533
@EventHunter I can see that you set up the account.
Can you make me an owner so that I can connect discord etc?
![image](https://user-images.githubusercontent.com/74267818/154866532-44d517f3-bf92-4115-be61-a07833d4e052.png)

[2022-02-21 15:00] WhyldWanderer opened #535 "Investigate Listing and Marketing Inquiries / Influencer Outreach"
Since launch I have been recieving multiple DM's in Telegram as well as emails from people with listing offers... or want to promote Giveth on their YouTube channel, etc.

I have made this spreadsheet with all the info from the messages. I dont have the bandwidth to research who they are or follow up with any of them. Some could be spam and others may be valuable.

If anyone else has been receivin

[2022-02-21 21:54] ahmadabugosh commented on #527
Hey team I made a video promo for Meet the Makers here: https://drive.google.com/file/d/1w8xUv_Fwd-rgspJ-xFN6REDLPaCmnF42/view?usp=sharing Please let me know if you have any comments!

[2022-02-22 20:04] laurenluz commented on #524
Hey @danelsuga! I went through and left some comments, thanks for putting this together. Sorry for hacking it apart a little, I really appreciate your writing voice & also wanted to make the key concepts more clear. Lmk if anything seems off to you! I added some links as well.

[2022-02-22 20:45] laurenluz commented on #527
This is great Ahmad! I put some comments in the discord, but I think they might make more sense in here... a copy/paste:

1. Can we change the join link to either "discord.giveth.io" or "join.giveth.io"?
2. Is it easy to unanimate the project title text to make it easier to read? feels busy with the title and the subtext animated simultaneously

[2022-02-22 21:05] laurenluz commented on #516
This is great @ForestSoleil thanks so much!

[2022-02-22 21:15] laurenluz commented on #513
Left some comments @ForestSoleil :) please ask Rodri to create a twitter banner for this (I left more details in the comment in the doc)

[2022-02-22 21:15] laurenluz commented on #513
it looks great btw!

[2022-02-22 21:17] laurenluz commented on #521
I'm happy to join and support. I can take any of these speaker slots. If Griff wants to join as well maybe we alternate?

[2022-02-22 21:46] laurenluz commented on #474
Naw, I got this one. I created the issue for myself. it's a nuanced and complex concept & I need to do it, then we have it as a resource for explaining to new contributors.

[2022-02-22 23:55] WhyldWanderer commented on #446
POAP for GIVbacks Round 4:
https://poap.delivery/givbacksround4

[2022-02-23 01:11] laurenluz commented on #509
Looking good @danelsuga - I left some comments and suggestions. Are you going to add in what Ann did to make this more comms-specific?

[2022-02-23 01:20] laurenluz commented on #512
We have A LOT of content from ETH denver. We had huge giveth representation.

Notable things:
- We sponsored the rainbow rolls pizza party event (we could add a link to their thank you tweet or something)
- We sponsored the MetaPod competition for DAOs (this was so cool, we should say which team one... maybe find the link from MetaPod)
- Griff had a talk at Schelling Point - https://youtu.be/cTMUh

[2022-02-23 01:21] laurenluz commented on #530
Happy to meet this week @danelsuga! I'll DM you

[2022-02-23 01:25] laurenluz commented on #221
Can we make this as a google doc, edit it and get it on the docs? I read it in notion, looks pretty good.

[2022-02-23 01:26] laurenluz commented on #441
https://twitter.com/GolemFoundation/status/1496163464250806277

[2022-02-23 01:26] #441 closed

[2022-02-23 01:27] laurenluz commented on #514
https://twitter.com/Givethio/status/1491774276818640896

[2022-02-23 01:27] #514 closed

[2022-02-23 01:27] laurenluz commented on #424
This is live!!

[2022-02-23 01:27] #424 closed

[2022-02-23 01:33] laurenluz commented on #463
Hey @danelsuga I think perhaps I didn't explain this issue clearly. What we need is a tweet thread that summarizes the article's key points... So make it in to tweets, that are engaging, use emojis. Check out the Giveth twitter for inspiration on writing tweets.

There should be at most 10 tweets, ideally 7... like this:
1  Say what is GIVbacks, say this is a thread, add a link to the article
2-6

[2022-02-23 01:41] laurenluz opened #536 "What is Giveth - new 2 min video"
As per conversation in the discord

[2022-02-23 11:54] danelsuga commented on #509
Will do!

[2022-02-23 11:55] danelsuga commented on #530
Thanks!

[2022-02-23 11:56] danelsuga commented on #463
Oh, sorry! OK!

[2022-02-23 14:00] laurenluz opened #537 "ETHDenver recap Twitter Space"

[2022-02-23 15:29] WhyldWanderer commented on #530
For sure! Let's sync up.. Ill send you a DM as well...

[2022-02-23 15:44] WhyldWanderer opened #538 "Communicate mandatory updates to verified project owners"
As discussed in the governance call on 2/21/22, we will be requiring verified project to make regular updates to their projects to maintain their verified status.

They will need to provide at least one update every 3 months (quarterly).
We should communicate this as follows:

Step 1. Project applies for verification
add language to typeform application stating that regular updates are required fo

[2022-02-23 16:03] WhyldWanderer commented on #533
@EventHunter has created the account

I have added integrations for Discord, Github and the discourse forum.

@laurenluz to add the twitter integration.

We will start with these integrations at first and look into adding others like youtube, notion, etc.

[2022-02-23 16:26] ForestSoleil commented on #521
That sounds ggreat @laurenluz ! Griff told me in dm that he is happy to take any/all slots. Love that or love you alternating. I plan to intro each of the projects at the beginning of their slot. And ashley is also available. Lets discuss on comms today. Thanks!

[2022-02-23 16:30] ForestSoleil commented on #355
Kicking off tuesday march 1st!

[2022-02-23 17:22] laurenluz commented on #520
- [ ] send emails to donor list on autopilot @WhyldWanderer
- [ ] send announcement in discord announcement channel
- [ ] put announcement in bridge channels
- [ ] add meet the makers to newsletter @ahmadabugosh

[2022-02-23 17:23] laurenluz commented on #516
@WhyldWanderer you can review the blog post here!

[2022-02-23 17:26] laurenluz opened #539 "EthDevner summary blog post"

[2022-02-23 17:30] laurenluz commented on #512
I'll QA!!

[2022-02-23 17:31] laurenluz commented on #538
@ahmadabugosh let's add this to the March newsletter once the details are worked out

[2022-02-23 17:32] laurenluz opened #540 "March newsletter 2022"
Add #538 into this as well as blog post for ETHdenver

[2022-02-23 17:34] laurenluz commented on #512
@ahmadabugosh we should mention that we have a crew going to the DAOist Mexico... this is a nice CTA because it's coming soon - March 4-5

https://www.thedaoist.co/
https://forum.giveth.io/t/giveth-the-daoist-mexico-city-march-4th-5th/394/2
https://twitter.com/TheDAOist_

[2022-02-23 17:37] laurenluz commented on #539
@danelsuga let's have a sync on this - I would love if you could take this issue on!

The idea is to create a summary of our involvement at ETHdenver... add embeds to talks & summaries, talk about the events that were sponsered etc

[2022-02-23 17:50] laurenluz opened #541 "Search Engine Optimization"
Want to try to get our stuff higher on google, consider using certain key words

step 1: do an audit & share your findings w the team!

[2022-02-23 17:59] laurenluz commented on #535
@symsl this one's for you!

[2022-02-23 19:37] ForestSoleil commented on #221
Sure thing, here is the google doc
https://docs.google.com/document/d/1jXKBVH8sz3Jx2ej_FsJRr7mwXrV3mhXnyAky9KsA4DQ/edit?usp=sharing

[2022-02-23 19:38] ForestSoleil commented on #516
Uploaded to medium. Waiting on banner from design team then will submit to giveth medium for lauren to review formatting that i did.

[2022-02-23 19:39] ForestSoleil commented on #521
Ashley to manage tech
Forest to intro project owners
Griff & lauren to alternate speaking slots for giveth, as well as welcome and close the event.

[2022-02-23 19:56] danelsuga commented on #539
Would love to. Let’s sync asap.

[2022-02-23 21:16] ahmadabugosh commented on #527
Hey here is the updated video
1) Changed it to join.giveth.io, since discord.giveth.io doesn't redirect in all cases
2) Made the titles load first

https://drive.google.com/file/d/1-gz1byHFzVJE3lweqYERC_cPSZI2uVLx/view?usp=sharing

[2022-02-23 23:17] laurenluz commented on #537
https://twitter.com/Givethio/status/1496614875153383426

@willyogo @GriffGreen @divine-comedian would love if you guys could join!

[2022-02-23 23:28] laurenluz commented on #539
I made a summary of some of the key points in #512 FYI :)

I can sync on monday. unfortunately I don't have much time before then, but I'll send you a voice note!

[2022-02-24 10:54] ahmadabugosh commented on #529
Hey just pinging you on this @rodricastillo9013, if you can export a Google slides version for us 🙏

[2022-02-24 20:00] ahmadabugosh commented on #512
Hey @laurenluz here is the draft for our newsletter: https://docs.google.com/document/d/1z_D-wnf8rErXN79h8DiaGO-eqTvvpMRXHw8Yk0H1h6E/edit#

I tried to include all the topics you mentioned (except for the uniswap apr issue, as I wasn't sure how to easily summarize it)

[2022-02-26 10:43] danelsuga commented on #539
Thank you so much!

[2022-02-26 11:34] jahanzaib-jay commented on #541
[https://docs.google.com/document/d/13TRiqGG-owkNPMa0rpFGbvx7C9yZHFi-G8kz39gBKQA/edit?usp=sharing](url)

Working on this link with Ahmad.

[2022-02-26 11:50] markoprljic opened #590 "Send user monthly email reminder to donate again to project they donated before"
Feature suggestion:
- Send user monthly email reminder to donate again to project they donated before
- include link to turn off those notifications
- include Notifications settings in My Account
- on Donations table in My Account page include link to "Donate again" next to each donation in History table

[2022-02-28 03:36] laurenluz commented on #512
Hey @ahmadabugosh I made some suggestions - looks good! thanks for putting this together

[2022-02-28 15:46] laurenluz opened #542 "Amend gov process doc"
Add something saying that if they need to skip the 5 day advice process, they need to explain why in their forum post

@divine-comedian do you want to take this on? it's as per our gov call discussion

[2022-02-28 16:21] divine-comedian commented on #542
yup! no problem

[2022-02-28 16:22] danelsuga commented on #539
I am LOVING this issue. I wish I had been there! I'm enjoying watching the talks, etc.

I've got a work-in-progress:

https://docs.google.com/document/d/120jueO2kA21RNJva-05Be1mlZZftuqYxToRgzl77fzU/edit?usp=sharing

I hit a huge burnout moment when I was summarizing all the talks, which takes a lot of time, so I still need to get back to that. It may be too much (for this summary)? I don't know. B

[2022-02-28 18:46] ahmadabugosh commented on #512
Sent!

[2022-02-28 18:46] #512 closed

[2022-02-28 22:32] divine-comedian commented on #542
Okay Here is a paragraph I drafted that can be inserted under the On Chain -> Decision Making Header

## On-chain

### Decision Making

Giveth uses an [Advice Process](https://docs.giveth.io/whatisgiveth/adviceProcess) as its primary practice for flat decision making to empower contributors with agency to move their cultural proposals forward. For a proposal that will eventually move to a formal v

[2022-02-28 22:56] laurenluz opened #543 "Fill out Impact DAO form by March 4!!"
We need to fill this out, there are a bunch of questions that require answers, needs someone experienced to take ownership or a newbie to take it on with some help from someone else

Link and tweet:
https://twitter.com/owocki/status/1498328779713777667

Doc I started:
https://docs.google.com/document/d/1gf3y_hRNNJ6Col2JRL63eGLgKh4IhlQFHS5hNjTz7OI/edit?usp=sharing

[2022-02-28 23:29] laurenluz commented on #543
I submitted it

[2022-03-02 00:46] SymSL commented on #535
Hello! I've taken a look through the spreadsheet (thanks again @WhyldWanderer for organising!) And have some questions:

- Most are from Telegram, are there any that come through the website? I think there was a submit/contact form
- Is there a way to grant access for a team member to liaise and get the email addresses from the people who enquired? Email will be better for comms.
- Most are asking

[2022-03-02 14:35] danelsuga commented on #539
I'm nearly finished!
I need some pix and things.

https://docs.google.com/document/d/120jueO2kA21RNJva-05Be1mlZZftuqYxToRgzl77fzU/edit?usp=sharing

Thoughts?
@laurenluz
@divine-comedian

[2022-03-02 14:35] rodricastillo9013 commented on #529
Hi, excuse me! I was on vacation! I will prepare it as soon as possible and I will send it to you! Thanks a lot

[2022-03-02 14:42] #530 closed

[2022-03-02 14:44] laurenluz opened #544 "blog post on regen farms"

[2022-03-02 17:40] laurenluz commented on #541
@SymSL

[2022-03-02 17:52] laurenluz opened #545 "Email/blog post to invite to add your project to Giveth"
to encourage new project to join Giveth, would be great to have a template email/post that we send to projects.

[2022-03-02 17:52] laurenluz commented on #545
important to have it inviting/inclusive... we're not selling anything!

[2022-03-02 18:05] laurenluz commented on #513
https://twitter.com/Givethio/status/1498315796795166723

[2022-03-02 18:05] #513 closed

[2022-03-02 18:05] laurenluz commented on #527
https://twitter.com/Givethio/status/1498677262421577728

[2022-03-02 18:05] #527 closed

[2022-03-02 18:06] laurenluz commented on #521
As discussed in today's comms call, for next round, it would be good to have clearer expectations on what to explain & timing for speaker slots

[2022-03-02 18:06] #521 closed

[2022-03-02 18:07] #518 closed

[2022-03-02 18:10] laurenluz commented on #423
We have this space: https://app.gather.town/app/APb25RrGT78lN42J/Giveth%20Makerspace

Apparently there is another... @ForestSoleil can you add the link here?

[2022-03-02 18:29] laurenluz commented on #516
https://medium.com/giveth/meet-the-makers-of-the-giveth-io-giveconomy-1fa9a713aca4

[2022-03-02 18:29] #516 closed

[2022-03-02 18:51] laurenluz commented on #422
ready to close?

[2022-03-02 19:09] laurenluz commented on #490
This is cool! I think it's great. Did we decided to put the "building the future of giving" at the end or at the beginning though? I think maybe at the end is the best?

I also think it would be awesome to have the link to Giveth... so after funding your wallet be like "now you can choose your favourite projects and donate directly to them from your metamask through Giveth"... just the tie in to e

[2022-03-02 21:36] WhyldWanderer commented on #535
Just to put here what I mentioned in our little sync after the Comms Call

The main objective, as of now, is to research the different exchanges, youtube channels, marketing oportunities, etc. to see if they are value aligned with Giveth. Maybe leave notes in one of the columns to indicate what you found while researching their exchange/channel. Once we have done the research and determined that i

[2022-03-03 08:08] ahmadabugosh commented on #467
Hey @laurenluz for Lastpass, you can share passwords with multiple people if you just get one paid account (you don't need to get a business account and pay for each user).

So if we pay just for one account for $3 a month, that would allow us to share passwords with anyone else (they just need to create a free lastpass account first) : https://www.lastpass.com/pricing (the Single Users & Families

[2022-03-03 15:37] scottbenjd commented on #490
Here's the Camtasia 3 version. I think the sound might still need some dialing. There's a noticeable shift after the intro and first little Coinbase part. I included the Giveth animation at the beginning and end but that's a pretty easy fix. Is there a static Giveth logo we could use for the intro or should I just extend the starting frame of the coinbase recording?
https://drive.google.com/file/d

[2022-03-03 15:58] laurenluz commented on #490
I think we can ask @rodricastillo9013 @markoprljic or one of our designers to make a quick video banner for each of these videos... just showing the title on giveth branded background

[2022-03-03 16:03] ahmadabugosh commented on #490
@laurenluz we have this issue already https://github.com/Giveth/giveth-planning/issues/529

[2022-03-04 13:32] rodricastillo9013 commented on #490
hello! do you need my help then?

[2022-03-04 13:42] ahmadabugosh commented on #490
hey @rodricastillo9013! I think no need since we already have the other task https://github.com/Giveth/giveth-planning/issues/529 (so if you send us the Google slide for that it should solve it)

[2022-03-04 13:43] rodricastillo9013 commented on #529
Sorry for the delay! here you have the link! https://docs.google.com/presentation/d/1hBXwaRh4mOiN40C1t-oCjZ9TwfY9z5gsSQjS1unOzSI/edit?usp=sharing

[2022-03-04 13:53] rodricastillo9013 commented on #490
@ahmadabugosh oh! perfect! solved! https://docs.google.com/presentation/d/1hBXwaRh4mOiN40C1t-oCjZ9TwfY9z5gsSQjS1unOzSI/edit?usp=sharing thanks :)

[2022-03-04 17:26] EventHunter commented on #534
**Daily**
Daily Happiness - Share today's activities that make the world, your loved ones, or you better. (I make a donation today, I prepare a sandwich for myself, I call my mom to say I love you)

**Weekly**
Contribute Space - Join us to contribute to Giveth Community or one of our member's work. (30 min call where members can find the chance to share their ideas or contribute each other's work)

[2022-03-04 18:56] ahmadabugosh opened #546 "Add Newsletter February 2022 Newsletter to Docs"

[2022-03-04 18:57] ahmadabugosh commented on #546
Hey @divine-comedian , can you please add the February 202 Newsletter to the docs
https://drive.google.com/drive/u/0/folders/1YLOFaa_oPuhqPNxozSYCr8d0EaAkdtyp

 (also if you share access with me, I can start posting them myself going forward) @laurenluz

[2022-03-05 03:50] WhyldWanderer commented on #539
This is looking soo awesome @danelsuga!

 I reviewed your document and I left a bunch of suggestions in there and also helped to clean up the links a little bit!

[2022-03-05 15:05] laurenluz opened #547 "giveth.io launch anniversary March 24 - prep!"

[2022-03-05 15:05] laurenluz opened #548 "Gitcoin Grants Rd 13 prep"

[2022-03-05 22:48] ahmadabugosh commented on #529
No worries at all, thanks @rodricastillo9013 , this works great!

[2022-03-05 22:48] #529 closed

[2022-03-06 20:22] divine-comedian commented on #546
I would love to collab with @jahanzaib-jay  on this one and get him onboarded into using our giveth-docs so we can decentralize the task of maintaing our documentation.

@jahanzaib-jay  are you familiar with code editors/git? let me know if this is something you want to work on together

[2022-03-07 10:28] danelsuga commented on #539
Thank you both, @WhyldWanderer and @laurenluz. I've incorporated all suggestions. Would you check it out again, Lauren? Thanks!

[2022-03-07 14:35] divine-comedian commented on #542
bump here - please review and give it a :+1:

[2022-03-07 14:51] laurenluz opened #549 "Update Univ3 content in docs"

[2022-03-07 16:55] ahmadabugosh commented on #479
This is recorded!

[2022-03-07 19:47] markoprljic opened #591 "Non-verified popup User Research"
This feature is going to explore having a pop up notification or verified badge on projects currently on the giveth platform which indicates if said listed project has been verified to check its authenticity by the Giveth team.

Verification/Pop-up of verified status of a project has the possibility of either providing value and preventing users from donating to a fraudulent project. It also has t

[2022-03-07 19:59] laurenluz commented on #539
Hey Suga! Great fixes, I like the reorganization. I do still think it is too long though, so I'm going to make some comments and suggestions on things to cut/shorten

[2022-03-07 22:25] laurenluz commented on #539
Hey @danelsuga just finished finally with comments - wow that's a long post! but it's great... it's long because there was just SO MUCH happening. Maybe try to add in those suggestions and then we can give it a final pass. I'll add you to medium now as a writer

[2022-03-07 22:48] laurenluz commented on #548
Since we have a DAO and an economy now, I don't think we should put a lot of work into begging for funding from GR13. However, I think we *should*:
- update our listing for [Giveth.io Panvala League](https://gitcoin.co/grants/795/givethio-panvala-league) to keep it active
- update our listing for [Giveth TRACE](https://gitcoin.co/grants/2154/givethtrace)
- shill that you can donate to the [gitcoin

[2022-03-07 22:59] laurenluz opened #550 "Translate What if Giving Gave Back to spanish"
https://medium.com/giveth/what-if-giving-gave-back-using-web3-to-evolve-philanthropy-a8500b7636ce

IEscanore wanted to volunteer take on some translations for us, so I sent him this one!

[2022-03-07 23:26] laurenluz commented on #548
I made suggestions for Giveth.io grant here: https://docs.google.com/document/d/1Tkv2GZo1Ami7O8FOapeO3j5fb-c8ozov-ubBMf4cFoU/edit?usp=sharing

[2022-03-07 23:30] laurenluz commented on #548
I think for TRACE... we should leave the explainer of what it is, say that supports are indicating that they are interested in a Giveth TRACE revamp... where we solve some of the current issues wrt costly gas.

We should also say we launched the GIVeconomy & that you can donate to gitcoin gratns via Giveth and get GIVbacks.

We should change the job link to https://giveth.recruitee.com/

[2022-03-09 13:23] danelsuga opened #551 "Edit cryptophilanthropy club podcast"
Review Griff's podcast.

[2022-03-09 13:25] danelsuga opened #552 "Video sound bites from EthDen"
Collect video sound bites from Griff's EthDen talks and share with @ahmadabugosh.

[2022-03-09 13:28] danelsuga commented on #539
This has been submitted to Giveth Medium for review.

[2022-03-09 13:29] danelsuga commented on #551
Task completed.
Waiting for Cleo from the club to confirm.

[2022-03-09 13:36] danelsuga commented on #548
@laurenluz I'm awaiting access from @divine-comedian. He didn't have my handle and so couldn't get me on the team last night.

[2022-03-09 15:12] danelsuga commented on #548
Joined the team! Thanks, @divine-comedian! I've since updated the Giveth.io description and am going to tackle TRACE now.

[2022-03-09 16:46] danelsuga commented on #548
I've updated TRACE now too. I haven't done any shilling nor created a nice cart of projects.

[2022-03-09 16:57] divine-comedian commented on #542
updated in the forum and docs! did not update the covenant since it links to the gov process

[2022-03-09 17:11] WhyldWanderer commented on #533
complete!

[2022-03-09 17:11] #533 closed

[2022-03-09 17:12] WhyldWanderer commented on #519
https://calendar.google.com/event?action=TEMPLATE&tmeid=MGM0cW1xaWdhaHQ3cmoya3ZzaXM1cmgzNjQgZ2l2ZXRoZG90aW9AbQ&tmsrc=givethdotio%40gmail.com

[2022-03-09 17:12] #519 closed

[2022-03-09 17:17] laurenluz opened #553 "ETHDenver talk video summaries"
To be posted as youtube video descriptions @danelsuga has written them already!

[2022-03-09 17:18] WhyldWanderer commented on #422
yes!

[2022-03-09 17:18] #422 closed

[2022-03-09 17:25] laurenluz opened #554 "Twitter MEGA THREAD for ETHDenver"
can use all the soundclip videos to this thread - JACK!

[2022-03-09 17:34] laurenluz commented on #509
@jahanzaib-jay it would be great if you take this on from Suga! I'm available for any questions

[2022-03-09 17:35] laurenluz commented on #509
We want to make is something like this: https://docs.giveth.io/dapps/contributors

but for comms :)

[2022-03-09 17:36] laurenluz commented on #509
What Suga started would be great to add to : https://github.com/Giveth/giveth-planning/issues/432

but we still need something comms-specific. This is for you @jahanzaib-jay ! :)

[2022-03-09 17:39] laurenluz commented on #221
@jahanzaib-jay @divine-comedian this is ready to go up into the docs

[2022-03-09 17:45] laurenluz commented on #460
@SymSL willing to take this on in 2 weeks

[2022-03-09 17:46] laurenluz commented on #523
@jahanzaib-jay is down to look into it!

[2022-03-09 17:53] laurenluz commented on #538
@WhyldWanderer will add the spec doc to this! the scope has broadened

[2022-03-09 17:56] #537 closed, assigned to nobody

[2022-03-09 17:57] #543 closed

[2022-03-09 17:58] Elizardwizzard commented on #552
Hey! Im Elizabeth I got assigned this project on the comms call :), where can I access the material?

[2022-03-09 18:12] danelsuga commented on #552
Hi Elizabeth!

Here are the videos to check out!

Griff: Creating Schelling Points for Public Goods via Micro-economies
https://youtu.be/cTMUh__9cWs

Griff: The Biggest Web3 Opportunity That No One Is Talking about
https://youtu.be/ADSOVkujrI4

Griff: Post-talk interview
https://m.youtube.com/watch?t=2558&v=pts4XqDRI_4&feature=youtu.be

Willy: Building a Future without Fees: Positive Sum Economies

[2022-03-09 18:12] WhyldWanderer commented on #472
Communitas WG Roadmap can be found here:
https://www.notion.so/giveth/d01ad991599e4ba984af383cc51097cc?v=31daa05678bf4769b9a6ca9b138ac635

[2022-03-09 18:12] #472 closed

[2022-03-09 18:13] p-i-e-r-c-e commented on #552
Hey everyone :) - How should we split these videos up?

[2022-03-09 18:21] danelsuga commented on #552
Hi pierce!

 I don't necessarily think they should be split up. It would be hugely valuable to learning about Giveth to check them all out if you can!

[2022-03-09 18:23] danelsuga commented on #552
Elizabeth, I can't find you to assign you the issue. @Elizardwizzard is not coming up. Maybe you're not signed up yet?

[2022-03-09 18:31] danelsuga commented on #552
Maybe for the sound bite task, how about if @Elizardwizzard takes #1 and #5, @pierce takes #4 and #6, and I'll do #2 and #3?

I've spent a lot of time on them already, so I think this might be a good breakdown, if that works for y'all.

[2022-03-09 20:12] laurenluz opened #555 "Ukraine Tweet thread - how can you help"
https://docs.google.com/document/d/1kaK_1zSdNvulQ2U6xJVZXXBSDLG5oOY44w4QYt6DL4o/edit

@laurenluz this is ready for review

[2022-03-09 20:23] laurenluz commented on #554
Here's the draft post: https://medium.com/giveth/giveth-at-ethdenver-2022-964aa457878c

[2022-03-09 20:28] laurenluz commented on #547
1hive trivia: https://docs.google.com/document/d/1YJGfb-CuEIGSD41A02YlByKZ1fksL0Vf_hV82UHbqwU/edit (for background)

[2022-03-09 21:29] p-i-e-r-c-e commented on #552
@danelsuga @Elizardwizzard Works for me!

[2022-03-09 22:02] jfbtheii commented on #554
https://docs.google.com/document/d/1kaK_1zSdNvulQ2U6xJVZXXBSDLG5oOY44w4QYt6DL4o/edit
Still WIP but the mega thread is coming along.

[2022-03-09 22:02] jfbtheii commented on #554
@laurenluz

[2022-03-10 19:25] ahmadabugosh opened #556 "SEO: March 2022"

[2022-03-10 19:26] ahmadabugosh opened #557 "SEO: Create Search Console / Webmaster Tools and submit sitemap"

[2022-03-10 19:26] ahmadabugosh opened #558 "SEO: Optimize top 10 pages (Titles, Meta Descriptions and more)"

[2022-03-10 19:27] ahmadabugosh opened #559 "SEO: Create Guidelines for Project pages"

[2022-03-10 19:28] ahmadabugosh opened #560 "SEO: Create one article to rank for"

[2022-03-10 19:28] laurenluz commented on #552
@Elizardwizzard if you can also do this one, it would be awesome: https://youtu.be/vAFqV1j_xX4?t=20063

Picking you because it's in spanish 😄 I think we won't share the video until The DAOist releases them as separate videos... but in the meantime we can still make the soundbite. Lmk if you have any questions

[2022-03-10 19:29] laurenluz commented on #539
Live & Tweeted!!

https://twitter.com/Givethio/status/1501932000004829187

[2022-03-10 19:29] ahmadabugosh opened #561 "SEO: Add subdomain for Medium"

[2022-03-10 19:44] ahmadabugosh commented on #557
Hey @laurenluz @WhyldWanderer, do you know if we have Google Search Console setup? https://search.google.com/search-console/about

It's super easy to do, and it lets us submit our sitemap directly to Google to make sure all of our pages are properly indexed, so if we haven't done it, we definitely should!

[2022-03-10 19:44] laurenluz commented on #554
Hey @jfbtheii! Looking good! I know you're not finished but I left some comments in there. As general feedback, try to find the hard hitting points to use as tweets and avoid the "check this out". "Check this out" is good too, but I find we get more engagement when we have something meaty to say.

Lmk if you have questions!

[2022-03-10 19:55] laurenluz commented on #555
@jfbtheii I left some comments in there - looks really good!

Would love to shoot this off soon if we can, if you can dive in with edits today & have it ready for me to send tomorrow morning, that would be great :)

[2022-03-10 19:58] jfbtheii commented on #555
Sounds good!

[2022-03-10 19:59] jfbtheii commented on #554
Got it! sounds good

[2022-03-10 20:02] WhyldWanderer opened #562 "Update nrGIV info in the Docs"
We have a new rGIV DAO... **nrGIV**

The documentation should be updated to reflect this
https://docs.giveth.io/whatisgiveth/governanceProcess/#rgiv-token-holder

[2022-03-11 10:11] danelsuga commented on #551
This has been passed back to Alex from the cryptophilanthropy club for review.

[2022-03-11 10:13] danelsuga commented on #553
I have descriptions of Griff and Willy's talks for EthDen that I will add to their YouTubes.

[2022-03-11 12:02] jahanzaib-jay commented on #546
@divine-comedian would love to work on this.

[2022-03-11 12:40] danelsuga commented on #463
OK! Updated.

https://docs.google.com/document/d/1-Wl5ScTHUKqmRU15xeULTBFz1brkJqJY4i0lH6_Ob4Y/edit?usp=sharing

I didn't included the fun stuff yet (emojis, etc.), since that seems more "in the moment" when you publish, but you can tell me. Thanks! @laurenluz

[2022-03-11 17:02] danelsuga commented on #551
I suggested the following bites:

5M40
Giveth is trying to be that focal point to bring all of these forces for good together on one even playing field.

6m20? There is no other donation platform that does what Giveth can do.

12m25 Our mission is to make giving effortless and frictionless and so I think we're making great headway on that.

12m45 The biggest dream of Giveth is to actually be able

[2022-03-11 20:09] Elizardwizzard commented on #552
Hey team! I have a few questions about the sound bites.
Should they be:
- Video clips (mp4)
- Audios (mp3)
- Written transcripts.
Or all of the above?

- How long should they be?
- Where are they used for?

Thanks! :)

[2022-03-12 08:09] danelsuga commented on #552
Thanks for the great questions, @Elizardwizzard! I think they can just be transcripts that are passed on to @ahmadabugosh.

They should be 10-30 secs.

They will be used for promos. Ahmad would have specifics on that but I think in general you’ll be able to find soundbites they stand out that feature Giveth, something exciting, high energy and clear. For the Griff one, probably something succinct

[2022-03-14 09:16] danelsuga opened #563 "Research article with Jeff Emmett"
I’ll be working on a series of articles with Jeff Emmett, the first being related to E. Ostrom’s work on the 6 challenges of a commons.

[2022-03-14 09:17] #548 closed

[2022-03-14 10:56] danelsuga commented on #553
Here are those descriptions.

https://docs.google.com/document/d/1p_JRxHU5hzgBYHPPa5Ewt8faQkxmnKfZD5fbNO12Ipc/edit?usp=sharing

[2022-03-14 12:08] danelsuga commented on #524
I believe this is ready to go. @laurenluz

https://docs.google.com/document/d/1iv0vBEf3gIbzDxMn2cYTdHTYzobAyCWZ3mbU1ATkvaE/edit

[2022-03-14 16:42] ahmadabugosh commented on #494
This is done: https://www.youtube.com/watch?v=96I0s6DB23k&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=4

[2022-03-14 16:43] ahmadabugosh commented on #497
I recorded this video already (just editing it now) so assigning it to myself

[2022-03-14 16:43] ahmadabugosh commented on #496
I recorded this video already (just editing it now) so assigning it to myself

[2022-03-14 16:43] ahmadabugosh commented on #495
I recorded this video already (just editing it now) so assigning it to myself

[2022-03-14 19:17] jfbtheii commented on #554
Ive touched up the thread and have a more completed rough draft to check out. Could you help me get a big group pic for the initial tweet of the thread and a twitter link for your interview with iUSA? Also, let me know what other adjustments would be necessary!

[2022-03-15 00:02] laurenluz commented on #554
Ok! here's a tweet for iUSA: https://twitter.com/karmaticacid/status/1503521594987188226

And for a group pic, this is really the best we got:
![image](https://user-images.githubusercontent.com/75490971/158280262-76ad2fd4-e6e9-43a4-9bfe-6fa00a0d92b7.png)

[2022-03-15 00:12] laurenluz commented on #554
Made some comments @jfbtheii

[2022-03-15 00:25] laurenluz commented on #497
@ahmadabugosh there are several inaccuracies, and some parts that actually just wrong in this video. I appreciate you taking it over from me because I've been taking so long on it, but we need to re-record it... and there should be a script for review in this case if it's someone who isn't actually aware of all the nuances.

For example, voting on abstain actually means that all other proposals wi

[2022-03-15 00:29] laurenluz commented on #497
also missing everything to do with creating & challenging a proposal, deposits, what exactly is the covenant...

also it kind of misrepresents conviction voting... and this is very important to explain correctly.

[2022-03-15 02:42] ahmadabugosh commented on #497
@laurenluz fair points, I removed the video! Let me know if you want me to rerecord to add those points, or if you'd prefer recording it yourself (it probably would be better if you record it, since I'm scared I'll miss something important)

[2022-03-15 02:47] danelsuga opened #564 "Help with DApp v2 editing"
https://giveth-dapps-v2.vercel.app/

already created issues:
https://github.com/Giveth/giveth-dapps-v2#workspaces/all-devs-61644589b92edf0016f6999c/board?repos=448919340

DAPP V2 Testing Guideline:
https://www.notion.so/giveth/DAPP-V2-Testing-Guideline-308586e414a441f2861807e82ec714c9

[2022-03-15 02:53] ahmadabugosh commented on #496
hey @laurenluz @WhyldWanderer the main points I wanted to cover in the GIVstream video are:

1. There are 3 ways to increase your GIVstream (donating to verified projects via GIVbacks, participating in GIVfarm and participating in GIVgarden)
2.  Some rewards will be given to you through liquid GIV but the majority would be streamed to you
3. The GIVstream rewards continue until the end of 2026

[2022-03-15 02:59] ahmadabugosh commented on #495
hey @laurenluz @WhyldWanderer the main points I wanted to cover in this video are:

1. How GIVfarming works (by adding tokens to various pools, some are singular like the GIVgarden staking and some are liquidity token pairing)
2. Showing how to create an LP token (I go through the GIV / HNY pool as an example and show how it works)
3. Explain how rewards from GIVfarm are paid out mostly to the GIV

[2022-03-15 03:01] ahmadabugosh commented on #494
Let me know if you have any comments on this video or need me to add or rerecord! @WhyldWanderer @laurenluz

[2022-03-15 07:40] jahanzaib-jay opened #565 "Testing environment: Typo in the web copy"
Hi everyone,
I was going through the web copy of the testing environment and found a typo on the homepage.

![1.png](https://images.zenhubusercontent.com/620d7be8f7acb77200f9d2d9/f6fe8731-b76f-45f4-9804-a77ff6090eeb)

it should be add "your project"
we are missing an "R"

Will go through the entire copy again and suggest changes (if needed here in this thread)

[2022-03-15 07:41] jahanzaib-jay commented on #565
@laurenluz @WhyldWanderer @ahmadabugosh

[2022-03-15 07:51] jahanzaib-jay commented on #561
Hi @ahmadabugosh , I went through a few crypto websites and found out that most of the crypto platforms do have a blog page on their website. In most cases, the blog page is at the bottom of the website.

Keeping this in mind, I still think that adding a blog page on our website is the best way to go and it will add a lot of value in terms of SEO.

Let me know what you think.

[2022-03-15 07:52] jahanzaib-jay commented on #561
@laurenluz @WhyldWanderer @SymSL what are your thoughts on this?

[2022-03-15 13:32] danelsuga commented on #564
Went through it all as far as I can see!

[2022-03-15 13:36] #564 closed

[2022-03-15 14:11] ahmadabugosh commented on #561
@jahanzaib-jay I think it's an easy win if we just make the medium be on a subdomain, like blog.giveth.io : https://help.medium.com/hc/en-us/articles/115003053487-Setting-up-a-custom-domain-for-your-profile-or-publication

That would keep us on Medium but allow us to build up the ranking of the giveth.io domain.

[2022-03-15 14:32] SymSL commented on #561
Hi everyone, thanks Jahanzaib for the research, I agree with Ahmad about the easy win and creating the subdomain rather than adding it to the site directly. I did some reading up between the SEO benefits of subdomain vs subdirectory, and seems like it's an ongoing debate but Google views it the same and attribute the SEO closely to the main site so that will be the most beneficial. Here is an arti

[2022-03-15 14:59] laurenluz commented on #565
@jahanzaib-jay Thanks for reviewing the DApp! The correct place for issues like this is the v2 repo - this is where the devs will see it and be able to fix it.

That said, this typo was already caught and and issue was made: https://github.com/Giveth/giveth-dapps-v2/issues/153

It's amazing if you want to go through v2 and make any other issues, but make sure you check the repo to make sure that a

[2022-03-15 14:59] #565 closed

[2022-03-15 16:59] laurenluz commented on #467
Hey @ahmadabugosh - just finished setting this up.

It seems that you can share access to multiple people even with just the free account. If that turns out not to be the case we can upgrade.

[2022-03-15 19:34] p-i-e-r-c-e commented on #552
@ahmadabugosh @danelsuga @Elizardwizzard

https://www.youtube.com/watch?v=y-TOlyguMjQ
[5:42-6:06](https://youtu.be/y-TOlyguMjQ?t=342) Willy intros giveth causes

https://www.youtube.com/watch?v=LccyEBQ_BV0&t=1999s
[33:59-34:28](https://youtu.be/LccyEBQ_BV0?t=2039) Lauren summarizes how we can incentivize giving and taking advantage of feedback mechanisms

[2022-03-15 21:38] laurenluz commented on #467
Ok! I set up a lastpass for Giveth. We have:
- email
- orbit
- zapier
- cmc
- contentful
- facebook
- instagram
- linkedin
- twitter
- reddit

Should be able to do all kinds of magic sharing now.

[2022-03-15 21:39] #555 closed

[2022-03-15 21:39] #542 closed

[2022-03-15 22:28] laurenluz commented on #497
@ahmadabugosh I made a new recording w camtasia and sent you the file on discord - lmk what you think! I can rerecord if it needs to be fixed.

[2022-03-15 22:34] laurenluz commented on #495
Nice! I would also mention that:
- farming rewards are available on mainnet & on gnosis chain
- focus on gnosis chain (low gas) and try to avoid showing the univ3 pool on mainnet since we are going to shut it off it a week
- you can bridge GIV from mainnet to gnosis chain (click the link)
- you can get GIV by swapping other tokens for it (click the link)
- re: 3, I would show the APR popup and sho

[2022-03-15 22:45] laurenluz commented on #494
This one is pretty good, a couple of notes:
- the liquid portion of your GIVbacks actually needs to be claimed before it goes to your wallet
- verified projects need to prove that they are providing *public good*, not just raising funds for personal gain

Otherwise, I think you hit key points pretty well. I would be ok with leaving it as-is. @WhyldWanderer any comments?

[2022-03-15 22:50] laurenluz commented on #496
This one is pretty nuanced, we worked a lot on the messaging so that it's not with the perspective of "things being witheld" but rather from the perspective of "things you get and keep getting".

Before you edit, can you share it with me to watch? Maybe it's good as-is, but maybe it's worthwhile rereording to hit points like:
- GIVdrop recipients already have a GIVstream
- GIVstream history table

[2022-03-15 22:56] laurenluz commented on #492
This video should definitely mention:
- only verified projects are eligible for GIVbacks
- 100% of the donation goes to the project, and donor gets GIV from Giveth
- there are no fees added by giveth on donations - 100% always goes to the project
- only tokens in the drop down list are eligible for GIVbacks
- to add tokens to that list, you can leave a comment in the forum
- you can donate any tok

[2022-03-15 23:19] laurenluz commented on #494
Ok I watched again and I realized that you say the "this token is eligible for GIVbacks" is a "this project is eligible for GIVbacks".... when it's actually referring to the token... it's important to say that only tokens from the drop down are eligible for GIVbacks. Users can paste a token address and send it, but they won't get GIVbacks.

Also, tbh, I think we should rerecord this when v2 is lau

[2022-03-16 00:07] laurenluz commented on #496
Ok I recorded a version, sending to you on discord @ahmadabugosh lmk what you think!

[2022-03-16 00:23] laurenluz commented on #524
Looks great! @jahanzaib-jay @divine-comedian can you put this up on the docs?

tbh I don't know the best place for it. @danelsuga maybe you can weigh in w your suggestion?

[2022-03-16 00:27] laurenluz commented on #528
@divine-comedian at a quick review, this looks fine to me, can you give it a quick look?

[2022-03-16 00:28] laurenluz commented on #221
I'm noticing that it needs to be put into markdown formatting first - @jahanzaib-jay can you do it when you put this up?

[2022-03-16 00:36] jahanzaib-jay commented on #221
Hi @laurenluz , I have already converted this into markdown formatting and have submitted the pull request. Waiting for mitch to review and approve.

[2022-03-16 00:39] jahanzaib-jay commented on #546
@divine-comedian I have submitted the pull request. Please let me know if it's good to go :)

[2022-03-16 00:53] laurenluz commented on #463
Hey @danelsuga! Thanks so much for putting this together. I left a bunch of comments in the doc.

Please have a look! I would love to make a bunch of changes to this, and I really think it's such a good learning opportunity. I hope you don't mind all the many comments, but I think it's so worthwhile to take some more time on it :)

oh also feel free to have fun w/ emojis!

[2022-03-16 01:00] laurenluz commented on #551
@danelsuga this is great!!!!!!!!!!!!!

does this need to go to anyone else? or do we call it done?

[2022-03-16 01:01] laurenluz commented on #553
meeeeee! This is awesome. Let me see what kind of hacks I can do to get them in there.

[2022-03-16 01:03] laurenluz commented on #532
@jahanzaib-jay can you add the doc you're working on here?

Just to clarify, we really need a good summary of the key points of their governance model so there are kind of two parts to this:
- [ ] shownotes to publish as the youtube video description
- [ ] a summary of the key points of their governance model (for internal use)

lmk if you have any questions

[2022-03-16 01:09] laurenluz commented on #554
Coming along great! I made a couple more comments :) almost there

[2022-03-16 01:19] laurenluz commented on #552
Nice @p-i-e-r-c-e I'm with you on the video I'm in... I think that's a good clip... although I say "like" 100x 👀 maybe @ahmadabugosh can skip a few of them in the transcription 😅

For the video w/ Willy, tbh, since the central point of the talk is using web3 techniques to create platforms that don't depend on fees, I would pick something more related to that point. Perhaps right at the beginning a

[2022-03-16 01:25] laurenluz commented on #552
Around [9 min](https://youtu.be/y-TOlyguMjQ?t=553) is also pretty cool :) imagine it from the perspective of someone scrolling through twitter... what are the words that will catch their eye and make them stop scrolling?

[2022-03-16 01:51] Elizardwizzard commented on #552
Creating Schelling Points for Public Goods via Microeconomics
https://www.youtube.com/watch?v=cTMUh__9cWs

Introduction of abundance economies
3:45 - 4:14

The lose - lose situation of financial opportunities in the actual system of abundance economics
4:54 - 5:28

Feedback cycles are important, and conventional economic systems lack of it
5:33 -  5:54

Positive externalities (public goods) come f

[2022-03-16 02:00] laurenluz opened #566 "Make Regen Farms outreach material"
Regen Farms will launch soon with FOX/HNY:
https://www.notion.so/giveth/Giveth-Multiverse-aka-RegenFarms-119dee420bc145edb82d413fe6c850c9

We want to open this up to other DAOs so we need to make material to pass them

[2022-03-16 02:14] jfbtheii commented on #554
Touched up the final comments and moved back to review @laurenluz

[2022-03-16 08:28] jahanzaib-jay commented on #535
Working on adding stats and other findings to finalize the list of exchanges we can consider.

[2022-03-16 09:19] ahmadabugosh commented on #494
Ok cool @laurenluz let me rerecord and add those points once v2 is live!

[2022-03-16 09:28] ahmadabugosh commented on #484
I think I would also add  @melodysongq @clara-zi

- Giveth matching pool https://giveth.io/project/donation-eth
- Unchain https://giveth.io/project/unchain-fund
- Grassroots Economics - Community Currency https://giveth.io/donate/Grassroots-Economics-Community-Currency-0
-  Crypto commons https://giveth.io/project/crypto-commons-gathering-2021
- Gitcoin grants matching pool https://giveth.io/donat

[2022-03-16 10:45] danelsuga commented on #552
2. Griff — EthDen 2022 The Biggest Web3 Opportunity That No One Is Talking about

https://docs.google.com/document/d/101-2609HzeHZ6eqQTSk6BFjdKI5GK8s0NF6JZUwbPN0/edit

[2022-03-16 11:16] danelsuga commented on #552
3. Griff - EthDen 2022 Post-talk interview (« The EthDenver 2022 Experience »)

SOUNDBITES (also below)
https://docs.google.com/document/d/1069HVSEBbLgRVtd6EsYqEFpH08vSs6gr4WAs4c--V3Q/edit

42:38 Public goods are totally overlooked in this space. There is a huge opportunity to disrupt government and non-profit industries, which are just not working. And everyone knows they’re not working. We could

[2022-03-16 11:58] danelsuga commented on #551
Thanks! I think we can call it done. I sent them to her (didn't hear back but she did receive them).

Guess it's done! :D

[2022-03-16 11:58] #551 closed

[2022-03-16 12:06] danelsuga commented on #524
I suppose it should go under GIVeconomy:

GIVdrop
GIVbacks
GIVstream
GIVgarden
GIVfarm

What is the order of those things anyway? (Should they be alphabetical at this point?)

(And should this be GIVmatch or something?)

[2022-03-16 12:11] jahanzaib-jay commented on #523
Working on this doc:

https://docs.google.com/document/d/1jh8NLEvy-OtaeyL45t-gZoswDnYv-ovI5dTcmgQvnUg/edit?usp=sharing

Will update you when this is done.

[2022-03-16 12:12] jahanzaib-jay commented on #524
Arranging them alphabetically is a good idea.

[2022-03-16 12:29] ahmadabugosh commented on #551
Hey @danelsuga I was a bit confused by this issue, do you want me to make sound bites videos from these?

[2022-03-16 12:42] laurenluz commented on #524
Oh, I wouldn't do alphabetical.. GIVdrop happens first.  Then GIVbacks is second most relevant to the economy. They're organized in terms of relevance.... or like in terms of complication.

We can put this in there. Call it Giveth Matching Pool, and maybe put it beneath GIVbacks, before GIVstream

We decided not to call it GIVmatching because it's not only matching donations in GIV.

@divine-comed

[2022-03-16 12:54] danelsuga commented on #551
Not at all. This is unrelated to that issue.

[2022-03-16 13:29] divine-comedian commented on #524
Yeah let's drop it in under GIVbacks

[2022-03-16 13:31] ahmadabugosh commented on #552
Hey everyone, I made this sheet to keep track of these sound bite videos: https://docs.google.com/spreadsheets/d/1KoVy2Ttvo3Q3GxnFx-6pNS01VfvgjDok95aNY9JKTik/edit#gid=0

I made the first one you can check out here, now I'll start working on the others: https://share.descript.com/view/jyXYbll92dh

[2022-03-16 13:34] SymSL commented on #535
Hello all, just an update on this
- we have gone through the **Listings/Exchanges** & added some basic notes & @jahanzaib-jay has kindly offered to add more research and stats so we can prioritise these and then get info on what their costs/proposals are to list our coin there. Thank you for bringing your great energy to this task!
- We chatted this morning and agreed to prioritise & select 5 init

[2022-03-16 14:03] divine-comedian commented on #546
merged! https://docs.giveth.io/newsletter/February2022

[2022-03-16 14:07] SymSL opened #567 "Marketing plan working document"
I've started on a document with the intention to consolidate our marketing efforts and create a strategy of what will bring the most impact quickest, but also just to add to and track our growth from month to month. I am adding to it but will be more effective with more hands and minds involved in improving it so adding it Here: https://docs.google.com/presentation/d/1DTGwC6jNBJTYSdFAnseDlC_iQq_SO

[2022-03-16 14:18] divine-comedian commented on #528
Ooops! this was already reviewed and went into the forum

https://forum.giveth.io/t/giveth-gitbook-translations/311/13

[2022-03-16 17:18] laurenluz commented on #567
@jfbtheii @jahanzaib-jay are interested in supporting on this as well!

[2022-03-16 17:24] laurenluz commented on #557
@geleeroyale do you know if we have anything like this setup already?

[2022-03-16 17:27] laurenluz commented on #560
This could be part of the RegenFarms announcment piece, would be great to get a list of key words to include. @jahanzaib-jay to share spreadsheet :)

[2022-03-16 17:31] laurenluz opened #568 "Autopilot Audit and Cleaning"
We need to clean it up, see if we want to move to something more advanced.

Current use case:
- donors emails
- project emails

@WhyldWanderer is pretty familiar with the ways we are using it. Ashley can you work with @ahmadabugosh & @jahanzaib-jay to explain what we're doing... then they can take over doing an audit and assessment

[2022-03-16 17:34] jahanzaib-jay commented on #560
List of Keywords to include:
https://docs.google.com/spreadsheets/d/12WramHIFG2dZDI7PA-Pwqsa_dQHR3yRFi_msaV0dUWo/edit#gid=0

SEO DOC:
https://docs.google.com/document/d/13TRiqGG-owkNPMa0rpFGbvx7C9yZHFi-G8kz39gBKQA/edit#

I will go through the list of KWs again and update the KWs we can include in the upcoming article.

[2022-03-16 17:35] laurenluz commented on #554
@ahmadabugosh this is the twitter thread for ethdenver

[2022-03-16 17:53] laurenluz opened #569 "Audit organization of giveth docs"
@jahanzaib-jay to review & let us know suggestions

[2022-03-16 17:55] laurenluz opened #570 "Gitcoin Grants Rd 13"
- Create memes
- Create cart

[2022-03-16 18:02] laurenluz opened #571 "Content Calendar"
Google sheet of upcoming important dates
@Elizardwizzard to set up a template for content calendar - Lauren to add in dates

[2022-03-16 19:34] laurenluz opened #572 "1 year in review blog post"
March 24 is our 1 year anniversary for giveth.io!

I think this would be amazing to make a post similar to agave: https://twitter.com/Agave_lending/status/1499314213809963015

(sad about what happened w agave tho... anyway... I think the 1 year review idea is still fun)

It could be a divided into quarters w a lil' recap of exciting things... this year we did a lot!

@danelsuga do you feel like ta

[2022-03-16 19:35] laurenluz commented on #572
This is related to #547 which @jfbtheii started on

[2022-03-16 19:42] danelsuga commented on #572
Ok!

[2022-03-16 22:30] laurenluz opened #573 "Update Project Deactivated email"
It feels really scary when the user has deactivated their own project.

Maybe this can be:

Your project, This project is a test, has been cancelled or deactivated! 🚨 🚫

It is no longer displayed on the Giveth.io DApp and cannot receive donations.
- If you deactivated your project, no worries! This email is just a confirmation.
- If you did not, there is a chance it has been flagged as suspicious

[2022-03-17 13:51] laurenluz commented on #446
@rodricastillo9013 We will need new designs for Rounds 7 , 8 , 9 - can you help with that?

[2022-03-17 13:53] rodricastillo9013 commented on #446
hi @laurenluz ! yes we are working on this! today or tomorrow I will share the link with the new designs

[2022-03-17 15:30] geleeroyale commented on #557
However you want - can I also add you as a manager to the existing one?

[2022-03-17 15:34] ahmadabugosh commented on #557
@geleeroyale Oh great! If you still have access to the old one, please add me, that should be enough! 🙏 ahmadabugosh@gmail.com

[2022-03-17 15:46] laurenluz commented on #572
Ok! Closing this based on our discussion this morning :) will make the issue for the other

[2022-03-17 15:49] laurenluz opened #574 "Blog Post: A Hitchhikers Guide to the Giveth Galaxy"
The purpose: to help blockchain4good folks understand how all these orgs relate! Including:
- Giveth
- Commons Stack
- TEC
- General Magic
- Trusted Seed
- BrightID
- DAppNode

Mention also:
- Whitehat Group
- Iden3
- Hermez

@GriffGreen can help provide a lot of context for this post!

[2022-03-17 16:42] laurenluz opened #575 "Add terms & conditions for conviction voting to docs, and link to it from the covenant in the GIVgarden"
Ivy created this for the TEC: https://docs.google.com/document/d/1BltyTWMCkyJZktdEZu7o7hM1vI8v_JJmqhX74LNGNFM/edit

We should adapt it for Giveth

[2022-03-17 16:51] laurenluz opened #576 "Update "Your project is live!" email link"
View Projects is going to: https://giveth.io/account?data=all&view=projects
which actually just shows the overview....

perhaps this is not very important, but it would be nice if it showed the "my projects" tab... put the URL is not unique.

![image](https://user-images.githubusercontent.com/75490971/158852235-2d70ae18-ae70-426b-be81-699fcda6dc4a.png)

[2022-03-17 16:54] #528 closed

[2022-03-17 16:55] #546 closed

[2022-03-17 19:02] divine-comedian commented on #524
hitting some technical issues - this isn't live yet

[2022-03-17 19:36] laurenluz commented on #554
Looks good @jfbtheii ! I made some small edits. I think we can use the video sound bites that Ahmad is prepping and then put this out!

[2022-03-17 19:37] laurenluz commented on #524
ooh sorry, I didn't even mean to close it

[2022-03-17 19:40] laurenluz commented on #552
Hey @ahmadabugosh for the first one you created, can we make it shorted? I would cut out the last sentence about "this is our long term mission at Giveth..." to keep it a bit shorted. Not sure if you were still making tweaks to this or not. It would also be nice to slow it down a little, maybe increase the pauses a bit. But if you're not doing any more work on it, it's totally fine as-is as well.

[2022-03-17 19:54] jfbtheii commented on #554
Cleaned up those edits. Sounds good, the sound bites will be a great touch! @laurenluz

[2022-03-17 20:16] ahmadabugosh commented on #552
Hey @laurenluz I cut out the last part and added some pauses. I tried slowing it down a little, but it sounded a bit robotic so I kept the speed as is 😄 https://share.descript.com/view/H3arB8PhX8R

[2022-03-17 20:39] jfbtheii commented on #554
The sound bites are awesome! The only thing is they are an off-platform link rn. Should we have the sound bites embedded so there are no links moving away from Twitter?

[2022-03-17 20:48] ahmadabugosh commented on #554
@jfbtheii For sure you should upload them on Twitter directly! I downloaded the ones I made so far here: https://drive.google.com/drive/u/0/folders/1m4HJ-wLf1tc9OoYSbiUJMzUlhxEmkkgn

[2022-03-17 21:13] Elizardwizzard commented on #571
Hey! Does this looks good?
Twitter
https://docs.google.com/spreadsheets/d/1VOOt3q5VPItxK7STBBC-qYSzX5qhHBf2Z1i-R8Ok9ko/edit?usp=sharing

Newsletter
https://docs.google.com/spreadsheets/d/1VOOt3q5VPItxK7STBBC-qYSzX5qhHBf2Z1i-R8Ok9ko/edit?usp=sharing

[2022-03-17 22:29] laurenluz opened #577 "Regen Farms Documentation"
We need documentation explaining:
- criteria for DAOs to get involved: https://github.com/Giveth/liquidity-mining-dapp/issues/180
- what they need to provide: https://github.com/Giveth/GIVeconomy/issues/516
- what is regen farms: https://www.notion.so/giveth/Giveth-Multiverse-aka-RegenFarms-119dee420bc145edb82d413fe6c850c9

[2022-03-17 22:56] SymSL commented on #535
**Listings:** Summarising the ones we will look at first: Kucoin, Huobi Exchange, OKX, Bitrue and Bitfinex + Binance, Hotcoin Global, Mandala Exchange. If no one else can get to these sooner, I'll try tackle them in the next few days to see their requirements to have us listed there.

**Influencers:** Some influencers that need to be emailed (Davidcryptooff@gmail.com), but most need to be DM'd on

[2022-03-18 00:34] laurenluz commented on #474
Ok, written and ready for review. @danelsuga @divine-comedian maybe you can help w this?

I want to blast it out before we go live with Regen Farms

https://docs.google.com/document/d/1IzvuwLJpsvdNQb3HxcoaRvSTuACr6jAnPHXDPmF8ilM/edit?usp=sharing

[2022-03-18 03:30] p-i-e-r-c-e commented on #552
@ahmadabugosh For the video with [Willy](https://www.youtube.com/watch?v=y-TOlyguMjQ&t=50s) - I think these sound bites may be more relevant.

1:50-2:17 - Willy talks about how there are better ways for Dapps to monetize than extraction and also speaks on benefits for users

0:50-1:04 Asks listeners to imagine a future where other than fees, people don't pay to use Dapps

[2022-03-18 12:57] danelsuga commented on #474
Brilliant.

I found one typo.

Well done! Fire away!

[2022-03-18 13:08] danelsuga commented on #552
Hi @ahmadabugosh Thanks for doing this! It’s great. A few comments from my perspective:

I also agree it’s really fast! But it sounds like you can’t change that. I also think it’s a bit « rambly » (no offense, Lauren!). I don’t think « regular » people would be able to follow it or its message; you kind of already need to know what it’s talking about to understand it as it is. So if it’s going to

[2022-03-18 13:39] ahmadabugosh commented on #552
hey @danelsuga thanks for the feedback!

I guess it goes back to what is the goal of these videos? The way I see it, the point of these videos is to catch people's attention while they're scrolling on social media as a teaser to get them to want to listen to the entire talk (most people will scroll past it while it's muted and not even hear it). So in that sense, even if it's missing some context

[2022-03-18 13:42] rodricastillo9013 commented on #446
hi @laurenluz here yo can see the new POAPs.
https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=396%3A416
if you have any feedback let me know :) thanks

[2022-03-18 14:06] danelsuga commented on #552
You're totally right!

The new one is great!! You can change the French quotes to regular ones. :P

Thanks, @ahmadabugosh!

[2022-03-18 17:06] danelsuga commented on #474
Omg. Of course you did the "typo" on purpose! Ha! And the hilarious thing is that I realized that it was on purpose just as I received your message telling me. :-/ Oops. Sorry for being a dunce. And thanks! :D

[2022-03-18 17:54] laurenluz opened #578 "Design for GIVstream Blog Medium Post"
@rodricastillo9013 me puede ayudar a hacer un banner por ese blog post

"Your GIVstream: Flow Into the Future of Giving"

Puede ser algo asi:
<img width="1024" alt="GIVstream" src="https://user-images.githubusercontent.com/75490971/159057127-38f2a91a-f556-4c16-abf9-c45c03e53a4f.png">

[2022-03-18 18:13] laurenluz opened #579 "GIVstream Tweet thread"
From: https://docs.google.com/document/d/1IzvuwLJpsvdNQb3HxcoaRvSTuACr6jAnPHXDPmF8ilM/edit#

[2022-03-18 19:11] laurenluz commented on #544
All set, and ready for QA: https://docs.google.com/document/d/1tZ_YnFBQmoF7snwDmoG2xT3a56I6uQ58XNYmwIqVmf4/edit#heading=h.81iol0ikgzgf

@willyogo @divine-comedian @danelsuga

[2022-03-18 19:31] laurenluz commented on #544
Sorry maybe that link is weird: https://docs.google.com/document/d/1tZ_YnFBQmoF7snwDmoG2xT3a56I6uQ58XNYmwIqVmf4/edit?usp=sharing

This one should have comment access for anyone.

[2022-03-18 19:37] laurenluz commented on #446
I think they're great! Can you share them as pngs in this issue? I think that makes it easier for @WhyldWanderer or @scottbenjd to make them into POAPs.

[2022-03-18 19:40] rodricastillo9013 commented on #578
<img width="1400" alt="Medium Post - Full width" src="https://user-images.githubusercontent.com/61791380/159072748-3f76bd27-9e10-4cdf-af86-441795f61486.png">
que piensas lauren?

[2022-03-18 19:50] laurenluz commented on #571
Hey Elizabeth! It looks really nice, but I think something a little simpler to start would be better. Maybe set it up the columns at the top being days of the week, and then there are rows below.

You could have multiple rows too, starting with just:
Twitter
Medium
DApp
Autopilot

and there's like 1 box per media per day... we don't need so many categories to start. I think this is more just to vi

[2022-03-18 19:51] laurenluz commented on #578
It's awesome!!! Perfecto - gracias Rodri! <3

[2022-03-18 20:00] divine-comedian commented on #524
pending PR https://github.com/Giveth/giveth-docs/pull/96

[2022-03-18 20:14] ahmadabugosh commented on #571
hey @Elizardwizzard ! yeah I agree with Lauren, I think for now it needs to be a bit simpler like an Editorial calendar (here are some examples from Hubspot: https://blog.hubspot.com/marketing/business-blog-editorial-calendar-templates)

I think the main fields we need to capture for now are 1) Date and 2) Description of the content (this could also include a url, key messages talking points, call

[2022-03-18 20:17] divine-comedian commented on #474
Review in progress!

[2022-03-18 20:34] rodricastillo9013 commented on #578
genial!

[2022-03-18 20:34] danelsuga commented on #544
This is really good, Lauren. No typos. ;)

On a personal level, I have the same question as Manuel Maccou, as I still don’t seem to understand how the numbers are so high, and I don’t understand how the article answers that question, but that is part of my learning-still-to-be-had, I guess. :D I’m exploring.

In any case, your writing is really good here. Logical clarity and flow.

[2022-03-18 20:45] laurenluz commented on #566
I setup a typeform: https://giveth.typeform.com/regenfarms

[2022-03-18 20:58] laurenluz commented on #544
Thanks @danelsuga !

The reason is because not all the rewards are liquid right away... part goes into the "stream", flowing slowly for 5 years... so it's impossible to dump the tokens all right away.

I tried to explain that in the GIVstream post (which will get published first. Does it make sense? or should I tweak it?
![image](https://user-images.githubusercontent.com/75490971/159082232-271f2e0

[2022-03-18 21:00] danelsuga commented on #544
Ah! Yes! I understand now. No, no need to tweak it I don't think. Thank you!

[2022-03-21 08:57] danelsuga commented on #463
Back at you for another review! @laurenluz

https://docs.google.com/document/d/1-Wl5ScTHUKqmRU15xeULTBFz1brkJqJY4i0lH6_Ob4Y/edit

[2022-03-21 12:50] rodricastillo9013 commented on #446
yes no problem! I prepare it! and share here

[2022-03-21 14:50] laurenluz opened #580 "List of marketing/design tasks for recruitment"
From @markoprljic:
"We're looking to recruit a new graphic designer and would give them some marketing design tasks to do as part of the recruitment process. Can you draft some current and/or future campaigns in a document, describing the requirements and output, i.e. a design brief?
If yes, can you let me know when is the earliest to expect this?"

[2022-03-21 14:59] laurenluz commented on #580
we could also use (asap)
- twitter images to announce the new dapp design

[2022-03-21 15:16] markoprljic commented on #580
We need descriptions and design guide for this. Designer should know what to do, what is the output, messaging, reference  examples etc.

[2022-03-21 15:43] laurenluz opened #581 "POAP design for people who help us get stables for ICHI vault raise"
waiting for forum post:
- people will put in stables, and get GIV at a discount
- 1% goes to giveth matching pool

[2022-03-21 16:06] Tosinolawale opened #592 "Giveth General Survey collating Feedbacks from Giveth Donors and Project Owners"
For Subsequent Giveth Projects, either improving new features or creating a new one (Like GIVpower),  we will need to collate feedbacks from Users of the Platform, which falls broadly into Project owners and Donors.

The Goal of this task is to create an adaptable survey form which will be tailored towards getting users thoughts and insights needed for Usability studies for improving the platform

[2022-03-21 16:52] laurenluz opened #582 "Tweet thread to explain how we donated ETH from rainbow rolls"
https://forum.giveth.io/t/what-to-do-with-the-eth-from-rainbow-rolls/173/23

[2022-03-21 18:25] jfbtheii commented on #579
Draft complete! LMK what you think @laurenluz
https://docs.google.com/document/d/1kaK_1zSdNvulQ2U6xJVZXXBSDLG5oOY44w4QYt6DL4o/edit

[2022-03-21 20:09] divine-comedian opened #583 "Create Typeform for Contributor Feedback"
## Contributor Feedback
To be filled out by contributors who want to give feedback (positive/negative) to a fellow contributor. This is open for all. This form pertains to the ordinary and escalated critical feedback as mentioned above.

as per
https://forum.giveth.io/t/upgrading-giveth-hr-work-agreements-termination-and-intra-wg-governance/431/9?u=mitch

[2022-03-21 20:10] divine-comedian opened #584 "Create Typeform for Buddy Reviews"
## Work Agreement - Buddy Review

To be filled out by the buddy (reviewer) during or after the buddy review. Buddies must fill out this form to record they’ve conducted reviews consistently (at least every quarter), and to have one place to gather and document each buddy review discussion.

as per -
https://forum.giveth.io/t/upgrading-giveth-hr-work-agreements-termination-and-intra-wg-governance/4

[2022-03-21 20:11] divine-comedian opened #585 "Create Typeform for Contributor Self-Review and Giveth Feedback"
## Contributor Self-Review and Giveth Feedback

To be filled out by each contributor and will be shared to their buddy (reviewer) for further discussion during their quarterly buddy review.

as per -
https://forum.giveth.io/t/upgrading-giveth-hr-work-agreements-termination-and-intra-wg-governance/431/9?u=mitch

[2022-03-21 20:13] divine-comedian opened #586 "Upgrading Giveth HR - Work Agreements, Termination and Intra-WG Governance"
Let's spec out the steps to complete the HR upgrade - starting with the intial steps and moving slowly towards step 2 - Issues should be added to this epic as we continue to spec out how to pull this HR upgrade off.

forum post for reference -
https://forum.giveth.io/t/upgrading-giveth-hr-work-agreements-termination-and-intra-wg-governance/431

[2022-03-21 20:36] ahmadabugosh commented on #568
Hey @WhyldWanderer the context of this is that @divine-comedian was telling me (and I agree) that we need to dive deeper into how we're using Autopilot in relation to "user journeys, contact management system and email content, links, media etc.." .

I've already been using it for the monthly newsletter but also when I send the Givbacks email, I'll see how the flow is, then based on that I'll upda

[2022-03-21 20:44] divine-comedian commented on #544
reviewed! excellent writing @laurenluz
left some comments

[2022-03-21 21:03] laurenluz commented on #579
Thanks @jfbtheii - made a bunch of edits as suggestions. would be awesome if you could go through and make note of them (for next time) when you accept them.

It would be awesome as well if you could help create some memes to share w the article - I left comments wrt to which ones.

Also general note: if you're making threads out of an article, try to shorten the sentences and phrases. a lot of th

[2022-03-21 21:35] #578 closed

[2022-03-21 21:38] divine-comedian opened #587 "Create forum category(s) for Work Agreements"
I was digging a bit more around discourse - we can actually create user roles/groups so we're not limited to a single staff group.

**We can create two roles with two role locked forum categories**
a forum category called New Work Agreements - accessible by a `new-contributor` and the `current-contributor`  user groups
a second category for Work Agreement Updates accessible only by `current-contri

[2022-03-21 21:41] laurenluz commented on #474
This is in medium, waiting for publishing. Thanks all for the review!

[2022-03-21 21:55] laurenluz opened #588 "Invitation for verification - maybe this email shouldn't go to projects that are decidedly "unlisted""
@WhyldWanderer I got this email for "This project is a test" after it was reviewed in adminbro and decidedly "unlisted"... wdyt?

[2022-03-21 21:58] jfbtheii commented on #579
Got it. I appreciate the advice on how to better approach the content of the thread. I'll dive into the edits!

[2022-03-21 23:23] jfbtheii commented on #579
Touched up your edits, created some original memes @laurenluz

[2022-03-22 01:09] laurenluz commented on #579
Hahah 2 chains is so funny 🤣 Thanks @jfbtheii! This is great!

[2022-03-22 01:09] laurenluz commented on #579
FYI you should post any memes in the meme channel on discord :)

[2022-03-22 02:01] laurenluz opened #589 "Add to Torus wallet docs"
https://docs.giveth.io/dapps/importTorusMM

We explained that users can import their keys, but we should also explain that... well... facebook could theoretically steal their money.

The user in the best case scenario would create a new metamask account, then send the funds from torus to their new metamask.

[2022-03-22 08:38] danelsuga commented on #580
Thanks @laurenluz! Is there a doc for this now that will be shared with @markoprljic or should I just give some thoughts here? In any case, here are my thoughts of what that forthcoming article could use:

For the upcoming article on the history of the Giveth galaxy (potentially: The Hitchhiker’s Guide to the Giveth Galaxy), I’d say some ideas that reflect that link to HG2G. Beyond that, I’d say h

[2022-03-22 11:26] danelsuga commented on #580
Here’s a bit more context for what I mean:

The Hitchhiker’s Guide to the Giveth Galaxy

Far out in the uncharted backwaters of the Giveth Galaxy lies a growing community of interconnected projects and DAOs, bound by history and propelled in communion by a sense of common good.

[IMAGE of galaxy populated with all the various branding icons]

How do they connect and whence do they come? Read on to

[2022-03-22 11:27] danelsuga commented on #580
@markoprljic

Here’s a bit more context for what I mean:

The Hitchhiker’s Guide to the Giveth Galaxy

Far out in the uncharted backwaters of the Giveth Galaxy lies a growing community of interconnected projects and DAOs, bound by history and propelled in communion by a sense of common good.

[IMAGE of galaxy populated with all the various branding icons]

How do they connect and whence do they co

[2022-03-22 11:52] jahanzaib-jay commented on #535
Upon further research, the top 5 exchanges/listings we should consider are Kucoin, OKX, Huobi exchange, Gate exchange and Upbit.

Following are some key stats on every platform:

### Kucoin
1. Rank in Top Cryptocurrency Exchanges Ranking by Trust Score - Spot of CoinGecko: 9th
2. Rank in Crypto exchange rankings on Coinmarketcap: 5th
3. Last 3 months visit: 13.5M
4. Playstore downloads: 5M +
5. Av

[2022-03-22 13:19] ahmadabugosh commented on #496
Hey @laurenluz , I edited and uploaded your video here. Let me know if you have any comments, or if you're ok with it feel free to close this issue: https://www.youtube.com/watch?v=2ZpYkTg3huc&ab_channel=Giveth

[2022-03-22 13:20] ahmadabugosh commented on #496
Oh and also I forgot, I split the end part of it to a separate video on GIVstream claiming: https://www.youtube.com/watch?v=I0VkJ4iQsww&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=6&ab_channel=Giveth

[2022-03-22 13:35] ahmadabugosh commented on #497
hey @laurenluz I edited your video here (I added a bar on the bottom to cover the timer you had onscreen and also cleaned up the audio), let me know if you have any comments (if not feel free to close the issue): https://www.youtube.com/watch?v=ARIhMR4rEis&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=7&ab_channel=Giveth

[2022-03-22 15:09] #490 closed

[2022-03-22 15:16] laurenluz commented on #492
More points:
- Types of projects: Listed/Unlisted/Verified/Traceable/Giving Block/New
- "My Account" shows your donations, total donated, etc.
- Categories, Search, Filter
- Any questions: Get support! https://giveth.io/support

@scottbenjd lmk if you want to discuss this a little more - maybe you can make an outline w these points before you record and I can have a quick look for comments

[2022-03-22 15:17] jahanzaib-jay commented on #532
Show notes:
https://docs.google.com/document/d/1aO2lm27HL6n_M0u0J73vRenKaU3pRSUBZS3vdyewMyk/edit?usp=drivesdk

Working on the technical case study. Will be done in a few hours.

[2022-03-22 15:27] laurenluz commented on #481
Some more talking points:
- zero fees, 100% goes to the project
- immutable & transparent: recorded on the blockchain
- transcends borders: international
- you can actually *get* something for giving: GIVbacks & the GIVstream
- An upside to donating - if GIV token goes up, can end up with more $ than you donated
- Connecting into web3 community presents more opportunities: yield farming, governanc

[2022-03-22 15:55] laurenluz commented on #579
https://twitter.com/Givethio/status/1506295461963083783

[2022-03-22 15:56] laurenluz commented on #474
https://medium.com/giveth/your-givstream-flow-into-the-future-of-giving-f6dcd3615eae

[2022-03-22 15:57] #474 closed

[2022-03-22 16:13] freshelle commented on #585
Draft typeform: https://giveth.typeform.com/to/bjUF2RyI

Set of questions is found here - https://docs.google.com/document/d/16_wPhtYZ7rWm8r2lNUp7mIM6x1oZ1pn1ZH2iUVVyRBY/edit?usp=sharing

[2022-03-22 16:16] freshelle commented on #583
Draft typeform: https://giveth.typeform.com/to/OS7vBx5w

Set of questions is found here - https://docs.google.com/document/d/16_wPhtYZ7rWm8r2lNUp7mIM6x1oZ1pn1ZH2iUVVyRBY/edit?usp=sharing

[2022-03-22 16:17] freshelle commented on #584
Draft typeform: https://giveth.typeform.com/to/r21q3oSB

Set of questions is found here - https://docs.google.com/document/d/16_wPhtYZ7rWm8r2lNUp7mIM6x1oZ1pn1ZH2iUVVyRBY/edit?usp=sharing

[2022-03-22 17:44] divine-comedian commented on #587
I have created two new categories and two new user groups on the forum.

User Groups:
new-contributors - contributors who have submitted a WA and/or are still in their trial month at Giveth
regular-contributors - contributors who have an approved WA and have passed their trial month at Giveth

Categories:
New Work Agreements - A place for new contributors and applicants to place their first work a

[2022-03-22 18:08] laurenluz commented on #497
Nice! It looks good!

[2022-03-22 18:09] laurenluz commented on #497
Thanks so much Ahmad!

[2022-03-22 18:09] #497 closed

[2022-03-22 18:21] laurenluz commented on #496
Great! You're amazing Ahmad - thanks so much <3

[2022-03-22 18:21] #496 closed

[2022-03-22 19:44] laurenluz commented on #582
Amazing @Elizardwizzard ! Thanks for taking this on! The story is basically:
- Rainbow rolls made an NFT project where people could mint rolls and the funds would get donated to public goods
- They donated a big chunk to us
- We decided as a community how to allocate it (refer to the forum post)
- We distributed 6+ ETH to for-good projects on Giveth by way of donations

In the thread it would be g

[2022-03-22 19:47] laurenluz commented on #221
https://docs.giveth.io/whatisgiveth/conflictResolution/

[2022-03-22 19:47] #221 closed

[2022-03-22 19:48] #467 closed

[2022-03-22 19:48] laurenluz commented on #524
https://docs.giveth.io/givethMatchingPool/

[2022-03-22 19:48] #524 closed

[2022-03-22 19:49] laurenluz commented on #544
Thanks friends! I'll move this to done, ready to blast off when the product is ready

[2022-03-22 20:15] laurenluz commented on #532
@danelsuga can you QA this one? It's good content, but needs a few adjustments with the grammar

[2022-03-22 20:17] laurenluz commented on #541
What is outstanding on this issue before we can close it? I know we have many other issues now for implementing these findings, but is this still in progress?

@jahanzaib-jay @ahmadabugosh

[2022-03-22 20:19] #464 closed

[2022-03-22 20:20] jahanzaib-jay commented on #541
Hi, I think you can close this issue.
We have already created an epic and are working on 5 different issues for SEO.
What do you think @ahmadabugosh ?

[2022-03-22 20:22] laurenluz commented on #336
We have the GIVbacks dashboard which includes tons of great info, I think we should decide how to best use this content and make some suggestions to add to the DApp.

http://dashboard.giveth.io/public/dashboard/4717fd91-a311-42cf-93d9-185ec8c08a04?round_range=2022-02-04~2022-02-18

@markoprljic @mosaeedi when working on improvements to the DApp, it would be great to include some ideas of how we mi

[2022-03-22 20:22] #461 closed

[2022-03-22 20:29] laurenluz commented on #437
@ahmadabugosh @ heather (why can I' find your github 🤔 ) - do you want to set me up with a tweet thread that I could share from giveth regarding most important roles and maybe some info on what we're looking for?

Could be a thread with like... one tweet per role

[2022-03-22 20:29] #426 closed

[2022-03-22 20:30] #468 closed

[2022-03-22 20:31] laurenluz commented on #506
Hey @ahmadabugosh did we already set this up in Zapier?

[2022-03-22 20:31] #442 closed

[2022-03-22 20:31] #443 closed

[2022-03-22 20:36] #570 closed

[2022-03-22 20:37] #531 closed

[2022-03-22 20:40] laurenluz commented on #549
We shut off the univ3 pools after a long ordeal... we need to update the docs ro reflect the situation:
https://docs.giveth.io/giveconomy/givfarm

[2022-03-22 20:42] #505 closed

[2022-03-22 20:42] laurenluz commented on #484
We discussed converting this into a video series of its own - should we remove from this epic?

[2022-03-22 20:45] laurenluz commented on #443
Don't worry @csggene3 ! It got done <3

[2022-03-22 20:50] #541 closed

[2022-03-22 21:07] laurenluz commented on #581
Forum post is LIVE! https://forum.giveth.io/t/raising-1-000-000-for-the-angel-vault/467

Perhaps we want to make 3 POAPs for this? One for each raise tier? @markoprljic do you think this a good one for the new design recruits? We'd need them by March 29, so it would be great if we had some drafts later this week.

[2022-03-22 21:21] Elizardwizzard commented on #571
Something like this? I added some extra columns that might help to organize/assign the content pieces (author, due date,  topic and keywords) if they are not needed I can remove them :) ahttps://docs.google.com/spreadsheets/d/1VOOt3q5VPItxK7STBBC-qYSzX5qhHBf2Z1i-R8Ok9ko/edit#gid=1125462361

[2022-03-22 21:31] markoprljic commented on #581
@rodricastillo9013 can you coordinate with Jes?

[2022-03-22 21:39] ahmadabugosh commented on #506
Hey @laurenluz, I set this up and it's posting on Facebook now. automatically (we just need to monitor that it makes sense, and i'm not sure how threads will look).

I could set it up for LinkedIn too, but we ran out of free zaps (we only get 5 with the free account) :/ .  I can set it up on a new Zapier account (if you share access to the Twitter account with me on Lastpass), or we could pay to u

[2022-03-23 10:51] jahanzaib-jay commented on #509
https://docs.google.com/document/d/1M8U4RNIJAB5OoeK2_mDb4OO0cdViEpTv2cSly7UqB-I/edit?usp=sharing

[2022-03-23 14:00] ahmadabugosh commented on #484
What do you think @melodysongq & @clara-zi ? You mentioned you already started working on this? I think we should convert it into its own project, but I'd be curious to hear your thoughts first

[2022-03-23 14:07] ahmadabugosh commented on #571
@Elizardwizzard I added a few minor edits (like making Twitter and the Newsletter seperate tick boxes). I think it's fine to start using for now, we'll probably start changing it once we start populating it with data. Let's discuss it in today's meeting :)

[2022-03-23 14:10] ahmadabugosh commented on #557
This is done

[2022-03-23 14:10] #557 closed

[2022-03-23 15:47] ahmadabugosh commented on #540
@laurenluz  so what I want to include in this newsletter

1. Eth Denver megathread
2. Regen farms article
3. DAOist CDMX
4. Highlighted jobs we're hiring for
5. Project of the month: Unchain
6. Givbacks round analysis dashboard http://dashboard.giveth.io/public/dashboard/4717fd91-a311-42cf-93d9-185ec8c08a04?round_range=2022-03-04~2022-03-18

Anything else?

[2022-03-23 17:12] laurenluz commented on #535
@cotabe is willing to help with this!

[2022-03-23 17:19] jfbtheii commented on #437
Yep, @ahmadabugosh. I'll get going on that today.

[2022-03-23 17:20] laurenluz commented on #540
GIVstream instead of Regen Farms
Top Tweet: DAOist CDMX party

[2022-03-23 17:31] laurenluz commented on #549
@cotabe can take this one!

[2022-03-23 17:50] laurenluz opened #593 "Angel Vault Fundraiser Blog Post"

[2022-03-23 17:51] laurenluz commented on #540
Add in fundraiser: https://forum.giveth.io/t/raising-1-000-000-for-the-angel-vault/467

[2022-03-23 17:52] laurenluz opened #594 "Create NFTs for investors in angel vault treasury"
@markoprljic

[2022-03-23 17:53] laurenluz opened #595 "Titles for tiers of investors to fundraise for Angel Vault"

[2022-03-23 17:57] markoprljic commented on #594
Not me, please forward all graphic design requests to Rodri for now.

[2022-03-23 17:58] laurenluz opened #596 "Typeform for newsletter to collect contact info for interested investors Angel Vault"

[2022-03-23 20:51] clara-zi commented on #484
Yes, please do. I believe this project can then be closed, am I right? Are you ok with that @melodysongq?

[2022-03-23 21:53] jfbtheii commented on #437
https://docs.google.com/document/d/1kaK_1zSdNvulQ2U6xJVZXXBSDLG5oOY44w4QYt6DL4o/edit

Here is the general outline for the thread. There is a lot of material for each job description. What aspects of the job descriptions should I be including in each tweet? @ahmadabugosh @laurenluz

[2022-03-24 08:12] melodysongq commented on #484
agreed.

[2022-03-24 08:19] ahmadabugosh opened #597 "Send email for GIVbacks round 6"

[2022-03-24 12:21] danelsuga commented on #575
Here's the doc!

https://docs.google.com/document/d/1ZL_RO846O8AnatUDMdqk4Khbv8gPWiPEeQpu2LeZrjA/edit?usp=sharing

@laurenluz let me know what you think.

[2022-03-24 12:34] divine-comedian commented on #583
@freshelle

Left some comments! nice work!

[2022-03-24 12:44] danelsuga commented on #562
I thought I could tackle this no prob, but I'm confused. From first paragraph of doc:

"rDAO members hold nrGIV"

And above, @WhyldWanderer says, "We have a new rGIV DAO... nrGIV."

I don't understand the distinction among the following concepts then:
rGIV
rDAO
rGIV DAO
nrGIV

Thank you!

@laurenluz

[2022-03-24 13:27] freshelle commented on #583
Thanks @divine-comedian
I've made the changes and added the links to the typeform

[2022-03-24 17:46] scottbenjd commented on #589
Since this requires them to set up a MM wallet anyway but still leaves them with the vulnerabilities of Torus, should we go ahead and change this article to "Transfer funds to New MM" rather than importing the key?

[2022-03-24 18:15] laurenluz opened #598 "Willy's talk at ETHdenver soundbite"
Current at: https://drive.google.com/drive/u/0/folders/1m4HJ-wLf1tc9OoYSbiUJMzUlhxEmkkgn

[2022-03-24 18:27] laurenluz commented on #598
@ahmadabugosh I think you missed my back and forth w @p-i-e-r-c-e in the other issue (because there was so much there!). The suggested soundbites were in his commnet:

The original one he suggested really wasn't the central theme of the talk.

from https://github.com/Giveth/giveth-planning/issues/552#issuecomment-1071993750

Can you fix it?

[2022-03-24 18:29] laurenluz opened #599 "Video sound bite from Giveth CDMX DAOist talk"
@Elizardwizzard can you find a couple of good clips from this talk? https://www.youtube.com/watch?v=YsseimigT4Q

Pick something that is meaty and in-line with the central message of giveth... maybe something about turning nonprofits into DAOs or being not-just a donation platform.

Find 2-3 soundbits of up to 30s and tag me when you pick 'em so I can review! :D

[2022-03-24 18:34] laurenluz opened #600 "Griff's Common Stack Talk: Regen Economics as schelling points"
Current: https://drive.google.com/drive/u/0/folders/1m4HJ-wLf1tc9OoYSbiUJMzUlhxEmkkgn

From @Elizardwizzard:

From: https://github.com/Giveth/giveth-planning/issues/552#issuecomment-1068649436

[2022-03-24 18:35] laurenluz opened #601 "Griff's Giveth talk: biggest web3 opportunity"
From @danelsuga

https://github.com/Giveth/giveth-planning/issues/552#issuecomment-1068984025

[2022-03-24 18:45] laurenluz opened #602 "Lauren ETH Denver Public Goods are good sound bite"
Suggested: https://www.youtube.com/watch?v=LccyEBQ_BV0&t=1999s
33:59-34:28 Lauren summarizes how we can incentivize giving and taking advantage of feedback mechanisms

Current: https://drive.google.com/drive/u/0/folders/1m4HJ-wLf1tc9OoYSbiUJMzUlhxEmkkgn

[2022-03-24 18:49] laurenluz commented on #600
I think this one is pretty good. @ahmadabugosh the snippet from Griff is from the Commons Stack Regen talk, right? not the web3 opportunity one?

[2022-03-24 18:51] laurenluz commented on #601
@ahmadabugosh it would be awesome to still make a video snippet of this talk. I asked Griff to let us know which quote he likes best.

[2022-03-24 18:53] laurenluz commented on #599
@Elizardwizzard can you type out the quotes that you selected so it's easier for me to review and pick one?

[2022-03-24 18:57] laurenluz opened #603 "Angel Vault Fundraiser Comms"
Let's raise $1,000,000 in xDai to kick start out Angel Vault!

The full fundraise proposal is [here](https://forum.giveth.io/t/raising-1-000-000-for-the-angel-vault/467/)

Proposed timeline:
- Mar 22: This Forum Post is out
- Mar 29: Fundraiser is Open
- Apr 12: Fundraiser is Closed
- ~Apr 19: Angel Vault is up (We depend on ICHI for this timing)
- 1 hour later: Set the price of $GIV for the contr

[2022-03-24 19:00] laurenluz commented on #581
We discussed this further in the GIVeconomy & comms calls, and we think that we should have one generic POAP for EVERYONE who puts money into the fundraiser.

I also created a separate issue for NFTs that will go to donors who put in stables at certain amounts.

So this issue is just for *one* POAP design that will go to investors as per [this forum post](https://forum.giveth.io/t/raising-1-000-00

[2022-03-24 19:35] laurenluz commented on #594
@rodricastillo9013 we want to create designs for NFTs... and give them to investors in out [Angel Vault fundraiser](https://forum.giveth.io/t/raising-1-000-000-for-the-angel-vault/467)

I'm thinking we do different tiers:

- Cherub: 5k or more
- Angel: 25k or more
- Archangel: 50k or more
- GIVangel: 100k or more

There is also [some discussion](https://forum.giveth.io/t/raising-1-000-000-for-the-

[2022-03-24 19:40] laurenluz opened #604 "Shilling & Outreach - Discord & Twitter"
We should blast off messages in partner servers asking for support, and contact friends from other DAOs to help us w/ RTs

[2022-03-24 20:05] laurenluz commented on #589
Yeah, or you could even go more general like "Protect your Funds Long-term"

[2022-03-24 20:07] laurenluz commented on #492
I think that requires a bit of coordination with @ahmadabugosh who is going to re-record part of the GIVbacks video. If he covers it, great! but they should be mentioned in one or the other. (I think better in GIVbacks)

[2022-03-24 20:08] jfbtheii commented on #437
https://docs.google.com/document/d/1SNUvjA39nEj9WrRZKOAkXzcSZsAbI2YNF9d_Wdpg634/edit
Here are the open positions thread link. I'll reach out to Heather via discord to get her take on this @ahmadabugosh @laurenluz

[2022-03-24 20:32] rodricastillo9013 commented on #594
Hi @laurenluz ! if it would be great to help! I think I understand perfectly for now. just some questions that maybe you can help me

1- In what format will we make the NFTs? It can be a Square format, for example 1000px x 1000px.
2-The aesthetic should be from giveth? Or something just with Giveth colors and some different artwork just for these kind of NFTs.
3-When should this project be finishe

[2022-03-24 21:04] laurenluz commented on #594
Yay! You're the best @rodricastillo9013

1 - not sure! @jfbtheii do you know the best size/format for NFTs?
2 - feel free to explore! Giveth colours would be good, but we want these to be really attractive, fun. Feel free to play around and get outside of the Giveth aesthetic
3 - well, we want to start the fundraise Tuesday of next week. I know that doesn't give you much time to do it, but the soo

[2022-03-24 21:17] laurenluz commented on #532
@jahanzaib-jay can you please post the link to the technical summary? this was always the most important part.

[2022-03-24 21:20] Elizardwizzard commented on #599
Why Giveth started and how it became something else

5:41: 59 - 5:42:19

"La razón por la cual empezamos Giveth era para hacer un puente muy fácil para los non profit y los donantes para entrar a la web 3, pero la web 3 tiene un montón de cosas que podemos aprovechar y Giveth esta haciendo más con eso."

Society depends on sacrifice and why it is not sustainable ultraism

5:42:19 - 5:43: 07
"El pr

[2022-03-24 23:31] jfbtheii commented on #594
From what I understand, 512px x 384px is average size for NFT’s @rodricastillo9013

[2022-03-25 11:02] ahmadabugosh commented on #597
Done, just sent this out @WhyldWanderer! Thanks for the detailed guide, it was super easy to follow

[2022-03-25 11:02] #597 closed

[2022-03-25 11:05] ahmadabugosh commented on #492
Yeah no need to cover GIVbacks in detail @scottbenjd, since there is a whole video for it, but it doesn't hurt to briefly mention it (just saying verified projects are eligible)

[2022-03-25 12:45] rodricastillo9013 commented on #594
ok thanks! @jfbtheii

[2022-03-25 19:07] laurenluz opened #605 "Autopilot trigger issue: "Your project has launched" email goes out before project is published"
I made this test project to test drafts... and it says it is inactive on the dapp, but I got this email

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/e56d3e76-d3dc-4789-bb44-d25e8e58746b)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/77d54bf0-44da-4fbb-a299-d2abf424ad62)

[2022-03-25 20:23] GriffGreen opened #606 "Sort Out the Giveth Calendar and Own it!"
It's a great coordination tool... we have 2 calendars... kind of...

[2022-03-25 20:35] ahmadabugosh commented on #598
Thanks @p-i-e-r-c-e & @laurenluz , apologies for missing this.

I created these 2 here:

1. [](https://share.descript.com/view/YrrdOAaCmAv)
2. [](https://share.descript.com/view/5UJ4iNh6eGG)

Also the files are in the folder: https://drive.google.com/drive/u/0/folders/1m4HJ-wLf1tc9OoYSbiUJMzUlhxEmkkgn

[2022-03-25 20:43] ahmadabugosh commented on #600
@laurenluz , yes exactly this video is from the Commons Stack talk from this soundbite:  "Microeconomics: Small impacts make the real change
14:49 - 15:16"

[2022-03-25 21:15] ahmadabugosh commented on #601
@laurenluz @GriffGreen I created one for the last quote at the end at 19:25 https://youtu.be/ADSOVkujrI4

Let me know if you're ok with it, want to use another quote, or have any comments, here is the video snippet link: https://share.descript.com/view/YW547SBoDeC

[2022-03-25 21:46] Cotabe commented on #549
@laurenluz here is a new version. Let me know if you can check it or we should tag someone else.

https://docs.google.com/document/d/1iT2yxwYrlROcQpRut_nLjNBW05mE-QrjPsOwVdwKuU4/edit#

[2022-03-26 21:28] ahmadabugosh commented on #554
hey @laurenluz @jfbtheii do you think this will go up before Wednesday (so I can include it in the newsletter)?

[2022-03-28 12:45] danelsuga commented on #562
I made changes in two places:
Governance Process
Giveth Finances

[2022-03-28 13:37] laurenluz commented on #562
Hey @danelsuga - did anyone review this? we have a practice of 2 reviewers QAing anything before it goes live on the docs. Sometimes excepts can be made to allow only 1 reviewer

[2022-03-28 13:45] laurenluz commented on #602
it's ok, I was just breaking that big issue into an epic with pieces that are easier to find. video is good as it is.

[2022-03-28 13:46] laurenluz commented on #554
I'll try to share it today or tomorrow, just trying to review all the sounds bites & get it organized. will post here when it's done.

[2022-03-28 14:59] laurenluz commented on #554
@ahmadabugosh https://twitter.com/Givethio/status/1508458566075703299

[2022-03-28 15:08] #554 closed, assigned to jfbtheii

[2022-03-28 15:08] #600 closed

[2022-03-28 15:08] #598 closed

[2022-03-28 16:00] laurenluz commented on #592
@Tosinolawale is an awesome designer who is leading this effort... looking to get feedback on the new giveth design, UI. sync with him if you have any context-related questions.

I'm going to share this on twitter this week & ask for user feedback. The purpose (from Tossain) is "to help improve the overall user experience and your interaction with project verification on the platform."

[2022-03-28 16:02] danelsuga commented on #562
Oops. Sorry @laurenluz Don’t know why I did that. Particularly as I didn’t do hard changes but forks to be approved!

[2022-03-28 18:33] laurenluz commented on #581
para el POAP:
- tiene que decir "Giveth Angel Vault Investor"
- puede usar Giveth branding
- tambien puede usar el branding de Ichi & FEI:

ICHI: https://www.ichi.org/
FEI: https://fei.money/

Pero puede ser creativo... no tiene que usar ICHI, FEI o GIveth branding... pero puede usarlo para inspiration

lo mas important es que se ve muy cool!

[2022-03-28 18:34] laurenluz commented on #594
Para los NFTs... seria 6 en total:

- Cherub (5k +)
- Angel (20k +)
- Archangel (50k +)

+ 3 otros unicos que seria para los personas que dan lo maximo

No lo pongas los numbers (5k, 20k, etc.) el el deseno pero puede usar las palabra.. o no... usa imagines de angeles
no debe que ser en Giveth branding
queremos algo muy cool 🙂

[2022-03-28 18:42] rodricastillo9013 commented on #581
Ok! perfect! work on it now! :)

[2022-03-28 18:56] laurenluz commented on #575
Thanks @danelsuga ! seems like it was duplicated? I deleted half of it, make some small changes as suggestions through. Please review for your reference and we can call this done.

[2022-03-28 18:59] laurenluz opened #607 "Add link in covenant to Terms & Conditions"
Once we call it done on #575 and get it live on the docs we need to modify the covenant both in our docs & in the GIVgarden.

Covenant in docs: https://docs.giveth.io/whatisgiveth/covenant/
Link to gardens: https://gardens.1hive.org/#/xdai/garden/0xb25f0ee2d26461e2b5b3d3ddafe197a0da677b98

To change in the docs, it's straightforward, to change in the garden, we'll need to make & pass a Tao Vote.

[2022-03-28 20:17] laurenluz commented on #532
@jahanzaib-jay 👆

[2022-03-28 20:20] divine-comedian commented on #575
this is ready to go up? I can see you changed the pipeline @laurenluz

[2022-03-28 20:22] laurenluz commented on #575
ahh, wait, we gotta wait for Suga to accept changes... sorry, I'll move it back.

[2022-03-28 20:24] laurenluz commented on #599
@ahmadabugosh Can you make a soundbite video with this content:

[2022-03-28 20:29] laurenluz commented on #437
Hey @jfbtheii I just sent it to Heather on telegram - will wait for her eyes on it before I hack much. In the meantime, can you add some fun emojis? They are especially nice at the start of sentences.

[2022-03-28 20:40] laurenluz commented on #549
Great job @Cotabe - I made some suggestions and comments. please make edits and then tag me again for final review.

[2022-03-28 20:41] laurenluz commented on #547
Time has passed! I think we can let go of this.

[2022-03-28 20:41] #547 closed

[2022-03-28 20:44] laurenluz commented on #595
We are going with:

- Cherub (5k +)
- Angel (20k +)
- Archangel (50k +)

[2022-03-28 20:44] #595 closed

[2022-03-28 21:03] ahmadabugosh commented on #540
Hey @laurenluz , Here is the draft of the newsletter for QA: https://docs.google.com/document/d/1iwqZLPcooqvz-qR52ksPm3-mioyauWsBMeLVDRQeVZg/edit#

1) I played around with the format a bit to make it a little punchier and fun, let me know what you think!
2)  We still have a couple of days to send it, to let me know if you want to wait to include any more info on the ICHI angel vault (the typeform

[2022-03-29 00:04] jahanzaib-jay commented on #532
Here is the technical summary of the podcast:
https://docs.google.com/document/d/1CVtqXcXVk5hM5cEeRKHeGsDAv1qDzgxQiwMbIsb2DSM/edit?usp=sharing

@laurenluz

[2022-03-29 00:19] Cotabe commented on #549
Thanks @laurenluz!!! Happy to help. I made most edits already. Only two corrections missing because I don't know the exact week of the shutdown (13?), nor how to calculate the distributions per week after that

[2022-03-29 00:43] laurenluz commented on #549
Well, the shut off date was like march 22 or something... start date was dec 24.

5 mil tokens were allocated.. and for univ3 it would be the same amount going out each week.

So see how much time passed since the start to the end... if 6 months was supposed to be the total time to distribute 5million, how many tokens was leftover when we shut off the pool.

Its easy math, but if that's confusing

[2022-03-29 05:20] danelsuga commented on #562
Finances: danelsuga-patch-3
Gov: danelsuga-patch-1

I made the PR with @laurenluz and @WhyldWanderer to review.

Sorry about that!

[2022-03-29 07:32] danelsuga commented on #575
Sorry about the sloppy mistakes. All changes accepted. @laurenluz

[2022-03-29 10:30] danelsuga commented on #592
I am making some changes (but not publishing obvs).

For Q 3, I don't know how to modify the answers. I think they should be more specific (because what is average anyway?), like:

0-> 1-2 hours
5-> 3-5 hours
10-> +5 hours

Or maybe:

0-> once a week
5-> once a day
10-> at least twice a day

[2022-03-29 12:36] markoprljic commented on #499
https://giveth.notion.site/Design-Giveth-c59340ba80644a3dba1a004da26ddbbf

[2022-03-29 12:36] #499 closed

[2022-03-29 12:36] jahanzaib-jay commented on #575
Please confirm if this is good to go and I will add it to the docs.

[2022-03-29 12:41] danelsuga commented on #575
Thanks @jahanzaib-jay ! Good for me but maybe let @laurenluz double check.

[2022-03-29 13:37] laurenluz commented on #575
yeah! it's great! Thanks @danelsuga !

[2022-03-29 14:52] Tosinolawale commented on #592
Thanks @danelsuga. The survey form looks really good. I made the Q3 a multiple choice format and included
- Once a day
- More than once a day
- Once or twice a week
- once a twice a month
I published it and @laurenluz can take a look and see if we are good to go.

[2022-03-29 17:38] scottbenjd commented on #589
Short and sweet. Title is flexible.

https://docs.google.com/document/d/1HPU3Otl1-aav63WEZO6gv7U05UNSSYHLQ2fZb2Ejtrk/edit?usp=sharing

[2022-03-29 18:59] laurenluz commented on #540
Hey @ahmadabugosh I edited the angel vault part & add a link to the typeform.

[2022-03-29 19:00] laurenluz commented on #596
https://giveth.typeform.com/givethangels

[2022-03-29 20:08] laurenluz commented on #577
@danelsuga @divine-comedian maybe @willyogo... maybe @Cotabe ?

Can 1-2 of you plz review? This is for the docs. https://docs.google.com/document/d/1ovTipT_6I1Ovagu2cKCa4IKbQqRxFHhOOwbStma7Zpo/edit?usp=sharing

[2022-03-29 20:09] laurenluz commented on #566
We can also share with them the docs link & the blog post... both drafted & queued up

[2022-03-29 20:09] danelsuga commented on #577
Will do!

[2022-03-29 20:34] ahmadabugosh commented on #540
Hey @laurenluz Cool! I made all the edits you suggested and embedded a GIF for the daoist party video (along with a blurb). Let me know if it's ready to send out (if yes I can send it our tomorrow)

[2022-03-29 22:01] ahmadabugosh commented on #573
Done @laurenluz !

[2022-03-29 22:01] #573 closed

[2022-03-29 22:33] laurenluz commented on #540
Hey @ahmadabugosh - it's great. I made capitalization suggestion, but yeah! good to go tomorrow!

[2022-03-29 22:39] laurenluz commented on #589
it's great. maybe the title needs to be improved. can you work out a logical way to append this to the other torus wallet parts? makes sense I think to add after the "import your seed into metamask" thing 🤔

[2022-03-29 23:08] divine-comedian commented on #577
reviewed!

[2022-03-29 23:38] Cotabe commented on #549
@laurenluz This is done

Just to double-check that there is no mistake... I considered 10M allocated to Univ3 as in the doc, but your comment states 5 M, this might have been an example or a mistake. Just want to make sure :)

[2022-03-30 10:31] danelsuga commented on #577
Reviewed!

[2022-03-30 13:39] ahmadabugosh commented on #605
Hey @WhyldWanderer when you're back, can we check the trigger of this together? It's taking from Segment, so I want to see how to debug it, and also that would help me figure out ways we can optimize Autopilot

[2022-03-30 15:27] danelsuga commented on #532
I also reviewed the shownotes and left a few commentes, but one question I have is what information should be included or not there.

[2022-03-30 15:37] jahanzaib-jay commented on #532
Okay. Let's wait for Lauren to give her feedback.
I simply followed the shownote guidelines that was provided and I also took inspiration from some previous shownotes.

[2022-03-30 15:56] markoprljic commented on #594
I'd love to see early sketches.

[2022-03-30 17:18] laurenluz commented on #568
@Cotabe tagging you because you mentioned you were interested in this

[2022-03-30 17:23] laurenluz commented on #582
https://forum.giveth.io/t/what-to-do-with-the-eth-from-rainbow-rolls/173

[2022-03-30 17:31] #559 closed

[2022-03-30 17:34] laurenluz commented on #561
Next steps:
- @ahmadabugosh to check with tech support that previous links reroute
- pass to devops team to add subdomain to our domain & point to medium
- @laurenluz to change settings in medium

[2022-03-30 17:35] #560 closed

[2022-03-30 17:36] laurenluz opened #608 "Should we take down Giveth Galaxy page?"
@geleeroyale this is really out of date, but it is the top-ranked site for giveth.io in google

https://galaxy.giveth.io/

wdyt?

[2022-03-30 19:51] ahmadabugosh commented on #540
Sent!

[2022-03-30 19:51] #540 closed

[2022-03-30 20:03] laurenluz opened #609 "Design for RegenFarm Banner"
For this blog post:
https://docs.google.com/document/d/1tZ_YnFBQmoF7snwDmoG2xT3a56I6uQ58XNYmwIqVmf4/edit#heading=h.81iol0ikgzgf

"RegenFarms: The Next Generation of ReFi Opportunities"

Want a banner for medium that has a tractor or some seedlings

@rodricastillo9013 can you help w this? want to publish tomorrow

[2022-03-30 20:06] rodricastillo9013 commented on #609
yes of course, i will try to send you something today, if not tomorrow morning is it ok? @laurenluz

[2022-03-30 20:19] laurenluz commented on #577
@jahanzaib-jay @divine-comedian can one of you put this up? I think it should go under GIVeconomy, after GIVstream.

[2022-03-30 20:20] laurenluz commented on #577
we want to launch the FOX farm tomorrow FYI... so hopefully will be announcing

[2022-03-30 20:20] #437 closed

[2022-03-30 20:30] laurenluz commented on #609
yeah that's awesome!

[2022-03-30 20:40] laurenluz commented on #549
oh yeah - you were right! my mistake :) I'll upload to the docs. Thanks so much @Cotabe !

[2022-03-30 20:45] laurenluz commented on #549
committed changes to live: https://docs.giveth.io/giveconomy/givfarm

[2022-03-30 20:46] laurenluz commented on #592
went live today

https://twitter.com/Givethio/status/1509190180867125256

[2022-03-30 20:46] #592 closed

[2022-03-30 20:53] #549 closed

[2022-03-30 20:57] laurenluz opened #610 "regenfarms tweet thread"
from #544 @jfbtheii when the thread is ready, post it here! hopefully we can send it off tomorrow.

[2022-03-30 20:58] laurenluz commented on #575
@divine-comedian @jahanzaib-jay this is ready to go up... @divine-comedian if you can decide where is good, that would be good.

[2022-03-30 20:59] laurenluz commented on #583
this is done? @freshelle ?

[2022-03-30 21:00] laurenluz commented on #585
is this done? or needs review? @freshelle

[2022-03-30 21:00] laurenluz commented on #562
@danelsuga did you make that one small tweak? is this done and ready to go?

[2022-03-30 21:02] jfbtheii commented on #610
https://docs.google.com/document/d/138r7r3jCQCZWXri0e2y0eZwopHyiUusOrDIk73AyMHk/edit

lmk what you think!
@laurenluz

[2022-03-31 05:19] geleeroyale commented on #608
I think before we finally take it offline comms should take a look at what was trued here. Think it failed ultimately, but the giveth galaxy wanted to serve as testament to explain how Giveth fits into the world. Our governance, side projects, community engagement.

I think Giveth Galaxy is a strong brand for this sort of activity.

But - I am not married to it. If it's gotta go, I will put it off