[2022-06-20 17:33] laurenluz commented on #719
Will close once we have the video available to share from youtube.

[2022-06-20 20:48] WhyldWanderer opened #741 "Plutoview Blueprint for the NFT creation Party"
After the community call on Thursday the 23rd we will have a community event to create an NFT to donate to the Giveth Matching Pool fund.

There will be multiple people drawing at once we need something **very basic** for them to start with..

A .png file that represents the matching pool...

You can reference some of the blueprints that they used previously in Discord here:
https://discord.com/ch

[2022-06-20 20:54] WhyldWanderer commented on #741
Should be 1000х1000 square

[2022-06-21 08:36] rodricastillo9013 commented on #689
No! I have forgotten this, I will do it as soon as possible

[2022-06-21 14:28] laurenluz commented on #703
Yep all sounds good. We can definitely also use the discord channel.

The nice thing about the tokenlog is that it gives extra ultility to the GIV token.

We don't need to limit ourselves to *only* reaching out to the projects suggested via tokenlog but the process of voting might encourage more community pariticpation.

So! What are next steps? Is this ready to share out via Twitter? @WhyldWander

[2022-06-21 14:34] WhyldWanderer commented on #446
POAPS can be found here:
https://www.figma.com/file/LKBHpnxI9sLjde7DzOQIYQ/Giveth-Marketing?node-id=396%3A416

Sorry I didnt see the above comments until now... do we still need this issue?

[2022-06-21 14:36] clara-zi commented on #697
This is now covered in chat in the new Maker space in the new Discord layout. I think we should close this...?

[2022-06-21 14:39] clara-zi commented on #641
Plan is to add topics of interest to every 4th Communitas AMA starting the end of July, commencing with 'Fundraising 101' for projects.

[2022-06-21 14:42] clara-zi commented on #720
Discussion with Orbit support team: Functionality for Twitter feed with Orbit API is still in development, see comments for Orbit:
"Hi Claire,

We don't track historic Twitter followers. That means anyone who followed you prior to the Twitter integration being connected doesn't get captured as a follow activity. Unfortunately the data on followers provided by the Twitter API is a bit incomplete an

[2022-06-21 14:44] melodysongq commented on #641
I suggest to close this issue as a channel is created on Discord under Giveth-Connect to discuss ongoing meeting schedules and themes.

[2022-06-21 14:51] laurenluz commented on #713
Hey @NikolaCreatrix! this is great. Thanks so much.

Next time, it's better if you make the changes in the google doc and then just comment here saying to check it again so I can leave comments :)

[2022-06-21 15:42] laurenluz commented on #713
@NikolaCreatrix several of the tweets were actually way too long for twitter. The max is 280 characters.

Next time around, can you please copy/paste them into a tweet and make sure it's not over the character limit first?

Otherwise, it's great. Let's do another one!! I'll make an issue.

This was posted today: https://twitter.com/Givethio/status/1539272200246775815

[2022-06-21 15:43] laurenluz opened #742 "Featured Projects Tweet Thread for Round 14 verified projects"

[2022-06-21 15:43] #713 closed

[2022-06-21 15:46] #641 closed

[2022-06-21 15:57] c0ric0ri commented on #576
I definitely created the project but couldn't find an email. @Cotabe do you need more input from me here?

[2022-06-21 15:58] c0ric0ri commented on #710
@clara-zi and I are setting up a call for later this week, after call with Sym

[2022-06-21 15:59] c0ric0ri commented on #676
@Elizardwizzard got back to me so we can connect this week!

[2022-06-21 16:00] c0ric0ri commented on #716
@laurenluz I actually do not know where to start with this. Is there more context?

[2022-06-21 16:05] laurenluz commented on #723
I gave an awesome talk at metafest about Giveth, we should include that too

[2022-06-21 16:07] laurenluz commented on #723
I think the featured project should be bob burnquest's since he was on the community call and it was super hyped

https://twitter.com/WillyOgo/status/1537190867529658368

[2022-06-21 16:09] laurenluz commented on #723
should also feature Griff @ consensus. he gave an aweomse talk on the biggest web3 opportunity... I'll see if I can find a recording

[2022-06-21 16:14] laurenluz commented on #737
@WhyldWanderer or @NikolaCreatrix - it would be awesome if one of you helped with this

[2022-06-21 16:16] laurenluz commented on #736
We should definitely say:
- Your donors get GIVbacks
- coming soon, GIVpower

I can do this one, but would love your suggestions for anything else to add @WhyldWanderer

[2022-06-21 16:18] Cotabe commented on #576
Tested!

[2022-06-21 16:18] #576 closed

[2022-06-21 16:18] Cotabe commented on #576
And working

[2022-06-21 16:20] c0ric0ri commented on #738
List out here what you want to cover in the video, then tag a reviewer with knowledge on that topic

[2022-06-21 16:25] laurenluz commented on #732
Perks!
- on the blockchain, transparency of funds
- zero fees to add project or get funds, nothing skimmed off the top
- zero intermediary, P2P... can't be taken away from you/withheld
- sovereignty... you are responsible for your keys & your funds
- DAO decision making on the platform... you have a say in what gets developed
- DeFi & earning opportunities
- global market... funds can be sent all

[2022-06-21 16:45] laurenluz commented on #716
Right! So on the Giveth dApp you can add updates to projects, and we want to set an example with regular updates to our own projects.

The Giveth Project: https://giveth.io/project/the-giveth-community-of-makers
The Giveth Matching Pool: https://giveth.io/project/Giveth-Matching-Pool-0

It's been a while since our last update, and we should make a new one. This issue is to make a draft for a new u

[2022-06-21 16:53] laurenluz commented on #719
My slides are here btw: https://docs.google.com/presentation/d/1qR3YDPPduVaIk4KayTzmgQXFjk4lLzwzZfIGKlEjg_0/edit#slide=id.g1342d5de726_0_506

[2022-06-21 16:58] laurenluz commented on #723
https://www.youtube.com/watch?v=NDGeb-bNH3I Here is the link to the community call w/ bob burnquist... I'm sorry it got cut off at the end :(

[2022-06-21 17:05] SymSL commented on #535
Here is a potential script I had put together a while back for the influencers, suggestions always welcome: https://docs.google.com/spreadsheets/d/15-twj68kRcCFN815NAk7XgAibvRZTzJmB0HDed-2Oig/edit#gid=0

[2022-06-21 17:09] WhyldWanderer commented on #703
I implemented the changes that you suggested for the form wording.
I think things are good to go! Thanks @laurenluz

[2022-06-21 17:57] #712 closed, assigned to rodricastillo9013

[2022-06-21 19:49] laurenluz commented on #704
Christina is going to send me a draft for review this weekend

[2022-06-21 23:32] Cotabe commented on #687
Update:

Gravity DAO: Scott onboarded them.

Precious plastic commons- jaklatt#2299 @jaklatt: Sent FR on Discord

The AI Commons / Algovera - ygg_anderson#4998 and richardblythman and Algovera.ai#3425 @ygg_anderson and @richardblythman: Follow up with this tweet https://twitter.com/Cotabe_M/status/1535348397292498944?t=VmJGWi3zxYM1kcQ9jl7O2A&s=19

ReFi DAO - John Ellison#5093 @climateXcrypto: I'm

[2022-06-22 10:43] MoeNick opened #743 "Test DeWork"

[2022-06-22 10:47] Cotabe opened #744 "DeWork integration suing the DeWork label"
This would allow WG stewards to manage their decentralized ops on DeWork using the DeWork label

[2022-06-22 15:28] ahmadabugosh commented on #732
Looks good! Maybe add "exposure to crypto market donors (another donation channel) that might not have been exposed to your project otherwise". Basically, how it's another marketing channel for them in the crypto world (a market where people generally have funds).

[2022-06-22 17:24] NikolaCreatrix commented on #742
Thank you @laurenluz
I will have the first draft ready for you by this Friday. And thank you for all the feedback about how to make this process even smoother. Keeping text in docs and making sure I fit in with the number of characters etc... okay the next one will be better.

[2022-06-22 18:17] NikolaCreatrix commented on #737
Hey there, I would love to help with this.... @laurenluz @WhyldWanderer
Where to start here? @ahmadabugosh

[2022-06-22 18:54] scottbenjd commented on #709
Hey @ahmadabugosh I think they look great. Thank you for doing these!

[2022-06-22 20:58] WhyldWanderer commented on #737
@NikolaCreatrix
The best thing to do is to start creating a bulleted list of the topics you think should be included in the video.

Here is one that Lauren made for one of the videos in the donor course that you can use as a reference:
https://docs.google.com/document/d/15YMv_NS3gasx0d77Y1cA3nwhCdl_CCfTGRez1Qz66oE/edit

[2022-06-22 21:09] ahmadabugosh commented on #695
Can someone also reach out to

1. [Effective Altruism ](https://www.effectivealtruism.org/)
2. [Giving What We Can ](https://www.effectivecrypto.org/)
3. [Effective Crypto ](https://www.effectivecrypto.org/)

I think they'd be great groups to partner with

[2022-06-22 22:14] NikolaCreatrix opened #745 "Meet the Makers Spec doc"
I am pulling out all information I can find here on Github. I am working on a draft of spec doc, which then I will bring and present + discuss w @WhyldWanderer in ETHBarcelona.

The goal is to create a clear template/project management guidelines around this event to follow, for me and/or anyone else who would take on and like to manage this event in the future.

[2022-06-23 12:11] clara-zi commented on #727
I think getting the calendar link to point directly to AMA call is best - tested link and it seems to be pointing there now.
I like the add of 'connect with us' too.

[2022-06-23 13:19] melodysongq commented on #695
I would prefer to have these "prospective projects" to be tracked in a database instead of an issue.   So recommend we close the issue but capture these project nominations and will assign them a category in the database.

[2022-06-23 13:38] clara-zi commented on #695
I've created a Google sheets to track this outreach pending database/pipeline system up and running. WDYT?

https://docs.google.com/spreadsheets/d/1JZvVn7zCY3E-d0lHGX_Dbt_oO05ed3moz6Lr5GpWrg0/edit?usp=sharing.

Suggest we move all the updates here until new process is ready?
If in agreement, I can close this issue.

[2022-06-23 13:43] laurenluz opened #746 "Add GIVfarm extension to docs"
We should add details about the new rewards and how long they will flow. also update the changes.

@divine-comedian do you want to do this? or shall I ask a comms contributor?

[2022-06-23 13:49] melodysongq commented on #695
The link takes me to a Giveth Gap analysis... for some reason. Maybe a wrong link? Thanks.

[2022-06-23 15:39] clara-zi commented on #695
Oh no! Try now. Link above updated. Sorry, folks.

[2022-06-24 09:22] melodysongq opened #747 "Giveth constituents CRM (for projects, donor, partnership management)"
Looking into tracking outreach through a CRM system to better manage active recruitment of partnership, donor, and project.  Here is a draft for the database design:

https://docs.google.com/spreadsheets/d/16b8yiXjsvSm48HK314t9MUa7WCd8Tv-zrJ6D17O6CGo/edit#gid=2112929636

[2022-06-24 09:23] melodysongq commented on #747
@Cotabe @clara-zi @ahmadabugosh

[2022-06-24 12:51] ahmadabugosh commented on #718
hey @WhyldWanderer I have the list ready to send, I just need the link to the POAP's

[2022-06-24 12:58] ahmadabugosh opened #748 "New Process for Donor Quiz POAP Claiming"

[2022-06-24 15:00] divine-comedian commented on #746
https://docs.giveth.io/giveconomy/givfarm#givfarm-extension-q2-2022

LIVE!

[2022-06-24 17:28] laurenluz commented on #746
you're a hero.

[2022-06-24 18:27] NikolaCreatrix commented on #742
Hola @laurenluz

Here is the draft for R14
https://docs.google.com/document/d/1XMknJFoIzKxtN5BR6myo36ULKj7xFLckEpRkOG6blao/edit?usp=sharing

I am still practicing my english language so any feedback or correction suggestions are welcome cause your tweets are always fun and captivating. :)

I checked characters in Twitter, should be okay this time.

[2022-06-24 19:12] WhyldWanderer commented on #718
Im sorry! I thought I shared this with you long ago...
Sending you the doc in a DM on Discord

[2022-06-24 20:18] NikolaCreatrix commented on #737
Thanks @WhyldWanderer that was super helpful :)

Something like this? https://docs.google.com/document/d/1kDiv9uOHVqW4V3ijBLGVnebpFvVtLBgJnM1HI67Tvx8/edit?usp=sharing

@ahmadabugosh

[2022-06-24 21:19] ahmadabugosh commented on #737
Thanks @NikolaCreatrix nice work, you went into a lot of detail which is great! A few comments I have are:

1)  I think you should mention at the end what happens after they submit the verification form. So basically, what happens after the form is submitted, and what does the timeline typically look like for us to get back to them (+how many other steps are involved).

2) What is required of them

[2022-06-24 22:26] NikolaCreatrix commented on #745
I think I'm pretty much ready for other eyes on this. 🙌

[Meet the makers spec doc](https://docs.google.com/document/d/11pAUmN18p9_xm-DSG2dNKPApBFph0V5QNv90B5D-2p4/edit)

I would also like to break down the chronological plan - what needs to happen when and in what order so that there is a clear action steps guide. Schedule to follow... if you know what I mean 🙂 trying to logically figure out the

[2022-06-26 21:29] ahmadabugosh commented on #748
hey @laurenluz @WhyldWanderer for new requests to claim the quiz POAP,  I recommend that we change the process to:

1) In the quiz form they have to fill their Eth Address (so we can tie the POAP to each address instead of having links)
2) At the end, instead of sending it by email, I'll ask for their Twitter handle in the form and ask them to follow our twitter and tweet us. I suggest something l

[2022-06-26 22:27] ahmadabugosh commented on #723
Hey @laurenluz @danelsuga @c0ric0ri , I made a draft for the June newsletter here: https://docs.google.com/document/d/1p4h1y8YPzxwh2P85VuaNutaUTl4CIWYv6LIyZahwchs/edit.

Even though I'm off, I plan to send it out by this Thursday, so please let me know if you have any comments (I also left some comments on the sheet I could use input on) 🙏

[2022-06-27 07:32] danelsuga commented on #723
Great! Thanks, Ahmad! Looking good. Left a couple little comments.

[2022-06-27 08:41] freshelle commented on #583
Thanks for this great feedback @ahmadabugosh! I reflected these suggestions to the form.

[2022-06-27 11:43] divine-comedian commented on #583
@freshelle  what else can we add from the feedback we received from Juan from Gravity?

[2022-06-27 16:36] laurenluz commented on #723
Great job @ahmadabugosh, as usual. Left some suggestions in the doc. I'll try to get that consensus talk video approved if I can 😕

[2022-06-27 16:40] laurenluz commented on #748
That sounds great.

[2022-06-27 16:54] divine-comedian commented on #583
I just tested it out, this looks great! nice work fresehelle, calling this DONE

[2022-06-27 17:11] laurenluz commented on #725
Is this the issue @SnakeGH is working on?

[2022-06-27 17:12] #714 closed, assigned to laurenluz

[2022-06-27 17:13] #697 closed

[2022-06-27 17:15] #746 closed

[2022-06-27 18:02] laurenluz opened #749 "Twitter content planning for August"

[2022-06-27 19:24] SnakeGH commented on #725
@laurenluz not yet, but this is something @ahmadabugosh and I have discussed. We will create the Donor Survey (GitHub #623 ) first and that will help us build Donor Personas

[2022-06-27 22:07] laurenluz commented on #655
Hey @c0ric0ri! I wrote some tweets for Gurves and made some more comments & suggestions. Passing off to you again for review/edits.

After we're satisfied w/ the content, would love if you could go in and add emojis, and add appropriate images too to the last tweets that I wrote :)

[2022-06-27 22:19] laurenluz commented on #742
Awesome work @NikolaCreatrix - do you maybe want to include one more though? kind of funny that 2/4 are skateboard initiatives.

Left some comments & suggestions

[2022-06-27 23:42] NikolaCreatrix commented on #742
Yeah, lot of skateboarding around lately :) thank you, actually there is one more project...

Okay, I added one more, and also edited the RegensUnite.... solved your comments, and applied suggestions, thank you so much @laurenluz

https://docs.google.com/document/d/1XMknJFoIzKxtN5BR6myo36ULKj7xFLckEpRkOG6blao/edit?usp=sharing

Looks better now?

[2022-06-28 07:26] danelsuga commented on #707
I had a meeting with Gideon the other day to hear his experience and thoughts. I'm reading now and plan to forge an outline shortly. Maybe we should brainstorm that together, or should I just give it a go myself?

[2022-06-28 07:44] danelsuga commented on #622
Anybody working on this lately? Reaching out to Gitcoin grant projects? Would be awesome if we could blaze through this together and kill it.
@NikolaCreatrix @Elizardwizzard
@clara-zi

[2022-06-28 07:56] danelsuga commented on #698
What's our next step on this @SymSL @laurenluz ?

[2022-06-28 14:33] laurenluz commented on #698
did you get a chance to walk through the dapp while considering the different audiences? If you feel like the content is easily understood/accessible for 101, 201  & 301 level audiences, I think we're good :)

[2022-06-28 14:39] laurenluz commented on #707
I think it would be awesome if you got started with something and then we had a meeting to go over it/add to it? wdyt?

[2022-06-28 15:23] laurenluz opened #750 "GIVpower explainer blog post"

[2022-06-28 15:52] SymSL commented on #698
Hey Suga and Lauren, great additional comments on this - The next step is putting these on the Giveth Planning Board on github for the devs to implement: https://github.com/Giveth/giveth-dapps-v2/issues

[2022-06-28 16:24] #741 closed

[2022-06-28 16:27] WhyldWanderer commented on #538
Here is the doc:
https://docs.google.com/spreadsheets/d/1IKjEE8Vg1P2sxlle6imtf-eBljNMKTnCTV8P0qlntFg/edit?usp=sharing

Next step: Forum post by the end of the week

[2022-06-28 16:43] WhyldWanderer commented on #727
Agree! I think this looks great!
And yes.. i think that the calendar link should link directly to the event here rather than the discord channel:
https://calendar.google.com/event?action=TEMPLATE&tmeid=ZTgyanZvNjMzYnB0bHJvODRraGFwdDdxbDhfMjAyMjA2MjlUMTkwMDAwWiB3aHlsZHdhbmRlcmVyQG0&tmsrc=whyldwanderer%40gmail.com&scp=ALL

[2022-06-28 16:54] danelsuga commented on #622
@c0ric0ri join the Gitcoin outreach party! :smile:

[2022-06-28 16:54] laurenluz commented on #742
Looks great! I queued the draft up in our scheduler, so it's ready to tweet this week. I copy/pasted the final draft in the doc, just so you can have a look. I made some small changes live... for example, by adding in a final tweet that asks people to RT the first one.

GREAT job, Nikola! These threads are soooo helpful, for me, for our twitter & for the projects!!

Will make an issue for next rou

[2022-06-28 16:55] laurenluz opened #751 "Tweet Thread Round 15 Projects"

[2022-06-28 16:58] laurenluz commented on #723
They sent me a link! Griff's part starts at 1hr: https://www.coindesk.com/video/recent-videos/consensus-2022-foundations-ethereum/

@ahmadabugosh

[2022-06-28 16:59] c0ric0ri commented on #740
@WhyldWanderer @clara-zi

[2022-06-28 18:14] MoeNick commented on #734
Yeah we just add the functionality today due to problem of receiving some donations foe exchange addresses on Gnosis (we don't have xDai network anymore)
So right know entering both addresses is required, we can change it in backend manually (if PM don't want to raise fund in any of them) but the ux-flow is in-progress by @mosaeedi to add a seamless active/deactivate network in this form.

[2022-06-29 00:46] Cotabe commented on #727
Thanks everyone.

@NikolaCreatrix I like the suggested changes.

@clara-zi Thanks for the input. But I got confused with all the links. Which link did you mean?

@WhyldWanderer Maybe we could add both Discord and Google calendar just in case. Because when I follow your link it takes me to my calendar and says the event could not be found.

This is what I think for each link:
Discord. I added the c

[2022-06-29 00:48] Cotabe commented on #730
Initial setup for pilot is mostly ready. I am still testing the labels, not always working.

[2022-06-29 19:20] #748 closed

[2022-06-29 22:07] dework-integration[bot] opened #752 "This is a test from DeWork"
Would it be convenient that issues get created from DeWork into Github?

[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/giveth/giveth-planning-1?taskId=37a9ace9-ef4d-4153-949a-0cfa84f469c0)

[2022-06-29 22:14] Cotabe opened #753 "Cotabe keep testing DeWork integrations jajaja"
I know it will work now

[2022-06-29 22:17] Cotabe commented on #753
Totally forgot the label

[2022-06-29 22:29] Cotabe opened #754 "New test for DeWork"
Will set up the label from the very beginning

[2022-06-29 22:38] Cotabe opened #755 "This is the issues 100"
Couldn't help myself of making this issue while testing

[2022-06-29 22:39] ahmadabugosh commented on #723
Thanks for the support @laurenluz & @danelsuga !

@laurenluz for the auto tweet message, are you fine with this?
" It may seem like a slow crypto month, but we've been keeping busy at Giveth. Read our top GIVnews highlights from June:
🗺 Hitchhiker’s Guide to the Giveth Galaxy
🤑 New GIV/DAI Farm
👾 [@karmaticacid](https://twitter.com/karmaticacid)
 at [@MetaFam](https://twitter.com/MetaFam)
👥 [@theg

[2022-06-29 22:39] #755 closed

[2022-06-29 22:39] #754 closed

[2022-06-29 22:40] #753 closed

[2022-06-29 22:40] #752 closed

[2022-06-29 22:42] #743 closed

[2022-06-29 22:42] #744 closed

[2022-06-29 23:12] laurenluz commented on #723
Yeah that's fine! Will it go out tomorrow?

[2022-06-29 23:17] ahmadabugosh commented on #723
@laurenluz Yes, was planning on it! Let me know if you have a time preference (should I make it 8:40am costa rica time like last time)?

[2022-06-29 23:22] laurenluz commented on #723
Yeah that's great! Thanks @ahmadabugosh

[2022-06-29 23:55] scottbenjd commented on #734
@ahmadabugosh @laurenluz @c0ric0ri

[Here's the rough version of the project setup video](https://drive.google.com/file/d/1nyZgswEbmKKdz1R-SCt3P5wVo4qdwuaV/view?usp=sharing)
There are a couple specific points I could use some feedback on + any other changes you think would improve the video.

1:35 - add profile picture upload? I skip it in the video. but could be a fun addition. Maybe use a meme.

[2022-06-30 12:45] clara-zi commented on #710
https://docs.google.com/document/d/1tULJI-K9qlf8FrwkkEnwmHkZbfiM-TFmWTapQgcY6MM/edit

[2022-07-04 10:50] danelsuga commented on #509
This should be done now. Just looking for one updated Google Drive link (or remove reference). What do you think @laurenluz ?

https://docs.google.com/document/d/1pV-gD14E0rV_hlbOPB3JhJd2-6tIEFRIi8QQ6_25aI4/edit#

[2022-07-04 10:52] danelsuga commented on #707
Moving along slowly but surely. Hope to have something for your review @laurenluz in a week or so (maybe longer on account of EthBCN).

[2022-07-04 10:53] danelsuga commented on #676
Any solutions on this yet?

[2022-07-04 10:55] danelsuga commented on #698
@SymSL how shall we parse out the different issues? Do you want to go through your doc and pull all of them out one by one? Or should I do the ones I added myself?

As for the audit, I'm going to walk through the website again.

[2022-07-04 13:00] SymSL commented on #698
Hey @danelsuga I'll spend time on this tonight and add the ones I can. If you'd be able to add yours that will be great. With some of the ones I mentioned, there were decisions to make on the exact flow or placement of assets but I'll brief them in and we can discuss with the rest of the team from there.

[2022-07-04 20:07] laurenluz commented on #509
it's awesome, left just some small comments... once they're resolved I think it's ok to upload. Thanks Suga!

[2022-07-05 00:41] SymSL commented on #698
Hello, I've opened up some tasks for the dev team, please share any suggestions you may have on them:
These cover issues on slides 1, 3, 4, 5 so far

Slide 1, Button text changes: https://github.com/Giveth/giveth-dapps-v2/issues/1058
Slide 3: Delaying the "Wallet Connection" Request: https://github.com/Giveth/giveth-dapps-v2/issues/1059
Slide 4: Adding the Report an issue/ Ask a question icons on

[2022-07-05 10:27] danelsuga opened #792 "Updating "Meet the team""
![meet our team.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/013c5537-7474-4c3d-9407-d1aad0e04865)

@SymSL 's comment:
I agree, would be great if new team members could be added even if they are just generic images instead of photos. I am not sure who has access to the back end of the website but this could be done by someone in comms, or by HR?  Maybe the dev team will have

[2022-07-05 10:36] danelsuga commented on #698
I've also opened up issues:
1063
1064
1065
For slides 6, 7, and 8 respectively.

I'm unable to assign anyone to them however.

[2022-07-05 10:47] danelsuga commented on #509
@WhyldWanderer when you get a chance, could you please check out a couple small loose ends in this doc? Thank you!!

https://docs.google.com/document/d/1pV-gD14E0rV_hlbOPB3JhJd2-6tIEFRIi8QQ6_25aI4/edit#

[2022-07-09 19:50] ahmadabugosh commented on #718
@scottbenjd said he'll work on this and should have the new POAP ready by this week!

FYI, @laurenluz @WhyldWanderer

[2022-07-11 14:02] NikolaCreatrix commented on #751
Sorry for the delay. This round was also very low on applications and pretty tough. We were able to verify only 3 projects this time.

Draft ready here:

https://docs.google.com/document/d/1VB-D-KbHoMyT_SAMjbuzSvpAleLL_iWI7A0wwBJs3-Y/edit?usp=sharing

[2022-07-11 14:14] laurenluz opened #756 "Devcon community hub application - July 31"
https://forum.devcon.org/t/rfp-5-community-hubs/454

[2022-07-11 16:00] laurenluz commented on #751
This is great Nikola! Thanks!

[2022-07-11 16:02] scottbenjd commented on #718
@laurenluz @WhyldWanderer @ahmadabugosh
Okay, I have a drop created for a first round of POAPs using the same method we do for Givbacks. [Donor Course POAP](https://app.poap.xyz/admin/events/giveth-donor-101-course-completion-round-1-2022)
If we're okay using this method, we just need eth addresses.

How frequently do we want to do donor course poap distributions? Same schedule as givbacks?

[2022-07-11 17:35] laurenluz opened #757 "ETH Barcelona recap blog post"

[2022-07-11 17:35] laurenluz opened #758 "Diversity in tech blog post"

[2022-07-11 17:36] laurenluz opened #759 "Tweet Thread Summary of Evolving Nonprofits into Regen Economies"

[2022-07-11 17:36] laurenluz opened #760 "Soundbites from ETH Barcelona"
For twitter/social media shares.

Lauren - panel
Griff, Willy, Tam, Livia - talk

[2022-07-11 22:14] ahmadabugosh commented on #718
thanks @scottbenjd !

But I'm still a bit confused on the process. Do we need the addresses before you create the POAP, so we do it in rounds, or is it possible to keep adding addresses to the same POAP?

For example, if 10 people finish the quiz, then we create the POAP with those 10 addresses, then a week later we want to add 5 more people, is that possible? Or do we need to create a new POAP fo

[2022-07-12 12:17] WhyldWanderer commented on #718
Yeah... thats the trouble with this method. We will have to create a new poap delivery for every round of distribution because we have to add the addresses at the time of creation and you cannot add more in the future.

@ahmadabugosh - have we already sent a POAP to anyone for completing the course?
If so, we should continue to use this same drop and just make a new delivery rather than a whole ne

[2022-07-12 12:54] scottbenjd commented on #718
Okay yeah. If it's 10-20 each week and we have email contacts, requesting additional claim links seems like the way to go. I was thinking if  it's 150+, like givbacks then sending individual links could be more time consuming, unless you have some way to automate

You were already requesting more links for the poap we already created right, @WhyldWanderer?

[2022-07-12 12:58] WhyldWanderer commented on #718
Yes.. Im not sure if any have gotten sent yet though. Ahmad was working on this part.

[2022-07-12 13:11] ahmadabugosh commented on #718
No we didn't send any yet, so we can decide on the process that makes the most sense.

What's the next step for this?

[2022-07-12 16:30] laurenluz opened #761 "Questions from ETH BCN"
What were people asking? What issues did they run into?

We want to collect a list of questions and then can use this to add to our FAQ, or improved the flow.

- what is giveth's mission?
- why do you use gnosis chain?
- how is giveth sustained/revenue?
- "verified"... people aren't sure if this means they are legit, or if they are just givbacks projects. We don't want to give the impression that

[2022-07-12 16:30] laurenluz opened #762 "Giveth whitepaper"

[2022-07-12 16:35] laurenluz opened #763 "Collect Published interviews for redistibution"
Cotabe
Lauren - ETH BCN crew, youtube blog, spanish eth bcn
Griff - eth bcn
Dani

@clara-zi are you down to collect these interviews and put all the links in this issue? then we can redistribute them

[2022-07-12 16:55] c0ric0ri commented on #622
@clara-zi @scottbenjd @c0ric0ri @danelsuga + need one more to split up the 1000 into 200 each for 5 people to tackle outreach

[2022-07-12 17:09] freshelle commented on #761
These are some of the questions asked from me:

- where does the "money" come from for paying the GIVbacks?
- what is your business model?
- what is the process of verifying the projects?
- do you only accept crypto?
- how do project owners convert their crypto to fiat?
- what can you do with the GIV tokens received from donating? (follow-up question: can you sell it or donate it back?)

[2022-07-12 19:39] laurenluz commented on #745
left some comments in there @NikolaCreatrix! It looks like a great breakdown. feel free to ask anymore questions.

[2022-07-12 19:41] #751 closed

[2022-07-12 19:46] WhyldWanderer commented on #689
Done!

[2022-07-12 19:46] #689 closed

[2022-07-12 23:43] SymSL commented on #460
Hey Lauren, I think these are great, agree on most and suggestions on some:
- For-good Projects
- GIVeconomy
- DAO
- Tech (_Would this not also be under Platform - what would be different here?)_
- Donating on Giveth
- Courses / 101s - would this be articles where people would learn? May be better to have a category for Learn or Educate (eg there is a Coinbase Learn)
- dApp (or maybe "Platform" is

[2022-07-13 00:02] SymSL commented on #535
Hey @laurenluz, yes its here: https://docs.google.com/document/d/1g-7URt_-Ugmw6VtKWVDF6nENst689b4dzZ9aaAI8ewo/edit

Feel free to adjust and suggest. These will be tweaked for each send out as well

[2022-07-13 10:15] danelsuga commented on #622
Suga = 400-600

[2022-07-13 12:37] scottbenjd commented on #622
I added a project id column so we have a number that follows the row regardless of sorting. Taking ids 801-997.

[2022-07-13 13:23] danelsuga commented on #760
Notes: https://docs.google.com/document/d/1IFuHIl0FvzyNYn7XCEYLZ5AhJDn8Jy77dGJ59cY2LRk/edit

[2022-07-13 13:24] danelsuga commented on #757
Notes: https://docs.google.com/document/d/1IFuHIl0FvzyNYn7XCEYLZ5AhJDn8Jy77dGJ59cY2LRk/edit

[2022-07-13 16:05] laurenluz opened #764 "NICE token documentation"

[2022-07-13 16:05] laurenluz opened #765 "NICE token announcement blog post"
@divine-comedian it would be cool if you added some fun pics of people in swag in this one.

[2022-07-13 16:40] scottbenjd commented on #718
Don't know exactly where we need to pick up the process but this is what I think would be the best course of action.

1. Remove obvious bot submissions
2. Distribute POAP for remaining submissions with BOTH eth address and email.
If you can get the list of these eth addresses, we can create a poap delivery and return the delivery link to you to distribute via email.
3. Distribute POAP for remainin

[2022-07-13 17:03] laurenluz opened #766 "Weekly tweet about farming rewards - GIVfarm friday"
Every 2 weeks rewards change. we should tell people.

[2022-07-13 21:37] laurenluz commented on #718
we got a looot of submissions via twitter the last few days. I think we might need @missgene's help to filter them.

[2022-07-13 21:47] divine-comedian commented on #764
https://docs.google.com/document/d/1fClRSLl2nZyrEge0-gnU-8ik950BXmVh3MmdQtfhJ_g/edit?usp=sharing

first draft for review

[2022-07-13 23:05] scottbenjd commented on #718
I know we wanted to get at least an initial distribution out this week. If there’s a list of addresses ready, could we go ahead with those since we’ll have to do more deliveries in the future anyway?

[2022-07-14 14:34] SnakeGH commented on #623
Survey is up and viewable for final offerings here: https://docs.google.com/document/d/1tJeL9XTnmh11Mb4Qc-5VSB3rY8ymlgbBjZ-8Jb48mUU/edit

Also, please take the typeform and let us know if there are any issues with it here: https://giveth.typeform.com/donorsurvey?typeform-source=www.google.com

[2022-07-14 18:00] laurenluz opened #767 "BitDAO proposal tweet thread"
We need to emphasize this! It's a huge opportunity for Giveth to get funding.

https://twitter.com/thegrifft/status/1547621581102272512

[2022-07-14 18:30] NikolaCreatrix commented on #761
These are questions I collected from Cotabe, Rodri, Zepti, and Heather:

- What are tokenomics?
- How to know which projects give them tokens when they donate?
- How do we sustain ourselves?
- In which networks can people donate?
- How is the Giveth token designed?
- Does the Givtoken have a treasury?
- How are you solvent as an organization?
- How do the projects get the money, like converting cr

[2022-07-14 19:31] divine-comedian commented on #765
first draft ready for review!

https://docs.google.com/document/d/1wMJaKIwyKxM9plboegWAw2RL3B9lnJ6A6Eht8Pyih_k/edit?usp=sharing

[2022-07-14 21:33] laurenluz commented on #765
you're amazing. that was fast. I made some comments/suggestions, feel like it's pretty good to ship! Thanks so much, motch!

if we could get one more read through from @danelsuga @WhyldWanderer or @c0ric0ri - would be awesome.

[2022-07-15 10:15] danelsuga commented on #765
OK! Great job, Mitch! I made a pass.

[2022-07-15 13:11] laurenluz opened #768 "Update GIVbacks email to include $nice"
@WhyldWanderer soon we'll be distributed $nice as well as GIVbacks.

@divine-comedian already wrote the blog for it.

Can we add the "you may also have $nice to claim" bits to the regular GIVbacks email, which will start to go out soon.

[2022-07-15 14:02] c0ric0ri commented on #509
Linking the copy of the onboarding email I received here: https://docs.google.com/document/d/1pv0SgbwZwHJERGtqG1Wyr83zsokffN6Z6uMyr7QJJ04/edit?usp=sharing

[2022-07-15 14:05] c0ric0ri commented on #655
@laurenluz moving this to done :)

[2022-07-15 14:08] c0ric0ri commented on #622
I'll just take 1-200 then

[2022-07-15 14:09] c0ric0ri commented on #622
@clara-zi will you take 200-399? I'll skip number 200 :)

[2022-07-15 14:26] laurenluz commented on #655
https://twitter.com/Givethio/status/1547599825088045057

[2022-07-15 14:26] #655 closed

[2022-07-15 14:35] c0ric0ri commented on #717
@laurenluz @danelsuga I like Learn or Connect. Was a decision already been made here?

[2022-07-15 15:17] divine-comedian commented on #768
here's a link to the documentation draft for context:
https://docs.google.com/document/d/1fClRSLl2nZyrEge0-gnU-8ik950BXmVh3MmdQtfhJ_g/edit?usp=sharing

[2022-07-15 16:24] c0ric0ri commented on #622
@Cotabe would you have capacity to take on a group of projects for outreach?601-800 needs coverage

[2022-07-15 17:28] laurenluz commented on #704
https://gnosischain.substack.com/p/-gnosis-chain-weekly-01-july-2022

[2022-07-15 17:28] #704 closed

[2022-07-15 17:31] laurenluz commented on #717
Learn & Connect are both good! I'm partial to Connect, but I think @danelsuga you just pick your favourite and then make an issue in the v2 repo. You can assign Mateo & tag MoeNick

[2022-07-15 22:16] clara-zi commented on #622
yeh - or swap with you? - I'd already made a little start on 1-200 back in the day..

[2022-07-16 10:03] danelsuga opened #769 "Giveth House project description"
Updating the Giveth House project description on Giveth.io

https://docs.google.com/document/d/1Xor7Dlp7_yEm-XtaxuIhyoE1lITfp_zHZFKRrL3cqOQ/edit?usp=sharing

@laurenluz
@GriffGreen

Need Franco's handle.

[2022-07-16 11:27] NikolaCreatrix commented on #622
Okay, did my part. Reviewed all 1000 items, and projects I found on Giveth are marked with purple and commented on.

[2022-07-16 13:49] danelsuga commented on #717
Ok. Connect seemed vaguely confusing as we have a Connect WG? Maybe that's out in left field. Also, engaging in one-way media (reading, watching) is not really connecting. Maybe it is. I don't know. :P I think the idea of connect is better for referring to Discord and other two-way media.

[2022-07-17 14:37] danelsuga commented on #622
🙏🏼

[2022-07-18 10:29] laurenluz commented on #717
Sounds good! If you're done w/ this issue now, go ahead & close it. I think I saw the dev issue was already created.

[2022-07-18 10:30] #717 closed, assigned to mateodaza

[2022-07-18 10:53] laurenluz opened #770 "Angel Vault Announcement Blog Post"

[2022-07-18 10:53] laurenluz opened #771 "Angel Vault Announcement Tweet Thread"

[2022-07-18 11:42] laurenluz opened #772 "Project Verification Form Tweet Thread"
This is a new dApp feature that we should announce/share via Twitter & also perhaps facebook.

[2022-07-18 11:42] laurenluz opened #773 "Multi-address Feature Tweet Announcment"
New product being added to the dApp. we should announce in a tweet/facebook.

[2022-07-18 13:09] laurenluz commented on #769
It;s great Suga, although, I think Franco should be the person to review it :)

You can send it to him via telegram, I will DM you his handle

[2022-07-18 13:10] danelsuga commented on #769
Yes, I already sent it to him. I tagged you two to keep you in the loop! :)

[2022-07-18 17:41] danelsuga commented on #760
Lauren panel: Regen Mentalities https://youtu.be/dT8ls6OONsY?t=21318

[2022-07-18 18:30] c0ric0ri commented on #760
Thanks @danelsuga i'll talk Griff's to start because it's relevant to another issue I'll also work on

[2022-07-18 19:15] scottbenjd commented on #718
hi @missgene were you able to remove spam up to a certain date? is so is there another sheet with those addresses/emails?

[2022-07-18 19:18] danelsuga commented on #760
Great!

[2022-07-18 20:05] danelsuga commented on #707
On hold due to ETHBCN and ETHCC.

[2022-07-18 20:08] danelsuga commented on #622
It looks like all sections but one (of 200 projects each) are actively being worked on.

[2022-07-18 22:38] Cotabe commented on #687
I will be following up this week @danelsuga

[2022-07-18 22:39] danelsuga commented on #687
♥️🙏🏼

[2022-07-19 00:01] scottbenjd commented on #718
I just submitted a petition for the first delivery. Should hear back sometime tomorrow.

[2022-07-19 00:12] scottbenjd commented on #734
Moving back to in-progress since I'm working on adding the multiple addresses part. Any feedback on other parts is welcome!

[2022-07-19 15:16] #567 closed

[2022-07-19 15:57] SymSL commented on #761
I had similar questions to the above & thought it would be great to communicate some of the vision from Griffs talk as content pieces too.

Another question I've gotten after ETH BCN is from a project signing up, they had a few questions along the way so would be good to do a very basic step-by-step article

[2022-07-19 16:18] c0ric0ri opened #774 "Tweet thread introducing NICE token"

[2022-07-19 16:24] c0ric0ri opened #775 "Angel Vault documentation"

[2022-07-19 16:26] c0ric0ri opened #776 "Video Walkthrough for Angel Vault"

[2022-07-19 16:27] c0ric0ri opened #777 "Video Walkthrough for NICE Token"

[2022-07-19 16:27] c0ric0ri opened #778 "Video Walkthrough for GIVpower Launch - not blocker for launch, Dec 15"

[2022-07-19 16:33] c0ric0ri opened #779 "GIVpower Memes!"
@oyealmond would be awesome if you can please set up a meme party for this!

[2022-07-19 16:34] c0ric0ri opened #780 "Tweet thread to introduce GIVpower first launch"

[2022-07-19 16:45] c0ric0ri opened #781 "NICE token memes!"

[2022-07-19 16:47] c0ric0ri commented on #777
Pending when the frontend is live - @divine-comedian you can let us know

[2022-07-19 16:52] c0ric0ri opened #782 "BitDAO Proposal Communications"
We want to attract more attention to our proposal, would be a great start to listen to the twitter space that Griff and Yas ran on this topic and note down content

[2022-07-19 16:58] c0ric0ri opened #783 "Step-by-step Guide for adding your project to Giveth"

[2022-07-20 05:13] MoeNick commented on #734
@scottbenjd pls hold on, we soon have another release with the latest changes on this page.
Appreciated it @ahmadabugosh,  if any comms team members attend our daily sync call to be aware of these changes. Usually, we have @WhyldWanderer or @laurenluz
However, for your information, this part should be like this, which @RamRamez is working on it now and we have it on stage this week.
![image](https

[2022-07-20 06:10] MoeNick commented on #734
Now it's merged on [Staging](https://staging.giveth.io/create)

[2022-07-20 06:15] MoeNick commented on #734
Please be aware the categories part is also going to change, but I guess we can not have in sooner than 45 days from now. If you guys are interested in what's going on, pls take a look at [it's Epic](https://github.com/Giveth/giveth-dapps-v2/issues/452). Also, [this one #1125](https://github.com/Giveth/giveth-dapps-v2/issues/1125) is related to this exact form which is waiting for @mosaeedi to com

[2022-07-20 17:06] scottbenjd commented on #734
Thanks for the update @MoeNick. No worries. I will wait to make those edits.

[2022-07-20 23:20] Cotabe commented on #782
Right now, engagement in the forum is the thing that is supposed to move things forward.

Yass made some research & realized that most of the projects that got funding were co-authored by BitDAO investors. So we are trying to see who to engage to move it forward.

I will work with Yass on this and report back.

Anyways, here are some notes from the Twitter space:

GRIFF
I see Bit DAO and Giveth al

[2022-07-20 23:56] WhyldWanderer commented on #509
Looks good @danelsuga! I answered some questions in the comments and changed one little thing...

Thanks so much! I bet it feels great to finally check this one off.

[2022-07-20 23:57] WhyldWanderer commented on #509
@divine-comedian Can you help us get this one up in the docs?

[2022-07-21 02:02] Cotabe commented on #775
GM!

Here is draft for the documentation: https://docs.google.com/document/d/14Fd-GzbH8WOLyfIiXDvioWaRs3Sh9dMXc2wEdQ5KrYw/edit#

Maybe @laurenluz or @danelsuga can check it and correct what might be needed.

:)

[2022-07-21 07:01] danelsuga commented on #775
Thanks @Cotabe ! Will do!

[2022-07-21 07:37] danelsuga commented on #509
Great! Thanks @WhyldWanderer ! This is ready to go @divine-comedian ! Thanks!

[2022-07-21 11:50] c0ric0ri commented on #760
Transcript for Griff's talk (Crypto Anarchist Dream): https://docs.google.com/document/d/1zOk1ck4pk-wZFniKlm-SJNt19g56Vdxa4bNJxnZBXTQ/edit?usp=sharing

[2022-07-21 16:45] divine-comedian commented on #509
LIVE!

https://docs.giveth.io/whatisgiveth/commsContributorGuide

[2022-07-21 16:51] c0ric0ri commented on #774
FYI here is the working doc! https://docs.google.com/document/d/1IqKBlbktguSovW61K28PUPfRDQNIsQmI5HAI_SUPe0Y/edit?usp=sharing

[2022-07-22 10:38] NikolaCreatrix opened #784 "Tweet thread for R16 verified projects"
Hi @laurenluz, I hope you don't mind I went ahead and created this new issue for myself.

Will be sharing the doc link later today...

I am just wondering if you can help me with this - I would love to be able to assign myself (at least) for the issues I create and want to take on... do I need to get some other permissions to be able to do this here in Github?

[2022-07-22 10:52] ahmadabugosh commented on #718
Finally happy to close this! :)

[2022-07-22 10:52] #718 closed

[2022-07-22 10:52] ahmadabugosh opened #785 "Tweet about Donors 101 Course POAP"

[2022-07-22 10:55] ahmadabugosh commented on #785
Hey Lauren, can we tweet at some point that we have sent out our first round of the POAP for the donors course to everyone that was eligible?

Also, I added another filter. For them to qualify, they need to have donated at least $1 to any project (I think that's the best way to prevent these POAP farmers) https://docs.google.com/forms/d/e/1FAIpQLSf8hzFS5kq9pZYVClNR6GC6EavjpeYsFFD_DNKMq19jM6_alw/vi

[2022-07-22 10:56] ahmadabugosh opened #786 "Newsletter July 2022"

[2022-07-22 10:56] ahmadabugosh opened #787 "newsletter"

[2022-07-22 10:56] #787 closed

[2022-07-22 11:52] NikolaCreatrix commented on #784
The thread is ready here @laurenluz

https://docs.google.com/document/d/1D16AAm9PW3frBDM9zBlwuBvmkJccBTyuyUYb5qnJfys/edit?usp=sharing

[2022-07-22 11:57] NikolaCreatrix commented on #784
I tried to assign myself, move the issue to a different section as well as add a label, and non of that worked (it says there is an error updating the issue) :(

[2022-07-22 14:21] dework-integration[bot] opened #788 "Translate $nice documentation to Turkish"
We recently launched the $nice token and while we have the documentation in English having the Turkish version will be important to inform local users on how to earn and use this new token!  \n  \n The original documentation can be found here: \n <https://docs.giveth.io/tr/giveconomy/niceToken> \n  \n and inside our Github repo here you can see the placeholder article in MD format: \n <https://git

[2022-07-22 14:26] dework-integration[bot] opened #789 "Translate $nice documentation to Spanish"
We recently launched the $nice token and while we have the documentation in English having the Turkish version will be important to inform local users on how to earn and use this new token!

\
 The original documentation can be found here:

\
[https://docs.giveth.io/es/giveconomy/niceToken](https://docs.giveth.io/tr/giveconomy/niceTokenand)

\
and inside our Github repo here you can see the placeh

[2022-07-22 15:02] ahmadabugosh commented on #786
Hi team, here is the issue if you have any topics you'd like to add to the upcoming newsletter (to be send out at the end of next week).

Also, going forward, I recommend you add any new topics on the sheet here (I cleaned it up and simplified it a bit) :
https://docs.google.com/spreadsheets/d/1VOOt3q5VPItxK7STBBC-qYSzX5qhHBf2Z1i-R8Ok9ko/edit#gid=1125462361

@laurenluz @c0ric0ri @danelsuga @Cotabe

[2022-07-22 15:59] dework-integration[bot] opened #790 "Update Core Giveth User Guides"
The Giveth documentation is the go to place to find detailed tutorials on how to go about doing some of the core user functions on the Giveth platform. Actions such as donating, making a project, interacting with different types of web wallets are all documented there…  \n  \n However a lot of this documentation has fallen out of date and is in need of a breath of fresh air! \n  \n We are looking

[2022-07-22 15:59] dework-integration[bot] opened #791 "Update Core Giveth User Guides"
The Giveth documentation is the go to place to find detailed tutorials on how to go about doing some of the core user functions on the Giveth platform. Actions such as donating, making a project, interacting with different types of web wallets are all documented there…  \n  \n However a lot of this documentation has fallen out of date and is in need of a breath of fresh air! \n  \n We are looking

[2022-07-22 23:15] #789 closed

[2022-07-22 23:41] divine-comedian commented on #764
live!

https://docs.giveth.io/giveconomy/niceToken/

[2022-07-22 23:41] divine-comedian commented on #777
this is live! you may proceeed

[2022-07-23 10:09] hitasyurek commented on #788
Hello, I want to apply for this job, I haven't worked much on github before, but I can help.

[2022-07-23 14:35] #788 closed

[2022-07-25 13:59] clara-zi commented on #622
On 'Extract' tab, I added a lookup to bring Suga's research and project detail from 'Sheet1'.

[2022-07-25 15:23] laurenluz commented on #672
@divine-comedian I made a doc with roughly the list form of stuff we should include in the documentation. Thanks so much for offering to help w/ this.

https://docs.google.com/document/d/1UdM5_TFXOkl0Hj4oj2VRkGNYzcKHpGdXY_8NR3Sck6Q/edit

[2022-07-25 15:26] laurenluz commented on #774
https://twitter.com/Givethio/status/1550487871550889984

[2022-07-25 15:26] #774 closed

[2022-07-25 15:34] laurenluz commented on #784
Aweome Nikola! Thanks!
Also I added you to the "Communications" team, which should give you write access on this repo. see again if you can move issues.

[2022-07-25 15:40] c0ric0ri commented on #768
hey @WhyldWanderer how are things looking with this?

[2022-07-25 16:04] laurenluz commented on #784
https://twitter.com/Givethio/status/1551599224118206466

[2022-07-25 16:36] c0ric0ri commented on #757
Hey @danelsuga do you have capacity to finish this week? Thinking it would be cool to get it out by end of this month!

[2022-07-25 16:49] laurenluz commented on #775
Hey @Cotabe ! love that you took a lot of this from the forum post, but since this is no longer a proposal, it is a documentation, we should explain what has happened, how it works, how to use it.

We should say:
- oneGIV can be minted using 100% DAI *here*(link). You can also get oneGIV by traiding on Uniswap*(link).
- You can participate in the program by getting oneGIV & then providing liquidit

[2022-07-25 16:50] c0ric0ri commented on #759
@laurenluz do you have the slides to drop in here?

[2022-07-25 17:00] laurenluz commented on #759
@rodricastillo9013 can you post a link to Griff's Cryptoanarchist dream talk here?

[2022-07-25 17:01] #764 closed

[2022-07-25 18:51] c0ric0ri opened #793 "Griff's Talk at SBS Tweet Thread"

[2022-07-25 18:52] laurenluz opened #794 "Blog Post about Evolving Nonprofits into Regen Economies - from Griff's SBS talk"
https://docs.google.com/presentation/d/11lYUTWk3YomY3N8lj1CqR7gE1PxxzHutyQHCaG-QVVI/edit#slide=id.g115a6c4ca4d_0_27

[2022-07-25 18:53] #793 closed

[2022-07-25 18:55] #790 closed

[2022-07-25 18:57] laurenluz commented on #772
@WhyldWanderer if you can just put a bullet form list in here when it's ready to go w/ some details, that would be super helpful!

then I can write a thread

[2022-07-25 18:58] laurenluz commented on #773
@WhyldWanderer if you can just let us know what's the info is here in a bullet list, I can make a thread :)

[2022-07-25 18:59] laurenluz commented on #767
Yass — 07/19/2022
I was wondering if we should make it a thread and add some info in the comments as well. so something like:
1/ #Giveth and #BitDAO are incredibly aligned in vision as we both see the opportunity in the public goods space – $10.5 trillion was spent only in the US on public goods paid by taxpayers, donors, governments, nonprofits who are all sacrificing and getting nothing in retur

[2022-07-25 19:01] laurenluz commented on #763
@clara-zi did you find these links?
I posted mine in the comms channel

[2022-07-25 19:01] laurenluz commented on #749
https://docs.google.com/document/d/13RjNKMopItIAWtwVKh7U18Syq_2CYAGeZHOzQBQJa1U/edit

[2022-07-25 19:01] #652 closed

[2022-07-25 19:01] #651 closed

[2022-07-25 19:02] #648 closed

[2022-07-25 19:02] #649 closed

[2022-07-25 19:04] laurenluz commented on #646
It would be great if we could have a typeform for some data collection for delegates on GIVpower when we launch staking & locking.

[2022-07-25 19:06] laurenluz commented on #646
@tinycoco would be great for this, I think

[2022-07-25 19:09] laurenluz commented on #786
$nice token launch
ethbarcelona - many talks! ask @danelsuga for the links
ethcc - also many talks! @c0ric0ri can send you the links

[2022-07-25 19:12] laurenluz commented on #786
Griff was also on this panel: https://twitter.com/karmaticacid/status/1548741609067528193
And I was in this interview: https://twitter.com/AravaGerzonRaz/status/1547538772790755328
Maybe we want to shill the project nominations thing? https://twitter.com/Givethio/status/1547950498493239299

[2022-07-25 19:13] MoeNick commented on #792
Thanks, you moved this :)

[2022-07-25 19:15] #526 closed

[2022-07-25 19:16] laurenluz commented on #702
@divine-comedian @pkretzschmar is this done?

[2022-07-25 19:16] #703 closed

[2022-07-25 19:18] laurenluz commented on #765
https://medium.com/giveth/the-perks-of-being-nice-support-giveth-and-earn-rewards-df910a792319

[2022-07-25 19:18] #765 closed

[2022-07-25 19:23] laurenluz commented on #676
Working on a GIVbacks calculator: https://github.com/Giveth/giveth-dapps-v2/issues/481#issuecomment-1194165207

[2022-07-25 19:23] #676 closed

[2022-07-25 19:32] laurenluz commented on #446
@WhyldWanderer do you think we can close this issue? is it embedded in our other flow better now?

[2022-07-25 20:46] divine-comedian commented on #672
first draft for review:
https://docs.google.com/document/d/12P-LjYWIBlUkASR8QOf2hC4J67-9sVmK1V6R21WsHKU/edit?usp=sharing

[2022-07-26 09:45] ahmadabugosh commented on #768
I created this draft (see the last paragraph for what was added based on the GIVbacks email). Open to comments! @laurenluz @c0ric0ri @danelsuga @WhyldWanderer @divine-comedian  https://docs.google.com/document/d/1vhkfCmp4KoSQjVHfFJI_1MjTcKrbdebYayb4bw2lWbs/edit

[2022-07-26 10:35] #784 closed

[2022-07-26 13:42] laurenluz commented on #509
OMG! Amazing!!! Thanks @danelsuga @WhyldWanderer @divine-comedian

[2022-07-26 13:42] #509 closed

[2022-07-26 14:08] laurenluz commented on #768
awesome @ahmadabugosh, I made some edits, I think it's good to go.

[2022-07-26 14:14] laurenluz commented on #792
@divine-comedian can you link to the spreadsheet that has the nrGIV recipients from last round?

Then @SymSL or @danelsuga - would one you be down to take that info and then make an open call to ask if any elginle people want to be added? You'll need their photo & title...

Then please make clear suggestions as to who should be removed, and who should be added + their relevant info (photo & title)

[2022-07-26 16:23] c0ric0ri opened #795 "Medium posts referencing ETH BCN talks"

[2022-07-26 16:31] c0ric0ri commented on #760
Just need time stamps mentioned here in the issue + the transcription of the 30s-45s clip:

Willy @clara-zi
Lauren's panel @SymSL
Griff's SBS Talk @Cotabe
Tam @scottbenjd
Livia @scottbenjd

[2022-07-26 16:49] c0ric0ri commented on #786
- include updates from the conferences
    - best talk would be Griff’s: SBS would be ideal explaining the Giveth roadmap, depends when it comes out (@c0ric0ri will keep eye out for its release)
    - including section about ETH BCN Giveth presence and onboarding numbers highlighted
- leave out commonstack talks due to space
- $nice launch
- teaser for angel vault launch
- donor survey
- project n

[2022-07-26 16:56] c0ric0ri commented on #782
@laurenluz will put out a shorter tweet about it this week

Let's then create a longer format compelling forum post or blog post to reference in a follow up tweet

[2022-07-26 16:57] c0ric0ri opened #796 "Blog post on BitDAO proposal"

[2022-07-26 17:00] c0ric0ri opened #797 "Fundraising 101 Session Email"

[2022-07-26 17:00] c0ric0ri opened #798 "Fundraising 101 Session Tweet"

[2022-07-26 17:20] SnakeGH commented on #747
Id like to run with this now and get a CRM going ASAP. It will be very beneficial not only for all items previously mentioned but specifically for Donor Relations.

Has Giveth operated with Hubspot in the past or does anyone remember setting up a free account?

@MoeNick, Ashley thought you might be the person to ask about this. Any insight by chance? Thanks!

[2022-07-26 17:29] laurenluz commented on #775
Thanks @Cotabe for getting this started. I picked up from where you left off.

First draft, almost ready for review is here: https://docs.google.com/document/d/1viCwIugLW9RaYDOQbTlDoQ_3afKmruY7eYrldFK8d1w/edit?usp=sharing

@danelsuga I'll just get you to review it when it's done.

[2022-07-26 19:25] laurenluz commented on #775
@danelsuga @divine-comedian @c0ric0ri @Cotabe

Please review:
https://docs.google.com/document/d/1viCwIugLW9RaYDOQbTlDoQ_3afKmruY7eYrldFK8d1w/edit#

[2022-07-26 19:26] laurenluz commented on #770
Working on this here:

https://docs.google.com/document/d/10o0xmlcr_DHDfdQ7rfxvk8kw18YuJLkc01sHYIuKFj4/edit?usp=sharing

[2022-07-26 19:35] MoeNick commented on #747
Hey, As I know, we did not. However, I would like to contribute on this, just let me know which Api you need to set it up.

[2022-07-26 21:43] divine-comedian commented on #792
https://docs.google.com/spreadsheets/d/1Kp8WqRwDGyORqaDcXpeGR2PnhVTMKlTdU-eDRWeDBN8/edit?usp=sharing

[2022-07-26 23:08] scottbenjd commented on #760
@ahmadabugosh  Here are two for Tam's presentation.  I think both could work as really short clips if you stop at the second time.

Reimagining profit to create a solarpunk future
- 52:11
If you are at this conference, you know what I mean by “solarpunk”, but for the benefit of those who may be watching at home, solar punk is the ecological and human centric vision of the future, an option we stil

[2022-07-27 10:18] laurenluz opened #799 "Lauren ETH BCN Video Snippet & Tweet"
This interview I think is reaally good/ shareable for twitter.

Would love a snippet/soundbite & a good tweet or thread about it. It's only 5 min and covers a lot of the Giveth vision.

https://www.youtube.com/watch?v=IkQRVb03aE0

@SymSL @c0ric0ri @scottbenjd - anyone up for it?

[2022-07-27 10:20] laurenluz opened #800 "101 level Giveth interview - turn it into a tweet thread & content for facebook!"
https://twitter.com/AravaGerzonRaz/status/1547538772790755328

This was an interview I did explaining Giveth but really for the 101 level audience. tried not to get too technical. Would be great to break into content for twitter & facebook (if we want)

[2022-07-27 12:26] SnakeGH commented on #747
I have gone ahead and started a Giveth account with Hubspot, as I wasn't able to locate any decentralized CRM options. Our account number is 26098969.

Please create a free Hubspot account and link to this Giveth account # so we can all be connected and use the CRM together :)

[2022-07-27 13:02] ahmadabugosh commented on #747
Thanks @SnakeGH! Anyone that wants access to it, just send Jake your email and he can add you

[2022-07-27 13:43] laurenluz commented on #749
@c0ric0ri to do some content batching

[2022-07-28 15:36] danelsuga commented on #769
This is done. Just waiting for Franco to add the pics and put it online.

[2022-07-28 15:38] danelsuga commented on #757
Working on this for next week.

[2022-07-28 15:50] danelsuga commented on #760
FYI here is the link for Griff's nearly same talk at ETHCC.

https://www.youtube.com/watch?v=LxyH9u4EBzw

[2022-07-28 16:34] WhyldWanderer commented on #664
This has already been uploaded to the docs!
https://docs.giveth.io/whatisgiveth/fundraisingGuide

Closing this issue for you @clara-zi!

[2022-07-28 16:34] #664 closed

[2022-07-28 16:35] WhyldWanderer commented on #768
I think it looks great @ahmadabugosh!

[2022-07-28 16:35] WhyldWanderer commented on #768
moving this to In Review!

[2022-07-28 16:38] WhyldWanderer commented on #727
weird @Cotabe... it works for me and goes only to that event...
Is anyone else havng trouble with it?

[2022-07-28 16:38] #446 closed

[2022-07-28 16:39] WhyldWanderer commented on #720
Join Community Building sync to learn more! Closing this issue for now

[2022-07-28 16:39] #720 closed

[2022-07-28 16:54] WhyldWanderer commented on #538
fourm post: https://forum.giveth.io/t/mandatory-updates-for-verified-projects/723

[2022-07-28 16:55] WhyldWanderer commented on #798
Event is over

[2022-07-28 16:55] #798 closed

[2022-07-28 16:55] #534 closed

[2022-07-28 16:55] danelsuga commented on #768
I had a peek. Thanks, @ahmadabugosh !

[2022-07-28 16:59] WhyldWanderer commented on #583
Weve been using these for a while now... seems to be working great.. closing this issue

[2022-07-28 16:59] #583 closed

[2022-07-28 17:03] WhyldWanderer commented on #670
I looked at the doc but it seems like youre still working on it @clara-zi ?

Moving back to sprint backlog

[2022-07-28 17:04] WhyldWanderer commented on #706
Discord is updated @Cotabe!
Have the new links been added?

[2022-07-28 21:19] clara-zi commented on #760
Willy's talk on DAO scalability. Taken from (https://ethbarcelona.com/livestream) Forest Stage, Day 3.

Soundbites: 35:30 Scalable communities, so key, so awesome!

35:51: “Why should I, as a Community member care about your community? I want to get involved’… and if you get this right, you'll find, like, Giveth does it so well, it's “Building the Future of Giving” there’s people all around the wo

[2022-07-28 23:06] ahmadabugosh commented on #786
Hey @laurenluz @c0ric0ri @danelsuga

The newsletter is ready for review: https://docs.google.com/document/d/1Uz2FQVe8UGVknvlBPstJObtjNiL29l3tE7aLp3Zym58/edit?usp=sharing

I tried to include everything I can. I left out the ETHBCN and CC content since we don't have it ready + the project nomination form (I thought it was already too crowded with the donor survey)

[2022-07-29 00:37] SymSL commented on #760
Lauren panel: Regen Mentalities https://youtu.be/dT8ls6OONsY?t=21318, Forest stage Day 1
Loved so much here - well done Lauren!!

06:08:38 - 06:10:06

“I think one of the roadblocks that I run into with a lot of people that are in the altruism space is the idea that profit is bad, that profit is against altruism or profit is against doing something good for people, and I think what's required is a

[2022-07-29 08:23] c0ric0ri commented on #694
@rainerhoell how are things going on this issue?

Is this something that would be moved to the CRM?

[2022-07-29 10:36] scottbenjd commented on #760
The link for Livia's talk isn't working for me. [https://youtu.be/eyAcJb7O7K8?t=24720](https://youtu.be/eyAcJb7O7K8?t=24720) Anyone have another link to Livia's talk or even the day + stage?

[2022-07-29 12:44] scottbenjd commented on #760
Reputation Panel - Livia

[https://youtu.be/yoWn-hDG7-Y?t=24264 ](https://youtu.be/yoWn-hDG7-Y?t=24264 )
6:44:25 - 6:46:04 - Institutional reputation an legitimacy
Who is the reputation issuer? Who are the institutions that provide legitimacy to the reputation that is being created. I feel like we don’t think so much about that because then thinking about legitimacy is a whole rabbit hole on its o

[2022-07-29 14:19] divine-comedian commented on #775
Reviewed! needs some clarifications and a bit more info in certain places

[2022-07-29 14:35] divine-comedian commented on #672
I implemented changes suggested from Lauren's review

[2022-07-29 16:43] c0ric0ri commented on #760
@ahmadabugosh we're ready for review here!

[2022-07-29 21:57] SymSL commented on #796
https://docs.google.com/document/d/1iizsQcgy51Rdl5rplx-IFf_-_JT3bE4dZm28OUO0v0M/edit @danelsuga Hey Suga! Here is an attempt at the BitDao blog post, if you are able to finesse it that would be amazing. I'm not sure if its a bit long (i'd say so for a normal blog post but this may be an exception) - let me know what you think!

[2022-07-29 22:30] laurenluz commented on #796
Amazing @SymSL!

on first glance, looks great. We should have @spectoregia review it :)

Yass - please have a look. We are planning to publish via the Giveth Medium to get more exposure for the proposal. Please provide feedback & add any other info that you think might be missing.

[2022-07-30 00:08] laurenluz commented on #716
I just created 2 updates in the giveth project: https://giveth.io/project/the-giveth-community-of-makers

And one for the matching pool: https://giveth.io/project/donation-eth

@c0ric0ri please try to keep track of your assigned issues, there wasn't much communication on this one.

[2022-07-30 00:10] laurenluz commented on #785
Hey @ahmadabugosh - I'll set this to go out tomorrow, sorry for the delay.

How are we going to check if they donated to a Giveth project? Will you have Algene looking into it?

[2022-07-30 00:22] danelsuga commented on #796
Great job, @SymSL ! I gave it a pass. I see a lot of potential for some modifications, and I offered a few but mostly pointed things out. I can make a repass. What's the timeframe on this? I'm tied up in the immediate future with the ETH confs recaps, but I can help anytime, either by just changing things (didn't want to do that without checking with you) or reviewing changes, etc.

[2022-07-30 00:34] laurenluz commented on #792
@SymSL @danelsuga @c0ric0ri  - can any of you take this one?

[2022-07-30 00:58] laurenluz commented on #786
great job as usual @ahmadabugosh !

I made some comments & suggestions. let's coordinate on the tweet for this too! if you write it just send it over for a quick review & make sure we don't overlap w/ schedule.

[2022-07-30 01:42] laurenluz commented on #785
it's scheduled for tomorrow :)

[2022-07-30 01:51] laurenluz opened #801 "SBS Panel Tweet"
I shilled Giveth in this panel - we should make it a thread/soundbite/clip/tweet

https://www.youtube.com/watch?v=Eq11giW-GFY&list=PL_0VrY55uV1_sM2hl8L-MosZZiV_JVnIs&index=6

[2022-07-30 03:10] danelsuga commented on #792
Can do tomorrow.

[2022-07-30 03:10] danelsuga commented on #786
Awesome. Will give it a pass tomorrow if not too late.

[2022-07-30 21:09] danelsuga commented on #792
OK, I'm looking at this now. I misread the task. I can't do this in any reasonable time in the near future. I'm also not sure this is a good approach? My feeling is that we don't need to feature team members as such since it does require such frequent updating. But if some one has the bandwidth, that's great. I def do not. At least not at the moment.

[2022-07-31 08:24] ahmadabugosh commented on #786
Done! Scheduled for 9:30am Costa Rica time today

[2022-07-31 08:24] #786 closed

[2022-07-31 08:38] ahmadabugosh commented on #785
Hey @laurenluz, awesome! Actually adding just the $1 minimum seems to have gotten rid of all the spam completely, but yes I'll have Algene look through it if we need any filtering

[2022-07-31 08:38] #785 closed

[2022-07-31 17:15] danelsuga commented on #757
This is ready for some eyes!

https://docs.google.com/document/d/17xS8AX9UDDhNCMa7mqztVELoxpWBcg6jzRNLENwS9uw/edit?usp=sharing

Thanks!

@laurenluz
@c0ric0ri
@ahmadabugosh
@SymSL
@WhyldWanderer

[2022-07-31 20:46] laurenluz commented on #770
Ok ready for eyes on this... hopefully we'll publish it tomorrow.

Sent it to @danelsuga @divine-comedian & Griff... not sure who'll be able to have a look today so tagging also @c0ric0ri @WhyldWanderer

Would love 2 reviewers, please comment here if you're on it.

[2022-07-31 22:35] laurenluz commented on #770
ok I got griff to review it. would love one more from someone.

[2022-08-01 02:29] danelsuga commented on #770
Will do!

[2022-08-01 02:40] divine-comedian commented on #770
reviewed and left lots of comments. In general I think the article gets a bit too in the weeds on details, some sections are too long and the details didn't engage me as a reader.

I also think we could get creative in the way we explain some of the generic defi jargon, finding simpler terms. This could help broaden the amount of readers that will understand this article.

examples of defi jargon:

[2022-08-01 05:39] danelsuga commented on #770
I reviewed. I like Mitch’s idea regarding jargon, but that might be too hard to tackle right here right now on this article since I think you want to get it out asap.

I admit I did not understand the whole thing, but I do appreciate the detail and plan to read again tomorrow (midnight here) with a less sleep-heavy head.

[2022-08-01 05:42] danelsuga commented on #770
@laurenluz do you have an outline I could look at? That would help me visualize Mitch’s comments better, which I think is important, and would also help me edit better to assist with that feedback. I want to see how you have structured it, if possible.

[2022-08-01 10:57] SnakeGH commented on #622
Hey @danelsuga, @clara-zi, @c0ric0ri, @Cotabe, and anyone else working on this that I missed. Just fyi, I have reviewed all the comments plus had a quick call with @NikolaCreatrix and feel like I have a pretty good understanding of what the purpose of this outreach is and instructions for how to outreach, as well as notate in the shared Gitcoin excel.  With that said, Id love to start out by takin

[2022-08-01 12:27] clara-zi opened #802 "Designs for social media"
Some variations on the "Building the Future of Giving" for Facebook post.

[2022-08-01 12:51] clara-zi commented on #802
![future of giving FB post](https://user-images.githubusercontent.com/100724132/182150900-087ab99c-ca37-40e0-a056-39d271003701.png)
Thanks for this existing design. Could you please use this template with the same wording @rodricastillo9013 to create:
1) Two more designs with the same colour background (ie one with the flowers and something else)
2) When you have these 3 basic designs, please repr

[2022-08-01 13:26] clara-zi commented on #622
@SnakeGH - you can take the next few of mine. I started at line 1. You can see which ones I've done so far. Feel free to continue down the list. It's great that you will continue this outreach work. Thank-you.

[2022-08-01 13:45] SnakeGH commented on #622
@clara-zi Thank you, when I have some time ill make sure to jump in there and stay in the 1-200 section of the excel.

Which reach out template have you been using, Suga's or the small note that Ahmad created?

[2022-08-01 13:59] clara-zi commented on #622
@SnakeGH I have included each outreach message sent in Column H ('extract tab') labelled 'message sent'. Mostly long version but I think it makes sense to mix it up a bit to see which message, style of outreach is most sticky.

[2022-08-01 14:14] clara-zi commented on #670
Only that I was waiting for review to be completed.

[2022-08-01 14:57] laurenluz commented on #770
Hey @divine-comedian @danelsuga thanks for your great edits and feedback. I did my best to make adjustments based on your comments in the little time I've had.

Also, would like to mention... I wrote the article w/ the DeFi builder audience in mind.... with the intention of explaining our lessons learned & explaining how we got here...and why the angel vault is cool & important.

I added a disclai

[2022-08-01 14:58] laurenluz commented on #770
@danelsuga unfortunately I don't have an outline. I wrote a sketelon/some notes before starting writing, but basically wrote over it.

For a shorted version of the angel vault, you can see the documentation: https://docs.google.com/document/d/1viCwIugLW9RaYDOQbTlDoQ_3afKmruY7eYrldFK8d1w/edit#heading=h.tzjfyc8vmgi3

[2022-08-01 15:09] laurenluz commented on #775
@divine-comedian let me know when this goes live, we need to add the link to the Angel Vault UI

[2022-08-01 15:10] spectoregia commented on #796
This is an absolutely amazing idea! thank you for putting it together.
I certainly have a couple of comments (based on the proposals I have read on BitDAO that got a pass). will add them in the word doc tonight. let's aim to get it published by Wednesday if possible. :)

[2022-08-01 15:14] danelsuga commented on #770
No worries! I think it's great.

[2022-08-01 15:22] danelsuga commented on #622
Please help with mine too if possible! 400-600. I haven't tackled it lately but I keep notes so it's possible to see what's already done. Thanks, @SnakeGH !

[2022-08-01 15:56] laurenluz commented on #775
https://docs.giveth.io/angelVault/

[2022-08-01 15:56] #775 closed

[2022-08-01 15:56] laurenluz commented on #770
https://medium.com/@karmaticacid/the-evolution-of-giv-liquidity-introducing-the-giveth-angel-vault-5ee34b2965c1

[2022-08-01 15:56] #770 closed

[2022-08-01 16:28] danelsuga commented on #757
Note there are extra pics in the draft. I would plan on one for each part. There are too many for the tie-dye party for example. Wasn't sure which one to pick.

Also, I am missing a photo of TaiChi and am missing link for Griff's interview.

[2022-08-01 16:46] c0ric0ri commented on #757
Hey @danelsuga I went ahead and reviewed with just a few tiny tweaks!

Checking the group chat for pics of TaiChi. Let's see if we can hunt down that interview link

[2022-08-01 16:48] danelsuga commented on #757
Thanks!! Yeah, I know the photo exists. I've seen it! But can't remember...

And I'll search for that link too. Thanks!

[2022-08-01 17:02] divine-comedian opened #1110 "Monthly $nice POAP campaign"

[2022-08-01 17:24] c0ric0ri commented on #794
@laurenluz yes thank you for the link!

[2022-08-01 18:13] laurenluz opened #803 "GIVfarm friday tweet thread"

[2022-08-01 19:10] WhyldWanderer opened #804 "Communicate GIVbacks POAP threshold"
We will need to communicate to users that starting in Round 16, we will only be issuing GIVbacks POAP's to donors whose donations total at least 10 $USD value to verified projects in that round.

We will need to tweet this for sure...

Do you guys think we should communicate it any other way? In an email or other social medai account?

[2022-08-01 19:39] WhyldWanderer opened #805 "Mandatory updates - Update documentation"
And information regarding mandatory updates to Giveth Docs and notion

https://docs.giveth.io/dapps/projectVerification/
https://docs.giveth.io/giveconomy/givbacks
https://www.notion.so/giveth/Project-Verification-Process-and-Guidelines-7772e953beb24a929c5ea6be902cc3bb

[2022-08-01 19:44] WhyldWanderer opened #806 "Mandatory updates - Send emails"
We will need to create the following emails in autopilot for mandatory updates:

**Current Makers**

- [x]  Coming soon! Verified projects will need to provide quarterly updates to keep status.

- [x] Reminder of policy change - you have 30 days to add an update or you will lose verified status.

**Email flow upon implementation:**

- [x] Don’t forget to add your updates! - 45 days

- [x] Friendly

[2022-08-01 19:48] WhyldWanderer opened #807 "Mandatory updates - Twitter announcement"
Announce policy change on twitter to inform current verified project owners to add updates!!

Celebrate projects that recently updated great updates to their projects, Tweet them to use as examples!

Making this issue now so I don't loose track - I will add the tweet info here and ping @laurenluz when it is ready to announce.

[2022-08-01 19:51] WhyldWanderer opened #808 "Mandatory updates - Autopilot email coherence"
I need to check autopilot to make sure that current links in emails and journey flows are in alignment with the mandatory updates email flow..

maybe we will add or remove emails to certain journeys... I will update here

[2022-08-01 19:58] WhyldWanderer opened #809 "Mandatory updates - Email Templates"
I think Rodri designed our current email templates found here: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2985%3A85583

We need a few additions for the mandatory update emails described in this issue:
https://github.com/Giveth/giveth-planning/issues/806

Maybe one that says

- [x] Reminder!

- [x] Coming Soon!

- [x] Don't Forget!

- [x] We need more informa

[2022-08-01 21:17] laurenluz commented on #802
@clara-zi @rodricastillo9013 just seeing this in my inbox. You could also make these background on a google slide deck (anyone can comment access), and then people would duplicate the presentation & change the text as-needed.

Then whoever is posting could easily just screenshot the slide for the post. I think it would be useful for comms overall.

[2022-08-01 21:22] laurenluz commented on #804
I think twitter might be enough, I don't think an email for this is super super necessary. We should add it to our documentation perhaps.

[2022-08-01 21:41] SymSL commented on #796
Hey everyone, I made a couple more changes to the doc, there are some points in there I am struggling to break down and put into simpler language because I don't understand the concepts well enough myself yet. Please add any comments or questions and we'll aim for finalising on wednesday

[2022-08-01 22:04] laurenluz opened #810 "Co-Marketing Campaign w/ ICHI"
ICHI team wants to do some cross-promotion w/ Giveth using something called glean. Seems pretty cool & with the momentum from the Angel Vault launch, I think it's a good opportunity to grow our following and get people exicted about recent products.

@c0ric0ri pr @tropicalmangos can you champion this? Require someone to coordinate & keep things organized.

I screenshotted the PDF, but also, it is

[2022-08-02 03:38] laurenluz commented on #757
Hey @danelsuga! Thanks for putting this together so quick! I read through and left a bunch of comments. Tbh, I think the piece is really missing the *meat* of the talks/interview/etc. in general. There is a lot of vague mentions of things happening... but not a lot of focus on our message.

The key messages of the talks is the _most important_ part of this piece imo. This is an opportunity to tell

[2022-08-02 04:58] danelsuga commented on #796
I need to circle back round, @SymSL. Will shoot for tomorrow if that's ok.

[2022-08-02 06:31] SnakeGH commented on #622
@danelsuga what did you mean with "skip the more crypto'y" ones? I just want to make sure I am not reaching out to projects that we shouldn't, as I am about to start my outreach campaign. That is the only part of the outreach that I am a little worried about. Stepping over the project line....

[2022-08-02 06:33] danelsuga commented on #622
You can totally reach out to all the projects! But basically the focus of this issue was to try to reach out primarily, or perhaps initially, to projects irl, e.g., projects on the ground affecting change physically, if you see what I mean: schools, gardens, clean water, medical, etc.

[2022-08-02 06:34] SnakeGH commented on #622
Got it, thanks for the clarity Suga! :) Also, someone needs to allow me access to edit pretty please, and Ill get rocking on it ASAP

[2022-08-02 06:35] danelsuga commented on #622
Done! Thanks!!

[2022-08-02 10:02] rodricastillo9013 commented on #802
hi! how are you! I attach the images, and I have also created a google slides document, with the editable text, so that they can duplicate and modify according to each need! @laurenluz @clara-zi

Folder:
https://drive.google.com/drive/folders/1pU2o-iaguz2wjTuNgDcg3i4KlFpvkBWP?usp=sharing

Google Slides:
https://docs.google.com/presentation/d/12wg_ovTbgkLGmz8joJDuCMUlHeC134K-kTPQa-01TvY/edit?usp=sh

[2022-08-02 10:51] rodricastillo9013 commented on #809
hi! I think it's finished, let me know if it's ok! I have left it in the same figma document, do you need me to create them in autopilot? @WhyldWanderer

[2022-08-02 11:31] #759 closed

[2022-08-02 12:45] c0ric0ri commented on #799
https://docs.google.com/document/d/1L5vxm9xaStd1rT_0W17H5vm49UsWjWHPd85CEKjXYas/edit

[2022-08-02 14:01] ahmadabugosh commented on #760
Hi @c0ric0ri and team thanks for putting these together! I created soundbites for them here: [https://docs.google.com/spreadsheets/d/1KoVy2Ttvo3Q3GxnFx-6pNS01VfvgjDok95aNY9JKTik/edit#gid=0](https://docs.google.com/spreadsheets/d/1KoVy2Ttvo3Q3GxnFx-6pNS01VfvgjDok95aNY9JKTik/edit#gid=0)
(at the bottom of that sheet is also a folder to download the raw videos).

Did anyone do Griff's SBS talk? I didn

[2022-08-02 15:34] c0ric0ri commented on #760
Thanks @ahmadabugosh ! Didn't have the link for Griff's SBS talk at that point last week, but it's on my to-do's for this week!

[2022-08-02 15:35] c0ric0ri commented on #768
@ahmadabugosh @WhyldWanderer is this offiically updated? Can we close this issue?

[2022-08-02 15:37] #768 closed

[2022-08-02 15:58] c0ric0ri commented on #771
@laurenluz we just need the link to close this correct?

[2022-08-02 16:32] c0ric0ri commented on #672
@tropicalmangos would be great if you can review this for easiness to understand!

[2022-08-02 16:32] spectoregia commented on #796
hi all, I made quite a few suggestions. My aim here was mainly to have it drafted in a way that I am hoping it could get picked up or at least inspired by BitDAO authors to draft the main proposal for the snapshot vote.

[2022-08-02 16:39] WhyldWanderer opened #811 "Update the Discord Guide"
This document is now outdated and needs an update:

https://docs.giveth.io/whatisgiveth/introDiscord

[2022-08-02 16:40] c0ric0ri commented on #767
Notes from @Cotabe :

Right now, engagement in the forum is the thing that is supposed to move things forward.

Yass made some research & realized that most of the projects that got funding were co-authored by BitDAO investors. So we are trying to see who to engage to move it forward.

I will work with Yass on this and report back.

Anyways, here are some notes from the Twitter space:

GRIFF
I see

[2022-08-02 16:41] #782 closed

[2022-08-02 16:58] SnakeGH commented on #747
Our CRM is up and running, create an account at Hubspot (https://app-eu1.hubspot.com/login) and send me your email so I can easily add you to the Giveth account (#26098969)

[2022-08-02 16:58] #747 closed

[2022-08-02 20:32] laurenluz commented on #802
That's amazing @rodricastillo9013 - thanks!

[2022-08-02 21:12] laurenluz commented on #771
yep, feel free to just go to Twitter next time, get the link & close it if you know it's already done & out.

https://twitter.com/Givethio/status/1554154131949989888

[2022-08-02 21:12] #771 closed

[2022-08-02 21:27] clara-zi commented on #802
Thanks @rodricastillo9013 this is brilliant :)

[2022-08-02 22:01] laurenluz commented on #799
Hey @c0ric0ri - nice job & I love the quote you picked out! I think the interview is a bit short for such a long thread though! some of the tweets are kind of repeats of other tweets. I left some small suggestions and one bigger comment.

Could you try to condense it a little? I saw like 3-4 key concepts.

[2022-08-02 23:06] WhyldWanderer opened #812 "Adapt content from Fundraising 101 session to be included in 101 video course"
The video recording of the event can be found on the youtube here: https://youtu.be/QszCrqQNN7A

Or downloaded here: https://we.tl/t-uIoqBn20Xp

Bends said he would be willing to take on the editing of this one since theres no real recording that needs to be done.

Maybe there will be an opening/closing screen or something though? Im not sure if this has been planned out that much yet..

[2022-08-02 23:07] laurenluz commented on #646
Sorry... @tropicalmangos I mean to tag you!

[2022-08-03 09:21] clara-zi commented on #710
1. Auto-posting content from Planable for FaceBook and LinkedIn is live.

3. Some agreement on hashtags for both platforms is needed. Here are my suggestions:
Facebook: #futureofgiving #cryptophilanthropy #cryptogiving (these hashtags are active and group mostly related and relevant content)
LinkedIn: #cryptophilanthropy #cryptogiving #cryptodonors #futureofgiving #giveth (so that we can group our

[2022-08-03 09:39] clara-zi commented on #710
**Planning of content** for LinkedIn and FaceBook is now underway for Sep. with draft posts to be finalised and ready for review by the mid-Aug to allow for edits etc. If this approach works well, content planning will begin a month in advance with drafts finalised by the 15th of the prior month.

**Categories** in Planable: I have started creating categories in Planable, such as 'newsletter', 'pr

[2022-08-03 13:04] clara-zi opened #813 "Created project not showing in user account"

[2022-08-03 13:04] clara-zi commented on #813
problem identified by project owner:
"When i log in with my wallet I am logged in as

Amber Sophia
consciouslyconcepted@protonmail.com
ETH Metamask Wallet:0xd5f4e89809a4236f7b7e72e63941516b26296fb0

There are no projects when I click on my Projects.... I have only logged in from one device which is my mac computer".

[2022-08-03 14:02] divine-comedian commented on #672
Better to look at the assignee and update them that you reviewed. No need to move the issue or assign anyone

[2022-08-03 15:01] danelsuga commented on #757
This is ready for review again. @laurenluz @c0ric0ri

Two thinks I still want, if you have any leads:

- I would like a good pic of ETHCC.

- I would like a link to the claim/results that ETHBCN/DoinGud was going to donate part of the conference proceeds to a project voted on by the conference participants.

[2022-08-03 16:27] laurenluz commented on #672
@tropicalmangos FYI our process for closing issues... we only close them after the content is publish & the link is added to the issue.

[2022-08-03 16:31] laurenluz opened #814 "HODL vault tutorial for our docs"
Great feedback from @divine-comedian - this is really complicated.

Ichi is workin on updating their UI, once that is done, we should make a video, share it etc.

[2022-08-03 19:01] laurenluz opened #815 "Powerinside Tweet Thread"
We need to write a tweet thread telling this story a  h/t to cool people who audited the giveconomy

https://www.notion.so/giveth/powerinside-twitter-post-58fef525df0f4a77a389e7011b175c1a

[2022-08-03 19:24] laurenluz commented on #799
Hey @ahmadabugosh !

Thanks for making that happen! TBH I prefer the other format. This is kind of fun, but the video gets cut off and I feel like the music is a bit distracting. I think for twitter... the video w/ the bigger text is nice because it's more eye catching text than your usual tweet text.

Is it easy to make in the other format?

Also, little typo:
"...what value **we're** creating fo

[2022-08-03 21:04] c0ric0ri commented on #799
@laurenluz we're all set!

[2022-08-04 11:02] ahmadabugosh commented on #799
No worries @laurenluz the other one is actually easier for me to do! :)

Here it is: [https://share.descript.com/view/WM3WOGEvhnh](https://share.descript.com/view/WM3WOGEvhnh)

[2022-08-04 16:09] danelsuga commented on #757
@laurenluz @c0ric0ri I’m traveling again tomorrow (from MT to CA), so it’d be great if I could publish this today! Let me know if you have any more feedback. X

[2022-08-04 16:09] SnakeGH commented on #622
@danelsuga and @clara-zi wanted to let you know that I went ahead and I reviewed, researched, commented and outreached where needed on 100 of the projects in your sections. Good luck with the others :)

[2022-08-04 16:10] danelsuga commented on #622
Amazing @SnakeGH ! Thank you!

[2022-08-04 16:57] danelsuga opened #816 "GIVPower - asking to add GIV to Metamask"
It seems that it would be great to have a link to "add GIV to Metamask" earlier in the process, possibly even at the beginning and in multiple places. Currently, it's only on the page after the transaction is completed. If I remember correctly, it's after harvesting.

Just a suggestion. Nothing urgent. :)

![GIVPower.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/08177920-73db-

[2022-08-04 18:58] WhyldWanderer commented on #805
Finished and live!
https://docs.giveth.io/dapps/projectVerification/

[2022-08-04 18:58] #805 closed

[2022-08-04 19:46] WhyldWanderer commented on #804
This was tweeted about... https://twitter.com/Givethio/status/1554470106167742464

[2022-08-04 19:46] #804 closed

[2022-08-04 20:01] WhyldWanderer opened #817 "Create Event Template"
Lets coordinate our efforts around events better... hopefully this helps.

I created a category called events in the forum and will be pinning this event template to the top.

Am I forgetting anything? @laurenluz @Cotabe @NikolaCreatrix ?

https://docs.google.com/document/d/1xeWBCCXzPcLW-KX7AZuOAvsZxKBkFYIdeAlflYItcvk/edit?usp=sharing

[2022-08-04 20:05] WhyldWanderer commented on #806
@NikolaCreatrix agreed to help with a few of these <3
Assigned

[2022-08-04 20:06] WhyldWanderer commented on #809
Looks great @rodricastillo9013!! Thanks so much <3

The figma is fine..
Can be found here: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2985%3A85583

[2022-08-04 20:06] #809 closed

[2022-08-04 20:33] ahmadabugosh commented on #817
Hey @WhyldWanderer I think a major part that would help us that I recommend is to have a way for people to RSVP to an event, so they will automatically get notified when the event is about to start and it's added to their calendar (without us having to send reminders.  This would also allow us to estimate how many people will attend an event, get more external contacts as a lead magnet and have an

[2022-08-04 21:33] c0ric0ri commented on #757
Wow that was a doozy! @danelsuga I put a bunch of suggestions in there, would help a lot if you can clean it up and I'll take another look.

[2022-08-05 04:33] danelsuga commented on #757
@c0ric0ri I don't know what you mean by it being a doozy, but thank you very much for your great help.

If you two reviewers @laurenluz  can give the green light asap, I'd like to take care of it by Friday.

Thank you's.

[2022-08-05 18:49] laurenluz commented on #796
great work everyone! it's really coming along. I left a bunch of comments and suggestions in the doc. It really needs some more pictures illustrating the concepts... especially wrt to bonding curves, givpower etc.

feel free to pull photos from past presentations. I would pull the info graphic ones from "evolving nonprofits", maybe some pretty ones of GIVpower... could also use a screen short of t

[2022-08-05 19:44] laurenluz commented on #766
Ok! new goal: the intention is to update users about farming rewards everything friday.

I made the first iteration of this: https://twitter.com/Givethio/status/1555640396847333376

@c0ric0ri would love if you could draft this thread on a weekly basis starting next week! Let me know if you have any questions, we can go over the farm in our next call.

(in the meantime, I highly encourage you to pl

[2022-08-06 19:36] laurenluz commented on #757
GREAT work Suga!! You really nailed it on those talk summaries at the top. Thank you so much for putting so much love into this!

I left some comments & suggestions, not so much, mostly small things - have a look! I love your writing, but I do think sometimes that it gets a little wordy that makes things a bit too long, so just keep that in mind for next time.

Also, I really think we should cut t

[2022-08-08 06:51] danelsuga commented on #757
Thanks, @laurenluz ! I have put it on medium for final review.

Just realizing the banner says EthBCN and EthCC. So I've asked Rodri to make a new one.

There are also a few glitches if you will:

- no further info on the donating proceeds from EthBCN to a project of attendees' choice.

- no "solarpunk message" video embed, but I did a possibly clever workaround.

- no Griff Offical EthBCN intervi

[2022-08-08 11:13] ahmadabugosh commented on #726
hey @tropicalmangos! This is actually a bigger project that @SnakeGH started taking on (it doesn't really have a deadline, as it's an ongoing project). Once you have some free time, I suggest you have a call together and see how you can support each other 🙌

[2022-08-08 12:02] SnakeGH commented on #726
Hi @tropicalmangos lets go ahead and take this to a chat on discord, Ill DM you. For now, please feel free to review the other donor GH items too, as that will help to paint even more of the donor relations project that we are building :)

GH #623 & GH #724

[2022-08-08 14:43] c0ric0ri commented on #810
For preparing tweets:

https://docs.google.com/document/d/1nSJKNM_A_ynt4DnZSCgOxkz-plICWRMUjme2xpK1juM/edit

[2022-08-08 17:57] laurenluz commented on #767
1st thread is out: https://twitter.com/Givethio/status/1556678732911452161

[2022-08-08 18:34] #803 closed

[2022-08-08 18:35] laurenluz commented on #749
@c0ric0ri this is a good one too for some content: https://twitter.com/ConsenSys/status/1555200572307001346

[2022-08-08 20:36] #816 closed

[2022-08-08 21:36] laurenluz commented on #799
Thanks @ahmadabugosh @c0ric0ri - I have this queued up in tweet hunter to go out this week.

I made some changes @c0ric0ri to the thread to make the message a little clearer. I hope that feedback is valuable!

[2022-08-09 15:17] SnakeGH opened #818 "Donor Survey Outreach - Previous Donors"
Hey Community,

There are over 340 previous donors (_*that have donated at least 1 DAI worth_) to the Giveth platform, that I would like to perform some outreach (via email) to about taking our Donor Survey, but before I do, I'd appreciate any feedback on the body of the email that I am about to send.

Please take a moment to review and offer some suggestions, comments or criticism. Thanks!

"Hey

[2022-08-09 15:26] danelsuga commented on #757
The article is submitted to Giveth on Medium.

@laurenluz could you please add this banner in place of the old one? (I don't appear to be able when it's in that limbo space.)

Then it should be fine to publish. See above for caveats.

![image](https://user-images.githubusercontent.com/81351744/183691074-1c8dbc60-4ae6-4931-936b-32f34652078c.png)

[2022-08-09 15:39] SnakeGH opened #819 "Donor Outreach - Prospects"
Hey Giveth Peeps,

I have started to compile a list of possible new donors to the Giveth platform via crypto leaderboards and other web3 outlets, but before I perform outreach, I wanted everyone to review my google shared doc and ensure there are no problems with the people on it (or offer insight if you know them)...as well as offer any suggestions, comments or criticism for the body of my future

[2022-08-09 16:20] danelsuga commented on #757
Ok, never mind. I can put the banner in myself! Thanks @laurenluz ! Got it.

[2022-08-09 16:30] danelsuga commented on #757
The correct banner is in there now.

[2022-08-09 16:36] c0ric0ri commented on #818
@c0ric0ri @ahmadabugosh to review this text and give ok

[2022-08-09 16:36] c0ric0ri commented on #819
@Cotabe can you please check this list?

[2022-08-09 16:41] laurenluz commented on #757
@danelsuga

I deleted one shapeshift pic, and I think the quadratic funding ETH barcelona this is ok as it is w/ no link.

Griff's interview video: https://www.youtube.com/watch?v=tueMdmNjanI

I think we should delete the vlog embed... maybe just link it, and embed this one instead. can you adjust the text a little?

I will try to figure out a solution w/ this solarpunk video

[2022-08-09 16:44] danelsuga commented on #757
Ok!

[2022-08-09 16:47] c0ric0ri commented on #797
Email was sent and session completed

[2022-08-09 16:47] #797 closed

[2022-08-09 16:51] laurenluz opened #820 "Tweet on Griff's ETH BCN video"
https://www.youtube.com/watch?v=tueMdmNjanI

@c0ric0ri - this would be a cool one to do, similar how you did mine :)

[2022-08-09 16:57] danelsuga commented on #757
Done.

[2022-08-09 17:58] danelsuga opened #821 "ETHCC recap"
Any help on how/if this should be fleshed out now that it's separate from ETH BCN? Thanks!

https://docs.google.com/document/d/16kxTlpHgt1Q64ZSR-TzbXUZx6NBReXSskeIz-qBirII/edit?usp=sharing

@laurenluz
@c0ric0ri

[2022-08-09 20:10] Cotabe commented on #819
I love the email! It has all the relevant content and is very straightforward. But maybe we we can highlight more the rewards, something like:

 Moreover, we reward donors that donate to verified projects with up to 75% fo their donation back on $GIV through a program called “GIVbacks” (link to info: docs or tweet)

The donors database that you put together is amazing. But I would be concerned of

[2022-08-10 02:02] laurenluz commented on #815
I drafted this in notion and it's scheduled for next week

[2022-08-10 02:03] laurenluz commented on #766
@c0ric0ri just a reminder to have a draft of this ready for thursday so I can review it before publishing on Friday

[2022-08-10 12:19] NikolaCreatrix opened #822 "Tweet thread R17 verified projects"
Hi there, so sorry I am sending this late. I can honestly say I didn't manage my work well during last week and my time in Prague...

This round we had many many projects, so this time I picked 6 of them trying to keep it diverse.

@laurenluz @c0ric0ri

Draft ready for tweet here:

https://docs.google.com/document/d/1zyZ1wJNFla3Q049rn_-cwaj_Vqlcr4zN67ZCrr-7hiA/edit?usp=sharing

[2022-08-10 13:24] ahmadabugosh commented on #777
Hey @c0ric0ri @laurenluz, I made this video for the $nice token: [https://youtu.be/MpYET3a3qEo](https://youtu.be/MpYET3a3qEo) Let me know if you're ok with it, and we can add it to the donor course playlist

[2022-08-10 16:00] laurenluz commented on #822
it's awesome @NikolaCreatrix and no worries! I thought you were on vacation :)

love the projects, and great thread. made some small comments for some grammar tweaks/extra context. have a look.

[2022-08-10 16:29] NikolaCreatrix commented on #822
Thanks @laurenluz :) a lot, I did some corrections, let me know if things sound better and make more sense now🙏

[2022-08-10 16:33] laurenluz opened #823 "$nice token tweet thread"
wil be announcing PFP!

@divine-comedian drafting & to share w/ @laurenluz for feedback after

[2022-08-10 17:59] divine-comedian commented on #823
locked and loaded

thanks for improving the draft tweet thread.

I suppose we'll see this up on twitter sometime next week

[2022-08-10 20:58] NikolaCreatrix commented on #806
Yes, I have done the first two most important ones, the draft is [here](https://docs.google.com/document/d/15c0wjLJUNbFQ6wy4qJvEGZR4l_zgY0u-J-Tr6R0vOS4/edit?usp=sharing) @WhyldWanderer, and I am happy to write all of them! It's fun :)
I will provide some new drafts by this Friday!

[2022-08-10 21:03] laurenluz commented on #777
Hey @ahmadabugosh - thanks for putting this together! Some feedback:
- The purpose of $nice is to diversify the Giveth treasury w/ stablecoins so we can keep building the Future of Giving
- $nice gets you sweet benefits
- one is that you can buy Giveth swag
- another is that you will be added to the pre-mint list for the Giveth PFP collection if you donate over $100 (we're going to annouce that in

[2022-08-10 21:06] laurenluz commented on #777
Here is the upcoming $nice thread btw: https://docs.google.com/document/d/1ceK6_LxWYjRfwbegHNpPWsgwA4It-U_vEBk-yclnHA4/edit

[2022-08-10 21:12] laurenluz commented on #822
Excellentttttt!!!! 🚀  Thanks @NikolaCreatrix

[2022-08-10 22:31] divine-comedian commented on #777
Lauren hit most of the major points, from a tokenomics side there's two interesting points

- We have our first buyback mechanism for GIV using 50% of the DAI received to buy back GIV
- We create DAO-owned liquidity by pairing bought back GIV with the other 50% of the DAI received

[2022-08-11 06:36] SnakeGH commented on #818
Hey @c0ric0ri and @ahmadabugosh any luck getting to review by chance? would love to start outreach on this. Thanks

[2022-08-11 06:36] SnakeGH commented on #819
@Cotabe absolutely legendary response and looking forward to that call to dig in even deeper

[2022-08-11 09:57] ahmadabugosh commented on #818
Hey @SnakeGH I made some small changes here: [https://docs.google.com/document/d/1O0eiopsAoU95nj1Y9RUohRuglBHIbzlIBVXSeY02u_E/edit](https://docs.google.com/document/d/1O0eiopsAoU95nj1Y9RUohRuglBHIbzlIBVXSeY02u_E/edit). I think this is ready to send out, so I'll schedule to send it out today or tomorrow.

[2022-08-11 10:59] SnakeGH commented on #818
@ahmadabugosh love it, I made a couple typing grammatical fixes as well as added to my signature, but otherwise thanks Rockstar! Keeping me posted on pushing it through Autopilot.

[2022-08-11 11:43] ahmadabugosh commented on #777
Thanks for the feedback @laurenluz & @divine-comedian! Here's my take 2: [https://youtu.be/NV3kfo2YvoQ](https://youtu.be/NV3kfo2YvoQ)

[2022-08-11 11:57] c0ric0ri commented on #818
Hey @SnakeGH @ahmadabugosh I added some changes in as well to clarify what feedback we're looking for and fixed some grammatical things as well. Would love to see those adapted if you agree, and then I'd say this is good to go!

[2022-08-11 13:02] tropicalmangos opened #824 "Create GIV Calculator"
What?
GIV Calcuator

How?
The user can "play around" with donation amount by moving slider to increase or decrease donation. The user could input a donation amount and get an estimate "liquid" & "streaming" GIV amount that they might get back if they donate.

We could make it clear that this is a simulator and actual value may change

Video overview
Timestamp 0:32min
https://www.loom.com/share/b09

[2022-08-11 13:14] tropicalmangos opened #825 "Complete Donation Flow overview Video (to embed in the Giveth dApp)"
Explainer Video - Project Donation Pg

- Overview of whole process
- “How to donate”
- Timestamps
- How GIVbacks work
- GIVbacks- what happens after donation, how it works
- GIV Calculator- how GIV works

Video Overview here
https://www.loom.com/share/b098413ad7674261920698e36b4f1ac8

[2022-08-12 00:18] laurenluz commented on #796
This is queued up in medium and ready to go! When is idea to post it? @spectoregia

[2022-08-12 01:32] laurenluz commented on #777
it's awesome!! love that presentation style thing. great work @ahmadabugosh , I think unless mitch has objections, this is good to go!

[2022-08-12 01:33] laurenluz commented on #777
@c0ric0ri it would be cool to use this, once it's officially up, in one of the tweets you're doing about $nice.

[2022-08-12 07:07] spectoregia commented on #796
if we can post it even today let's please go ahead! I can then immediately populate BitDAO channels with the post and reach out to individuals from there to pitch it.
Otherwise, the next best day would be Sunday evening/early Monday.

[2022-08-12 10:04] ahmadabugosh commented on #825
Hey @tropicalmangos , thanks so much for the Loom video, I really like your approach and the donor workflow you mentioned!

The way I see it, there are a few things for us to improve on:

1) Adding elements / videos etc. to the dapp @MoeNick can help with them

2) Email workflows. I think that's something we can definitely improve on within Autopilot (our email client). Let's bring this up in the

[2022-08-12 12:03] NikolaCreatrix commented on #806
Okay 1,2 and 3 drafts are ready for review [here](https://docs.google.com/document/d/15c0wjLJUNbFQ6wy4qJvEGZR4l_zgY0u-J-Tr6R0vOS4/edit?usp=sharing)

And I have a question @WhyldWanderer
Are we missing one more email option for newly Verified projects upon implementation? Shall we also adjust the email that the project receives when awarded with a badge to let them know that they got verified and n

[2022-08-12 12:35] ahmadabugosh commented on #818
Just sent it! Closing this issue.

[2022-08-12 12:35] #818 closed

[2022-08-12 20:04] laurenluz opened #826 "Gitcoin GR15 Prep"
GR15 Starts Sept 7, and we should update our grant listings by Sept 3! I will be away, so I'm leaving this in your capable hands @danelsuga @c0ric0ri

We need:
- [x] to draft & update our Giveth.io listing (we should mention recent developments, especially like "improving the project verification flow so that it's part of our dApp now" ( @NikolaCreatrix or @MoeNick can explain) and other things we

[2022-08-12 22:03] laurenluz commented on #825
Hey @ahmadabugosh love all your thoughts, and I'll just let you and @tropicalmangos hash through most of this. Just wanted to leave a small comment re: donor video:

While I think there is value in having a video that goes from have a blank wallet through everything to donating... I think a lot of users who come to our site probably already have a crypto wallet.

I think for a video we actually ad

[2022-08-16 08:04] MoeNick opened #836 "Explainer Video - Project Donation Pg"
- Overview of the whole process
- “How to donate”
- Timestamps
- How GIVbacks work
- GIVbacks- what happens after donation, how it works
- GIV Calculator- how GIV works

[2022-08-16 09:35] ahmadabugosh opened #827 "Create Zapier automation for Content Calendar"

[2022-08-16 09:38] ahmadabugosh commented on #827
Testing out the integration with Zapier, to see if it pulls it into the sheet

[2022-08-16 09:39] ahmadabugosh opened #828 "Testing out zapier integration with Content calendar"
This is a test to see if it works

[2022-08-16 15:21] SnakeGH commented on #819
tweaked the message and been sending this out for most emails:

Hey (*potential new donor),

Hope you’re having a great day!

I know this message is out of nowhere and you don’t know me, but I felt the need to express how heartwarming and admirable it is to see your support via (*location where I found their contact) during the last round of projects, and since I work in outreach over here at Give

[2022-08-16 15:22] SnakeGH commented on #819
and for Twitter DMs this is the message Ive been going with:

Hey (*potential new donor), hope you’re having a great day!

I know this message is out of nowhere and you don’t know me, but I felt the need to express how heartwarming and admirable it is to see your support via (*location where I found their contact) during the last round of projects, and since I work in outreach over here at http://

[2022-08-16 16:26] c0ric0ri opened #829 "Zodiac Wiki"
Steps to approach this:

- research the page to see where Giveth can best contribute
- create task list of suggested content to be created / reused and submitted (e.g. Praise system, tools, frameworks, etc)

[2022-08-16 16:56] clara-zi commented on #740
@WhyldWanderer I've been giving this some thought: we can't cover all the offramping routes end-to-end for all the different variables around the world but what we could do is something like these:

1) deal with different bridging for common tokens donated on our platform (ie xdai to DAI bridge)
2) talk about stable vs volatile
3) talk about the major centralised exchanges
4) GIV does not need to

[2022-08-17 10:16] franculio commented on #769
I just saw this, it's already been reviewed and posted!

[2022-08-17 10:48] SnakeGH commented on #819
This project will be never ending, speaking of find new donors and outreaching, but this specific issues of requesting assistance with my outreach emails is good, I believe, so going to consider it closed for now

[2022-08-17 10:48] #819 closed

[2022-08-17 10:58] NikolaCreatrix opened #830 "Tweet thread R18 Verified Projects"
Create a tweet thread for newly verified projects for round 18

[2022-08-17 11:40] NikolaCreatrix commented on #806
All email drafts are ready for review @WhyldWanderer

[2022-08-17 15:52] tropicalmangos opened #831 "GIVpower Delegation Comms- Social Media"
Need social media campaign (Twitter/Discord) doing an open call for delegators.

CTA:
Will link to forum post https://forum.giveth.io/ (actual link pending)

[2022-08-17 16:00] tropicalmangos opened #832 "GIVpower Delegation Comms-Emails"
Need email campaign (Twitter/Discord) doing an open call for delegators.

CTA:
Will link to forum post https://forum.giveth.io/ (actual link pending)

[2022-08-17 16:02] tropicalmangos opened #833 "GIVpower Delegation Comms- Project Shortlist"
Curating a Giveth Project Shortlist for delegates to consider and make it easy for them

[2022-08-17 16:03] tropicalmangos opened #834 "Forum Post: Open Call for GIVpower Delegates"
Following Balancer's example here:

https://forum.balancer.fi/c/delegate-citadel/14

[2022-08-17 16:06] tropicalmangos opened #835 "Scorecard: GIVPower Delegator Scorecard"
Similar to this model here

https://boardroom.io/gitcoin/delegates

Scorecard for delegators includes:

-  central place showing who delegator options are
- how many votes
- vote weighting %
- how many proposals delegator has made
- how many wallets have delegated to him/her "delegators"

Please see example below as a reference

![Gitcoin-Delegates-Boardroom.png](https://images.zenhubusercontent.c

[2022-08-17 19:20] WhyldWanderer commented on #806
Reviewed! They look good to me... Now we just need to send them out!
First one going out today!!

[2022-08-17 19:22] WhyldWanderer commented on #806
Sending Schedule:

Current Makers

- [ ]  Coming soon! Verified projects will need to provide quarterly updates to keep status.

- [ ]  Reminder of policy change - you have 30 days to add an update or you will lose verified status. - September 15th

[2022-08-18 12:10] ahmadabugosh commented on #725
Thanks @tropicalmangos ! I added the option for both (online and inperson) for that question + I made the last screen easier (I added links for them to automatically generate the tweet and to automatically follow us)

[2022-08-18 12:44] SnakeGH commented on #725
Thanks @tropicalmangos for the input, and I know you already saw my responses via discord. Also thanks @ahmadabugosh for making those changes in the survey. We are currently at 73 and would love to get to 100 takers.

[2022-08-18 12:59] SnakeGH commented on #725
@tropicalmangos our Giveth meetings, channels & social media, as well as having our Giveth partners share it on their social channels.

[2022-08-18 13:20] clara-zi commented on #811
https://docs.google.com/document/d/1AMn-SWBv1wuU9kJieNSwatg_6H-bAgtJI7wo8JnzuX0/edit?usp=sharing

[2022-08-18 20:39] WhyldWanderer commented on #817
I know that people can RSVP to events through Sesh on Discord, and they can mark interested on our discord events, additionally they can follow our calendar on Google.

The idea of this template is for communications and collaboration on shilling.

The event template is now live and you can see better what I mean @ahmadabugosh .

This is a template where the facilitator can have all of the info fo

[2022-08-18 20:39] #817 closed

[2022-08-19 09:15] danelsuga commented on #757
https://medium.com/giveth/giveth-at-eth-barcelona-giving-on-the-ground-f7f1b55c320d

[2022-08-19 09:15] #757 closed

[2022-08-19 09:19] danelsuga commented on #769
Thanks, @franculio ! Before we close this, there are a couple teeny, tiny spacing errors:
coworking , hack sessions - remove space before comma
comradery,freedom - insert space before freedom
market.We - insert space before We

https://giveth.io/project/giveth-house

[2022-08-19 12:35] SnakeGH commented on #726
@tropicalmangos this looks really good and thanks for taking the time to put this together, especially since it is extremely organized...but my question is how do we attract these "potential new donors" that are not aware of 1.) crypto philanthropy and 2.) Giveth, as your promotional channels mostly seem to be via Giveth, which is someone is already following Giveth, they are aware of both 1.) & 2

[2022-08-19 12:36] NikolaCreatrix commented on #830
Hola hey happy Friday, these are the outstanding heroes of round 18 @laurenluz

[Tweet thread R18 Verified Projects](https://docs.google.com/document/d/11uxhy4CGO3xSb5tjVxRkLYsvI_h0TqsKbqrr_PhkAo0/edit?usp=sharing)

[2022-08-19 13:07] SnakeGH commented on #726
@tropicalmangos it would indeed be great for you, me and @ahmadabugosh  (as well as anyone else interested in donor outreach) to organize a call in the coming weeks, as this is one of a couple great ideas we can use to reach new donors...and one we can start on soon.

[2022-08-19 15:38] laurenluz commented on #830
Thanks Nikola ! FYI @c0ric0ri :) you can do some qa and then pick a good day in the next two weeks to tweet this one.

Since we just did the verified projects for 17 on Thurs, pick some day late next week or the following

[2022-08-22 08:57] franculio commented on #769
All done! Thanks @danelsuga!!

[2022-08-22 09:15] danelsuga commented on #769
Great! Thanks, @franculio !

[2022-08-22 09:15] #769 closed

[2022-08-22 15:01] c0ric0ri commented on #794
https://docs.google.com/document/d/1GwfIic_IuC7zcOB78L8XIaHEzYMJbHjgi0f5UhnHGqA/edit

Transcript above for reference! @danelsuga

[2022-08-23 10:05] ahmadabugosh commented on #794
Let me know if you want a soundbite for this one too @c0ric0ri :)

[2022-08-23 11:59] ahmadabugosh commented on #740
Thanks @clara-zi , i would also add

5. Have a walkthrough video that shows offboarding funds as an example. Even if we explain how each country has a different process and exchange, I think it would be useful to show a live example of how to go from your Giveth project funds -> Browser wallet -> xDAI bridge to DAI  -> Exchange -> Withdraw to a bank account
6. I think at the end we should include

[2022-08-23 14:28] SnakeGH opened #837 "Giveth Partnership Program Pitch Deck"
Hey Team,

Would like to propose putting together a "Partnership Program Pitch Deck" or template to use when deciding on or even when the time is right to offer a partnership with Giveth. This is by no means the final draft, nor should it be used to make the ultimate decision on if a partnership is valuable to Giveth or mutually beneficial for both sides, but was thinking of simply putting togethe

[2022-08-23 14:31] SnakeGH commented on #837
@WhyldWanderer & @Cotabe please make sure to add some of your amazing comments to this issue, when you can, to get the ball rolling. :)

[2022-08-23 15:03] ahmadabugosh commented on #734
hey @scottbenjd any updates on this? Let me know if I can help

[2022-08-23 15:12] scottbenjd commented on #812
[Fundraising 101 Video](https://drive.google.com/file/d/1uTiYOW7WK9G8X5eTIqjgCdsSuW87-2IZ/view?usp=sharing)

[2022-08-23 15:34] ahmadabugosh opened #838 "Newsletter August 2022"

[2022-08-23 15:36] ahmadabugosh commented on #838
Topics to add

-  ICHI angel vault
- Reminder about $nice token
- Team at burning man
- End of GIVfarm rewards (but get ready for GIVpower)
- ETHBarcelona blog post

[2022-08-23 15:43] scottbenjd commented on #734
@ahmadabugosh slow going but have made progress on the fundraising 101 video. made a comment on that issue.

[2022-08-23 15:47] ahmadabugosh commented on #735
Closing this issue and merging it, since it's covered in this issue [this one](https://github.com/giveth/giveth-planning/issues/739)

[2022-08-23 15:47] #735 closed

[2022-08-23 15:48] ahmadabugosh commented on #739
I would mention

- Add a detailed description of your project
- Give regular updates
- Mention your project to your own audience (newsletter, social media). If they're new to crypto, share our Donor course with them.
- Tag @givethio on twitter with a link to your project, what you do and we'll retweet you
- Attend one of our weekly community calls (we need to tell them who to reach out to on disco

[2022-08-23 15:49] ahmadabugosh commented on #733
Any suggestions here? Should I just mention the top donated to projects?

[2022-08-23 16:37] c0ric0ri commented on #838
BitDAO proposal (blog post)
Winners of meme contest for Gleam campaign?

[2022-08-23 16:40] WhyldWanderer commented on #838
Featured project idea
https://giveth.io/project/modoc-earthrace-conservation
https://giveth.io/project/earthrace-2

The projects are connected and are from the same organization that is 501c3 registered... These projects were verified in the most recent round (17)

[2022-08-23 16:48] ahmadabugosh commented on #777
Hey it's live @c0ric0ri https://www.youtube.com/watch?v=NV3kfo2YvoQ

[2022-08-23 17:09] ahmadabugosh commented on #739
@SymSL to do this one

[2022-08-23 17:11] ahmadabugosh commented on #738
@c0ric0ri to take this and check @WhyldWanderer

[2022-08-23 17:15] ahmadabugosh commented on #733
@Cotabe to add some ideas, @WhyldWanderer & @NikolaCreatrix to give feedback on who to nominate

[2022-08-23 20:19] WhyldWanderer commented on #837
transferring from discord comments:
![image](https://user-images.githubusercontent.com/74267818/186257483-9d3f8f7b-b6ce-4b3b-9b4b-1a17f16964aa.png)

Also would like to remind us that if a partnership includes some sort of funding support, a proposal would need to be created in the forum by the interested partner outlining the details of partnership and funding requested

[2022-08-24 11:32] franculio commented on #829
I've been looking around the Zodiac Wiki site and they have a contribution guide which basically explains there's 2 ways of contributing to the website:

1.PATTERNS - The project is trying to create a collaborative pattern language for DAOs where each organization can upload a specific challenge or problem they've encountered with the respective solution applied. This is where maybe we could uploa

[2022-08-24 15:06] SnakeGH commented on #622
@clara-zi, @danelsuga and all you other wonderful people, I had some time to jump back in here and so I finished out the rest of rows 1 through 200, as well as 400 through 600.

If I have more time in the coming days, Ill jump back in and try to close the 200 to 400 gap some

[2022-08-24 18:32] oyealmond commented on #738
Hey @c0ric0ri!!
I can help with this, we just need to create a script and I can record the video nd make the voice over. Anyone that could help me with the script?

[2022-08-24 18:34] oyealmond commented on #737
Heeey team! @NikolaCreatrix @WhyldWanderer @ahmadabugosh @c0ric0ri I see this is work in progress, I can help record the video and the voice over, if someone help me finish the script.
I see is almost there: https://docs.google.com/document/d/1kDiv9uOHVqW4V3ijBLGVnebpFvVtLBgJnM1HI67Tvx8/edit

Maybe we just need to add the visual material to show in the video.

[2022-08-24 18:42] oyealmond commented on #733
Hey @ahmadabugosh @Cotabe @NikolaCreatrix @WhyldWanderer , maybe we could determine success for this specific case as "the ones with more donations"? I know this was a question earlier, "how to determine success?" - As well, if someone is down to work with me on the script I could record the video as well :)

[2022-08-24 18:47] oyealmond commented on #740
Hey @clara-zi @ahmadabugosh @c0ric0ri @WhyldWanderer I can help recording this video if smth is willing to team with me and finish the script ! :) Someone down?

[2022-08-24 19:12] oyealmond commented on #837
Hey team! I think will be great to outline some of the actions/benefits/etc that we could offer to potencial communities/ppl/allies as a team to have more clarity and bring more support. Thank you for the initiative @SnakeGH !
Agree with @WhyldWanderer would be better to team work on putting the packages together as some of them will need follow up and would be important to asigne someone (Ex cura

[2022-08-25 00:59] Cotabe commented on #837
@oyealmond I agree this can be good to align it to the result of the GPS sessions.

I like POAPs as a way to make partnerships more visible

I agree that interviews would be high maintenance. We need to know who would make them and how.

I really like the collab we had with ICHI, I think that one and when we released the CULT regen farm are probably the 2 most effective cross-pollinations in Twitt

[2022-08-25 14:18] oyealmond opened #839 "Community events – promo templates"
Hey Rodri!
We need several design templates to promote the different community events that are already happening.

1) Community AMA (weekly) promo design
Sizes (formats) required:
- Discord
- Twitter
- Facebook
– LinkedIn

Text:

Are you interested in contributing to Giveth, or have questions about your project?
**Come join our Community Orientation session!**
📅 Wednesdays
🕢 11am EDT | 5pm CET
📍 D

[2022-08-25 14:26] oyealmond commented on #839
cc @WhyldWanderer
Could you give a quick check to the texts pls?

[2022-08-25 17:09] tropicalmangos opened #840 "Giveth Donor Pitch Deck"
Hey!

We would like to create a Giveth New Donor Pitch Deck to ideally educate some native crypto users on why they should perform philanthropy with Giveth. Here are some of the issues we hope to address:

1. A web 3 audience that knows about crypto but doesn't know about crypto for good (charitable giving), a ideal audience for us that would convert well and get us more donors. We're early in the

[2022-08-25 21:20] ahmadabugosh commented on #733
Hey @oyealmond thanks for this! I saw you commented on a few videos, but this is the one that I recommend you start with and I think would fit best with your experience and expertise!

So what I would suggest is to have different types of success. For example, we can have:

1. One with the most amount raised: [https://giveth.io/project/expedition-grundeinkommen](https://giveth.io/project/expeditio

[2022-08-25 21:29] Cotabe commented on #840
This looks great! congrats! As you said, I think consistency is the key aspect for anyone that is prepare to launch it in their community. I think, I don't have the bandwidth right now

[2022-08-26 00:35] oyealmond commented on #840
Hey @tropicalmangos! Some communities had reached out to me asking to give a press about Crypto philanthropy, so this deck would be super useful. I can help you put together this deck, would be very useful for me to learn. I think @WhyldWanderer had some presentations that we could use as a base right? Also we have this video to start
ttps://www.youtube.com/watch?v=i8kjxGxGSkA

Let's make a sessio

[2022-08-26 03:29] Cotabe commented on #687
Sorry it took me so long to come back to this topics.

But the results are actually quite good. 10 out of 34 projects are in Giveth. I just followed up with a few more.

I made a summary in an excel sheet to import it to the CRM

https://docs.google.com/spreadsheets/d/1AzbwuFfDXqnFXCOyChlDtHWkb-BxM9HSj8FbfuX8uIQ/edit#gid=0

[2022-08-26 07:49] SnakeGH commented on #840
Hey @tropicalmangos thanks for making a GH issue for the pitch deck, but I believe your details here are actually meant for the donor stragety GH #726. I would suggest changing the details here to be for the pitch deck and then keep the details here on the other GH issue :)

Also, putting Yass' pitch deck on the issue too, if anyone else wants to look at it and create a pitch deck from it

https:/

[2022-08-26 10:07] ahmadabugosh commented on #726
Hey @tropicalmangos I love the initiative with the webinar approach! I recommend you start planning the first one (let's discuss it in our call next week)

[2022-08-26 10:11] ahmadabugosh commented on #740
Hey @oyealmond since you're taking other ones, I can record this one :)  I'll work on it, and share it with you to get your feedback.

One thing I do need though is help on what it looks like from the project side when you receive a donation (to show that in the walkthrough of how to offboard funds). @NikolaCreatrix is that something you can help me out with (recording a short video that shows wha

[2022-08-26 11:19] ahmadabugosh commented on #737
Hey @oyealmond, I think this is good to start recording. I added a couple of comments to the script and I think it's ready for us to record a draft.

For the visual references, I recommend just to keep it simple and record the website + have some slides with bullet points if that makes it easier. You can use these : [https://docs.google.com/presentation/d/1VSrV5QxM2XVyFxiGM81qqC8-FtcxDeo1-Z2K0Wslf

[2022-08-26 13:31] oyealmond commented on #737
Perfect! I can start with this :) @ahmadabugosh :) Send it later today!

[2022-08-26 13:31] oyealmond commented on #733
I take this one as well @ahmadabugosh !

[2022-08-26 16:56] oyealmond commented on #737
Hey @ahmadabugosh @c0ric0ri , finish this first video.
Can you share your thoughts? This is useful, or not at all? https://drive.google.com/file/d/1jbKZhDQug_eTEi-6HeREj-k_6DR6Fbyt/view?usp=sharing

[2022-08-26 18:27] c0ric0ri commented on #830
Reviewed and will plan for it to go out early next week!

[2022-08-26 18:29] c0ric0ri commented on #815
https://twitter.com/Givethio/status/1562082253336895490?s=20&t=1QGeURohxysAU41191QtHQ

[2022-08-26 18:29] #815 closed

[2022-08-26 18:31] c0ric0ri commented on #799
https://twitter.com/Givethio/status/1562783987122454528?s=20&t=1QGeURohxysAU41191QtHQ

[2022-08-26 18:31] #799 closed

[2022-08-26 19:06] c0ric0ri commented on #796
https://medium.com/giveth/giveth-bitdao-a-partnership-to-change-the-world-c9dfcfad6637

[2022-08-26 19:06] #796 closed

[2022-08-27 07:51] SymSL commented on #739
Thanks @ahmadabugosh the points have been great to start the script. I've put some content together here: https://docs.google.com/document/d/13qOxq-M7_DBGnpA5uS0d_2c1Z931KsXR1trOO00szwA/edit but wanted to include points from Claires document above - its a really good guide. Is it published somewhere already that can be linked? I did a search for the heading and couldnt see it up yet. I'll add to t

[2022-08-27 22:26] oyealmond commented on #740
Perfect @ahmadabugosh ! :)

[2022-08-29 16:16] oyealmond commented on #737
I was thinking that, will be nice if we count w some background music @ahmadabugosh to cheer the tutorials a bit

[2022-08-29 16:52] richardblythman commented on #687
Hey @Cotabe. We at Algovera never got around to setting ourselves up on Giveth. Is there someone I could reach out to (e.g. on discord/telegram) for information about the process?

[2022-08-29 19:26] ahmadabugosh commented on #838
Hey @c0ric0ri @danelsuga ,  the newseltter is ready for your comments! Ideally I'd like to send it out by Wednesday (the 31st)

[https://docs.google.com/document/d/147Lg3niAlaL87JK7dno5oK7pU35oEVaaDuFdijhtXqQ/edit](https://docs.google.com/document/d/147Lg3niAlaL87JK7dno5oK7pU35oEVaaDuFdijhtXqQ/edit)

Also, since Lauren is out, I'd appreciate it if any others (@oyealmond @tropicalmangos or anyone e

[2022-08-29 19:30] danelsuga commented on #687
@richardblythman Yes!!! The connect team is here for you! @rainerhoell @Danibelle @WhyldWanderer and more!

[2022-08-29 20:34] oyealmond commented on #733
@ahmadabugosh @c0ric0ri could you help me reviewing this script for me to record the video pls? https://docs.google.com/document/d/1KW6w7Asy1oHFG67YQHm809olOOp4eTk-Aj3pBSSv90I/edit?usp=sharing

[2022-08-29 20:39] c0ric0ri commented on #738
I checked both the covenant and the Terms of Use. There are a lot of points but most of it seems to boil down to policies around harassment and data mining. @ahmadabugosh I actually couldn't find anything about looping donations, I'm curious where that's stated?

Here's a first script outline.

Projects should act in accordance with the Giveth covenant and Giveth terms of use:

1. Making Giveth a

[2022-08-29 21:27] c0ric0ri commented on #838
Added some comments and grammer corrections @ahmadabugosh , otherwise all good from my end!

[2022-08-30 11:58] SnakeGH commented on #622
Hey team, just an update that I have completed columns 13 up until 600 out of the 1000. Ill keep pushing through with hopes of finishing them all up, but please do let me know if anyone would still like to take any of them on, as well : )

Additionally, please do make sure to add all orgs & contacts to the new CRM (hubspot) as I have run into two orgs that are already on our platform, which I woul

[2022-08-30 14:52] ahmadabugosh commented on #737
Great work @oyealmond ! I think this is ready for review by someone that works close to project verification like @WhyldWanderer or @NikolaCreatrix .

 Once they give the go ahead, I can add some soft background music to it and make minor edits to ship it

[2022-08-30 15:02] ahmadabugosh commented on #733
Thanks @oyealmond , i left a few comments

[2022-08-30 15:32] danelsuga commented on #838
I'll review later today @ahmadabugosh

[2022-08-30 15:35] c0ric0ri opened #841 "Blog Post / Video Explainer for Project Verification Update"
We should create a blog post or perhaps video explainer to announce the new project verification flow (with new button).

- New verification button
- New verification flow ( [screenshots](https://docs.google.com/document/d/1Th8mIV3QZYXhEexQSKp2P7QLiWju0QyLQ52tEV4S5lE/edit?usp=sharing) )

We can explain each page, specially the email verification and oAuth of user socials.
Compared to the previous

[2022-08-30 15:45] ahmadabugosh commented on #737
@oyealmond a few more thoughts I had on this that we can improve on:

1) I think you should spend a little more time on filling the form, especially for "tricky" parts that might be new to projects not familiar with web3. For example, what to put for their address (a few projects I talked to got stuck on that part because they never used Metamask etc before). You could just explain you need a wall

[2022-08-30 15:51] c0ric0ri opened #842 "Tweet about new UX for Verification"
Screenshots below of new UX on adding recipient addresses. They can now have different addresses or not receive the fund in any network.
Compared to the previous state, it's easier for newbies to add addresses, and for advanced users, the can differ and stop any network.

![unknown](https://user-images.githubusercontent.com/106524383/187483335-4fcfd422-2192-4981-b803-5622e9baec67.png)
![unknown1](

[2022-08-30 16:12] franculio commented on #829
@danelsuga

[2022-08-30 16:16] ahmadabugosh commented on #739
@Cotabe gave a great suggestion to also mention how to use Discord as a project owner, to give themselves the "Maker" role, for them to stay up to date on ways to work with us to promote their projects.

[2022-08-30 16:26] ahmadabugosh commented on #842
@franculio @oyealmond to take this!

[2022-08-30 16:26] ahmadabugosh commented on #841
@franculio @oyealmond to take this!

[2022-08-30 16:52] danelsuga commented on #794
Thanks @c0ric0ri !

[2022-08-30 16:53] danelsuga opened #843 "Medium article on Griff's SBS talk July 2020"
@c0ric0ri made a transcript of the talk:
https://docs.google.com/document/d/1GwfIic_IuC7zcOB78L8XIaHEzYMJbHjgi0f5UhnHGqA/edit

[2022-08-30 16:54] SnakeGH opened #844 "Giveth Donor Road Map – From “Cold Call” to “Donor”"
Hey Team,

I think its smart to put together a road map, for how to move a new donor from cold call through to current donor, if nothing more as a template for new Giveth contributors with no experience in this realm, as well as using it to think about where else we can create road maps inside Giveth.

Additionally, I have been doing a lot of donor research for different strategies, and almost all

[2022-08-30 18:51] danelsuga commented on #838
OK! Gave it a go! Brilliant as always @ahmadabugosh

[2022-08-31 15:57] oyealmond commented on #842
@ahmadabugosh , one question, this needs update in the Giveth documentation as well? OR only a tweet.
cc @franculio

[2022-08-31 17:05] oyealmond commented on #842
Hey @c0ric0ri !
Here's a tweet thread regarding the new 2 updates (verification form and new UX for recipients) .
@ahmadabugosh @danelsuga is this useful?
Feel free to modify
cc @franculio

1)
🥳 Happy to share some of the new updates of our platform!
🧵 Check this thread around our  new verification process and the new experience for fund receiving.

[GIF]

2)
📝 New Verification process is here
🔓 T

[2022-08-31 17:33] ahmadabugosh commented on #838
Yes, just sent it out! :) https://www.getrevue.co/profile/giveth/issues/in-the-arms-of-an-angel-vault-1328563

[2022-08-31 17:33] #838 closed

[2022-08-31 17:40] ahmadabugosh commented on #842
Thanks @oyealmond !

@c0ric0ri to give you context, we discussed in the comms call yesterday that it might make sense to have a regular "platform update" tweet thread where we tell people what new features are on the website, and we thought the two new updates you flagged could be the first iteration of that.

Also, @oyealmond I think we need to have this on the docs as well, probably added to the

[2022-08-31 17:44] ahmadabugosh opened #845 "Infographic for social media for biweekly post"
Have it every 2 weeks, and mention
- Total donations
- Donation amount
- Most active projects
- Number of new donors
- New projects listed / verified

and other GPS metrics

Also check with Blockchain learning if they'd like to help with this

[2022-08-31 17:57] oyealmond commented on #841
Question we reviewed w @ahmadabugosh yesterday this text will be to update the Giveth documentation, but now Im not sure if this was thought to be a Medium text (which will require a different tone) .

Could you review the text , modify and/or add your feedback please? 🙂
https://docs.google.com/document/d/1Th8mIV3QZYXhEexQSKp2P7QLiWju0QyLQ52tEV4S5lE/edit

@ahmadabugosh @ahmadabugosh @c0ric0ri @fra

[2022-08-31 18:01] franculio commented on #842
@ahmadabugosh I'm working on adding this to the docs, I can have it ready for tomorrow. Since I don't have access to edit the docs I'll just drop the text in this issue.

[2022-08-31 18:11] oyealmond commented on #842
Hey @ahmadabugosh what do you mean to have this on the docs as well, probably added to the [create a project](https://docs.giveth.io/dapps/createproject) section?

[2022-08-31 19:54] ahmadabugosh commented on #842
Hey @franculio , yes no worries, when you have it ready, maybe share it as a google doc, then we can have someone else add it to the docs.

@oyealmond it seems Franco is already working on this, basically just to add it to our documentation section on the [https://docs.giveth.io/](https://docs.giveth.io/) site (which is sort of like a wiki site that is used by people to learn more about how the pl

[2022-08-31 20:03] oyealmond commented on #842
ohh got ya. Thank youuu @franculio !

[2022-08-31 20:10] #650 closed

[2022-09-01 09:26] franculio commented on #842
Here it's the change for the Giveth Docs:
https://docs.google.com/document/d/1xQdwa-h2suaTlSeUZonHMUw_TASHKM32c9D9ZapIhB4/edit

Let me know if it's all good and I can update it in the Docs, I found a way to edit the site! @ahmadabugosh @c0ric0ri @oyealmond

[2022-09-01 11:06] danelsuga commented on #622
This is AMAZING @SnakeGH !! Thank you so much!

[2022-09-01 11:29] danelsuga commented on #829
Thanks for taking this on, @franculio !

1) As for patterns, presenting Praise there would be quite ambitious. Perhaps it doesn't have to be though. The more I think about it, the more it seems quite relevant and also important to share. I suppose it could be presented in a general way, with the full package  proposed by the Commons Stack suggested in there somehow. Praise is obviously a fabulous

[2022-09-01 11:45] danelsuga commented on #826
I'm working on this now.

[2022-09-01 11:47] danelsuga commented on #826
Can I get some help on this part please @NikolaCreatrix @MoeNick?

Lauren says to mention: "improving the project verification flow so that it's part of our dApp now" (@NikolaCreatrix or @MoeNick can explain)"

[2022-09-01 11:59] danelsuga commented on #826
I'll take care of project updates and will bring the issue up in the next comms call for more support on these items asap:

- create nice GR15 donation memes

- send an email message our via gitcoin grants to our previous donors
(https://docs.google.com/document/d/1tC7AiyYwzxSX3hbpQSaT_zKqnzHmu3xYRuS7wKRtgFg/edit)

- draft tweets

@ahmadabugosh
@SnakeGH
@tropicalmangos
@c0ric0ri
@oyealmond
@scottb

[2022-09-01 12:12] danelsuga commented on #826
I'll take care of project updates BUT NEED IMMEDIATE SUPPORT to establish a list of relevant updates that occurred in the last three months. (For example, does the Angel Vault get mentioned on Gitcoin? I don't think so but need input.)

I will also bring the issue up in the next comms call for more support on these items asap:

- create nice GR15 donation memes

- send an email message our via git

[2022-09-01 12:25] franculio commented on #829
Thank you @danelsuga !

I'll go ahead and make that entry on the library which is very simple, and regarding the praise system I'll work a bit more on it and post something here before getting it into the Zodiac Wiki.

[2022-09-01 12:32] ahmadabugosh commented on #826
Hey @danelsuga looking at the last few newsletters, I would say the top highlights from the last 3 months are:

- Launch of the $nice token
- Giveth Angel Vault
- ETHBarcelona how we were a sponsor and helped onboard people on the ground
- August 2022 was our highest donation month with $320K donated
- Top projects. For example, you could mention how https://giveth.io/project/expedition-grundeinko

[2022-09-01 13:07] danelsuga commented on #826
You are the best @ahmadabugosh !

[2022-09-01 15:37] c0ric0ri commented on #830
https://twitter.com/Givethio/status/1564608353564872721?s=20&t=JwZ8ftw5BgFehRv5kGl8zA

[2022-09-01 15:37] #830 closed

[2022-09-01 16:46] oyealmond commented on #826
@danelsuga checking this right now, is there any specifics that I could support you with around the GR15?

[2022-09-01 17:32] danelsuga commented on #826
Thanks @oyealmond ! With @ahmadabugosh's feedback, I think the urgency has passed for this week. I'll be able to do the description. (But actually there is still the issue of improving project verification flow. Not sure if you or some one can help? I need to post the description tomorrow, so it'd be great if anyone could support that.

Meanwhile, I'll do the description for Friday, then you can c

[2022-09-01 18:09] oyealmond commented on #826
Around the new verification flow, I wrote this doc yesterday around the new verification process improvements -
Basically it was removed the Typeform for a new in house form, and now email and social media verification steps were added to gain reliability. Is still need to be reviewed
 https://docs.google.com/document/d/1Th8mIV3QZYXhEexQSKp2P7QLiWju0QyLQ52tEV4S5lE/edit?usp=sharing

Lmk if this is

[2022-09-01 18:22] danelsuga commented on #826
@oyealmond oh wow. Thank you. This teamwork is so fabulous. Yes, this is great! Thank you!!!

[2022-09-01 21:56] Cotabe opened #846 "Create a marketing campaign over a Public Good Balancer Pool"
We are pushing forward for having up to 8 DAOs aligned with public goods co-creating a balancer pool and having more DAO-owned liquidity on Main Net.

It would be perfect to have:

- A blog post.
- A Twitter campaign.

@c0ric0ri  @chad-fi

[2022-09-01 23:36] oyealmond opened #847 "Tweets promoting Twitter Space around ReFiNFT auction for Giveth"
Giveth will be co Hosting a Twitter Space around an NFT auction powered by RefiNFT which funds will go a 100% to Giveth Mental Health projects. Would like to schedule 2 tweets inviting the community to join and support!

**Monday 7th | time tbd**

🎙 Come join us next Wednesday 5pm EDT | 11pm CET in the Twitter Space we will be co-hosting with @ReFiNFT
🥳 We will be talking around the importance of

[2022-09-01 23:37] oyealmond commented on #847
@ahmadabugosh @c0ric0ri @Cotabe  plz provide feedback to the following tuits, I can tweet both after reviewing

[2022-09-02 11:14] ahmadabugosh commented on #847
hey @oyealmond I made some changes and put it in this doc: https://docs.google.com/document/d/12-qx2d7QWASbeyVCKX4CGCrOUV0AA0YRKZWfHLzpNWs/edit

Mainly I fixed some minor grammar, added a hook at the beginning and because of the character limit took out the timing (I don't think it's neccessary, because when you post the space link it automatically converts it into the user's own timezone):

[2022-09-02 11:25] danelsuga commented on #760
Griff's SBS talk transcript by Cori:
https://docs.google.com/document/d/1GwfIic_IuC7zcOB78L8XIaHEzYMJbHjgi0f5UhnHGqA/edit

[2022-09-02 11:25] #760 closed

[2022-09-02 11:35] ahmadabugosh commented on #760
Thanks @danelsuga ! Is this related to the soundbite task? Are there any short quotes you recommend I make a video with or is this more for the article?

[2022-09-02 11:39] danelsuga commented on #760
I didn't know if this task was complete actually. I had gotten info from @c0ric0ri for the article that she had worked on the transcript for the talk, so I just wanted to paste it here since the last correspondence I read was that you were asking if anyone had done it.

In short, I was just cleaning up/connecting the dots. :)

I haven't gotten around to the article yet. I think I need to sync with

[2022-09-02 11:55] danelsuga commented on #826
Quick Q @oyealmond : does your verification flow doc have a Github issue? I can't find it. I took the liberty of doing some quick edits while I was reading :) and I wanted to be able to let you know in the appropriate Github issue! Thanks. If there is no issue, go ahead and make one (or I can). If there is an issue, just tag me in it. thx

[2022-09-02 16:16] oyealmond commented on #847
Love it! Thank you @ahmadabugosh !

[2022-09-02 16:33] oyealmond commented on #826
Loved your edits @danelsuga  thank you! Here it is https://github.com/Giveth/giveth-planning/issues/841#issuecomment-1231894794

[2022-09-02 17:14] c0ric0ri commented on #777
https://twitter.com/Givethio/status/1565379302568378372?s=20&t=fKxCtfV1465VziCIGKonFA

[2022-09-02 17:14] #777 closed

[2022-09-02 19:27] oyealmond commented on #733
Thank you! @ahmadabugosh Already applied your comments. Here's the video. https://drive.google.com/file/d/1nqBXCkV4ahwegPq1s-bZTG1CBDF0cQ5V/view?usp=sharing
Let me know any feedback.

[2022-09-02 22:20] Cotabe commented on #760
I got a quota that I liked from my own interview. We might add it as a soundbite:

"We have a motto that we are building the future of giving... & for us the future of giving is turning donors into donors and impact investors with the same money that they donated.

And we are turning makers (people that are doing for good projects) from people that ask for money to do great things in the world to

[2022-09-02 22:33] ahmadabugosh commented on #842
Thanks @franculio ! Can you please change the access to "Anyone can comment" so we can leave feedback?

[2022-09-03 01:36] Cotabe commented on #687
Yes @richardblythman all the above & I think the quickest response you would get on Giveth Discord. Specially on the Makers space. Also every Wednesday at 10am CST we have an AMA session for stakeholders.

[2022-09-03 01:40] Cotabe opened #848 "Recurring content to plan"
Hey as agreed on the communications call.

Here are a few things that we can plan to have as recurring content:

- Verified makers (I saw this week we had it :)
- Platform updates (maybe every month)
- Key monthly stats (maybe stats and stories of impact)
- Regen Farms PSA
- Farms APR (already done)

[2022-09-03 01:41] Cotabe commented on #848
@c0ric0ri  @ahmadabugosh

[2022-09-03 14:52] franculio commented on #842
Oh sorry about that, i just changed it! @ahmadabugosh

[2022-09-03 22:38] oyealmond commented on #737
Hey @ahmadabugosh !
Thanks for the feedback.
Here is the video update with your observations. Lmk your thoughts https://drive.google.com/file/d/1VDoqC2SUrEb2EFcaD7oGq8VZm-r79jsz/view?usp=sharing

[2022-09-04 10:12] MoeNick commented on #826
Hey @oyealmond Thanks for the doc, I think we should use real screenshots, with real projects and for all steps, this flow has lots of details that users will love them. If Im not wrong  I sent these screenshots to Cori and I was not thinking this will get used from private chats :)

[2022-09-05 08:20] NikolaCreatrix commented on #737
Hi @oyealmond and @ahmadabugosh , wow I am actually so happy you took and pushed this forward Almond, cause I felt stuck and then also waiting for the new Verification Dapp... Great job and I like your voice. :))

Few thoughts and comments, I echo Ahmad's feedback and would like to add to it these things that come out of the experience:

- Before you can Verify your project first you have to creat

[2022-09-05 09:06] MoeNick commented on #826
You can simply define a test project with full details and good examples which seem to be real, then simply open the project and click on Verify Your Project button (while connected and signed in) then you are redirected to the flow and you can fill all data needed, I think @NikolaCreatrix also did it several times before so she can help a lot to provide help. :)

[2022-09-05 10:53] danelsuga commented on #795
https://medium.com/giveth/giveth-at-eth-barcelona-giving-on-the-ground-f7f1b55c320d

[2022-09-05 10:53] NikolaCreatrix opened #849 "Tweet thread for R19"

[2022-09-05 12:46] NikolaCreatrix commented on #849
Hello there @c0ric0ri and @laurenluz

The tweet for R19 verified projects is ready for review as a draft, please comment or provide feedback and I will be happy to make any changes.

FYI @laurenluz I thank you for your feedback and this time I wrote also the 'first tweet'. :)

[Tweet thread r19](https://docs.google.com/document/d/1RuWudknxjxr9ChbpLhj8rc98yB3Xg6Ykat78Zh0gG5M/edit?usp=sharing)

[2022-09-05 15:14] oyealmond commented on #826
Thank you @MoeNick! The guidance of @NikolaCreatrix would be great on this matter 🙏🏻

[2022-09-05 16:55] c0ric0ri commented on #842
Hey @oyealmond thanks for the tweet thread, I'm reviewing it now. Please remember to move issues to Review/QA status when they are ready for review. I've also moved the thread to a google doc so that I can review and comment :)

https://docs.google.com/document/d/13Lcun5b81SF04DUhTEKRhrL165rGXcJiMLi7XJ5iqps/edit

[2022-09-05 19:15] Cotabe opened #850 "Meet the Makers <> ReFi NFT - Mental Health Edition comms plan"
We will be co-hosting a Twitter space with ReFi NFT to introduce Mental Health-focused Giveth Projects to the Web3 community in preparation for the NFT auction whose proceeds will be going to Mental Health-focused Giveth Projects.

Comms goals:

- Get as many Giveth projects related to Mental Health to:
               + Be at the Twitter space.
               + Participate in the dynamic to get pa

[2022-09-05 20:02] oyealmond commented on #850
Thank you @Cotabe
This is the same comms plans we already review @ahmadabugosh @c0ric0ri . Leaving here the issue to avoid duplicates
https://github.com/Giveth/giveth-planning/issues/847#issuecomment-1235373219

[2022-09-05 20:03] oyealmond commented on #847
Thank you for your feedback @ahmadabugosh @c0ric0ri .
@c0ric0ri could you help me tweet the already reviewed Tweet please?

[2022-09-05 23:07] oyealmond commented on #842
Thank you for moving the issue @c0ric0ri! Will have in mind for the future issues I create.
Thank you for reviewing the thread!

[2022-09-06 00:34] oyealmond opened #851 "Weekly copies to promote AMA calls"
Dear team,
I created [this doc](https://docs.google.com/document/d/1rn5doTwDiZD8N7yxaJQeENXF63d65jvrS4lEZDEmxTk/edit) With copies to promote the weekly AMAs Wednesday's call.

The idea will be me creating copies in advance for the team to have time to review and tweet/post.

Please let me know if this will be a useful workflow for this promo to start happening.

Would love your thoughts and feedba

[2022-09-06 09:45] tropicalmangos opened #965 "GIVpower delegation Tweet thread + follow up tweets"

[2022-09-06 09:47] danelsuga commented on #843
@c0ric0ri don't know if you've had a chance to continue on this? I was away and then you were sick, I think. Let's reconnect.

[2022-09-06 09:47] danelsuga commented on #821
This is dead in the water for now.

[2022-09-06 09:48] danelsuga commented on #707
Summer events and family tragedy put this on hold, but I want to get back to it now.

[2022-09-06 09:49] tropicalmangos opened #966 "Giveth Documentation - Apply for GIVpower delegation"

[2022-09-06 09:49] tropicalmangos opened #964 "Giveth Documentation - GIVpower delegation "How To""

[2022-09-06 09:54] danelsuga commented on #841
@MoeNick @NikolaCreatrix here's the place for project verification flow support! 😄

[2022-09-06 10:59] ahmadabugosh commented on #848
I like it! How can we action it on Twitter @c0ric0ri ? Maybe different people can help compiling each one on a recurring basis?

[2022-09-06 13:34] NikolaCreatrix commented on #737
@oyealmond sure I can help, I can work on it this week, will try my best to do it asap. And your voice is great!! I would absolutely encourage you to give your voice to it!! Just a little tiny bit of practice and there you go...it ll be awesome, I believe in you! :)

[2022-09-06 15:01] ahmadabugosh commented on #733
Nice work @oyealmond, I like it!

I think we could keep making new ones every few months once we have more success stories to share.

For this video, would you be able to make small edits? A few comments I have for it are:

1) When you mention the Giveth Matching pool you say "13 hundred thousand" I think you mean 13 thousand :)

2) Maybe at the beginning you can add something to say "at the time

[2022-09-06 15:07] ahmadabugosh commented on #738
@c0ric0ri I don't remember where I read about the looping donations (it may have just been on a call, I can't find it on the forum), but yes basically we should mention how we don't allow people to re-donate funds they received.

I think this needs someone who handles project verifications to comment on , cc @NikolaCreatrix @WhyldWanderer

[2022-09-06 15:09] oyealmond commented on #733
sure @ahmadabugosh :)
I will make the fixes. and send it back :)

[2022-09-06 15:33] danelsuga commented on #841
Great! Nice to see you again @NikolaCreatrix !!

[2022-09-06 15:33] ahmadabugosh commented on #739
@SymSL The script looks good! Do you want to record it, or do you need support?

[2022-09-06 16:13] oyealmond commented on #737
Sure I can give it a try, I believe in you too! Thank you for helping adding this details to the script , Still I think that if my voice does not work, maybe @ahmadabugosh or @WhyldWanderer can help us on this

[2022-09-06 16:27] danelsuga commented on #840
Great job @tropicalmangos !

I had a look and made some comments.

[2022-09-06 16:46] oyealmond commented on #840
Hey @tropicalmangos , Thank you for this. Made some comments too. Let me know your thoughts.

[2022-09-06 18:06] c0ric0ri opened #852 "Tweet to promote POAP bounty"
Tweet bringing attention to:

https://app.dework.xyz/giveth/giveth-dapps-v2/overview?taskId=c334ec87-93ab-46cb-ac7f-a197dbceab7c

[2022-09-06 18:14] c0ric0ri commented on #847
@oyealmond tweeted first one yesterday, we'll do the next one tomorrow.

In the meantime I'm copying @Cotabe's duplicate issue here. It's a great idea to do some outreach to these orgs!

We will be co-hosting a Twitter space with ReFi NFT to introduce Mental Health-focused Giveth Projects to the Web3 community in preparation for the NFT auction whose proceeds will be going to Mental Health-focused

[2022-09-06 18:16] #850 closed

[2022-09-06 18:28] c0ric0ri opened #853 "Tweet Highlighting August Donations"
Pull stats from Amplitude to show our biggest month

[2022-09-06 18:55] c0ric0ri commented on #847
@oyealmond I added some comments for the second tweet tomorrow, please just clean it up a bit and it should be good to go!

[2022-09-06 20:10] oyealmond commented on #847
Ty @c0ric0ri ! Those are great edits. I just changed the guests as we have new confirmed people for tomorrow. I will add the new tweets regarding this matter in the same doc

[2022-09-06 20:38] oyealmond commented on #826
Hey @danelsuga great to hear it :)
Im not a 100% align around the memes we need... Maybe @c0ric0ri @ahmadabugosh have better feedback around this?

[2022-09-06 20:42] Cotabe commented on #847
Hey team,

I prepared the email for Giveth projects working on mental health. I would live your feedback before sending :)

Hey {{ person.firstname | default: 'there' }},

You know better than most how important is mental health. We love the work being done by {{ person.organization | default: 'you'}}.

We want to help you get funds to create more impact and here is a simple way.

ReFi NFT, Giveth

[2022-09-06 20:49] oyealmond commented on #847
Thank you @Cotabe :) ♥️

could you just add in the 4. point the day and time of the next Twitter Space?

**Reply to this email and let us know if you want to talk about your project in a twitter space happening this Monday 12th, 3pm EST, 9pm CET**

And just let me know who answer back interested in joining to add it to the comms.

[2022-09-06 20:59] oyealmond commented on #851
Hey @c0ric0ri 💜 I know there's a lot happening right now, but do you think we are good to go to start promoting this week? Thank youuu. Sharing the doc again https://docs.google.com/document/d/1rn5doTwDiZD8N7yxaJQeENXF63d65jvrS4lEZDEmxTk/edit?usp=sharing

[2022-09-06 21:01] Cotabe commented on #847
YES, good idea.

Also... here are projects that also have something about mental health, but are not verified. Maybe this can push them to get verified:

https://giveth.io/project/hurricane-agatha-relief-efforts-on-the-oaxacan-coast
https://giveth.io/project/25-to-lifestyle-sentenced-to-thrive

[2022-09-07 01:44] Cotabe opened #854 "PlutoView partnership NFT minting and selling"
Long story short:

Plutoview reached out to see if we could partner up to bring tools to help projects fundraise through minting art of collborative drawing.

We went through DAO governance to see what was the feeling about piloting the partnership to see if tis could be a tool for Makers. In a very unpopular (low ungagement) forum post votes went to minting with Doin Gud, rather than Open Sea.

W

[2022-09-07 01:48] Cotabe opened #855 "Soundbite on Cotabe's interview"
As agreed on Today's comms call. We will create a few more soundbites from other presentations.

* This is not a priority.

I believe one is Griffs, from here.

Another is from my interview and here is the transcript and info:

"We have a motto that we are building the future of giving... & for us the future of giving is turning donors into donors and impact investors with the same money that they

[2022-09-07 08:58] ahmadabugosh commented on #826
@oyealmond I think it's just any meme we can think of that mentions GR15 and ties it with Giveth. For example, previously we did stuff like [this](https://twitter.com/Givethio/status/1504527321830731783) or [this](https://twitter.com/Givethio/status/1466059527388909570)  or [this ](https://twitter.com/Givethio/status/1470391239321268236).  I would also check in our memes discord channel for inspir

[2022-09-07 13:36] c0ric0ri commented on #847
@oyealmond please accept the suggestions in the doc so we have a clean version :) and then I can post it!

[2022-09-07 13:42] c0ric0ri commented on #847
Wanted to get it out quickly actually so here is the post!
https://twitter.com/Givethio/status/1567508158477639682?s=20&t=R25I8IawEuKZgN2Fg8oOAw

[2022-09-07 18:02] franculio commented on #854
After a call with Eve from Plutoview we decided to hold back on the by-monthly drawing parties until we test out the sell of the NFTs.

I think doing the minting in two different platforms might be more of a hassle. So maybe we just stick to one, I suggest is brought up in the next governance meeting what was voted in the forum post (https://forum.giveth.io/t/pilot-minting-selling-nfts-for-a-cause

[2022-09-07 20:57] Cotabe opened #856 "GIVpower launching campaign"
@c0ric0ri @laurenluz

We feel ready to launch the first part of GIVpower. The agreed tentative date is September, 21st.

It would be great if we could start coordinating some comms for the launch.

Ideas:

- [ ] Documentation

- [ ] Blog post about GIVpower

- [ ] Twitter teaser 1. Example "Something big is coming for non-profits and all organizations working in public goods... Do you want more po

[2022-09-08 10:20] #847 closed

[2022-09-08 11:28] c0ric0ri commented on #848
@ahmadabugosh yes I like the idea of distributing it across different people! Then we have them flow through github for review and added to the content planner.

[2022-09-08 12:22] c0ric0ri commented on #822
https://twitter.com/Givethio/status/1560250668035760134?s=20&t=H4BAgAm77Ecmwpq9c7kcwA

[2022-09-08 12:22] #822 closed

[2022-09-08 12:44] c0ric0ri commented on #844
Hey @SnakeGH I think this is a great initial outline. Let's get some more eyes on this!

[2022-09-08 12:45] c0ric0ri commented on #766
Tweets are up and running regularly now so I will close this issue!

[2022-09-08 12:45] #766 closed

[2022-09-08 12:47] c0ric0ri commented on #727
@WhyldWanderer @Cotabe are we all set to close this issue? Or are we still waiting on something?

[2022-09-08 12:48] #827 closed

[2022-09-08 13:17] NikolaCreatrix commented on #745
Hello there :) @WhyldWanderer and @laurenluz

I feel like the spec is ready for review.

Today, Sep 8th, we have a first Meet The Makers warm up call to form a team, gather feedback and ideas and start moving toward a specific date frame.
And speak with 3 potential outside collaborators for further project interviews.

[2022-09-08 13:19] c0ric0ri commented on #852
https://twitter.com/Givethio/status/1567865003436294144?s=20&t=FKV5CIeQqJdFCNzMT4vchg

[2022-09-08 13:32] NikolaCreatrix commented on #841
Sorry it took me ages to get here...I will improve with being more up to speed w github notifications.
So yeah I am helpin out with finetuning the script for the video part.

Do you need any help with the blog post or anything else @danelsuga ?

[2022-09-08 21:11] SymSL opened #857 "Platform Analytics | Comms dashboard creation on Amplitude"
Opening this task so we can use [this doc](https://docs.google.com/presentation/d/1_vDT2pSDXIUu3fB2Jr5WHJ2ThuH7mmrSGd5shd7ZamE/edit#slide=id.g15052cc8705_0_0) to create the dashboard with data widgets to easily see important metrics.

Tagging the people who contributed to the doc creation, and if anyone can pick this up in the mean time that will be great, otherwise I'll try get to it next week.

[2022-09-09 02:15] oyealmond commented on #826
I think would be great if maybe we can create a quick comms campaign as the GR15 ends on the 22th and we still have not posted anything yet. Maybe we can gather Monday 12th to come w a bunch of ideas and start asap comms? @ahmadabugosh

[2022-09-09 09:26] ahmadabugosh commented on #826
Sounds good! To make it easier, how about you make a brainstorming Google doc where we can put ideas and we can discuss it on Tuesday (during or right after our comms meeting if we don't have time, since it's a little hard for us to organize a meeting with everyone in such short notice)

[2022-09-09 15:11] oyealmond commented on #826
Yes :) @ahmadabugosh
Im really not good at meme creation, but I'll try my best
 https://docs.google.com/document/d/1mtIFmycUghOXFO9Co0CfgnDZ6-vsw1xVJXG2DZttCLw/edit?usp=sharing

[2022-09-09 17:50] oyealmond commented on #733
Heeey @ahmadabugosh , ready the changes
Hope is good to go 🥺
https://drive.google.com/file/d/1UFJglXYmtm6ZgabYytULEhv_XLS0IElO/view?usp=sharing

[2022-09-09 18:25] oyealmond commented on #737
Hello @NikolaCreatrix . Ready de video with the changes you requested. Hope is good this time 😥
cc @WhyldWanderer @ahmadabugosh
https://drive.google.com/file/d/10Auv5OPSb7Bubq89EM4hY3LSWd81lDkg/view?usp=sharing

[2022-09-12 19:10] Cotabe opened #858 "ReFi NFT final comms"
Here is a suggestion of some comms to close our collab with ReFiNFT auction.

Goals.

1. Help raise more for Giveth projects.
Actions:
1.a. Send tweet supporting the auction.
1.b. Retweet ReFiNFT posts.

2. Improve relationships with makers.
2.a Tag projects on ReFiNFT tweet with the eligibility instructions.
2.b Chose time and Invite Makers to the twitter space
2.c Tweet/retweet about the Closing

[2022-09-13 09:01] danelsuga commented on #826
How's the meming and tweeting going for GR15 @oyealmond @ahmadabugosh ? I would say don't worry about memes if you're not up to it, but it'd be great to get the tweets out!

[2022-09-13 09:01] danelsuga commented on #826
How's the meming and tweeting going for GR15 @oyealmond @ahmadabugosh ? I would say don't worry about memes if you're not up to it, but it'd be great to get the tweets out!

[2022-09-13 09:02] danelsuga commented on #707
Actively working on this.

[2022-09-13 09:04] #622 closed

[2022-09-13 09:05] danelsuga commented on #698
I'm closing this, as I think the various issues have been tackled through the devs' repo now.

[2022-09-13 09:05] #698 closed

[2022-09-13 09:11] SnakeGH commented on #622
Wow @danelsuga you are fast, as I literally just finished reviewing the last of the 1000 projects about 2 minutes ago haha and I was just going to say you could close it now, as I have completed them all.

All projects that I ended up reaching out to have been added to our CRM system Hubspot as well, but if you want to review all of them in general, here is the completed excel sheet too

https://d

[2022-09-13 11:47] NikolaCreatrix commented on #737
Hey @oyealmond excellent work!! I think it's perfect now, good to go and green lights from me!

[2022-09-13 12:42] NikolaCreatrix commented on #841
Ty @oyealmond  great job on the video tutorial!!!

I made tiny little suggestions in the doc, looks good to me!!

[2022-09-13 15:55] oyealmond commented on #841
Ty @NikolaCreatrix and @danelsuga for the comments on this!
I think we are goo to go @c0ric0ri

[2022-09-13 16:27] c0ric0ri opened #859 "PoWDump Tweet to promote"

[2022-09-13 16:41] c0ric0ri commented on #826
@Cotabe @oyealmond Let's quickly draft messages today for:

- General to post to Discord and other places
- LinkedIn, Facebook

@c0ric0ri to focus on Twitter format today

[2022-09-13 18:06] c0ric0ri commented on #826
Tweet drafts are here! The first one is ready for review @danelsuga @ahmadabugosh @WhyldWanderer

https://docs.google.com/document/d/1rSezVbbuPQO8szMQq1k7QtvKQCLjlCYV-xNtbdra5Q4/edit

[2022-09-13 18:36] danelsuga commented on #826
Good work @c0ric0ri !

[2022-09-13 21:00] SymSL commented on #739
Hey @ahmadabugosh I've done basic edits but didn't end the video at the right place. There are still some imperfections with timing so I'm happy to do another recording but thought I'd get some feedback on this one in the mean time

https://we.tl/t-8HhvF1ybUS

[2022-09-13 21:21] oyealmond commented on #847
Great Tweet. ty so much @c0ric0ri !

[2022-09-13 21:48] oyealmond commented on #826
Girls @danelsuga @c0ric0ri I made some copies for Facebook/Discord, can you check the out?
https://docs.google.com/document/d/1rSezVbbuPQO8szMQq1k7QtvKQCLjlCYV-xNtbdra5Q4/edit
I used the same doc you opened Cori

[2022-09-14 03:19] Cotabe commented on #826
@danelsuga @c0ric0ri @laurenluz @oyealmond

I did my best to create a simple, yet comprehensive narrative of our vision. That can be implemented in different formats (twitter, LinkedIn facebook).

I'm super biased, but this is where I would like to direct potential donors. I would love to get your opinions before working on customizing the content for different platforms.

[2022-09-14 03:29] Cotabe commented on #826
@danelsuga @c0ric0ri @laurenluz @oyealmond

I also suggest to add the following activities to this issue:

- [ ] Send announcement on Discord tagging everyone asking to support our grant and linking our best piece of content. Maybe also to chill Giveth to GR15 donor communities.

- [ ] Ask contributors to maybe through a discord post tagging unicorns to (1) support Giveth GR15 project, (2) Dedicat

[2022-09-15 13:17] NikolaCreatrix opened #860 "Meet The Makers |Education| October 2022"
The time has come! Meet The Makers is alive again!

Please see the current spec doc and event plan here: (note it's a living document) https://docs.google.com/document/d/11pAUmN18p9_xm-DSG2dNKPApBFph0V5QNv90B5D-2p4/edit?usp=sharing

**We have formed a team! Yay**

Coordinators: @NikolaCreatrix  & @oyealmond
Coordination Advice & Support: @WhyldWanderer
Call/event moderators: Nikola & Almond
Quiet

[2022-09-15 13:37] NikolaCreatrix opened #861 "Invitations & Outreach"
Following are tasks to do as first things first:

- [x] Set up MTM event in giveth.io calendar
- [x]  Select 5 projects
- [x]  Craft personal email invites for selected projects
- [x] Send personal email invites to selected projects
- [x]  Craft general email invite for all participants
- [x] Send general email invite to all participants

[2022-09-15 13:45] NikolaCreatrix commented on #861
Following are tasks to do as first things first:

- [ ] Set up MTM event in giveth.io calendar
- [ ] Select 5 projects
- [ ] Craft and send personal email invites to selected projects
- [ ] Craft and send a general email invite for all participants

[2022-09-15 13:46] NikolaCreatrix opened #862 "Communications Plan (execution start latest at 22nd of October)"
Here the plan is to create a smooth plan for comms around MTM:

Using this template to help follow a timeline:
https://app.mural.co/invitation/mural/whyldwanderer3222/1660258367644?sender=u41f679b014bb5e9221347994&key=e950f8ad-5bc4-49a1-bfc9-c01f2fdc2715

We will need:

- [x] Event banner
- [ ] Blog post/Medium article
- [x] Tweet shill
- [x] Facebook & LinkedIn shill
- [x] Discord shill message

[2022-09-15 13:47] NikolaCreatrix opened #863 "Event & Post Event Coordination"

[2022-09-15 14:47] #852 closed

[2022-09-15 16:17] NikolaCreatrix commented on #861
Projects to send the invite to I have selected mostly based on the Typeform responses we have here and part is from my own knowledge about verified projects and friends we have in the theme of EDUCATION

Document with responses, and personal invite email drafts here:
https://docs.google.com/spreadsheets/d/1Fqb0l0g-VMcYCyNYGPb4OsgjTS8teah7Vnf1rBPs6WA/edit?usp=sharing

Nikola will send a personal in

[2022-09-15 16:46] c0ric0ri commented on #853
hey @ahmadabugosh would you mind helping me to pull a nice screenshot of August donations for a promo tweet?

I was toggling a bit in Amplitude but not sure I'm getting it right...

[2022-09-15 18:23] dework-integration[bot] opened #864 "Project Interview in Spanish"
30 minute interview with Free the Food in Spanish \n Featured on Sea of Hertz Radio Show \n Audio teaser to promote Show

[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/giveth/giveth-planning-1?taskId=127be56e-a49c-41ae-b1fd-5a8ee9da426c)

[2022-09-15 20:36] ahmadabugosh commented on #853
Sure thing, let me know if this ->

<img width="1144" alt="Screen Shot 2022-09-16 at 12 34 36 AM" src="https://user-images.githubusercontent.com/4855928/190503699-7dcf4649-d7e9-4a3c-bbbc-c3d95a23601c.png">

<img width="882" alt="Screen Shot 2022-09-01 at 4 25 26 PM" src="https://user-images.githubusercontent.com/4855928/190503721-31e3b59e-f376-4561-8309-68babaabfd11.png">

[2022-09-15 21:17] ahmadabugosh commented on #739
Thanks @SymSL , nice work!

My initial feedback is:

1) I think it's good but like you said, there are some timing issues in some places

2) I wouldn't mention how this is for the "Projects 101 course", since we may want to use it as a standalone video, so just say what the video is about "Helping you promote your project etc"

3) Can you record it without the logo on the bottom right and the crop

[2022-09-16 15:51] #864 closed

[2022-09-16 20:56] ahmadabugosh commented on #733
@oyealmond nice work! I think we can close this video issue 🙏

I uploaded it on our Youtube channel: [here](https://youtu.be/M12faSm9ao4 )

[2022-09-16 21:05] ahmadabugosh commented on #737
Really great work on this one as well @oyealmond !

I uploaded it on Youtube [here] (https://youtu.be/8myBgJCKXiU)

I have the video unlisted now, @WhyldWanderer can you just do a quick final check before I make it public? (since you're very involved with the verification process) 🙏

[2022-09-16 21:18] ahmadabugosh commented on #738
hey @c0ric0ri are you up for recording this one, or do you need support? @oyealmond offered to record it if you think the script is ready

[2022-09-18 21:40] SymSL commented on #739
Thanks for the feedback Ahmad, I'm including more in the script to cover these points before recording again. I've been trying to see how to add roles in Discord, but tbh I cant see how to do it. I've gone to the assign roles channel, maybe I've missed something. I agree with mentioning Discord but will just keep it brief in this one as I didnt want this to get too long. I've made changes to incor

[2022-09-19 07:25] ahmadabugosh commented on #739
Hey for the discord roles, I think it's just from the ["assign-roles" channel](https://discord.com/channels/679428761438912522/902259962540077146) and choosing the "Maker" role
<img width="804" alt="Screen Shot 2022-09-19 at 11 24 19 AM" src="https://user-images.githubusercontent.com/4855928/190968196-7f22421e-7f27-4bba-958d-84f57a853d79.png">

[2022-09-19 07:54] danelsuga commented on #840
Great job. Left just one more comment @tropicalmangos

[2022-09-19 13:18] NikolaCreatrix commented on #862
This should help us to stay well organized ;) see the taskbar above

https://docs.google.com/document/d/1tsAVtIBasH9DKHxJ-FhCxr5tyTcfDAWX7wCp-4HSkWc/edit

@oyealmond

[2022-09-19 13:24] NikolaCreatrix commented on #861
Selected projects invite draft:

"Hi _First Name_,

Greetings from Giveth! Thank you for showing your interest to participate with your project '_Project Name_' at our upcoming Meet the Makers event!

URL link to the project

Our next Meet The Makers edition will be focused on 'Education as Public Good' and we think you are doing really great work in the world and would love to feature you and you

[2022-09-19 14:42] c0ric0ri commented on #745
Hey @WhyldWanderer are you able to review this week and move this to Done?

[2022-09-19 15:01] c0ric0ri commented on #853
Thanks @ahmadabugosh

I wonder if we can get a nicer design of this to use on social media. @rodricastillo9013 would you be able to help with that?

[2022-09-19 16:18] c0ric0ri commented on #841
hey @WhyldWanderer I know you wanted to review the video one more time, is it good to go?

[2022-09-19 16:27] MoeNick opened #865 "Announce new categories, new sorting, search and filtering"
we are ready to launch a new design of projects' pages, including new Categorization, new sorting, and new filtering.
to see how it looks, pls take a look at  https://givfilter.vercel.app/

Most eye-catching changes are in the projects page, the way user sort by categories and filter or sort.
Also, there are some changes in single page view in the right pane for showing categories, as well as cate

[2022-09-19 18:07] laurenluz commented on #707
Hey @danelsuga I'd love to have a call about this an support you. See where you're at, throw some ideas around. I'll be back to calls hopefullly next week and we can chat them. In the meantime, could you post a google doc with some of your ideas? Maybe start up an outline?

[2022-09-19 18:51] clara-zi opened #866 "Design & Brand Guidelines (Giveth Docs) pdf file unavailable"
Pdf file is missing from Docs page: https://docs.giveth.io/whatisgiveth/brandBook/

[2022-09-19 18:54] clara-zi commented on #866
@markoprljic do you have this .pdf - is it easy for you to attach?

[2022-09-19 23:17] oyealmond commented on #840
Added more comments here @tropicalmangos  https://docs.google.com/presentation/d/1oiHb-HPbAYQsshBEkUkgigjMR5iAUDGz8dfQuPE4Ayo/edit#slide=id.g1490bd5040f_0_0

[2022-09-20 00:22] oyealmond commented on #861
Adding comms plan here to have visibility towards comms updates -

https://docs.google.com/document/d/1tsAVtIBasH9DKHxJ-FhCxr5tyTcfDAWX7wCp-4HSkWc/edit?usp=sharing

[2022-09-20 09:35] danelsuga commented on #707
Will do!

[2022-09-20 09:48] rodricastillo9013 commented on #853
yes, perfect, I can help, for which social network will you need it? to know the format to design :) @c0ric0ri

[2022-09-20 10:08] c0ric0ri commented on #853
@rodricastillo9013 for Twitter! And I think that image would be easy to reuse for Facebook and LinkedIn so one format is fine

[2022-09-20 13:10] danelsuga commented on #843
https://www.youtube.com/watch?v=bdIumUJZenw&list=PL_0VrY55uV1_sM2hl8L-MosZZiV_JVnIs&index=12

[2022-09-20 13:27] SymSL commented on #739
Hey @ahmadabugosh i've done another recording taking into account all the comments, here is the link with an editable video file and an exported one, hope you are able to edit them further (I did a basic edit and cut out the majority of mistakes, but there are some parts (like showing some of our social pages) that could be moved into different places, especially if you are able to separate the vi

[2022-09-20 14:19] oyealmond opened #867 "Designs to promote meet the makers session"
Hey dear @Nicbals !
Asking your help to create a design for the next meet the makers session

Designs required (formats):
– Facebook
– LinkedIn
– Twitter
– Discord

Text:

MEET THE MAKERS
A session dedicated to Giveth projects focused on Education as Public Good
Come meet those who are working to make the world a better place!
📆 Oct 5th | 10am CT , 5pm CET
📍Giveth Discord Community Voice Channel

[2022-09-20 14:26] ahmadabugosh commented on #865
Hey @MoeNick, thanks for this!

I have a few comments

1) I noticed that the filters are not inclusive or exclusive. For example, when you deselect "From GivingBlock" it still shows GivingBlock projects. Could you make the functionality be by default they are all selected, then you can deselect the ones you don't want? For example, if you deselect "From GivingBlock" it would not show them etc.

2)

[2022-09-20 14:34] ahmadabugosh opened #868 "Create a project testimonial we can use"

[2022-09-20 14:40] ahmadabugosh commented on #868
Hey @clara-zi & @NikolaCreatrix  I was thinking that we should create some testimonials from our successful projects, starting with just one as a proof of concept. I recommend we do this as a video interview we record, so we can repurpose it as a

1. Video snippet
2. We can create audio soundbites
3. Testimonial graphics we can share on Twitter.

Wdyt? Is there one project we can test this out on?

[2022-09-20 14:45] ahmadabugosh commented on #731
For this one, I'll mention

- This is a projects 101 course to help your project succeed on Giveth
- We'll be going over how to setup your project, how to get verified (and why you should get verified), how to withdraw your funds once you receive them and how to succeed on Giveth (how to promote your project and how Giveth can help promote you)!

[2022-09-20 14:48] ahmadabugosh commented on #740
hey @NikolaCreatrix, wanted to ping you on this again, can you share a short recording for this on what it looks like when a project receives funds, and how to make those funds show up in Metamask? Once it's in Metamask I can explain how to offboard it from there, but I want to have what it looks like when a project receives donations so we can have the entire flow recorded easily for them step by

[2022-09-20 14:50] ahmadabugosh commented on #736
Closing this as we mention perks of getting verified in [this issue](https://github.com/giveth/giveth-planning/issues/737).

[2022-09-20 14:50] #736 closed

[2022-09-20 14:52] ahmadabugosh commented on #732
Hey @laurenluz when you're back in action, can you take a crack at recording this one? 🙏

[2022-09-20 15:21] ahmadabugosh opened #869 "Newsletter September 2022"

[2022-09-20 15:32] Cotabe commented on #868
Love the idea... Projects that come to my mind:

- Urbanika - HBesso
- Agroforestry DAO - Diogo J

[2022-09-20 15:38] ahmadabugosh commented on #869
Topics to cover in this issue:

1) What to cover
- GIVpower coming soon
- Winner of survery + $nice tokens
- Verified Projects highlights
- Devcon

2) Does anyone have a favorite highlighted project? or want to add anything else?

3) I'm thinking of doing a Meet the team segment where I highlight a new person that works at Giveth each issue (like a profile). Wdyt?

[2022-09-20 15:41] ahmadabugosh commented on #460
Hey @laurenluz I wanted to push this up the queue. I think about this issue every time I visit our Medium 😅, if you add me to the Medium I can implement this

[2022-09-20 15:43] ahmadabugosh commented on #868
Thanks @clara-zi !  Can you dm me it (try sending it either as a Google Drive file or if it's too large using WeTransfer)?

[2022-09-20 15:44] clara-zi commented on #868
Another project that comes to mind: Nisria @ahmadabugosh

[2022-09-20 16:52] laurenluz opened #870 "Create a central location for talk content & planning"
I think it should be notion talk that includes:
- a living doc of information related to out overarching messages
- presentation slide templates & graphics
- links to previous talks & their owers

The purpose being a prepatory place where people can get informtion and create their future giveth talks so that we can have a bunch of awesome people representing out awesome vision from different angle

[2022-09-20 16:52] laurenluz commented on #870
https://drive.google.com/drive/folders/1a8ojkr-2J_uCBEI4Xbl1whH2lGwLFttF?usp=sharing

[2022-09-20 16:56] c0ric0ri commented on #869
Project testimonials
Profiles on people who are giving talks soon
Upcoming events

[2022-09-20 16:58] laurenluz commented on #869
Angel vault updates? maybe mention that GIV is performing better than ETH
DevCon / Bogota --> Mateo & Cotabe I think are planning to give talks at the DAOist
Griff has a talk scheduled for DevCon (Although I am not 100% sure if he will be there)

GIVpower staking & locking should launch hopefully by the end of this month. We are actively working on boosting.

[2022-09-20 16:59] laurenluz commented on #869
Also did we ever mention our BitDAO blog postin a newsletter? it was a really nice explainer of our overall mission/vision

[2022-09-20 17:07] WhyldWanderer commented on #869
**Upcoming events:**

Meet the Makers
Colombia Talks

[2022-09-20 17:08] WhyldWanderer commented on #869
GR15 recap - maybe we want to talk about this if it went well...
If we didnt do so good maybe we dont need to

[2022-09-20 19:12] c0ric0ri opened #871 "GIVpower Staking/Locking Comms Strategy"

[2022-09-20 19:20] c0ric0ri commented on #738
Hey @NikolaCreatrix @WhyldWanderer would you mind double checking this before we start recording?

[2022-09-20 19:26] c0ric0ri opened #872 "Representing Giveth External Comms"
As the team grows and different members attend events to give talk about Giveth, it makes sense to align on messaging and also coordinate communications strategies to avoid redundancies.

The idea is to have some resources created that outline key information and the process for preparing for talks.

Some points already brainstormed:

- representatives should be aware of roadmap, have a version of

[2022-09-20 19:38] c0ric0ri commented on #851
@oyealmond as this is an ongoing living document, let's discuss in the next call how to set this up for regular content scheduling. We can then close this issue eventually and continue regular planning.

[2022-09-20 20:02] oyealmond commented on #851
yes agree @c0ric0ri , thank you! This can be part of @WhyldWanderer's suggestion around comms process improvements .

[2022-09-20 20:04] c0ric0ri commented on #849
@NikolaCreatrix this is great, thank you for putting this together! Left some comments and minor adjustments, after that we should be good to go

[2022-09-20 20:38] c0ric0ri commented on #829
hey @franculio just checking in on the status of this issue, is there still more than needs to be done or can it be moved to completion?

[2022-09-20 22:58] oyealmond commented on #862
adding the Desing issue here
https://github.com/Giveth/giveth-planning/issues/867

This is the right. place @WhyldWanderer ?

[2022-09-20 23:03] oyealmond opened #873 "Send email to Giveth Database inviting to Meet the Makers session"
Hey dear @ahmadabugosh, we need help to send and email to the Giveth data base inviting everyone to the next meet the makers session, could you help us?
The email text is here below:
The email is ready to send whenever you have chance

Email Subject:
Meet the Makers Event - Come meet the projects that are making it happen!

### Inviting all Giveth’s Community to join the next Meet the Makers virtu

[2022-09-21 00:01] oyealmond commented on #862
Sharing the issue to send the email to Giveth's database
https://github.com/Giveth/giveth-planning/issues/873

[2022-09-21 08:10] MoeNick commented on #865
and for #2, can we go live with what is it, then have the suggested changes later?
We hold this version for a long time and it could be very costly for us to wait more weeks.

[2022-09-21 09:37] clara-zi commented on #866
Thanks @markoprljic

@rodricastillo9013 is the Design & Brand Guidelines complete and ready to be uploaded to page: https://docs.giveth.io/whatisgiveth/brandBook/ ?

[2022-09-21 09:39] franculio commented on #829
Hey @c0ric0ri ! There's still the praise system solution to be added to the patterns section of the ZodiacWiki. I don't think this is urgent and I wanted to first get involved in the upgrade that's happening this week to get a better idea on how to put it in. Should I move this to done then? or to backlog until I get back to it?

[2022-09-21 09:45] franculio commented on #842
Hey @c0ric0ri ! I checked the docs and this hasn't been updated yet.

You can find the modification I wrote here:
https://docs.google.com/document/d/1xQdwa-h2suaTlSeUZonHMUw_TASHKM32c9D9ZapIhB4/edit

Let me know if it's good to go and I'll figure out how to update it. Thanks!

[2022-09-21 09:58] rodricastillo9013 commented on #866
Yes! @clara-zi

[2022-09-21 11:02] rodricastillo9013 commented on #853
![Twitter - Post](https://user-images.githubusercontent.com/61791380/191488022-6e643140-b6e8-4d77-a2c5-43ff94356957.png)
If it's ok, I'll adapt it to Facebook and LinkedIn

[2022-09-21 12:35] ahmadabugosh commented on #873
Hey @oyealmond I edited the email, and added an RSVP link (that will add it to Google calendar).

Let me know if it's good to go, and I'll send it right away!  [https://docs.google.com/document/d/1NaFLPQgs-wOewcm5-jmu13qk-KJtVYTrjbWd7g1nX50/edit#](https://docs.google.com/document/d/1NaFLPQgs-wOewcm5-jmu13qk-KJtVYTrjbWd7g1nX50/edit#)

Also, in the future, for these emails please make them as a Goog

[2022-09-21 16:35] laurenluz commented on #842
@c0ric0ri @oyealmond Did you guys tweet this out yet? Noticing some slight inaccuracies in the doc I'd like to change. Can you make it "anyone can comment" access if it hasn't been sent out yet?

@franculio I'm going to make these docs changes a separate issue because it gets confusing to have it with this tweet issue :)

[2022-09-21 16:35] laurenluz opened #874 "Recipient Address Documentation Update"
Hey @c0ric0ri ! I checked the docs and this hasn't been updated yet.

You can find the modification I wrote here:
https://docs.google.com/document/d/1xQdwa-h2suaTlSeUZonHMUw_TASHKM32c9D9ZapIhB4/edit

Let me know if it's good to go and I'll figure out how to update it. Thanks!

_Originally posted by @franculio in https://github.com/Giveth/giveth-planning/issues/842#issuecomment-1253463889_

[2022-09-21 16:39] laurenluz commented on #874
Hey @franculio! Thanks for taking the initiative to make these suggestions. I made a couple of small comments in the doc.

I would love it if you could copy/paste the exisitng content into a google doc, make the changes in there directly (maybe just make them a different colour) and then have that google doc up for review.

With the suggestions like this it's a bit hard to get the context of the o

[2022-09-21 17:05] c0ric0ri commented on #853
https://twitter.com/Givethio/status/1572606750335074304?s=20&t=EKfCutTa7kCx9LO4BsCGTg

[2022-09-21 17:06] c0ric0ri commented on #853
<img width="1024" alt="Twitter_-_Post" src="https://user-images.githubusercontent.com/106524383/191567432-72bb2b2d-d023-433d-b7f6-a9db2db30540.png">

[2022-09-21 17:08] c0ric0ri commented on #829
@franculio let's close this issue, and would you mind starting a new issue to add Praise to the ZodiacWiki? Then we can keep it in the Backlog until we're ready to work on it

[2022-09-21 17:09] c0ric0ri commented on #859
https://twitter.com/Givethio/status/1570073817019518976?s=20&t=EKfCutTa7kCx9LO4BsCGTg

[2022-09-21 17:10] #859 closed

[2022-09-21 17:32] franculio commented on #829
@c0ric0ri Ok. I will create a new one. Thanks!

[2022-09-21 17:58] c0ric0ri commented on #842
@laurenluz not yet, I just changed the doc access

[2022-09-21 21:42] ahmadabugosh commented on #869
Thanks everyone for the suggestions!

@laurenluz yes, we mentioned BitDAO in the [last edition!](https://www.getrevue.co/profile/giveth/issues/in-the-arms-of-an-angel-vault-1328563)

@tropicalmangos thanks! 1) An education section might be interesting, let me think about what to include in the next one 2) We use [Revue](https://www.getrevue.co/profile/giveth), it does give us stats like subscriber

[2022-09-21 22:03] ahmadabugosh commented on #865
Thanks @MoeNick !

1) So for example, let me give you a common use case that we frequently run into. Now, there is no way to easily check if a project is a) On Gnosis chain (not Giving Block) and b) A verified project
(I got this complaint from several people before). What do you suggest for that use case using filters?

2) Yes, please go with that for now, and we can edit them later maybe as a ne

[2022-09-21 22:42] oyealmond commented on #738
sure I can help!
I think Ive seen a couple of m ore 101 Videos missing, maybe we can arrange a call to align and finish them all :) @ahmadabugosh @c0ric0ri

[2022-09-22 00:14] oyealmond opened #875 "Giveth Press Release creation"
Rescuining @laurenluz and @markoprljic issue around Giveth's [press release creation](https://github.com/Giveth/giveth-planning/issues/397)

More and more ppl is interested in Giveth and we still are missing on a short - easy to share document explaining Giveth in a nutshell (specially for media, partnerships and influencers) .

Made this English and Spanish draft to review and then design:
https:

[2022-09-22 00:15] oyealmond commented on #875
Could you help me review? @franculio @tropicalmangos @WhyldWanderer @danelsuga

[2022-09-22 07:15] MoeNick commented on #865
1- I suggest adding a filter "accept funds on Gnosis" or "giveth projects" or "not from GivingBlock" we can also adding "accept funds on eth and gnosis chain"

2- @mosaeedi thinks it's not a good choice for design, can we add it in header and also in the alt of picture (kinda tooltip) ?

3- let's do it today, I DMed you on this, this is the issue https://github.com/Giveth/GIVeconomy/issues/723#iss

[2022-09-22 09:50] NikolaCreatrix commented on #873
Hey @ahmadabugosh thanks so much! I just reviewed the doc and the email is great! Yes, let's send it out!

Thanks @oyealmond for the great coordination!

[2022-09-22 10:09] NikolaCreatrix commented on #861
Note: General invite email draft is in issue #873

[2022-09-22 10:20] NikolaCreatrix commented on #849
Thanks @c0ric0ri, reviewed and adjusted, we are good to go.

Also, will be creating a new issue and sharing the draft for R20 latest by tmrw, fyi.

[2022-09-22 10:25] NikolaCreatrix commented on #745
This is actually pretty much done and we are already working with it the EPIC #860

So we can close this issue. I am on it.

[2022-09-22 10:27] #745 closed

[2022-09-22 11:36] SnakeGH commented on #837
Thanks, a big bunch @tropicalmangos as its coming together really nicely. @ahmadabugosh which Giveth designing contributor do you think can assist us with the design and "WOW" next step?

[2022-09-22 11:49] SnakeGH commented on #840
@tropicalmangos awesome work on the donor pitch deck. Go ahead and close the issue at this point then :)

[2022-09-22 11:49] #840 closed

[2022-09-22 14:55] franculio commented on #874
Thanks @laurenluz !

Since the recipient address part that needs to be changed is very small, the google docs with suggestions looks confusing anyways. Hopefully you can understand it : https://docs.google.com/document/d/1jKripLIYJXKXbJEXl0W7i3Md1QIrp9RD6KSNS4L_-e4/edit

If not I'm also keeping the other one with the same proposal but without suggestions (only final result): https://docs.google.co

[2022-09-22 16:16] oyealmond commented on #873
Thank you for reviewing @NikolaCreatrix !
And copied @ahmadabugosh , next time I will use Google Docs as well.

[2022-09-22 17:22] c0ric0ri commented on #842
Hey @oyealmond would you please check the reviews on the tweet thread and clean it up?

@laurenluz would love to get your quick confirmation that the thread looks good to you (I am just still confirming the one detail about reliability)

[2022-09-22 17:39] oyealmond commented on #842
@c0ric0ri The edits are perfect. For future issues, please feel free to edit and post without my VoBo . I'll make sure to review to keep polishing my Giveth tone

[2022-09-22 17:40] oyealmond commented on #841
hey team. I believe @WhyldWanderer was ok with this content already . Can you confirm @WhyldWanderer ?

[2022-09-22 17:43] oyealmond commented on #397
Rescuing this issue [here](https://github.com/giveth/giveth-planning/issues/875)

[2022-09-23 08:28] danelsuga commented on #875
I had a peek! Left some editing comments. Nice work @oyealmond.

[2022-09-23 13:34] ahmadabugosh commented on #873
Sent!

[2022-09-23 13:34] #873 closed

[2022-09-23 17:27] oyealmond opened #876 "Tweet promoting the Giveth New Features Survey"
Hey dear team,
Heard in the community call the team is looking for some testers for new features, I prepared some posts for us to get some testers. Could we make some posts around it?
Pls make all the corrections you believe are necessary, I'll check them afterwards:

https://docs.google.com/document/d/1xzEkQKBRBma1GXlXVwtO4rDC3d1qVMTbknm-MiTihqs/edit?usp=sharing.

[2022-09-23 20:58] oyealmond opened #877 "Giveth Bi-Weekly Twitter Spaces Planning"
Hey dear team, as discussed in different meetings, Giveth's having new releases (GIVPower + New Praise system soon, etc) + the community is growing bringing more talented makers to the platform.

To have an extra promotion/communication(community channel, I would like to propose having weekly 45 min Twitter Spaces, produced in house with a dedicated team to deep dive into the Giveth makers, new re

[2022-09-23 21:33] ahmadabugosh commented on #877
Hey @oyealmond I love this idea and think it would be great to grow our audience!

Just one thing I think we need to think about is what will we cover in these sessions.  Some ideas could be things we wanted to mention regularly on social media  (like platform updates, and newly verified projects etc.), we could also interview members of the Giveth team on what they love about working with Giveth,

[2022-09-25 14:18] Danibelle commented on #877
Hey Almond! Thank you for putting this together, I am in support of this proposal.
The Giveth Community Call is very informational and shares a lot outward, without room for dialogue and engagement. A Twitter space opens up a channel to receive feedback and gauge interest in topics, proposals, etc. which is something that will provide a lot of benefit to governance as well.

[2022-09-25 19:11] oyealmond commented on #877
Yes, I think this proposal need a further planning and discussion @ahmadabugosh , let me include the planning with topics for the team to take a look.
Yeey, so glad you support @Danibelle :) Let's make this happen.

[2022-09-26 11:59] NikolaCreatrix commented on #868
Hi @ahmadabugosh @clara-zi and @Cotabe looks like you already have some options to pick from. I really like the idea of recording it as an interview. How far are we? Did you already pick the first one? I would love to support this task.
Do we have a script? Or we need to create one first?
I am down to learn loom or something and also record one interview if the future. :)

[2022-09-26 12:09] NikolaCreatrix commented on #740
Hey hi! Oh yeah this! Okay. Sorry for the delay. I think I can do this with a little bit of your help @ahmadabugosh :)

I can start working on it slowly  (create a little script and learn the recording tool) but I will have more bandwidth to actually work on this after this week...and after I land back in Costa Rica...

[2022-09-26 14:53] laurenluz opened #878 "Communicate the extended round & new round dates to our audiences for GIVbacks (Tweet & Discord Announcement)"
As per details in https://github.com/Giveth/giveth-dapps-v2/issues/1544 we are planning to extend our current GIVbacks round to end on Tues Oct 4, and then every subsequent round will go from Tues to Tues.

We should tweet about the extended round and the new round date cycles (maybe a little explanation as to why).

We should also announce this in our discord,

[2022-09-26 14:55] laurenluz opened #879 "Adjust the rhythm of the verification team for future rounds"
@WhyldWanderer just want to make sure that this is in front of your eyes: https://github.com/Giveth/giveth-dapps-v2/issues/1544

We are going to be moving the rhythm of GIVbacks rounds, it would be great if the whole verification team could make any necessary adjustments @NikolaCreatrix @oyealmond

Feel free to close this issue if it's not useful.

[2022-09-26 19:04] oyealmond opened #880 "Meet the Makers social media promotion"
Hey dear @c0ric0ri and @laurenluz ,
Next Oct 5th we are having a Meet the Makers session (a virtual session dedicated to highlight Education Giveth projects).
We already sent an email inviting the community, and following up comms we made a plan for social media.

Could you help us posting / scheduling the following pls?

https://docs.google.com/document/d/1p2kG1dYOFdp4BJT-cyEfxFEeF3V6i6dQNB_5bMXL

[2022-09-26 19:04] oyealmond commented on #880
cc @WhyldWanderer @NikolaCreatrix

[2022-09-26 19:05] oyealmond commented on #862
Issue for social media posts:
https://github.com/Giveth/giveth-planning/issues/880

[2022-09-26 22:10] WhyldWanderer commented on #879
Thanks for the heads up!

We will discuss this in the verification party this week and I will post the results here.

[2022-09-26 22:59] oyealmond commented on #877
According to @ahmadabugosh , I put a schedule with suggested topics for two months conversation according to the most recent discussions and events. Added suggested hosts, and days for the Spaces to happen.
Your feedback will be v much appreciated - https://docs.google.com/document/d/1qB5_zGQHQS6bYdna1guSylXT-AfpCWwWGjatESh45DM/edit?usp=sharing

cc @laurenluz @c0ric0ri

[2022-09-26 23:47] laurenluz opened #881 "Catalog important tweets & threads explaining things for easy reference"

[2022-09-27 01:07] laurenluz commented on #842
Hey beautiful friends~

So I finally dove into that thread, rewrote it, scheduled it for tomorrow morning & want to provide some constructive feedback for the future :)

First, I love providing our community at large with some updates about what is new on the DApp! Especially when something makes their lives easier. I do think it's important also to consider who would read this, and what value if

[2022-09-27 01:18] laurenluz opened #882 "Tweet about new feature: add multiple recipient addresses for multiple chains"
This is spinning out of #842 :)

It should be just a simple tweet explaining the new feature where you can add multiple recipient addresses & why that's awesome.

This is pulled from an earlier draft and can be used as a starting point: https://docs.google.com/document/d/1g8Dnu_6Eu-AEFOQspKrTODr8Mx_nQRlaHXWVkp7p7U4/edit

@oyealmond - do you want to try making a new draft keeping in mind the feedba

[2022-09-27 01:27] laurenluz commented on #877
Hey @oyealmond ! Love what's happening here. I left some comments in the doc. What about starting with once every 2 weeks and making sure we have the bandwidth?

Also let's get started with planning our first space following the staking/locking GIVpower launch on Tuesday

[2022-09-27 02:11] laurenluz commented on #874
Hey Fraco!

I like the one with the final result thing, it's definitely easier to follow :)

I made some suggestions in the doc. That looks great, I think you can try just updating them directly (after reviewing my suggestions) in the docs.

[2022-09-27 02:14] laurenluz commented on #460
Hey @ahmadabugosh! Sure - send me your medium handle and I'll see if I can give you the power (maybe in a DM, because my github notifications are a mess RN)

[2022-09-27 02:20] #826 closed

[2022-09-27 02:27] #821 closed

[2022-09-27 02:42] #795 closed

[2022-09-27 12:44] WhyldWanderer commented on #868
There are currently 2 interview initiatives being pursued:

English: https://forum.giveth.io/t/impact-stories-a-one-hour-podcast-to-deep-dive-into-changemaker-minds-from-our-community/828

Spanish: https://forum.giveth.io/t/sea-of-hertz-radio-giv-projects-interview/815

I think we should be able to harvest some testimonial type stuff from these interviews... maybe we can ask Miguel and Pauline to

[2022-09-27 13:13] #853 closed

[2022-09-27 13:16] c0ric0ri commented on #694
@SnakeGH is this something we can close? Can you confirm if it's in the CRM?

[2022-09-27 13:19] c0ric0ri commented on #672
@divine-comedian @tropicalmangos is the documentation update live? If yes, please provide link here and close the issue please. Thanks!

[2022-09-27 13:20] c0ric0ri commented on #706
@Cotabe please update this issue and close it, thank you!

[2022-09-27 13:32] WhyldWanderer commented on #737
Wow!! This looks so great you guys...

I think you have covered everything in an easily digestible amount of time.
Great work Almond and Nikola!

[2022-09-27 13:35] c0ric0ri commented on #876
@oyealmond thanks for setting this up. Please keep the issue assigned to yourself, and just tag team members in the comment for review. Sometimes we may share assignment of issues but mainly we want to have one one owner per issue who is responsible for driving it forward

[2022-09-27 13:39] WhyldWanderer commented on #841
The video looks great!! I made comments in the original issue here: https://github.com/Giveth/giveth-planning/issues/738

As far as the document above, I think that it is good for showing the new flow...

I can use this to update the docs... It would be really nice to keep a lot of the stuff that we have (like qualifying/disqualifying measures etc) and just update it with this new information and

[2022-09-27 13:39] SnakeGH commented on #694
@c0ric0ri so I coincidentally just started reached out to Extinction Rebellion at the end of August, as they were a project on our Gitcoin outreach issue and got in touch with Tatiana from their Twitter account who said she would get me in touch with the right team member but then the convo went dark.

@rainerhoell if you have Luke's direct contact information, I'd love to reach out or please add

[2022-09-27 13:43] #737 closed

[2022-09-27 13:44] SnakeGH commented on #695
@c0ric0ri the only project I see in Hubspot is "Giving What We Can," which I have been in contact with Luke, but I can't confirm for the rest unfortunately :(

[2022-09-27 13:58] c0ric0ri commented on #694
@SnakeGH @rainerhoell I would like to close this issue now as it has been stagnant here for several months.

I will move it to Done for now and I'm ok with leaving it there for a couple days before closing it until you've clarified that it's in Hubspot - does that work?

[2022-09-27 14:27] ahmadabugosh commented on #865
This moved to implementation within the dev team, so closing this issue

[2022-09-27 14:30] c0ric0ri commented on #695
ok @clara-zi I will move this to Done and plan to close it by the end of the week. In the meantime could you please ensure these accounts are in hubspot?

[2022-09-27 14:35] #829 closed

[2022-09-27 14:42] c0ric0ri commented on #865
@ahmadabugosh but to be clear what comms should we plan for this?

For example we were discussing a bi-weekly feature update tweet thread, for example. Would this be included there? Not sure if this issue is ready to be closed because I thought the point is to align comms with the dev team implementation

[2022-09-27 14:47] MoeNick commented on #865
I just created the Epic to address all of your points @ahmadabugosh  #1157
https://github.com/Giveth/giveth-dapps-v2/issues/1557

Some issues underneath this epic are assigned to you, FYI.

[2022-09-27 14:52] MoeNick commented on #865
If you don't have the Zenhub extension installed, I can provide a screen shot of all related issues:
![image](https://user-images.githubusercontent.com/80677512/192559789-3192fdc3-1c1a-4678-872b-a4b7e73f9044.png)

From @ahmadabugosh side, we need content for #1559, mapping old with new ones in 723, I also just added "Accepts funds on Gnosis" filter, if you want to add another one like "original Gi

[2022-09-27 14:52] ahmadabugosh commented on #865
Thanks @MoeNick ! I'll have an update for you by this week

[2022-09-27 15:09] MoeNick commented on #865
@c0ric0ri @ahmadabugosh can you give us thumbs up to launch this one and make a complimentary one, 2 weeks later?
It's a little bit costly to keep this one in the pipeline.
or do you prefer we have to wait until all changes apply?

[2022-09-27 15:22] #763 closed

[2022-09-27 15:25] c0ric0ri commented on #761
@NikolaCreatrix are we still working on this? If not, would you please close this issue with a link to the final work (if needed)?