[2022-03-31 10:28] danelsuga commented on #562
I've fixed it in the patch if you just want to approve that now. Thx. @laurenluz

[2022-03-31 11:58] GriffGreen opened #611 "Even to smart members of our team... the givstream progress bar is confusing"
<img width="660" alt="Screen Shot 2022-03-31 at 6 56 37 AM" src="https://user-images.githubusercontent.com/14945613/161049569-5407db0d-60b2-4656-b106-496600b776a9.png">

Chadfi wrote this in a token swap forum post... this progress bar shout be rethought.

[2022-03-31 15:35] geleeroyale commented on #608
To have a quick fix I just deleted the record for galaxy.giveth.io and replaced it with a forwarding link to giveth.io

but we still might to think about having such a portal that collects initiatives in a sort of link collection

[2022-03-31 16:10] freshelle commented on #583
If no one else leaves review, then I guess it's done. We'll start using this for Q1 buddy reviews

[2022-03-31 16:10] freshelle commented on #585
If no one else leaves review, then I guess it's done. We'll start using this for Q1 buddy reviews

[2022-03-31 16:19] rodricastillo9013 commented on #609
<img width="1400" alt="Medium Post farms 3- Full width" src="https://user-images.githubusercontent.com/61791380/161102749-b1601c54-31b2-4783-83b0-a43902164b99.png">

[2022-03-31 16:27] #609 closed

[2022-03-31 21:51] ahmadabugosh commented on #561
Hey @laurenluz , they said the old links will automatically redirect (it's in their [FAQ's](https://help.medium.com/hc/en-us/articles/115003053487-Setting-up-a-custom-domain-for-your-profile-or-publication) second)

@geleeroyale , can you help us add a subdomain to our DNS, so we can redirect our medium to it? We were thinking: blog.giveth.io

(you can read the instructions on what IP to point in

[2022-04-01 00:49] jfbtheii commented on #594
I found a good illustrator that has done well with other NFT projects @laurenluz @rodricastillo9013
Waiting on a response now to see if they could have illustrations done in the next 7 days

[2022-04-01 06:01] markoprljic commented on #594
Can you share their profile?

[2022-04-01 13:33] rodricastillo9013 commented on #594
From what Lauren had told me and she had shown me some first sketches, we had already found an illustrator, are we talking about the same one? @laurenluz @jfbtheii

[2022-04-01 13:36] jfbtheii commented on #594
![image](https://user-images.githubusercontent.com/101155830/161274322-4427ca05-0104-476d-a8cc-beaa154741d0.png)

[2022-04-01 13:37] jfbtheii commented on #594
Different artist. Last two illustrators I sent you didn't have any nft experience

[2022-04-01 13:55] geleeroyale commented on #561
Sure! We can add a simple redirect for free - in fact we already have one (medium.giveth.io). So we could just add ` blog.giveth.io` and redirect it like the other one

If we want to go the route that is described in the medium post you linked, we would need an active subscription - do we have one?

[2022-04-01 13:59] geleeroyale commented on #608
It might be the top result because I think google analytics were never added to the current main DApp!

[2022-04-01 14:08] rodricastillo9013 commented on #594
great! i like the style! Well, if you share the progress with us, it would be great! Thank you

[2022-04-01 14:20] #562 closed

[2022-04-01 14:20] #577 closed

[2022-04-01 14:21] #587 closed

[2022-04-01 14:50] laurenluz commented on #532
@jahanzaib-jay I reviewed both docs - nice work! and thanks @danelsuga for your awesome edits!

I think the shownotes are ok as is, it would have been nice to have a little more detail, but it's not so critical. I'll add them to the youtube caption.

As for the technical summary - really helpful! You did a good job of summarizing key concepts efficiently, especially for V1. For the V2 part though,

[2022-04-01 14:54] laurenluz commented on #581
@rodricastillo9013 this one is done, right? :) can you post the image in here?

[2022-04-01 15:55] clara-zi commented on #484
making test success stories vid 'on location' at GRACEAid in London. Now needs editing. @melodysongq @ahmadabugosh

[2022-04-01 15:58] rodricastillo9013 commented on #581
![POAPS Hero Vault-36](https://user-images.githubusercontent.com/61791380/161299625-f2d91ee2-2843-4337-ba9b-4c6286bd5cf3.png)
Yes! Done

[2022-04-01 16:23] divine-comedian commented on #585
@freshelle  sorry! just jumped in and left some comments - otherwise this looks great

[2022-04-01 17:36] Tosinolawale opened #612 "Giveth User Research Overview"
Working on evaluating Giveth by conducting interviews, surveys and subsequent testing with representative users and prospective users. The goal is to identify any usability problems, collect qualitative and quantitative data and determine the We focus on  how Giveth users interact with product features, and what they feel works well, where they think there are issues, and how they think things cou

[2022-04-01 18:10] Tosinolawale opened #613 "Survey Form Report and Insight"

[2022-04-01 18:16] Tosinolawale commented on #613
By collating the Data gotten from the survey sent out we can collect unbiased feedbacks and write a report containing effective decisions based on the analyzed feedbacks. By analyzing the resulting data, we can address topics of importance, where there are issues, and how things could be improved.

[2022-04-01 18:19] Tosinolawale opened #614 "User Interview and Report"

[2022-04-01 19:19] Tosinolawale opened #615 "Meeting Notes with Melody and Claire"

[2022-04-01 19:20] Tosinolawale commented on #615
Comprehensive meeting Notes on the nature of Giveth Users and prospective Journey maps.

[2022-04-02 08:58] danelsuga commented on #574
work-in-progress

https://docs.google.com/document/u/1/d/10Zd96ZZYHQd77EWw8kKfwz35dIP0-bkOOtUxtg6a2uw/edit

@laurenluz @GriffGreen

[2022-04-03 03:25] Cotabe commented on #568
@laurenluz I am happy to help with this. I think @jahanzaib-jay also mentioned he has expertise on it and can contribute.

I think I will have the bandwidth from Wednesday or Thursday

[2022-04-03 16:01] #515 closed

[2022-04-04 15:13] laurenluz commented on #581
Thanks Rodri! Reopening. Will close once we setup the claim for it.

[2022-04-04 15:54] freshelle commented on #585
@divine-comedian  I just checked it out, and accepted your edit suggestions. Thanks Mitch!

[2022-04-04 16:14] laurenluz commented on #561
what's an active subscription? we have a very active medium! https://medium.com/giveth

[2022-04-04 18:32] Elizardwizzard commented on #582
Also, I think it would be cool to make another thread about how crypto donation is faster than conventional donation, when urgency state is critical time saving is a key factor.

[2022-04-04 18:46] laurenluz opened #616 "GIVpower key messaging brainstorm!"
Need some key messages for:

https://docs.google.com/document/d/1NpyiETNClSw2BGLqE4ucr2eem5VtmZcIpHzFneC0ciE/edit#

[2022-04-04 18:55] laurenluz commented on #616
We need key messages from this spec... things/ways we want to communicate this stuff to our users... Some base level stuff:

- GIVpower lets users decide which Giveth projects rise to the top.
- Use GIVpower to help great projects on Giveth shine.
- Stake & lock GIV to enable your GIVpower.
- Boost your favourite projects to help them rise through the ranks.
- Earn a yield on your staked GIV! The

[2022-04-04 19:16] ahmadabugosh commented on #561
@laurenluz I think @geleeroyale means a paid Medium membership subscription (which is like $5 a month I believe). I'm not 100% sure if this is needed or not  for publications (if you add me I can check the settings)

[2022-04-04 19:35] geleeroyale commented on #561
It's from the link posted above:

![Screenshot_20220404-213451.jpg](https://user-images.githubusercontent.com/317685/161618742-4c14d475-3242-4c6f-ac4c-bcbf5e86ed45.jpg)

[2022-04-05 01:08] GriffGreen commented on #574
oooooo

[2022-04-05 07:19] danelsuga opened #617 "Meet the Makers article (April 8 2022)"
https://docs.google.com/document/u/0/d/120quv9cbQxLR6yNKw7hMVZZJRXdDwUf1EKeQBIFjaVQ/mobilebasic

@ForestSoleil

[2022-04-05 07:46] danelsuga commented on #617
OK! Done. I have it a once over. Let me know if you want/ed something more. :)

@ForestSoleil

[2022-04-05 08:39] danelsuga commented on #616
👍🏼

[2022-04-05 14:29] ahmadabugosh commented on #494
Thanks @laurenluz , I made a new version here with the new DApp, moving to QA: https://www.youtube.com/watch?v=X8_UDMmJZyE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=7&ab_channel=Giveth

[2022-04-05 15:26] laurenluz commented on #463
Blasted it out! Made some changes in twitter before sending

https://twitter.com/Givethio/status/1511364134729826309

[2022-04-05 15:26] #463 closed

[2022-04-05 15:27] #566 closed

[2022-04-05 15:27] laurenluz commented on #544
https://medium.com/giveth/regenfarms-the-next-generation-of-refi-opportunities-7a46f3cf1e09

[2022-04-05 15:27] #544 closed

[2022-04-05 15:56] laurenluz opened #618 "Donor Onboarding Course - Regen Farms"

[2022-04-05 16:21] laurenluz commented on #494
yay! it's great!!

[2022-04-05 16:57] #494 closed

[2022-04-05 17:00] ahmadabugosh commented on #495
hey @laurenluz here is the GIVfarm video, let me know if you have any comments or need me to add anything :) https://www.youtube.com/watch?v=eqYFOahbDj4&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=8&ab_channel=Giveth

[2022-04-05 17:28] ForestSoleil commented on #617
Thank you! This has been QA'd by Suga and all feedback integrated.

Jahanzaib has also said he will do a QA.

https://docs.google.com/document/d/120quv9cbQxLR6yNKw7hMVZZJRXdDwUf1EKeQBIFjaVQ/edit

@laurenluz is there a way for me to integrate these updates to the medium article i already submit or should i make a new one?

[2022-04-05 17:47] laurenluz commented on #617
You can just edit the article in medium since you are the author.

I went through the doc & left some comments & suggestions. Would really like to see the Moon Jelly description cleaned up a bit. Overall, nice! Thanks for putting it together Forest!

[2022-04-05 17:48] laurenluz commented on #517
now redundant with #617

[2022-04-05 19:12] geleeroyale commented on #561
Incredible! Keep me updated - If you come to a point were they tell you the only thing missing is setting up the DNS record I will do that promptly!

[2022-04-05 19:41] divine-comedian commented on #575
@jahanzaib-jay  let me know when you've uploaded the doc and made the PR - I will find a clever place for it in the docs

[2022-04-05 19:43] divine-comedian commented on #568
@Cotabe  please feel free to reach out since myself and @WhyldWanderer  have done a huge chunk of the setup that already exists on autopilot

[2022-04-05 19:59] divine-comedian commented on #616
Sounds great but I don't think we have finalized this part.

I'll see if I can think of somethings and add them to the doc.

[2022-04-05 20:23] Cotabe commented on #568
Ok, I have bandwidth again. I will reach out @divine-comedian

[2022-04-05 23:23] laurenluz commented on #610
@jfbtheii Tweeted about regen farms on Friday: https://twitter.com/Givethio/status/1509920392001036296

I used some pieces from your draft but still changed it quite a lot. Have a look for future reference :)

[2022-04-05 23:23] #610 closed

[2022-04-05 23:30] #593 closed

[2022-04-05 23:30] #596 closed

[2022-04-05 23:30] #604 closed

[2022-04-05 23:31] #606 closed

[2022-04-06 02:30] ForestSoleil commented on #617
Integrated all edits in google doc.
Updating medium article now.
Twitter thread ready to go.
Banners updated.![Medium_Post_-_Full_width-1.png](https://user-images.githubusercontent.com/75490953/161883952-92edc717-ade5-4e00-8596-3ea96d5738c1.png)

[2022-04-06 09:06] freshelle commented on #584
I think this typeform is not necessary. Since we will be sharing answers to the buddies, it would be better to record the answers to these work agreement questions in the doc that will be shared with them.

So,
1. Gather answers of self-review form.
2. Share a google doc to the reviewer containing
- their buddies' self-review form and Giveth feedback answers
- questions about work agreement

[2022-04-06 09:46] freshelle commented on #586
This was the work agreement process doc - https://docs.google.com/document/d/1Kj-cyvu8oOTkKq9qh-boVe4KixvV3XDm1vIEIQcFOGE/edit?usp=sharing
This needs to be updated based on the forum discussion.

Outlining the steps would be helpful for contributors.

[2022-04-06 15:43] laurenluz commented on #582
Great first draft!! So much character! I love your style

I made a google doc & added in suggestions and comments here. add yourself as an editor and then change the sharing to "anyone can comment".

Next time it helps to make these threads in google docs with "anyone can comment" access and then post the link so me or whoever can review more easily.

https://docs.google.com/document/d/1WklgHsxOgU

[2022-04-06 15:44] laurenluz opened #619 "Tweet thread on why donating in crypto is better/faster than conventional donation"
Also, I think it would be cool to make another thread about how crypto donation is faster than conventional donation, when urgency state is critical time saving is a key factor.

_Originally posted by @Elizardwizzard in https://github.com/Giveth/giveth-planning/issues/582#issuecomment-1087881242_

Great idea Elizabeth! If you want to take this one it would be great!

[2022-04-06 16:15] laurenluz commented on #495
good stuff Ahmad! I think this is done!

[2022-04-06 16:15] laurenluz commented on #495
you are great!!

[2022-04-06 16:23] laurenluz opened #620 "Meet the makers tweet thread April"
https://docs.google.com/document/d/17EBwGa7Zk715FirDMmld1iBafOohmVrf0i8Y3Ma8XT0/edit

[2022-04-06 16:25] laurenluz commented on #620
@ForestSoleil This is good!

I will change some things in Twitter when we actually blast it off most likely, but I don't think it needs much more review.

Only one thing: please tag each of the projects on twitter in each respective tweet... so just add their twitter handle to your drafts here.

[2022-04-06 17:37] laurenluz opened #621 "Token Swaps Tweet Thread"

[2022-04-06 17:56] laurenluz opened #622 "Get great projects from gitcoin onto giveth"

[2022-04-06 17:56] ahmadabugosh opened #623 "Research on Donor Profiles"

[2022-04-06 20:56] laurenluz commented on #617
https://medium.com/giveth/meet-the-makers-spotlight-on-environmental-projects-14ed38780b26

LIVE

[2022-04-06 21:44] laurenluz opened #624 "Tweet thread: Creating Schelling Points Around public goods via microeconomies"
Would be great to turn this into a thread.

https://www.youtube.com/watch?v=cTMUh__9cWs

[2022-04-06 21:48] laurenluz commented on #621
Hey @jfbtheii So!

We have been doing token swaps with other DAOs to get DAO-owned liquidity. This is really good for GIV because it makes sure we have liquidity on DEXs without relying on farming... farming is a good short term solution, but incentivizing liqudity with your project's token creates sell pressure.

We did swaps successfully w/ BRIGHT, NODE, TEC

There is a pending ones with FOX...

[2022-04-06 22:06] WhyldWanderer commented on #605
I think this is related to the dev issue about projects that havent been reviewed showing up in the projects list.

I dont think this email would have triggered under normal circumstances.

[2022-04-06 22:09] WhyldWanderer commented on #605
@CarlosQ96  said he was looking in to it.. im not sure of the status

[2022-04-07 00:10] CarlosQ96 commented on #605
@laurenluz @WhyldWanderer Hello! This issue was fixed last week,  by not sending the email when it's a draft. I think it's related to this issues https://github.com/Giveth/giveth-dapps-v2/issues/360#issuecomment-1085217744.
Mitch created a new email when we publish the draft.

Does the issue still persist?

[2022-04-07 00:10] CarlosQ96 commented on #605
It's on staging.

[2022-04-07 13:35] Tosinolawale commented on #613
Survey Report File
https://docs.google.com/document/d/1qp8HLEO4voiDu571JTvbbhbl6nGaJfHN_24q_IdI3_g/edit#

[2022-04-07 13:35] #613 closed

[2022-04-07 14:18] laurenluz opened #625 "Add March Newsletter to docs"
@ahmadabugosh can you give the copy to @divine-comedian or @jahanzaib-jay to upload to: https://docs.giveth.io/newsletter/ ?

[2022-04-07 14:22] #620 closed, assigned to ForestSoleil

[2022-04-07 18:41] divine-comedian commented on #584
So should we have a template of questions for buddy reviews? what kind of discussions should be had?

[2022-04-07 23:53] laurenluz commented on #488
Recorded this one ahmad! https://drive.google.com/drive/folders/1XQcnb7xWaFPp48GOc-RCwkDYb0FGRKDf?usp=sharing

[2022-04-07 23:54] laurenluz commented on #618
Recorded this one too! https://drive.google.com/drive/folders/1XQcnb7xWaFPp48GOc-RCwkDYb0FGRKDf?usp=sharing

[2022-04-08 07:42] jahanzaib-jay commented on #575
PR Submitted.

[2022-04-08 09:47] jahanzaib-jay commented on #568
A suggestion: When someone subscribes to the email, he/she should receive a thank you email- confirming the subscription.

I tried subscribing with 2 different email addresses and didn't receive any confirmation.

[2022-04-08 09:59] jahanzaib-jay commented on #568
This could be the text for the email:

Hello!

Welcome to the Giveth community! We are excited to have you on board.

Our goal at Giveth is to use blockchain technology to build the future of giving. We believe that by creating open, transparent and free access to the revolutionary funding opportunities available within the Ethereum ecosystem, we can support and reward the funding of public goods.

[2022-04-08 10:48] freshelle commented on #584
The same set of questions we've prepared, but just include the questions in the doc that will be shared with them (answers to the self-review form).

Similar to what you've shared for Jahan's review, it was in a google doc. So I was thinking maybe it was easier to place those in a doc instead of entering in a form.

[2022-04-08 11:55] jahanzaib-jay commented on #523
@laurenluz can you please have a look and share our thoughts?

[2022-04-08 15:26] laurenluz commented on #523
Made suggestions in the doc.

[2022-04-08 17:15] divine-comedian commented on #575
LIVE
https://docs.giveth.io/termsForProposals

[2022-04-08 17:21] divine-comedian commented on #575
LIVE!
https://docs.giveth.io/giveconomy/termsForProposals

[2022-04-08 20:48] laurenluz commented on #622
Focusing primarily on meatspace for-good projects.
Compile a list, get contact info & then we can do some outreach.
Might even be nice to prep outreach material... explaining what is giveth, why you should get on it. links to GIVbacks article, docs, create a project, project verification applicate, or whatever works - at your discretion.

[2022-04-08 21:55] ahmadabugosh commented on #625
Hey @jahanzaib-jay can you upload the March Newsletter on the docs please: https://drive.google.com/drive/folders/1YJF6_1KRGVdsdP3zXszMZ4OacaPjpb7y?usp=sharing

[2022-04-08 22:00] ahmadabugosh opened #626 "GIVbacks round 7 email"

[2022-04-08 22:43] scottbenjd commented on #492
[https://drive.google.com/file/d/1FLZt2iwsvxhwNB91xUbAo4Y2opDKjs5W/view?usp=sharing](url)

[2022-04-08 22:53] scottbenjd commented on #492
The tail end of this clip is the raw screen capture of setting up an account and the profile features. I can record some narration for that as well.

I originally narrated "Congrats. You're now a Giver!" but it felt really flat. Any ideas for something more exciting?

[2022-04-08 23:02] ahmadabugosh commented on #626
This is done @WhyldWanderer

[2022-04-08 23:02] #626 closed

[2022-04-08 23:11] scottbenjd commented on #589
Hey Lauren! I need a better way to track github notifications. Sorry it took me so long to get to this. I appended the import private key content after the transfer, so that the preferred transfer is the first option. Think that works?

[Move Funds from Torus to MetaMask](https://docs.google.com/document/d/1HPU3Otl1-aav63WEZO6gv7U05UNSSYHLQ2fZb2Ejtrk/edit?usp=sharing)

[2022-04-10 00:22] jahanzaib-jay commented on #625
PR submitted.
@divine-comedian

[2022-04-10 00:33] jahanzaib-jay commented on #523
All changes accepted. Added a couple of emojis as well.

[2022-04-10 00:33] jahanzaib-jay commented on #532
Is this done?

[2022-04-10 00:42] jahanzaib-jay commented on #545
Here are a couple of suggestions for the email:

https://docs.google.com/document/d/176wH2Ut6cCdDXUkkUvwVstc7IYaobzJO25LxT-Pb_I0/edit?usp=sharing

Let me know what you think.

[2022-04-10 10:27] ahmadabugosh commented on #545
@jahanzaib-jay I made some comments on it, my main points are:

1) I think we may need two emails (one for new projects and one for existing projects that we want to have listed on our platform). Not all of them are brand new as the messaging suggests. It might make the exercise easier if you have a couple of profiles in mind of who the email would go to (that way you can write it in a voice that

[2022-04-11 22:13] divine-comedian commented on #625
LIVE
https://docs.giveth.io/newsletter/March2022

[2022-04-11 22:40] Cotabe opened #627 "QA improvements for donor course"
First thing goes first... Big shout out to @ahmadabugosh and @laurenluz for recording and editing such cool videos that I believe anyone entering Giveth should watch.

Just a few quick comments that IMO could improve the current course, especially from the perspective of a donor, not web 3 native

- In the 4th video. (Gnosis Chain & Bridging Funds). There is a part about funding your wallet that i

[2022-04-12 11:47] danelsuga commented on #574
Ready for some eyes on this thing. I tried to keep it short, as it had the potential to get huge, which I don't think would be useful.

A few more additions by @GriffGreen might be in order however.

@laurenluz

https://docs.google.com/document/d/10Zd96ZZYHQd77EWw8kKfwz35dIP0-bkOOtUxtg6a2uw/edit#

[2022-04-12 11:52] ahmadabugosh commented on #627
Hey @Cotabe, all great points!

I just rearranged the order, I think it flows better you're right.

For the other comments, mainly 1) Editing the 4th video (and adding a section on adding Gnosis Chain to Metamask) 2) Adding a short video from Griff's talk, I'll start working on them!

[2022-04-12 11:57] ahmadabugosh commented on #488
Thanks @laurenluz, edited and added here: https://www.youtube.com/watch?v=_ULHxC5jwrg&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=5&ab_channel=Giveth. Please have a quick look before closing this issue

[2022-04-12 11:59] ahmadabugosh commented on #618
Thanks @laurenluz , edited and added here: https://www.youtube.com/watch?v=vIQGUoWVTVI&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=8&ab_channel=Giveth

This one had some background bird noises but I think it's ok

[2022-04-12 16:32] scottbenjd commented on #627
What do you all think about getting rid of the third video entirely? My intention was to only use the fourth with funding a wallet and bridging combined. The downside would be having a longer video.

[2022-04-12 17:24] laurenluz commented on #618
haha those birds. Looks great @ahmadabugosh thanks for this!

[2022-04-12 17:44] laurenluz opened #628 "Make quick video summaries for donor onboarding course"
We need summaries for the Youtube Video descriptions for each of these:

https://www.youtube.com/playlist?list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ

[2022-04-12 18:50] laurenluz commented on #623
The intention is to get more donors using Giveth... and to tailed Giveth to donor needs. Some action items:
- determine how to target comms to crypto philanthropists
- interview donors
- create a donor profile
- check out leaderboards, ENS names - Gitcoin, Giving Block

[2022-04-12 18:51] laurenluz opened #629 "Strategy: Get projects to advertise to their donors that they should use Giveth to donate"

[2022-04-12 18:57] #618 closed

[2022-04-12 18:57] #625 closed

[2022-04-12 18:57] #575 closed

[2022-04-12 18:57] danelsuga commented on #622
Chipping away! 😍🤩

[2022-04-12 18:58] laurenluz commented on #607
this is live: https://docs.giveth.io/giveconomy/termsForProposals/

we need to add the covenant to the appropriate place

[2022-04-12 18:59] laurenluz commented on #488
looks good.

[2022-04-12 18:59] #488 closed

[2022-04-12 19:02] laurenluz commented on #523
Just did a quick read through again, there were still two typos. Please, after accepting changes, do a final check to make sure there are no mistakes.

Now this needs to actually get added to autopilot and send to our email list of donors & projects. Once it is sent, please comment here.

[2022-04-12 19:02] #477 closed

[2022-04-12 19:03] #552 closed

[2022-04-12 20:32] ahmadabugosh commented on #492
Thanks @scottbenjd !

A few comments I have:

1. A lot of what you say here is similar to the GIVbacks video, but I think it's fine to keep it as a standalone video we can share with people that just simply want to donate

2. You could also mention the "Updates" tab, and how you can check how active a project is and more info on how they're using their funds (as well as see the donation history an

[2022-04-13 14:52] laurenluz opened #630 "Documentation for Snapshot Voting params"
I think we should add this to our gov process doc, or somewhere near there.

We need to decide on the params & the document it.

This needs to start with a forum post
88% YES
abstains are ignored --> only count towards quorum
1 million GIV min quorum

For ranked choice... only consider quorum

Snapshot is considering all GIV staked anywhere... not just GIV staked in one place

Ranked choice voting

[2022-04-13 14:52] laurenluz opened #631 "Documentation for Snapshot Voting params"
I think we should add this to our gov process doc, or somewhere near there.

We need to decide on the params & the document it.

This needs to start with a forum post
88% YES
abstains are ignored --> only count towards quorum
1 million GIV min quorum

For ranked choice... only consider quorum

Snapshot is considering all GIV staked anywhere... not just GIV staked in one place

Ranked choice voting

[2022-04-13 17:01] clara-zi commented on #484
@ahmadabugosh please pull out the contact emails for these projects?

[2022-04-13 17:08] laurenluz commented on #509
@SymSL @ahmadabugosh @scottbenjd

[2022-04-13 17:12] #630 closed

[2022-04-13 17:14] laurenluz commented on #628
@jfbtheii would you be down to take this one?

[2022-04-13 17:22] laurenluz commented on #523
@cotabe would be great if you could help set this up as a one-time email to go out to our list of donors & project owners

@ahmadabugosh can help

[2022-04-13 17:24] laurenluz commented on #588
@Cotabe @ahmadabugosh - keep an eye on this one!

[2022-04-13 17:24] laurenluz opened #632 "Email subscribes ones they subscribe to mailing list"
This could be the text for the email:

Hello!

Welcome to the Giveth community! We are excited to have you on board.

Our goal at Giveth is to use blockchain technology to build the future of giving. We believe that by creating open, transparent and free access to the revolutionary funding opportunities available within the Ethereum ecosystem, we can support and reward the funding of public goods.

[2022-04-13 17:29] laurenluz commented on #607
@divine-comedian - @scottbenjd is interested in learning how to do this. Do you want to help empower him to make a Tao Vote?

[2022-04-13 17:30] laurenluz commented on #607
otherwise, I can, I think....

[2022-04-13 20:16] jfbtheii commented on #628
Yep!

[2022-04-13 21:15] divine-comedian commented on #631
forum post is up!
https://forum.giveth.io/t/snapshot-voting-parameters/516

[2022-04-14 12:26] MoeNick commented on #605
Do we have this in production now? @CarlosQ96 @MohammadPCh

[2022-04-14 13:20] divine-comedian commented on #607
I can show him, he'll need 5000 GIV though ;)

[2022-04-16 14:06] danelsuga opened #633 "Tweet thread for Cryptophilanthropy Club podcast with Griff"
5m40
Giveth is trying to be that focal point to bring all of these forces for good together on one even playing field.

6m20 There is no other donation platform that does what Giveth can do.

12m25 Our mission is to make giving effortless and frictionless and so I think we're making great headway on that.

12m45 The biggest dream of Giveth is to actually be able to give them away to augment their

[2022-04-18 14:50] laurenluz commented on #484
I will send you their contacts on discord @clara-zi

[2022-04-18 21:48] laurenluz opened #634 "POAP design for completing Donor onboarding course"
We are almost done the [Donor onboarding course](https://www.youtube.com/watch?v=qY9F5X1b1QA&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1)

We want a nice POAP to award to participants who complete the course and take part in a quiz :)

The POAP should be:
- congratulatory / celebratory
- mention the "Giveth Donor Course"
- perhaps have some student design elements like books or checkmarks
- be

[2022-04-18 22:09] ahmadabugosh commented on #558
Hey @laurenluz I made this doc of the suggested changes to the Titles and Meta Descriptions of our main pages: https://docs.google.com/spreadsheets/d/1181x53ughd8xaUa5EI4okgLNdpzmaKllMh9JuqcyeLc/edit#gid=0

I can go over this in this week's comms meeting and get your feedback, but the main points are:

1. These don't appear on the page directly, but rather are seen on Google when you do a search f

[2022-04-18 22:13] ahmadabugosh commented on #634
How I imagined this POAP is something related to a person or hand planting a flower or tree with a certificate or badge on top

[2022-04-19 10:55] danelsuga commented on #574
This should be done, but there are a couple details I can't find the answers to. Can you have a look again please? Thank you!

@laurenluz
@GriffGreen

[2022-04-19 14:24] ahmadabugosh commented on #627
Finished most of these, just waiting on @scottbenjd for the Donate video and @jfbtheii for the video descriptions for the videos

[2022-04-19 15:11] laurenluz commented on #574
I will go through it all today! I didn't get a chance to finish on my last read through. So sorry for the delay.

[2022-04-19 15:56] laurenluz commented on #480
Put together short bullet list for script: https://docs.google.com/document/d/15YMv_NS3gasx0d77Y1cA3nwhCdl_CCfTGRez1Qz66oE/edit?usp=sharing

Comments are totally welcome! Is there any key points I'm missing? @danelsuga @WhyldWanderer @GriffGreen @ahmadabugosh

[2022-04-19 16:50] scottbenjd commented on #607
Thanks @divine-comedian! When's a good time for you?

[2022-04-19 18:19] ahmadabugosh commented on #498
Hey @laurenluz I created the video for this issue here: https://youtu.be/H8PY86cu0QI Let me know if you have any comments (if you think anything is missing, needs changing etc)!

[2022-04-19 22:20] laurenluz opened #635 "Donor Onboarding Course: Create a Quiz"
Want to reward donors who complete the youtube series & answer a quiz correctly with a POAP!

We need to make that quiz.
Thinking about creating via typeform & using logic jumps.

[2022-04-19 22:22] laurenluz commented on #574
@divine-comedian @WhyldWanderer If either of you have any bandwidth, would love some QA support, I haven't yet had a chance to go through fully.

@geleeroyale @Danibelle might be good to get your comments as well if you feel like it! Since you are familiar with a lot of the history of giveth & the galaxy!

[2022-04-19 22:25] #585 closed

[2022-04-19 22:25] laurenluz commented on #621
@jfbtheii any updates? been almost 2 weeks.

[2022-04-19 22:27] laurenluz commented on #481
I think I can actually cover these points in #480 and already started a script for it. maybe we don't need to have two at all.

[2022-04-19 22:28] #550 closed

[2022-04-19 22:29] laurenluz opened #636 "Coordinate with Stonky of translations team."
They recieved generous funding.. but I don't see anything getting done.

https://forum.giveth.io/t/giveth-gitbook-translations/311

[2022-04-19 22:30] laurenluz commented on #589
I think that's good! does it need anymore QA? I didn't fully read it just now.

[2022-04-19 22:31] laurenluz commented on #589
btw @scottbenjd it would be really helpful if you changed the pipeline to "review QA" when things are ready for review.

you can also add the "ready for review label"

[2022-04-19 22:38] jfbtheii commented on #621
Hi! That's my fault. I'll have a draft tomorrow

[2022-04-19 22:39] jfbtheii commented on #628
I'll have these done tomorrow!

[2022-04-19 23:00] scottbenjd commented on #589
Gotcha. Yeah, I haven't been utilizing the workflow at all.
I could use eyes on the second paragraph. Other than that, I only added the content from the "Import Private Key into MetaMask" doc.  Whenever this goes up, we can take that doc down.

[2022-04-20 00:06] Cotabe commented on #523
@jahanzaib-jay  @ahmadabugosh  @laurenluz

Sent a test email to all of you. Made a few tweeks for layout purposes. The name goes random. Let me know what you think and I will send it widely.

[2022-04-20 03:55] Danibelle commented on #574
Ok I gave it a pass, added some comments with link offerings and a few edit suggestions ;)

[2022-04-20 11:30] ahmadabugosh opened #637 "Newsletter April 2022"

[2022-04-20 12:16] ahmadabugosh commented on #637
We need:

1. Top stories
2. Featured Project
3. Tweet of the Month
4. Meme of the month

[2022-04-20 13:04] ahmadabugosh commented on #635
I'll take this on! @laurenluz, Can I have access to our Giveth Typeform please?

[2022-04-20 13:59] freshelle commented on #586
@ahmadabugosh has suggested to provide Offer Letters for new hires who shall undergo trial period. I think this would be a step before posting in the forum for a Role Proposal and after they "pass" the trial period

[2022-04-20 15:28] laurenluz commented on #624
picking this one up. starting here: https://docs.google.com/document/d/1U8UZ_GZco-TDkQi_yxnmNftjWZJqFObr0oi2TV4TW5g/edit?usp=sharing

[2022-04-20 17:08] laurenluz opened #638 "Better name for donor onboarding course"
- Giveth donor 101
- Giver 101
- Giving 101

open to more ideas! @SymSL @danelsuga @ahmadabugosh @scottbenjd

[2022-04-20 17:20] laurenluz commented on #637
https://giveth.io/project/grassroots-economics-community-currency-0

[2022-04-20 17:21] laurenluz commented on #637
https://medium.com/giveth/regenfarms-the-next-generation-of-refi-opportunities-7a46f3cf1e09

[2022-04-20 17:22] laurenluz commented on #637
https://medium.com/giveth/meet-the-makers-spotlight-on-environmental-projects-14ed38780b26?source=collection_home---4------0-----------------------

[2022-04-20 17:24] laurenluz commented on #637
GIV/DAI Univ2 pool launching April 30
Token Swaps

[2022-04-20 17:33] ahmadabugosh commented on #568
Here is a doc of all the processes we're using Autopilot for (I'll keep adding to it): https://docs.google.com/spreadsheets/d/1d34y9rsX8LU--kI7b-EcAfEhkt3XlWhew2Eiu8KlE7E/edit#gid=0

[2022-04-20 17:39] laurenluz commented on #589
@danelsuga to review

[2022-04-20 18:34] jfbtheii commented on #628
https://docs.google.com/document/d/1iJF4z8O6c_vGVYNnDc-e7nRnwEeXKFVE-r70t-v1jwE/edit
Let me know what you think! :)

[2022-04-20 19:53] Cotabe commented on #568
I think this comment is suited for this epic.

In the "Thanks for Donating" email, it says "you may be eligible to receive GIV tokens after this GIVbacks round ends!".

At least for me... this immediately trigers a reaction of on what does it depends... maybe we can word it that does not triggers this reaction without compromising if for any reason there won't be GIVbacks

[2022-04-20 20:09] rodricastillo9013 commented on #634
![option-35](https://user-images.githubusercontent.com/61791380/164314172-ab620dfe-6860-4d5b-926e-0a3041d79af7.png)
![option-36](https://user-images.githubusercontent.com/61791380/164314184-13462962-0cc7-41d1-8019-8b6eacb221a0.png)
![options-37](https://user-images.githubusercontent.com/61791380/164314186-22c375cb-314b-43c6-8f76-ddbe3e55d0ef.png)
![options-38](https://user-images.githubusercontent

[2022-04-20 20:42] laurenluz commented on #498
it's GREAT

[2022-04-20 20:43] ahmadabugosh commented on #628
Nice work @jfbtheii ! I think we also need to add links as well, since there are several videos where we reference something (especially in the earlier wallet videos and the last video). At the very least, each video should have a link to the section we're talking about in that video, and a link to that section's docs page

[2022-04-20 20:48] laurenluz commented on #523
looks good!

[2022-04-20 20:57] ahmadabugosh commented on #509
Looks good @jahanzaib-jay ! I would add more though on getting people started for the first time. For example, I would  1) Mention to introduce themselves in the "introduce yourself" channel along with what skills they can bring to Giveth (we frequently check that to see how people can contribute) 2) Include a section on "getting started with your first issue", where they can look at the "good fir

[2022-04-20 21:01] #481 closed

[2022-04-20 23:09] Cotabe commented on #523
Schedule for tomorrow :)

[2022-04-21 01:14] scottbenjd commented on #492
Okay, here is the link to the updated video. I'll use numbering consistent with your feedback, Ahmad.

[https://drive.google.com/file/d/12zmbC6lueNcC6MBD5qA093ZadQKyTjCD/view?usp=sharing](https://drive.google.com/file/d/12zmbC6lueNcC6MBD5qA093ZadQKyTjCD/view?usp=sharing)

1. I deleted part of the GIVbacks section but think we should mention which projects are eligible in case someone only watches

[2022-04-21 07:37] danelsuga commented on #589
@scottbenjd nice work! I made some minor comments.

[2022-04-21 09:30] danelsuga commented on #636
👍🏼

[2022-04-21 09:31] danelsuga commented on #622
Still working on this.

[2022-04-21 10:23] danelsuga commented on #633
Haven't started this yet.

[2022-04-21 12:24] ahmadabugosh commented on #492
Hey @scottbenjd can you make it public (I couldn't view the video)

[2022-04-21 12:59] #498 closed

[2022-04-21 14:24] jfbtheii commented on #628
Added links to everything except for wallet funding. What would be a good link for that? @ahmadabugosh

[2022-04-21 14:44] rodricastillo9013 commented on #634
brilliant! When they define the name, let me know and I'll update the design.:) @ahmadabugosh

[2022-04-21 17:16] scottbenjd commented on #607
Hey @laurenluz. Do you think we should append the terms and conditions content to the Covenant or add a link?

[2022-04-21 17:39] Cotabe commented on #523
DONE

[2022-04-21 17:39] #523 closed

[2022-04-21 17:48] Cotabe commented on #568
I miss some emails because it arrives to my promotions tab.

If possible, I would suggest to send the emails from another email & build positive reputation to prevent getting tagged as a promotion. For example, ask something to get replies.

I can help with that :)

[2022-04-21 17:56] scottbenjd commented on #589
Thanks @danelsuga!
Started a pull request for this update. The image that needs to be added is attached here.

@divine-comedian, let me know if the image is something I can add directly. May make things easier for you when do make updates.

![transferTorusMM.png](https://images.zenhubusercontent.com/607be33bfedfab4064941d70/bf816734-cc8d-478b-af45-4c2510367119)

[2022-04-21 19:27] scottbenjd commented on #492
Whoops. Switched sharing to editor permissions.  Let me know if you aren't able to view still.

[2022-04-21 19:46] scottbenjd opened #639 "Tweet Thread for Upgrading Giveth HR Forum Discussion"

[2022-04-21 19:49] scottbenjd commented on #639
Could build off quote of the following tweet.
https://twitter.com/tismejanie/status/1516771102940409856

[2022-04-21 19:55] ahmadabugosh commented on #492
Nice work @scottbenjd ! I think it's great and covers all the key points.

Anything to add @laurenluz ?

[2022-04-21 21:05] laurenluz commented on #492
It's great!!

[2022-04-21 21:07] laurenluz commented on #639
ohh yeah 😬 although it is a touchy topic 😅 love the idea as a starter

[2022-04-21 21:07] laurenluz commented on #523
thanks Cotabe!!

[2022-04-21 21:08] laurenluz commented on #607
I think we should just add a sentence/phrase with a link :) check out the TEC's (if you can find it) to see how they did it

[2022-04-21 21:40] ahmadabugosh commented on #480
@laurenluz added a couple of small comments

[2022-04-21 23:48] scottbenjd commented on #607
Do we want terms and conditions in IPFS as well?
TEC has the ABC terms are linked on IPFS but seeing terms and conditions linked in the TEC covenant.

[2022-04-22 17:06] Elizardwizzard commented on #582
https://docs.google.com/document/d/1WklgHsxOgUqmPADKKz4gfSk4N6yg8uqPewHChfFcD4Y/edit

[2022-04-22 21:30] ahmadabugosh commented on #599
@laurenluz @Elizardwizzard Apologies for the delay! Does this look ok? https://share.descript.com/view/9znnfrK0EaG Sorry I don't speak Spanish at all, and don't know if I made any mistakes

[2022-04-23 18:04] divine-comedian commented on #574
added some comments - i think this doc needs some restructuring, the story gets a bit lost in the weeds in details. Details are important but I felt in general that I got exhausted reading this article at some points.

I wish I had more concrete feedback but this is what I noticed while reading.

[2022-04-23 18:05] divine-comedian commented on #586
added comments to both docs! great work you guys, thanks for helping to flesh this out more

[2022-04-25 14:29] laurenluz commented on #599
Thanks @ahmadabugosh it's great. Just a small typo:
![image](https://user-images.githubusercontent.com/75490971/165109907-9c9a55f5-e911-4511-9b92-46e72a7ce29d.png)
 should be a space here: "exitosos y"

[2022-04-25 15:44] laurenluz commented on #582
Love it! Will blast this off this week <3 Thanks @Elizardwizzard

[2022-04-25 16:04] laurenluz commented on #509
Mia made this awesome guide once, it would be great to pull some pieces from that: https://docs.google.com/document/d/1yXj4LLJXcsuSr2VJ9xpDUU-8bQyu07aR1Psh8bgby9E/edit#heading=h.zhsa8za9et

[2022-04-25 19:13] ahmadabugosh commented on #599
Fixed @laurenluz https://share.descript.com/view/OulLuRTPpRX, also added raw file here: https://drive.google.com/file/d/1kw6e22MDLYYwyI1PLN5BMUdOZPJLr_s7/view?usp=sharing

[2022-04-25 20:04] ahmadabugosh commented on #492
Edited, added intro screen & outro and added to the playlist: https://www.youtube.com/watch?v=UlaXjiamHZk&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=4&ab_channel=Giveth

[2022-04-25 20:04] #492 closed

[2022-04-25 20:10] ahmadabugosh commented on #628
Thanks @jfbtheii

1) For the wallet funding video, I would add links to Coinbase (since that's the example we used in the video), and also this link that we covered at the end of the video (from the Gnosis chain docs:https://www.xdaichain.com/for-users/wallets/metamask/metamask-setup)

2) I also added another video on "How to Donate on Giveth" that we need notes for as well: https://www.youtube.co

[2022-04-25 20:42] divine-comedian commented on #589
you'll have to add the saved image file directly into the appropriate folder in the repo - should be somewhere in here
https://github.com/Giveth/giveth-docs/tree/master/static/img/content

copy this string right below the article data

`import useBaseUrl from '@docusaurus/useBaseUrl'`

and then you'll need to inser the HTML tag of where you want the image to appear it should looks something like t

[2022-04-25 21:12] divine-comedian commented on #568
nice! that's a great idea - maybe having separate email sender address too might help us get important emails through

[2022-04-25 22:50] laurenluz commented on #480
Thanks @ahmadabugosh I put this on Griff's list for the week and scheduled time so he could record it. Will send it to you when ready. Is it ok if we send you a link to a video on youtube?

[2022-04-25 22:58] ahmadabugosh commented on #480
Thanks @laurenluz ! Yes, a YouTube link would be great (I can easily download it from there if it needs any edits)

[2022-04-26 14:57] ahmadabugosh opened #640 "Design for Self Producing Video Doc"

[2022-04-26 15:11] ahmadabugosh commented on #640
Thanks @rodricastillo9013 ! I think a pdf would be fine, but just thinking out loud, if there is an option to make it editable maybe we can use it for other guides we need (for example, we could make one for "How to promote your project" or other things that have multiple steps).

[2022-04-26 16:11] Cotabe opened #641 "Office hours for project onboard"
We discussed in the connect sync that projects may benefit from having a regular office hour in at least two time zones.

The benefits are:

- A safe space for asking questions.
- Collect feedback
- Listen to others if they don't have specific questions, but they don't know what to do next.
- Projects can meet each other and connect offline.

Does this intersects with community orientation @WhyldW

[2022-04-26 18:32] rodricastillo9013 commented on #640
perfect! thanks

[2022-04-27 10:11] ahmadabugosh opened #642 "GIVbacks Round 8 Email"

[2022-04-27 13:04] ahmadabugosh commented on #637
@laurenluz Added a draft here for review here: https://docs.google.com/document/d/1plTTyDIyaWAhkczDmWSE5ADOCtUTVzYnDNcv-nQdtio/edit?usp=sharing

I couldn't find info on the GIV/DAI Univ2 pool launch on the forum, is that still happening this month?

[2022-04-27 13:25] ahmadabugosh commented on #642
FYI @WhyldWanderer this has been sent out

[2022-04-27 13:25] #642 closed

[2022-04-27 15:51] laurenluz commented on #637
Pushing it now, I hope it goes live today, to announce tomorrow. rewards will start Friday or Saturday - working out details right now.

[2022-04-27 15:53] laurenluz commented on #637
this could be meme of the month: https://imgflip.com/i/6awavn

[2022-04-27 15:56] laurenluz commented on #637
Maybe worth mentioning FRO 2022 - the fundraising conference that melody & I spoke at last week? https://twitter.com/TheResAlliance/status/1517145518454935556

[2022-04-27 16:49] laurenluz commented on #637
left suggestions in there - this is great @ahmadabugosh. when should it go out? if we wait a few more days we can make sure univ2 is all good and get it in there too.

[2022-04-27 16:50] laurenluz commented on #599
Great! I will tweet this out soon

[2022-04-27 16:50] laurenluz opened #643 "Tweet about univ3 rewards going out"

[2022-04-27 17:11] laurenluz opened #644 "Investigate Revue for newsletter hosting"
https://www.getrevue.co/

[2022-04-27 17:26] laurenluz opened #645 "GIVpower Launch Plan for Comms"
Need to create a list of action items/tasks for launching GIVpower w/ delegation.

Delegation notes from comms call:
- Unique opportunity - grassroots leaders within Giveth that want to engage w/ ecosystem
- Monthly delegate projects - top projects as chosen by delegates
- Reorganizing fundraising for impact projects
- e.g. 1 delegate a month gets to share their top projects
- Outreach to impact i

[2022-04-27 17:27] laurenluz opened #646 "GIVpower Launch Plan for Comms"
Need to create a list of action items/tasks for launching GIVpower w/ delegation.

Delegation notes from comms call:
- Unique opportunity - grassroots leaders within Giveth that want to engage w/ ecosystem
- Monthly delegate projects - top projects as chosen by delegates
- Reorganizing fundraising for impact projects
- e.g. 1 delegate a month gets to share their top projects
- Outreach to impact i

[2022-04-27 17:48] laurenluz opened #647 "Project focused, 101 level blog post - Why raise funds in crypto? Why use Giveth?"

[2022-04-27 17:54] laurenluz opened #648 "GIVpower story telling graphic"
https://docs.google.com/document/d/1NpyiETNClSw2BGLqE4ucr2eem5VtmZcIpHzFneC0ciE/edit#heading=h.ayfvgyuy22lo

[2022-04-27 17:59] laurenluz opened #649 "GIVbacks Dashboard into round summary image"
1. What would it look like? What data do we want on there?
2. Set up design

[2022-04-27 21:45] laurenluz commented on #532
Added shownotes to the YouTube video: https://www.youtube.com/watch?v=j7HxR8-uHso

[2022-04-27 21:45] #532 closed

[2022-04-27 21:51] laurenluz commented on #553
Hey @danelsuga I actually don't have access to those videos on YouTube, so I asked Griff the best place for this. He suggested the Giveth Forum.

Can you add each of these descriptions to the Giveth forum with a link to the youtube video?

You can title them like: <name of the talk> Talk Summary
or whatever you think.

This would be nice because then they are easily to share externally.

once it's

[2022-04-27 21:51] #584 closed

[2022-04-27 21:52] laurenluz commented on #635
sent you access @ahmadabugosh :) you know

[2022-04-27 21:53] laurenluz commented on #634
My favourite is the last one too, shall we just go with "Giveth Donor 101" @ahmadabugosh ? I think that is the best option.

[2022-04-27 21:55] laurenluz commented on #627
I'm going to close this because the other two issues are as separate issues.

[2022-04-27 21:55] #627 closed

[2022-04-27 21:56] laurenluz commented on #631
thanks @divine-comedian https://docs.giveth.io/whatisgiveth/governanceProcess/

[2022-04-27 21:56] #631 closed

[2022-04-27 21:59] laurenluz commented on #561
@ahmadabugosh only the publication owner can so anything w/ custom domain. I am not the publicatoin owner. It might be Griff, Krisis, Jeff Emmett, Jordi 🤔 not sure, needs catherding,

![image](https://user-images.githubusercontent.com/75490971/165637973-9283b8a4-49fb-4949-930c-671be82ae05c.png)

[2022-04-27 22:08] laurenluz commented on #636
Ok this is active in the forum. @danelsuga if you can just keep an eye on it and relay any question in the communications channel on discord, would be great. closing this issue.

[2022-04-27 22:10] laurenluz commented on #576
Maybe this should be going to https://giveth.io/account?tab=projects ?

I think that would work. @Cotabe can you look into it and adjust in autopilot?

[2022-04-27 22:11] laurenluz commented on #588
@Cotabe can you check the autopilot journey to make sure the  invitation to get verified only goes out when projects become "listed"

lmk if you have any questions :)

[2022-04-27 22:11] #569 closed

[2022-04-27 22:13] laurenluz commented on #605
@Cotabe do you think you could test this one?

[2022-04-27 22:13] laurenluz commented on #605
if the email is not being triggered, please go ahead and close the issue

[2022-04-27 22:18] laurenluz commented on #590
This needs to be written up actually. @danelsuga do you want to draft en email?

[2022-04-27 22:19] laurenluz commented on #563
@danelsuga can we close this one?

[2022-04-27 22:21] #432 closed

[2022-04-27 22:24] #336 closed

[2022-04-27 22:25] laurenluz commented on #580
@markoprljic who is working on this? can you assign them?

[2022-04-27 22:26] laurenluz commented on #616
@todd-x-y for storytelling as per comms call today

[2022-04-27 22:27] #643 closed

[2022-04-27 22:27] #645 closed

[2022-04-27 22:28] #603 closed

[2022-04-27 22:47] laurenluz commented on #480
@ahmadabugosh here it is: https://www.youtube.com/watch?v=08qPRbDr05E

Can you edit it? :)

[2022-04-27 23:54] #605 closed

[2022-04-28 00:19] Cotabe commented on #576
Should be working now.

I think someone else should test it with:

a) project that gets created at once
b) project that becomes a draft and then gets created

For some reason I can't tag

[2022-04-28 00:21] Cotabe commented on #588
Can I unlist my own project. Or do I need admid powers to test this ? :)

[2022-04-28 06:05] markoprljic commented on #580
Poaps are in progress
Hitchhiker banner is done by Lulu

For twitter campaigns I need a design brief from someone.

Thanks!

[2022-04-28 07:49] danelsuga commented on #563
We can close it as long as it’s on your radar. I am not at all close to completing the first one, as I have not been able to commit adequate time yet.

[2022-04-28 08:00] danelsuga commented on #553
Got it!

[2022-04-28 08:09] danelsuga commented on #574
Guess I'm too much of an academic!

This article is bring recast to be shorter, etc.

Stand by.

[2022-04-28 08:46] danelsuga commented on #580
Thanks @markoprljic !

[2022-04-28 09:01] geleeroyale commented on #561
@krrisis Do you know who owns Giveth Medium?

[2022-04-28 09:18] danelsuga commented on #553
Creating Schelling Points for Public Goods via Micro-economies
https://forum.giveth.io/t/ethden-2022-talk-summary-creating-schelling-points-for-public-goods/548

The Biggest Web3 Opportunity That No One Is Talking about
https://forum.giveth.io/t/ethden-2022-talk-summary-biggest-web3-opp-no-one-is-talking-about/549

Building a Future without Fees: Positive Sum Economies
https://forum.giveth.io/t/et

[2022-04-28 09:53] #553 closed

[2022-04-28 09:59] krrisis commented on #561
Yes, Griff.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: geleeroyale ***@***.***>
Sent: Thursday, April 28, 2022 11:02:08 AM
To: Giveth/giveth-planning ***@***.***>
Cc: krrisis ***@***.***>; Mention ***@***.***>
Subject: Re: [Giveth/giveth-planning] SEO: Add subdomain for Medium (Issue #561)

@krrisis<https://nam12.safelinks.protection.outlook.com/?url=ht

[2022-04-28 14:16] rodricastillo9013 commented on #634
ok perfecto, realizo los cambios, y vuelvo a enviar :)

[2022-04-28 14:38] rodricastillo9013 commented on #634
![image](https://user-images.githubusercontent.com/61791380/165777667-ef4e12e0-32e4-4ed2-9e28-5994d9975c02.png)

[2022-04-28 18:12] laurenluz commented on #634
Perfecto @rodricastillo9013! muchisimas gracias.

@ahmadabugosh @scottbenjd next steps, we need to set this up so that anyone with the link can claim, and then add that link at the end of the typeform quiz :)

[2022-04-28 18:14] rodricastillo9013 commented on #634
De nada! @laurenluz :)

[2022-04-28 19:49] GriffGreen commented on #561
Ok! So can we confirm this looks good...
<img width="705" alt="Screen Shot 2022-04-28 at 1 48 27 PM" src="https://user-images.githubusercontent.com/14945613/165833969-1b12a7cb-5a61-490b-9b5f-f129eff3078f.png">

Then thethe next step is on @geleeroyale and i can click continue

[2022-04-28 20:00] laurenluz commented on #576
Can you not test it @Cotabe ?

[2022-04-29 09:40] markoprljic commented on #647
Assigned myself to watch the issue.

[2022-04-29 09:41] markoprljic commented on #648
Assigned myself to watch the issue.

[2022-04-29 09:42] markoprljic opened #650 "Giveth @ ETH Barcelona"

[2022-04-29 09:43] markoprljic opened #651 "An Unconference Session on Reimagine Social Impact"

[2022-04-29 09:43] markoprljic opened #652 "UX of Giving (Talk by Marko)"

[2022-04-29 11:34] melodysongq commented on #651
Audience: EthBarcelona participants who care about giving and social impact and can be potential donors of Giveth
Goal: To collect feedback and ideas on motivations for donors to give so that Giveth can design the product betterr

This is a facilitated OST session on Reimagining Social Impact, we ask participants to bring to an open space their questions, issues, painpoints in giving to social imp

[2022-04-29 11:49] danelsuga commented on #633
Draft:

https://docs.google.com/document/d/1tV7yiNyo1gU1IFHcpd6rvuvAvrSfDYqmdC_axEimqNw/edit?usp=sharing

[2022-04-29 12:00] ahmadabugosh commented on #637
Sent (also made an issue to add it to the docs)

[2022-04-29 12:00] #637 closed

[2022-04-29 12:04] ahmadabugosh opened #653 "Add April 2022 NL to Docs"

[2022-04-29 16:27] GriffGreen opened #654 "Add Change to our partnership page"
https://giveth.io/partnerships

I asked change to add the deets we need to this issue

[2022-04-29 19:56] laurenluz opened #655 "Tweet thread on Griff's Biggest web3 opportunity talk"
https://www.youtube.com/watch?v=ADSOVkujrI4

[2022-04-29 21:07] laurenluz commented on #655
This might help too https://forum.giveth.io/t/ethden-2022-talk-summary-biggest-web3-opp-no-one-is-talking-about/549

Suga made an awesome summary of the talk

[2022-04-29 23:46] ahmadabugosh commented on #480
Hey @laurenluz, I tried something a little different (putting it in a video template), since the video format wasn't that great (and it has the zoom logo). Let me know what you think: https://www.youtube.com/watch?v=tVVpRTXFmvg&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1&ab_channel=Giveth

[2022-05-02 07:49] melodysongq commented on #651
I've already applied to facilitate this session.  Alternatively, this can be a side-event.

[2022-05-02 08:19] danelsuga commented on #590
I can do it, but I'm really swamped by other issues at the moment if that's ok!

[2022-05-02 08:23] danelsuga commented on #633
Hi gang! I would love some feedback on this.
@ahmadabugosh
@laurenluz
@divine-comedian
@SymSL
@WhyldWanderer

I currently have 10 tweets for the Crypto Philanthropy Club thread. I haven't included emojis, etc., so don't worry about that stuff! But I would like some feedback. Thanks!

https://docs.google.com/document/d/1tV7yiNyo1gU1IFHcpd6rvuvAvrSfDYqmdC_axEimqNw/edit

Anyone else to tag?

[2022-05-02 08:35] danelsuga commented on #622
I would love some help on this. I've got an excel listing the projects, but it's taking me ages to get through it. If it could be divided up by sections of the alphabet, for example, it could be done in no time!

@ahmadabugosh any chance you could split a bit with me and/or have thoughts on who could? Thanks!

https://docs.google.com/spreadsheets/d/1NeH9TeBaI2XSE3U9_T_cr6DmXTqbU7sV6kZE5rsfS6o/edit

[2022-05-02 13:17] geleeroyale commented on #561
Ooops - did not see this in the sea of GitHub notifications. Record has been set - you can click continue :-D

[2022-05-02 15:16] laurenluz commented on #633
Hey @danelsuga ! For tweet threads, I'm probably the best person to tag :)

It's looking good. Can you change it to "anyone can comment" access so I can leave suggestions and comments in the doc?

A couple things for tweet threads:
- to keep them organized, I usually start the line with 1/ and then double space & then the tweet. then you can format the tweet to take up more than one line
- Add tag

[2022-05-02 17:50] laurenluz commented on #480
It's pretty cool! I kind of feel like with the format the template stuff should change to show parts of the DApp or something... but it would be a lot more to setup up, so I think it's also good as it is.

What would be nice though, is if there was a header page with the same colour/formatting as the other videos. Looks strange to see this one dark blue and all the others light.

[2022-05-02 17:52] laurenluz commented on #622
Can you make it "anyone can comment" or edit access? Can't see it.

Also, @todd-x-y I think might be interested in helping with this at some point.

[2022-05-02 19:26] danelsuga commented on #633
Thanks @laurenluz !
Doc fixed.

[2022-05-02 19:45] danelsuga commented on #622
Done!

Ok, thanks!

[2022-05-02 19:58] todd-x-y commented on #622
This is one of a few things I'm hoping to support!

Suga, would you want to meet on Discord to sync on where you're at and what your needs are?

[2022-05-02 20:01] ahmadabugosh commented on #622
hey @danelsuga sure would be glad to help, I just requested edit access. Once you have a chat with @todd-x-y, let me know how I can support (maybe we can split them between us three)!

[2022-05-02 20:02] danelsuga commented on #622
Sounds good! What's your time zone?

[2022-05-02 20:02] danelsuga commented on #622
Thanks, guys!

The doc should be accessible.

[2022-05-02 20:06] danelsuga commented on #622
If you all want to tackle it without a sync, anyone could simply pick a letter of the alphabet or start at the end of the list of about 900 grant projects on Gitcoin, and you'll see on the doc, I'm just starting by collecting info:
Name
Website
Twitter
Gitcoin link
Brief description

The projects being collected are meatspace, irl projects that aren't necessarily crypto savvy etc. (or their audien

[2022-05-02 21:00] todd-x-y commented on #622
I'm in Mountain Time, which happens to be the same as Costa Rica.

[2022-05-02 21:01] todd-x-y commented on #622
I'll start to put together a Google Sheet with a CMS like-structure, using the columns you outlined here.

[2022-05-02 21:05] ahmadabugosh commented on #480
Hey @laurenluz I changed the color scheme and thumbnail, let me know if this is better: https://www.youtube.com/watch?v=kfoyvsPYnrE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1&ab_channel=Giveth

[2022-05-02 21:37] laurenluz commented on #480
Awesome! Let's "ship it".

[2022-05-03 00:46] amartshah commented on #654
Change - Donate cryptocurrency to 200K+ nonprofits

https://getchange.io/assets/shared/logo-delta.svg

[2022-05-03 01:05] laurenluz commented on #654
@divine-comedian do you feel like taking this one?

[2022-05-03 14:12] danelsuga commented on #622
I think we can keep it simple: the current spreadsheet is suitable just to fill in any and all projects from Gitcoin as described above. To avoid confusion, overlap, etc.

[2022-05-03 14:22] ahmadabugosh commented on #640
Thanks @rodricastillo9013, I think it looks great!

@melodysongq @clara-zi any comments before we close this issue?

[2022-05-03 14:41] melodysongq commented on #641
I am happy to host a project community hour on Wednesdays or Fridays during CET time zone.   Alternatively we can have one community hour around the communitas meetings and have 15 min 1 on 1 as well where people can book through a calendly?

[2022-05-03 14:47] clara-zi commented on #640
Thanks @rodricastillo9013 It looks great.
I took out name, our project name and date and left it with a placeholder.
![image](https://user-images.githubusercontent.com/100724132/166476427-f936d6d7-dd04-45ce-816b-d5ff88eaaec2.png).

[2022-05-03 14:49] melodysongq commented on #640
This looks great.  Do we have a list of projects that raised over $10K?  If so, I would love to send this to all of them.  Is $10K a good threshold?

[2022-05-03 14:51] rodricastillo9013 commented on #640
@clara-zi do you want me to remove it or replace it with data?

[2022-05-03 14:56] clara-zi commented on #640
You can leave it like that if it's ok with everyone?

[2022-05-03 17:01] laurenluz commented on #582
Posted https://twitter.com/Givethio/status/1521534811466354688

[2022-05-03 17:01] #582 closed, assigned to Elizardwizzard

[2022-05-03 23:22] scottbenjd commented on #607
If you all are okay with the following language, I will upload to pinata and start a proposal. I tacked on the "in accordance with the GIVgarden terms and conditions" part.

## On-chain
### Decision Making
Giveth uses the [Gardens](https://gardens.1hive.org/#/home/) governance platform to manage the GIVgarden configurations and allocate funds to projects that are aligned with its [mission, vision,

[2022-05-04 00:20] scottbenjd commented on #589
added the img, updated doc, and made pr
https://github.com/Giveth/giveth-docs/pull/120

[2022-05-04 00:21] scottbenjd commented on #589
@divine-comedian let me know if something doesn't look right.
Thanks!

[2022-05-04 04:25] Elizardwizzard commented on #619
thanks again  for your patience!
https://docs.google.com/document/d/1R_1f4mW53vlFLkwOi7cQMnxIKxXq8ODEvyu1VFhn__I/edit

[2022-05-04 08:47] danelsuga commented on #590
@markoprljic could I get some more guidance on this please?

Are all of the items in the issue description to be included in the email? Or it looks like those are various items to include in their Giveth account? (Apart from the second point, which I think means the email includes a link to "unsubscribe"?)

At the present, donors do not receive any follow-up to support again?

I imagine this would

[2022-05-04 09:30] MoeNick commented on #654
We can also assign it to @ascode94 if content is ready to go.

[2022-05-04 10:15] danelsuga commented on #574
New draft

https://docs.google.com/document/d/1DkYQ1SbqdTFQciPXnZ4Q3c8BWpv8pPtkdooMi04OnkQ/edit?usp=sharing

[2022-05-04 16:18] laurenluz commented on #654
great! I'll transfer to v2 repo

[2022-05-04 16:57] ahmadabugosh commented on #635
I made a draft of it here @laurenluz let me know what you think: https://giveth.typeform.com/to/IZndeKbH

[2022-05-04 17:22] danelsuga opened #656 "QA donor 101 course"
@laurenluz
@ahmadabugosh

Suga to QA the videos!

https://www.youtube.com/watch?v=tVVpRTXFmvg&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=2

[2022-05-04 17:56] danelsuga commented on #656
Great job!!

Text edits: https://docs.google.com/document/d/14VFF_KQJNkSGxB_D2gYjaZGTGz7MlMVJokb-B1zhC5Y/edit?usp=sharing

[2022-05-04 19:13] laurenluz opened #657 "QA of Giveth Donors 101 course"
Video onboarding course is so close to being done!

The task is to watch the videos & provide any feedback like:
- the title page text should be updated
- this one is missing the description
- this one has the old, outdate UI
- etc.!

Those are just some preliminary ideas. It would be really helpful if you could link the video along with your feedback in the comments on this issue.

Here is the vi

[2022-05-04 19:17] laurenluz commented on #657
@ahmadabugosh  we should update the title page on the ("Intro" video) [https://www.youtube.com/watch?v=qY9F5X1b1QA&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=2] to say "Giveth Donors 101 Introduction" instead of Giveth Onboarding.

Also perhaps we want to update all the titles of the videos to be like:
- "Giveth Donors 101: Why Giveth?"
- "Giveth Donors 101: Introduction"
- "Giveth Donors 101:

[2022-05-04 19:24] #656 closed

[2022-05-04 19:30] danelsuga commented on #635
I did the edits asap in case you want to integrate them yourself @ahmadabugosh while the Typeform account gets upgraded.

[2022-05-04 19:45] laurenluz commented on #635
I just upgraded out typeform to premium so I could share access now with whoever needs it.

Also, I just added a couple of small extra edits to Suga's editing doc 😅  I hope that's not confusing.

[2022-05-04 19:46] laurenluz commented on #635
Oh yeah! and let's remove the POAP from the front page.. it should be at the end, I think

[2022-05-04 19:46] danelsuga commented on #635
Great! That was fast. Ha ha.

[2022-05-04 19:47] laurenluz opened #658 "Set up POAP Claim for Giveth Donors 101 course"
The design is in #634

We want this to be claimable by "anyone with the link", and have the link only available at the end of the quiz from #635

[2022-05-04 19:48] #480 closed

[2022-05-04 19:49] danelsuga commented on #657
Great job!! As I get started, I'm just thinking:

The video is awfully small in relation to all the giant purple space all around it. Is there a reason for that?

It seems like it would be a lot better if the video itself took up at least half the video space.

More thoughts on aesthetics: I don't think Griff's name needs to take up so much space either. (And maybe it should say, "Griff Green, co-

[2022-05-04 19:49] laurenluz commented on #628
There is one more video! The "Why Giveth" one: https://www.youtube.com/watch?v=kfoyvsPYnrE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1

@jfbtheii are you able to finish this one out?

[2022-05-04 19:53] laurenluz opened #659 "Tweet thread to announce Giveth Donor 101 Series"
https://www.youtube.com/watch?v=kfoyvsPYnrE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1

[2022-05-04 19:54] danelsuga commented on #657
Ooooo, next video...

I see the differences going on here! Great.

For the video called "Giveth Onboarding", the "F" should be capitalized because that is the official slogan of Giveth, and across the board, I believe that is how it's done.

The next video "Browser Wallets" was WAY LOUDER for me than the first two.

[2022-05-04 19:56] laurenluz opened #660 "Blog post to announce the Giveth Donor Onboarding Series"
Here is the course:  https://www.youtube.com/watch?v=kfoyvsPYnrE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1

This should be a blog post summarizing some of the key concepts in the series, and basically giving a 101 level intro to what is giveth & why you should use it to donate.

A starting point could be #628

@Elizardwizzard it would be great to have a first draft of this week early next we

[2022-05-04 19:56] danelsuga commented on #657
"Browser Wallet" video minute 2ish: viewer is thinking, what is a seed phrase!?

[2022-05-04 19:58] laurenluz opened #661 "Email announcement of Giveth Donor 101 course"
The draft could include a link to the video series + one to the blog announcement

Link to video series: https://www.youtube.com/watch?v=kfoyvsPYnrE&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=1

[2022-05-04 19:59] laurenluz commented on #644
yeah! i think this is cool. let's add a subdomain, maybe make it shorter like: news.giveth.io

do you need any support on that? I'd love to link it to our Twitter

[2022-05-04 20:02] laurenluz opened #662 "Draft outreach message to send to gitcoin projects"
related to #622 this should be a quick message draft that explains some of the key advantages of getting onto Giveth, and perhaps explains how easy it is to get started.

The audience will be existing (active) gitcoin project owners).

@danelsuga FYI

[2022-05-04 20:02] laurenluz opened #663 "Draft outreach message to send to gitcoin projects"
related to #622 this should be a quick message draft that explains some of the key advantages of getting onto Giveth, and perhaps explains how easy it is to get started.

The audience will be existing (active) gitcoin project owners).

@danelsuga FYI

[2022-05-04 20:06] danelsuga commented on #657
Using the Giveth Matching Pool as a sample project is a teeeeeny bit confusing to the newbie viewer.

[2022-05-04 20:10] danelsuga commented on #657
In the same video, narrator says that projects are verified when "the Giveth team has reviewed a project to check that the project is legitimate". I don't think that's actually correct? The project has to apply to become verified as far as I understand it.

[2022-05-04 20:12] danelsuga commented on #657
How to Donate on Giveth ( minute 3:30): I'm not sure we want to say this in this manner? "In addition, if the donation is to a verified project, the donor may receive up to 70% of the donation back in GIV tokens."

[2022-05-04 20:19] laurenluz commented on #622
Just some notes from today's meeting:
- start with a draft outreach template & begin reaching out to projects
- can use spreadsheet for outreach tracking
- avoid shilling Giveth directly on the gitcoin side, better to contact project owners directly
- contract project owners will some supportive messages such as explaining, zero-fees, gnosis chain w/ low gas, donors getting GIVbacks etc.

[2022-05-04 20:24] laurenluz opened #664 ""Project Fundraising Guide" Documentation"
We should help projects with the Giveth messaging to share with their donors. Things like "how to take advantage of this opportunity to raise funds on Giveth".  Some examples:
- zero fees
- low gas on gnosis chain
- donors get GIVbacks
- how to add to the transparency of your project.
- how we can support you with amplifications (twitter, meet the makers, etc.)

Would be great to add this to our d

[2022-05-04 21:27] laurenluz commented on #574
Hey @danelsuga! It's coming along really well. I made it through up to 1hive in more detail. Some general comments:
- I think skipping the founders names would really help things feel more focused & save space
- for a lot of the resrouce links, add them to words/phrases instead of having sentences like "you can find this explained here", it will help cut it down too

Also, I think having a "thesis

[2022-05-04 21:41] laurenluz commented on #607
sounds good!!

[2022-05-04 22:23] todd-x-y commented on #663
Here's a first pass - @danelsuga @laurenluz

https://docs.google.com/document/d/1OG1kyB9reY_B1A5BuKw3Gdt0Bz7z5HA0Cz_ljK6U8ZY/edit?usp=sharing

[2022-05-05 06:19] clara-zi opened #665 "Interview and record project owner's platform sign-up problems."
@ahmadabugosh to provide project contact's details.

[2022-05-05 06:29] danelsuga commented on #657
@ahmadabugosh @laurenluz
Great job!
I had a lot of comments, so I made a doc. Hope that's OK. I was spamming in the comments last night but figured it was a bit overboard. :'D

https://docs.google.com/document/d/1m4AwFoUOZ0DrT4RP1Pdlec5hd3zXm2bDet3tyCnkzu4/edit?usp=sharing

[2022-05-05 06:31] danelsuga commented on #635
I can make those edits @laurenluz @ahmadabugosh if I can get in the Typeform account please?

[2022-05-05 06:40] ahmadabugosh commented on #665
Hey @clara-zi this is the project that is having difficulty registering: https://giveth.io/project/nisria  My understanding is:
1) She was having difficulty logging in, since she had an Ethereum address she wanted to send funds to, but didn't have Metamask or a wallet setup on her browser
2) When the project eventually got published, the Ethereum address for her project was different than the one

[2022-05-05 10:04] markoprljic commented on #590
@danelsuga Yes!

So, the idea is to send follow up email to donors on a regular intervals (to be defined) and nudge them to donate again, not to forgetting about the projects and Giveth itself.

Email could be formatted as following:
[code]

We could probably include Notifications settings in users My Account but that's more dev effort. For now we can leave it out and use only Unsubscribe link.

I

[2022-05-05 10:56] ahmadabugosh commented on #635
Thanks @danelsuga ! I made all the edits you listed and changed question 4 to "What tokens can you donate to a project to qualify for GIVbacks?"  Let me know if I missed any!

I can't share the password, since @laurenluz has to do it through Lastpass. To get ready for it, I recommend you signup for Lastpass (with your personal email), and install the Browser extension

[2022-05-05 10:57] danelsuga commented on #635
Aw yeah! Great! I’ve got Last Pass, but sounds like you’re on top of this!!

[2022-05-05 11:07] ahmadabugosh commented on #640
I'm closing the issue, thanks again @rodricastillo9013 this looks great! :)

[2022-05-05 11:07] #640 closed

[2022-05-05 13:51] freshelle commented on #583
Based on @laurenluz feedback on improving the contributor feedback form, I've made some edits to the form - https://giveth.typeform.com/to/OS7vBx5w
Also incorporating @divine-comedian's follow up comments.

Please review and see what other changes are needed

[2022-05-05 14:49] clara-zi opened #666 "Projects accessing and using funds raised on Giveth."
Wiki-style document helping projects understand all aspects associated with raising funds in crypto on Giveth: how to start receiving donations and how to use their donations - offramping etc.

Looking for contributors to help document regional specific info: what are the challenges, solutions specifically relating to using crypto funds in your area? This information will really benefit projects w

[2022-05-05 14:51] clara-zi commented on #666
Wiki-style document helping projects understand the crypto funds raised, how to start receiving donations and how to use their donations - offramping etc.

[2022-05-05 16:37] danelsuga commented on #590
Thanks!!

[2022-05-05 18:11] laurenluz commented on #663
Hey @todd-x-y - can you make it "anyone can comment" access?

[2022-05-05 18:17] laurenluz commented on #663
Some quick feedback here:

I would skip the "unlike gitcoin" bit because I don't want to create any negative vibes there.

Let's not keep the selling points a secret. That video is way too long to expect a new person to get into, plus I don't think it fully explains why to get on Giveth. Be explict:
- zero fee platform
- low gas on gnosis chain, donations on both mainnet & gnosis
- with GIVbacks,

[2022-05-05 18:20] laurenluz commented on #583
I think it's good!

[2022-05-05 18:27] laurenluz commented on #663
I wouldn't link to this video, but it might help you with some of the concepts: https://www.youtube.com/watch?v=tVVpRTXFmvg&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=3

[2022-05-06 13:24] divine-comedian commented on #589
changes are meged! sorry for the delay

[2022-05-06 19:42] Cotabe commented on #641
I can do every other week. Thursday's afternoon CST

[2022-05-06 21:51] scottbenjd commented on #658
Drop created. Working on website now.
https://app.poap.xyz/admin/events/giveth-donor-101-course-completion-2022

[2022-05-06 22:01] scottbenjd commented on #658
Did we decide on how many we wanted to distribute? Start with the first 100, then request additional links from there?

[2022-05-09 06:44] melodysongq commented on #664
We should definitely look at this.  After getting to know Giveth better with trying it out, I think there are many questions and problems that project would have that can’t be simply addressed.  For example,
1. “no fee” may need a little explaining (no fee to Giveth) but projects should know (which many don’t) that they would need to pay fees to get the money off ramp
2. “gnosis chain” needs expla

[2022-05-09 08:39] Tosinolawale commented on #612
The User Testing Report
https://docs.google.com/presentation/d/1r5ah5Ew-s0c0RKcOZ_xsQNbAl4pjp51MzZKRpakBfvs/edit?usp=sharing

[2022-05-09 08:39] #612 closed

[2022-05-09 09:53] danelsuga commented on #633
@laurenluz when you get a sec, could you take a look? Thx!

[2022-05-09 10:49] danelsuga commented on #574
@laurenluz please have a peek when you get a chance! I tried to weave in the metaphor. Each section has a segue into the next. The ending might be tweaked still? Give me your feedback! Thank you.

[2022-05-09 11:51] danelsuga commented on #636
Sent out a request for updates on the forum.

https://forum.giveth.io/t/giveth-gitbook-translations/311/35

[2022-05-09 11:56] danelsuga commented on #662
How's it going @todd-x-y ? Can I help at all?

[2022-05-09 14:59] laurenluz commented on #599
https://twitter.com/Givethio/status/1523678344503459842

[2022-05-09 14:59] #599 closed

[2022-05-09 16:21] laurenluz opened #667 "Support review process for Cryptoholics"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/79aa833f-a949-4b86-b759-8e1cdfeebcb6)

Worth pursuing, I think... Who's interested in coordinating on this? @SymSL @danelsuga @ahmadabugosh @scottbenjd

[2022-05-09 17:13] laurenluz commented on #574
YEAH! I'm loving it!! especially the beginning & the first 3 stops... really strong thread of connection.

I totally agree with you, I would definitely tweak the ending a bit, but before that, I would love see a tiny bit more connection between Giveth & the bottom orgs - particularly iden3 & hermez. I left a long comment at that secion... kind of debating the idea of keeping founders names out com

[2022-05-09 17:29] laurenluz commented on #633
Hey @danelsuga!

I started going through and making edits at the top and then just went through and read the rest. Instead of hacking at it, I think I'll just give a little feedback here.

I'm missing the "story" of it, and there's a bit too much repetition. From the quotes you put in the top of this issue, I think there's a lot of content too that you could take advantage of.

Instead of having s

[2022-05-09 17:30] scottbenjd commented on #658
I'm not sure if there's a notification. I'm hoping the # minted is tracked on the website so we can check there periodically, if nothing else. I submitted the website for 100. We can always request more. I wouldn't mind testing out the additional mint request process anyway.

[2022-05-09 17:30] laurenluz commented on #662
oops, I closed the wrong issue for this

[2022-05-09 17:31] laurenluz commented on #662
@danelsuga look at #663

[2022-05-09 17:31] #662 closed

[2022-05-09 17:38] danelsuga commented on #663
Thanks! I’d love to be able to edit directly if possible.

[2022-05-09 17:38] danelsuga commented on #662
Whoops! Thanks @laurenluz !

[2022-05-09 17:46] #589 closed

[2022-05-09 20:09] laurenluz opened #673 "New Twitter Bio & Banner for Giveth"
Working on updating out Bio & Banner for more impact...

From meeting w/ Steee:

Bio points:
- add mini mission statement
- can use stats to give authority like "over x projects raising funds in crypto" or "over x funds raised"
- go for clairty + hype/buzz. People should understand it & want to be a part of it

Banner idea:
- optimize space: include 3-4 words explaining what Giveth is

Bio phrases

[2022-05-09 20:27] laurenluz opened #674 "New Banner for giveth Twitter"
As per Giveth/giveth-planning#673 - we should make a new banner for the Giveth twitter that doesn't say "giveth" but makes us of the space to provide more context to who we are.

I'm working on some ideas in that issue, and once they are finalized, I'd love your help @rodricastillo9013 to use those words & giveth branding to update the art for the banner!

![image](https://user-images.githubuserco

[2022-05-10 03:48] Cotabe commented on #646
Suggested to do list:

- [ ] Crowdsource a list of favourite Giveth Projects

- [ ] Make a call for delegates within Giveth

- [ ] Make a call for delegates beyond Giveth

- [ ] Make a communication strategy for delegates beyond Giveth

- [ ] Where should the top pics of our monthly delegate go? twitter, newsletter, other?

[2022-05-10 14:52] ahmadabugosh opened #668 "Reach out to top projects for success stories"

[2022-05-10 14:54] ahmadabugosh commented on #668
Hey @melodysongq @clara-zi I just shared this doc that has the emails of the top projects, to reach out to for the task we mentioned in the last meeting (to record self produced videos / to get their success stories: https://docs.google.com/spreadsheets/d/1KHbgirrxhiRpwtw7SCZX9WfRgkAV3Fd2FZLz7vLhL5o/edit#gid=0

[2022-05-10 15:11] ahmadabugosh opened #669 "Create Subdomain for Newsletter Platform"

[2022-05-10 15:14] ahmadabugosh commented on #669
Hey @geleeroyale can you create a subdomain for our Newsletter called:

1. Point it to: news.giveth.io
2. It's for the platform.  https://www.getrevue.co/

Here are the details below on the CNAME records:

"Create a CNAME to www.getrevue.co
 Make sure that your subdomain is successfully pointing to Revue (this may take a while)."

 Let me know if you have any questions!

[2022-05-10 16:23] clara-zi commented on #665
Project owner to voice record and document key issues (async). Claire to review and then 1-1 to discuss and progress key issues.

[2022-05-10 16:30] clara-zi opened #670 "Guide for projects: Volatile vs Stable coins"
Document explaining the significance between volatile vs stable coins and the significance of volatility for projects.

[2022-05-10 16:33] clara-zi opened #671 "Why is editing access blocked on 'Fundraising on Giveth' doc?"
@Cotabe

[2022-05-10 16:44] Elizardwizzard commented on #660
Hey Lauren! I'll have the draft by the end of the day :)  no questions until now
Going thru the videos I noticed someone asked for Gnosis chain documentation mentioned in the Wallet Funding video https://www.youtube.com/watch?v=O-Vq7i4FqOw&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=4

[2022-05-10 18:05] geleeroyale commented on #669
Record is set

[2022-05-10 19:28] todd-x-y commented on #663
Just added edit access.

[2022-05-10 22:04] todd-x-y commented on #663
I appreciate the direct feedback! I'll weave your feedback into the document tonight.

[2022-05-10 22:27] Cotabe commented on #671
Yes @clara-zi . I can't edit. I don't know if I am doing something wrong :(

[2022-05-10 23:34] SymSL commented on #567
Document has been expanded and now includes:
Giveth overarching communication goals
Audiences and audience insights
Messaging matrix
Channel growth goals
Priority channels to plan for

Todays planning session to expand on the plans for some channels. We focussed on:
**Giveth Newsletter content** (cadence will continue at once per month) & we will set up a content session once every 2 weeks to disc

[2022-05-11 01:35] laurenluz opened #672 "GIVpower Documentation"

[2022-05-11 11:37] melodysongq commented on #668
I've drafted an email to be sent to the project owners, please take a look:
https://docs.google.com/document/d/1uy3LR6S83mtgKifOUORVfzIzTAGWQ9DUE_vpZGzg3H4/edit

[2022-05-11 11:38] melodysongq commented on #668
@Cotabe let me know what's the next step to email this out.  This in fact can go one by one since there are only 20 or so (there are a few internal matching fund in the list) but preferrably from a Giveth email.  What's your suggestion?

[2022-05-11 11:41] ahmadabugosh commented on #668
Yeah I think sending to Autopilot could be one option, but if it's only 20, maybe one to one emails would be doable. @laurenluz do we have a shared giveth.io email we can use to send out one to one emails or for outreach?

[2022-05-11 12:57] ahmadabugosh commented on #644
This is currently ready, but just waiting for the subdomain (news.giveth.io) to propagate (Kay already did it but it may need more time)

[2022-05-11 12:58] ahmadabugosh commented on #644
Closing this issue and discussion moved to [](https://github.com/Giveth/giveth-planning/issues/669)

[2022-05-11 13:01] ahmadabugosh commented on #653
Closing this issue since we're moving the Newsletter to GetRevue , check [this issue](https://github.com/Giveth/giveth-planning/issues/669)

[2022-05-11 13:01] #653 closed

[2022-05-11 13:12] rodricastillo9013 commented on #674
brilliant! when you have some phrases, you share it with me and we will design it!

[2022-05-11 13:14] rodricastillo9013 commented on #673
hello! we should define some phrases so that I can go to the design stage, which ones do you like the most?

[2022-05-11 13:22] ahmadabugosh commented on #628
Done, added all descriptions (along with the missing ones)

[2022-05-11 13:23] ahmadabugosh commented on #628
If you're fine with them, feel free to close this issue @laurenluz

[2022-05-11 13:25] ahmadabugosh commented on #660
Thanks @Elizardwizzard ! I added the video descriptions and answered her

[2022-05-11 13:28] clara-zi commented on #665
1) **Not able to consistently log-in on Mac** sometimes not able to log-in using Mac laptop: system sends her round in a loop, asking her to verify email over and over. Verification link in email doesn't link to anything. Her solution has been to leave the log-in process for a day or day and then go back to it and it work. She has cleared her history. This is not an issue all of the time. When log

[2022-05-11 13:33] melodysongq commented on #665
@clara-zi  I think it would be the best to post this issue on the Verification Channel (I will do) so that people can discuss and go to the next step on fixing the bug.

[2022-05-11 13:37] clara-zi commented on #665
Project seems to be registered in Kenya. Project owner has asked for guidance for process to show registration.
She has been unable to find out how to show this through Giveth.
@clara-zi to follow-up.
I have requested registration certificate.

[2022-05-11 13:42] clara-zi commented on #641
I would like to be involved to learn more about issues around accessing crypto funds / offramping
and facilitate sharing of solutions

[2022-05-11 16:08] clara-zi commented on #665
_Summary & recommendations:_ (WIP)

- [ ] reapply for verification in next round (should be verifiable if proj. link posted on social)

[2022-05-11 17:30] laurenluz opened #675 "Beginners FAQ blog"
Things you were embarassed to ask!!

People who are in it for a couple of months, forget their questions.

[2022-05-11 17:38] laurenluz commented on #635
maybe will help: https://docs.google.com/document/d/1YJGfb-CuEIGSD41A02YlByKZ1fksL0Vf_hV82UHbqwU/edit?usp=sharing

[2022-05-11 17:39] laurenluz commented on #635
we should figure out a better way to explain the 75% thing.........

[2022-05-11 17:48] laurenluz opened #676 "How do we communicate the amount of GIVbacks the user gets?"
It's not just "75%"

@ahmadabugosh @todd-x-y @danelsuga @Elizardwizzard

[2022-05-11 17:50] laurenluz opened #677 "Draft email for donors 101 course"

[2022-05-11 17:50] laurenluz opened #678 "Draft email for donors 101 course"

[2022-05-11 17:51] laurenluz opened #679 "Tweet thread for Giveth Donors 101 course"

[2022-05-11 17:51] laurenluz commented on #676
https://docs.google.com/document/d/1jZlg6QqL6E0AChBkK1_eDfdrcSuOKU5o2mBI7KGTB4M/edit

may help!! ^

[2022-05-11 19:54] laurenluz commented on #628
I just made suggestions in the doc. The "Why giveth?" summary is still missing.

[2022-05-11 20:12] ahmadabugosh commented on #628
Thanks @laurenluz I added a Why Giveth summary.

https://docs.google.com/document/d/1iJF4z8O6c_vGVYNnDc-e7nRnwEeXKFVE-r70t-v1jwE/edit

 I kept it generic (not mentioning the course), since I think this video could be shared independently with people outside of the playlist

[2022-05-12 11:52] clara-zi commented on #665
I think the profile is brief because project owner has had difficulty logging in to platform to complete profile. Will verification team feed back - is there a standard process when projects are rejected for verification? @melodysongq

[2022-05-12 15:39] laurenluz commented on #674
Hey @rodricastillo9013!

Ready! Can you make it say:

"Welcome to the Future of Giving"
"Donate Crypto | Get Rewarded"

And then any Giveth design elements that you think would look good :)

[2022-05-12 20:49] laurenluz commented on #628
Sounds good! I made small suggestions, I think it's good to put these up now

[2022-05-12 20:49] laurenluz commented on #660
Hey @Elizardwizzard - can't open the doc. can you make it "anyone can comment"?

[2022-05-13 12:01] clara-zi commented on #668
if it's easier and quicker to do one-by-one - I'm happy to split the load and send some @melodysongq melodysongq

@Cotabe @ahmadabugosh

[2022-05-13 19:01] clara-zi commented on #664
essentially a mini-guide to running a fundraising campaign on Giveth. Started drafting a google doc.

[2022-05-14 01:04] Elizardwizzard commented on #660
Are you able to see it now?

[2022-05-14 16:28] WhyldWanderer commented on #665
Hey @clara-zi ..

Just wanted to leave some information in here that might be helpful for this user.. Im not sure if they are still facing these problems..

In response to your point #1 above - this is a torus thing... this has happened to other users as well including myself. Unfortunately, there is nothing that Giveth can do about this. We can refer them to Torus customer support and I think thi

[2022-05-15 23:15] SymSL commented on #567
2 more documents have been created from this effort, the Content Planning [sheet](https://docs.google.com/spreadsheets/d/17Mgd1pfPsC1q50FlO59PtsKph8js3Kr7ou_LKA-K5qc/edit?usp=sharing) where the plans for channels can be created and shared, and the [Content ideas document]

(https://docs.google.com/presentation/d/1n6kmd5YMlFr0FEY9JtpzWrBtoZkvZLb8jK5fl1RjwIU/edit#slide=id.g12a455db593_0_0) for contr

[2022-05-15 23:17] SymSL commented on #567
Next step is to fill out the social and blog/newsletter plan more concretely (and not over commit to the amount of content that can be done) and then to expand the calendar to include a plan to engage influencers to promote Giveth and help onboard more donors.

[2022-05-16 08:21] danelsuga commented on #574
I'm desperate for this to be done! Tell me what you think @laurenluz.

https://docs.google.com/document/d/1DkYQ1SbqdTFQciPXnZ4Q3c8BWpv8pPtkdooMi04OnkQ/edit?usp=sharing

[2022-05-16 08:44] danelsuga commented on #663
Hi @todd-x-y and @laurenluz
Thanks for this. I made a bunch of edits. Let me know what you think!

[2022-05-16 10:12] danelsuga commented on #633
@laurenluz  I'm having a hard time with this task.

I don't know how to write a "story" if I'm basing my format on the unfolding of the podcast itself.

I don't know how to integrate the quotes without the quotes taking up the whole character allowance. The passage you quote, for example, would take up 180 characters.

I'm terrible at Twitter. 😭 Help!

[2022-05-16 15:34] melodysongq commented on #668
I've looked into the spreadsheet and highlighted those internal projects and those projects may not be legible to ask for a success. https://docs.google.com/spreadsheets/d/1KHbgirrxhiRpwtw7SCZX9WfRgkAV3Fd2FZLz7vLhL5o/edit#gid=0

[2022-05-16 15:49] laurenluz commented on #674
Hey Rodri!

I want it to say both things on one banner... just one banner.

I love the hands with the GIV token backgrounf but i think since twitter will have the profile pic on the left side, it should have the text more in the center :)

[2022-05-16 15:51] laurenluz commented on #674
![image](https://user-images.githubusercontent.com/75490971/168633282-29ba4b72-54ea-4aa3-b186-a41c9ab039e5.png)

[2022-05-16 15:54] rodricastillo9013 commented on #674
perfect! I'll work on it!

[2022-05-16 16:39] rodricastillo9013 commented on #674
![Twitter header](https://user-images.githubusercontent.com/61791380/168641583-d2afea60-79ab-4fa8-8ed3-8eae102940d7.png)
something like this?

[2022-05-16 17:01] laurenluz commented on #674
Oh yeah!!! I'll show it to the twitter specialist and ask for his feedback too 😄  I love it!!

[2022-05-16 17:07] Santigs opened #680 "Send NFT project feedback Typeform using autopilot"
Dear Giveth project creator.

We are always in search of new ways to generate more funding for Giveth projects. We are considering the implementation of a new feature where:
1.- Artists can donate art to support projects
2.- That art will be turned into NFTs
3.- Collectors can purchase those NFTs via Giveth, and
4.- 100% of funds involved from sales would go to the verified project!

Before moving

[2022-05-16 17:24] clara-zi commented on #664
Draft document (WIP) can be found here. @melodysongq would love your wisdom on fundraising process: I'm sure there is more that can be added.

[2022-05-16 17:54] clara-zi opened #681 "Thandulwazi: Connect FAQ"
Potential project listing on platform. FAQs session booked 18/5/22 with a view to testing new documentation and case studies to identify gaps.

[2022-05-16 18:35] rodricastillo9013 commented on #674
Nice! thanks :)

[2022-05-16 21:44] ahmadabugosh commented on #669
Thanks @geleeroyale, the domain is working (yay): https://news.giveth.io, however it doesn't have the ssl certificate yet. Can you see if that is something you can activate or see what you recommend? http://help.getrevue.co/en/articles/4465817-how-to-make-your-custom-domain-secure-with-ssl

[2022-05-16 21:45] ahmadabugosh opened #682 "Switch Newsletter to Revue"

[2022-05-16 21:51] ahmadabugosh commented on #682
Hey @laurenluz I added our Newlsetter to Revue:  http://news.giveth.io/

The next steps are:

- [ ] Import our existing list (this is in process, I submitted our list, but I'm waiting for them to verify our account, which may take 24 hours)
- [ ] Edit our bio / design (I added you onto the account so you can do this)
- [ ] Add our Newsletter to our Twitter page (with the direct integration, so peo

[2022-05-16 22:00] ahmadabugosh opened #683 "Newsletter May 2022"

[2022-05-16 22:05] ahmadabugosh commented on #683
For our upcoming May Newsletter, let me know if you have any

1. Projects you'd like to highlight
2. Updates about Giveth / GIVeconomy
3. Community updates / things we want to promote
5. Funny Memes

@laurenluz @danelsuga @Cotabe @WhyldWanderer @scottbenjd @melodysongq @clara-zi  @SymSL

(I'll bring it up in the next comms call as well)

[2022-05-16 22:17] ahmadabugosh commented on #567
Hey @SymSL thanks for putting this together!

A couple of comments I have
1) Can you please add my email (or make the doc publicly editable)?
2)  Just in terms of building a process and getting started, I think that it would make more sense to have it be split by month instead of day by day, since I think it would get tedious and daunting to fill out what we want to post every day here. Plus for T

[2022-05-16 22:24] ahmadabugosh commented on #658
Thanks @scottbenjd !

1)  I think 100 would be good to start with, plus it gives some scarcity we can market.

2) So in terms of workflow, anyone with the link can claim? We don't need to pre-add their addresses?

3) Also, I think we should extend the deadline. I'm not sure what the difference is between "end date" and "expiry date", but it would probably make sense to extend it to mid or end of J

[2022-05-17 07:18] melodysongq commented on #683
I wonder if we can do a "how to" or some basic definition (like, this is what this mean) for the 101 subscribers of the Newsletter.   Let's talk about this in the Connect Call.  Also featuring a team member (contributor) is always a great idea that gives the platform credibility.

[2022-05-17 07:28] melodysongq commented on #664
Let's create a space on Miro for brainstorming.   I will start with something and post a link for others.

[2022-05-17 07:37] melodysongq commented on #664
Here is a space we can brainstorm timeline and visualize ideas before putting them into a document:
https://miro.com/app/board/uXjVOHUtG4M=/?moveToWidget=3458764525529864655&cot=14

[2022-05-17 08:54] clara-zi commented on #665
So, if project-owner was to use Metamask, this problem would be solved? She would have one wallet for project and she would be able to log-in consistently on all devices and edit the project profile?
Seems like it would be better to delete the existing profile (is this possible?) and start again?
@WhyldWanderer @ahmadabugosh

[2022-05-17 14:03] ahmadabugosh commented on #678
Duplicate issue to [661](https://github.com/Giveth/giveth-planning/issues/661)

[2022-05-17 14:03] #678 closed

[2022-05-17 14:22] ahmadabugosh commented on #558
Closing this issue (posted this issue in the dapps-v2 in this [issue](https://github.com/Giveth/giveth-dapps-v2/issues/735))

[2022-05-17 14:22] #558 closed

[2022-05-17 15:44] rodricastillo9013 commented on #674
ok, I will wait for your feedback. Thanks

[2022-05-17 17:36] laurenluz commented on #660
Hey @Elizardwizzard! Thanks for putting this together! It's a good summary of the first couple of videos, maybe we can convert these into documentation or use the content to add to our existing docs.

For this blog though, I was hoping more for an announcement of the course overall. Something like "Giveth is a donation platform that uses web 3 to create huge opportunities for donors! This course i

[2022-05-17 17:38] laurenluz commented on #633
Ok! off your plate!! perhaps @Elizardwizzard - would you like to take a stab at this? Suga's not too comfortable with tweet threads and I think it is more your area of expertise!

Let me know if you have time for it in the next week or two :)

[2022-05-17 19:52] laurenluz commented on #574
@danelsuga just finished QA-ing! It's great!

Are you still going to update the images for Giveth & TEC? I think we should use current branding.

Otherwise, I think you could just integrate those last suggestions and put the draft in Medium. I'll give it a final read when you submit to the giveth publication.

Next steps:
- [ ] write tweet announcement & even a thread (that's on me)
- [ ] do a lit

[2022-05-17 20:42] laurenluz commented on #663
sorry I really hacked through that a lot. Some general comments/notes to keep in mind in the future:
- keep it short - get the message across as efficiently as you can
- keep it personal - remember that you'll be reaching out to normal people in the crypto space
- avoid salesy language & over-promising - we are facilitating zero fee P2P donations and rewarding donors... that's already awesome :)

[2022-05-17 22:31] danelsuga commented on #635
Looking great! I actually really like and appreciate the detailed response for the GIVbacks Q.

Great job @ahmadabugosh !

[2022-05-18 00:17] laurenluz opened #684 "Giveth TRACE Rinkeby Deprecation Tweet Thread"
https://docs.google.com/document/d/1VshxNLRNdBNou3J5EvSsYt6ZGn1qcIOZz9jPrwlwa4o/edit

[2022-05-18 01:29] laurenluz opened #685 "Blog Post - Successful project testimonials summary"
From comms call:
"Connect WG is interviewing projects & getting feedback from there. We could take their notes & turn it into a blog post... a long testimonial about Giveth - they tell us what they like about the platform."

[2022-05-18 01:30] laurenluz commented on #680
Hey @Cotabe are you able to create an email out of this to send to our projects owners?

[2022-05-18 01:31] laurenluz commented on #677
Redudant with #661

[2022-05-18 01:31] #677 closed

[2022-05-18 01:38] laurenluz commented on #683
love melody's ideas!

Suggestions for that:
- basic definition: "seed phrase"
- featured contributor: we should ask who would like to be featured.... maybe we start with a long time dev like Mateo... or Marko for design

Other content suggestions:
- Giveth Donor 101 course (if we can get it out)
- Ask for feedback for the NFT integration: https://twitter.com/Givethio/status/1524072516498698244
- T

[2022-05-18 01:41] laurenluz commented on #683
Also this was our top tweet so far (though I can't find the link to it for some reason)
![image](https://user-images.githubusercontent.com/75490971/168939824-523dc750-5bab-4895-8bf3-c4f89d557d05.png)

[2022-05-18 01:50] laurenluz commented on #635
For this answer, should we mention like... that really anyone can raise funds for anything (if it doesn't violate our terms)? doesn't have to be a charity or even a public goods project... Maybe it doesn't matter

![image](https://user-images.githubusercontent.com/75490971/168940645-337b3701-d716-41bf-b217-26eaec966186.png)

[2022-05-18 01:58] laurenluz commented on #635
This is waaay too much:

![image](https://user-images.githubusercontent.com/75490971/168940923-3958a42f-7dc5-48b1-ab8e-57ed40e9d69e.png)

I suggest:
Yes, indeed. You can get up to 75% of the value of your donation "back" in GIV, streamed over 5 years.

[2022-05-18 02:00] laurenluz commented on #635
I think we can take out "formerly xDAI"

![image](https://user-images.githubusercontent.com/75490971/168941706-46fb2d32-1992-4f29-a3dd-dda791e84fac.png)

[2022-05-18 02:21] Cotabe commented on #668
@melodysongq @ahmadabugosh I can't access the spreadsheet. Just asked for access

[2022-05-18 07:41] melodysongq commented on #668
you should be able to access from here: https://docs.google.com/spreadsheets/d/1KHbgirrxhiRpwtw7SCZX9WfRgkAV3Fd2FZLz7vLhL5o/edit?usp=sharing <https://docs.google.com/spreadsheets/d/1KHbgirrxhiRpwtw7SCZX9WfRgkAV3Fd2FZLz7vLhL5o/edit?usp=sharing>
We have a standard email which is as follows:
https://docs.google.com/document/d/1uy3LR6S83mtgKifOUORVfzIzTAGWQ9DUE_vpZGzg3H4/edit <https://docs.google.com/

[2022-05-18 08:38] ahmadabugosh commented on #668
@Cotabe I just shared it with you (I didn't want to make it public because it has private emails on it).

@melodysongq Also I think you should also get a giveth.io email (either a shared one for the connect group or an individual one for you) for these one-to-one outreaches for projects or external partners. Let me check with the team on that

[2022-05-18 09:15] ahmadabugosh commented on #635
Great! I added your comments, now closing this issue. Last thing is to integrate the POAP from [issue 658](https://github.com/Giveth/giveth-planning/issues/658)

[2022-05-18 09:15] #635 closed

[2022-05-18 09:38] ahmadabugosh commented on #628
Done! Closing this issue

[2022-05-18 09:38] #628 closed

[2022-05-18 10:22] danelsuga commented on #657
@ahmadabugosh !

Can the title of the second video be changed to this?
Intro to Getting Started with Giveth
https://www.youtube.com/watch?v=qY9F5X1b1QA&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=2

It just takes out the colon and decapitalizes "to" (prepositions should never be capitalized unless they start a title).

Thanks!

[2022-05-18 10:22] danelsuga commented on #657
@ahmadabugosh !

Can the title of the second video be changed to this?
Intro to Getting Started with Giveth
https://www.youtube.com/watch?v=qY9F5X1b1QA&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=2

It just takes out the colon and decapitalizes "to" (prepositions should never be capitalized unless they start a title).

Thanks!

[2022-05-18 10:31] danelsuga commented on #657
On second thought, maybe it should just be "Getting Started with Giveth". None of the others say Ïntro to". And "intro to" "getting started" is a bit redundant, no?

[2022-05-18 10:33] danelsuga commented on #657
I guess it's not possible to take "today"out of the Wallet Funding video? Maybe that tiny second could just be cut off? No big deal, I guess. Just seems a bit weird, as it's a video right in the middle of the series, so the person most likely has already heard several at that point.
https://www.youtube.com/watch?v=O-Vq7i4FqOw&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=4

[2022-05-18 10:34] danelsuga commented on #657
The GIVeconomy video should just be called "GIVeconomy" and not "GIVeconomy intro".

https://www.youtube.com/watch?v=_ULHxC5jwrg&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=6

[2022-05-18 11:01] ahmadabugosh commented on #657
Thanks @danelsuga ! I made those edits you just suggested (changed the titles and I trimmed the beginning of the Wallet Funding and Regen videos, they're being processed now). I agree about the bird noises not being the most professional, maybe we can reshoot some of those videos later?

Also, I'm working on the other notes you mentioned in the doc (but most of them require me to re-edit the entir

[2022-05-18 11:49] geleeroyale commented on #561
@GriffGreen Can you try going there again and hitting continue? (If the numbers did not change) - If they did change, please dm them to me and I will set them promptly. Let's do this 👯‍♂️

[2022-05-18 12:23] danelsuga commented on #636
Mitch clarified on the forum.

Oops. This issue is closed by I keep adding to it. 🤣

[2022-05-18 12:43] ahmadabugosh commented on #657
Ok done! I fixed all the issues you mentioned in your comments here and the doc you shared with the exception of two videos:

1) How to Donate (slight error in 70% versus 75%, the framing of "legitimate" projects and using another project in the example besides Giveth matching pool)
2) Regen Farms (the bird noises 🦚)

@laurenluz @danelsuga I suggest we launch it as is, and make seperate issues to

[2022-05-18 12:49] clara-zi commented on #671
@Cotabe Access is showing as being open to everyone in Giveth? Do you have access to edit the Notion workspace normally? Can you edit using this link? https://giveth.notion.site/Your-funds-a-guide-for-projects-af4cd4114eb94caca27b18bbf24ee73f

[2022-05-18 12:52] ahmadabugosh commented on #671
@Cotabe just reshared the invite (check your email)

[2022-05-18 13:09] clara-zi commented on #668
Thanks @ahmadabugosh I await decision about email. @Cotabe Once you have access to sheet, let us know if there's anything you'd like to add.

[2022-05-18 13:12] melodysongq commented on #668
let's have something like project@giveth.io  or projectsupport@giveth.io email and have Claire and I with access.

[2022-05-18 13:41] clara-zi commented on #681
Findings:
Important for this project to make decisions on and plan in 3 key areas:
•	Which wallet to use and who will be the holder: benefits of MetaMask explained
•	Decision on gift accepting policy for transparency on timings of use of crypto
•	Crypto fundraising campaign plan
They have alumni donors based in US and London, who have crypto – can be approached to make a donation as part of a ‘sof

[2022-05-18 13:58] laurenluz commented on #674
Hola Rodri! puedes hacer el parte "donate crypto | get rewarded" mas vibrante? como bold o algo asi? tal vez un poquito mas grande?

[2022-05-18 16:59] SymSL commented on #567
Hey @ahmadabugosh thanks so much for the feedback, I have added you to the docs and made sure anyone with the link can access so let me know if you have any hassle. I hear you on the daunting task of each day so have opened a new tab that simplified it to the 4 weeks of each month which does make it look alot easier to digest :) Whoever does the planning can then expand on it in more detail

[2022-05-18 17:18] GriffGreen commented on #561
This is fucked up crew... i'm sorry I didn't prioritize this faster and now the feature is removed 👎

https://help.medium.com/hc/en-us/articles/115003053487

![Screen Shot 2022-05-18 at 11 10 25 AM](https://user-images.githubusercontent.com/14945613/169102897-9fb57a5f-d821-4779-a55b-1ef5dd5494c5.png)

I'm sorry i failed us :-(

[2022-05-18 17:18] #561 closed

[2022-05-18 17:23] geleeroyale commented on #561
I can redirect blog.giveth.io to our medium publication if its any consolation 😃

[2022-05-18 17:50] laurenluz commented on #683
could also mention honeyswap hack & rescue - shilling/supporting partners like 1hive

[2022-05-18 17:56] laurenluz commented on #683
Could also share information like:
- number of unique donors
- number of verified projects
- how projects used the funds

Get project testimonials that we can use on social media & elsewhere

[2022-05-18 21:04] laurenluz commented on #683
This is also super cool! https://www.decential.io/features/k68j0bp6u49hmuq3heg96o4z6y3ja1

[2022-05-18 21:27] laurenluz opened #686 "Gitcoin GR14 prep"
It's June 8 - 23!

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c9f0a9eb-948b-48a3-8746-90d9ef728655)

We should:
- [ ] update listing for Giveth.io
- [ ] consider removing listing for Giveth TRACE
- [ ] make some memes in support of the grants rounds
- [ ] advertise gitcoin matching pool on Giveth

[2022-05-18 21:33] laurenluz commented on #661
It's awesome, left small comments & suggestions.

[2022-05-18 21:39] laurenluz commented on #657
Agree, let's ship it! It's never going to be perfect, but it is certainly good enough right now!

Sorry about the bird noises 👀 there are a lot of birds here... plus side though, I bumped into someone today that watched the whole series (Griff shared it with them) and they said they found the videos I narrated to be very relaxing and easy to understand... maybe the bird noises added to the mood 🤣

[2022-05-18 23:28] Cotabe commented on #668
I am checking if we can get one of the emails that @melodysongq suggested.

Interestingly some of the project owners were different. But I found all but one which I highlighted in yellow.

The email draft is already created... but I have a few concerns:

- Currently the default email is no-reply@giveth.io. We are asking for a reply so we need no change this. @ahmadabugosh any ideas?

- I am not su

[2022-05-19 05:01] Cotabe commented on #680
@Santigs I sent it to your email for QA (Quality Assurance). Check it out, if you approve I will send it.

@laurenluz didn't send it to you, because I think you have a lot on your plate. But I can send it anyways if you want.

[2022-05-19 08:53] melodysongq commented on #668
Cotabe, this has been successful with other nonprofit and I found short video updates gives a lot of credibility to the project itself and it becomes a content that the platform can use and the charity can use as well.  We can definitely as for other things like testimonials etc. too.  A tik-tok like video is easy but really good to see faces behind the projects (and the diversity of it).    This

[2022-05-19 11:09] danelsuga commented on #660
https://docs.google.com/document/d/1W_i8Oe6EBdPGzgdGPkw6Vb6YA423IRxAzxcZSBkIfrg/edit?usp=sharing

[2022-05-19 11:56] danelsuga commented on #660
@laurenluz @ahmadabugosh

[2022-05-19 12:26] ahmadabugosh commented on #660
Hey @danelsuga looks good! I have a few comments:

1. Make sure to link the latest playlist video (for example the first "Why Giveth?" video is the old unlisted one, [this is the new one](https://www.youtube.com/watch?v=-JXwwIGJGQQ&list=PL4Artm1rmCWH4Q5XnrQWf8fm0xob3hbdZ&index=2&ab_channel=Giveth)
2.  Can you include a link to the quiz: https://giveth.typeform.com/to/IZndeKbH
3. Maybe liven it up

[2022-05-19 16:41] WhyldWanderer commented on #665
Yes, the problem could not happen because Metamask is not directly connected to your identity (email) and will not ask for verification of these things.

However, it is important to keep in mind that if the project owner chooses to use a metamask, they will be entirely responsible for their funds and their keys. If something gets lost or goes wrong, it is completely on them and there is no 'forgot

[2022-05-19 17:49] laurenluz commented on #680
Thanks @Cotabe! All good. Next time perhaps just send it. If I don't have time to read it, I won't, but it's good to have the option without the extra coordination :)

[2022-05-19 18:11] danelsuga commented on #660
Right! Ok! Will do in morn.

[2022-05-19 18:11] danelsuga commented on #660
"Why Giveth?" meaning the same video that kicks off the series?

[2022-05-19 19:27] ahmadabugosh commented on #660
@danelsuga Yes, exactly!

[2022-05-19 19:43] rodricastillo9013 commented on #674
<img width="1500" alt="Twitter header" src="https://user-images.githubusercontent.com/61791380/169388948-b725f313-d1ac-4e0b-9ec0-e118d626fce8.png">
what do you think? @laurenluz

[2022-05-19 19:49] ahmadabugosh commented on #668
@Cotabe We made an email that @clara-zi has access to "projects@giveth.io", you can use that one for the reply to

[2022-05-19 21:00] WhyldWanderer commented on #658
bends is away so Im gonna help out with this one...

As far as I know, we have 2 options for delivery.

1. We request a number of links. these links are unique and can only be claimed once. This would be something we could send in an email to the person who completes the course. We would want to make sure that each email address can only be sent one link (can be done in autopilot).

2. We enter a

[2022-05-20 09:42] danelsuga commented on #660
Thanks again!

@rodricastillo9013 could you help out with a banner please? Something with Giveth elements along with something school/text related.

And the title would be cinematic style with "Presenting" in small text followed by "The Giveth Donor 101 Course" in big text.

[2022-05-20 13:00] rodricastillo9013 commented on #660
yes, sure :)

[2022-05-20 13:00] danelsuga commented on #660
Thaaaanks!

[2022-05-20 14:17] rodricastillo9013 commented on #660
Hi! wydt?
<img width="578" alt="Banner" src="https://user-images.githubusercontent.com/61791380/169547385-d5e8001b-421f-4bf7-acbf-832b96ed1deb.png">

[2022-05-20 16:00] clara-zi commented on #668
Hi @Cotabe let me know if/when you need the details. Email should be set-up and live now. I've just completed the set-up but making sure it works.

[2022-05-20 16:39] Cotabe commented on #671
Got access. Thanks @ahmadabugosh and @clara-zi

Just edited and posted the offramping for Mexico https://www.notion.so/giveth/Mexico-d089d0835203451fa6fdc94d5e779e48

And linked to it some Spanish speaking countries to that one in case it can be useful. Example: https://www.notion.so/giveth/Chile-321377b03d1644999760119a92a2d0fa

[2022-05-20 20:08] Cotabe commented on #668
Email tested. Now replys will go to: projects@giveth.io

I edited a bit the copy and used some design elements. But I'm not sure if it lacks some "punch".

I sent the test to @ahmadabugosh and @melodysongq

@clara-zi I can send it to you if you share your email :)

[2022-05-20 20:51] Cotabe commented on #680
Agreed!

Should we close the issue?

[2022-05-20 23:47] ahmadabugosh commented on #668
@Cotabe Looks good!

A few comments:

1) There is a small typo in the preview text ""feautirng"
2) Can you include a link to the design explainer doc: [Rodri created for this](https://docs.google.com/document/d/1cbzPr6eU7wY32Zq-ShPZ1w0JEIXjwOzMdxJmU0hnsDE/edit ?) Maybe export it as a pdf if possible?
2) What do you think about adding to the end something about if they don't want to record a video,

[2022-05-21 09:50] #680 closed

[2022-05-23 07:10] danelsuga commented on #660
Great! Thanks @rodricastillo9013 !

[2022-05-23 07:15] danelsuga commented on #660
This is ready to go. @laurenluz @ahmadabugosh can you give it a last look please?

[2022-05-23 07:29] danelsuga commented on #574
Thanks @laurenluz
Got the new Giveth banner. I pulled the TEC from the website. Should I find one somewhere else?

[2022-05-23 07:33] danelsuga opened #687 "Bring Commons Stack prize contenders to Giveth"
Invite the non-winning projects contending for the new Commons Stack Prize to Giveth where they will find happiness.

[2022-05-23 07:39] danelsuga opened #688 "Help Griff with ABC article"
The Augmented Bonding Curve, Part 2: A Web3 Way to Fund Public Goods

https://docs.google.com/document/d/1XPR_jvVvmQ0vgXNw8Hi1q-4QNMgLaZ7fFxZByUzn7gE/edit

[2022-05-23 07:43] danelsuga commented on #688
@laurenluz bringing you in the loop. :)

[2022-05-23 07:49] rainerhoell commented on #650
I bought a ticket yesterday. @markoprljic, when are you going to be there?

[2022-05-23 07:49] ahmadabugosh commented on #660
I think it's great!

I was just thinking, maybe we can have a catchier title. What about something like: "Become a Certified Giver!", "Learn to Maximize Your Social Impact as a Giveth Donor", or "Join the Future of Giving by Becoming a Giveth Donor"

[2022-05-23 07:51] danelsuga commented on #660
Thanks!

Ok, in that case, can we leave the banner Rodri made, and we'll just change the article title?

[2022-05-23 07:58] danelsuga commented on #660
I really like the "Giveth Donor 101 Course", so it'd be good just to add to it then. But I think key is we don't want to discourage folks from reading (which is why, you recall, we used "Donor" for the course and not "Giver").

But maybe "Become a Certified Giver" could work if we have both titles going on. Except it implies something about being officially certified. Are we offering that? I guess

[2022-05-23 08:01] ahmadabugosh commented on #660
I think we can leave the banner as is. In a way it's kind of like how when we discussed Twitter in our last meeting, when we said that the Twitter banner could give more information. So in this case the banner and title both would convey a slightly different message, that encourage people to read the article.

Yeah I was thinking the certification is the POAP, so that one might work

[2022-05-23 08:04] danelsuga commented on #660
Great!

[2022-05-23 11:21] danelsuga commented on #687
Finalists as plucked from Tokenlog:

Grassroots Economics wins.
Followed by Juanka's Gravity DAO.
Followed by:

Precious plastic commons
jaklatt#2299
@jaklatt

The AI Commons / Algovera
ygg_anderson#4998 and richardblythman and Algovera.ai#3425
@ygg_anderson and @richardblythman

ReFi DAO
John Ellison#5093
@climateXcrypto

Unmonopolizable Therapies Commons
Savvy Kerdemelidis$9857 and Nick FIORENZA

[2022-05-23 12:15] #556 closed

[2022-05-23 12:55] #657 closed

[2022-05-23 13:21] ahmadabugosh commented on #658
Thanks @WhyldWanderer !
In that case, should we ask them for their address as a question in the typeform at the end and then say we'll reach out for them to claim the POAP? Or do you think we should request a bunch of links? Is there any downside to either approach? Which one do you prefer?

[2022-05-23 13:47] melodysongq commented on #683
Here is a write up for feature projects that amplify and help other projects to be successful, please edit and use in other issues if there is already featured projects in this one : https://docs.google.com/document/d/1p76UPJnSlKx4zTJ-qaMKB89sS2RYHSQHoXn_xCCZ8UE/edit

Also love the idea of "seed phrase" looking forward to reading what it means.

[2022-05-23 13:49] melodysongq commented on #683
Also suggest you give the Connect WG scheduled deadlines for each newsletter, we are happy to schedule accordingly write ups for feature projects in this "column".

[2022-05-23 16:21] clara-zi commented on #671
Thanks @Cotabe. Closing now

[2022-05-23 16:37] clara-zi commented on #668
clairepapazidis@gmail.com

[2022-05-23 19:23] laurenluz commented on #674
love it! <3

[2022-05-23 19:32] laurenluz commented on #660
@rodricastillo9013 can you make the banner taller? formatted for Medium, like this one:
![image](https://user-images.githubusercontent.com/75490971/169892405-e7543416-b0bc-4a9b-baed-232a42d18682.png)

@danelsuga @ahmadabugosh I'm down with changing the title to something catchier, although I think it helps to be explicit about what to expect. Maybe something like "Everything you need to know about

[2022-05-23 19:41] laurenluz commented on #660
Otherwise, I left some last small comments, and I think this is ready to submit to the Giveth publication when you're ready @danelsuga

[2022-05-23 19:56] laurenluz commented on #574
@rodricastillo9013 do you have access to the right banner/branding for the TEC? I thought it should be yellow. This is what we have right now:
![image](https://user-images.githubusercontent.com/75490971/169896018-0f312fc3-1046-4129-8fbb-f28b832e1bd5.png)

@danelsuga once that's fixed, draft it up in medium and submit to the giveth publication :)

[2022-05-23 19:59] rodricastillo9013 commented on #574
@laurenluz Hello, I can prepare one with the indicated colors

[2022-05-23 19:59] rodricastillo9013 commented on #660
ok i prepared it :)

[2022-05-23 20:13] rodricastillo9013 commented on #660
<img width="1400" alt="Medium Post - Full width" src="https://user-images.githubusercontent.com/61791380/169898487-fcbbb018-1176-43aa-915c-f5137e998598.png">

[2022-05-23 20:33] Cotabe commented on #668
@ahmadabugosh Thanks for the great comments.

1. Is fixed.

2. This is great, but to keep it consistent I'ld suggest we agree on recommended duration (60-90 sec or 2-3 minutes) and what do we want them to touch upon.
Here are a few suggestions, I think we should keep only about 3.
A.	Introduce yourself.
B.	What you like about Giveth
C.	State how Giveth helped your organization/What are we (giveth)

[2022-05-23 20:33] ahmadabugosh commented on #668
Thanks @clara-zi I just got it, it looks good! I would just suggest that you share the Self Product Video Guide as a PDF (instead of the Google doc, by exporting the file in pdf format)

[2022-05-23 20:43] ahmadabugosh commented on #668
Thanks @Cotabe !

1. I would suggest 60-90 seconds, if people want to go over we won't stop them, but even a 10 second soundbite would be useful for us.
2. Yes, I agree A, C and D are the ones I like too

[2022-05-23 21:00] Cotabe commented on #668
@ahmadabugosh I will make it a PDF and attach it once we figure out the small inconsistencies. I would like to briefly discuss it on tomorrow's connect call.

[2022-05-24 00:51] laurenluz commented on #574
@rodricastillo9013 la cosa es que estamos buscando el logo mas usado por TEC... yo pense que era amaillo pero en realidad... si ellos queren el azul, podemos usar esto.

Creo que usted sabe mejor que yo. Deberia que ser amarillo? or Azul?

si es amarillo serie super bueno si nos podriamos ayudar con esto 😅

[2022-05-24 07:16] melodysongq commented on #668
@Cotabe @ahmadabugosh @clara-zi I wonder if the email is too "designed" and does not feel personal.  Since the PDF is quite designed already, I would love to see a simple email in a letter format just like when we send an email to friends.  This way, people don't feel that they are just part of a promotion but a more "personal" request from the platform and donors and it become a little more meani

[2022-05-24 08:34] clara-zi commented on #668
@Cotabe Thanks for sending me a copy of the email.
I think "What has help you have a succesful fundraising?" should be "What has helped you have a successful fundraiser?" or "What has helped you to fundraise"?

@Cotabe no Connect Call today - strategy session is replacing it.

[2022-05-24 08:44] clara-zi commented on #668
To Melody's point - readers will know from the design that it's been sent as a mailshot or as part of a campaign. Will this affect someone's motivation to create and send a video? Maybe. Readers may be less likely to read and understand what we're asking - they may think it's a promotional email.
What I do like about the email is that:
- it summarises what we're expecting from the participant
- al

[2022-05-24 08:48] melodysongq commented on #668
@clara-zi in fact this subject has been studied to death with lots of email copies being tested.  The one with less picture and longer text in fact engage people better which results in better donation and higher donation amount.  However, the ones with fancier outlook will increase click-through rate but results in lower donation/action taken.   I wish we could do a control group and measure the

[2022-05-24 08:55] clara-zi commented on #668
"Feeling shy about a video, but wanna help? We get it, you can also reply in text..."

Does this make our request look a little one-sided - that it the video will be for our benefit only? What we are asking will also help the project with their promotion.

Could we say something like:
"Feeling shy about a video, but wanna share your story in writing or pictures? We'd love to hear all about it by e

[2022-05-24 10:53] danelsuga commented on #663
How's it looking @laurenluz ?

[2022-05-24 10:53] danelsuga commented on #563
Bear market has put this on hold.

[2022-05-24 10:53] #563 closed

[2022-05-24 16:00] ahmadabugosh commented on #661
@laurenluz obvious question I forgot to ask, who should I send this out to (which autopilot list)?
Should this go to all Donors, Projects, the Newsletter list, or all of the above?

[2022-05-24 16:24] rodricastillo9013 commented on #574
<img width="703" alt="banner" src="https://user-images.githubusercontent.com/61791380/170085130-83732f30-c701-4267-bfa0-8fa533847a6a.png">
algo asi esta bien @laurenluz

[2022-05-24 18:59] laurenluz commented on #661
Maybe we can restructure it to have a "for projects" & "for donors" part and send it to all?

I think we don't send out too many annoying emails and we worked hard on this. what do you think?

[2022-05-24 20:02] danelsuga commented on #661
I like that idea.

[2022-05-24 20:41] laurenluz commented on #659
https://docs.google.com/document/d/1bDp4FBCQ2nZRx2I9gZ5UT70-r3VcRyZL61buhz2q7QM/edit?usp=sharing

@ahmadabugosh @danelsuga if you guys could provide some feedback soon, would be awesome :) we're all ready to announce this

[2022-05-24 20:51] danelsuga commented on #659
Looking good! Isn’t it 70%?

[2022-05-24 20:53] laurenluz commented on #659
you know better than me!

[2022-05-24 20:54] danelsuga commented on #659
We'll confirm with @ahmadabugosh hopefully. I believe it's 7 out of 10 Q's correct.

[2022-05-24 21:02] laurenluz commented on #663
I think it's good! I also think that the "personal touch" for the individual projects we reach out to is important :)

[2022-05-24 21:19] laurenluz commented on #682
I tweaked the bio a little, and tried to add it to Twitter. at first it worked but then wouldn't update the bio changes... so I removed it and then readded... but it's still weird, not showing up on our page. Maybe it takes time?

[2022-05-24 21:42] laurenluz commented on #682
FYI @ahmadabugosh our Giveth branded colors are in the branding guide here: https://www.figma.com/file/bV3f7aLHK2pIs7tlzLGVgH/Giveth-Branding?node-id=986%3A1453

I changed them for the newsletter

[2022-05-24 21:50] laurenluz commented on #673
Should add to linkedIn & facebook when complete

[2022-05-24 21:50] laurenluz commented on #684
https://twitter.com/Givethio/status/1526956474433523715

[2022-05-24 21:50] #684 closed

[2022-05-24 21:51] #634 closed

[2022-05-24 21:51] #571 closed

[2022-05-24 21:52] laurenluz commented on #687
It would be amazing to send a message to each of these people - could use the draft template from gitcoin outreach & modifty for it

[2022-05-24 21:52] #674 closed

[2022-05-24 21:53] danelsuga commented on #687
Ok!

[2022-05-24 21:54] #355 closed

[2022-05-24 21:55] #536 closed

[2022-05-24 21:56] #594 closed

[2022-05-24 21:56] #581 closed

[2022-05-24 22:20] laurenluz commented on #682
oh boom it worked
![image](https://user-images.githubusercontent.com/75490971/170141496-e2131655-39b7-42d0-881a-528cdfb3a499.png)

[2022-05-24 22:47] laurenluz commented on #659
Griff is asking if we can make it 8/10 since it's multiple choice and we WANT people to watch the videos. 7/10 is pretty easy to get even without watching them at all.

[2022-05-24 22:48] danelsuga commented on #659
Good idea.

[2022-05-24 23:07] laurenluz commented on #673
https://twitter.com/Givethio

Transforming the way we fund public goods | P2P | Zero Fees | Donor Rewards | Regenerative Crypto Economics | Decentralizing Charity | DAO

![image](https://user-images.githubusercontent.com/75490971/170146144-bc6e055c-09e3-4bf2-b11a-f4403a513ac5.png)

[2022-05-24 23:10] laurenluz opened #689 "Modify Twitter Banner for Facebook & LinkedIn"
@rodricastillo9013

me puede ayudar a cambiar el tamano de este:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ce96a5ea-6c7c-45ed-8894-cf35b655d654)

para que funciona bien por el banner de facebook & linkedin?

[2022-05-24 23:15] laurenluz opened #690 "Zapier cross posting"
@ahmadabugosh I noticed that the FB also cross posts our RTs... is it possible to stop that? so it just cross posts our published tweets?

[2022-05-24 23:15] laurenluz commented on #690
it's also posting our comments 🤦

[2022-05-24 23:15] laurenluz commented on #690
https://www.facebook.com/givethio/

[2022-05-25 11:44] rodricastillo9013 commented on #689
yes, of course :)

[2022-05-25 12:57] rodricastillo9013 commented on #689
<img width="1584" alt="Linkedin" src="https://user-images.githubusercontent.com/61791380/170267305-7d3a73db-b965-4c89-a914-c27353bb5253.png">
<img width="820" alt="Facebook" src="https://user-images.githubusercontent.com/61791380/170267323-ba718d88-46ce-4249-96a1-f8944e70f8cb.png">
Done! @laurenluz

[2022-05-25 12:59] rodricastillo9013 commented on #689
<img width="1584" alt="Linkedin" src="https://user-images.githubusercontent.com/61791380/170267644-5c10f849-e852-4ba3-9c11-6c4709ab9adc.png">

Linkedin

[2022-05-25 14:25] clara-zi opened #691 "Tokenlog - how to use"

[2022-05-25 14:26] clara-zi opened #692 "How to use Tokenlog"

[2022-05-25 14:28] clara-zi opened #693 "Automated email to projects to remind them to send tax receipt"
Donors to registered charity/non-profits could be eligible for tax reductions (as well as GIVbacks) to verified projects. This tax saving can be significant. This issue is to investigate if this is important to donors on Giveth. If so, can we send them an automated reminder email after they have donated to contact the project to ask the project to issue a receipt for tax purposes?

[2022-05-25 14:32] clara-zi opened #694 "Reach out to Luke Flegg from Extinction Rebellion"

[2022-05-25 14:37] clara-zi opened #695 "Outreach to networks related to our niche(s); also see #687 #622"
Grassroots Foundation
Guerilla Foundation
Streetfootballworld Network
Ecovillage Networks
Kiva (Microloans)
Elinor Network
Edge Funders

[2022-05-25 14:40] clara-zi commented on #691
"It would be really cool to use github for submitting projects and Tokenlog with the GIV token for prioritizing them adds utility to GIV tokens" @GriffGreen

[2022-05-25 14:41] rainerhoell opened #696 "Schedule a followup Strategy Session on Impact"

[2022-05-25 14:51] clara-zi opened #697 "Community thread on Discord for discussing favourite projects"
It would be really cool to create a Discord channel where community members can talk about the projects they support, like and donate to.
@WhyldWanderer wdyt

[2022-05-25 14:56] #692 closed

[2022-05-25 14:59] Tosinolawale commented on #615
No. It is an old Issue. I should close it now.

[2022-05-25 16:28] Elizardwizzard commented on #676
https://www.youtube.com/watch?v=w08lE-SOFzg
Hey! Im thinking of doing something like this? wdyt? @laurenluz

[2022-05-25 17:29] laurenluz commented on #686
Keep an eye on this vote: https://snapshot.org/#/gitcoindao.eth/proposal/0xf8a7f4c5c6f894046555d608d5508ab04ae608670c135b27869c184c3c325236

[2022-05-25 18:44] markoprljic commented on #650
Trying to change tickets to come 3rd July.

[2022-05-25 18:45] markoprljic commented on #574
I don't understand Spanish, sorry :(

[2022-05-25 18:46] SymSL opened #698 "Giveth Website Marketing Suggestions"
Hello!

This issue is for idea sharing on how to improve the Giveth website to make sure that when people land there, they either

- Successfully become a donor
- Successfully create a project
- Join our community
- Other (feel free to add)

Here is a Doc with a few UX suggestions so far, please add more/comment. Once we have a final list of changes we can submit the changes :) https://docs.google

[2022-05-25 18:46] markoprljic commented on #574
Yes we use this one, and solid yellow as well.
All branding assets can be found here https://github.com/CommonsBuild/tec-branding-assets

[2022-05-25 18:52] danelsuga commented on #574
Thaaaaaaanks @markoprljic !

[2022-05-25 21:08] laurenluz commented on #683
look great Ahmad! left comments/suggestions

[2022-05-25 21:10] laurenluz commented on #574
Thanks everyone!

[2022-05-26 07:00] danelsuga commented on #574
So @laurenluz I have the multi-colored one, but the background is white. Same for yellow. Do we want it black? The multi-colored one with the black background is something I pulled off the web, so it's so res and tiny.
![TEC Logo Full Color](https://user-images.githubusercontent.com/81351744/170435263-1277bf7b-58b3-4720-bb5b-8b4820dbd964.png)
![TEC Logo Full Dark](https://user-images.githubusercon

[2022-05-26 07:39] danelsuga commented on #622
Hi gang! Per comms call yesterday and Lauren's suggestion, I would LOVE if this could turn into a teamwork project and also include Connect.

Here is the doc:
https://docs.google.com/spreadsheets/d/1NeH9TeBaI2XSE3U9_T_cr6DmXTqbU7sV6kZE5rsfS6o/edit#gid=0

I'm going through all roughly 1000 Gitcoin grants (filtered by a-z) and just dropping in their name and twitter.

At first I was filling it out m

[2022-05-26 07:42] danelsuga commented on #687
The next step for this issue is to do the outreach. No message has been drafted yet.

@laurenluz
@ahmadabugosh
@Cotabe
@rainerhoell
@clara-zi
@melodysongq

[2022-05-26 08:13] melodysongq commented on #622
Thanks Suga forr including the Connect WG input.  My suggestion is to qualify this lists with some more thoughts, especially around impact, sustainability and regerative nature of the project mission (some seems one off - like an event).  This is really going to the curation process that @rainerhoell is leading to put together.   The Connect WG is happy to draft the messaging for further revision.

[2022-05-26 08:16] danelsuga commented on #622
Thanks @melodysongq !

Yes, I did have a lot more info in the doc originally as you can see, but in the interest of outreach, it seemed better to move more quickly and eventually allow the rest to follow later, as all that information can then be regarded when the outreach itself happens, since that will require more personalization anyway.

I was just trying to get through that giant list with at

[2022-05-26 08:30] melodysongq commented on #622
@danelsuga  I wonder if Giveth can convince Gitcoin as an institution donor to use the platform exclusively for Gitcoin grant donations.  This is potentially good for them with Giv backs?  Then the projects will need to all sign up (the process can be explained as a simple few minute set up especially for the DAOs) to receive grant with a certain date (even the ones who are not nonprofit,  they wi

[2022-05-26 09:53] clara-zi commented on #693
@melodysongq would you like to take this one?

[2022-05-26 09:57] melodysongq commented on #693
Sure

[2022-05-26 13:48] clara-zi commented on #691
@Cotabe I think this functionality is also covered in Dework from your demo yesterday - being able to vote on the priority of projects/tasks.
@WhyldWanderer

[2022-05-26 13:53] clara-zi commented on #691
@rainerhoell identifies support for project and prioritises...useful for what you're working on? wdyt?

[2022-05-26 16:07] laurenluz commented on #622
@melodysongq what do you mean "use the platform exclusively for Gitcoin grant donations"? Gitcoin has it's own processes, quadratic funding, grant rounds, sybil protection. They do funding rounds once every quarter (I think)... I don't think trying to convince them to abandon their own project & donate to the same projects on giveth makes sense.

The purpose of this outreach (if you check out the

[2022-05-26 18:00] Cotabe commented on #691
Hey @clara-zi thanks for bringing this up. Here is a forum proposing using Dework to submit project/ideas and upvote them. https://forum.giveth.io/t/should-we-pilot-using-dework/648

The positive: the platform has community suggestions and a bounties dashboard. Having both things in one place could help builders grab ideas from community suggestions even before they are passed to the bounties dash

[2022-05-26 18:19] Cotabe commented on #622
I will pitch in in this issues one or two hours a week :)

But I think I want to start with the Common Prize since it's fresher

[2022-05-26 18:21] rodricastillo9013 commented on #574
yes!
<img width="703" alt="TEC" src="https://user-images.githubusercontent.com/61791380/170551556-e2b5e3dc-3b25-4660-913c-a59c50f45070.png">

Done

[2022-05-26 18:57] danelsuga commented on #622
Yes @Cotabe !

[2022-05-26 18:58] danelsuga commented on #574
Woohoo! Gracias!

[2022-05-26 18:58] Cotabe commented on #687
Ok, there are 35 out of which one has withdrawn. I can outreach to all of these.

@laurenluz @ahmadabugosh @danelsuga @rainerhoell @clara-zi @melodysongq and @SymSL  can help on the Gitcoin ones. But I would greatly appreciate feedback on the messaging:

Hey [Name], this is Cotabe from Giveth. I saw that you participated for the Commons Stack Prize with [Project name]. I love/like how [project nam

[2022-05-26 19:10] ahmadabugosh commented on #661
Hey @laurenluz @danelsuga , I changed the wording: https://docs.google.com/document/d/1x_yzU3TXqw1EwrzyGn-PwOUHShCj12WpbH8mnPcKey4/edit. Let me know if you have any comments.

 Ideally, I'd want to send this one out in the next day or two (before the weekend), then I'll push the main newlsetter out to early next week (since by then hopefully we'll fix the typeform issue).

[2022-05-26 19:31] danelsuga commented on #661
Looking good! I might change this sentence around from negative to positive:

This course is predominantly aimed at donors, so if you’re a project, we recommend you share it with your audience as well (retweet us, to encourage your community to support your project)!

[2022-05-26 19:51] melodysongq commented on #622
@laurenluz thanks for the explaination, I have no idea of the Gitcoin process just a suggestion which can be used on other institution donors if they don't have a process and just want to give.

[2022-05-26 20:01] laurenluz commented on #661
it's great, I made small suggestions. +1 to Suga's comment.

[2022-05-26 20:58] #659 closed

[2022-05-26 22:18] laurenluz commented on #687
That's awesome @Cotabe !! Thanks so much for taking this on!! Here's the tweet thread I sent out about it FYI: https://twitter.com/Givethio/status/1528772099791372288

One thing I would change... "straight to your project's wallet. After adding your project you can apply to get verified by filling out a typeform and proving you are providing public good. Once verified, your donors will be rewarded

[2022-05-26 22:27] danelsuga commented on #687
Yeah, thanks, Cotabe! I’d like to add some tiny edits if you don’t mind. (I’ve also incorporated Lauren’s.)

Hi [Name], this is Cotabe from Giveth. I saw that you participated for the Commons Stack Prize with [Project name]. I love/like how [project name] [project feature] (something authentic, of course).

I wanted to encourage you to create a project on Giveth. Setup is very fast, so you could b

[2022-05-26 22:47] Cotabe commented on #687
Love the suggestions. It turned out a bit long for a first outreach. I would suggest to do an A/B testing with something shorter that might link to why giveth video. Something like:

Hi [Name], this is Cotabe from Giveth. I saw that you participated for the Commons Stack Prize with [Project name]. I love/like how [project name] [project feature] (something authentic, of course).

I wanted to encou

[2022-05-27 10:04] ahmadabugosh opened #699 "Move Donor Course Quiz to Google Forms"

[2022-05-27 10:06] ahmadabugosh commented on #699
Hey @laurenluz @danelsuga @WhyldWanderer, we're still getting spam POAP farmers filling the typeform (even after moving it to another account and adding a captcha, which I changed multiple time, they must have some kind of script)!

I moved the quiz over to Google forms instead, which although it's not as flashy, it's free, has built-in spam protection and doesn't have a response limit. I also add

[2022-05-27 10:09] danelsuga commented on #699
Oh no! 😭 Terrible but well done.

[2022-05-27 10:10] ahmadabugosh commented on #669
Hey @geleeroyale I'm closing this for now, but please add it to the backlog and let us know if you come up with a solution 🙏

[2022-05-27 10:23] danelsuga commented on #699
Fixed two quiz links on Medium article.

[2022-05-27 13:10] ahmadabugosh commented on #661
Sent!

[2022-05-27 13:10] #661 closed

[2022-05-27 15:29] laurenluz commented on #699
Looks good, thanks @ahmadabugosh & @danelsuga

[2022-05-27 15:47] Cotabe commented on #668
I like the ideo of having a control group. Unfortunately, even with our full targeted audience it would be statistically significative. But I think having an A/B test would be great, because this is very contended and I think we are using a lot of time based on perspectives. I will apply all the feedback here and send you two emails: A. More personal, text oriented and without the link. B. Still p

[2022-05-27 16:28] clara-zi commented on #664
also includes ideas for social messaging. Would be nice to brainstorm more.

[2022-05-28 15:26] clara-zi opened #700 "Communitas"
Tasks, process and allocation, messaging, test server, engagement, user-groups, content etc

[2022-05-28 16:09] clara-zi commented on #700
@WhyldWanderer I've given some more thought to 'personas' / user-groups - it was a good place to start as this defines teh community. I've added all updates in the original 'whimsical' - here's .pdf version.

[user groups.pdf](https://github.com/Giveth/giveth-planning/files/8791432/user.groups.pdf)

[2022-05-28 16:22] clara-zi commented on #700
Observations, ideas and suggestions:

Personas: user-group segmentation
-	Messaging and content: a cross-over with the work of a comms team – definition of task / role of this working group needed to avoid risk of duplication / redundancy of outputs

-	Should we consider dividing our Discord, Twitter, Socials into the 4 / 5 persona segments:
Ie a) projects channel / #givethprojects; b) donors chan

[2022-05-28 17:52] clara-zi commented on #700
linked to issue Giveth/giveth-planning#534
[Define Community Circle Routines]
(https://github.com/giveth/giveth-planning/issues/534)

[2022-05-28 18:07] clara-zi commented on #700
Orbit: data doesn't seem complete: ie I don't think it contains all users and each of their social profiles: how do we update these? Where does the userid data come from? @WhyldWanderer

[2022-05-28 19:04] clara-zi commented on #700
Should we consider creating areas for our different user-groups: ie donors, projects, contributors, builders, defi stakers that way we can post content, share ideas and provide support specific to those user-groups. Maybe we should brainstorm content for each and where there might be cross-over.

Current server is structured around members who contribute with some areas for onboarding, support, fu

[2022-05-30 08:04] danelsuga commented on #574
@laurenluz This article has been submitted to Giveth on Medium. I suggest we publish it after the winner of the Commons Prize is announced (should be this week?), so that we can include that.

[2022-05-30 08:06] #636 closed

[2022-05-30 08:08] danelsuga commented on #660
Live
https://medium.com/giveth/the-abcs-of-donating-on-giveth-6e3bd147397e

[2022-05-30 08:08] #660 closed

[2022-05-30 08:11] danelsuga opened #701 "Fix pinned messages on Giveth Medium"
The pinned messages on Giveth's Medium are ancient history and are likely blocking readers from seeing the latest news (which, weirdly, is always at the bottom unless pinned).

Could I please have Medium access so I can fix that? Or could you just fix it @laurenluz ? Might be better if you let me take it off your plate however.

[2022-05-30 08:16] ahmadabugosh commented on #701
Yes, I agree! Also, I think we should revisit the categories we have, and clean up the Medium a bit. @SymSL are you still up to take on [that issue](https://github.com/Giveth/giveth-planning/issues/460)?

[2022-05-30 10:00] danelsuga commented on #686
The vote has ended and is favor of the following option:

FOR GR14 Structure & FOR New Eligibility

You approve the GR14 structure as is, and are in favour of us removing the "no token" eligibility requirement.

---
I just want to confirm that this means that DAOs/projects WITH tokens may pursue grants?

[2022-05-30 13:27] clara-zi commented on #622
@danelsuga just want to double-check on what needs doing: "Give yourself a letter or two or three or four of the alphabet, and chip away! The goal is to gather the projects that are really working in the nonprof, non-tech meatspace". Do you need help to complete the list with contacts and other data or help to start firing out messages (by email or other)? (I can do either).

[2022-05-30 14:09] laurenluz commented on #686
yeah it sounds like they mean that DAOs may pursue grants

[2022-05-30 14:16] laurenluz commented on #574
Perfect!

[2022-05-30 19:26] laurenluz commented on #701
Hey @danelsuga! I updated the Medium - thanks for the reminder, I neglected it for a bit too long. I try to keep the posts at the top like "most relevant to the Giveth overall mission" and then have other key articles down on the page as well.

Anyway, happy to discuss a little more & give you access if you want to maintain it.

+1 on revisitng the categories

[2022-05-30 19:43] laurenluz commented on #622
Yeah! 100% agree. We don't have to get ALL the projects, but getting some would be awesome so I think the sooner we start the active reaching out the better.

You wonderful people can decide the best platform for outreach... I would probably try discord or telegram if you could first, and then email if not.

[2022-05-30 21:36] divine-comedian opened #702 "Update Snapshot Strategies"
Add in new strategy for GIV/DAI Univ2 Balances on Mainnet

https://snapshot.org/#/giv.eth/settings

[2022-05-30 21:46] laurenluz commented on #676
I love this idea @Elizardwizzard !!

We would need someone to work on a script. Maybe this is something @c0ric0ri might be interested in supporting!

[2022-05-30 22:52] laurenluz commented on #698
Hey @SymSL!! Awesome issues... I think many of them can be created already for the devs, I left comments on which, as well as who to tag for additional advice/comments in those issues.

Some others I think we can discuss a bit more in the doc before sending them to the devs :)

[2022-05-31 11:54] danelsuga commented on #701
Yay! Thanks @laurenluz !

[2022-05-31 12:31] danelsuga commented on #622
#663

[2022-05-31 15:37] danelsuga commented on #622
@ahmadabugosh is checking out if he can pull the whole list through an API all at once! Stand by!

[2022-05-31 15:49] laurenluz opened #703 "Allow GIV holders to vote on which projects we help onboarding - tokenlog & typeform"
The purpose of this issue to create a means for GIV token holders to vote on which projects we actively help onboard. The steps:
- [x] setup tokenlog for voting
- [x] setup typeform for people to nominate projects (will create github issues automatically)
- [ ] get people to vote!

I will investigate what's required for tokenlog.
@WhyldWanderer can help setup that typeform to create github issues.

[2022-05-31 17:08] Cotabe commented on #703
Just tried out a few Tokenlogs of other teams. There is a button to create a new issue directly on Github, but the issue is not reflected immediately on Tokenlog, I'm not sure if it's configured that way or what's happening.

Therefore even if we use a typeform as a different UX/UI than using the tokenlog interface and go straight to Github. I would like to know if those issues will immediately be

[2022-05-31 18:17] c0ric0ri commented on #676
@Elizardwizzard let's connect on this!

[2022-05-31 18:57] laurenluz opened #704 "DAO of the week for Gnosis Chain newsletter"
DAOhaus has been tasked with providing a DAO of the Week for the gnosis chain newsletter & they want to feature Giveth! It’s a quick 100 words, so very succinct. We should try to convey what is most important to Giveth and also note where Gnosis and DAOhaus is used.

We use gardens & aragon on gnosis chain, we facilitate donations on gnosis chain... incentivize GIV staking on gnosis for voting in

[2022-05-31 22:39] laurenluz commented on #686
ahh, Suga, they voted AGAINST new eligibility... so:

There is apparently someway we can/should appeal our removal from it. If you could, it would be great to find the application to appeal disqualification.

[2022-06-01 02:37] laurenluz commented on #691
tokenlog is being setup in #703 - can we close this issue?

[2022-06-01 02:40] laurenluz commented on #693
It is not within the scope of Giveth to advise/support with tax receipts. please provide future context as to the thinking here before actually proceeding to draft an email.

[2022-06-01 02:43] #638 closed

[2022-06-01 02:44] laurenluz commented on #614
Hey @Tosinolawale - is this completed? can we close the issue?

[2022-06-01 02:48] laurenluz commented on #624
https://twitter.com/Givethio/status/1521877035358068737

[2022-06-01 02:48] #624 closed

[2022-06-01 02:48] #673 closed

[2022-06-01 02:48] #682 closed

[2022-06-01 02:49] laurenluz commented on #683
@ahmadabugosh are we still going to try to put these up in our docs?

[2022-06-01 02:50] #701 closed

[2022-06-01 02:50] #699 closed

[2022-06-01 02:50] laurenluz commented on #658
Do we have any process to remember to send these out every x weeks? Is that just on your plate @ahmadabugosh ?

[2022-06-01 02:51] laurenluz commented on #583
Are we calling this good now? or updating with advice from gravity pros?

[2022-06-01 02:51] #663 closed

[2022-06-01 02:52] laurenluz commented on #622
The draft outreach email is here: https://docs.google.com/document/d/1OG1kyB9reY_B1A5BuKw3Gdt0Bz7z5HA0Cz_ljK6U8ZY/edit

We're getting all the data though an API, right? not mass emailing? or?

[2022-06-01 02:53] laurenluz commented on #687
The draft message for gitcoin projects is here: https://docs.google.com/document/d/1OG1kyB9reY_B1A5BuKw3Gdt0Bz7z5HA0Cz_ljK6U8ZY/edit

migth be helpful for this issue

[2022-06-01 09:14] Tosinolawale commented on #614
Yes it is. I will close the issue now.

[2022-06-01 11:27] ahmadabugosh commented on #622
hey @danelsuga @Cotabe I managed extracted the top 1,000 projects and their twitter handles here (in the "Extract" tab):  https://docs.google.com/spreadsheets/d/1NeH9TeBaI2XSE3U9_T_cr6DmXTqbU7sV6kZE5rsfS6o/edit#gid=1538045452

[2022-06-01 11:49] danelsuga commented on #622
AMAZING!! I knew you would do it! No less amazing however. :) Thank you!

[2022-06-01 13:07] divine-comedian commented on #583
have not heard back from gravity, will ping

[2022-06-01 14:53] danelsuga commented on #686
Very sorry about that mix up.

[2022-06-01 16:38] ahmadabugosh commented on #622
hey @danelsuga, after around 1,000 the total amount raised was less than $300, and it was taking a while to pull the data because I kept getting blocked for doing so many requests.

I can still pull them if you think it's useful though, let me know!

[2022-06-01 16:40] danelsuga commented on #622
Gotcha! No, this is probably good for now! Amazing. What do you think @laurenluz?

[2022-06-01 16:46] ahmadabugosh opened #705 "Change Newsletter Link on Docs"

[2022-06-01 16:49] ahmadabugosh commented on #683
[Made an issue about this ](https://github.com/Giveth/giveth-planning/issues/705)

[2022-06-01 16:49] #683 closed

[2022-06-01 17:29] laurenluz commented on #658
Ahmad can put out the poaps w/ the GIVbacks
Really powerful to use GIVback rounds as out time marker for everything

[2022-06-01 17:36] laurenluz commented on #686
I think we might be ok even if we don't apply for anything. let's just draft updates and send 'er!

[2022-06-01 17:36] #485 closed

[2022-06-01 17:42] laurenluz commented on #623
Hey @melodysongq would you be interested in supporting this? We would love to do some research on how are these big donors?

Might be an opportunity at ETH barelona to talk to people in person.

@cotabe is interested in supporting as well.

[2022-06-01 17:46] #608 closed

[2022-06-01 17:53] ahmadabugosh commented on #690
Closing this and disconnecting it

[2022-06-01 17:53] #690 closed

[2022-06-01 17:54] #506 closed

[2022-06-01 17:56] #681 closed

[2022-06-01 18:00] #476 closed

[2022-06-01 18:39] laurenluz commented on #588
wait they should get the journey if they are *listed* not *verified*. that's a typo, right?

[2022-06-01 20:18] Cotabe commented on #588
Yes, sorry... Listed

[2022-06-01 20:19] #588 closed

[2022-06-01 21:34] Cotabe opened #706 "Include "Working with giveth as an external collaborator" in the documentation"
The draft is here https://docs.google.com/document/d/13f2VYF3ikKv36fqLFJA-YfpZUf2UJL7J-TNm9E2uGjU/edit

It has been reviewed by Ashley, Lauren and MoeNick.

The tone is laid back in general.

There are a few things that are in there that have not yet been implemented like the builders discord channel and the Dework dashboard. I think both of these things will be piloted soon, so IMO it makes sense

[2022-06-01 21:35] Cotabe commented on #706
@danelsuga always helpful to have your input.

[2022-06-02 12:46] danelsuga commented on #706
Gave it a pass!
Great work, @Cotabe.

[2022-06-02 13:09] WhyldWanderer commented on #703
I'm ready to start the typeform part of this...

I would love to have some clearer information or drafts of questions that we want on this form..
@rainerhoell .. do you have any questions in mind for this typeform? What is the information we are asking people to provide about their nominations?

I imagine our repo will end up looking something like this: https://github.com/commons-stack/commonspri

[2022-06-02 13:54] scottbenjd commented on #607
Passed and check the link. Looks like the changes went through and the link is working!

[2022-06-02 13:54] #607 closed, assigned to scottbenjd

[2022-06-02 14:40] laurenluz commented on #676
@c0ric0ri here's the GIVbacks documentation: https://docs.giveth.io/giveconomy/givbacks/#getting-givbacks

[2022-06-02 16:15] laurenluz opened #707 "Stanford Social Innovation Article"
https://ssir.org/
https://ssir.org/articles/entry/artificial_intelligence_as_a_force_for_good#

[2022-06-02 19:31] laurenluz commented on #703
We used gGIV as the voting token. So people need to stake their GIV to vote :)

[2022-06-02 20:40] #705 closed, assigned to divine-comedian

[2022-06-02 22:13] laurenluz commented on #655
The idea is to create something similar to [this summary](https://twitter.com/Givethio/status/1521877035358068737) that I made for [Griff's commons stack talk](https://www.youtube.com/watch?v=cTMUh__9cWs)

Here are [Griff's slides](https://docs.google.com/presentation/d/1k6i-kGWsdzK_xLCOyLFG17ZWj-OJo9DjSMOUwtyjbfE/edit#slide=id.g11544a88a83_1_66), which could be used for screenshots.

@c0ric0ri wo

[2022-06-03 12:12] danelsuga commented on #686
This is prob too much stuff (and super super rough draft) but wanted to hopefully get your eyes on the ideas before the weekend @laurenluz.
Thank you.

https://docs.google.com/document/d/15AwNMSuym4_cvGe8n-aUD8GMr3zzrllR30EnxklVrxo/edit

[2022-06-03 13:52] ahmadabugosh opened #708 "Email Autopilot list to subscribe on Revue / check spam"

[2022-06-03 15:21] clara-zi commented on #697
From Test Server Chat - thought it useful to track in here.

Cotabe — 05/27/2022
There have been suggestions to add a chat to discuss why you like some projects as a giver
Could it be restricted to makers to avoid chilling ?
WhyldWanderer — 06/01/2022
Hmm interesting
Since the Giver role is self assignes, anyone could give themselves that role and join the chat
but if they havent given themselves

[2022-06-03 17:15] laurenluz commented on #686
Hey Suga! I left comments/suggestions. I agree on it being too much stuff :) left my suggestions for things to remove. Otherwsie, I think it's great and if you clean it up a little, we're good to go.

Did you write one for TRACE?

[2022-06-03 17:16] laurenluz commented on #686
@danelsuga

[2022-06-03 17:34] clara-zi commented on #700
Does Giveth have an inventory of all its resources, guides etc?

[2022-06-03 17:41] danelsuga commented on #686
Thanks!! It's super draft-y!

No trace yet. Prob can't get to it over weekend. But no worries. Will do asap.

[2022-06-03 17:53] laurenluz commented on #686
awesome!!

[2022-06-03 18:00] clara-zi commented on #668
I don't think these emails have been sent yet.
This issue needs final decision on content of outreach email. It would be really good to get these sent and get some success story vids @melodysongq @Cotabe @ahmadabugosh

[2022-06-03 18:09] clara-zi commented on #668
@cotabe @ahmadabugosh @melodysongq please check the tip sheet document that Design made, as I think it was more along the lines of A B C. (I only have the draft doc). I think we should keep the email text consistent with the attachment we are sending. wdyt?

Agree that we should remove IG and FB until there are more active.

[2022-06-03 23:37] ahmadabugosh opened #709 "Add video to donor course on bridging funds (in more detail)"

[2022-06-04 10:23] clara-zi opened #710 "Active Facebook & LinkedIn"

[2022-06-04 10:24] clara-zi commented on #710
@laurenluz parking this here to start discussion.

[2022-06-04 10:49] clara-zi commented on #664
Soundbites for social media in Section 7. Ideas for any more? @danelsuga @SymSL @laurenluz @ahmadabugosh

[2022-06-05 08:29] clara-zi commented on #665
Thanks for all the info @WhyldWanderer.
Torus problem sorted out and now verified.

Project owner created a MetaMask account but found it too complicated to connect to their Giveth account and so will continue with Torus.

I am recommending to reapply for verification @melodysongq

[2022-06-05 11:32] rainerhoell commented on #694
Reached out, waiting for response.

[2022-06-05 11:55] rainerhoell commented on #703
Thanks for the links. Commons Prize are self-nominations, so nominators have a lot of information on the projects (and motivation to provide it). As we are asking donors/GIV holders (and as we don't intend to run this as a full-blown award process), I would keep it a lot more simple. If donors are really keen to see the project on the platform, they will write more. If not or if they have very lit

[2022-06-05 14:15] rainerhoell commented on #695
Reached out to all of them except Kiva.

[2022-06-06 08:17] melodysongq commented on #668
@Cotabe @clara-zi I wonder if you can share the email draft link here. I can't find it.  Thinking from the project's point of view, a video should: 1) help them promote their cause - so they should definitely say in the video what they do; 2) give tips to others or provide support/confidence about using the Giveth platform... so it's D?   Oki mentioned that video lenghth really depends on the plat

[2022-06-06 08:47] melodysongq commented on #623
@laurenluz definitely.  Would love to do a proper research.  @Cotabe would love to put a plan together and maybe schedule meeting already as pre Eth.

[2022-06-06 09:02] melodysongq commented on #693
@laurenluz  Giveth should not provide tax receipts.

However, if the donor is in the US or Canada, they should be informed that they are entitled to a tax receipt from the registered charity (if the project is registered) they donate to even on Giveth.

They should pursuit that by contacting the project themselves if they are interested to take advantage (in addition to the Giv backs - this doesn'

[2022-06-06 09:26] clara-zi commented on #668
@melodysongq could you please share a copy of the tip sheet created by Design team?

[2022-06-06 09:41] melodysongq commented on #668
@clara-zi I think it's this one that's shared in this string, or has it changed? https://docs.google.com/document/d/1cbzPr6eU7wY32Zq-ShPZ1w0JEIXjwOzMdxJmU0hnsDE/edit
I don't have the email though as I only received a test email but can't find a link to a document.  Do you have?

[2022-06-06 09:43] ahmadabugosh commented on #623
hey @melodysongq, @Cotabe can you hand this off to Jake (I see you already connected over Discord)? Since his role is focused exclusively on donor activation, I think this would be a great task for him

[2022-06-06 09:45] melodysongq commented on #623
@ahmadabugosh sure.  Happy to support if Jake needs Donor Empathy Mapping/Personas Creation as well as major donor strategy support as this is in fact my day job.

[2022-06-06 10:03] ahmadabugosh commented on #623
@melodysongq Awesome! I see you have a call already planned, feel free to jump in and take over wherever you think makes sense.  🙌 Just know he's a resource that's here to support you

[2022-06-06 12:50] clara-zi commented on #665
Project owner will reapply for verification. I've invited for community spotlight.

[2022-06-06 14:11] laurenluz commented on #710
DM me your email for lastpass if that sounds good!

[2022-06-06 15:48] laurenluz commented on #710
sent you access

[2022-06-06 16:03] laurenluz commented on #655
oops, sorry, I linked the wrong slies: https://docs.google.com/presentation/d/1vpEwTjDTHz_S3iMZfqCEMjVEcOmK6NbJdue30PL3eHs/edit#slide=id.g115a6c4ca4d_0_412

[2022-06-06 21:41] rainerhoell opened #711 "Setup Typeform to allow anyone to nominate projects to go on Giveth"
Decided in the Connect Call on May 31.
@ahmadabugosh Should we wait until the version for donors is finished and the see how we can build on that?

[2022-06-06 23:38] laurenluz commented on #691
I'm going to close this issue, since we're moving forward with tokenlog & discussion in #703

[2022-06-06 23:38] #691 closed

[2022-06-06 23:40] laurenluz commented on #711
Ashley is working on this, discussion in #703 - closing this one to prevent redundancy

[2022-06-06 23:40] #711 closed

[2022-06-06 23:42] laurenluz commented on #651
@melodysongq did this get accepted?

[2022-06-06 23:43] laurenluz commented on #580
Do you stilll need tasks @markoprljic ? or can we close this?

[2022-06-06 23:47] laurenluz commented on #693
I think that sending an email to projects to ask them to create some kind of official donation receipt for their donors presents a lot of challenges.

A lot of projects wouldn't even know where to start with that.

What do you think @WhyldWanderer ? @GriffGreen ?

[2022-06-06 23:48] laurenluz commented on #706
I think the next step here might be to actually upload this to docs @Cotabe. Once you review/accept changes, find a place you think it would fit and then tag Mitch to get it up there.

[2022-06-07 00:38] Cotabe commented on #668
Sorry, last week I focus on other topics and left this in my backlog.

I just sent 2 versions of this mail to @ahmadabugosh @melodysongq & @clara-zi . The first from autopilot w/ design, the second from my email with simple text (more of a personal touch). We can discuss the feeling of both tomorrow.

I was thinking that we could just send the simple text from projects@giveth.io. However, we would

[2022-06-07 04:50] markoprljic commented on #580
You can close

[2022-06-07 04:51] markoprljic commented on #651
Wondering the same. I submitted my application but haven't heard back from them yet.

[2022-06-07 06:37] melodysongq commented on #651
@laurenluz @markoprljic  I have not heard back from them.  Do we know someone we can check what happened to the applications?

[2022-06-07 08:08] danelsuga commented on #686
Both grants are updated. Now they need to be included in the upcoming (June 8) active matching round.

For [TRACE](https://gitcoin.co/grants/2154/givethtrace), I added:
"To date, Giveth TRACE has facilitated $2 Million USD of donations for countless for-good projects and has spent $40k USD on gas fees in support of those projects."

[Giveth.io](
https://gitcoin.co/grants/795/givethio-panvala-leagu

[2022-06-07 08:09] danelsuga commented on #688
This is back in @GriffGreen's hands.

[2022-06-07 13:31] ahmadabugosh commented on #668
Looks good @Cotabe ! I like the simple text better myself.

I'm pretty sure you could keep the tracking on if you send it through Autopilot as a simple text email (and put the reply to as project@giveth.io)?

[2022-06-07 13:58] clara-zi commented on #691
Yeh. Thanks. I saw that myself and have been meaning to close.

[2022-06-07 14:25] clara-zi commented on #710
Thanks.
Well this is interesting - this password gave me access to a different giveth.io account, which doesn't have a lot going on:
https://www.facebook.com/profile.php?id=100079316710151

This appears to be the live one: https://www.facebook.com/givethio

Mysteriouser and mysteriouser. MMmm!

[2022-06-07 15:36] laurenluz opened #712 "ETH Barelona Booth design"
As a sponsor, we have a booth! They will print out signs but we need to tell them what they look like.

![image](https://user-images.githubusercontent.com/75490971/172421815-02241d01-2b66-493d-8dad-3ebf74b6fc24.png)

![image](https://user-images.githubusercontent.com/75490971/172421875-ec31f162-75ec-4ff0-bfc6-3a589bfc7760.png)

![image](https://user-images.githubusercontent.com/75490971/172421909-

[2022-06-07 15:36] laurenluz commented on #712
The deadline to send it is June 14

[2022-06-07 16:19] laurenluz commented on #686
- [ ] discord shill our gitcoin grants @WhyldWanderer @danelsuga to draft
- [ ] send email out to previous gitcoin donors via gitcoin @danelsuga

[2022-06-07 16:22] laurenluz opened #713 "Featured Projects Tweet Thread"

[2022-06-07 16:40] laurenluz commented on #576
create a project on staging.giveth.io
recieve the email
click the link and see if it goes to "my projects"

[2022-06-07 16:40] laurenluz commented on #689
@WhyldWanderer to update linkedin

[2022-06-07 16:44] laurenluz commented on #695
context from comms calls:
- some are donor platforms supporting community based donor groups
- some specialized projects groups

[2022-06-07 16:49] laurenluz commented on #623
@WhyldWanderer please add Jake to the assignees :)

[2022-06-07 16:49] laurenluz commented on #687
Hey @Cotabe ! did you manage to do any outreach?

[2022-06-07 17:02] laurenluz commented on #693
as per comms call:
- in our terms of use, it explicitly states that we do not facilitate tax reciepts
- could add to create a project flow "if you are a registered 501c3, reminder to provide tax receipts to donors. - @WhyldWanderer

both donors & projects could get in trouble for requesting receipt because they recieve something for their donation - @rainerhoell

it's a huge benefit for donors to

[2022-06-07 17:06] NikolaCreatrix commented on #713
Yes! Thank you again, I'm excited for this one! Happy to get inspired from previous posts ;)

[2022-06-07 20:07] laurenluz commented on #713
Thanks for taking this on @NikolaCreatrix !

Here are some examples:

https://twitter.com/Givethio/status/1484178959797424130

https://twitter.com/Givethio/status/1486364927816343556

https://twitter.com/Givethio/status/1491411523796824066

[2022-06-08 00:33] #580 closed

[2022-06-08 00:35] laurenluz commented on #651
I sent a message to Almond... Michaela is also the one organizing talks, it might be useful to message her: https://twitter.com/micaela_31416

[2022-06-08 03:38] Cotabe commented on #687
Outreach update:

Grassroots Economics - Already @ Giveth!!

Gravity DAO
 - @BellCho
: Can't DM on twitter

Precious plastic commons
 - jaklatt#2299 @jaklatt: Can't DM on twitter. Not many twits to engage.

The AI Commons / Algovera - ygg_anderson#4998 and richardblythman and Algovera.ai#3425 @ygg_anderson and @richardblythman: Sent FR on Discord. Engaged in a public twit. Also engaged in a common

[2022-06-08 09:04] danelsuga commented on #686
previous shill doc (from old issue #396) https://docs.google.com/document/d/1gZFQ8qXBOpPwwn0u78th0_BnwfR-rQT_MnO5CTa4QYM/edit

[2022-06-08 09:22] danelsuga commented on #686
I modified @WhyldWanderer's old shill a bit. (Is the Panvala matching still valid?)

Dear donors,

Welcome to Gitcoin GR14! As you know, with Gitcoin’s matching pool, even the smallest donation can make a huge difference for funding open-source projects.

During this round, I want to draw your attention once again to the revolutionary donation platform :Giveth: **Giveth** is a community focused on

[2022-06-08 11:44] melodysongq commented on #651
I've reached out to Michaela. We'll see.  @laurenluz

[2022-06-08 16:00] geleeroyale opened #714 "Create Twitter Dev credentials and provide them to dev team"
We need some twitter dev credentials that should be provided to @mohammadranjbarz
https://developer.twitter.com/en/docs/authentication/oauth-2-0

Not sure who has access, would be great to use the official profile for production.

Whoever sets it up will need to be provided all these values:
<img width="329" alt="image" src="https://user-images.githubusercontent.com/317685/172663389-71098512-a9a0-

[2022-06-08 16:07] MoeNick commented on #714
@mohammadranjbarz would u pls provide the information for this form?

[2022-06-08 16:34] laurenluz commented on #686
Hey @danelsuga! I think it's way too long and with too many CTAs... I think we didn't have as much experience when it was drafted.

I would try to keep it simple, remove as much fluff as possible. Saying something along the lines of:

Please feel free to fix up/reword, I wrote that in just a few minutes based on your post :)

[2022-06-08 16:42] danelsuga commented on #686
Ok, thanks!

We can just use your update since it's simple and straight forward.

[2022-06-08 16:45] laurenluz commented on #651
I heard back from Almond and she said that Michaela said that all speakers for giveth were already covered, which she interprets as "there will be no more speakers confirmations".

she also apologized for their team not being more communicative on the applications.

[2022-06-08 16:48] laurenluz commented on #686
sounds good, maybe just fix up my grammar/spelling a bit

[2022-06-08 16:49] laurenluz commented on #687
you can get juanka on discord: Juankbell#7458

[2022-06-08 16:56] WhyldWanderer commented on #689
Oops @rodricastillo9013

The linkedin one is off - it gets cut off on the top and bottom:
![image](https://user-images.githubusercontent.com/74267818/172673496-c7dc4232-c0f4-4d06-9ed2-1721a134fe07.png)

It says that 1128 x 191px is recommended.

[2022-06-08 17:32] NikolaCreatrix commented on #713
Love it! Great inspiration, thanks @laurenluz ! So I would love to create the best consistency and flow. And I have several questions.:)

Do we want to create separate threads?
We can continue this format - 4 new verified projects every 2 weeks, right?
And then freshly listed and/or updated projects would get their separate post? And if so - shall we do once a week or 2 weeks?

When is the next ro

[2022-06-08 17:59] mohammadranjbarz commented on #714
@geleeroyale
I think we should have two applications for **staging** and **production** ENVs and just callback URL is important for me , feel free to fill other fields yourself
Callback URL  :
* **Staging** : https://serve.giveth.io/socialProfiles/callback/twitter
* **Production** https://serve.giveth.io/socialProfiles/callback/twitter

[2022-06-08 19:57] WhyldWanderer commented on #665
Since the issue has been resolved, can we close this one?
@clara-zi

[2022-06-08 20:27] clara-zi commented on #665
Ooh yeh

[2022-06-08 20:27] #665 closed

[2022-06-08 20:34] Cotabe commented on #687
I'm continuing the outreach. Unfortunately, DMs on Twitter are usually closed by default (or fortunately), the same on Discord.

So the best way that I've found to reach out is through public tweets.

I usually like or retweet a few tweets that I like. Then, I am being very selective in which tweets I engage, I don't chill directly, definitely not in behalf of Giveth. Here is an example:

"YES!! C

[2022-06-08 22:14] laurenluz commented on #713
I think it's kind of up to you how you want to swing it...

We could do one per week and alternate:
- one week we post newly verified projects (right when a new GIVbacks round begins)
- next week (mid-round) we post recently updated projects?

I think focusing the attention on verified projects is great because this extra publicity could be like an extra incentive to get verified, but I'm open to

[2022-06-08 22:50] laurenluz commented on #574
POSTED! So happy to close this issue. Thank you @danelsuga for all your hard work!!!!!

https://medium.com/giveth/the-hitchhikers-guide-to-the-giveth-galaxy-3e081d31f6c5

[2022-06-08 22:50] #574 closed

[2022-06-08 22:52] laurenluz opened #715 "Update giveth history"
@danelsuga wrote some great content in the original #574 that I think we should add to Giveth's history in the docs: https://docs.giveth.io/whatisgiveth/history/

@WhyldWanderer also suggested we add some spicy memes to jazz it up!

I think it's worthwhile going through Giveth history and making it a little cooler, more fun to read, more in depth.

[2022-06-08 23:32] laurenluz opened #716 "Write updates for Giveth project & Giveth maching pool project"

[2022-06-09 02:14] Cotabe commented on #687
Liberating Structures Commons - Jeremey&TheGospelofChange#8201 @gospelofchange: Already on Giveth since May. Have not raised though, could be good to invite him to a fundraising skills dev training.

Underground DAO - flaneur#6084 @jasoncremerius: Twitter inactive. FR on Discord

Food Forest Commons - DiogoJ#2058 @DiogoJo61288106
: Twitter doesn't exist. FR on Discord. Conversation started.

Fable

[2022-06-09 08:29] danelsuga commented on #715
Yeah!!

[2022-06-09 08:33] danelsuga commented on #574
Yes!! Thank you so much, Lauren!! Sooo much help. This one was almost like having a baby. Almost... (not at all actually but still...) 🤣

[2022-06-09 09:01] danelsuga commented on #686
Dear donor,

We're excited about Gitcoin GR14 and would love your support again for Giveth!

We are Building the Future of Giving, starting with a zero-fee donation platform where for-good projects can raise funds, and donors can actually get directly rewarded for donating. We have two active grants, one for each of our open-source dApps:

Giveth.io: https://gitcoin.co/grants/795/givethio-panvala-

[2022-06-09 09:16] melodysongq commented on #693
After a discussion with @clara-zi @rainerhoell,  we **r**ecommend not to provide**** any tax-receipt related content through Giveth communications as tax receipt laws and interpretations are different and could result in confusion despite of the intention to attract more donors to the platform.    If everyone agrees, we can close this issue.

[2022-06-09 12:29] danelsuga opened #717 "Remove/rename "Consume" list on giveth.io/join"
The word "Consume" heads the list of reading engagement tools on the Giveth join page (giveth.io/join). I think this word needs to be removed. For one, from an economics standpoint, it has terrible connotations that, I believe, are directly in conflict with the MVV of Giveth. For two, it doesn't really make sense. For three...

I alerted Mateo to it recently, who said he would remove it or replace

[2022-06-09 12:48] danelsuga commented on #509
Here is an updated comms onboarding guide.

https://docs.google.com/document/d/1pV-gD14E0rV_hlbOPB3JhJd2-6tIEFRIi8QQ6_25aI4/edit?usp=sharing

[2022-06-09 13:12] danelsuga commented on #686
@divine-comedian

[2022-06-09 14:23] NikolaCreatrix commented on #713
I like this alternating! Thanks for your support - I will have my draft ready by tmrw (Friday) latest.

[2022-06-09 14:57] rodricastillo9013 commented on #689
ok i fix this! thanks @WhyldWanderer

[2022-06-09 15:29] laurenluz commented on #687
AMAZING work Cotabe!

[2022-06-09 15:29] laurenluz commented on #574
hahahahahaa

[2022-06-09 22:29] laurenluz commented on #693
works for me!

[2022-06-09 22:29] #693 closed

[2022-06-10 11:24] clara-zi commented on #622
First thing I notice is that the links break when pasted into Twitter DM.

[2022-06-10 11:32] danelsuga commented on #622
😭but probably just needs to be put in markdown.

[2022-06-10 11:36] danelsuga commented on #622
Try now.

Or maybe I’m remembering you can’t do embedded links in Twitter actually…

[2022-06-10 13:23] ahmadabugosh commented on #622
Hey @clara-zi my personal recommendation is to keep the first message short on Twitter to gauge initial interest (when you're doing cold outreach). Maybe something like this:

Hi X,

Hope you're well! I noticed that you started raising funds on Gitcoin, and I thought your project mission aligns with what we're building at Giveth. We're a public goods fundraising platform that allows projects to ra

[2022-06-10 13:29] clara-zi commented on #622
Thanks @ahmadabugosh that's more in line with the kind of outreach I've done before through LinkedIn DM. Wdyt gang?

[2022-06-10 13:42] ahmadabugosh commented on #708
Hey @laurenluz @danelsuga lmk what you think of this email (for people to check their spam and resubscribe on the new email platform): https://docs.google.com/document/d/1Ki5ysVeSMA0WmonAmU2VYe6unZrS1F7309832mH0_9c/edit#

[2022-06-10 16:22] danelsuga commented on #708
I dig it.

[2022-06-10 16:33] NikolaCreatrix commented on #713
[https://docs.google.com/document/d/1EjH2j3HQqDbkqGUK_LOmEF661ebD8Tq_Hkh9d_uQ-yA/edit?usp=sharing](url)

@laurenluz cc: @WhyldWanderer

Draft for Mon/Tue Verified projects tweet

[2022-06-10 16:39] rainerhoell commented on #703
@WhyldWanderer Thanks, I looked through the typeform. Looks great!
Three ideas:
* After the last questions we could add a checkbox: "Are you affiliated with the projects? (Not a problem, just helpful for our followup.)"
* After that another one: "Do you own GIV tokens?"
* A message at the end could say: "Thank you very much for your nomination! Please note: If you hold GIV tokens, you can vote to

[2022-06-10 16:43] rainerhoell commented on #696
This is now schedules for June 28th at 4pm CET.
Closing issue....

[2022-06-10 16:43] #696 closed

[2022-06-10 17:02] clara-zi commented on #622
@danelsuga had you originally planned to reach out through email when message was drafted?

[2022-06-10 17:23] NikolaCreatrix commented on #622
Hi there! Can I help with this? I know you @danelsuga were going to have sync up call with @clara-zi about this outreach...Did it happen already? Wanna help you do this! ;)

[2022-06-10 17:37] danelsuga commented on #622
For sure @NikolaCreatrix ! Thank you!

[2022-06-10 17:47] danelsuga commented on #622
Groovy! Thanks so much for chiming in @laurenluz ! 😍

Full speed ahead @clara-zi ! 🤩

[2022-06-10 17:54] NikolaCreatrix commented on #622
Okay cool, since there are more of us interacting with the spreadsheet, I'm going to pick a section, use some color, and comment on each one in the section 'message sent'.

Do we want to have more tracking around which ones actually responded and what was the outcome? ;)

[2022-06-10 18:01] NikolaCreatrix commented on #622
I can see that some of those projects will already be on the platform, just in case nobody noticed, so it might be useful to check giveth.io/projects as part of the process before reaching out.

[2022-06-10 18:03] danelsuga commented on #622
Thanks @NikolaCreatrix !

I just made an “outreach” column at the beginning for indicating the particular project’s status.

[2022-06-10 20:28] clara-zi commented on #622
I started on the wrong sheet - I'm on the 'extract' tab where there are 999 projects - is there anything wrong with doing this sheet or should I just plough on...

[2022-06-10 21:10] danelsuga commented on #622
Ah, the trick with the extracted sheet is that it hasn’t been “vetted”. In other words, that’s ALL projects and not just public goods, meatspace projects. So just don’t do the crypto-y ones once you get to looking them up.

[2022-06-10 22:13] ahmadabugosh commented on #703
<img width="1089" alt="Screen Shot 2022-06-11 at 2 10 40 AM" src="https://user-images.githubusercontent.com/4855928/173157232-bcab750b-2a23-434c-9a76-55850615d118.png">

Minor thing, but I think we should add some text on the title screen (now it's blank). Maybe something like

**Nominate a Project to List on Giveth!**
Doing so will add this project to our Token Log Page (_add the link once it's r

[2022-06-10 22:48] Cotabe commented on #622
Also something to consider is that DMs in Twitter as closed by default. What I did for the projects on Commons Stacks was:

1. Checking their twitter, like and retweet what I liked.
2. Find a twit that I felt like making a comment. Make the comment and slide something like "I'm a DAO member @ [@Givethio](https://twitter.com/Givethio). If you're looking into fundraising, I'd love to help 🤩"

Or sen

[2022-06-12 02:46] ahmadabugosh opened #718 "Clean donor course quiz submissions to send POAP"
Cleaning out the list of 11,000 + people that filled the donor course quiz, to figure out which are spam and which are real

[2022-06-12 02:46] ahmadabugosh commented on #718
I'm working with missgene on this (I don't see her on github)

[2022-06-12 21:10] ahmadabugosh commented on #658
Closing this issue, created [another issue](https://github.com/Giveth/giveth-planning/issues/718) to deal with spam

[2022-06-12 21:10] #658 closed

[2022-06-13 08:26] danelsuga commented on #686
So far I haven't been able to connect previous donors. @WhyldWanderer  proposes that it's not possible during the grant rounds. Would you know @Danibelle how to contact previous donors on the Gitcoin platform? Seems there should be a DM feature? I can't find it. Any further support on this @divine-comedian ? Thanks, gang.

[2022-06-13 08:27] #688 closed

[2022-06-13 13:09] clara-zi commented on #622
Thanks @Cotabe - I like this suggestion and it's similar to strategy I've used in LinkedIn before and generally got better results than cold messaging.
@danelsuga @laurenluz @NikolaCreatrix @ahmadabugosh is it ok to go ahead with this style of outreach?

[2022-06-13 16:04] missgene commented on #718
Hi @ahmadabugosh! I just requested a new access to the spreadsheet responses. Can you please grant me access? Thank you!

[2022-06-13 16:42] ahmadabugosh commented on #718
@missgene done!

[2022-06-13 17:28] clara-zi commented on #668
@melodysongq here is a quick copy and paste....

"Hey  {{ person.firstname | default: 'there' }},

This is [Name] from Giveth, I am excited to see that your project is doing so great and your efforts are paying off!

We would love to know more about your story and share it. It would be amazing if you could share with us a short video saying in a nutshell:

- What's your project about?
- How Giveth

[2022-06-13 17:30] clara-zi commented on #668
@Cotabe @melodysongq @ahmadabugosh shall we aim to get this sent before the end of the week? Have we reached a consensus around the mail wording/style? Thanks

[2022-06-13 18:42] laurenluz commented on #710
Hey @clara-zi! I just had a call w/ @c0ric0ri and we discussed activating our facebook a bit more. The ideas:
- Tailor facebook to the 101 level nonprofit audience
- Cori to make some suggestions to "about us" and banner & create some regular content
- Would love support from Claire to get this content & our page in front of more key audiences throughout facebook

I would love it if the two of you

[2022-06-13 18:48] #700 closed

[2022-06-13 18:50] laurenluz opened #719 "Metafest Giveth presentation 20-30 minutes"

[2022-06-13 18:51] clara-zi opened #720 "Community Building Planning & Strategy"
Identify gaps in community building activites, prioritise tasks, build strategy, formulate processes and activities with schedule (#534 #700)

docs and resources
https://www.notion.so/giveth/Giveth-Community-Building-45fcf05c12b3499ea4fb1c9def2e85af

[2022-06-13 18:52] laurenluz opened #721 "Blog: What is wrong with the current fundraising model? Why distrupt the nonprofit sector?"

[2022-06-13 18:56] laurenluz opened #722 "Project Owners 101 Course"
It would be great to adapt the donors 101 course and offer something to projects.

For starters, some videos we'd need:
- why raise funds in crytpo? where is this going?
- how to create a project
- how to get verified
- what GIVbacks means for your donors
- how to market your project, ways we can support you

Playlist Link: https://www.youtube.com/playlist?list=PL4Artm1rmCWFi-qEkOtjl9nL4tojSIIKm

[2022-06-13 19:04] ahmadabugosh commented on #710
I would also suggest posting on groups as well (since groups are more active on facebook), which I think could work if we do it in a non-spammy way (providing value to them). For example, we can start with 1) Charity / Donations groups (effective altruism etc) or 2) Location specific grassroots groups (on the ground causes, volunteer groups), and start engaging with them (either getting them to li

[2022-06-13 19:09] ahmadabugosh commented on #722
Hey @laurenluz we already have an outline here on the "Project Focused" tab (I added all the points you listed): https://docs.google.com/spreadsheets/d/11dtAphLdvv56b4Ko-_PdfcPa9_HGtC8fblJov3Bx1qM/edit#gid=0

What I suggest is for us to agree on the videos (we can discuss it in tomorrow's call), and then I can post them as an epic (like what we did for the donor course) and get started this week!

[2022-06-13 19:27] clara-zi commented on #720
Community Building Activities Giveth Gap Analysis:
https://docs.google.com/spreadsheets/d/1JZvVn7zCY3E-d0lHGX_Dbt_oO05ed3moz6Lr5GpWrg0/edit#gid=0

[2022-06-13 19:29] divine-comedian commented on #686
This is it here, no?
![image](https://user-images.githubusercontent.com/67759413/173429874-3015d326-c282-481e-8e0b-861a359345cc.png)
https://gitcoin.co/grants/795/givethio-panvala-league

click the check box next to `Email grant funders` to send an email to previous gitcoin donors to Giveth.

[2022-06-13 19:34] ahmadabugosh opened #723 "Newsletter June 2022"

[2022-06-13 19:36] clara-zi commented on #720
https://whimsical.com/our-people-KsUEK2u8PXLH8kGLUDsecp
This document now breaks our members into 5 groups in line  with Comms segmentation.
It is my goal to use these two documents to help understand how we prioritise, conduct community activities, allocate resources to specific community building activities.
It will be really great to identify/create more community-led activities.

[2022-06-13 19:37] ahmadabugosh commented on #723
@laurenluz added this issue to dump anything that comes up for june

[2022-06-13 19:52] ahmadabugosh commented on #708
Sent!

[2022-06-13 19:52] #708 closed

[2022-06-13 19:53] clara-zi commented on #720
Orbit app @WhyldWanderer: looks like we need to update our member list for each platform in Orbit?
1) Who set-up Orbit data?
2) Do you know if it was set-up using .csv file uploads with member ids. Was it automated with an API?
3) Do we have any Orbit experts in the team?

[2022-06-13 20:14] danelsuga commented on #686
Nice! Thanks! I'll check it out!

[2022-06-13 20:24] c0ric0ri commented on #710
100% @ahmadabugosh this needs to happen as part of our outreach strategy as soon as we have our page updates, thanks for outlining

[2022-06-13 20:31] laurenluz commented on #722
oh nice!! sounda great

[2022-06-13 20:37] laurenluz commented on #622
sounds great! Thanks everyone

[2022-06-13 20:44] laurenluz commented on #668
@clara-zi seeing this come up in my inbox. looks pretty good to me! some small suggestions to the bottom to shorten/simplify:

Also in the future, it's create to share content like this that asks for comments in the text via an "anyone can comment" google doc... That way people can leave comments and suggestions there directly.

[2022-06-13 20:46] laurenluz commented on #723
Great! Thanks Ahmad! I will add to it as we go. For now we should definitely include:

- hitchhiker's guide blog post
- CULT / ETH regenfarm

[2022-06-13 20:46] laurenluz commented on #708
I saw it! super cute

[2022-06-13 20:58] laurenluz commented on #713
Hey @NikolaCreatrix! Looks good!! Just a few suggestions:
- Can you add some tweet-appropriate emojis to the start of each project tweet?
- Replace all "and"s with "&"s
- No hastags, because twitter algorithm doesn't like them
- Find the official twitter page for each of the orgs, and include it in the tweet. For example "@artxvnft" is one
- No titles/bold text on tweets :) you can just start the

[2022-06-13 21:13] laurenluz commented on #509
left some suggestions :)

maybe @WhyldWanderer could take a look to review too

[2022-06-14 09:06] clara-zi commented on #710
I totally agree @ahmadabugosh - I have done this kind of outreach before for our charity and it has been successful with carefully curated content.

We could even consider a FB group for beginner level crypto philanthropy at some point in the future: could be good for engagement, generating curiosity and 101-level education, promoting awareness and funnelling interested members to our Discord.

I

[2022-06-14 09:12] clara-zi commented on #697
@WhyldWanderer @Cotabe shall we add this to the current discord or add to new version?

[2022-06-14 09:13] #666 closed

[2022-06-14 09:25] clara-zi commented on #641
@Cotabe @WhyldWanderer @melodysongq we should discuss this in the context of what can be achieved in the Weds AMA session.

I wonder if we should consider making this call a little earlier, so that it's accessible to people who aren't in the Americas, Africa or Europe?

[2022-06-14 09:47] danelsuga commented on #686
done.

[2022-06-14 09:47] #686 closed

[2022-06-14 09:49] danelsuga commented on #707
Reading up to start on this.

[2022-06-14 12:03] WhyldWanderer commented on #720
These are all very good questions @clara-zi.
Ezetec (@EventHunter)  set it up... I just assumed it updated automatically but I also noticed that things werent looking quite right and I manually updated the Discord stuff.

I will see what I can find out because I agree that it isn't as helpful if its not staying updated.

[2022-06-14 13:53] clara-zi commented on #720
Can you make me a workspace 'owner' or 'editor' please?

[2022-06-14 14:43] ahmadabugosh opened #724 "Create Personas for Donors"

[2022-06-14 14:43] ahmadabugosh opened #725 "Create Form to get feedback from donor personas"

[2022-06-14 14:45] ahmadabugosh opened #726 "Come up with strategy for donor reach out"

[2022-06-14 16:05] WhyldWanderer opened #727 "Add AMA invitation to emails"
- [ ] Project verification (approved) email

- [ ] Project verification (rejected) email

- [ ] Project created email

Include
 - link to Discord
 - link to Calendar invite

 **Please leave screenshots or draft here for review before publishing**

[2022-06-14 16:12] c0ric0ri commented on #710
Yes let's do it @clara-zi !

[2022-06-14 16:14] c0ric0ri commented on #655
Making final changes on this, planning to finish before end of the week!

[2022-06-14 16:15] c0ric0ri commented on #676
Haven't gotten to this yet but it's on my radar to start tackling this week!

[2022-06-14 16:18] c0ric0ri commented on #704
@laurenluz and I had a call with Gnosis last week, and a follow up call was scheduled - right @laurenluz?

[2022-06-14 16:18] laurenluz commented on #698
@danelsuga if you could continue this on and do a nice audit of the website to see if we're hitting our different audiences well

[2022-06-14 16:28] danelsuga commented on #722
@danelsuga tagging myself to stay in the loop!

[2022-06-14 16:51] laurenluz commented on #703
@melodysongq @rainerhoell @clara-zi would great to have you review this~

[2022-06-14 18:08] ahmadabugosh commented on #655
@laurenluz @c0ric0ri  should I make an audiogram similar to this one? https://twitter.com/Givethio/status/1493242526202884096 (if yes, just let me know what timestamps to take)

[2022-06-14 21:21] NikolaCreatrix commented on #713
@laurenluz how about this? :) Thanks for great feedback.

🎉In GIVbacks round 13 we verified 4 stunning projects raising funds to change the world!🌎

💝 Give to verified projects & get GIVbacks!

✨ Are you ready to see the stars of the last round?
 🔍 Let’s shine some light on them!

1/

🕹️ [@play4changedao](https://twitter.com/play4changedao?s=20&t=uN5cSmZxvIvBVnRrCjiTjg)’s purpose is to genere fina

[2022-06-14 21:38] laurenluz commented on #655
Hey @c0ric0ri, I just spent the time to get into this closely. I left a lot of comments and kind of hacked it up a bit. It's a great start, but I think there are some pieces of the story missing and some inaccuracies in the roadmap. Let's talk about this on Thursday in our call - it's a tough one!

But in the meantime, would be great if you could go through the comments, and feel free to make any

[2022-06-14 22:16] laurenluz commented on #704
not scheduled yet! I'll ping Christina to schedule something :)

[2022-06-15 01:27] laurenluz commented on #703
@WhyldWanderer can we update this title page to give more context?

Something like:

**Nominate a Project & We'll help them get on Giveth!**
Want to donate to a project that's not Giveth? We want to help them onboard!
1. Nominate your favourite projects via this form.
2. GIV holders will be able to vote on their top choices via Tokenlog(link).
3. Our team will reach out to and support the communit

[2022-06-15 03:01] Cotabe commented on #668
Scheduled

[2022-06-15 07:11] clara-zi commented on #668
Nice one folks, what a fabulous surprise to wake up to a response to our outreach for success story videos.
However, responder has asked for an interview (through 'projects' email).

[2022-06-15 08:27] melodysongq commented on #703
@laurenluz I think this is a great scalable solution.  However, originally I was thinking of a less formal approach like a Discord channel where people can suggest projects and start open dialogues more casually.  It worked really well in PopcornDAO, where you can also observe people's conversation about their motivation to give and why they like to give for the project they suggested.   At the sa

[2022-06-15 08:29] melodysongq commented on #703
Anther thought is that if a community member suggest a project that really fit the criteria for being an excellent project on Giveth,  should we just reach out?  Does it need a top vote?  In other words, are we gathering data on projects ideas not from a governance point of view here?   I am interested to hear what you think @rainerhoell and @clara-zi

[2022-06-15 09:11] SnakeGH commented on #623
@melodysongq  has shown some amazing initiative and drafted up a Giveth Donor Survey template that I will be adding thoughts to today. We would really like others input in the coming week as well. Thanks!

Please visit the link below....https://docs.google.com/document/d/1tJeL9XTnmh11Mb4Qc-5VSB3rY8ymlgbBjZ-8Jb48mUU/edit

[2022-06-15 20:04] ahmadabugosh commented on #583
hey @freshelle one piece of feedback I have on this is when you choose to not be anonymous by mentioning your name, it's not clear if you're not anonymous to the buddy or just the contributor.

I would suggest we add an option that lets people choose to let themselves be known to the buddy but not the contributor (since sometimes I might want the buddy to know the feedback is coming from me for th

[2022-06-15 22:34] Cotabe commented on #727
What about adding this text at the end of the emails.

"Do you have questions or comments? Go to the [Project Onboarding Channel of our Discord ](https://discord.com/channels/679428761438912522/808032358933856306)to find the answers or join the Giveth Community AMA & Orientation session on Wednesday's 2pm CST you can find the event in your local time in [our calendar.](https://discord.com/channels

[2022-06-15 22:37] Cotabe commented on #727
Do you have questions or comments? Go to the [Project Onboarding Channel of our Discord ](https://discord.com/channels/679428761438912522/808032358933856306)to find the answers or join the Giveth Community AMA & Orientation session on Wednesday's 2pm CST you can find the event in your local time in [our calendar.](https://discord.com/channels/679428761438912522/979783352783609866)

[2022-06-16 00:55] #668 closed

[2022-06-16 01:09] Cotabe commented on #641
We are adding an invitation to the AMA/orientation session on the emails that sent after the creation of a project, verification accepted and verification rejected. With the intention that more projects get more engaged and maybe help them develop fundraising skills. Idea of @Nikola.

I think the connect WG has rightfully spotted that most projects are raising very little. IMO is a priority to sup

[2022-06-16 11:44] scottbenjd commented on #446
Do you have a link to the week 12 POAP? @rodricastillo9013
I see it on the figma board but need the png. Looks great btw!

[2022-06-16 12:19] rodricastillo9013 commented on #446
![Captura de Pantalla 2022-06-16 a la(s) 14 19 33](https://user-images.githubusercontent.com/61791380/174068172-6503f160-3b86-4b4c-8643-cf6a79a3fed3.png)

[2022-06-16 13:16] scottbenjd commented on #446
okay @rodricastillo9013 thanks! I'm personally a fan of v3 but I'll let other weigh in.

[2022-06-16 20:31] Cotabe opened #728 "Builders attraction strategy"
It's proposed to use the VLO framework, which entails different worksheets to choose and hyper-target an audience, discover their journeys, choose the best one to intervene, meet them where they are, tailor your offering for their needs and help them take the leap.

Worksheets will be stored here:
https://drive.google.com/drive/folders/1UUo3xvpS0-z5l42b5VajoCiFVLyfrrtr?usp=sharing

Progress will b

[2022-06-16 20:32] Cotabe opened #729 "Regen Farms growth strategy"
It's proposed to use the VLO framework, which entails different worksheets to choose and hyper-target an audience, discover their journeys, choose the best one to intervene, meet them where they are, tailor your offering for their needs and help them take the leap.

Worksheets will be stored here:
https://drive.google.com/drive/folders/1rc2iGbmnR9Cn7pOg21RwL_l9VsjxCs_1?usp=sharing

Progress will b

[2022-06-16 20:47] Cotabe opened #730 "Set up DeWork"

[2022-06-20 09:50] clara-zi commented on #703
The new Discord server migration is complete and there is now a channel in the Giver Space where givers/donors can have these kinds of chats. I will start a discussion. There is also a project-activity channel in the Giver Space to help donors stay up-to-date on what their favourite projects are doing.

[2022-06-20 10:52] danelsuga commented on #698
I've submitted several, very small error issues to devs. And I've submitted several UX issues to @SymSL's slideshow, pasted here again: https://docs.google.com/presentation/d/17HYGsHhqi95SQbbh0L1rcdmQ3iKFK9yeXuryL0mwR9s/edit#slide=id.g12eca2b4b5c_0_0

[2022-06-20 12:47] ahmadabugosh opened #731 "Project Owners 101 Video: Intro to Course"

[2022-06-20 12:48] ahmadabugosh opened #732 "Project Owners 101 Video: Why raise funds in crypto & Giveth?"

[2022-06-20 12:49] ahmadabugosh opened #733 "Project Owners 101 Video: Examples of successful projects"

[2022-06-20 12:50] ahmadabugosh opened #734 "Project Owners 101 Video: Walkthrough of setting up a project"

[2022-06-20 12:50] ahmadabugosh opened #735 "Project Owners 101 Video: How to make a project stand out!"

[2022-06-20 12:51] ahmadabugosh opened #736 "Project Owners 101 Video: Perks of getting verified"

[2022-06-20 12:51] ahmadabugosh opened #737 "Project Owners 101 Video: How to get verified"

[2022-06-20 12:51] ahmadabugosh opened #738 "Project Owners 101 Video: Policies"

[2022-06-20 12:52] ahmadabugosh opened #739 "Project Owners 101 Video: Our guide to promoting your project"

[2022-06-20 12:54] ahmadabugosh opened #740 "Project Owners 101 Video: Off-ramping your funds"

[2022-06-20 12:55] ahmadabugosh commented on #484
Closing since we moved it (and will cover in the project 101 course)

[2022-06-20 12:55] #484 closed

[2022-06-20 15:56] c0ric0ri commented on #655
Hey @laurenluz I've updated and cleaned up the tweet for further review per our last call. Just got a bit stuck again on Gurves...

[2022-06-20 17:19] laurenluz commented on #576
@Cotabe were you able to test this?

[2022-06-20 17:21] laurenluz commented on #712
@rodricastillo9013 - we sent this right? :)